[2019-11-07 13:50] jakubcerveny commented on #1027
I agree the user shouldn't have to do this.

I am also not a fan of using volume elements to get values on boundary elements, not to mention boundary edges, that is pretty ugly and slow. What about adding the methods `GridFunction::GetBdrValue` and `GridFunction::GetEdgeValue`, and calling these in case the transformation is for a lower dimensional entity? @v-dobrev?

It would also be ideal if the

[2019-11-07 14:28] tuckerbabcock commented on #1132
Hi @mlstowell,
I had another question related to this I thought you could help with. My goal is to use this divergence free current vector with a nonlinear curl-curl integrator I wrote and Newton's method to solve the nonlinear problem. I tried accomplishing this with `newton_solver.Mult(*current_vec, *A);` where `current_vec` is the divergence free current vector, and `A` is my grid function for

[2019-11-07 14:43] bradfc commented on #1148
A fix and a comment:

After finding an unrelated error in my code, I find that its output now matches that of another code using a fixed rectangular grid (instead of FE) if I assume the following:

- The Laplacian is replaced in FE code by -K (due to integration by parts) with a DiffusionIntegrator.
- There are no other minus signs.

So I'm in agreement with examples 9 and 16, but not example 10,

[2019-11-07 17:43] v-dobrev commented on #1027
There is a PR (#716) that extends `(Vector)GridFunctionCoefficient`s to work with boudary transformations. It also includes methods for evaluating `GridFunction`s on the boundary -- there are a few versions of those, e.g. if the space is DG, you have to go through the volume. I think the edges can be handled in a similar manner.

[2019-11-07 18:31] mlstowell commented on #1132
Hi, @tuckerbabcock ,
I'm not as familiar with our `NonlinearForms` but you raise an excellent question.  The `NewtonSolver` takes a linear algebra based view point so it knows nothing of boundary conditions.  It simply solves a sequence of linearized problems.  Setting essential boundary conditions alters the rhs vector using the boundary values and matrix entries so the rhs vector becomes a funct

[2019-11-07 19:30] dylan-copeland commented on #793
It appears that this is also an issue for BilinearForm and SparseMatrix, as BilinearForm::FormSystemMatrix makes the argument A a reference to mat owned by BilinearForm, which is deleted by the BilinearForm destructor. This also affects BilinearForm::FormLinearSystem.

[2019-11-07 20:20] NoseKnowsAll commented on #793
For what it's worth, this is somewhat of an issue for matrix-free operators as well. In fact, for matrix-free operators, it makes more sense to always keep the underlying BilinearForm and not use the "matrix" in isolation.

Therefore, to be consistent with all use-cases, I now believe that we probably need to modify the language in the description, more than the functionality itself. As long as it

[2019-11-07 20:22] jakubcerveny commented on #1027
#716 looks good except the huge number of versions of GetXXXValues, even just the header file is overwhelming. Do we really need all of those combinations? Something seems wrong. And we would need to add more... (GetEdgeValue)

[2019-11-07 20:24] ben-s-southworth commented on #793
I think there should be a straightforward way to keep the parallel matrix constructed by the bilinear form, even if the bilinear form is deleted or goes out of scope. Because there are plenty of situations where you need the matrix but not the bilinear form. I don't totally understand how Veselin's idea will work, but as long as the HypreParMatrix is/can be still valid after the bilinearform destr

[2019-11-07 20:28] bradfc opened #1151 "Parameter-based FunctionCoefficient"
[related to issue #143]
Attached below is a draft module for using functions with a parameter set as an extension of FunctionCoefficient.  I find that the functions I want to use for FunctionCoefficient typically have run-time parameters that live in a class.  Unfortunately, C++ rules don't allow invoking FunctionCoefficient with a pointer-to-member-function, only a pointer-to-function.  This mean

[2019-11-07 22:14] #1133 closed

[2019-11-08 08:17] AndromathArcanitus opened #1152 "Get nodal value from GridFunction"
Dear MFEM Team,

I was trying to restore nodal values from a gridfunction. As we know, gridfunctions hold the value of coefficients. Suppose I am using Nedelec elements of order 1 to solve a 3D problem and get a gridfunction E. E is a vector whose dimension is exactly the same as E's_space.GetVSize();.

Could you please give me some instructions on how to get nodal values on the mesh? I tried the

[2019-11-08 13:22] bradfc opened #1153 "Seg fault on Assemble() [follow-on to #239]"
I would like to integrate some scalar results over a boundary surface, and have used the codes in issue #599 as a guide.  Those codes work correctly, but in the application I'm developing I get a Seg fault at the Assemble() stage.  I use constant coefficients.  The model has natural boundary conditions.

I've traced the problem to the choice of finite element collection.  The sample code in #599 u

[2019-11-08 18:37] ianabel commented on #1151
I have a PR (#1078)  that allows you to use a std::function to create a FunctionCoefficient, so then you can either use std::bind, or implement operator() in your parameter class, and create a coefficient off of the class object.

If you want to try this out, my fork of mfem (ianabel/mfem) has StdFnCoeffs.cpp/hpp which you could drop in.

[2019-11-08 18:37] delcmo commented on #1118
Still working on it. I was on travel last week and this week. Will get back
to it soon.

Marco

On Sun, Nov 3, 2019 at 5:23 PM Tzanio Kolev <notifications@github.com>
wrote:

--
Marc-Olivier Delchini

[2019-11-08 21:09] rcarson3 commented on #1132
So, if you look at the ```NonlinearForm::Mult``` and ```NonlinearForm::GetGradient``` they enforce the essential boundary conditions that are located at the locations supplied by ```res->SetEssentialTrueDofs(ess_tdof_list);``` .

You can find the specific lines for ```Mult``` here: https://github.com/mfem/mfem/blob/master/fem/nonlinearform.cpp#L221-L230 and then ```GetGradient``` here: https://git

[2019-11-08 21:42] ianabel commented on #1151
So, the following would be a minimal example.

`class PFunction {`
`    int _p;`
`    public:`
`        PFunction( int Parameter ) : _p( Parameter ) {};`
`        void SetParam( int Parameter ) { _p = Parameter };`

`        double operator()( const mfem::Vector & point ) {`
`                  Do Something with the point depending on the parameter`
`        };`

`}`

`PFunction F( 10 ); // Initial

[2019-11-08 22:55] bradfc commented on #1151
Got it - thanks!

[2019-11-09 00:33] v-dobrev commented on #1152
In this method, the `comp` parameter is short for "component" -- the first vector component (x-component) will be `comp = 1`, the second -- `comp = 2`, etc. In particular, this mean that the returned `Vector` will correspond to the one requested component.

Another option is to use the method `GridFunction::ProjectVectorFieldOn`. In this case, before calling the method, you will need to create a l

[2019-11-09 01:59] v-dobrev commented on #1153
In the DG case (i.e. with `L2_FECollection`) you should add the `BoundaryMassIntegrator` with the method `AddBdrFaceIntegrator` instead of `AddBoundaryIntegrator`.

[2019-11-09 03:08] v-dobrev commented on #1132
The `NonlinearForm::Mult` method sets the essential dofs on the output vector to zero, so for the Newton solve `newton_solver.Mult(*current_vec, *A);` you just need to zero-out the essential dofs in the r.h.s. vector, `*current_vec`, e.g. using `Vector::SetSubVector(const Array<int> &dofs, const double value)`. On the other hand, the essential dofs in the input vector of `NonlinearForm::Mult` are

[2019-11-09 03:37] tuckerbabcock commented on #1132
Thanks @mlstowell, @rcarson3, and @v-dobrev. I think that answers my question. I have also found the method `NonlinearForm::SetEssentialBC(const Array<int> &bdr_attr_is_ess, Vector *rhs)`, which I believe performs the equivalent of using `Vector::SetSubVector(const Array<int> &dofs, const double value)` to zero-out the r.h.s. vector, `*current_vec`, and seems to be the most straightforward way to

[2019-11-09 04:11] v-dobrev commented on #1132
Yes, `NonlinearForm::SetEssentialBC` with a given r.h.s. vector should work too.

[2019-11-09 04:38] tuckerbabcock commented on #1132
Thank you for the help.

[2019-11-09 14:40] bradfc commented on #1153
Thanks - that worked!

[2019-11-09 18:58] #1153 closed

[2019-11-09 19:07] tzanio commented on #1151
Thanks for the helpful answer @ianabel!

[2019-11-09 19:07] #1151 closed

[2019-11-11 16:08] ben-s-southworth commented on #1149
Thanks Veselin. So I have what I want working in serial, or if the \sig interface is not aligned with processor boundaries, but I believe the code is not evaluating sig() on element neighbors on different processors. Is there a straightforward way to do this? Below is the snippet of my code where I compare `val`, which I will return from this Eval function, with the neighboring sigma coefficient (

[2019-11-11 18:39] vladotomov commented on #1149
For processor boundaries, I usually use something like this:

            const int ne = pmesh.GetNE();
            int el1_id, el2_id, nbr_id;
           	pmesh->GetFaceElements(fcs[i], &el1_id, &el2_id);
           	if (el2_id < 0)
           	{
              	// This element is in a different mpi task.
              	el2_id = -1 - el2_id + ne;
           	}
           	nbr_id = (el1_id == elem1

[2019-11-13 04:26] v-dobrev commented on #1028
Hi @sshiraiwa,

I think we resolved this issue in PR #1119 (branch `uniform-refinement-element-ordering-dev`) -- at least the test that I used to reproduce your issue works fine there.

[2019-11-13 15:14] ben-s-southworth commented on #1149
How do I evaluate the mesh element on the neighboring processor though? Do I need to reindex something along the lines of what you have? Below I get a seg fault when I try to set an int point in the case of a processor boundary face (FaceIsInterior == False, but RowSize > 0), specifically at the line `eltrans->SetIntPoint(&Geometries.GetCenter(geom));`

[code]

[2019-11-13 18:54] vladotomov commented on #1149
You must check `is_int>1` (a face always has at least one element).
Try calling `GetFaceNbrElementTransformation()` with the id of the neighbor element.

[2019-11-13 19:13] ben-s-southworth commented on #1149
Ah, makes sense on `is_int`. `GetFaceNbrElementTransformation` is protected though and this is outside of the ParMesh class, so I cannot call it?

[2019-11-13 21:39] vladotomov commented on #1149
Right, try calling
`PMesh::GetSharedFaceTransformation(fcs[i], true)`
instead of
`Mesh::GetFaceElementTransformation()`
The shared version should fill the transformation of the processor neighbor in `Elem2`

[2019-11-13 22:17] ben-s-southworth commented on #1149
I had actually tried this because I figured that would be the public equivalent, but get a seg-fault when I call it. I check for `FaceIsInterior()`, because then I can use `GetFaceElementTransformations()` and check if the number of faces is larger than 1. If both of these, I try to call `GetSharedFaceTransformations(fcs[i], true)`, but get seg faults that trace back to
[code]
Code snippet is here

[2019-11-13 22:44] vladotomov commented on #1149
Yes, I'm sorry, the `Shared...` stands for numbering of a different structure. Try
`PMesh::GetFaceNbrElementTransformation()`
You must allocate the second argument before the call.

[2019-11-13 22:48] ben-s-southworth commented on #1149
From previously though, that function was protected and I was unable to call it?

[2019-11-13 23:09] vladotomov commented on #1149
Bummer. That's the function you need.

To make it work and test something, since you know it's a shared face, you can use `ParMesh::GetSharedFace()` to find the corresponding shared face index (you have the local face index in `fcs[i]`), doing an extra loop to find the index. Then you can use the `GetSharedFaceTransformations()`. But I don't see a way to find the local to shared correspondence.

A

[2019-11-13 23:23] ben-s-southworth commented on #1149
Ah, okay. I will make it public in a branch and see how that goes. @v-dobrev @tzanio is there a reason `GetSharedFaceTransformations()` is a protected function/thoughts on making it public?

[2019-11-14 00:29] v-dobrev commented on #1149
`ParMesh::GetSharedFaceTransformations` is already public.

If you meant `ParMesh::GetFaceNbrElementTransformation` -- I don't see an issue with making it public.

[2019-11-14 00:30] ben-s-southworth commented on #1149
Oops, yes `ParMesh::GetSharedFaceTransformations` is giving me seg faults, although I don't know why. Yes, I meant `ParMesh::GetFaceNbrElementTransformation`. Should I make a PR?

[2019-11-14 00:35] v-dobrev commented on #1149
I think you are calling `ParMesh::GetSharedFaceTransformations` with a face-index, however it expects a shared-face-index. This method was meant to be called from a loop over just the shared faces, e.g. as in `ParBilinearForm::AssembleSharedFaces`.

[2019-11-14 09:31] e-aranda commented on #1114
Well, finally I found a way to solve my problem and I would like to share the solution here in case anyone is interested.

I had a `SparseMatrix` built from some computations with a serial mesh. The i,j entry of my matrix is related to the elements i and j of the mesh, and I needed to perform some computations with that matrix in parallel, so I needed to build a `HypreParMatrix` from my `SparseMat

[2019-11-14 09:31] #1114 closed

[2019-11-14 15:37] ben-s-southworth commented on #1149
Ah, that would be the problem. Is it straightforward to use `ParMesh::GetSharedFaceTransformations` from a specific element? In particular, how do I get the shared-face-indices specific to an element? Or, should I just use `ParMesh::GetFaceNbrElementTransformation`?

[2019-11-14 15:47] tzanio commented on #1114
Thank you Ernesto!

[2019-11-14 16:43] e-aranda opened #1155 "Recover GridFunction defined in serial mesh from ParGridFunction defined in a ParMesh"
I read a serial mesh from a file, then build a ParMesh and get a ParGridFunction. Is it possible to get the corresponding GridFunction associated to my serial mesh?

[2019-11-14 16:48] tzanio commented on #1155
To clarify -- you split the serial mesh in several pieces (one per MPI rank) and do not perform parallel refinement?

[2019-11-14 16:58] e-aranda commented on #1155
No, I am not performing refinement. Is that relevant?

El jue., 14 nov. 2019 a las 17:48, Tzanio Kolev (<notifications@github.com>)
escribió:

[2019-11-14 23:34] v-dobrev commented on #1149
If you organize your code to loop over faces and then over shared faces, it will be more convenient to use `ParMesh::GetSharedFaceTransformations` in the second loop. If you loop over elements and inside that loop you loop over the element faces, it is probably easier (and more efficient) to use `ParMesh::GetFaceNbrElementTransformation` when the neighbor element is on a different processor.

[2019-11-14 23:46] v-dobrev commented on #1155
It is possible to convert a serial *global* `GridFunction` to a `ParGridFunction` using the following constructor:
https://github.com/mfem/mfem/blob/c55c80d17b82d80de04b849dd526e17044f8c99a/fem/pgridfunc.hpp#L73-L77

Copying data back, from `ParGridFunction` to a global `GridFunction` is not currently implemented but it should be easy to do that using code similar to the above constructor.

[2019-11-15 15:09] ben-s-southworth commented on #1149
Okay, sounds good. I made `ParMesh::GetFaceNbrElementTransformation` public but am clearly still not using it right because when I call it I get a seg fault. Below is what I am doing. I allocated an IsoparametricTransformation as @vladotomov said. Is the fcs[i] face number that I get from GetElementEdges() the right index or does that need to be modified?

[code]

[2019-11-15 18:33] vladotomov commented on #1149
I think it expects element id, see my first comment in the thread.

[2019-11-15 20:59] ben-s-southworth commented on #1149
Hmm, still getting the same problem using your element id check:

[code]
I also get the same seg fault if I just call with el1id, `dsa_mesh_->GetFaceNbrElementTransformation(el1_id, &eltransiso);`

[2019-11-15 22:05] AndromathArcanitus commented on #1152
Dear MFEM Members,

Thank you for helping me. Now I read the outputs.

[2019-11-15 22:05] #1152 closed

[2019-11-15 22:19] vladotomov commented on #1149
Oh you actually call this without the `ne` offset. It does it inside. So `el2_id = -1 - el2_id`.

[2019-11-15 22:26] ben-s-southworth commented on #1149
Yea, I tried that too and still got the seg fault. I am using the trt_dev branch which is not up to date with master. Could that be the reason?

[2019-11-15 22:29] vladotomov commented on #1149
Have you called `ExchangeFaceNbrData()` for this mesh?

[2019-11-15 22:37] ben-s-southworth commented on #1149
Oops, no I had not called that. Thought it was called elsewhere in the code but apparently not. Think I''m finally good to go, thanks @vladotomov !

[2019-11-15 22:40] #1149 closed

[2019-11-16 00:16] termi-official opened #1157 "Confusion about finite element space DOFs"
Hi folks,

I am not sure about the concepts behind DOFs used in the finite element space class implementations (serial/parallel).

I started [here](https://mfem.org/pri-dual-vec/) and then went into the code. From my understanding there is
1. _NDofs_ := the total number of unique nodes, resulting from the finite element base nodes over all elements of the mesh.
1. _VSize_ := the total number of un

[2019-11-16 19:49] #1125 closed

[2019-11-16 19:53] #1106 closed

[2019-11-16 19:54] tzanio commented on #349
Discussion continued in #1150.

[2019-11-16 19:54] #349 closed

[2019-11-16 19:54] #985 closed

[2019-11-16 19:55] #1020 closed

[2019-11-16 19:55] #1017 closed

[2019-11-16 19:55] tzanio commented on #1067
Discussion continued in#1156.

[2019-11-16 19:55] #1067 closed

[2019-11-16 19:55] #1077 closed

[2019-11-16 19:57] tzanio commented on #1102
Discussion continued in #1142.

[2019-11-16 19:57] #1102 closed

[2019-11-16 19:57] #1091 closed

[2019-11-16 19:58] #939 closed

[2019-11-16 19:59] tzanio commented on #1108
@bradfc -- I'm closing this issue for now, but please feel free to reopen if you have further questions.

[2019-11-16 19:59] #1108 closed

[2019-11-16 20:00] #1060 closed

[2019-11-16 20:26] tzanio commented on #1157
Hi @termi-official, thanks for the good questions.

Starting from the diagram, we distinguish between the _finite element world_ on the left and the _linear algebra world_ on the right. There are two corresponding concepts of degrees of freedom: **all dofs** a.k.a. **dofs** in the finite element world, and **true dofs** a.k.a. **tdofs** in the linear algebra world.

The **tdofs** are the ones that

[2019-11-16 20:33] tzanio commented on #1028
Discussion continued in #1119. @sshiraiwa, thanks for reporting this.

[2019-11-16 20:33] #1028 closed

[2019-11-16 20:35] tzanio commented on #916
@ianabel -- can you check if #1147 with SUNDIALS 5.0 works for you?

[2019-11-16 21:20] vladotomov commented on #1017
See the final comments of issue #1149

[2019-11-16 21:52] tzanio commented on #1148
Hi @bradfc,

To clarify, we replace the strong form of the equation

    -Δu = 1

by the weak variational formulation

    (∇u, ∇v) = (1, v)

which in Example 1 is discretized as

     A x = b

where `A_ij = (∇ϕ_j, ∇ϕ_i)` corresponds to `DiffusionIntegrator(one)` and `b_j = (1, ϕ_j)` corresponds to `DomainLFIntegrator(one)`. In other words, the stiffness matrix `A` corresponds to a discretization

[2019-11-16 21:55] tzanio commented on #1095
Can you create a piecewise-constant grid function with the element number and transfer it to the parallel mesh as discussed here: https://github.com/mfem/mfem/issues/1155#issuecomment-554138100?

[2019-11-16 22:02] tzanio commented on #1103
This error is because the `Add` function for parallel matrices has the following restriction:

[code]

If the two parallel matrices don't match, you may need to explicitly assemble the sum of the integrators as a separate matrix.

Maybe @jakubcerveny, @mlstowell or @jamiebramwell have other suggestions.

Tzanio

[2019-11-16 22:06] tzanio commented on #1124
Thank you, this is an interesting suggestion and we will consider it. General p-refinement is indeed on our roadmap, but not in the immediate future.

I will leave this issue open for a while in case folks have additional comments or suggestions.

Tzanio

[2019-11-16 22:28] bradfc commented on #1148
Hello Tzanio,

Thanks for your note.

I think I understand the strong-weak connection as follows: in physics language, one inserts a complete set of states into the Laplacian operator, then integrates by parts, leaving the weak form - with a minus sign when integrating by parts - and the surface boundary terms.  If the operator in the dynamical equation does not have derivates, then the weak form

[2019-11-16 23:13] termi-official commented on #1157
Hi Tzanio,

thanks for the detailed explanation! That clarified it for me.

[2019-11-16 23:18] tzanio commented on #1148
Correct, or more precisely -- if there is no integration by parts, there is no minus sign. For example the weak form of the problem `u = f` is just `(u, v) = (f, v)` i.e. L2 projection in the finite element space, and the continuous identity operator is discretized as a mass matrix (with no minus sign).

Correct.

They indeed are. The continuous form of `S` is just a Laplacian.

[2019-11-16 23:19] bradfc commented on #1148
That resolves it.  Thanks!

[2019-11-16 23:24] #1148 closed

[2019-11-18 11:25] e-aranda commented on #1155
Ok, I have implemented a method for copying data back in my own `ParGridFunction` class.  In case anyone is interested, here it is

    class MyParGridFunction : public ParGridFunction
	    {
	    public:
	        // MyParGridFunction() : ParGridFunction() {}
	        MyParGridFunction(ParFiniteElementSpace *_f) : ParGridFunction(_f) {}
	        GridFunction *Globalize(Mesh *, const int *);

[2019-11-18 15:55] tzanio commented on #1155
Thank you for sharing this @e-aranda!

[2019-11-18 17:45] ben-s-southworth opened #1158 "Ownership of bilinear forms"
I have a class where I need to reassemble lots of different Bilinear forms for every iteration/time step. Due to memory, I cannot keep the fully assembled Bilinearforms and Hypre matrices, but I do want to keep the underlying integrators. E.g., loop over the following:
[code]
For memory I need to delete the bilinear form when it goes out of scope (or just not use a pointer), but then it deletes al

[2019-11-18 22:08] jandrej commented on #1158
I am aware of this "issue". I added a similar function to self-handle the allocation/deallocation of BilinearForms. It should be merged with a wave of other PRs.

[2019-11-19 00:23] rcarson3 opened #1160 "PA for NonlinearForm and dealing with Essential BCs"
So for my application, we currently make use of a ```ParNonlinearForm``` and and a class derived from the ```NonlinearFormIntegrator``` within a Newton Raphson solver in order to solve our PDEs. In particular, we make use of the ```ParNonlinearForm::Mult``` and ```ParNonlinearForm::GetGradient``` operators to build our RHS vector and `A` matrix. I'm currently working on a PA form of the above, and

[2019-11-19 11:24] #1155 closed

[2019-11-19 17:04] e-aranda opened #1161 "Boundary element information"
For a given boundary element, is it possible to obtain the index of the mesh element which belongs to?

[2019-11-19 22:41] geyan3566 opened #1162 "API for Petsc GMRES linear solver or ILU preconditioner"
Hi,
I'm trying to solve a nonlinear problem with `NewtonSolve`, in which I hope there will be a GMRES linear solver with ILU preconditioner available. I couldn't find such API either in `hypre.hpp` or `petsc.hpp`. Is there any other option except developing, say, a `PetscGMRESSolver` API?

Thanks,
Ge

[2019-11-20 00:11] v-dobrev commented on #1161
You can use `Mesh::GetBdrElementAdjacentElement`.

[2019-11-20 00:33] balborian opened #1163 "CMake template for quickly compiling MFEM applications"
Does anybody know where I can find a CMake template to compile for instance one of the examples independently? Basically, if I had the ex1.cpp in a single directory, have a CMakeLists.txt that asks me for the MFEM_DIR (or something like that), generate a Makefile and compile just ex1. Thanks.

[2019-11-20 00:48] v-dobrev commented on #1162
One option is to use `GMRESSolver` (or `HypreGMRES`) with the preconditioner being either `HypreEuclid` or `HypreParaSails` -- you'll need to use #1137 for now (it will be merged in the master branch soon). Examples 10/10p and 19/19p may be helpful in this regard (setting up a `NewtonSolver`).

It should be possible to do that with PETSc as well -- @stefanozampini or @jandrej can give you more det

[2019-11-20 00:56] v-dobrev commented on #1163
One option is to take a look at the CMake build of GLVis: https://github.com/glvis/glvis.

[2019-11-20 01:10] balborian commented on #1163
Thanks, this is sort of what I needed. I'll leave it here in case anybody needs it. It assumes the file`star.mesh` is in the same folder than the source file `ex1.cpp`

[code]

[2019-11-20 01:11] #1163 closed

[2019-11-20 08:53] #1161 closed

[2019-11-20 19:49] stefanozampini commented on #1160
@rcarson3 You may also want to take a look at how it is done in the PETSc classes. See PetscBCHandler https://github.com/mfem/mfem/blob/master/linalg/petsc.cpp#L2169 and how the essential dof handler is used in the Jacobian setup (GetGradient) https://github.com/mfem/mfem/blob/master/linalg/petsc.cpp#L4085 and  function evaluation https://github.com/mfem/mfem/blob/master/linalg/petsc.cpp#L4148

[2019-11-20 19:51] stefanozampini commented on #1162
If you create a PetscLinearSolver you will get GMRES + ILU (sequential) or GMRES+BJACOBI + ILU on blocks (parallel) by default with PETSc.

[2019-11-20 21:45] rcarson3 commented on #1160
@stefanozampini thanks for pointing those functions out to me, so it looks like PETSc is doing something fairly similar to what the NonlinearForm is doing to apply the essential BCs. The function evaluator or the ```ParNonlinearForm::Mult``` sets the DOF that are essential to 0. Then within the ```NonlinearForm::GetGradient``` function the ```OperatorHandle::EliminateRowsCols``` is also called whi

[2019-11-21 00:19] geyan3566 commented on #1162
Thank you, I'll try that.

[2019-11-21 12:14] stefanozampini commented on #1160
If you use a `PetscNonlinearSolver`, and wrap the Gradient operator you return with a MATSHELL matrix in PETSc (see SetJacobianType below), then PETSc will take care of zeroing out values before and after the Jacobian application, which will be performed through your PA Mult method. Below is a pseudo-code you may want to try. You can send me an email if you want to discuss more in details, or ask

[2019-11-21 17:10] tangqi commented on #1160
Hi @stefanozampini I am also interested in `bchandler`, which appears to be very useful.  If I have multiple unknowns in my Vec x, could I set the essential_dofs for each unknown through `PetscBCHandler::Eval`? Another questions is, if I have a time-independent essential boundary condition, which means I assume my first Vec x satisfies it, is there a simple way to enforce it in the nonlinear solve

[2019-11-21 17:50] rcarson3 commented on #1160
@stefanozampini I'll take a look at closer look at PETSc then as a potential optional dependency for my users. If I run into any issues I might bug @jandrej first, since I can just talk with him in person.

I'm also going to start working on a native MFEM solution for the ```NonlinearForm``` class.

[2019-11-21 18:06] v-dobrev commented on #1160
@jandrej, @pazner, can you comment on the handling of essential b.c. in #1159?

[2019-11-21 18:41] jandrej commented on #1160
For my purpose, there is no need to handle essential bc in the PA. The proper solution for mfem would be to handle it the same way as we do in the `::Mult` for the FA form aka zero out the tdof indices in the resulting vector. This only applies to the MatVec case of course!

[2019-11-21 23:11] v-dobrev commented on #1160
OK, I see. This is something we should work to add either as part of #1159 or in a follow-on PR. I think it will be fairly straightforward and it should not require any interface changes.

[2019-11-22 00:08] tzanio commented on #1066
@jonwong12, what is the status of this?

[2019-11-22 00:18] tzanio commented on #1128
Yes. Define a volume Gmsh mesh and mark the boundary with one attribute, say 1, for the portion you want to integrate and a different attribute, say 2, for the rest of the boundary. Then you can use a [BoundaryLFIntegrator](https://mfem.org/lininteg/) with `PWConstCoefficient` that is 1.0 in attribute 1 and 0.0 in attribute 2 (see e.g. Example 2 for using piecewise-constant coefficients).

Hope th

[2019-11-22 00:42] tzanio commented on #1090
Hi @jjwiman,

I am actually not familiar with these types of boundary conditions -- is the value of `u(p')` known, or is this a "periodic"-type boundary condition? In the first case, this is just a Dirichlet (essential) BC which is imposed in `FormLinearSystem`. In the second case, the condition can be imposed either via the mesh or by variational restriction.

Since the original question was answ

[2019-11-22 00:47] tzanio commented on #1158
Julian, which PR are you referring to above?

[2019-11-22 00:59] jandrej commented on #1158
I kinda slipped this into #1164. See https://github.com/mfem/mfem/pull/1164/files#diff-a5bba7c091679db16533fcd0d321ad6fR535.

[2019-11-22 01:24] tzanio commented on #1158
Okay, lets continue the discussion of this issue in #1164 then.

[2019-11-22 01:51] tzanio commented on #1120
@garobed1 -- were you able to resolve this?

@mlstowell -- is the convergence questions about the curl curl A = rhs problem?

[2019-11-22 14:09] bradfc commented on #1128
That should do it - thanks!

[2019-11-22 15:23] #1128 closed

[2019-11-22 15:47] jonwong12 commented on #1066
I hope to submit a PR within the next week or two.

[2019-11-23 12:23] jjwiman commented on #1090
Thank you @tzanio , you are correct that the initial question appears resolved, so I will close this.

I think the boundary condition may also have been resolved by modifying the face trace integrator to map into the same element but at another vdim index. I'll probably open another question once I have a more complete implementation and some idea of accuracy and performance.

[2019-11-23 12:23] #1090 closed

[2019-11-24 12:13] stefanozampini commented on #1160
@tangqi What do you mean by multiple unknowns? the Eval method is supposed to populate the local part of the true dof vector that corresponds to true essential dofs. See the comment here https://github.com/mfem/mfem/blob/master/linalg/petsc.hpp#L472

The point of having the BCHandler is to forget about BC in residual/jacobian computation. What do you mean by safer? If you have essential BCs, you a

[2019-11-24 15:54] tangqi commented on #1160
Thanks @stefanozampini for explaining. I think I made some mistakes in my current way of forcing the essential boundary condition in my implicit code. I "zero out" those tdof indices in the return vector of `ReducedSystemOperator::Mult`, but I did not impose the essential boundary condition on some components. I will impose my boundary condition explicitly through `bchandler`. Thanks!

Here I  mea

[2019-11-25 16:50] amir90 opened #1170 "How to add boundary vertex to mesh"
Hi,

In example 2 (linear static analysis) the essential boundary conditions are faces of the mesh.

1. I need to run a simple tetrahedral linear static analysis where I need to fix nodes.
However, there is no addbdrVertex to the mesh. I found AdjustVDofs, but I am unsure how to use it, and have not found any examples of it.

2. I also need the forces to act on a few known nodes, How do I select i

[2019-11-25 19:29] jakubcerveny commented on #1170
Hi @amir90, in FEM it's incorrect to prescribe BCs or loads on zero measure sets (single nodes). It may look like it's working but when you refine the mesh, you get a different BC or load. In fact, as you keep refining, your stresses will go to infinity. You should fix (or load) boundary elements, i.e., edges in 2D and faces in 3D.

[2019-11-26 01:16] bradfc opened #1171 "Runtime error with CUDA version of code"
I have my code compiled and running properly with/without openmp.  I have also built a CUDA-enabled version of the MFEM library on an NVIDIA Jetson nano, and successfully run the example codes with the "-d cuda" option.  When I attempt to build and run a CUDA version of my code (I put the source code in the examples folder and build it there), it builds an executable without error messages, but at

[2019-11-26 02:24] v-dobrev commented on #1171
At this time, the only integrators that will benefit from CUDA are the `DiffusionIntegrator` and `MassIntegrator`. Are you using either of those in your code?

In terms of tracking the above issue, this error may appear if you are using block vectors (with CUDA device) in your code. Is that the case?

[2019-11-26 12:42] bradfc commented on #1171
Yes to both.  For the purposes of this thread, my code draws upon Examples 10 and 16: coupled equations with diffusion.

[2019-11-27 03:32] v-dobrev commented on #1171
If some of the integrators you use do not support CUDA, the overall effect of using CUDA may be that your code will run slower because of the memory transfers to/from the GPU. So in your case, it seems like it may be detrimental to the overall performance.

When using block vectors with GPUs, one thing you need to do is to allocate block vectors using the constructor
https://github.com/mfem/mfem/b

[2019-11-27 03:43] bradfc commented on #1171
Per your previous comment, I'm **only** using MassIntegrator and DiffusionIntegrator, so I will look into managing block vectors - unless it's simpler to code the coupled equations explicitly by hand.

In the best of all worlds, I don't have a feel for when a mesh size is large enough that there's a performance benefit using GPUs.  That's partly what I'm trying to learn with this code.

[2019-11-27 16:36] jjwiman opened #1173 "BlockNonlinearForm interior face integrator example?"
I was wondering if any project has an example of implementing an interior face integrator for BlockNonlinearForm. I'm running into a segfault somewhere in GetGradientBlocked prior to the boundary face integrator but after the domain integrator is run. Boundary face integrators run fine (if there is no interior face integrator). The AssembleFaceGrad method on the interior face integrator is never e

[2019-11-28 03:09] bradfc commented on #1171
A followup: I coded the constructor as per the format above - again, built OK, but I got the same error message.

So 2 questions:

1. Can I get this error message due to synchronization issues?
2. Is there an example of code that uses SyncMemory and SyncAliasMemory?

[2019-11-28 12:49] jjwiman commented on #1173
And there's the problem: it needs to check if the FaceTransformation is NULL at
https://github.com/mfem/mfem/blob/b6d50d0b4bb5ea4cd393edf384ef5c291be95cfe/fem/nonlinearform.cpp#L804

[2019-11-29 01:05] bradfc commented on #1171
An addendum: I'm not sure what's different but the program now runs without crashing (I presume thanks to the right constructor) but vectors that start out with zero elements never acquire non-zero values as they should.

To make the question more concrete: where would one insert sync instructions in ex10.cpp under the assumption that the integrators used there did support CUDA?  My code is like e

[2019-11-30 21:16] ianabel commented on #916
Compiles and the KINSolver class works well.

However, there seems to be a bug in the Anderson Acceleration. Don't know if it's in the interface or sundials itself.

I think we should close this bug and if I can produce a nice minimal test case, I'll raise a new bug.

[2019-11-30 22:17] ianabel commented on #916
OK, so it's a quirk of the Anderson Acceleration algorithm itself, and the SUNDIALS implementation is at worst mildly non-robust. :)

I'll bring this up with the KINSol team, and close this.

[2019-11-30 22:17] #916 closed

[2019-12-01 19:03] tzanio commented on #966
ping: @stefanozampini, @v-dobrev

[2019-12-01 19:03] #968 closed

[2019-12-01 19:04] tzanio commented on #970
ping: @acfisher

[2019-12-01 19:06] tzanio commented on #976
See #976 for follow-on VTK high-order mesh reader support.

[2019-12-01 19:06] tzanio commented on #678
See #976 for follow-on VTK high-order mesh reader support.

[2019-12-01 19:07] #976 closed

[2019-12-01 19:08] tzanio commented on #1008
ping: @cyrush

[2019-12-01 19:08] tzanio commented on #1016
ping: @kennyweiss

[2019-12-01 19:09] tzanio commented on #1027
Discussion continued in #716.

[2019-12-01 19:09] #1027 closed

[2019-12-01 19:12] tzanio commented on #1095
@ztdepztdep, were you able to resolve this?

[2019-12-01 19:14] tzanio commented on #1120
We discussed this with @mlstowell and the issue could be the smoothness of A -- its second derivative is discontinuous. Can you try  `A1 = (0 0 y^p), A2 = (0 0 -y^p)` with `p = 3, 4, ...`?

[2019-12-01 19:17] tzanio commented on #1158
Ben, please add further comments in #1164 (and in particular if the proposed solution there works for you).

[2019-12-01 19:17] #1158 closed

[2019-12-01 19:18] tzanio commented on #1162
@geyan3566, I'm closing this now, but feel free to reopen if you have further questions.

[2019-12-01 19:18] #1162 closed

[2019-12-01 20:12] tzanio commented on #1170
To add to @jakubcerveny's answer -- if you really need to, you can use the `EliminateVDofs` method of `BilinearForm` to eliminate a list of Dirichlet degrees of freedom.

See https://github.com/mfem/mfem/blob/18f0cf0873d9f5c941c747e73bbdd951bba7444c/fem/bilinearform.hpp#L478-L487 as well as #35, https://github.com/mfem/mfem/issues/80#issuecomment-274750401 and #737.

[2019-12-02 15:37] Huangzizhou opened #1174 "Is there any multi-step solver available?"
Hi,
I'm trying to find a quadratic time intergrator to replace the "mfem::BackwardEulerSolver", but I cannot find any multi-step ode solver (like high order BDF) here: https://mfem.github.io/doxygen/html/classmfem_1_1ODESolver.html . Could anyone tell me how to apply high order BDF in mfem? Greatly appreciated!

[2019-12-02 16:15] jandrej commented on #1174
The `ODESolver` interface is not suited for higher order BDF methods without modifications. If you don't mind using the PETSc library for time integration you can use `PetscODESolver` or CVODE (variable order, variable step size BDF) through the Sundials interface.

[2019-12-02 21:16] ianabel opened #1175 "MFEM OpenMP Parallelism"
When adding OpenMP parallelism to a part of MFEM (in this case, I want to add it to the HDG stuff), is this designed to be stand-along OpenMP or should MPI+OpenMP also be supported? If MPI + OpenMP is not yet a feature of MFEM, I'ld suggest keeping OpenMP for just single-node operations, and skipping straight to MPI 3 for heterogenous parallelism.

Ideally, I'ld like to have a configuration option

[2019-12-02 21:57] ianabel opened #1176 "Using BLAS in MFEM DenseMatrix / Vector operations"
Is there a reason that MFEM uses LAPACK to accelerate certain operations, but not BLAS?
I guess this could be done function by function as and when we find particularly lethargic ones.
This would also allow us to take advantage of the Intel MKL / AMD math libraries.

As a completely different approach -- how hard would it be to write a wrapper layer and replace mfem::DenseMatrix with Eigen's matri

[2019-12-02 22:12] jandrej commented on #1176
I think @v-dobrev has some graphs that shows a comparison of a few different matrix libraries as backends. I can't find the graphs now, but they show why we don't use a TPL.

[2019-12-02 22:29] ianabel opened #1177 "CMake option to provide linker options?"
I'm not a CMake user myself, so this may be obvious, but it would be great if when using CMake to compile libmfem.a, the build system could be tweaked to provide a list of required link options for the resulting code.

For instance, if you compile mfem with SUNDIALS, but don't call any SUNDIALS-related routines, you still have to link against the sundials libraries at the final step.

Hence, it wo

[2019-12-02 23:26] mlstowell commented on #1174
Another possibility is to use one of our implicit Runge-Kutta integrators like SDIRK23.  These are not BDF methods but they are high order.

[2019-12-02 23:47] mlstowell opened #1178 "ParMesh attributes are not uniform across processors"
We (@psocratis and I) recently ran into trouble with the `Volta` mini app while parsing boundary attributes from the command line.  In parallel each processor only records attributes that occur in its subset of local elements (via the `Mesh::SetAttributes()` method).  Consequently, `ParMesh::attribute.Max()`  and `ParMesh::bdr_attribute.Max()` can return different results on different processors.

[2019-12-03 02:13] kennyweiss commented on #1016
I haven't built MFEM on windows since I created the ticket.

@v-dobrev -- your suggestion makes sense.

Since this does not seem to be affecting anyone else, I'll close the ticket, and reopen in the future, if necessary.

[2019-12-03 02:13] #1016 closed

[2019-12-03 08:05] jakubcerveny commented on #1175
In the code there are remnants of old OpenMP functionality, marked by `MFEM_USE_LEGACY_OPENMP`, but these are due for removal. If I understand it correctly, the new approach is to use OpenMP as one of the "backends" to execute computation kernels (see `OmpWrap`). There will always be MPI, and orthogonally, within a node, you can choose from CUDA, RAJA, OpenMP, etc., even in run-time (see `forall.h

[2019-12-03 08:19] jakubcerveny commented on #1175
In other words, you probably want to use `MFEM_FORALL` in your code and configure the library to use the OpenMP backend.

[2019-12-03 20:23] rcarson3 commented on #1178
It sounds to me @mlstowell, based on your comments, that there should be another function added that finds the global set of attributes and stores those in another class variable rather than changing the ```Mesh::SetAttributes()``` function and attribute variable.

[2019-12-03 20:38] mlstowell commented on #1178
Hi, @rcarson3, that is certainly a possibility and I almost proposed this.  However, I'm wondering if we need the shorter list of locally represented attributes.  They might provide an opportunity for avoiding looping through elements checking their attributes but we don't take advantage of this as far as I know.

[2019-12-03 21:01] rcarson3 commented on #1178
So, I'm not sure about within the MFEM library itself, but I will say that I am working on a parallel reduction class within my app ```ExaConstit``` for some post-processing operations where at least that shorter list is useful during the initial set-up of the class in figuring out which processors are communicating with who for certain operations. Granted, I could also loop through all of the loc

[2019-12-03 21:27] tangqi commented on #792
During the process of examining the PetscBCHandler in https://github.com/mfem/mfem/issues/1160, I realize I made a mistake in my implementation. When computing J=∆u as an auxiliary variable, I used an essential boundary condition to form a system to solve J in all my parallel codes. (Although it works fine for most cases through `FormLinearSystem`, since there is no boundary layers) However, the b

[2019-12-03 23:17] mlstowell commented on #792
Hi, @tangqi ,
The line `K->Mult(psi, zGF)` is not performing any communication it is only multiplying the local portion of `zGF` with `SparseMatrices` containing only element matrices from locally owned elements.  Consequently, `zGF` needs to sum together contributions from different processors before extracting data for `zTmp`.

Technically, `zGF` should not be a `ParGridFunction` since it is a d

[2019-12-03 23:27] tangqi commented on #792
Thanks Mark @mlstowell I just had it fixed by calling the prolongation matrix by myself
[code]
I think I got it right by accident, which is essentially your suggestion. I will use `ParLinearForm` instead.

I thought such an auxiliary variable is common in finite element, I am wondering if I miss some easier way to implement here.

[2019-12-04 00:39] tangqi commented on #792
Your suggestion works fine. Thanks again @mlstowell

[2019-12-04 00:39] #792 closed

[2019-12-04 01:21] v-dobrev commented on #1171
Generally, if all components of the operator are on the GPU then no synchronization is needed -- it is only needed when the data needs to be moved between the CPU and the GPU memory.

One potential issue is the assembly of r.h.s. vectors and the application of essential b.c. -- those are currently done on CPU so synchronization is probably necessary. Typically, if one wants to perform an operation

[2019-12-04 01:54] bradfc commented on #1171
Thanks...to sharpen this, the only place I can see where the block vector in the ex10.cpp sample code is examined separately is in the Mult() and ImplicitSolve() modules, where the components are extracted from block vectors vx and dvx_dt via

   Vector v(vx.GetData() +  0, sc);
   Vector x(vx.GetData() + sc, sc);
   Vector dv_dt(dvx_dt.GetData() +  0, sc);
   Vector dx_dt(dvx_dt.GetData() + sc, s

[2019-12-04 02:07] Huangzizhou commented on #1174
@jandrej @mlstowell Thank you very much! Yes, it seems that the `PetscODESolver` is exactly what I need.

[2019-12-04 03:45] geyan3566 opened #1180 "Newton solver with PetscLinearSolver"
Hi,

I'm trying to solve a nonlinear problem using the `NewtonSolver` with `PetscLinearSolver` as the inside linear solver. The linear solver is Petsc GMRES solver with lu preconditioner given a small problem. But the GMRES doesn't converge in 1 iteration after the first Newton iteration. Does it mean I need to reset the preconditioner for the PetscLinearSolver for every Newton iteration or I did

[2019-12-04 06:13] v-dobrev commented on #1176
Generally speaking, to get real benefit from BLAS/LAPACK one needs to have relatively large matrices. The dense matrices in MFEM that are most important are local (e.g. per mesh element) which are not that large unless one uses high-order basis. One the other hand, when using high-order, matrix-free algorithms are faster than forming the local dense matrices.

What has been of interest to us is th

[2019-12-04 06:25] v-dobrev commented on #1177
MFEM already supports this both when building with CMake and with GNU make.

In the CMake context this is achieved by exporting appropriate `*.cmake` files -- in MFEM they are installed in `lib/cmake/mfem`. These then can be used by the CMake build system of dependent packages, see for example the CMake build system of GLVis: https://github.com/GLVis/glvis/blob/master/CMakeLists.txt.

This was als

[2019-12-04 14:26] Wolbecker1 opened #1181 "Change of element dof numbering possible?"
I have an H1 FiniteElementSpace of arbitrary order. I would like to have the element-wise degrees of freedom numbered in lexicographical order, as in the case of L2 FESpace. Is this possible?

[2019-12-04 14:56] jakubcerveny commented on #1181
I'm afraid not. In an H1 space, the DOFs are first enumerated for vertices, then for edges, then for faces and finally for element interiors.

[2019-12-04 15:20] afernandezody opened #1182 "Compilation of MFEM-4.0 with CUDA support"
Hello,
My question is related to https://github.com/mfem/mfem/issues/1116. I couldn't find specific instructions on how to build CUDA-aware MFEM and the previous post mentions using cmake. My question is simply which is the recommended procedure to compile and build MFEM-4.0 with CUDA support.
Thank you.

[2019-12-04 16:26] bradfc commented on #1171
addendum:

In ex10.cpp (and in my code), the call Mult() or ImplicitSolve() passes a Vector.

- I can invoke a BlockVector constructor with the final result after updating the two sub-blocks, and then apply the sync function.
- I don't know how to use Read() or ReadWrite() to extract a sub-block out of a Vector, since those two functions are member functions of Vector.  In any event I don't see th

[2019-12-04 18:08] ianabel commented on #1177
Fantastic! Let's add this to the 'how to use mfem' docs at somepoint.

[2019-12-04 18:08] #1177 closed

[2019-12-04 21:13] e-aranda opened #1184 "Shared elements in two specific processors"
In a `ParMesh` I need to locate the elements with a face on the shared boundary between processors. I know I can get with `Mesh::GetSharedFace` and `Mesh::GetFaceElements` but `GetSharedFace` provides all faces shared by one processor with all the others. Is there a way to find the shared faces between two specific processors?

[2019-12-04 21:21] tangqi commented on #1160
`PetscBCHandler` interface works well for me. Thanks!

[2019-12-05 00:06] tzanio commented on #1182
From https://github.com/mfem/mfem/blob/master/INSTALL:

[code]

You need to have the CUDA toolkit installed on your machine first.

CUDA-enabled build:

[code]

Example 1 GPU run:

[code]

Optionally you may want to install the OCCA and RAJA libraries that will give you access to additional backends

[code]

[2019-12-05 01:33] v-dobrev commented on #1178
Hi @mlstowell, this looks like a bug somewhere in the code. The intended behavior is for the arrays `Mesh::attributes` and `Mesh::bdr_attributes` to contain lists of all attributes from all processors.

Do you have an example that reproduces this bug? There must be some method in `ParMesh` that breaks this since the `ParMesh` constructor simply copies these arrays from the serial `Mesh`, as seen e

[2019-12-05 03:21] v-dobrev commented on #1180
I'm not 100% sure but it seems like `PetscLinearSolver::SetOperator` does not update the operator of the preconditioner, as is the expected behavior of the `SetOperator` method.

@stefanozampini, is there an easy way to do that at the end of `PetscLinearSolver::SetOperator`?

[2019-12-05 03:42] v-dobrev commented on #1181
At the level of the `FiniteElementSpace`, there is the method `GetElementRestriction` that you can call with `ElementDofOrdering::LEXICOGRAPHIC`. Applying the returned `Operator` to a `GridFunction` will give you an E-vector (i.e. a vector where the degrees of freedom are given element by element) where within each element the dofs are ordered lexicographically.

[2019-12-05 04:26] jandrej commented on #1180
If you don't set the preconditioner explicitly and skip the prefix settings, you can just use `pc_type lu` in your options file. This will set the `PC` of your `KSP` to the desired one and update accordingly.

[2019-12-05 06:35] mlstowell commented on #1178
Hi, @v-dobrev, the error occurs when `Mesh::SetAttributes()` is called because this method creates or recreates the attribute arrays by looping over the local elements.  I believe this method is being called via the `Mesh::Finalize*Mesh()` methods.

You should be able to reproduce it by running the following (with MFEM_DEBUG set to YES in your build):
[code]

[2019-12-05 08:13] v-dobrev commented on #1178
@mlstowell, I think you forgot to paste the command line in your last comment.

[2019-12-05 08:51] mlstowell commented on #1178
@v-dobrev , I used too many back ticks so it was invisible...

[2019-12-05 13:10] stefanozampini commented on #1180
@v-dobrev You are right. I added the current behaviour to `PetscLinearSolver::SetOperator` on a request from @jandrej months ago (before he was at LLNL I thnk). I don't remember what was the specific context though.

By reading the code, it was to preserve any Pmat operator already set (explicitly through the KSP interface? @jandrej). And it's clear then if called at the second Newton iteration, i

[2019-12-05 13:23] stefanozampini commented on #966
It was more of a curiosity than a proper issue. Nevertheless, it would be nice to be able to assemble in AIJ format if no type is specified.

[2019-12-05 13:34] afernandezody commented on #1182
Hi @tzanio. The latest cuda toolkit was installed, I just wanted to know about the flags. Thanks.

[2019-12-05 14:22] geyan3566 commented on #1180
Thanks for all your answers!
@stefanozampini Actually I've written an inexact Newton method with globalization and validation check, so maybe I can use `SetOperator(mfem::Operator &, mfem::Operator &)`  to fix this problem.

[2019-12-05 15:58] jandrej commented on #1180
I'm fine with that. I can't remember why I preferred the other behavior besides manually lagging the preconditioner.

[2019-12-05 20:23] tzanio commented on #1175
As @jakubcerveny said, please use the `MFEM_FORALL` approach which will allow you to use OpenMP and other backends.

[2019-12-05 20:23] #1175 closed

[2019-12-05 20:24] #1174 closed

[2019-12-06 20:27] jamiebramwell commented on #1173
I'm unfortunately not aware of anyone using an interior face integrator in a BlockNonlinearForm. Have you used this @jandrej ? I imagine this is a bug that needs to be fixed.

[2019-12-06 22:52] jandrej commented on #1173
I have never used internal face integrators, so I guess I can't help here.

[2019-12-07 04:23] v-dobrev commented on #1178
It looks like in `volta.cpp` the problem comes from the call: https://github.com/mfem/mfem/blob/b6d50d0b4bb5ea4cd393edf384ef5c291be95cfe/miniapps/electromagnetics/volta.cpp#L222-L223

which calls `Mesh::Finalize()` `->` `Mesh::FinalizeTopology()` `->` `Mesh::SetAttributes()`.

One option is to make the method `SetAttributes()` **virtual** and re-implement it for `ParMesh`. This has the drawback th

[2019-12-07 08:11] jjwiman commented on #1173
I think the serial version is fixed with just the null check added. Unfortunately, I noticed the parallel versions of both nonlinear and blocknonlinear forms are missing parts of the implementation for interior face integrators. So currently I'm trying to implement to implement GetGradient for them.

[2019-12-08 19:21] tzanio commented on #1048
@delcmo, did you get a chance to try #716 as suggested above?

[2019-12-08 19:22] #1103 closed

[2019-12-08 19:22] #1120 closed

[2019-12-08 19:23] #1170 closed

[2019-12-08 19:26] tzanio commented on #1160
@rcarson3, is this resolved?

[2019-12-08 19:36] tzanio commented on #966
Feel free to propose a PR that either fixes a default type or allows us to query that a type has not been set in `FormSystemMatrix`.

Given that there are multiple storage options, the current state of having to call `SetOperatorType` also seem acceptable to me.

[2019-12-08 19:36] #966 closed

[2019-12-08 19:36] #1124 closed

[2019-12-08 19:41] #1095 closed

[2019-12-08 19:48] tzanio commented on #1184
Hi @e-aranda,

This information is relatively "low-level" but is available from the *communication groups* associated with the mesh.

Each group is a set of processors that share geometric entities (vertices, edges, faces) so you want to find the group that contains exactly the two processors you need. Then you can use `GroupTriangle` and `GroupQuadrilateral` to get the faces. The groups themselve

[2019-12-08 21:51] rcarson3 commented on #1160
@tzanio I'd like to see #1159 add in a function to do this as @v-dobrev suggested, but for all intents and purposes we can close this discussion and move the discussion of the addition of such a function over to #1159.

[2019-12-08 21:51] #1160 closed

[2019-12-09 20:22] balborian opened #1187 "Multiple DirichletBC in different marked boundaries"
I am solving a simple Laplace problem with Lagrange elements and my boundary conditions are 10 at boundary region with marker 1 and 100 at boundary region with marker 2. From what I have read, the way to go is to use `BilinearForm::EliminateEssentialBC`. I tried to use it as follows, but it is not working

[code]

Is this approach correct? Thanks.

[2019-12-10 00:07] balborian commented on #1187
Issue #881 seems to respond mine, but it seems very strange to me that the boundary conditions are implicitly imposed through the initial estimation of the solution, instead of some other explicit way.

[2019-12-10 00:15] jandrej commented on #1187
Can you try running
[code]
which changes the attributes appropriately to your description.

[2019-12-10 01:28] termi-official commented on #1157
I got a follow up question about the conforming prolongation operator P.
In the following I will stick to the example 1 (parallel version) in this repository. Basically, I want to update the nodal values after computing the finite element solution, called X as in the code sample. If I understand everything correctly then I obtain the nodal values with the action of P, i.e. x_nodal = P X. After upd

[2019-12-10 05:59] v-dobrev commented on #1187
Here is another way to achieve what you want by modifying Example 1:

Replace section 6:
https://github.com/mfem/mfem/blob/55dbce3d70dd91c04582b41c69221d984ce02cbb/examples/ex1.cpp#L136-L146

with the following code:
[code]
Then replace section 8:
https://github.com/mfem/mfem/blob/55dbce3d70dd91c04582b41c69221d984ce02cbb/examples/ex1.cpp#L156-L160

with the following:
[code]
I tested this with the

[2019-12-10 06:24] v-dobrev commented on #1157
In the last step, instead of `P^T` you should use the restriction matrix `R` returned by `fespace->GetRestrictionMatrix()`.

For non-conforming meshes, the same snippet should still work -- in this case the action of `P` communicates shared master dofs and computes the dependent/slave dofs; the restriction `R` will drop the dependent/slave dofs as well as the shared master dofs that are not owned

[2019-12-10 11:08] e-aranda commented on #1184
Ok, thanks

[2019-12-10 11:08] #1184 closed

[2019-12-10 15:56] tzanio commented on #1180
Discussion continued in #1186.

[2019-12-10 15:56] #1180 closed

[2019-12-10 17:40] termi-official commented on #1157
Well, sorry. I totally missed this one. For completeness [I leave the link here again](https://mfem.org/pri-dual-vec/), where these operators and the corresponding spaces are described, just in case someone else also runs into this problem.

Thanks for pointing this one out!

[2019-12-10 17:40] #1157 closed

[2019-12-10 17:43] tzanio commented on #1157
See also Section 5.2 in https://arxiv.org/pdf/1911.09220.pdf.

[2019-12-10 19:06] bradfc commented on #1171
Another installment...

I've isolated a section of code whereby I create/update a bilinear form [F] (with MassIntegrator) and then compute
F.Mult(A);
where A is a plain vector (a sub-vector of a block).  When I set A = 0 (and verify this by computing A.Norml2() to be zero), the outcome of F.Mult(A) is non-zero.  I don't see how any matrix can multiply a null vector and get a non-zero outcome unles

[2019-12-10 19:50] camierjs commented on #1171
Hi @bradfc, would there be a way for us to take a look at the code?

[2019-12-10 19:59] bradfc commented on #1171
Happy to attach the code.  As noted above, it solves a set of coupled reaction-diffusion equations.  I use ex10.cpp to guide the coupled equations, and ex16.cpp to guide the time-dependent diffusion piece.  The non-CUDA version appears to run OK (results agree with another code that uses a rectangular grid and not finite elements).  I've concentrated on the SetParameters() and Mult() sections of c

[2019-12-11 01:27] tzanio commented on #1118
I believe the question was answered. Since there hasn't been activity on this for a month, I will close this issues. Let us know if you still have questions.

[2019-12-11 01:27] #1118 closed

[2019-12-11 01:35] tzanio commented on #1176
I agree with @v-dobrev. Unless you need large dense matrices, the algorithms in MFEM will not really benefit from such libraries. There is also the issue of GPU support.

[2019-12-11 01:35] #1176 closed

[2019-12-11 02:51] delcmo commented on #1118
I will give it a try most likely next year and will get back to you if I
have any questions.

Marco

On Tue, Dec 10, 2019 at 8:27 PM Tzanio Kolev <notifications@github.com>
wrote:

--
Marc-Olivier Delchini

[2019-12-11 03:01] bradfc commented on #1171
It has occurred to me that a workaround is to invoke one Solver for each of the coupled equations (for my case at hand, 2, though the more interesting case has 4).  Each equation will have a Step() command, whose LHS output would be a temporary vector (so as not to update any RHS quantities until all the Step() functions are executed.  After that the temporary vectors become the 'official' vectors

[2019-12-11 14:33] delcmo commented on #1048
I will give it a try next year most likely and will keep you posted.

Marco

On Sun, Dec 8, 2019 at 2:21 PM Tzanio Kolev <notifications@github.com>
wrote:

--
Marc-Olivier Delchini

[2019-12-11 16:44] bradfc commented on #1171
Sorry for the serial comments...

I just found this in the version 4.0 release notes:

 * Only constant coefficients are currently supported on GPUs.

That's unrelated to block vectors, and I think is fatal to my application, if I understand it correctly.

[2019-12-11 16:47] tzanio commented on #1171
There is a PR addressing more general coefficients that is about to be merged: https://github.com/mfem/mfem/pull/1107

[2019-12-11 18:30] balborian commented on #1187
@v-dobrev 's approach works, whereas @jandrej 's does not. This is what I am doing:

[code]
Not sure if this is correct. In any case, this can be closed.

[2019-12-11 18:30] #1187 closed

[2019-12-13 06:34] Huangzizhou opened #1190 "How to build MFEM with SUNDIALS enabled?"
Hello,
I'm trying to build parallel version of mfem with sundials enabled, but I failed to build examples. Part of the log while building mfem examples is shown below. I'm using Sundials 5.0.0 & hypre 2.18.2 & latest version of mfem.

[code]
Below shows how I built the sundials and mfem.

[code]

[code]

I'm wondering whether the error is because of the version of hypre? Thanks a lot in advance!

[2019-12-13 07:04] v-dobrev commented on #1190
It looks like the `HYPRE_LIB` variable for building MFEM is missing the `-lHYPRE` flag, try e.g. `HYPRE_LIB="-L/home/zizhou/sundials/hypre/src/hypre/lib -lHYPRE"`.

[2019-12-13 11:06] Huangzizhou commented on #1190
@v-dobrev well, nothing changes after I added that flag..

[2019-12-13 21:31] rhebergens opened #1192 "Broken Raviart-Thomas space?"
Hello,

MFEM has the RT_FECollection and can apply hybridization. For the hybridization, you require the broken Raviart-Thomas space. Is there something like a broken RT_FECollection?
I've been searching through the documentation, but was not able to find it. I was hoping to have something like:

`FiniteElementCollection *fec = new BROKEN_RT_FECollection(order-1, dim);`

Thanks,
Sander

[2019-12-13 23:15] v-dobrev commented on #1190
I just noticed -- the same applies to the `SUNDIALS_LIB` option. Here, it should be simpler to set `SUNDIALS_DIR` only and let the build system set the `SUNDIALS_OPT` and `SUNDIALS_LIB` variables. This is done here: https://github.com/mfem/mfem/blob/69b4ed5399545036d0eb3b2b31b4d22ad2136ad7/config/defaults.mk#L184-L192

Actually, it seems that we use `$(SUNDIALS_DIR)/lib64` for the library director

[2019-12-14 00:38] v-dobrev commented on #1192
Hi @rhebergens,

We have the class `Local_FECollection` for this purpose: https://github.com/mfem/mfem/blob/69b4ed5399545036d0eb3b2b31b4d22ad2136ad7/fem/fe_coll.hpp#L864

which can be extended to support RT_FECollection with the proper string for the `fe_name` parameter. Also, it should be relatively simple add a constructor that takes any `FiniteElementCollection` and creates the "broken" version

[2019-12-14 22:18] tzanio commented on #1048
Ok, I'll close this for now. Please reopen if you have questions.

[2019-12-14 22:18] #1048 closed

[2019-12-14 22:21] #1181 closed

[2019-12-15 13:07] Huangzizhou commented on #1190
Do you mean something like this?
[code]
Still I got a lot of errors after `make all -j`, and part of the log is as follows.
[code]

[2019-12-16 06:19] MuhammadAdilUmer commented on #1111
I am trying to build hypre to install MFEM with MPI and facing the following:
muhammad@muhammad-All-Series:/media/muhammad/Data/MFEM$ ls
glvis-3.4      hypre         hypre-2.11.2.tar.gz  mfem-4.0
glvis-3.4.tgz  hypre-2.11.2  metis-5.1.0.tar.gz   mfem-4.0.tgz
muhammad@muhammad-All-Series:/media/muhammad/Data/MFEM$ cd hypre-2.11.2
muhammad@muhammad-All-Series:/media/muhammad/Data/MFEM/hypre-2.11.2$

[2019-12-16 10:21] MuhammadAdilUmer opened #1195 "Installation Isssue"
Hi,
I am trying to build hypre to install MFEM with MPI and facing the following:
[https://mfem.org/building/#parallel-mpi-version-of-mfem](url)

muhammad@muhammad-All-Series:/media/muhammad/Data/MFEM$ ls
glvis-3.4      hypre         hypre-2.11.2.tar.gz  mfem-4.0
glvis-3.4.tgz  hypre-2.11.2  metis-5.1.0.tar.gz   mfem-4.0.tgz
muhammad@muhammad-All-Series:/media/muhammad/Data/MFEM$ cd hypre-2.11.2
m

[2019-12-16 10:22] #1195 closed

[2019-12-16 11:00] MuhammadAdilUmer opened #1196 "Error building parallel examples"
muhammad@muhammad-All-Series:/media/muhammad/Data/MFEM/mfem-4.0/examples$ make -j
mpicxx  -O3 -std=c++11 -I.. -I../../hypre/src/hypre/include -I/media/muhammad/Data/MFEM/metis-5.1.0/include ex1p.cpp -o ex1p -L.. -lmfem -L../../hypre/src/hypre/lib -lHYPRE -L/media/muhammad/Data/MFEM/metis-5.1.0/lib -lmetis -lrt
mpicxx  -O3 -std=c++11 -I.. -I../../hypre/src/hypre/include -I/media/muhammad/Data/MFEM/

[2019-12-16 13:32] tkyhys opened #1197 "Reference on viscosity operator of Laplacian type"
Hi,

I'm trying this library and an example code (ex10.cpp), and have a trivial question. This example adopts the viscosity operator of Laplacian type as a damping term, but I've never seen this type of damping. Is this a general term? Can you please tell me any books on it if you know?

Thanks,

[2019-12-16 18:26] rhebergens commented on #1192
Thanks - that's what I was looking for!

[2019-12-16 18:26] #1192 closed

[2019-12-16 22:47] bradfc opened #1199 "Mixed precision solvers for GPUs?"
It looks like support for GPUs is in a relatively early stage, but I wondered about the prospects for mixed precision solvers with MFEM, as articulated here (note slide 18):

https://www.nvidia.com/content/nvision2008/tech_presentations/NVIDIA_Research_Summit/NVISION08-Mixed_Precision_Methods_on_GPUs.pdf

GPUs can be fast with single precision, and even now half precision, but sometimes much less

[2019-12-16 23:02] tzanio commented on #1196
Can you check if there is `libmetis.a` in `/media/muhammad/Data/MFEM/metis-5.1.0/lib`?

Maybe the metis installation failed?

[2019-12-16 23:07] tzanio commented on #1197
Maybe I am missing your question, but the diffusion/Laplacian operators are pretty typical for modeling physical or artificial viscosity, see e.g. the incompressible Navier Stokes equations or https://computing.llnl.gov/projects/blast/JCP-09.pdf.

[2019-12-16 23:13] tzanio commented on #1199
This is all true, and we are generally interested in exploiting mixed precision when feasible.

One way to do this is via external libraries such as [MAGMA](https://github.com/CEED/libCEED/tree/master/backends/magma), Gingko (#1127), and *hypre*.

At this time we don't have near-term plans for tensor cores support in the MFEM internals, but please stay tuned...

[2019-12-17 00:45] v-dobrev commented on #1190
Can you post the error without the `-j` flag -- with `-j` errors from different commands get mixed and hard to read.

Also, I'm not sure this is an issue but the option
[code]
should be quoted like this:
[code]

[2019-12-17 00:56] v-dobrev commented on #1111
I don't see any errors in the output posted above. It looks like normal output from building hypre.

[2019-12-17 03:01] v-dobrev commented on #1196
I don't know if you already saw this but the build using METIS 5 is slightly different from METIS 4, see https://mfem.org/building/#parallel-build-using-metis-5.

[2019-12-17 03:41] MuhammadAdilUmer commented on #1196
I also build with this [https://mfem.org/building/#parallel-build-using-metis-5](url)

[2019-12-17 03:45] MuhammadAdilUmer commented on #1196
@tzanio Yes there is libmetis.a in /media/muhammad/Data/MFEM/metis-5.1.0/lib.
But I do not know its failed or not.
I build again and share with you my METIS build.

[2019-12-17 03:53] MuhammadAdilUmer commented on #1196
METIS Build:

muhammad@muhammad-All-Series:/media/muhammad/Data/MFEM$ cd metis-5.1.0
muhammad@muhammad-All-Series:/media/muhammad/Data/MFEM/metis-5.1.0$ make config ; make
rm -rf build/Linux-x86_64
mkdir -p build/Linux-x86_64
cd build/Linux-x86_64 && cmake /media/muhammad/Data/MFEM/metis-5.1.0 -DCMAKE_VERBOSE_MAKEFILE=1 -DGKLIB_PATH=/media/muhammad/Data/MFEM/metis-5.1.0/GKlib
-- The C compiler ide

[2019-12-17 03:54] MuhammadAdilUmer commented on #1196
How do I know that libmetis.a is failed or not?

[2019-12-17 04:33] MuhammadAdilUmer commented on #1196
One more thing I am little confused about this directory @MFEM_DIR@
~/mfem-3.0> make parallel -j MFEM_USE_METIS_5=YES METIS_DIR=@MFEM_DIR@/../metis-5.1.0
Is this @MFEM_DIR@ MFEM source directory?

[2019-12-17 04:46] MuhammadAdilUmer commented on #1196
MAKE PARALLEL:
muhammad@muhammad-All-Series:/media/muhammad/Data/MFEM$ cd mfem-4.0
muhammad@muhammad-All-Series:/media/muhammad/Data/MFEM/mfem-4.0$ make parallel -j MFEM_USE_METIS_5=YES METIS_DIR=/media/muhammad/Data/MFEM/../metis-5.1.0
make -f makefile config MFEM_USE_MPI=YES MFEM_DEBUG=NO \
   METIS_DIR=/media/muhammad/Data/MFEM/../metis-5.1.0 MFEM_USE_METIS_5=YES
make[1]: Entering directory '/m

[2019-12-17 05:46] v-dobrev commented on #1197
I'm not sure if this type of viscosity is commonly used in elastodynamics -- it is used in the example for simplicity (it is a constant in time linear term) and by analogy with fluid flow. It guarantees that the total energy of the system (kinetic + elastic) is decreased at a rate of `-(Sv,v)` which is always negative; here `S` is the discretized minus Laplacian (in reference frame) which is an SP

[2019-12-17 07:50] v-dobrev commented on #1196
It turns out the instructions at https://mfem.org/building/#parallel-build-using-metis-5 need to be updated -- there was a change in v3.3 that causes the instructions to fail. The solution is to replace the line:
[code]
with the following:
[code]
Sorry about the confusion.

Also, when you build MFEM, instead of `METIS_DIR=/media/muhammad/Data/MFEM/../metis-5.1.0`, it looks like you need to use `ME

[2019-12-17 07:51] Huangzizhou commented on #1190
It seems that the reason why I failed to build the examples was that I built hypre with `--enable-shared`. According to [https://github.com/LLNL/sundials/issues/4](url), alternatively I can build sundials with `-DBUILD_SHARED_LIBS=OFF`. Now I can run the sundials examples, thanks a lot!

[2019-12-17 10:39] MuhammadAdilUmer commented on #1196
~> cd glvis-3.0
~/glvis-3.0> make clean
~/glvis-3.0> make MFEM_DIR=../mfem-3.0 -j
Is there any change needed in this because it is also giving same type of error as it was giving me in the case of METIS.

muhammad@muhammad-All-Series:/media/muhammad/Data/MFEM$ ls
cd         glvis-3.4.tgz  hypre-2.11.2         metis-5.1.0         mfem-4.0
glvis-3.4  hypre          hypre-2.11.2.tar.gz  metis-5.1.0.t

[2019-12-17 11:58] tkyhys commented on #1197
Sorry not to make it clear enough. As @v-dobrev mentioned I meant to ask that in elastodynamics. I often see Rayleigh or structural damping as the viscosity in the field, but I found this type of viscosity for the first time.

I understood that is to simplify the governing equation and there might be no references on it. Thank you for replying.

[2019-12-17 12:00] #1197 closed

[2019-12-17 14:34] #1190 closed

[2019-12-17 14:43] tzanio commented on #1196
You don't seem to have libpng installed. Either install it or set `GLVIS_USE_LIBPNG` to `NO` in the glvis/Makefile

[2019-12-17 15:54] S-Villar opened #1200 "Noise on Gradient of a GridFunction of H1 fes"
Hello all,
After solving a block system, I have obtained the degrees of freedom associated with two `GridFunction` s `Et` and `En` created on finite element spaces that use the `ND_FECollection` and the `H1_FECollection`, respectively and on a 2D triangular mesh. I have computed the curl of `Et` (ND) and the gradient of `En` (H1), using `GridFunction::GetCurl` and `GridFunction::GetGradient` as:
[

[2019-12-17 19:43] mlstowell commented on #1200
Hello, @S-Villar ,
There are two things that I notice.

First, if the `H1` and `ND` spaces are of the same order then the gradient of `En` will be a higher order polynomial than the curl of `Et` so you might simply be seeing more variation within the elements. For example, if you're using order=1 then the curl of `Et` will be constant within each element whereas the gradient of `En` will vary line

[2019-12-17 21:03] jandrej opened #1201 "FGMRES::SetPrintLevel does not behave like others"
This is just a note for myself to not forget about fixing this.

[2019-12-17 21:56] ataber commented on #900
My team is also in need of some quadrature point indexing scheme, but for a different use. We have a `FunctionCoefficient` that involves looking up pre-computed values at quadrature points. Since the only data we get during the invocation of the `Eval` function is the vector position of the quadrature point, we would have to do some extra geometric lookup to find the corresponding value. It would

[2019-12-19 00:48] tzanio commented on #1173
@v-dobrev and @mlstowell -- can you take a look at this?

[2019-12-19 01:42] tzanio opened #1202 "Fix building instructions on mfem.org/building page"
See https://github.com/mfem/mfem/issues/1196#issuecomment-566425089.

Make sure there are no other issues.

Source here: https://github.com/mfem/web/edit/master/src/building.md

[2019-12-19 21:30] v-dobrev commented on #1196
To be more specific, under ubuntu you need the package `libpng-dev`: https://packages.ubuntu.com/search?keywords=libpng-dev.

[2019-12-19 22:25] v-dobrev commented on #900
One possible solution will be to add a local index into the `IntegrationPoint` class -- it can be set once when constructing `IntegrationRule`s. Then inside your `Eval` method (defining your own class derived from `Coefficient`) you will have the element index from the `ElementTrasnsormation` and the local quadrature point index from the `IntegrationPoint`.

[2019-12-19 23:28] ataber commented on #900
Right - I agree this is the cleanest way forward. Would a PR be welcome to add a local index to `IntegrationPoint`?

[2019-12-20 02:23] #1199 closed

[2019-12-20 02:24] #1171 closed

[2019-12-20 05:38] v-dobrev commented on #900
Yes.

[2019-12-20 05:52] MuhammadAdilUmer commented on #1196
Facing issue to build Glvis:
Glvis failed
muhammad@muhammad-All-Series:/media/muhammad/Data/MFEM$ ls
cd             hypre-2.11.2         metis-5.1.0.tar.gz
glvis-3.4.tgz  hypre-2.11.2.tar.gz  mfem-4.0
hypre          metis-5.1.0          mfem-4.0.tgz
muhammad@muhammad-All-Series:/media/muhammad/Data/MFEM$ tar -zxvf glvis-3.4.tgz
glvis-3.4/
glvis-3.4/CHANGELOG
glvis-3.4/CMakeLists.txt
glvis-3.4/COPY

[2019-12-20 06:20] v-dobrev commented on #1196
This is an issue with v3.4 of GLVis under Ubuntu (see https://github.com/GLVis/glvis/issues/62) -- it is now resolved in the GLVis `master` branch.

[2019-12-20 06:54] MuhammadAdilUmer opened #1205 "Tangential Boundary condition"
Hi,
I want to learn the implementation of tangential boundary condition for electromagnetic problem.
1) Is there any examples or mini-project with implementation of tangential boundary condition?
2) If yes; please suggest me
3) If not; give me some hint how can I implement the tangential boundary condition
4) How can I learn the implementation of functions in the examples because I did not see any

[2019-12-20 08:01] MuhammadAdilUmer commented on #1196
muhammad@muhammad-All-Series:/media/muhammad/Data/MFEM/glvis-3.4$ make MFEM_DIR=/media/muhammad/Data/MFEM/mfem-4.0 -j
cd lib; mpicxx -O3 -std=c++11 -I/media/muhammad/Data/MFEM/mfem-4.0 -I/media/muhammad/Data/MFEM/mfem-4.0/../hypre/src/hypre/include -I/media/muhammad/Data/MFEM/metis-5.1.0/include -DGLVIS_MULTISAMPLE=4 -DGLVIS_MS_LINEWIDTH=1.4 -I/usr/include -DGLVIS_USE_LIBPNG -DGLVIS_USE_FREETYPE -

[2019-12-20 08:02] MuhammadAdilUmer commented on #1196
I install the glvis but when I executed the example. It gives me this error.
glvis comand not found:
muhammad@muhammad-All-Series:/media/muhammad/Data/MFEM/mfem-4.0/examples$ mpirun -np 16 ex1p -m ../data/escher-p3.mesh
Options used:
   --mesh ../data/escher-p3.mesh
   --order 1
   --no-static-condensation
   --no-partial-assembly
   --device cpu
   --visualization
Device configuration: cpu
Number

[2019-12-20 11:11] fanronghong opened #1206 "Segmentation fault for all parallel examples"
Hi all,

I just pull the latest MFEM from github. After I build and compile, I run any of **_parallel examples_** but I got similar errors like below.

Run examples/ex1p:
[code]

Run examples/ex2p:
[code]

Run examples/ex3p:
[code]

I want to know where is wrong and how to fix it. The attached file is MFEMConfig.cmake.
[MFEMConfig.cmake.txt](https://github.com/mfem/mfem/files/3988007/MFEMConfig.cm

[2019-12-20 17:43] jakubcerveny commented on #1206
Do you run with `mpirun`? Did you try to follow https://mfem.org/parallel-tutorial/?

[2019-12-20 18:47] jandrej commented on #1206
This looks like your hypre library was compiled with a different MPI version than MFEM is linked with. Depending on your OS, I assume linux here, can you run `ldd libhypre.so` and `ldd libmfem.so` as well as some of the examples you are trying to run and post the output? You have to change the names and paths to correct one obviously.

I don't see anything wrong with the cmake config.

[2019-12-20 18:52] tzanio commented on #1196
You need to have `glvis` in your PATH. Maybe try
[code]

[2019-12-20 20:37] mlstowell commented on #1205
Hello, @MuhammadAdilUmer ,
I expect you've found our electromagnetic miniapp documentation [here](https://mfem.org/electromagnetics/) .  The `tesla`, `joule`, and `maxwell` miniapps all use H(curl) (also called Nedelec) elements.  When these codes apply Dirichlet boundary conditions to H(curl) fields it is only the tangential part of the field that is constrained.   These codes can be a little dif

[2019-12-21 06:26] fanronghong commented on #1206
Thanks for your reply @jakubcerveny and @jandrej .

@jandrej Yes, I run all examples by **_mpirun -np 4 executable_file_**.
I followed the link to install hypre and metis5 and then I set several environment variables (se
e below).
![Screenshot from 2019-12-21 14-18-22](https://user-images.githubusercontent.com/24132779/71304109-fa856b80-23fc-11ea-9abe-146c643ead4e.png)
Finally, I copy mfem/config/

[2019-12-21 07:27] fanronghong commented on #1206
@jandrej I try to install hypre and mfem for dynamic libraries, but I failed when install mfem.
Below is installing hypre steps:
[code]
Hypre is OK.

Below is installing mfem steps:
[code]
But I got error:
[code]

[2019-12-21 16:59] jandrej commented on #1206
You don't need to install the libraries as shared libraries. I prefer to do that but it is not a requirement. I can't see anything wrong with your way of configuring. You have to look into your compile logs for hypre and mfem then to make sense of what MPI it picks up and links with.

[2019-12-22 21:15] alastora54 commented on #1202
https://www.great-knowledge.com/

[2019-12-22 21:16] alastora54 commented on #1138
https://www.94alastora.com/

[2019-12-23 12:48] fanronghong commented on #1206
Thanks for your help.

Somehow I compile successfully.

[2019-12-23 12:49] #1206 closed

[2019-12-23 13:05] fanronghong opened #1210 "How to compute GridFunction and Coefficient at arbitrary point?"
Hi all,

I want to compute a **GridFunction** and a **Coefficient** at an arbitrary point. I have checked [this](https://github.com/mfem/mfem/issues/957) and [this](https://github.com/mfem/mfem/issues/23#issuecomment-148512864). But my situation is a little different.

For any given edge (3D mesh), I get the midpoint of the edge and I want to compute the values of the given **GridFunction** and **

[2019-12-24 02:51] vladotomov commented on #1210
Hi @fanronghong,

If you know the position of the point you need, you can create an `IntegrationPoint` (by setting the reference space coordinates). Then you can use `GridFunction::GetValue()` to evaluate the `GridFunction` or `ElementTransformation::SetIntPoint()` to call `Coefficient::Eval().` You don't need an `IntegrationRule` to do the evaluation.

[2019-12-25 08:06] fanronghong commented on #1210
Hi @vladotomov ,

Thanks for your reply. I tried your suggestion but something is not right. How do I fix the below MWC.
[code]

[2019-12-26 19:14] vladotomov commented on #1210
I think you must initialize the `ElementTransformation` before using it, see `Mesh::GetElementTransformation()`.

[2019-12-26 19:15] vladotomov commented on #1210
And keep in mind that the coordinates of the `IntegrationPoint` are assumed to be in reference space.

[2019-12-26 19:24] rcarson3 opened #1212 "Potential namespace conflict with a RAJA dependency"
I just noticed while refactoring parts of my app ```ExaConstit``` that a namespace conflict can exist between the ```camp/tuple.hpp``` header file used within ```RAJA``` and the ```mfem/general/hash.hpp``` header file. It appears that both of them declare a ```namespace internal``` within the file.

Now this might be an issue on my end with how some of my header files are either ordered or somethi

[2019-12-26 20:23] tzanio commented on #1212
This should be a nested namespace (inside the `mfem` namespace) so the full name should be `mfem::internal` and in principle there shouldn't be a conflict.

Can you post the error you see with the relevant code?

Do you by any chance have `using namespace mfem;` and `using namespace raja;` in the same file?

[2019-12-26 20:25] #1196 closed

[2019-12-26 20:26] #1200 closed

[2019-12-26 20:27] #1205 closed

[2019-12-26 20:29] tzanio commented on #1066
@jonwong12, can you update us on the status of this issue?

[2019-12-26 20:47] rcarson3 commented on #1212
So, I'm seeing the following error while compiling:

[code]

The new ```mechanics_ecmech.hpp``` file that I've defined which is causing errors:
[code]

```mechanics_integrator.hpp``` file now:

[code]

Old ```mechanics_integrator.hpp``` file that worked:

[code]

Now within ```ExaCMech``` we don't have ```using namespace raja;``` defined anywhere. Although, we are making use of the library within

[2019-12-26 20:49] tzanio commented on #1202
Fixed in https://github.com/mfem/web/commit/116c932d1707caad9409fc3778e762373ab4bb0b

[2019-12-26 20:49] #1202 closed

[2019-12-26 21:05] tzanio commented on #1212
Something is wrong, there shouldn't be a conflict...

Do you know which versions of RAJA and camp are you using?

Can you grep for `using namespace RAJA` and `using namespace camp` in all the headers included by `mechanics_operator.hpp` (including any headers they include)?

[2019-12-26 21:06] mlstowell commented on #1212
It's generally considered bad practice to place `using namespace ...` within header files because it can lead to unexpected name clashes.  It's not obvious that this is the cause of this particular error but it may be best to move this directive into a source file.  In your header files you will then need to specify `mfem::` but in the source files you should be able to use the shorter names.

[2019-12-26 21:09] tzanio commented on #1212
I do agree with Mark on that ^^^

Very likely the issue is that there are two "using" clauses: one in your headers (that you may want to consider removing) and one in RAJA and/or camp which could be a bug

[2019-12-26 21:21] rcarson3 commented on #1212
I wasn't able to find any ```using namespace raja``` or ```using namespace camp``` in either  ```ExaConstit``` or ```ExaCMech``` header files. However, I can definitely remove the ```using namespace mfem;``` from the headers, since it appears to be most likely causing issues with how I've now split up the ```mechanics_integrator.hpp``` header file now.

[2019-12-26 22:03] rcarson3 commented on #1212
@tzanio It looks like removing the ```using namespace mfem;``` and specifying mfem types with ```mfem::``` within those headers worked. I'm no longer receiving those compilation errors. I'm going to go ahead and close this as I believe as @mlstowell  put it I was running into unexpected name clashing.

[2019-12-26 22:03] #1212 closed

[2019-12-27 00:34] fanronghong commented on #1210
Hi @vladotomov ,

Yes, I know that way: find the `Element` which the physical point belongs to, then find the `IntegrationPoint` in reference space corresponding to the physical point, finally use `Eval()` to compute the value.

But here, I don't know which `Element` the physical point belongs to. I don't know the `IntegrationPoint`, and I only know the physical point.

[2019-12-27 01:19] fanronghong commented on #1210
Hi @vladotomov ,

I miss some details in reference links. Now the code works well. I put the complete code here.
[code]

[2019-12-27 01:19] #1210 closed

[2019-12-30 07:57] fanronghong opened #1213 "Show mesh when running program"
Hi all,

I want to visualize the mesh when I run the program. I have below code which can visualize a `Mesh` and a `GridFunction` at the same time. But now I only want to visualize mesh because I have no `GridFunction`. And I don't want to save the mesh and then use `glvis -m mesh_file`, I have several meshes.

[code]

[2019-12-30 16:39] tzanio commented on #1213
Just use `sol_sockL2 << "mesh\n" << *dc.GetMesh() << flush;`

[2019-12-30 19:47] jonwong12 commented on #1066
Working on it this week. Should have it fixed within the next week.

[2019-12-31 02:32] fanronghong commented on #1213
Thanks @tzanio .

It works.

[2019-12-31 02:32] #1213 closed

[2020-01-02 09:15] TangLaoya opened #1214 "Issue in building mfem-hertz-dev on Windows"
Dear all,

I am trying to build mfem-hertz-dev by Windows 7 64bit + VS2013 + Intel MPI 4.1.3.047 + HYPRE 2.11.2. I selected
MFEM_ENABLE_EXAMPLES
MFEM_ENABLE_MINIAPPS
MFEM_USE_MEMALLOC
MFEM_USE_MPI

after generated projects by CMake, the following errors displayed when I build x64 projects by VS2013:
fatal error C1189: #error :  "SEEK_SET is #defined but must not be for the C++ binding of MPI. Incl

[2020-01-02 18:04] tzanio commented on #970
This is being addressed on an ongoing basis, and in particular will be updated with the next release of the [CEED software distribution](https://ceed.exascaleproject.org/ceed-2.0/)

[2020-01-02 18:04] #970 closed

[2020-01-03 05:04] v-dobrev commented on #1214
The issue seems to be with the MPI C++ bindings which are not used by MFEM. You should be able to disable them by defining a macro in your code. For example, for OpenMPI/MPICH you can `#denife` `OMPI_SKIP_MPICXX`/`MPICH_SKIP_MPICXX`. I'm not sure what the macro for Intel MPI is.

[2020-01-03 09:02] TangLaoya commented on #1214
Thanks. I will try it latter.
Another question: after I added HYPRE 2.11.2 into the project, I noticed that the subfolders such as 'parcsr_ls', 'parcsr_mv' are not included in the path so that the header files of HYPRE can't be found. Is this a bug of Cmakelists.txt or FindHYPRE.cmake?

Thanks,
Tang Laoya

[2020-01-03 18:36] tzanio commented on #1178
@mlstowell, any updates on this issue?

[2020-01-03 19:02] mlstowell commented on #1178
No, I haven't had a chance to get back to this.  I do like @v-dobrev 's approach though.

[2020-01-04 00:15] jonwong12 commented on #1066
@v-dobrev @tzanio Did the recent push resolve the duplicate commits?

[2020-01-04 00:21] jonwong12 commented on #1066
Hmm. Even though the parent commit is from master, github says otherwise. You can delete the branch and I can push up the one I rebased off of master again.

[2020-01-04 00:39] tzanio commented on #1066
Done

[2020-01-04 00:39] #1066 closed

[2020-01-04 00:56] v-dobrev commented on #1214
When hypre is built, all necessary headers are copied in one directory, e.g. `hypre/src/hypre/include`. Directories like `parcsr_mv` and `parcsr_ls` (subdirectories of `hypre/src`) are not needed.

[2020-01-04 02:28] tzanio commented on #1066
@jonwong12 your push has overwritten our tags and created parallel history with new commits so I have disabled your write access until we can fix that.

Can you talk to @v-dobrev or me to explain what you are trying to do.

[2020-01-04 03:10] TangLaoya commented on #1214
Thanks. But I didn't find there headers are copied in this folder after I built HYPRE (both 2.11.2 and 2.15.1) by CMake + Visual Studio 2013 in Windows 7 64bit machine. Should I copy these files manually?

Thanks,

Tang Laoya

[2020-01-04 04:36] v-dobrev commented on #1214
I've never build hypre with cmake so I don't know how the cmake build works. Maybe you need to build __and install__ hypre to some directory?

[2020-01-04 04:49] TangLaoya commented on #1214
I added '/DMPI_CXX_SKIP_MPICXX' option in Cmake but the errors are still here.

Thanks,
Tang Laoya

[2020-01-04 20:44] lephlaux opened #1216 "Parallel essential bc for mixed problems (Darcy, Stokes, etc.)"
Dear all:

I recently started exploring MFEM and I am currently stuck on implementing the essential bc for saddles such as the one given in `ex5p.cpp` (Darcy), and I would very much appreciate some help.  Essential bc were discussed in https://github.com/mfem/mfem/issues/80, which was helpful, however, my implementation only works properly in serial.

In order to extend `ex5p.cpp` for essential bc

[2020-01-06 00:02] tzanio commented on #1214
You can ask the hypre team directly about their CMake installation here: https://github.com/hypre-space/hypre

[2020-01-06 00:09] tzanio commented on #1214
According to [FindMPI.cmake](https://github.com/Kitware/CMake/blob/master/Modules/FindMPI.cmake#L1042-L1048) you `MPICH_SKIP_MPICXX` should work with Intel MPI.

It looks also that you can specify `MPI_CXX_SKIP_MPICXX` [directly in CMake](https://cmake.org/cmake/help/v3.10/module/FindMPI.html).

[2020-01-06 00:48] TangLaoya commented on #1214
At last it works after I added 'MPICH_IGNORE_CXX_SEEK' and 'MPICH_SKIP_MPICXX':

# MPI -> hypre; PETSc (optional)
if (MFEM_USE_MPI)
  if(MSVC)
		add_definitions(-DMPICH_IGNORE_CXX_SEEK)
		add_definitions(-DMPICH_SKIP_MPICXX)
  endif(MSVC)
  find_package(MPI REQUIRED)

Thanks,

Tang Laoya

[2020-01-06 01:45] TangLaoya commented on #1214
However, when I built latest version mfem-master from github after the same modification to CMakelists.txt, hundreds of errors displayed, for example:
Error	440	error C2039: 'int64_t' : is not a member of 'std'	X:\mfem\mfem-master\mesh\pmesh.cpp	2501	1	mfem
Error	268	error C2039: 'RefCoord' : is not a member of 'mfem::NCMesh'	x:\mfem\mfem-master\mesh\ncmesh_tables.hpp	91	1	mfem
Error	13	error C206

[2020-01-06 04:47] tzanio commented on #1214
This is a standard type in C++11.

Can you enable C++11 support in your compiler, or if that's not possible, replace it with `int` in `pmesh.cpp` and `ncmesh.hpp`?

[2020-01-06 12:15] TangLaoya commented on #1214
Thanks for your kindly reply. Could you please tell me how to enable C++11 support for VS2013 in Cmakelists.txt, or other configure files?

Thanks,
Tang Laoya

[2020-01-06 13:22] TangLaoya commented on #1214
I noticed that you have enabled C++11 in cmake:
# Require C++11 and disable compiler-specific extensions
set(CMAKE_CXX_STANDARD 11)
set(CMAKE_CXX_STANDARD_REQUIRED ON)
set(CMAKE_CXX_EXTENSIONS OFF)

So it could be the problem that VS2013 doesn't totally support C++11?

On the other hand, after I replaced the 'int64_t' with 'int', the errors except 'int64_t' are still displayed.

Thanks,
Tang Laoya

[2020-01-06 15:58] tzanio commented on #1214
As of version 4.0, mfem requires C++11. Can you attach the log with all the compile errors?

[2020-01-06 17:01] uvilla commented on #1216
Dear @lephlaux,

From the code snapshots you reported, the issue seems to be in the following line of codes:

[code]
and
[code]
`ParBilinearForm::EliminateEssentialBC` and `ParMixedBilinearForm::EliminateTrialDofs` expects as input vectors of `dofs` not of `trueDofs`. That is, the code should read:
[code]
and
[code]

Then you can cast each block of `x` and `rhs` as `ParGridFunction` and use `x.Get

[2020-01-06 18:09] lephlaux commented on #1216
Dear Umberto:

Thank you for your fast response—the assignment of the tdofs _was_ my mistake.  You are also right with MFEM throwing an error when compiled with debug flags, of which I was not aware.  For future readers, compile the library (root directory) via

[code]

Thanks again & best regards.

[2020-01-06 18:09] #1216 closed

[2020-01-06 23:36] TangLaoya commented on #1214
Dear @tzanio ,
Thank you very much for your kindly reply. The log file is attached, please check it.

Thanks,
Tang Laoya
[mfem_build_err_VS2013.log](https://github.com/mfem/mfem/files/4028219/mfem_build_err_VS2013.log)

[2020-01-07 10:01] TangLaoya opened #1220 "Results doesn't converge for the example Hertz"
Dear all,
I tried to modify the example hertz for my project in branch 'mfem-hertz-dev'. The two versions hertz doens't converge and have different behavior, could anyone help me to take a look at it?
I run the example by the following command:
hertz -cr "0 0 -0.2 0 0 0.2 0.2 0.4 1"

Thanks,
Tang Laoya

[electromagnetics.zip](https://github.com/mfem/mfem/files/4030008/electromagnetics.zip)

[2020-01-07 10:52] S-Villar commented on #1200
Thank you @mlstowell. In fact that solved the issue perfectly. I was not choosing the `integrationPoint` and it was taking a random point. Thanks a lot and happy new year :D

[2020-01-07 11:08] LeilaSalomon opened #1221 "Second order mesh"
Hello,

I have a question regarding the order of the mesh and the library MFEM. Can MFEM read a second order mesh (with gmsh for example), with curved elements ?

Cordially,

Leïla

[2020-01-07 20:47] tzanio commented on #1214
Hi @TangLaoya,

I am afraid that the C++11 support in VS13 is [incomplete](https://docs.microsoft.com/en-us/previous-versions/hh567368(v=vs.140)) and these errors are simply C++11 features we use that are not supported.

You can try reverting to an older MFEM release (3.4) or remove the unsupported parts such as the move constructor in `general\mem_manager.hpp`, line 139; the `int64_t` in mesh/ncm

[2020-01-07 22:02] TangLaoya commented on #1214
Thanks. I can use the version mem-hertz-dev.

[2020-01-07 22:03] barker29 commented on #1221
Hi Leïla,

MFEM can read a mesh with curved elements in `.vtk` format - one example is `mfem/data/star-q2.vtk`. I don't know enough about gmsh to answer about that specifically.

[2020-01-07 22:27] #1214 closed

[2020-01-07 22:39] tzanio commented on #1221
Currently we do not support higher-order Gmsh meshes (though we will like to).

To add to @barker29's answer, we do support Quadratic meshes in VTK and CUBIT formats as well as arbitrary order meshes in the MFEM format.

[2020-01-08 14:34] TangLaoya commented on #1220
Another question: how to define mesh elements' regions (when there are different regions in the whole model) and assign conductivity, permittivity, and permeability for different regions?

Thanks,
Tang Laoya

[2020-01-08 15:09] TangLaoya commented on #1220
suppose I have transmit coil with
-cr "0 0 -0.01 0 0 0.01 0.03 0.032 1"
and receive coil with size
"0 0 -0.01 0 0 0.01 0.03 0.032" (similar to transmit coil but no current)
the coils are placed in well with radius 0.1 m and conductivity 1 S/m, outside the well the conductivity of ground is 0.1 S/m, the relative dielectric constants of all regions are set to be 10. The amplitude of current in trans

[2020-01-08 18:20] #1173 closed

[2020-01-08 18:21] tzanio commented on #1178
Discussion continued in #1222

[2020-01-08 18:21] #1178 closed

[2020-01-10 02:01] TangLaoya commented on #1220
Dear @mlstowell,
Do you have any suggestion for my problem?

Thanks,
Tang Laoya

[2020-01-10 08:42] mlstowell commented on #1220
Hello, @TangLaoya ,

This is a difficult operator to solve and we don't have many good options.  This is the primary reason why this miniapp has not made its way into the master branch of MFEM.  The iterative solvers in this miniapp will need a preconditioner to improve convergence and how well this might work depends on the wavelength and the magnitude of the conductivity.  Another option is to u

[2020-01-10 09:53] TangLaoya commented on #1220
Dear Mark,
Thank you very much for your kindly reply, I will try to use the direct solver such as PARDISO or MUMPS. My issue is that why two versions have different behavior, is there any problem in the code when I added circle ring?
For my another question that how to fill the electromagnetic parameters when multiple domains exist, could you please provide a simple example?

Thanks,
Tang Laoya

[2020-01-10 16:27] HennesHajduk opened #1224 "Possible conservation error when using periodic-hexagon.mesh"
In ex9, I've included

[code]

before the time stepping loop, so after time stepping is completed I check the mass error, by
`cout << "Difference in solution mass: " << abs(InitialMass - LumpedMassMat * u) << endl;`

If I run this on periodic-hexagon.mesh, I get a mass error in the order of machine precision for the configuration -p 0 (translation), but if I rotate instead (-p 1) it is about 10^-5

[2020-01-10 18:20] mlstowell commented on #1220
Hi, @TangLaoya ,

A different source should lead to different results.  Specifically, what type of differing behavior are you seeing?

The code is configured to use piecewise constant material parameters where regions of the mesh which have been tagged with different attribute numbers will have different material coefficients.  For example, if your mesh has two regions marked with attributes 1 and

[2020-01-11 01:05] jandrej opened #1226 "How to deal with growing number of specialized kernels?"
Accompanying the discussion in #1167 regarding the templated kernels and instantiation time during compilation, this issue should serve as a discussion platform.

For example in the diffusion kernel for partial assembly (see [here](https://github.com/mfem/mfem/blob/master/fem/bilininteg_diffusion.cpp#L1508)) there are multiple instantiations based on the the element order. This leads to long compi

[2020-01-11 02:30] vladotomov commented on #1224
Hi Hennes,

I think what happens at the end is that the rowsums of the advection matrix approximate
integral [div(v) phi_i]
over the mesh, see the derivation in Section 2.1 of [this paper](https://www.sciencedirect.com/science/article/pii/S0021999116306854?via%3Dihub). The integrals written there are generally not an exact approximation, it's up to the order of the FE. I noticed that under refinem

[2020-01-11 02:43] TangLaoya commented on #1220
Dear Mark,
I have the same setting for two versions. The only difference is that one is hertz.cpp and the other is hertz_ser.cpp. Furthermore, I added the 'current_ring' function in tesla.cpp into hertz.cpp and hertz_ser.cpp to let the model become more close to my project.

I will try to use these options to study how the materials are assigned to elements.

Thanks,
Tang Laoya

[2020-01-11 09:44] HennesHajduk commented on #1224
Hi Vladimir,

Yes it seems that integration is inexact, but I don't quite understand why, I checked the integrals and believe, that the quadrature orders are of high enough to compute both volume and boundary integrals accurately on this mesh as long as the velocity is at most linear. I tried increasing the quadrature order significantly, but that didn't change it. So there has to be some specific

[2020-01-11 19:27] #1221 closed

[2020-01-13 02:10] jwp3 opened #1228 "MFEM-4.0 with CUDA and HYPRE 2.18.2"
Hi MFEM team,

I am attempting to combine MFEM's CUDA capabilities with Hypre's (latest release 2.18.2 has GPU support).  Is this possible?  When running ex1p with multiple MPI processes using the suggested input (i.e., ./ex1p -d cuda -pa), the program crashes.

[2020-01-13 09:12] stefanozampini opened #1230 "Bug in ProjectDiscCoefficient with NCMESH and HDIV/HCURL spaces"
Attached is an MWE that, when run with 4 processes, exercises the bug

![BUG](https://user-images.githubusercontent.com/5121281/72243641-7ee29d00-35fd-11ea-8a1b-8c63b4f7df82.png)

Note that, if I don't call EnsureNCMesh, the output is fine.
[test.cpp.txt](https://github.com/mfem/mfem/files/4052748/test.cpp.txt)
[test.mesh.txt](https://github.com/mfem/mfem/files/4052749/test.mesh.txt)

[2020-01-14 04:53] tzanio commented on #1230
@jakubcerveny, can you take a look at this?

[2020-01-14 05:03] tzanio commented on #1228
We do not have official support for mfem + hypre on the GPU yet, thought this is something we plan to fix in the near future. Please stay tuned...

[2020-01-14 05:05] jwp3 commented on #1228
I'll keep an eye out, thanks!

[2020-01-14 05:05] #1228 closed

[2020-01-14 07:21] jakubcerveny commented on #1230
Sure!

[2020-01-15 21:19] geyan3566 opened #1235 "Arbitrary prolongation matrix"
Hi,

I'm wondering that without constructing a new `FiniteElementSpace`, is there a way to build an arbitrary prolongation matrix independent of the mesh?

Thanks,
Ge

[2020-01-16 23:27] ben-s-southworth opened #1237 "Ownership in ParMult()"
When you construct a HypreParMatrix using ParMult, `HypreParMatrix * mfem::ParMult(const HypreParMatrix *A, const HypreParMatrix *B)` the returned matrix, say C, does not own the col/row starts, so if you delete A or B, you get a seg fault if you try to use C. I think this should be documented and, preferably, at least have an option to make C the owner. This can be done w/ hypre functions. I am l

[2020-01-16 23:32] ben-s-southworth opened #1238 "Seg fault in parallel matrix addition"
In certain cases, I am getting seg faults using any of the matrix addition functions (Add(), ParAdd(), or .Add()). Below is a minimal working example. I think it has to do with multiplying D*D^T, where D is rectangular, to get a smaller square matrix. When I try to add this matrix with a matrix naturally defined on the smaller space, it works for 1 processor, but seg faults for more than one. Uncl

[2020-01-16 23:42] ben-s-southworth commented on #1052
_hypre_ just uses 2-norm of the residual for stopping tolerance.

In PCG, the tolerance is actually squared too in the function. So the check is if `betanom < r0`, where `betanom = Dot(r, z);` with preconditioning, or `betanom = Dot(r, r)` without, and `r0 = std::max(nom*rel_tol*rel_tol, abs_tol*abs_tol);`. So the current stopping tolerance is not squared, it's exactly what the user asks for, it's

[2020-01-17 00:16] nickwhitman1993 opened #1240 "Periodic BC Mesh with Sinusoidal mesh distortion"
Not sure if this has been asked before. If so, please let me know and I can try to go through a previous post.

I am trying to run a pseudo-1D simulation using a periodic mesh, and was wondering if there is any way to distort the mesh sinusoidally (or really otherwise). Really, my main concern is that I can perform a calculation on a mesh with curved surfaces, or rather, distorted. Any thoughts?

[2020-01-17 00:23] jandrej commented on #1240
Does "curved" mean higher order mesh elements? If yes, you can do the following

[code]
This gives you the `GridFunction` that represents the nodes of the mesh. You can then programmatically go through them and "distort" it however you like. E.g. add random perturbations etc.

Does that answer your question?

[2020-01-17 00:54] v-dobrev commented on #1237
You can call `HypreParMatrix::CopyRowStarts()` and (if needed) `HypreParMatrix::CopyColStarts()` for the `C` matrix.

[2020-01-17 01:17] v-dobrev commented on #1240
You can distort the mesh with the `Mesh::Transform` methods. The argument is the mapping from original coordinates to new coordinates, expressed either as a c-function or as a vector coefficient.

[2020-01-17 03:02] v-dobrev commented on #1235
I don't understand your question: what is the prolongation matrix that you want to build? The ones created by MFEM do not make sense without a FE space and a mesh.

I suppose you can build an arbitrary prolongation matrix as a `SparseMatrix` (for example) but then what do you want to do with it with MFEM?

[2020-01-17 15:23] geyan3566 commented on #1235
Sorry for the confusion. I'm using conforming mesh but at the same time, I'd like to project dofs to other locations using the prolongation matrix. So my question is more close to Is there a way to construct the prolongation matrix within the finiteelementspace even with the conforming mesh?

[2020-01-19 04:19] #1220 closed

[2020-01-19 04:26] tzanio commented on #1240
Take a look also at the mesh-explorer miniapp in `miniapps/meshing`. You can use it to curve and distort a mesh among other things.

[2020-01-19 04:26] #1240 closed

[2020-01-19 04:43] tzanio commented on #1235
Can you clarify further: what is the input and output for the action of this prolongation matrix?

We create for example prolongation matrices that map coarse to fine dofs after refinement, or true to all dofs in parallel settings.

[2020-01-19 04:48] tzanio commented on #1237
This is really a property of `hypre_ParMatmul`, but I agree that it should be documented.

Do you want to a create a small PR for that?

[2020-01-19 07:38] mlstowell commented on #1238
Hi, @ben-s-southworth ,

Which version of HYPRE are you using?  The two versions I looked at don't have anything interesting happening at line 70 of `csr_matop.c`.

Best wishes,
Mark

[2020-01-19 14:51] geyan3566 commented on #1235
I want to create the prolongation matrix used in a reduced-order model such that it prolongate the dofs from reduced-order space to the real dofs. So in this situation, can I build a prolongation matrix even with a conforming mesh?

[2020-01-19 15:05] jandrej commented on #1238
The function was introduced by hypre in version 2.18.0.

[2020-01-19 17:18] tzanio commented on #1235
@dylan-copeland may be able to provide more specific advice about reduced-order modeling with MFEM, but in general the answer to your question is that MFEM doesn't provide any direct way to do that.

You can of course always construct a `SparseMatrix` whose columns represent the ROM basis in the finite element space and apply it appropriately.

[2020-01-20 04:31] dylan-copeland commented on #1235
If I understand the question correctly, you would like to construct a subspace of the finite element space, defined as the span of some set of basis vectors in the finite element space. The question is then how to "prolongate" from coefficients in the subspace to a coefficient vector in the full finite element space.

As @tzanio mentioned, in serial the ROM basis vectors would be the columns of a

[2020-01-20 06:55] goxberry commented on #1235
Building upon @dylan-copeland's comment, it depends heavily on the reduced order model you're using.  If you're using Galerkin- or Petrov-Galerkin-based reduced order models, presumably you know not only the restriction operator, via a basis, to construct your reduced order model, but you also know a prolongation operator as well.

My graduate work was in Petrov-Galerkin-based reduced order modeli

[2020-01-20 15:44] geyan3566 commented on #1235
Thanks for all the answers.
The ROM in my work is derived from the Galerkin Difference method, which does not require POD to get the basis, so my current solution is to construct a derived class from `FiniteElementSpace` and build the prolongation matrix there.

[2020-01-20 20:41] themisthemis commented on #1237
Arkadaşlar bi konuda banada yardımcı olurmusunuz güzel insanlar

[2020-01-20 21:01] waltia39 commented on #1238
Security

[2020-01-20 21:01] waltia39 commented on #1238
SECURITY.md

[2020-01-20 23:08] dumbwhore opened #1247 "What up"
2

[2020-01-21 01:24] #1247 closed

[2020-01-21 04:41] tazmanian-hub opened #1248 "Unknown data"
What means this? https://github.com/jstedfast/MailKit/issues/269

[2020-01-21 06:03] #1248 closed

[2020-01-21 07:45] theownerof commented on #793
Yo what the fuck is you guys talking about why the fuck is this on my phone anyway

[2020-01-21 07:45] AlonzoLax opened #1249 "You can call `HypreParMatrix::CopyRowStarts()` and (if needed) `HypreParMatrix::CopyColStarts()` for the `C` matrix."
You can call `HypreParMatrix::CopyRowStarts()` and (if needed) `HypreParMatrix::CopyColStarts()` for the `C` matrix.

_Originally posted by @v-dobrev in https://github.com/mfem/mfem/issues/1237#issuecomment-575416466_

[2020-01-21 07:46] AlonzoLax commented on #1249
Learned about something new after reading this

[2020-01-21 08:58] iranpump commented on #1237
for buying a air compressor silent lets go to
irancompressor.com
برای خرید انواع [پمپ باد](irancompressor.com) میتوانید به بزرگترین مرجع کمپرسور باد با ادرس ایران کمپرسور مراجعه نمایید.

[2020-01-21 15:16] #1249 closed

[2020-01-21 20:45] jandrej opened #1250 "KINSSOL prints on all processors"
Running an example with the KINSOL nonlinear solver in parallel and `SetPrintLevel = 1` results in prints on every processor.
[code]
Can we adapt the behavior to the default MFEM behavior and just print on the root node?

[2020-01-21 21:00] gardner48 commented on #1250
The issue is that `KINSetPrintLevel` is called by all processes in `KINSolver::Mult`. Since KINSOL itself is not aware of MPI the call to `KINSetPrintLevel` should only be done by one MPI process. Moving the `KINSetPrintLevel` inside `if (!Parallel())` and `#Ifdef MFEM_USE_MPI` should fix the problem e.g.,
[code]

[2020-01-21 22:15] jandrej commented on #1250
This sounds like the right solution. Let me propose the PR.

[2020-01-21 22:35] #1250 closed

[2020-01-22 18:17] jandrej commented on #1201
See #1253.

[2020-01-22 18:17] #1201 closed

[2020-01-22 18:59] garobed1 commented on #1120
Hello,

I sincerely apologize for bringing this back up so late after failing to respond to your last suggestion in a timely manner due to other work, but I did eventually try a manufactured solution for p=3. My error norm results don't show a meaningful difference for A; it still fails to converge. B does converge somewhat as expected, though.

A summary of my results:
h = 10, 20, 40 in y-directi

[2020-01-22 21:42] gillette7 opened #1254 "Add convergence rate tests"
There was discussion of adding a convergence rate test as part of the automated testing suite (e.g. compute L2 and H1 error rates for a Poisson problem on a sequence of refined meshes for order r elements and confirm that error decay rates are order r+1 and r).   See files `test/convergence/convergence.cpp` and `test/convergence/makefile` in commit 8d17c9d under #1032, which were developed as a fi

[2020-01-22 21:55] tzanio commented on #1254
In addition to the above files (from #1032), convergence tests have also been implemented in the

- https://github.com/mfem/mfem/compare/tests-convergence-dev branch
- the #1218 pull request

We should compare the three versions and decide how we want to unify them.

[2020-01-23 18:39] adrienbernede opened #1255 "Desired Improvements for Travis and CI testing"
This issue relates to recently merged #1229 ( together with #1219 and #1244 ) and details future work for Travis and CI testing.

- [ ] [Add memchecks and baseline testing for `in review` branches](https://github.com/mfem/mfem/pull/1229#issuecomment-573780500).
- [ ] [Add clang-tidy code analysis](https://github.com/mfem/mfem/pull/1242#pullrequestreview-345482557)
- [ ] Fix `branch-history` sensit

[2020-01-23 18:44] tzanio commented on #1255
Consider also these PRs from the internal `tests` repo:

- [ ] [parallel-unit-test-dev](https://mybitbucket.llnl.gov/projects/MFEM/repos/tests/pull-requests/10/overview)
- [ ] [clang_static_analysis](https://mybitbucket.llnl.gov/projects/MFEM/repos/tests/pull-requests/11/overview)

[2020-01-23 20:20] tuckerbabcock opened #1256 "Programmatically generate periodic mesh"
How do you mark boundaries as periodic with a mesh generated programmatically? Specifically a mesh constructed using:
[code]

Thanks!

[2020-01-23 21:04] ben-s-southworth commented on #1237
Sure, but what are the thoughts on adding a flag or something that allows for a new matrix to be formed using CopyRowStarts and/or CopyColStarts? Could leave the current behavior as default, but allow for a boolean flag to be passed in so that C doesn't depend on A and B.

[2020-01-23 22:35] v-dobrev commented on #1256
Take a look at the 2 miniapps that do this for a 2D mesh: `mobuis-strip.cpp` and `klein-bottle.cpp` in the subdirectory `miniapps/meshing`.

If you just need a cube that is periodic in all 3 directions, you can use the file `data/periodic-cube.mesh`.

[2020-01-23 22:39] v-dobrev commented on #1237
Adding optional argument to `ParMult` sounds fine to me.

[2020-01-24 21:46] tzanio commented on #1255
Additional Travis improvements:
- [ ] Investigate if we can protect repository tags in GitHub
- [ ] Automate the [review workflow](https://github.com/orgs/mfem/teams/reviewers/discussions/3)

[2020-01-24 22:48] tzanio commented on #1255
- [ ] Adjust settings and filtering in the `branch-history` script, see #1262

[2020-01-25 04:29] vladotomov commented on #1224
Hi Hennes,

We looked more closely at this with Veselin. We believe the issue for this particular test (periodic-hexagon with rotation) is that while the mesh is periodic, the rotating velocity field is not consistent with the periodicity of the mesh. In other words, the velocity points at different directions when taken from both sides of a periodic face. This causes a kind of velocity discontinu

[2020-01-25 04:55] v-dobrev commented on #1255
Instead of filtering the modified big files, I think it will be better to compare them to the "merge base" version of the file. If the number of lines added and deleted is under some limit, we can skip reporting the file.

[2020-01-25 16:31] adrienbernede commented on #1255
@v-dobrev
Makes perfect sense to me.

[2020-01-25 23:54] termi-official commented on #1255
Since I had no time yet to respond in one of the linked PRs, my answer here:
Regarding the clang-tidy integration again, utilizing the existing cmake infrastructure it should not be too hard to integrate (see e.g. https://gitlab.kitware.com/cmake/cmake/issues/18926#note_518804). When using makefiles I do not know a simple way to incooperate a static analysis framework like tidy consistently with l

[2020-01-26 01:12] tzanio commented on #1256
I believe @sshiraiwa also has some tools for this in https://github.com/mfem/PyMFEM or https://github.com/piScope/PetraM_Base

[2020-01-26 13:33] stefanozampini commented on #1230
@jakubcerveny Any update on this issue?

[2020-01-26 19:14] mlstowell commented on #1256
We also have code that can do this in the `stix-dev` branch.  Have a look at `IdentifyPeriodicMeshVertices` and `MakePeriodicMesh` in the `miniapps/common/mesh_extras.?pp`.  See `miniapps/plasma/stix2d.cpp` for an example of the use of `MakePeriodicMesh`.  This function takes as an argument an array which maps slave vertices to their master vertices.  The function `IdentifyPeriodicMeshVertices` ca

[2020-01-27 08:40] jakubcerveny commented on #1230
I plan to take a look this week.

[2020-01-27 12:58] HennesHajduk commented on #1224
Thanks, I appreciate you looking into this!

[2020-01-27 12:58] #1224 closed

[2020-01-27 17:16] adrienbernede commented on #1255
@termi-official Thanks for the feedback and the link!

We should have made progress regarding clang-tidy analysis by April, it doesn’t mean we won’t use your thoughts and contribution at that time :)

[2020-01-27 19:40] salazardetroya opened #1264 "Compiling MFEM in parallel fails"
In my macOS 10.14.6, using openMPI 1.8.5 with clang-1001.0.46.4, I build the MFEM in parallel with hypre-2.10.0b and metis 4.0. When linking the examples, I get this error:

[code]

Do I need some external library to habilitate PA? Maybe CEED? The linker is c++, but I enabled MPI, maybe that is the problem? Thanks.

Edit: Adding the symbols output as suggested by Geoff [symbols_output.txt](https:/

[2020-01-27 19:59] tzanio commented on #1264
@jandrej, can you take a look?

[2020-01-27 20:34] goxberry commented on #1264
@salazardetroya It might help to include the output of
[code]
where `${path_to}` is the absolute directory path containing `libmfem.a`. (A suitable relative path would also work.) The output probably won't mean much to me, but might be useful for MFEM developers because it will expose the symbols provided/required by the library.

It would also be worth including any configuration files you needed

[2020-01-27 21:01] psocratis commented on #1254
We could add a simple tool in the library which would take a sequence of numerical and exact solution GridFunctions and output the rate, just for the user to utilize it in an easy fashion. Do you think that would suffice or do we need something more elaborate?

[2020-01-27 22:29] tzanio commented on #1255
- [ ] Test the CMake build system at the same level as the makefile-based  one

[2020-01-28 02:02] #1264 closed

[2020-01-28 10:35] IdoAkkerman commented on #1255
Merging of laplacian_dev is blocked due Travis failing the branch_history check.
The error is:

Running test 'branch-history'... FAILED
=== BEGIN error log from branch-history.err
This branch adds/modifies a large file: mesh/mesh.cpp (size 228K)
This branch adds/modifies a large file: fem/fe.cpp (size 333K)

This seems overzealous.
Increase file_max_size=200 to 500 perhaps?

Line numbers limits mi

[2020-01-28 15:57] adrienbernede commented on #1255
Hello @IdoAkkerman,
I understand your frustration.

It is true that the error does not give enough information here, we will try to do something about it.

It is also true that you may be going through the "learning process": the usage of std::cout is prohibited in MFEM to be compliant with xSDK (see the [developer guidelines](https://github.com/mfem/mfem/blob/master/CONTRIBUTING.md#developer-guid

[2020-01-28 16:37] tuckerbabcock commented on #1132
Hi @v-dobrev,

I'm still struggling to enforce boundary conditions for this nonlinear magnetostatics problem. I've tried all the approaches suggested in the above discussion, but none of them allow me to specify non-zero tangential boundary conditions on the A field. All of the above approaches gave me the exact same answer, with A always tangentially zero even when I used `GridFunction::ProjectBd

[2020-01-28 16:46] tuckerbabcock commented on #1256
Hi all,

Thanks for your help. @mlstowell, both `MakePeriodicMesh` and `IdentifyPeriodicMeshVertices` look like exactly what I'm looking for. Is there a way to specify the wanted periodic dimensions? For example, I'm looking for a mesh that is periodic in `x` and `z`, but not `y`. Will `IdentifyPeriodicMeshVertices` be able to produce the mapping for that, or will I need to do it myself?

Thanks s

[2020-01-28 17:28] adrienbernede commented on #1264
Solved by #1265.

[2020-01-28 18:08] mlstowell commented on #1256
Hi, @tuckerbabcock ,

Yes, `IdentifyPeriodicMeshVertices` takes a `std::vector` of `mfem::Vectors` as its second argument.  This is a set of translation vectors that translate vertices on one surface to their counterparts on the opposite surface of the mesh. You could pass something like (a,0,0) and (0,0,c) to produce your mapping.

Best wishes,
Mark

[2020-01-28 18:19] tzanio commented on #1255
To add to @adrienbernede's answer -- the `branch-history` check in particular is there to prevent the accidental commit of binary files (or other git issues) which did happen recently.

We have a PR #1262 to discuss adjustments how to make that less conservative, feel free to pitch in. It is a bit tricky, because we don't want it to be annoying (even though it is optional) but we also don't want t

[2020-01-28 20:37] salazardetroya opened #1269 "ZZ error with hardcoded settings"
In [gridfunc.cpp ZZErrorEstimator](https://github.com/mfem/mfem/blob/1c629d61c60d5463f523abbbfbf84cab8db77074/fem/gridfunc.cpp#L2905), the fluxes never take into account if the integrator has a coefficient because `with_coeff` is hardcoded to 0. Is there any math reason behind? It seems to me that in that case the error would be calculated just for the gradient instead of the flux. If there is no

[2020-01-29 06:07] v-dobrev commented on #1269
I think adding this option to the function `ZZErrorEstimator` is fine. It can also be added to the class `ZienkiewiczZhuEstimator` which calls `ZZErrorEstimator`. Feel free to propose a PR.

[2020-01-29 19:00] salazardetroya opened #1272 "Directional Flux"
Given two vector functions **n** and **p** , is there a way to perform the dot product between both in a fast way?

I am basically looking at getting a directional derivative \nabla u \cdot \mathbf{n} where I can obtain \nabla u from `GridFunction::ComputeFlux()` and the second could be a `Coefficient` type. \mathbf{n} is not related to any boundary or element normal, it is just a constant vector

[2020-01-29 19:00] tzanio commented on #1269
Fixed by #1271.

[2020-01-29 19:00] #1269 closed

[2020-01-29 23:22] mlstowell commented on #1272
Hi, @salazardetroya ,

There are a number of ways this could be done and some may be more accurate or more quick than others.

The quickest way might be to create a pair of `VectorGridFunctionCoefficient` objects around __n__ and __p__, then create an `InnerProductCoefficient` using these.  You can then project this coefficient onto a scalar grid function.  If the `GridFunction` you project onto i

[2020-01-29 23:53] salazardetroya commented on #1272
Thanks to @jandrej  for this code snippet. I ended up implementing it directly accessing the dofs (assuming the functions share the same `FiniteElementCollection`)
[code]

[2020-01-29 23:53] #1272 closed

[2020-01-30 00:54] v-dobrev commented on #1132
If you have a Nedelec `GridFunction` you should use `GridFunction::ProjectBdrCoefficientTangent` instead of `GridFunction::ProjectBdrCoefficient`. However, I'm not sure this will resolve your issue with the b.c. always being zero.

Regarding the use  of `FiniteElementSpace::GetEssentialVDofs` or `FiniteElementSpace::GetEssentialTrueDofs`: the right choice depends on which method you will use the r

[2020-01-30 19:16] geyan3566 opened #1273 "ParNonlinearForm::GetGradient(x)"
Hi,

I'm working on a nonlinear problem that uses the DG method with face nonlinear form integrator and it turns out some part of the `GetGradient(x)` has not been implemented. Is there a plan to implement it recently?

Thanks,
Ge

[2020-01-31 00:12] tuckerbabcock commented on #1132
Hi @v-dobrev, thanks for your response.

My code looks like this...
[code]
I've printed the grid function `A` before and after the call to `ProjectBdrCoefficientTangent`, and it does set values. However, if I print `A` **AFTER** the newton solve, the dofs that had been set by `ProjectBdrCoefficientTangent` are now all zero. Do you have any thoughts on why that might happen?

[2020-02-01 05:50] bslazarov commented on #679
Is QuadratureVectorFunctionCoefficient available in mfem - I cannot find it? I need such a functionality for my projects. Should I implement a general one or I can use one of your implementations?

[2020-02-01 16:46] rcarson3 commented on #679
@bslazarov I believe the only implementations of that class are currently in the applications ```Cardioid``` and ```ExaConstit```.  I'll put together a PR with this implemented over the next few days. It should be fairly straight forward to add to MFEM with the only changes being an additional helper function added to the ```QuadratureFunction``` class and the ```Coefficient``` classes themselves.

[2020-02-02 18:31] #1235 closed

[2020-02-02 18:32] #1256 closed

[2020-02-02 20:47] tzanio commented on #1273
Can you clarify which nonlinear form integrator are you referring to? If you are implementing a new one, you should also implement the Gradient yourself.

[2020-02-02 20:51] tzanio commented on #1238
Thank you for reporting this. I will open a new issue to track all the problems that need to be addressed with the newer hypre releases.

[2020-02-02 20:59] tzanio opened #1276 "Upgrading to hypre-2.16.0+"
There are number of issues with the mfem use of hypre starting with hypre-2.16.0 that need to be addressed:

- [x] Fix [ex19p and ex21p](https://github.com/mfem/mfem/pull/1314#issuecomment-596923452)
- [x] Support for HYPRE_MIXEDINT, #933 -- addressed by #1583
- [x] Issues with SuperLU, #989, #983
- [x] Segfault in parallel matrix addition, #1238
- [ ] Support for HYPRE_Init() and HYPRE_Finalize()

[2020-02-02 21:02] tzanio commented on #1237
@ben-s-southworth, are you interested in proposing a simple PR for this that includes documentation and the optional argument for `ParMult`?

[2020-02-02 22:27] geyan3566 commented on #1273
Yes, I implemented a new interface integrator and added it to the `fnfi`, as well as the `AsseembleFaceGrad` function of that integrator. So how different is the procedure that assemble the contributions from `fnfi` between `NonlinearForm` and `ParNonlinearForm`? Sorry that I'm not quite familiar with the DG method, maybe a little heads up will help me to implement it.
Thank you very much.

[code]

[2020-02-03 07:05] stefanozampini opened #1277 "Parallel anisotropic refinement support"
I need anisotropic refinement (conforming) in 3D with hexahedral meshes, and this has to happen on a `ParMesh()`

I tried running `GeneralRefinement()` on a `ParMesh()` obtained after distributing a Mesh (inline-hex) with `EnsureNCMesh()` called (this seems mandatory to be called, otherwise the code ends up doing Bisection on hexas) and I get the error "anisotropic parallel refinement not supporte

[2020-02-03 08:02] jakubcerveny commented on #1277
Anisotropic nonconforming refinement currently only works correctly in serial. In parallel I'm having trouble synchronizing the propagation of forced refinements. It works to some extent in #422 but not completely. This is still work in progress, unfortunately.

The only thing that works now is refining the mesh anisotropically in serial, then constructing a ParMesh and keeping it as it is. The co

[2020-02-03 08:12] stefanozampini commented on #1277
Thanks for the explanation.
However, I don't need non-conforming refinement, I need anisotropic refinement of a conforming ParMesh.

[2020-02-03 08:20] jakubcerveny commented on #1277
Oh, you mean uniform anisotropic refinement? I'm afraid the Mesh/ParMesh doesn't support that.

[2020-02-03 08:26] stefanozampini commented on #1277
How difficult would be to implement it?

[2020-02-03 09:03] jakubcerveny commented on #1277
I think we could just extend the current UniformRefinement2D_base and UniformRefinement3D_base, add more coarse-fine tables, add an optional argument to Mesh::UniformRefinement(), it's some work but not a huge project, I think it could be done.

[2020-02-03 22:31] ben-s-southworth commented on #1237
Yes, I will work on this shortly

[2020-02-04 09:24] LeilaSalomon opened #1280 "Time-dependent velocity in example 9"
Hello,

Currently, I'm working on the exemple 9 and I would like to change the initial velocity, so I changed the void velocity_function(const Vector &x, Vector &y). Now, I would like to use a time-dependent velocity, so I use a time-dependent VectorFunctionCoefficient. I call a void velocity_function(const Vector &x, double t, Vector y) and in my function, I declare a time-dependent velocity.

Bu

[2020-02-04 10:27] pratyuksh commented on #769
Hi @vikramsg

Sorry for the very late reply. I have implemented the operator. If you still need it, let me know. I will put together the functions needed for it and post it here.

[2020-02-04 18:04] v-dobrev commented on #1132
Are you by any chance setting `newton_solver.iterative_mode` to false?

[2020-02-04 18:06] tuckerbabcock commented on #1132
I am, should I not?

[2020-02-04 19:28] tuckerbabcock commented on #1132
Setting `newton_solver.iterative_mode` to true seems to have resolved my boundary condition issue. Thank you so much for you help.

[2020-02-04 19:28] #1132 closed

[2020-02-06 15:15] stefanozampini opened #1283 "Fix needed for 64bit int builds"
I have just noticed this. Probably it got fixed in some branch and will be propagated to master before the release. Would it make sense to add a 64bit builds to the CI in github?

[code]

[2020-02-06 15:30] jandrej commented on #1283
I think this is a good idea. Fixing these sorts of things is on the roadmap also mentioned here #1276.

[2020-02-06 15:39] stefanozampini commented on #1283
Patch here

[code]

[2020-02-06 21:51] jandrej opened #1284 "ParaViewDataCollection does not respect SetPrefixPath appropriately"
Using `SetPrefixPath` only saves the data in the prefix, but not the `pvd` file.

[2020-02-07 00:42] v-dobrev commented on #1280
Example 9 does not support a time-dependent velocity.

To enable such support, the use of a time-dependent velocity coefficient is the right first step, however, one also needs to modify the `FE_Evolution` class. When the velocity changes, the advection matrix `K` needs to be re-assembled. This can be done inside the `Mult` method but one needs to have access to both the `BilinearForm` that define

[2020-02-07 01:38] v-dobrev commented on #1132
Yes, you should keep `newton_solver.iterative_mode`  equal to `true` (which is the default value).

When set to `false`, the first thing the `Mult` method of the `newton_solver` will do is to initialize the output vector (the `*A` vector in your case) with zeroes.

One thing to keep in mind is that with `iterative_mode == true`, one has to initialize all entries of the output vector. In your case,

[2020-02-07 17:08] Samiullah-Malik commented on #1115
Thanks for your help earlier.
I have a follow up question: For parallel meshes, can I get all the elements and faces connected to an edge (including those across a part boundary) with ElementToEdgeTable() and GetFaceEdgeTable()?
I basically want to perform the same operations, as mentioned in my previous post, on parallel meshes.

I also saw a method GetFaceToAllElementTable() but I don't understa

[2020-02-08 00:40] camierjs commented on #1035
Will come with  PR #1104

[2020-02-08 00:40] #1035 closed

[2020-02-08 21:03] camierjs commented on #931
Closing in favour of the [review](https://github.com/orgs/mfem/teams/reviewers) process.

[2020-02-08 21:03] #931 closed

[2020-02-09 03:02] brandon-lab opened #1287 "How to calculate integrals with vector delta functions"
Hello,

I am wondering how to calculate the following two integrals in mfem:

(1) `V = \int N \nabla \cdot J d\Omega`, where N is the H1 scalar basis function
(2) `V = \int J \cdot \nabla \times N d\Omega`, where N is the H(curl) vector basis function

J is a vector delta function with known location and direction, and J is local inside the element `\Omega`.

Thanks.

Brandon

[2020-02-09 14:59] issabass commented on #769
Hi there!
Dear @pratyuksh, I second vikramsg's request...
I do need that operator ($A = \int_{\Omega} (g \cdot \grad{ u } ) \cdot v dx.$) being implemented.
Thank you,
zaq

[2020-02-09 20:50] tzanio commented on #1284
@bslazarov, can you please address this?

[2020-02-09 21:03] tzanio commented on #1287
Just to clarify, the two linear forms you are interested in are: (J, ∇ u) and (J, ∇ x v), where J is a vector delta-function, and u and v are test functions in H1 and H(curl) respectively?

Currently there are no such integrators in MFEM, so you need to implement them yourself. We do have delta-function support in the classes derived from [DeltaLFIntegrator](https://github.com/mfem/mfem/blob/3032b

[2020-02-09 22:49] psocratis commented on #1287
Hi @brandon-lab.

I have implemented (J, ∇ x v) in past and it's in [gmg-solver] branch: https://github.com/mfem/mfem/tree/gmg-solver in fem/lininteg.[ch]pp, and it is used in /examples/solvers-dev/FOSLS_maxwell.cpp for the case where J is a VectorFunctionCoefficient.
The case where J is a DeltaFunctionCoeffient  is there but I haven't tested it yet, so I would recommend to use it with caution.

A

[2020-02-09 23:07] bslazarov commented on #1284
I will fix it.

[2020-02-09 23:27] jandrej commented on #1284
It will be addressed by https://github.com/mfem/mfem/tree/paraview-improvements along with other enhancements.

[2020-02-10 02:21] tzanio commented on #1284
@jandrej, thanks for the clarification. Please add @bslazarov when a PR for `paraview-improvements` is ready.

[2020-02-10 09:55] LeilaSalomon commented on #1280
Thanks a lot for your answer !

[2020-02-10 19:11] issabass opened #1288 "How to deduce fluxes in custom example 8?"
Hi there!
Please, would someone kindly enlighten me as to how to deduce the vector (flux) solution in the custom example 8? Or  we just do as for the potential,
step 10:
$$
   GridFunction xhat;
   xhat.MakeRef(xhat_space, x.GetBlock(xhat_var), 1);
$$
Thank you much,
zaq

[2020-02-11 05:38] issabass commented on #943
Hello,
Dear @ZhichaoPengMath, have you successfully implemented this?
If so, it would be helpful to provide a minimal working example, please!
Thank you
zaq

[2020-02-11 14:09] issabass commented on #1288
I thought the static-condensation/hybridization are rather useful
when having kind of block form system... but looking at ex4 et ex8, I am confused.
Can someone explain to me why there is a need for using staticCondensation in ex4 but not in ex8?
Thank you,
zaq

[2020-02-12 02:56] ZhichaoPengMath commented on #943
Hello @issabass,
It was long time ago, so I do not remember all the details now. Sample code can be found on my MFEM fork:
https://github.com/ZhichaoPengMath/mfem/blob/master/fem/dpg_integrators.cpp
https://github.com/ZhichaoPengMath/mfem/blob/master/fem/dpg_integrators.hpp

For debugging, I used some manufactured solution, and you can check my tests in https://github.com/ZhichaoPengMath/mfem/blob

[2020-02-12 05:35] issabass commented on #943
Dear @ZhichaoPengMath, thank you very much for the reply, for the useful input!
This is insightful and will surely help us set up our approach (SUPG/PSGD , which is similar to yours).
Yes, indeed, in the work we are planning to do; solving the diffusion equation in its first-order form
represents the first step to accomplish.
Now, I am learning what is already available like your code, the one in

[2020-02-12 07:00] v-dobrev commented on #1115
The short answer is no. The methods `ElementToEdgeTable()` and `GetFaceEdgeTable()` will only return the local (to the MPI rank) connectivity in terms of the local element-, face-, and edge-indices.

It is probably not too difficult to emulate the serial code for transposing the local `Table`s by converting them first to `HypreParMatrix` and then transposing the resulting matrix which will take ca

[2020-02-12 11:21] brandon-lab commented on #1287
Hi @psocratis ,

Thanks for providing your implementation. I tried the following codes:

[code]

[code]

The `class VectorFEDomainLFCurlIntegrator` is copied from your [gmg-solver] branch. Am I doing the right thing?

Best,
Brandon

[2020-02-12 13:07] LeilaSalomon opened #1291 "DG Advection : Conservative form"
Hello !!

            I'm working on an advection equation. To help me, I'm using exemple 9. My goal is to use the conservative form of the equation and this is not the case for exemple 9. Originally, we have :

   BilinearForm m(&fes);
   m.AddDomainIntegrator(new MassIntegrator);

   BilinearForm k(&fes);
   **k.AddDomainIntegrator(new ConvectionIntegrator(velocity, -1.0));**
   k.AddInteriorFac

[2020-02-12 13:58] ZhichaoPengMath commented on #943
Dear @issabass,

Thanks for the discussion! I have a few more comments.

(1) MFEM supports non-conforming AMR. The issue with my code is due to my implementation.

(2) The troublemaker in my code is as follows. When I tried to implement < v, [n \cdot \tau ] >  on the skeleton, the current element ``thinks" it only has one neighbor sharing the same edge. But, if you end up doing AMR without hanging

[2020-02-12 15:50] HennesHajduk commented on #1291
Hi Leila,

since you don't need inflow boundaries, you just need to change the 'BilinearForm k' to the following:

`k.AddDomainIntegrator(new ConvectionIntegrator(velocity));
k.AddInteriorFaceIntegrator(
      new TransposeIntegrator(new DGTraceIntegrator(velocity, -1.0, -0.5)));
k.AddBdrFaceIntegrator(
      new TransposeIntegrator(new DGTraceIntegrator(velocity, -1.0, -0.5)));`

The ConvectionIn

[2020-02-12 16:02] LeilaSalomon commented on #1291
Hello Hennes,

So, to have the conservative form, I just need to change the sign in ConvectionIntegrator() and DGTraceIntegrator() ??

Best,
Leïla
________________________________
De : Hennes Hajduk <notifications@github.com>
Envoyé : mercredi 12 février 2020 07:50
À : mfem/mfem <mfem@noreply.github.com>
Cc : LeilaSalomon <leila.salomon@hotmail.fr>; Author <author@noreply.github.com>
Objet : Re: [

[2020-02-12 16:12] gsosajones opened #1292 "Periodic tetrahedral mesh"
Hello,

I am trying to create a periodic tetrahedral mesh starting from a periodic triangular mesh. I first extruded the triangular mesh to a prismatic mesh using MFEM's extruder functionality, and then I am cutting each prism into three tetrahedrons. I am able to visualize the mesh on GLVIS and it seems correct, but when I try to use it to run example 1, I get the following error message:

MFEM a

[2020-02-12 16:54] HennesHajduk commented on #1291
Yes, because this leads exactly to the assembly of the operator that you get from the conservative form with upwinding for interior faces. Does it work for you?

[2020-02-12 18:09] Samiullah-Malik commented on #1115
Hi @v-dobrev , thank you for your response.
For my problem, I am using Nedelec elements. I want to build a patch around each edge (obtain all faces and elements connected to an edge) and then perform several computations on these patch entities. For example, I would like to
a) access the `ParGridFunction` and get vector field and curl values on each element in the patch.
b) compute flux integrals

[2020-02-12 19:42] psocratis commented on #1287
Hi @brandon-lab, yes i think it looks good. Can you test them and let us know how it goes? You can then open a PR and we can add them to the library

Thanks,

Socratis

[2020-02-13 00:44] v-dobrev commented on #1288
Regarding your first question: the code above for `xhat` should work -- just need to set the last argument of `MakeRef` to `0` instead of `1`. Note that the `xhat` `GridFunction` lives only on the mesh interface, so visualizing it in GLVis will not work -- it has to be extended to the interiors of all elements for that to work, e.g. in a Raviart-Thomas space.

Regarding your second question: the s

[2020-02-13 01:44] v-dobrev commented on #1292
I was able to get example 1 working by loading the mesh using
[code]
instead of
[code]
You may have problems if you want to perform local refinement of the mesh but uniform refinement should be OK.

[2020-02-13 05:22] issabass commented on #1288
Thank you very much, @v-dobrev for the reply and detailed explanation.
That was really helpful. Just two more questions before closing this issue.
1. Reagarding the RecoverFEMSolution(), what should be its return content when using hybridization?
Does it give straightforwardly the THREE variables (lambda, pressure, velocities)? If so how are they ordered? byNODES? Otherwise, we get only the lambda

[2020-02-13 10:05] brandon-lab commented on #1287
I don't know if this would solve my problem. I am still debuging, currently I have not got the results as expected.

[2020-02-13 10:24] LeilaSalomon commented on #1291
I don't really understand why...

Non conservative form is given by :
∂u∂t + v⋅∇u = 0,

Exemple 9 uses a ConvectionIntegrator  (λ ⋅∇u,v), I think it's used to solve the second term of the above equation.

Now, the conservative form is given by :
∂u∂t + ∇⋅(uv) = 0,

So, I thought we could no longer use ConvectionIntegrator because now we have the term ∇⋅(uv). Even reversing the sign, like you told

[2020-02-13 12:21] HennesHajduk commented on #1291
I made a mistake above. The key to getting the conservative form is actually transposition. The correct Integrators and coefficients are as follows:

`k.AddDomainIntegrator(new TransposeIntegrator(new ConvectionIntegrator(velocity)));`
`k.AddInteriorFaceIntegrator(new DGTraceIntegrator(velocity, -1.0, -0.5));`
`k.AddBdrFaceIntegrator(new DGTraceIntegrator(velocity, -1.0, -0.5));`

For the DomainIn

[2020-02-13 14:30] brandon-lab commented on #1287
Hi @psocratis , I calculate the fist integral by hand, and the result agrees with mfem. I think it is correct. Maybe I could open a PR soon.

[2020-02-13 14:56] brandon-lab commented on #1287
Hi,

I am now solving a problem involving two type of unknowns, p and q. The final system matrix is as follows:

[code]
Both p and q satisfy a Dirichlet boundary, i.e., p=0, q=0 on the boundary. I assemble A and D by
`pblf_a->FormSystemMatrix(ess_tdof_list_p, A);`
`pblf_d->FormSystemMatrix(ess_tdof_list_q, D);`
for B and C:
`pblf_b->FormRectangularSystemMatrix(ess_tdof_list_p,ess_tdof_list_q,B);`

[2020-02-13 17:22] HennesHajduk opened #1294 "How to access correct index of FaceNbrData for vector unknowns?"
Hi,

In my DG code, when run with MPI, I need to communicate across edges/faces which works fine for scalar unknowns. In the case of vector unknowns (i.e. for systems of PDEs) FaceNbrData holds the dofs for the ghost layer elements in the following order:

All dofs of i-th ghost layer element for first vector unknown, ...,
all dofs of i-th ghost layer element for last vector unknown.

This is the

[2020-02-13 18:42] issabass commented on #943
Dear @ZhichaoPengMath,
Thank you very much for the code, for the paper, for the comments and explanation.
All the best,
zaq

[2020-02-13 20:03] ben-s-southworth commented on #1238
@mlstowell @jandrej I updated to mfem master and hypre master and have the same issue. Valgrind lines are a bit off, but the seg-fault is the same:

[code]

[2020-02-13 20:07] #1238 closed

[2020-02-13 23:32] psocratis commented on #1287
Hi @brandon-lab ,

The first two calls will eliminate (zero out) the columns and rows of the A and D corresponding to the entries listed in ess_tdof_list_p and ess_tdof_list_p respectively, and the diagonal entries will become either 1 or will not change depending on the diagonal policy. In the parallel case the diag entries will always be set to 1.

The FormRectangularSystemMatrix calls will elim

[2020-02-13 23:33] cjvogl opened #1295 "CMake build with MFEM_USE_SUNDIALS=ON is broken"
This was discovered by @homijan.  It looks like moving the include of `sparsemat.hpp` in `solvers.hpp` inside an `ifdef` block broke the CMake build with the SUNDIALS interface enabled.

More specifically, there are various compiler errors complaining that `SparseMatrix` and `DenseTensor` are not defined in `solvers.hpp`:
1) line 545 (`SparseMatrix`)
2) line 569 (`DenseTensor`)
3) line 572 (`Dense

[2020-02-13 23:55] pazner commented on #1295
This has been addressed in the latest master by #1275.

[2020-02-13 23:55] #1295 closed

[2020-02-13 23:56] jandrej commented on #1287
As a little side note, be aware that FormRectangularLinear* methods currently are not working in parallell. This is fixed in #1259.

[2020-02-13 23:56] cjvogl commented on #1295
Thanks @pazner

[2020-02-14 05:13] ben-s-southworth commented on #1237
https://github.com/mfem/mfem/pull/1297

[2020-02-14 05:13] #1237 closed

[2020-02-14 08:42] LeilaSalomon commented on #1291
I agree, but what about the surface term? To solve ∇⋅(uv) we use an integration by part, as you said, but just the volume term appears in :

k.AddDomainIntegrator(new TransposeIntegrator(new ConvectionIntegrator(velocity)));
k.AddInteriorFaceIntegrator(new DGTraceIntegrator(velocity, -1.0, -0.5));
k.AddBdrFaceIntegrator(new DGTraceIntegrator(velocity, -1.0, -0.5));

Something is missing right?

[2020-02-14 08:51] HennesHajduk commented on #1291
The interior faces are handled by AddInteriorFaceIntegrator, the contributions on outflow boundaries by AddBdrFaceIntegrator. You can work out the math of how to chose the coefficients by looking at the comment starting at
[DGTraceIntegrator](http://mfem.github.io/doxygen/html/bilininteg_8hpp_source.html#l02211).

What I did to work it out was consider the upwind and downwind cases separately and

[2020-02-14 13:17] HennesHajduk commented on #1294
I believe I worked it out. In case this is of interest to anyone I'll post my solution.
My notation is as follows:

int nd: number of dofs per element (no p-adaptivity allowed),
int nbr: index of FaceNbrData, that I would want to access in the scalar case,
int nu: number of unknowns in my pde system (physical unknowns),
int i: index of the current physical unknown,
int el = nbr / nd.

Then, the fo

[2020-02-14 13:17] #1294 closed

[2020-02-15 00:14] pazner commented on #1255
Here is a short [perl script](https://gist.github.com/pazner/c6773ad283f617501a5b4dc8d2fb421f) that tries to measure the size of commits in bytes.

The idea is that it looks at the `diff-tree` for each commit, and then sums up the sizes of the blobs depending on if files are added, copied, modified, etc.

For copied and added files, it just uses the size of the blob.

For modified files, I used th

[2020-02-16 06:00] tzanio commented on #1284
Addressed in #1296

[2020-02-16 06:00] #1284 closed

[2020-02-16 06:00] #1280 closed

[2020-02-17 02:14] thorvath12 opened #1298 "Multiple attributes"
Hi,

Is there a possibility to have a list of attributes (instead of a single one) of a mesh element? As far as I can see, it is not possible right now. Am I right?

If it is not possible, is there any initiative to change that?

Any help would be appreciated.

Tamas

[2020-02-17 10:47] pratyuksh commented on #769
Hello,

I have attached the files you would need to assemble this operator. Brief info:

1) You would need to use CalcGradVShape routine in the fe.hpp/.cpp, add it from my files to your mfem library.

2) The routines for assembling the convection tri-linear form is in assembly.hpp/.cpp

Best,
Pratyuksh

[mfem_convection.zip](https://github.com/mfem/mfem/files/4213226/mfem_convection.zip)

[2020-02-17 17:21] tzanio commented on #769
Thank you @pratyuksh.

[2020-02-18 07:45] LeilaSalomon commented on #1291
Hennes, thank you very much for your help !

[2020-02-18 08:05] LeilaSalomon opened #1300 "Discontinuous Galerkin (DG) discretization"
Hello !!

If I take a triangular mesh, with a DG discretization (order 1), I noticed that the solution is solved on 3 nodes positioned inside each element. I would like to know, how the solution is solved on the extremity of the elements (initial mesh nodes) ?

Best,

Leïla

[2020-02-18 08:14] #1291 closed

[2020-02-18 09:49] Marshdweller opened #1301 "L1xRT0 - incorrect system matrix ?"
Dear MFEM developers,

I have been trying to get a piece of code working for several weeks - I will really appreciate if you could tell me in what direction to look.

The problem is a saddle-point one (I simplified it greatly):

Find (u,P) \in VxW such that
Int grad u * grad v - Int P * grad v =0, for all v \in V0
-Int grad u * Q + Int (P*Q+ divP div Q) = 0, for all Q \in W
where
V = {v \in  H1 :

[2020-02-18 18:28] mlstowell commented on #1301
Hi, @Marshdweller ,

My guess is that the natural boundary conditions are adding constraints that make your system full rank. These are related to the boundary integrals that arise during integration by parts which is used to compute some bilinear forms.  For example, the `DiffusionIntegrator` gives rise to a boundary integral of `(n.grad u,v)`, where `n` is the unit surface normal vector.
Ignorin

[2020-02-18 18:42] liruipeng commented on #1238
@ben-s-southworth

In line 1591 of hypre.cpp `HypreParMatrix * ParAdd(const HypreParMatrix *A, const HypreParMatrix *B)`

I did the following change to use the hypre's implementation of ParcsrAdd and the problem seemed gone

[code]
Mfem guys: Let me know how you would like to proceed. Thanks!

-Ruipeng

[2020-02-19 16:05] Marshdweller commented on #1301
Hi Mark @mlstowell

Thank you very much for your time.

It sounds perfectly reasonable. My biggest concern about those implied boundary integrals is that they are implemented through LinearForms in MFEM. For example,  `n.grad u,g_D`, where `g_D` is a known grid function. In my case, however, they should act as bilinear forms contributing to the system matrix. For example let's take form  `(n.grad

[2020-02-19 16:59] mlstowell commented on #1301
Hi, @Marshdweller ,

You are correct, of course, we normally use these implicit integrals with known functions and therefore compute them with `LinearForms`. However, implementing them as `BilinearForms` is not without precedent.  For example, this is how impedance boundary conditions are imposed when modeling wave equations.  Unfortunately, I don't think we currently have the appropriate integrat

[2020-02-19 19:31] ben-s-southworth commented on #1052
Made PR here: https://github.com/mfem/mfem/pull/1303

[2020-02-19 19:31] #1052 closed

[2020-02-19 20:18] Marshdweller commented on #1301
Mark @mlstowell,

Sure, I can try.

[2020-02-20 00:13] mlstowell commented on #1292
Hi, @gsosajones ,

I just a created PR #1306 to address this limitation in MFEM.  We should be able to merge this into master within the next few weeks but feel free to try out the branch `ho-tet-ori-dev` in the mean time.

Thanks for bringing this to our attention.
Best wishes,
Mark

[2020-02-20 05:29] v-dobrev opened #1307 "Memory leak with nonconforming tet meshes"
The following allocation:
https://github.com/mfem/mfem/blob/b281803a785ad1158308dad6d7dc94051bf44d70/mesh/ncmesh.cpp#L2066

should be done using the method `Mesh::NewElement` -- this will ensure correct allocation of `Tetrahedron` elements.

[2020-02-20 12:46] Marshdweller commented on #1301
Mark  @mlstowell , please let me know when you are ready to get some input.

Regards,
M

[2020-02-20 16:17] tangqi commented on #1301
(n.grad u, v) you need has been implemented in this discussion https://github.com/mfem/mfem/issues/792
I have been using it in my applications.

[2020-02-20 16:22] tzanio commented on #1300
Not sure I understand the question -- the solution is piece-wise linear in each element and generally discontinuous between elements. The linear function for each element is defined by 3 degrees of freedom. These could be located in the vertices, but don't have to be. (Even when they are located at the vertices, each element has its own degree of freedom for the same vertex).

[2020-02-20 16:23] gsosajones commented on #1292
Thanks a lot. I'll keep an eye out for the pull request.

Best,
Giselle

[2020-02-20 16:24] tzanio commented on #1298
I believe @mlstowell was working on something that could allow this, but currently this is not possible in master.

One way to get around it could be to define a piecewise-constant field for each attribute and query that when necessary.

[2020-02-20 16:28] tzanio commented on #1288
1. `RecoverFEMSolution` returns the solution `GridFunction`, the Lagrange multipliers are used only internally and in principle are not exposed to the user.

2. The `Extruder` miniapp perform just Cartesian extension (i.e. the final domain is the Cartesian product of the initial domain with an interval). It can't extend an interval to a triangle.

The original question was answered, so I will clos

[2020-02-20 16:28] #1288 closed

[2020-02-20 17:30] mlstowell commented on #1301
Hi, @Marshdweller ,
I'm ready but it looks like @tangqi has the solution to the `(n.grad u, v)` term.  We should be able to do something similar for the `(div.P,w)` term.

Best wishes,
Mark

[2020-02-20 17:51] geyan3566 opened #1308 "HypreEuclid::SetOperator()"
Hi,

I'm solving a nonlinear problem in parallel with `NewtonSolver` in which the linear solver is `HypreGMRES` with `HypreEuclid` preconditioner. A message about MPI appeared:
[code]
After commenting out
[code]
in function `HypreEuclid::SetOperator()`, it worked.
Is it necessary to reset the Euclid preconditioner if `A` is set?

Thanks,
Ge

[2020-02-20 18:28] mlstowell commented on #1298
Hi, @thorvath12 ,
I'm curious about the use case you have in mind.  How were you hoping to use multiple element attributes?

As you noticed, MFEM assigns exactly one attribute label to each mesh element.  These are used primarily to determine material coefficients.  So, each attribute can be associated with one set of materials and these materials can be analytic functions or lookup tables, etc..

[2020-02-20 18:54] Marshdweller commented on #1301
Dear Mark and Qi @mlstowell @tangqi

It seems that this is what I need. If I am correct, Qi's/Tzanio's implementation is similar to BoundaryMassIntegrator::AssembleFaceMatrix. I will try and report later. Thank you!

M

[2020-02-20 19:07] thorvath12 commented on #1298
Hi @mlstowell ,

I need one attribute to identify parts of the domain, but I also need another one, because of the discretization I am using.  I was hoping to be able to define a set of attributes, so something like this in the mesh file

`<no of element attributes> <attribute 1> ... <attribute k> <geometry type> <vertex index 1> ... <vertex index m>`

Do you think something like that would be pos

[2020-02-20 19:26] mlstowell commented on #1298
Hi, @thorvath12 ,
Anything's possible but multiple attributes would require extensive changes inside MFEM.  Would it be practical to encode your attributes into a single integer?

Best wishes,
Mark

[2020-02-21 20:52] Samiullah-Malik opened #1311 "Computation of higher-order Nedelec shape functions in MFEM"
Hi @v-dobrev @tzanio @mlstowell ,
I am trying to understand how the higher-order Nedelec shape functions are computed in MFEM. Is there a reference that you could point me to which explains this approach?

From reading @v-dobrev 's response in #566 on the construction of RT spaces, I understand that 1D basis functions can be any hierarchical basis (default in MFEM is to use Chebyshev polynomials).

[2020-02-21 23:11] v-dobrev commented on #1238
Thanks @liruipeng! Do you know which version of hypre introduced the function `hypre_ParcsrAdd`? It'll be best to add a switch for older versions.

[2020-02-21 23:18] liruipeng commented on #1238
@v-dobrev I think it was 2.14.0

[2020-02-22 04:28] v-dobrev commented on #1308
The method `SetOperator` is called when one wants to reuse the same solver object with a different matrix (or operator, in general). Resetting the `HypreEuclid` preconditioner this way ensures that the preconditioner is rebuild for the `new_A`. We can definitely add an option to `HypreEuclid` that allows you to tell it how often to rebuild the preconditioner, e.g. every k-th call to `SetOperator`,

[2020-02-23 04:29] geyan3566 commented on #1308
Thanks for helping me with this problem.
This error can be easily reproduced by changing a few lines in the original `ex10p.cpp`.
1. Replace code from line 558 to 561 by:
[code]

2. Replace code from line 563 to 569 by:
[code]

3. I ran it with `mpirun -np 4 ./euclidtest -m ../data/beam-quad.mesh -s 3 -rs 2 -dt 3 -tf 1`, then I got the following run-time error right after the first newton iteratio

[2020-02-24 02:31] tzanio commented on #1307
Addressed in #1310.

[2020-02-24 02:31] #1307 closed

[2020-02-24 02:32] #1301 closed

[2020-02-24 02:33] #1298 closed

[2020-02-24 02:35] #1287 closed

[2020-02-24 02:35] #1292 closed

[2020-02-24 17:59] rcarson3 opened #1316 "CMake build failures for examples, tests, and miniapps when CUDA is on"
I came across this issue while trying to build the examples, tests, and miniapps with a CUDA enabled build in order to test out one of the PRs, and I've reproduced the bug with the master branch. As far as I can tell use ```make VERBOSE=1``` the CUDA compiler is not being called when using the appropriate make tests/miniapps/examples call. However, the main library has no problem being made with t

[2020-02-24 18:05] camierjs commented on #1316
We went through this update of the build system in the PR #1104; this will allow you to do want you need.

[2020-02-24 18:09] rcarson3 commented on #1316
@camierjs good to know. I'll go ahead and close this issue then, since it sounds like the fix will be included in the v4.1 release through that PR.

[2020-02-24 18:09] #1316 closed

[2020-02-24 18:41] bmhan12 opened #1317 "Compiler Warnings when building Axom with MFEM"
I have encountered the following warnings when building Axom targets that depend on mfem 4.0.
The output below is from building a small [test case](https://github.com/LLNL/axom/blob/7c2eae05e9b0282a6ddca95bb7b43a86728eb6ca/src/thirdparty/tests/mfem_smoke.cpp) that depends on mfem.
The warnings appear specifically when building Axom with the following [rzansel-blueos_3_ppc64le_ib_p9-clang@8.0.1_nvc

[2020-02-24 18:53] ben-s-southworth opened #1318 "HypreSmoother::Type vs. int"
In the HypreSmoother class, the constructor takes a relaxation type `int _type`, but if you call the function `void HypreSmoother::SetType(HypreSmoother::Type _type, int _relax_times)` you need to declare `HypreSmoother::Type` and it doesn't seem to automatically cast. Is there any reason for not using int?

E.g., calling `smoother -> SetType(1, 1);` results in the error
[code]

[2020-02-24 19:07] dylan-copeland commented on #1311
Hi Sami,

Fortunately RT and ND spaces are quite similar, so Issue #566 should be helpful along with some notes on the differences between RT and ND. The roles of `T` and `Ti` are explained in Issue #566, so I would recommend reading it carefully and asking specific questions if it is still unclear.

1) The Piola transformation in H(curl) is u = J^{-T} \hat{u}. For example, see Monk's book on Fini

[2020-02-24 19:20] v-dobrev commented on #1308
This is a bug in
https://github.com/mfem/mfem/blob/29d59ce94db097256c39179b02daaaa9ffbaf31f/linalg/hypre.cpp#L2716

The parameter `*A` should be replaced by `*new_A`.

Also, in your modifications above, I had to add
[code]
otherwise I was getting a crash during `delete J_prec;`.

Thanks for reporting this issue! I'll make a PR to fix it.

[2020-02-24 20:22] v-dobrev commented on #1317
This looks like an issue between the compiler and the linker. What option/flags are used when building MFEM?

Any idea what is causing (and/or how to fix) these warnings?

[2020-02-24 20:40] v-dobrev commented on #1318
The use of specific enum gives better clarity: `HypreSmoother::l1Jacobi` is easier to understand than just `1`. I'd recommend using the former even when the parameter is just an `int` (any enum is implicitly convertible to `int`). If you prefer to use `1` in `SetType`, you will need to explicitly cast it: `HypreSmoother::Type(1)`.

I think the reason for the difference between the constructor and

[2020-02-24 21:06] bmhan12 commented on #1317
Here is the logged result of ` make info` when Spack was used to build MFEM:
[code]

[2020-02-24 21:29] #1318 closed

[2020-02-24 21:53] v-dobrev commented on #1317
I don't see anything suspicious here. Maybe spack is injecting more aggressive optimization options through the compiler wrapper? These may be visible in the file `.spack/build.env`.

[2020-02-25 23:19] rcarson3 opened #1322 "GridFunction::AccumulateAndCountZones device-related bug"
As per parts of the comments in #1296, I noticed while testing that PR that I was running into issues related to data that I had projected from quadrature data to an L2 finite element space using the ```ParGridFunction::ProjectDiscCoefficient()``` function was causing errors. Using gdb I've tracked it down to the following line of code  [line 1391](https://github.com/mfem/mfem/blob/master/fem/grid

[2020-02-26 17:54] rcarson3 commented on #1322
Here's a minimal example where I've gotten it to fail. It should make debugging this a bit easier:

[code]

[2020-02-26 22:50] geyan3566 commented on #1308
Thanks for fixing that problem!
I found another problem with `HypreEuclid()`. Again the same example, and this time I ran with more unknows with 'mpirun -np 4 ./ex10p -m ../data/beam-quad.mesh -s 3 -rs 2 -dt 3 -rp 3' (3 level of mesh refinement). Then I got this error message on each processor:
[code]

Because I'm using `HypreGMRESSolver()` instead of `MINRESSolver()` so it's ok to omit
[code]
and

[2020-02-27 19:33] e-aranda opened #1324 "Parallel matrix multiplication"
Hi, I don't know what I am doing wrong but I don't understand why I get wrong results if I use more than one processor. Defining a `ParBilinearForm` and multiplying for a `ParGridFunction` I get different results for 1 or 2 processors.

[code]

[2020-02-28 00:44] tangqi opened #1326 "Use an (static) adaptive mesh after it is saved and loaded"
Hi,
I have some issues to use the adaptive mesh after it is saved.
![Screen Shot 2020-02-27 at 5 26 39 PM](https://user-images.githubusercontent.com/1406660/75499141-613b7e00-5986-11ea-8016-b171ccbf3fe9.png)

This mesh is obtained by a simple local refinement through mesh-explorer.cpp. (It is periodic in one direction).

Now if I do a simple `ProjectCoefficient` to H1 space, this is what I got:
![

[2020-02-28 09:30] jakubcerveny commented on #1326
Hi @tangqi, could you please attach the mesh that you created? Thanks

[2020-02-28 17:49] tangqi commented on #1326
Thanks Jakub, @jakubcerveny

See mesh:
https://github.com/mfem/mfem/blob/tds-mhd-dev/miniapps/mhd/Meshes/amr-mesh-new.mesh

It is created by mesh-explorer by a simple local refinement based on the coarse mesh:
https://github.com/mfem/mfem/blob/tds-mhd-dev/miniapps/mhd/Meshes/xperiodic-new.mesh

Here is a simple serial test code:
[code]

In serial, it appears to work with no refinement (rs=0) but i

[2020-02-28 19:19] sshiraiwa commented on #1182
While this instruction works and runs ex1, I am having a difficulty when using CMake. What I
did is following, and the second make somehow calls g++ instead of mvcc. Am I missing something?

cmake .. -DMFEM_USE_CUDA=YES
make -j 4
make -j 4 examples

[2020-02-28 19:43] rcarson3 commented on #1182
@sshiraiwa this issue related to the cmake files should be fixed in the upcoming v4.1 release as noted in a similar issue #1316 . In the mean time, you should be able to copy the modified sections of the cmake files related to the CUDA in PR #1104  and get the examples up and running.

[2020-02-28 19:44] sshiraiwa commented on #1182
I see. Thank you.

[2020-03-01 21:21] #1182 closed

[2020-03-01 21:22] tzanio commented on #1230
Discussion continued in #1274.

[2020-03-01 21:22] #1230 closed

[2020-03-01 21:26] tzanio commented on #1277
This is somewhat specialized and I'm not sure what it means for a general unstructured mesh. I am not sure we want it in the library...

[2020-03-01 21:26] #1277 closed

[2020-03-01 21:47] tzanio commented on #1324
You can't do `A->Mult(*u_gf,X)` the assembled matrix operates on `HypreParVector` objects:

[code]

A lot of this is automatically handled by the `FormLinearSystem`/`RecoverFEMSolution` interface. See also Figure 4 in https://arxiv.org/pdf/1911.09220.pdf.

[2020-03-01 21:47] tzanio commented on #1322
Discussion continued in #1327.

[2020-03-01 21:47] #1322 closed

[2020-03-01 21:48] #1300 closed

[2020-03-01 21:53] tzanio commented on #1308
I'm not sure about this one, it could be a problem in *hypre*...

[2020-03-01 21:54] tzanio commented on #1317
@bmhan12, were you able to resolve this?

[2020-03-01 21:58] tzanio commented on #1273
I see, you are referring  to https://github.com/mfem/mfem/blob/master/fem/pnonlinearform.cpp#L112-L120

@v-dobrev or @jamiebramwell, can you help?

[2020-03-01 22:54] geyan3566 commented on #1308
I'll post this issue in hypre repo.

[2020-03-02 09:48] e-aranda commented on #1324
Ok, thank you.

[2020-03-02 09:48] #1324 closed

[2020-03-02 16:14] bmhan12 commented on #1317
@tzanio This looks to be a spack related issue. I was able to build axom with an MFEM source build without the errors.

[2020-03-02 16:24] #1317 closed

[2020-03-03 02:16] tuckerbabcock opened #1331 "How to solve PDE on subset of mesh?"
Hi,

Is there a straightforward way to solve a given problem on a subset of the mesh (i.e. exclude elements that have a specific attribute)?

For a concrete example, consider something similar to the Joule miniapp; solving low-frequency EM and thermal problems on a domain of a metal rod, and some surrounding air. I want to solve the EM problem on the entire domain (rod + air), but then solve the t

[2020-03-03 12:28] januszpigonia opened #1332 "NCMesh saving"
How can I in example 6p save the configuration (ncmesh and solution) after a few refinement steps and then restore the results and continue ?

Janusz

[2020-03-03 18:22] tangqi commented on #1326
OK, I work around by generating this mesh and partitioning on the fly. (Another issue seems to be `ParMesh(MPI_COMM_WORLD, *mesh)` will get confused by `ncmesh`, so I need to generate partitioning using serial meshes first.)

It is not critical to fix it at this point. Thanks again for the help. -qi

[2020-03-04 00:27] rajpradi opened #1333 "Extract the data from SparseMatrix"
Hello Developer,

I want to multiply Sparse matrix (A) with other matrix of same dimension. I.e., I want to multiply density matrix with the stiffness matrix (SparseMatrix A).
For that I need to extract SparseMatrix A which is generated by FormLinearSystem (From example 2).
Furthermore, I have tried with GetData() function, but I could not able to figure it out how to use GetData(). As GetData() f

[2020-03-04 13:05] jakubcerveny commented on #1332
This is something that's high on my TODO list. We need to extend the MFEM 1.1 mesh format to allow for saving a parallel NC mesh, which is unfortunately not possible right now.

[2020-03-05 00:49] rajpradi opened #1334 "Applying loads and fixed boundary conditions on a node."
Hello Sir,

I have started using MFEM recently. I found it very helpful in my research. I am having a question about the boundary condition section.

I could not able to figure out how should I apply loads on a particular node. In one of the issue you have suggested a code to apply fixed boundary condition on nodes but I could not able to understand completely. Can you please tell me how we use th

[2020-03-05 01:12] #1333 closed

[2020-03-05 16:19] barker29 commented on #1334
Hi Raj,

I am not sure I understand fully what you are asking. Generally it makes sense to apply loads on surfaces, not nodes, and this is done in MFEM using `LinearForm` and `BoundaryIntegrator` objects as in `ex2`. Do you really want to apply a load in the RHS on a single node or do you have a collection of nodes that make up some kind of surface?

[2020-03-06 11:26] IdoAkkerman opened #1336 "Normal derivative on boundary of NURBS mesh"
I am trying to implement weak dirichlet BCs for a laplace problem using `DGDiffusionIntegrator`.
For NURBS meshes I get the error:

I have tried to figure out what is missing, but I am getting lost in the Face/Boundary semantics, particularly related with the element transforms.
Does any body have any ideas at this stage? I will try to formulate  more precise questions in the near future.

[2020-03-06 11:29] IdoAkkerman commented on #1336
To create the issue look    branch` weakbc-nurbs-dev` in  miniapps/nurbs and run for instance:

[2020-03-06 16:37] IdoAkkerman commented on #1336
I think I need modify:
`void FiniteElementSpace::GetFaceDofs(int i, Array<int> &dofs) const` on fespace line 1742
and add an` if ( elem_dof)` similar to the GetElementDofs and GetBdrElementDofs routines.

Does `FiniteElementSpace::GetFaceDofs` provide the full list of all dofs defined on the element attached to a boundary? So would translating the face-id to an element-id and then extract the dofs

[2020-03-06 17:39] xjrc opened #1339 "Visualizing per-element det(J) w/ mesh-explorer?"
The `mesh-explorer` meshing mini-app has a very handy feature that allows the user to query a source mesh's minimum and maximum det(J) values, which makes it very easy to determine whether or not a mesh has inverted elements. However, once a mesh is known to be inverted, it's difficult to use the top-level quality metric visualizations (i.e. element sizes, element ratios) to track down the offendi

[2020-03-07 01:34] tzanio commented on #1283
Fixed in be79c7e08c57bd59675de6721d8d5be43f3b9f05

[2020-03-07 01:34] #1283 closed

[2020-03-07 01:38] tzanio commented on #1339
Hi Joe,

Mesh Explorer also has the option `x`, which checks the determinant of the Jacobian in a given lattice of points. You can easily modify the code:

https://github.com/mfem/mfem/blob/master/miniapps/meshing/mesh-explorer.cpp#L526-L585

to output the element number and the coordinates of any point where the mesh is invalid.

Hope this helps,
Tzanio

[2020-03-07 05:49] v-dobrev commented on #1339
For 2D meshes you can view `det(J)` directly -- pressing the `e` key toggles what is visualized:
[code]
(this is an exerpt from the [GLVis README](https://github.com/GLVis/glvis/blob/ab82359a9b8adb548369a9514c183703140bd7b2/README#L79-L86))

As usual, the `i/I` keys allow you to control the subdivision factor to get a better representation of the current field.

Also note that when pressing `e`, G

[2020-03-09 08:18] IdoAkkerman commented on #900
How would this collocation approach work for NURBS based discretisation? Given the possible smoothness there is a lot of opportunity for the NURBS/ collocation combo.

[2020-03-09 17:36] xjrc commented on #1339
Apologies for being unclear; the `x` option is actually what I've been using to find inverted elements! I hadn't considered modifying its source to extract the information I need, but that's a great idea; thank you for the suggestion and for pointing me in the right direction!

Thank you, Veselin, and I apologize for having you repeat something from the GLVis manual. I've been referring to that ma

[2020-03-09 17:36] #1339 closed

[2020-03-09 18:38] dylan-copeland opened #1343 "Unit tests failing on some machines"
On my local machine, the unit tests fail in functions such as SmemPADiffusionApply3D. I suppose this is because I do not have cuda or other GPU capabilities installed. Until recently, this happened only in TEST_CASE("H1 pa_coeff") in tests/unit/fem/test_pa_coeff.cpp, so I would just comment out that test. Now it also happens in tests/unit/linalg/test_matrix_square.cpp when pa.FormLinearSystem is c

[2020-03-09 18:40] jandrej commented on #1343
You can always use the labels to filter for tests or exclude tests.

[2020-03-09 18:52] dylan-copeland commented on #1343
@jandrej Yes, the following passes, although it is a bit cumbersome and omits CPU-versions of the tests which should pass. This is fine for now, but it would be nice to separate the CPU and GPU tests and automatically exclude GPU tests based on build options.

`./unit_tests ~"H1 pa_coeff" ~"FormLinearSystem" ~"ParallelFormLinearSystem"`

[2020-03-09 19:02] tzanio commented on #1343
@dylan-copeland, how do you configure and run? Is this a Linux box?

The unit tests should not fail...

[2020-03-09 19:33] dylan-copeland commented on #1343
@tzanio It is a Linux desktop, and I configure with MFEM_USE_MPI, MFEM_USE_METIS_5, MFEM_USE_MEMALLOC, MFEM_USE_ZLIB set to YES, everything else set to NO (master branch).

Also, on LC machines `make unittest` fails since `mpirun` is not found, and `tests/unit/unit_tests` runs with 11 failures. In previous versions of mfem, unit tests ran successfully on LC.

[2020-03-09 19:37] IdoAkkerman commented on #1343
Is this in docker?

Verstuurd vanaf mijn iPhone

[2020-03-09 19:59] dylan-copeland commented on #1343
@IdoAkkerman Correct, it is not in docker.

[2020-03-09 20:00] rcarson3 commented on #1343
I'm not seeing this behavior on my Linux desktop with a clean build of master built with cmake. I pretty much have the same set of options except for no zlib, and I'm making use of RAJA. If it helps any I'm compiling everything with gcc@7.4.0 and mpich@3.3.2.

[2020-03-09 20:20] dylan-copeland commented on #1343
I am using g++ 4.8.5 and mpich 3.2.1 on my Linux desktop.

[2020-03-09 20:58] tzanio commented on #1343
@dylan-copeland, can I stop  by to figure out what is going on? The tests run fine on Travis and some of our Mac and Linux boxes, so this is not the expected behavior.

Regarding LC, you should configure MFEM differently there, and specifically use `MFEM_MPIEXEC="srun"` and `MFEM_MPIEXEC_NP="-n"`. See the config line here for more details: https://mybitbucket.llnl.gov/projects/MFEM/repos/autotest/

[2020-03-09 21:08] dylan-copeland commented on #1343
@tzanio Yes, I am available.

[2020-03-09 21:51] tzanio commented on #1343
The issue seem to be due to an old version of GCC, which for example fails on the following Example 9p run:
[code]

[2020-03-09 22:32] v-dobrev commented on #1343
I have the same issue with gcc 4.8.5. The solution is to use a newer compiler (4.9.2 works fine for me) or to lower the optimization option for building mfem from `-O3` to `-O2`.

[2020-03-10 22:25] rajpradi commented on #1334
Thank you very much for your response.

Yes, I was looking to add loads in the RHS on a single node.
Sir, basically I am working on topology optimization pipeline and I need MFEM to obtain deflection values. Looking into the published work of topology optimization, people have implemented point load in their analysis.

Furthermore, I found a comment (mentioned in the previous message) to apply a f

[2020-03-10 22:52] barker29 commented on #1334
If you really want to apply a load to a single node, you would put appropriate values in the right-hand side of the linear system corresponding to the node. Something like `B(dof_number) = val;` where `B` is the `Vector` on the right-hand side of the linear system.

[2020-03-11 06:40] yurivict opened #1348 "4.1: error: cannot initialize a parameter of type 'const char *' with an lvalue of type 'int'"
clang-8 complains:

[code]

FreeBSD 12

[2020-03-11 07:18] jandrej commented on #1348
It looks like `strerror_r` does not return what is expected. Going to look into that in the morning.

[2020-03-11 14:21] jandrej commented on #1348
@yurivict can you use the the following patch in your port for now?
[code]

Let me know if that works.

[2020-03-11 15:56] yurivict commented on #1348
This patch fixed the build.

Please change the ifdef to the following to catch all BSDs:

[code]

[2020-03-11 23:17] rajpradi commented on #1334
Thank you Very much Sir for your help.

Just one small question, can you please tell me how can I print or get the values of GridFunction x and SparseMatrix A?
I want these values so that I can directly save the GridFunction values to another vector and use it in loop instead of saving it in sol.gf  file.

Thanks,
Raj

[2020-03-12 03:37] samanseifi commented on #602
My question is how to start coding application with mfem installed with spack? should adding mfem module vis `module load mfem-4.0..` is enough or all the related/depended libraries should be loaded too?

[2020-03-12 05:00] v-dobrev commented on #602
The spack build of MFEM uses MFEM's GNU make build system and therefore it is simplest to use GNU make for your project as well. In your `Makefile` you can simply include the `config.mk` file installed in the directory `<MFEM_DIR>/share/mfem/` where `<MFEM_DIR>` is the path returned by the command `spack location -i mfem`. This file defines a number of useful makefile variables that you can use to

[2020-03-12 11:24] jakubcerveny commented on #1326
I will look into this together with #1332

[2020-03-12 20:54] samanseifi commented on #602
Thanks. One more thing, maybe I should read more documentation on spack, but let's say I want mfem built with petsc. I want to use Newton-Krylov solvers for example. Does `spack install mfem` will do the job? OR maybe I'm asking how to build mfem with `MFEM_USE_PETSC=YES` with spack.

[2020-03-12 23:26] rcarson3 opened #1350 "Build error related to debug builds"
So, I ran into this issue while building a typical debug build in ```ExaConstit``` and noticing that the build was failing after migrating to the v4.1 release.

It appears that the culprit was a ```-DDEBUG``` flag being added for debug builds which appears to clash with the ```Id``` enum defined in ```device.hpp``` having the same name. Also to make things more interesting, it turns out this only

[2020-03-12 23:37] #1308 closed

[2020-03-12 23:42] tzanio commented on #1350
Can you provide more details so we can reproduce it?

[2020-03-13 00:39] v-dobrev commented on #602
In spack this is typically achieved using variants (see https://spack.readthedocs.io/en/latest/basic_usage.html#variants). Specifically, to build MFEM with PETSc, you can use
[code]
You can see all variants with
[code]

[2020-03-13 01:02] rcarson3 commented on #1350
Sorry about that wrote that up just before leaving work...

If you run the below cmake invocation and then make this should reproduce the same set of errors that I was seeing when compiling ```ExaConstit``` in debug mode. I don't think this should matter much, but I was using a gcc/7.3.1 compiler.

[code]

I don't specifically use  ``` -DCMAKE_CXX_FLAGS_DEBUG="-DDEBUG"``` in my cmake call, but one

[2020-03-13 01:11] v-dobrev commented on #1350
I think this is an issue that has to be addressed by `ExaCMech` -- using a generic macro as `DEBUG` in their headers is not a good idea when you expect to work with other libraries. I'd recommend using something like `EXACMESH_DEBUG`. MFEM has its own version of that callled `MFEM_DEBUG`.

[2020-03-13 01:28] rcarson3 commented on #1350
@v-dobrev that's the plan to fix it in ```ExaCMech```. I wouldn't expect y'all to fix something like this.  I just wanted to bring this to light just in-case others run happen to run into it down the road. I can go ahead and close this now.

[2020-03-13 01:28] #1350 closed

[2020-03-13 03:13] tuckerbabcock commented on #1331
@tzanio have you gotten a change to look at this?

[2020-03-13 11:57] LeilaSalomon opened #1351 "How can I determinate a numerical solution in any points (x,y) ?"
Hello !

After a simulation, I would like to know how can I determinate a numerical solution in any points (x,y) ?
Let's name my solution "phi".
To know the solution at each nodes, I can use  :  phi.NodalValues(...,1).

But now, I would like to have numerical solutions in differents points (x,y) that I chose (in my domain). How can I do that ? Is there something else similar to ".NodalValues" for

[2020-03-14 01:04] vladotomov commented on #1351
Hi Leila,
Example for interpolation of FE solution in physical space can be found in /miniapps/gslib/findpts.cpp.
Good luck,
Vladimir

[2020-03-14 01:30] v-dobrev commented on #1351
Another option that may work for you is the method `Mesh::FindPoints` -- it does not require GSLIB but it is not 100% reliable. The input consists of points in physical space and the output gives element ids and reference point locations. Given those you can evaluate your solution using methods like `GridFunction::GetValue` which takes element id and reference point location.

Actually there is al

[2020-03-14 02:04] tzanio commented on #1331
Hi Tucker,

There is no easy solution to this, but one option could be to have different meshes for the two regions and use the new findpts functionality in MFEM to get values from one of the mesh in the other. That is designed to work even if the meshes are not the same.

@kmittal2 is the expert on this, and can probably provide some help.

Tzanio

[2020-03-14 17:35] tzanio commented on #1343
I'm closing this now, but please reopen if the issue is not resolved by compiler update

[2020-03-14 17:35] #1343 closed

[2020-03-14 17:37] tzanio commented on #989
@v-dobrev, can we make this part of the Spack package update for CEED-3.0?

[2020-03-14 17:41] tzanio commented on #1334
You can just index the values, e.g. `x(i)` and `A(i,j)` or save them with `Vector::Print` and `SparseMatrix::Print`.

[2020-03-14 17:41] #1334 closed

[2020-03-14 17:42] tzanio commented on #1348
@jandrej or @yurivict, can you create a hotfix PR for this?

[2020-03-14 23:35] Samiullah-Malik commented on #1311
Hi Dylan,

Thank you for your response. I have consulted the references you mentioned above. However, I am still a bit unclear about the computation of the Nedelec basis in `CalcVShape`.

From Monk's book, I see that the Nedelec elements are based on the following polynomial space
`R_k = P_{k-1}^d + S_k` where `k` is the order of the polynomial and `d` is the dimension (for e.g. d=2 for the case o

[2020-03-15 00:38] garobed1 opened #1355 "Applying boundary conditions according to mesh node numbering"
Hello,

I am implementing a mesh motion algorithm through linear elasticity analogy. Essentially, I am first finding updated boundary node locations for the mesh, then applying the displacements of those nodes as essential boundary conditions for a linear elasticity problem, to move the interior nodes. I have the list of boundary node displacements that I need, in an array numbered according to th

[2020-03-15 01:32] kmittal2 commented on #1331
Hi Tucker, we have a miniapp in the works for exactly this. See [PR#1293](https://github.com/mfem/mfem/pull/1293).
This PR adds field-interp.cpp which provides the capability of transferring the solution from one mesh onto another mesh. Check it out and let me know if you have any questions (here or via email).

[2020-03-15 02:16] v-dobrev commented on #989
The CEED PR is https://github.com/spack/spack/pull/15500. I think the main dependencies are there but feel free to add more.

[2020-03-15 02:27] v-dobrev commented on #1311
This is just a shift to the center of the triangle. It does not change the final space. Using this shift helps a little with the conditioning of the change of basis matrix.

[2020-03-15 03:56] GregVernon opened #1356 "Output IGA results to new VTK cell: Bezier"
A recent addition to VTK was to add Bezier cells, which are the building blocks of B-splines (and NURBS).  I saw the recent MFEM release notes

and was wondering whether MFEM writes Bezier elements?  The latest version of ParaView (v5.8) supports Bezier elements as specified in the below VTK merge request and attached PDF.

https://gitlab.kitware.com/vtk/vtk/-/merge_requests/6055

https://gitlab.k

[2020-03-15 19:08] pazner commented on #1356
Currently, Bezier output in the ParaView format is not supported. Right now, ParaView output of a NURBS mesh in MFEM will use Lagrange elements.

This could be an interesting feature to add. It would be helpful to have some example files and more complete format documentation (I guess that will come with time, since this feature is brand new in ParaView...)

[2020-03-15 19:32] tzanio commented on #1356
I haven't looked carefully yet -- is this more about supporting NURBS meshes, see e.g. the [MFEM NURBS mesh format](https://mfem.org/mesh-formats/#nurbs-meshes), or is it about representing the mesh nodes in the [positive Bernstein basis](https://github.com/mfem/mfem/blob/d9c4909da3766e49e66187ee063b8504e9d5138b/fem/fe.hpp#L35)?

[2020-03-15 19:58] pazner commented on #1356
My understanding was that this is about supporting NURBS meshes.

[2020-03-16 05:16] GregVernon commented on #1356
@tzanio I believe the new addition to VTK / ParaView requires a NURBS result to have its (non)rational Bezier components extracted and each Bezier cell described via Bernstein basis.

In general my question was related to the support of high-order MFEM IGA results in ParaView.  Whether they were supported at all (which it sounds like they do, via approximation as Lagrange elements), and whether it

[2020-03-17 01:48] vladotomov commented on #1355
Hi Garo,

What exactly do you mean by "mesh node numbering". The `Mesh` class has a field `Nodes`, which is a `GridFunction` storing the node positions. Is your "mesh node numbering" related to `Nodes` or is it something else?

Vladimir

[2020-03-17 05:49] yaohongbo-geophysics opened #1358 "How to compute nodal finite-element (Tetrahedron) matrix by myself, rather than use the BilinearForm?"
Hi, Dear Jed @jedbrown and other developers:
    I recently started learning mfem and I have to say that it's an excellent tool! But I'd like to compute element matrix integration (Tetrahedron) by myself, rather than use the BilinearForm. The integral form is: \iiint_{\Omega} N_i N_j dv, where N is the scalar(nodal) shape function of a  Tetrahedron. I have tried the following codes:

` FiniteEleme

[2020-03-17 07:50] mlstowell commented on #1358
Hello, @yaohongbo-geophysics ,

Probably the best place to start is to look at our `MassIntegrator`: https://github.com/mfem/mfem/blob/506d975c37bfe868de97a918b5ee37d5527ca2d7/fem/bilininteg.cpp#L786
This does precisely what you are trying to accomplish.  There are only a few small differences separating the way we do it from the way you have implemented it.  First, you're using the interpolation

[2020-03-17 08:32] yaohongbo-geophysics commented on #1358
Hi Mark, Thank you for the explanation, It will be useful! I will think more later!
Have a nice day!
Best wishes,
Hongbo

[2020-03-17 14:22] fanronghong opened #1359 "Boundary integrator, boundary face integrator"
Hi all,

I've been always confusing about the difference between `AddBoundaryIntegrator` and `AddBdrFaceIntegrator` that both are member functions of class `BilinearForm`. Are they both OK for computing $\int_{\partial\Omega} u v dx$ ?

Thanks in advance!

[2020-03-17 16:14] garobed1 commented on #1355
I'm personally not referring specifically to the `Nodes` gridfunction, I'm referring to the ordering of the nodes when I query the mesh (using PUMI) for the displacement information. I imagine that the ordering when I convert from the PUMI mesh to the MFEM mesh would remain consistent, and that would be reflected in `Nodes`.

In any case, I think my solution will be to use the associated `FiniteEl

[2020-03-17 16:46] tuckerbabcock commented on #1331
Thanks @tzanio and @kmittal2. The miniapp looks like a template for exactly what I’m looking for.

[2020-03-17 17:09] LeilaSalomon commented on #1351
Hello Vladimir,

Currently I'm working with the the mfem-3.4 version, and gslib doesn't exist... I'm trying to install the last release "mfem-4.1" but the compilation doesn't work... Should it be installed differently from the 3-4 version ?

Best,

Leïla

[2020-03-17 18:03] vladotomov commented on #1351
GSLIB must be installed as an external library, eg from [here](https://github.com/Nek5000/gslib), on the same level as mfem's directory. Then mfem must be built by setting `MFEM_USE_GSLIB=YES` in your `config/user.mk`. Let us know if something doesn't work.

Vladimir

[2020-03-17 18:33] tzanio commented on #1351
There is also some description in the `INSTALL` file of mfem-4.1. If there are build errors, please post them here.

[2020-03-17 18:36] tzanio commented on #1355
This sounds right. You impose Dirichlet condition on a bilinear form in a given finite element space by specifying a grid function in the space and the set of degrees of freedom where the conditions should be imposed. See example 1 and 2.

[2020-03-17 18:39] tzanio commented on #1358
@uvilla, do you mind sharing your simple code for direct assembly here?

[2020-03-17 18:41] tzanio commented on #1359
For  $\int_{\partial\Omega} u v dx$ you want `AddBoundaryIntegrator`.

The `AddBdrFaceIntegrator` is for DG methods where computation on the face requires access to the two elements that contain that face.

[2020-03-17 22:43] kennyweiss opened #1361 "Missing ParGridFunction in a ParMesh constructor"
I am using the ``ParMesh`` constructor that creates a refined mesh for an LOR <--> HO reconstruction application that uses mfem's ``GridTransfer`` class. This class requires the domain and range FES to either both be serial or both be parallel.

The constructor that creates a refined mesh does not set a ``ParGridFunction`` for the nodes, and ``ParMesh`` does not expose a utility function to set a

[2020-03-17 23:28] pazner commented on #1361
@kennyweiss can you check if the change in [this branch](/mfem/mfem/tree/lor-pargridfunction) does what you need?

[2020-03-17 23:46] kennyweiss commented on #1361
Thanks @pazner -- that worked!

Also, it looks like I missed ``ParMesh::SetCurvature``.

[2020-03-17 23:51] pazner commented on #1361
`ParMesh::SetCurvature` was only added very recently. This seems like a very reasonable change to make (it makes sense for the nodes of a `ParMesh` to be a `ParGridFunction`). What do you think, @tzanio?

[2020-03-18 00:11] tzanio commented on #1361
Yes, I agree, this is a nice fix. Shouldn't the second argument be `false`?

[2020-03-18 00:15] pazner commented on #1361
It is `true` to support periodic meshes (in the serial version since PR #1156, addressing issue #1067).

An alternative would be to set this to be true only if the nodes of the original mesh are discontinuous.

[2020-03-18 00:24] tzanio commented on #1361
I think this will be better, because unless the mesh is periodic the L2 nodes will store much more than necessary. We already have checks like that, e.g. in https://github.com/mfem/mfem/blob/master/fem/fespace.cpp#L836.

[2020-03-18 03:19] yaohongbo-geophysics commented on #1358
Hi, @mlstowell :
Following your advices, I did some tries as the codes (there still exists several problems):
`// Way 1: using IntegrationPoint
for (int e=0; e<fespace->GetNE(); ++e) {
   const FiniteElement* fe = fespace->GetFE(e);
   ElementTransformation* eltrans = fespace->GetElementTransformation(e);
   const IntegrationRule& ir = fe->GetNodes();

   int nd = fe->GetDof();
   Vector N(nd);

[2020-03-18 06:09] yaohongbo-geophysics commented on #1358
Hi @mlstowell ,
Following your advices and I made some effort to read and understand the source code of BilinearFormIntegrator and LinearFormIntegrator, I think the problem has been solved! Here is my code, just in case someone may meets the same problem.
`for (int e=0; e<fespace->GetNE(); ++e) {
      const FiniteElement* fe = fespace->GetFE(e);
      ElementTransformation* eltrans = fespace->Get

[2020-03-18 10:32] fanronghong commented on #1359
Thanks for your reply @tzanio ,

For DG methods, is it right that `AddBdrFaceIntegrator` is for boundary faces and `AddInteriorFaceIntegrator` is for interior faces?

If it's right, then `AddBoundaryIntegrator` is also for boundary faces, so what's the difference with `AddBdrFaceIntegrator`?

[2020-03-18 11:04] Christopher-Water opened #1363 "Trouble with Parameters and Boundary Conditions"
I am new to FEM, and am integrating MFEM into software

**Currently:**
- I have .vtk UnstructuredGrid files that I read into a MFEM::Mesh, and then run various FEM simulations on them, converting back to VTK format when done (saving the grid function solution)
- I am using MFEM Example16 as a base to design a Thermal Conductivity FEM simulation
https://github.com/mfem/mfem/blob/master/examples/ex1

[2020-03-18 13:31] tzanio commented on #1359
The difference is that the `AddBoundaryIntegrator` requires information only on the face, while `AddBdrFaceIntegrator` requires information also from the element containing the face, see e.g. `DGTraceIntegrator`

[2020-03-18 14:19] LeilaSalomon commented on #1351
If I use the 4.1 version, is it necessary to install GSLIB like an external library ? Because there is a folder "gslib" in miniapps.

[2020-03-18 14:21] tzanio commented on #1351
Yes it is. The `miniapps/gslib` folder is for small examples of how to use the gslib integration in mfem

[2020-03-18 14:44] LeilaSalomon commented on #1351
Ok thank you, I install GSLIB in the same folder as MFEM and I add "MFEM_USE_GSLIB=YES" in  "config.mk".
But, how compile GSLIB ?

[2020-03-18 14:45] v-dobrev commented on #1351
Just to clarify -- you can build MFEM 4.1 without GSLIB -- you need GSLIB only if you want to use things that depend on it like the miniapps in `miniapps/gslib`. The other miniapp, that I mentioned previously, `get-values`,  in `miniapps/tools`, does not need GSLIB.

[2020-03-18 14:54] LeilaSalomon commented on #1351
Yes thanks, I understood that well

[2020-03-18 14:59] kmittal2 commented on #1351
To compile `gslib`, go inside the `gslib` folder and use  `make CC=gcc MPI=0` for `serial` and `make CC=mpicc MPI=1` for parallel build. Next, you go back to the MFEM folder and build MFEM as `make serial -j MFEM_USE_GSLIB=YES` or `make parallel -j MFEM_USE_GSLIB=YES`.

[2020-03-18 15:12] LeilaSalomon commented on #1351
Ok thank you, and is it possible to use it with the 3-4 version ?

[2020-03-18 15:15] kmittal2 commented on #1351
I believe not. gslib functionality was introduced in 4.1.

[2020-03-18 15:21] LeilaSalomon commented on #1351
Ok thank you, and I don't know why but I can't use this version...
Is there a particular way to install/compile the 4.1 version ? Or can I install/compile in the same way as 3.4 ?

[2020-03-18 15:32] kmittal2 commented on #1351
What is the error that you get when you compile? Do you intend to use `gslib` with `MFEM` in `serial` or `parallel`?

[2020-03-18 15:47] LeilaSalomon commented on #1351
I would like to use them in serial. First , I untar and compile gslib in the same level as mfem-4.1, second I compile mfem-4.1 with "make serial -j MFEM_USE_GSLIB=YES", but there are erros : gslib files are not found.
For exemple, I have "   error : gslib.h : no such file or folder #include "gslib.h"   " (it's the same for the other files)

[2020-03-18 16:04] kmittal2 commented on #1351
I see that we didn't mention this above. As per INSTALL, once you download and build `gslib`, you should use `ln -s gslib-1.0.5 gslib` at the same level as MFEM. Let me know if you still get compilation errors after you do this.

[2020-03-18 16:16] v-dobrev commented on #1361
Actually `Mesh::EnsureNodes()` also should work fine for both serial and parallel meshes because it calls the (now virtual) method `SetCurvature()`.

[2020-03-18 16:17] uvilla commented on #1358
@yaohongbo-geophysics ,

I'm happy to hear you were able to debug your code.

I am also working with finite element assembly of functionals and their variations in MFEM.

In particular, I created a branch `adla-dev` (https://github.com/uvilla/mfem/tree/adla-dev), where I  can experiment with finite element assembly from scratch.

The example `mfem_poisson.cpp` (https://github.com/uvilla/mfem/blob/

[2020-03-18 16:18] pazner commented on #1361
The problem in this particular case is that the nodes already existed (as a `GridFunction` rather than `ParGridFunction`), so `EnsureNodes()` would be a no-op.

[2020-03-18 16:20] tzanio commented on #1358
Thanks @uvilla!

[2020-03-18 16:52] v-dobrev commented on #1361
My point was that calling `EnsureNodes()` should work fine with both serial and parallel meshes. If a parallel mesh has `GridFunction` as its nodes before that, the problem (if that is a problem) is elsewhere.

Using a `GridFunction` for the nodes of a `ParMesh` is fine in many cases. In some places in the code, where we **need** to have `ParGridFunction` for the nodes, we explicitly check for tha

[2020-03-18 17:03] kennyweiss commented on #1361
@v-dobrev -- this is where the error was tripped:
https://github.com/mfem/mfem/blob/b584a1a82dc17a0e46b5e3c760f8edcb3107ab8d/fem/fespace.cpp#L2365-L2371

[2020-03-18 17:28] v-dobrev commented on #1361
OK, there is already a check there.

[2020-03-18 17:35] kennyweiss commented on #1361
@v-dobrev -- I am on a recent mfem  (https://github.com/mfem/mfem/tree/8dbbcfc25629ac7612fe31afd5b511752ff0e69b).

I just checked and the following **does not** work for me:
[code]

But the following **does** work:
[code]

[2020-03-18 18:07] v-dobrev commented on #1361
@kennyweiss, yes, this is the case that @pazner mentioned -- `lor_mesh` already has `GridFunction` nodes, so `EnsureNodes` will be no-op (the nodes are already defined). On the other hand, `SetCurvature` will replace the nodes with a new `ParGridFunction` even if the nodes are already defined.

I guess when I said "`EnsureNodes` works in parallel", I meant "works as intended". 😄  In particular, it

[2020-03-18 18:09] kennyweiss commented on #1361
Thanks for the explanation @v-dobrev -- that makes sense.

[2020-03-19 00:44] yaohongbo-geophysics commented on #1358
@uvilla ,Thanks for your work! It can actually help me understand the assembly process better！

[2020-03-19 01:41] fanronghong commented on #1359
Thanks @tzanio , I understand it.

[2020-03-19 01:43] #1359 closed

[2020-03-19 08:32] LeilaSalomon commented on #1351
Thank you so much !!!
Now, when I try to compile a code, I have hundreds of error lines (which I didn't have with version 3.4!). Can't I compile both versions in the same way ?

[2020-03-19 12:44] #1358 closed

[2020-03-19 14:22] LeilaSalomon commented on #1351
Oh.. forget this question, I forgot to specify the C++ version, so the library could not be read...

[2020-03-19 18:40] #1355 closed

[2020-03-20 14:25] LeilaSalomon commented on #1351
Thank you for your help !! I'm able to run the exemple "findpts" with mfem and gslib ! This is exactly the example I was looking for to solve my problem !

I just have one last question, I don't know how to configure the "finder.Setup()" for a tetrahedral mesh. This only works for a quadratic mesh...

[2020-03-20 15:13] #1361 closed

[2020-03-20 15:49] kmittal2 commented on #1351
You should have support for simplices with findpts within the next few days. See [PR#1304](https://github.com/mfem/mfem/pull/1304), which will likely be merged this weekend.

[2020-03-20 16:19] tzanio commented on #1348
Fixed by https://github.com/mfem/mfem/pull/1360/commits/7bb0d6572f290a951e0b8a4c104026a960fe6568

[2020-03-20 16:19] #1348 closed

[2020-03-20 18:01] v-dobrev commented on #1088
Should be fixed in https://github.com/spack/spack/pull/15500.

[2020-03-20 18:04] cyrush commented on #1088
@v-dobrev thanks!

[2020-03-22 18:25] tzanio commented on #1088
@cyrush, can you confirm the above fix works for you?

[2020-03-22 18:29] tzanio commented on #1336
@mlstowell or @v-dobrev, can you help Ido with this?

[2020-03-22 18:30] #1351 closed

[2020-03-22 18:41] tzanio commented on #1356
Discussion continued offline

[2020-03-22 18:41] #1356 closed

[2020-03-22 19:02] tzanio commented on #1273
ping: @jamiebramwell, @jandrej

[2020-03-22 19:15] tzanio commented on #1363
Hi @Christopher-Water,

Below are some answers. Hope they help.

Tzanio

In the VTK mesh you should assign different "material" id to the elements in different material regions, see

https://github.com/mfem/mfem/blob/master/data/beam-hex.vtk,

and then use e.g. a piecewise constant coefficient to specify different values, see

https://github.com/mfem/mfem/blob/master/examples/ex2.cpp#L169-L176.

E

[2020-03-22 19:38] tzanio commented on #1115
I'm not sure this "loop" perspective is the correct approach for this. While in some case (for DG) we keep face-neighbor elements in parallel, edge-neighbors are certainly not available, so the loops can not be just local.

Wouldn't it be easier to consider this a kind of `LinearForm` which is automatically assembled in parallel?

[2020-03-22 19:52] jandrej commented on #1273
If you can, please provide more information what you are trying to do.

The `GetGradient(x)` method is for forming the first variation of the nonlinear functional. Element contributions are the same in serial and parallel. There is a difference in the assembly process. If you want to use interior face Integrators in a ParNonlinearForm right now, this won't work.