[2022-01-10 15:25] termi-official commented on #2756
For "union" estimates I have plumbered together a very simple solution:

[code]

if you want the intersection just replace `max` with `min` in the get local errors section. If your fields have different scales, then you also have to rescale/normalize the fields accordingly with this approach. Hope this helps.

[2022-01-10 17:56] rcarson3 commented on #2388
@williamfgc I ran into this issue as well while using a v2.7.1 build with a cmake build of mfem. I found I had to add the following to my cmake invocation to get things to work:
`-DCMAKE_CXX_FLAGS=-DADIOS2_USE_MPI` . I was able to compare the v2.5.0 and v2.7.1 branches and found that sometime between the two that `ADIOS(int define_ADIOS2_USE_MPI_to_use_MPI_constructor) = delete;` definition was ad

[2022-01-10 18:16] williamfgc commented on #2388
@rcarson3 thanks for reporting this. Which adios2 distribution? I remember you used conda at some point. A typical adios2 installation ships with all the cmake relevant configuration under (`adios2/lib/cmake/adios2`).  ADIOS2 v2.6 moved to a unified distribution for MPI and non-MPI libraries, so there are some changes in the API constructors to avoid conflicts (or it might have introduced one). Ho

[2022-01-10 18:31] rcarson3 commented on #2388
@williamfgc I'm currently using a spack build for this as I've run into issues trying to install it manually. I'm using the below spack install command:

`spack install adios2@2.7.1+hdf5~fortran~python ^mvapich2@2.3%gcc@10.2.1 ^hdf5@1.8.21` this is with the master branch of spack and its running on one of our CTS machines here at LLNL. The spack compiler and package yaml files are based on the one

[2022-01-10 19:41] Maatinski opened #2759 "Problems with hexahedral NC mesh"
Hi all,
Happy New Year!
I am finally resuming some of the work I was doing on non-conforming mesh representing anatomical models (see https://github.com/mfem/mfem/issues/1432) to be used for eddy-current simulations, i.e., electric fields induced by external coils. I am generating the NC meshes (hexahedral cells) in Matlab and exporting them as a `.mesh` file. The Matlab routine starts with a unif

[2022-01-11 11:15] katto01 opened #2761 "mesh export formats"
Hello,

Is mfem able to export mesh in any of the following formats?

.exo
.e
.pat
.out
.facet
.mdl
.nas
.bdf

Thank you

[2022-01-11 18:29] #2680 closed

[2022-01-11 18:35] jandrej commented on #2761
You can save the mesh using the `ParaViewDataCollection` and export from ParaView to .exo (ExodusII) for example. You will loose some information though.

[2022-01-11 23:23] #2574 closed

[2022-01-12 00:40] v-dobrev commented on #2660
Hi @rezgarshakeri,

I'm not sure if the above comments were meant just as a status update, or not. If you need help to proceed, can you elaborate what part of the algorithm is the problem?

[2022-01-12 01:46] v-dobrev commented on #2703
Is your hypre directory from a release (no `.git` directoory) or from a clone? If you cloned the latest hypre, make sure you have the `.git` directory -- otherwise hypre cannot export properly `HYPRE_DEVELOP_NUMBER`.

[2022-01-12 02:08] v-dobrev commented on #2703
Judging by the prototype of `hypre_BoomerAMGCoarseParms` you posted earlier, you are using a commit after 2.23.0. In v2.23.0 the prototype is: https://github.com/hypre-space/hypre/blob/v2.23.0/src/parcsr_ls/_hypre_parcsr_ls.h#L1782 i.e. the last argument is `HYPRE_BigInt **coarse_pnts_global_ptr`.

So it looks like you don't have the `.git` directory since `HYPRE_DEVELOP_NUMBER` is undefined.

[2022-01-12 03:01] v-dobrev commented on #2627
Hi @faircdl,

Note that there are two different messages: one is for boundary elements (whose orientation is typically automatically fixed, according to the MFEM conventions -- the fixing algorithm assumes that the "volume" elements are already oriented according to the MFEM conventions); and the second message is about the elements, i.e. the "volume" elements -- this is what you see. Since you ar

[2022-01-12 15:43] LeilaSalomon opened #2762 "Product of two VectorCoefficient"
Hello,

I know :

- ProductCoefficient to obtain the product of two Coefficient.

- ScalarVectorProductCoefficient to obtain the product of a Coefficient and a VectorCoefficient.

For 2  VectorCoefficient named **A** and **B**, I would like to know if there is an operator (seems to those mentioned above) able to solve the product : **A**x * **B**x + **A**y * **B**y ?

[2022-01-12 16:19] rezgarshakeri commented on #2660
Hi @v-dobrev ,
Thanks for your comment. That comment is just and an update. I am trying to implement backward Euler as I wrote it above. One question I have is, can we compute `C*p(t_n)/dt` to avoid creating those block zero matrices shown above?
Sorry for not updating so long, I am implementing H(div) space using BDM element in libCEED and later I'll compare it with RT element in mfem.

[2022-01-12 17:30] mlstowell commented on #2762
Hello, @LeilaSalomon,

There is the [InnerProductCoefficient](https://github.com/mfem/mfem/blob/0f239c22e03b8e3b7d8e3311597ca6d809e8f5c2/fem/coefficient.hpp#L1484).

Best wishes,
Mark

[2022-01-12 19:23] Maatinski commented on #2759
Okay, it does seem like there was something wrong with the `parent_vertex` information; it seems to work now.

[2022-01-13 08:12] LeilaSalomon commented on #2762
Thank you for your answer :)

Now if I had 3 VectorCoefficient named **A**, **B** and **C**. I woulk like to obtain an other VectorCoefficient (with 2 components) :

First component : **A**x * **B**x + **A**y * **B**y
Second component : **A**x * **C**x + **A**y * **C**y

Is it possible without using GridFunction ?

[2022-01-13 09:41] LeilaSalomon opened #2763 "VectorConvection for a source term"
Hello !

I would like to solve :

![image](https://user-images.githubusercontent.com/40572513/149303863-aad1aecb-8ebc-4ddf-be1d-2e36492bd71e.png)

With **u** a know vector (source terme) **x** my unknow and omega my test function.

I can't use VectorConvectionNLFIntegrator because  **u** in my case is a source term, and not a unknow.

Best wishes,

Leila

[2022-01-13 13:58] Andr00dz commented on #2762
Hi @LeilaSalomon,

[VectorArrayCoefficient](https://mfem.github.io/doxygen/html/classmfem_1_1VectorArrayCoefficient.html) might be the coefficient you are looking for.

[2022-01-13 15:15] LeilaSalomon commented on #2762
Hi @Andr00dz !

How can I build this VectorArrayCoefficient with the two InnerProductCoefficient ?

[2022-01-13 15:32] bensworth commented on #2703
Hi Veselin, I do have the .git directory and am up to date with master,

[2022-01-13 15:41] bensworth commented on #2703
Okay, a fresh clone of hypre and clean make of mfem with the new hypre seems to fix the issue. Not sure where it came from, but everything seems to be working now!

[2022-01-13 15:41] #2703 closed

[2022-01-13 16:12] Andr00dz commented on #2762
When you have `AB = InnerProductCoefficient(A,B)` and `AC = InnerProductCoefficient(A,C)`,
you can create the VectorArrayCoefficient via:

[code]

[2022-01-13 18:23] sin2cos opened #2764 "How to evaluate the integral of the form $\int u ds\int v ds$"
![51D245E3-B63E-409B-866E-88AB387AA9A5](https://user-images.githubusercontent.com/62394271/149388140-55c54c3d-52d2-4c1d-bc04-cb42f34e19c1.jpeg)
Hi, I am new to MFEM, I am trying to solve my EIT problem with MFEM, but an integral of the form $\int u ds\int v ds$ appears in my weak form, as been highlighted in the picture, and I checked the integrators in MFEM, I can not figure out how to implement

[2022-01-13 19:22] mlstowell commented on #2764
Hi, @sin2cos,

This does look unusual but there may be a way to handle this. It would help to know a little more about the problem. For example, what is the, `e_l`, domain of these integrals?

Also, just out of curiosity, what is EIT?

Best wishes,
Mark

[2022-01-13 20:54] tangqi opened #2765 "Use GetHessians in RHS"
Hi,
I am trying to solve the following equation for f
Δf = Phi_xx Phi_yy -Phi_xy^2 - J^2 - (J_x Psi_x + J_y Psi_y)
where Phi, Psi, and J are all already solved GridFunctions.

I am trying to define RHS as a coefficient and then call DomainLFIntegrator like this
[code]

But this is not how GetHessians work. Any suggestions?
Qi

Correction: I think to use DomainLFIntegrator, I need to evaluate the R

[2022-01-14 01:02] v-dobrev commented on #2759
Hi @Maatinski, glad you found the issue! Looking at the error message you got, it does make sense that there was an issue with the `parent_vertex` information. As I understand it, the error indicates that there is a vertex that is a parent of itself when following the relations `vertex -> (parent vertex 1, parent vertex 2)`. I wonder why you did not see the issue on 1 rank -- were you using the sa

[2022-01-14 02:29] v-dobrev commented on #2763
If `u` is a FE function (e.g. a `(Par)GridFunction`) you can still use a `(Par)NonlinearForm` with a `VectorConvectionNLFIntegrator` -- to assemble the r.h.s, create the `(Par)NonlinearForm` and apply its action to `u` (to its true-vector representation, to be more precise) using `Mult`.

If `u` is given analytically (e.g. as a `VectorCoefficient`) then you can either:
1. project it to a vector `(

[2022-01-14 03:43] v-dobrev commented on #2765
If I understand correctly, the rhs `Phi_xx Phi_yy -Phi_xy^2 - J^2 - (J_x Psi_x + J_y Psi_y)` is a scalar, so you need to derive your `RHSCoefficient` from class `Coefficient` and override the virtual method: https://github.com/mfem/mfem/blob/0f239c22e03b8e3b7d8e3311597ca6d809e8f5c2/fem/coefficient.hpp#L53-L59 In that case you only have a single `IntegrationPoint` and not `IntegrationRule` (which i

[2022-01-14 04:07] v-dobrev commented on #2660
Since you assemble `C` (or `C/dt`), you can compute the r.h.s. contribution `C*p(t_n)/dt` for the equations at `t=t_{n+1}` by sparse matrix-vector multiplication since you have the vector `p(t_n)` from the previous time step.

[2022-01-14 04:15] v-dobrev commented on #2660
No problem at all, there's no rush. It will be interesting to see what you find in your comparison. We can certainly add BDM to MFEM too, if there is interest.

[2022-01-14 13:28] LeilaSalomon commented on #2762
The previous lines must be written like this :

[code]

no ?

I have an error.. I can't understand what is wrong :

![Error](https://user-images.githubusercontent.com/40572513/149522777-0df31123-0f73-4b4a-a42f-7c2b9da72876.png)

[2022-01-14 13:48] Andr00dz commented on #2762
You are right. Can you try the following:
[code]

[2022-01-14 14:05] LeilaSalomon commented on #2762
Ah yes I no longer have an error message!
What does `false` mean?

[2022-01-14 14:25] Andr00dz commented on #2762
With the additional `false`, you tell the `VectorArrayCoefficient vCoeff` that it is not the `owner` of the inserted coefficients `AB` and `AC`. This ensures that during the destruction of `vCoeff`, `AB` and `AC` will be not deleted and no double free errors occure.
`AB` and `AC` will be destroryed afterwards, when their corresponding destructor is called.

In the [documentation](https://mfem.gith

[2022-01-14 15:21] Maatinski commented on #2759
Hi @v-dobrev ,
thanks for the comments! I ran some first tests with bigger models and things are starting to look pretty good! I haven't followed up on the weird effect I have seen before, as it was almost certainly an issue in my mesh (now completely gone). I do have two other quick questions though:

### **1. The meshes (gz-compressed) take very long to load**

Quick summary of loading different

[2022-01-14 18:52] jakubcerveny commented on #2759
Hi @Maatinski

Do you think you could send me a minimal example showing how you are loading the meshes and ideally also the mesh files (through Google Drive, or wetransfer, or anything), so I can profile the loading code?

Thanks,
Jakub

[2022-01-14 20:51] Maatinski commented on #2759
Hi @jakubcerveny
Thanks for looking into this, I really appreciate this!
I just sent you an Email with links to the four different models.

As for the minimal example: I am using the following command to read the mesh:
`mesh = new Mesh(mesh_input, 1, 1);` with `mesh_input` being the path. Happy to send you a working code piece, but I assume this is the standard workflow for reading the mesh, corre

[2022-01-14 22:29] logantm2 opened #2768 "Navigating ParMesh shared face connectivity"
Is it possible to grab info from a `ParMesh` about how faces are shared between MPI ranks? Specifically, I'd like to loop through all the shared faces on an MPI rank and figure out, for each one, which MPI rank shares it, and the global element indices of the elements on either side of the face (or better yet, local element indices according to whichever MPI rank owns them). I noticed that `Exchan

[2022-01-14 23:57] dylan-copeland commented on #2768
Hi @logantm2, thanks for the question. Coincidentally, I have been working on this issue this week, for the general case of non-conforming AMR meshes. There seems to be no straightforward to get this information. I have had some ideas, but the best implementation may depend on some recent work by @YohannDudouit, see https://github.com/mfem/mfem/pull/2195. If you are only interested in the case of

[2022-01-15 00:05] logantm2 commented on #2768
Actually that works out perfectly, we're restricting our purview to conforming meshes.

[2022-01-15 08:56] jakubcerveny commented on #2759
Hi Mathias, I didn't get the email, are you sure you have the right address? It's jakub.cerveny@gmail.com. Thanks!

[2022-01-15 09:01] jakubcerveny commented on #2759
Hi Mathias, please disregard the last comment (now deleted), I got the email. Thanks!

[2022-01-16 08:44] tbridel opened #2772 "Read a PETSc DMPlex as a mesh for MFEM"
Dear all,

I am in the following situation. I have a Gmsh mesh containing two domains (two physical surfaces or two physical volumes for instance). On one I wanna use finite volume and on the other finite elements. I am also using PETSc, meaning I’m reading the Gmsh mesh into a DMPlex and then splitting it into two parts , one for the FV and one for the FE. I would like to pass the FE part to MFEM

[2022-01-16 15:03] sin2cos commented on #2764
@mlstowell

Hi Mark,

Sorry for bothering, I still can not solve the above problem, do you have any idea on how I may deal with it?

Best Wishes,
Changyou

[2022-01-16 18:56] jandrej commented on #2772
Hello Thibault,

while probably doable, we currently don't read `DMPlex` or any PETSc `DM` directly. What you can do is to create a "translate function" that creates an `mfem::Mesh` from a `DMPlex` object by iterating through the elements.

If you plan to use AMR, I don't think this will be a viable solution due to overhead and the vastly different concepts in `DMPlex` and `mfem::Mesh` of handling

[2022-01-17 10:08] tbridel commented on #2772
Hi Julian,

Thank you for your answer.
I thought I would ask because since one can link PETSc to MFEM for the
algebra machinery, I wondered if maybe you had given a thought to linking
the DMPlex capabilities as well ! It's okay, I'll see what I can do and
I'll come back to you if I need help !

Cheers,

Thibault

Le dim. 16 janv. 2022 à 19:56, Julian Andrej ***@***.***> a
écrit :

[2022-01-17 11:19] pmguilcher opened #2773 "Modify integration rule for bilinear forms"
Hello,

I would like to give a specific integration rule to bilinear forms (MixedScalarMassIntegrator, MixedDirectionalDerivativeIntegrator) and linear forms (DomainLFGradIntegrator).

I know it is possible for DomainLFGradIntegrator. Could you please give me some advice to do it? I have to declare a new constructor for each form, with an integration rule as parameter, but I'm not sure of the way

[2022-01-17 17:15] vkorchagova opened #2774 "Integration points and shapes pre-computation"
Good evening!

I'm working on the Discontinuous Galerkin solver based on MFEM. When I've profiled the code by gperftools, I saw that I should compute values of shape functions every time step several times (for face flux computation, for average values used in limiter and for unlimited solution values on faces in limiter procedure). Is it possible to store pre-computed values for shapes and integr

[2022-01-17 20:23] pazner commented on #2773
Hello Pierre,

Just call `SetIntegrationRule` on the integrator after you create it — no need for a custom constructor, e.g.
[code]

[2022-01-18 07:49] pmguilcher commented on #2773
Thank you very much, it works perfectly!

Thank you also for your quick answers, the helpdesk is always very fast with pertinent propositions.

Pierre

[2022-01-18 07:49] #2773 closed

[2022-01-18 18:21] tuckerbabcock opened #2775 "Get magnitude of vector field as a field"
Hi all, I'm wondering about possible approaches to use to get the magnitude of an RT vector field as a scalar field (probably in L2)?

The real use case for this is to get field that represents the magnitude of the magnetic flux density field. Right now I solve a magnetostatics problem to get the magnetic vector potential (in an ND space), and then use a `DiscreteLinearOperator` with a `CurlInterp

[2022-01-18 20:26] M8kmyday opened #2776 "Issue with Jacobian for 2D boundary integrator"
I am doing a 2D full-wave electromagnetic eigenvalue calculation to get the complex propagation constant followed by post-processing with the eigenvectors to get the electromagnetic fields along with quantities calculated from the fields.  I am working on calculating the loss adder due to finite conductivity boundaries.  I currently brute-force integrate the fields along the boundaries and get the

[2022-01-18 20:38] mlstowell commented on #2764
HI, @sin2cos,

I just saw your follow-up email today. I hope you don't mind but I'm more accustomed to keeping the discussion here in the GitHub issue.

In your email you mentioned that the `e_l` are patches of the surface of your object. I assume the surface of the object is also the surface of your mesh. If this is the case the integrals `\int_{e_l}u dS` and `\int_{e_l}v dS` will be equal and ca

[2022-01-18 21:39] tuckerbabcock commented on #2775
Just thinking on it a little more, I guess it wouldn't be correct to use a `MixedBilinearFormIntegrator` since the process of going from RT to L2 (taking the magnitude) would be a nonlinear operation. Is there any support for rectangular nonlinear operators in MFEM?

[2022-01-18 22:07] mlstowell commented on #2776
Hello, @M8kmyday,

The `VectorFEBoundaryTangentLFIntegrator` class is only designed to be used in 3D.

If your field is represented using Nedelec basis functions then the integral of the tangential components can be easily computed using the `VectorFEDomainLFIntegrator`. This works because the Nedelec basis functions corresponding to degrees of freedom on the boundary are all tangent to that bound

[2022-01-18 22:18] M8kmyday commented on #2776
Wouldn't a domain integrator integrate over the entire 2D cross section?  I'm looking for the value just at the boundary.

[2022-01-18 22:22] mlstowell commented on #2776
The integrators don't control their domain. The domain is determined by the method used to add the integrator to the `ParLinearForm`. In this case you're using `AddBoundaryIntegerator` so it will loop over boundary elements. I see that this is a bit counterintuitive particularly since the integrator has "Domain" right there in the name. We probably need better documentation to explain this more fu

[2022-01-18 22:25] M8kmyday commented on #2776
Ok.  I'll work on this and report back.

[2022-01-18 23:54] dylan-copeland commented on #2768
For the conforming case, the linked minimal example does what is needed (thanks to @pazner and @v-dobrev for helping with this).
[https://gist.github.com/pazner/5f2da685314dcd369f85da4e1aa5314d](url)

[2022-01-19 00:43] M8kmyday commented on #2776
Changing to:
      `lossPECt_re.AddBoundaryIntegrator(new VectorFEDomainLFIntegrator(Ht_re_coef),bdr_attr);`
I get the error:
      `MFEM abort: method is not implemented for this class
       ... in function: virtual void mfem::FiniteElement::CalcVShape(mfem::ElementTransformation&, mfem::DenseMatrix&) const
       ... in file: fem/fe.cpp:49`
The H-field is calculated using RT elements, which is

[2022-01-19 01:11] mlstowell commented on #2776
Oh, I had assumed `H` was in ND.

RT basis functions on the 1D surface of a 2D mesh are essentially equal to the discontinuous scalar L2 basis functions and represent only the normal component of the vector field. In other words you have no information about the tangential components of an RT field on the boundary of the mesh. This is not peculiar to 2D meshes the same limitation would exist on th

[2022-01-19 01:30] M8kmyday commented on #2776
I am solving a system in E only, where E=Et+zhat Ez exp(-gamma z).  Et is in ND and Ez is in H1.  As an experiment, I switched Et to RT, but the needed CurlCurl method is not supported.  H is calculated from the solution for E, with once again, H being defined as Ht+zHat Hz exp(-gamma z).  I can do Ht in either RT or ND, but the ND solution is completely wrong.  Here is an example computed field t

[2022-01-19 05:29] #2673 closed

[2022-01-19 08:24] LeilaSalomon commented on #2762
Ok, thank you very much for your help ! And informations !

Best wishes,

Leila

[2022-01-19 14:08] sin2cos commented on #2764
@mlstowell
Hi Mark,

Thank you for your detailed information, I think you have understand my question correctly, and your suggestion here is helpful for solving my problem. The only thing I don’t understand is whether parallel computation is still doable with MFEM after the outer product with entries w[i] * w[j] / |e_l|.

I am actually trying to understand the codes these days, hope I can inherit

[2022-01-19 14:33] logantm2 commented on #2768
Awesome, that does exactly what we need. That's a clever trick, using 0th order DG. Thanks!

[2022-01-19 14:33] #2768 closed

[2022-01-19 15:50] wcdawn opened #2777 "DGTraceIntegrator in 3D"
I am using a `DGTraceIntegrator` along with `ParBilinearForm::AddBdrFaceIntegrator` in an H1 FE space to impose boundary conditions required for my equations. In 2D, this works fine and I have run some analytic benchmarks to make sure the solution is correct. I have also run more complex 2D models and everything seems fine.

In 3D, the solution quickly goes out of control and the grid function is

[2022-01-19 16:49] #2761 closed

[2022-01-19 16:50] #2745 closed

[2022-01-19 17:17] mlstowell commented on #2776
Hi, @M8kmyday,

That image looks reasonable to me. By the way, I'm not familiar with the term "loss adder".

It seems that you will need Ht represented in the ND basis. You say that you have tried this and the result is completely wrong. Perhaps we can fix it. We should be able to compute H from E using Faraday's law: `Curl Ez = i omega mu Ht`.
The curl operator would use the `MixedScalarWeakCurlI

[2022-01-19 17:21] mlstowell commented on #2762
I'll close this now but feel free to reopen it if needed. Also, thanks @Andr00dz for your clear explanations.

Best wishes

[2022-01-19 17:21] #2762 closed

[2022-01-19 17:43] mlstowell commented on #2764
Hello, Changyou @sin2cos,

I'm sure MFEM can do much of the work but we may not have a complete solution. Finite element bilinear forms integrate each element separately but you need to incorporate information from other elements on the same surface patch. This is not something that usually happens in finite element methods and we don't have an easy way to setup the BilinearForm matrix with the ne

[2022-01-19 17:58] #2728 closed

[2022-01-19 18:03] tzanio commented on #2726
@wcdawn can you confirm if @cwsmith's fixes work for you?

[2022-01-19 18:04] tzanio commented on #2723
Thanks for reporting this @adam-sim-dev.

These warnings have been present for a while... @camierjs, @dylan-copeland, @mlstowell -- any ideas how to fix them?

[2022-01-19 18:06] tzanio commented on #2701
This is now being addressed in the PRs listed above. See the follow-on discussions there.

[2022-01-19 18:06] #2701 closed

[2022-01-19 18:17] tzanio commented on #2772
@stefanozampini, any thoughts on this?

[2022-01-19 18:50] tzanio commented on #2775
Hi @tuckerbabcock,

This is already done in GLVis using essentially `GridFunction::ProjectVectorFieldOn()`.

Specifically, you can replace the original vector grid function with (exact) L2 projection as in https://github.com/GLVis/glvis/blob/master/lib/stream_reader.cpp#L338-L362.

Then you can extract the components as L2 grid functions and compute the magnitude, see https://github.com/GLVis/glvi

[2022-01-19 22:06] stefanozampini commented on #2772
As @jandrej already said, writing a conversion from a cell-vertex mesh is doable and quite easy, I can give help if needed and point to the relevant DMPlex API, mostly `DMPlexGetTransitiveClosure`. There are possibly a few difficulties in handling orientations since DMPlex handles hexas a little bit differently (all normals pointing outward). For high order meshes, it is more cumbersome, as we nee

[2022-01-19 22:16] rcarson3 commented on #2388
@williamfgc so I can't seem to open ADIOS2 files using paraview 5.9.1 on ORNL's Andes platform. However, data I've generated on Summit and saved off using ADIOS2 also crashed in Paraview when moving to the next frame on my home desktop. So, I'll work on a small reproducer data set and open an issue, but  this will probably won't be until next week.

[2022-01-19 23:23] M8kmyday commented on #2776
Since I have solved solutions for Et and Ez, I am using linear operators to calculate the H components from the E components.  For Ez, the solution is stored in grid_Ez_im_iom, where the Ez field component has already been multiplied by 1/(omega mu).  Here is one part of it:
      fec_Ht_Ez=new RT_FECollection(mesh_order-1,pmesh->Dimension());
      fespace_Ht_Ez=new ParFiniteElementSpace(pmesh,fe

[2022-01-20 04:03] v-dobrev commented on #2759
Hi Mathias,

Regarding the second question: I don't see anything out of place. This is not in the code snippet but I assume the index `gc` in the call to `GetVectorValue()` uses the same range as `cnt` in the line `intps[cnt] = ip;` and that `mpi_grid_to_cell_index[gc]` is equal to `mc` used in the call to `GetElementTransformation()`. Basically, for every sample point, you determine and store the

[2022-01-20 09:44] xigetongkuaizao opened #2778 "Question about the (ess_tdof_list,x,b,a,X,B,A)->size() meanings,what happen to the myid=0 in MPI using."
I am confused about the matrix size of( a,b,x A,B,X AND the ess_tdof_list),especially running with the MPI. So I coding in using:
code :

[code]

mpiexec -n 4 ex4p

The result:
[code]

Questing:   why  (X,B A,A).size()=(x,b a,a).size()=2568 in the MPI id=0,while the other id(1,2,3) the size() is different???

[2022-01-20 12:31] Maatinski commented on #2759
Hi Veselin,
sorry for the missing pieces of code, but you're exactly right!
Thanks for double-checking this!
Mathias

[2022-01-20 13:12] wcdawn commented on #2726
Sorry for the delay. The fixes from @cwsmith do, in fact allow attributes to be read, but only for `PumiMesh`, not for `ParPumiMesh`. In `PumiMesh`, the mesh is loaded with `PumiMesh::ReadSCORECMesh()` but in `ParPumiMesh`, the mesh is simply loaded in the constructor `ParPumiMesh::ParPumiMesh()`.

Similar changes need to be made to the `ParPumiMesh` constructor to allow this to be used with paral

[2022-01-20 17:38] dylan-copeland opened #2779 "Bug in GetHpRestrictionMatrix"
The minimal example in this Gist produces the attached plot. The example does the following:

1. Make a serial mesh with 2 elements.
2. h-refine element 1.
3. Create a `FiniteElementSpace` with order 2, then increase order to 3 just on element 0.
4. Project (locally interpolate) the constant coefficient 1 to a `GridFunction`.
5. Unsuccessfully enforce the conforming constraints to the interpolated

[2022-01-20 18:10] mlstowell commented on #2751
Hello, @logantm2,

I cannot really speak to the GPU portion of this issue but I do have one comment. Have you looked at the `DeltaCoefficient`? This is the current MFEM solution to specifying point particles. It is designed for a single particle location but you may be able to extend this same design so that it would be more efficient for a large group of particles. One example of its use is in th

[2022-01-20 18:37] cwsmith commented on #2726
@wcdawn This [commit](https://github.com/SCOREC/mfem/commit/bf3b040c9d95b0c396fe06b5a5f08bddd254adf5) (followed by a cleanup [commit](https://github.com/SCOREC/mfem/commit/6a9c53e8dddabdcb56e39811b0024bc04cbd94c3)) enables attribute transfer from gmsh for the partitioned meshes.  Running `./glvis -m /path/to/parallel/mfem/mesh -np 8 -a` on an eight part mesh produced by `pumi/ex1p.cpp` (which load

[2022-01-21 17:47] jandrej commented on #2755
Can you elaborate on the physics you are trying to implement? I can't identify the equation as a continuity equation for conservation of mass.

[2022-01-21 20:29] wcdawn commented on #2777
This was my fault...
The error was actually in a custom diffusion integrator I wrote that wasn't handling 3D properly.
Sorry for the confusion.

[2022-01-21 20:29] #2777 closed

[2022-01-21 20:46] jontateixeira commented on #2755
Hello,

Thank you @jandrej  for helping me!. So the equation, in the first post, is the combination of Darcy's equation[^1] with the law of conservation of fluid mass and using these assumptions:

* no gravity effects;
* the solid matrix is incompressible (for now...);
* porosity <img src="https://latex.codecogs.com/png.image?\dpi{120}&space;\bg_white&space;\inline&space;\phi" title="\bg_white \in

[2022-01-21 20:47] wcdawn commented on #2726
Thanks @cwsmith! I've been able to replicate your results and use PUMI to pre-partition a mesh in my own MFEM based program.

[2022-01-21 20:48] MarkShephard commented on #2751
I am not sure I am following all the details. However, since there is a plan to use PUMIPic for the mesh/particle structure on the PIC side as part of your development, I think there is a good chance that it can take care of the functions you need and will do it on the GPU. Since we already have Omega integrated with MFEM this may all fit together reasonably well. We may want to have a follow-up d

[2022-01-21 21:39] cwsmith commented on #2726
@wcdawn You're welcome.  I'm glad that worked.

The PUMI changes should be merged into PUMI master tomorrow morning.  Once that goes through I'll submit a PR to merge the MFEM changes.

[2022-01-21 21:46] v-dobrev commented on #2687
Apologies for the late reply.

My suggestion will be to use a global L2 projection onto the NURBS space, i.e. solve the variational problem
[code]
where `u` is the coefficient you want to project, `u_h` is the desired projection, and both `u_h` and `v_h` are in the NURBS FE space. Let us know if you need more details about implementing this.

[2022-01-21 21:49] marc-85 commented on #2687
Hi @v-dobrev. Thanks for the reply.
I believe that is what we ended up doing.

[2022-01-21 21:49] #2687 closed

[2022-01-21 21:55] logantm2 commented on #2751
I see, that makes sense. I wasn't sure if the particle charge gather/scatter would be done through mfem APIs, but it sounds like pumipic will do it for me. Thanks

[2022-01-22 03:54] v-dobrev commented on #2751
For completeness, I'll just add that both

can be easily done on CPU. For 1, see class `InverseElementTransformation` and the simplest use case for it in `IsoparametricTransformation::TransformBack()`. For 2, this is what the virtual methods `FiniteElement::CalcShape()` and `FiniteElement::CalcDShape()` do -- they return the values and derivatives, respectively, of all basis functions on the refer

[2022-01-22 18:53] jakubcerveny commented on #2759
I profiled loading of @Maatinski's mesh files and I'm afraid we can't do much to speed up the loading of NC meshes. The extra time is all spent on creating and searching the Face and Node hash tables.

Here is an overview:
![profile1](https://user-images.githubusercontent.com/1349371/150651317-55ce3ca8-2e95-4c47-b7c6-b6a92bd36dec.png)

When one goes deeper it's all mostly the HashTable (also in On

[2022-01-22 23:26] Maatinski commented on #2759
Hi Jakub,
thanks for the update! Is there a certain way to order the cells and/or vertices in the mesh file to speed up generation of the hash tables?
I ran some more tests in the past days using larger meshes with up to 70M children cells (i.e., not counting refined cells) and things really looked odd. Loading and initializing the meshes alone took 3-4 hours (I cannot remember the exact number) f

[2022-01-23 09:11] jakubcerveny commented on #2759
Hi Mathias,

I don't think there is a way to order the elements/vertices to speed up the hash table initialization, nor should the user be required to do so. What I should do, however, is double-check that the hash function is not failing (generating too many collisions) and that there isn't some other suboptimality (we could try using std::unordered_map internally, just to see how it performs). I

[2022-01-23 11:07] jakubcerveny commented on #2759
I found a bug that was causing slow queries in the `Node` hash table. The table wouldn't resize itself during `LoadVertexParents`, this is now fixed in #2781.

Overall, the load is still dominated by hash table operations (we still pay the price I was talking about), but at least loading the `vertex_parents` section should now scale much better. I'm hoping it could unblock Mathias' large meshes.

[2022-01-23 22:51] tzanio commented on #2726
thanks @cwsmith !

[2022-01-23 22:53] #2756 closed

[2022-01-24 00:22] tzanio commented on #2778
This is due to the fact that some of the parallel degrees of freedom are shared between processor, and in MFEM such shared  objects are assigned to the lowest MPI rank.

Consider for example this portion of the image in https://mfem.org/howto/assembly_levels (see also https://mfem.org/pri-dual-vec/#true-degree-of-freedom-vectors):

![tdofs](https://user-images.githubusercontent.com/1278247/1507040

[2022-01-24 16:05] vkorchagova opened #2783 "Possible memory leak in ParaViewDataCollection->Save()"
Hello everyone!

I've found an overflow of memory on cluster nodes when I compute problems with large meshes. I checked a memory consumption by `htop` command, and I saw a step-like increase of memory usage in moments of data writing by function `ParaViewDataCollection->Save()`.
To reproduce a problem, I added ParaViewDataCollection into Example 18; here, you can find pieces of code:
[code]
 .....

[2022-01-24 18:00] jandrej commented on #2755
I still don't follow how you plan to solve
<img src=
"https://render.githubusercontent.com/render/math?math=%5Cdisplaystyle+%5Cbegin%7Balign%2A%7D%0A%5Cfrac%7B%5Cpartial+%5Crho%28p%29%7D%7B%5Cpartial+t%7D+%3D+f%28p%29%0A%5Cend%7Balign%2A%7D%0A"
alt="\begin{align*}
\frac{\partial \rho(p)}{\partial t} = f(p)
\end{align*}
">
when the ODE solver uses a different formulation.

[2022-01-24 19:14] Maatinski commented on #2759
That's awesome news! Thanks a lot for looking into this, Jakub!

I ran a bunch of quick tests today: with/without the bug, and also using a conforming mesh with roughly the same number of elements (~74M) for comparison:

| _Mesh_  | Loading | Assemby | Solve |
| ------- | ------ | ------- | ------ |
| NC with bug  | **184.4 min**  | 63.5 min  | 10.8 min  |
| NC without bug  | 13.7 min  | 5.2 min

[2022-01-24 19:41] jakubcerveny commented on #2759
Mathias, I'm glad this helped and thanks for testing. The comparison is interesting. I wish the loading time was more comparable with the conforming case, and especially the assembly time should be more similar (although the NC P matrix is more expensive to build). How much trouble would it be, if at all possible, to send me the minimal data that would allow me to profile this?

Sounds good :-))

[2022-01-24 19:58] jakubcerveny commented on #2759
So if I understand, you have a Matlab solution that calculates the refinement structure and derives the mesh file "manually" without MFEM? That must have been non-trivial! I think a similar effect could be achieved directly with MFEM, provided the voxel material data is accessible from C++. You could start with a 4x4x4 mesh and refine it similarly as in the `shaper` miniapp and then just save the

[2022-01-24 23:58] Maatinski commented on #2759
Hi Jakub,
I will put together a minimal working example code tomorrow and send it to you..
As for your suggestion to do all the meshing/refinement in MFEM: Initially I wanted to do this in Matlab to have some more control of the mesh, but especially in light of the efficiency and ability to load bigger meshes, handing this over to MFEM absolutely makes sense! I will have a look.

Mathias

[2022-01-25 00:27] jontateixeira commented on #2755
Hi @jandrej,

My question is exactly this! I know that ODE solver need that the formulation must be write in this form:

<img src="https://latex.codecogs.com/svg.image?\bg_white&space;\frac{\partial&space;p}{\partial&space;t}&space;=&space;f\left&space;(&space;p&space;\right&space;)" title="\bg_white \frac{\partial p}{\partial t} = f\left ( p \right )" />

I would like to known if there is a way (

[2022-01-25 04:03] dylan-copeland commented on #2779
https://github.com/mfem/mfem/blob/bba2c08025c0700ead5965d27d7ed0f8564a0018/fem/fespace.cpp#L899

This line seems to assume 3D. I changed it `return Geometry::NumVerts[geom] * nv;` in the 2D case, and now this little 2D test works. I will have to test further to see if this fixes everything, but at least this test is fixed.

[2022-01-25 07:52] jchan192 opened #2785 "Parallel version of miniapps/get-values fails to get all values"
Dear MFEM community,

As a quick test, I run ex16p with
`mpirun -np 4 ex16p -m ../data/amr-quad.mesh -o 4 -rs 0 -rp 0 --visit-datafiles`
which generates outputfiles Example16-Parallel_0000xx where xx = 00, 05, 10, .. , 50
I have checked the snapshots with parallel version of glvis. The resulting figure looks fine.

To get values at 4 positions (0.25 0.25), (0.25 0.75), (0.75 0.25), (0.75 0.75),
I

[2022-01-25 08:57] stefanozampini commented on #2772
@tbridel @jandrej @tzanio Forgot to mention that I already have some code in PETSc to handle` DMPLEX` viz through `glvis`. Take a look here https://gitlab.com/petsc/petsc/-/blob/main/src/dm/impls/plex/plexglvis.c#L389. This can be modified to create an `mfem::Mesh` instead of sending ASCII data through the GLVIS socket

[2022-01-25 16:40] Maatinski commented on #2759
Hi Jakub, just sent you a mail with all the needed files. Together with the meshes you already have you should be all set up. If there's anything else I can help with let me know.
Thanks and warm regards,
Mathias

[2022-01-25 19:32] YohannDudouit commented on #2723
This is the solution I have in a branch:
https://github.com/mfem/mfem/pull/2626/files?show-viewed-files=true&file-filters%5B%5D=#diff-b4caa5528a75d84967ad6e2421fd298446d780e44edb57dca79147e61c88cc98R1694
I will open a PR containing only this change.

[2022-01-25 21:19] kmittal2 commented on #2785
Hi @jchan192,

Seems like you are right. Can you try to use `GSLIB::FindPoints` for interpolating the solution at the desired set of points?
See the install instructions [here](https://github.com/mfem/mfem/blob/master/INSTALL#L719). Once you have built MFEM in GSLIB, have a detailed look at the GSLIB interpolation example, [pfindpts](https://github.com/mfem/mfem/blob/master/miniapps/gslib/pfindpts

[2022-01-25 23:04] pazner commented on #2783
Hello @vkorchagova,

I am not able to reproduce this problem. I tried profiling the code with `valgrind --tool=massif`, but the memory usage appeared roughly constant over time.

ParaView output will require some memory overhead, but it shouldn't increase meaningfully as you run the code for more time steps.

If you have valgrind, could you try profiling a minimal example with [massif](https://val

[2022-01-26 10:14] cbritopacheco opened #2789 "Segfault in GetVectorGradient on an interior boundary element"
# Goal
Dear MFEM team and community,
I would like to compute the Jacobian matrix of a `GridFunction` on a boundary element which is in the interior. For example, given the following mesh, I would like to calculate it on the boundary with attribute 4.

<img width="623" alt="Screenshot 2022-01-26 at 10 43 29 AM" src="https://user-images.githubusercontent.com/6352283/151140005-fadc71ef-f402-478e-9a59

[2022-01-26 15:56] tangqi commented on #2765
Thanks @v-dobrev for the suggestion. It makes sense and I am working on that.

I have one question on your point of reconstructing Hessian. I am working on a model that needs a lot second-order derivative terms in my nonlinear residual, for instance,
\partial_{RZ}\Psi ( (\partial_R \Psi)^2 - (\partial_Z \Psi)^2 ) + \partial_R \Psi \partial_Z \Psi(  \partial_{ZZ}\Psi-  \partial_{RR}\Psi)
I am using

[2022-01-26 16:41] cbritopacheco commented on #2789
After a bit of thinking, I think I could solve the problem by doing the interior boundary check in my own code and perform some sort of interpolation/averaging of the (domain) element vector gradients at their integration points. Something along the lines of #733, where I could get the integration points of my boundary element and perform the averaging.

[code]

 However, I'm unsure if this is the

[2022-01-26 18:55] dylan-copeland commented on #2779
This issue is fixed by https://github.com/mfem/mfem/pull/2787.

[2022-01-26 18:55] #2779 closed

[2022-01-26 22:20] YohannDudouit commented on #2774
Hi Victoria,

Could you send us the gperftools trace here to help us understand better what is happening.

Thanks,
Yohann

[2022-01-26 22:38] logantm2 opened #2791 "Nonlinear Poisson/Laplace solve"
I'm working on a modified version of the Poisson equation for what we're calling an adiabatic or Boltzmann approximation:
![image](https://user-images.githubusercontent.com/53028846/151257896-5a2c79f1-a4e7-4f19-86dc-8068416a5070.png)

where q, n, k, T are all known constants. The laplacian and rho terms were pretty straightforward to handle, but I'm wondering how to incorporate the nonlinear term

[2022-01-26 22:48] jandrej commented on #2791
That is the recommended approach, yes. You also want to create your own `Operator` s.t. you can combine the linear part (Laplacian) with the nonlinear part.

[2022-01-26 23:05] jchan192 commented on #2785
Thanks Ketan for the reply.
Maybe I will try to do it later, because it will take me some time to install GSLIB.
I really appreciate your help.

[2022-01-26 23:27] jchan192 commented on #2785
As an alternative solution, I try to use `gf.GetNodalValues(int i)` and `pmesh.GetVertex(int i)` or `pmesh.GetVertices(vector)`  to get the solution and coordinates on the mesh, but the problem is both methods give repeated coordinates, but I expect vertices to be unique.

My parallelized pmesh is a periodic 3d Box, generated by the following

[code]
I print out the coordinates in the following wa

[2022-01-27 07:34] vasily-golubev opened #2792 "SEM and non-blocky diffusion matrix"
Hello, I am trying to implement trivial solver based on the spectral element method using MFEM library. As far as I understand, the key idea of SEM is to use the same points for interpolation iside the element and for integration. It must give us diagonal matrix mass and blocky diffusion matrix in 1D case. Firstly, I realized, that by default MassIntegrator uses polynomials with the higher degree

[2022-01-27 13:38] v-dobrev commented on #2765
Generally, I expect that reconstructing a Hessian approximation will be more accurate, however there may be cases where it is not essential.

The only thing that comes to mind is if the term you have can be simplified by introducing some auxiliary field derived from \Psi. However, I suspect you would have done that already if it were possible.

[2022-01-27 15:03] v-dobrev commented on #2785
@kmittal2, were you able to reproduce the issue with the `get-values` miniapp? If there is indeed an issue with that, we should try to resolve it.

@mlstowell, maybe you can take a look?

[2022-01-27 17:06] tangqi commented on #2765
Thanks a lot. @v-dobrev It was very helpful.

I got this working in post processing. I will open a new issue if I run into more questions regarding the new model.

[2022-01-27 17:06] #2765 closed

[2022-01-27 18:33] logantm2 commented on #2791
Gotcha, I'm working through the integrator now. It makes sense to me that `GetElementEnergy` in our case would just be the integral of the usual electric field density
![image](https://user-images.githubusercontent.com/53028846/151421314-0c1ca3c8-5ca1-444e-85bd-18eea0cdd664.png)

and `AssembleElementVector` fills in `elvect` with
![image](https://user-images.githubusercontent.com/53028846/15142140

[2022-01-27 18:40] kmittal2 commented on #2785
Yes, I was able to reproduce the issue with `get-values`.

The issue is that the `Load` method in `DataCollection` as indicated by the Class description, does not work for parallel meshes. So the mesh gets loaded as a serial mesh on each rank, and with FindPoints, each sub-domains finds one of the 4 points that they have.
Once `FindPoints` is done, we can use the `elem_ids` returned by the method

[2022-01-27 18:40] kmittal2 commented on #2785
Yes, I was able to reproduce the issue with `get-values`.

The issue is that the `Load` method in `DataCollection` as indicated by the Class description, does not work for parallel meshes. So the mesh gets loaded as a serial mesh on each rank, and with FindPoints, each sub-domains finds one of the 4 points that they have.
Once `FindPoints` is done, we can use the `elem_ids` returned by the method

[2022-01-27 19:14] jandrej commented on #2791
I don't think you need `GetElementEnergy` at all for your purpose. You also have the integrator for the linear Poisson part already. You need to implement `AssembleElementVector`
<img src="https://latex.codecogs.com/svg.image?-qn\exp{\left(\frac{-qu}{kT_e}\right)}" title="-qn\exp{(\frac{-qu}{kT_e})}" />
and `AssembleElementGrad` for the linearization of this term.

[2022-01-27 19:31] logantm2 commented on #2791
Cool, I'll just 86 the `GetElementEnergy` override then.

I guess I'm confused about `AssembleElementGrad` because I would have expected it to be outputting
![image](https://user-images.githubusercontent.com/53028846/151428974-431050e1-f97a-4cb6-9d49-c55c24ed643c.png)

which would be a `DenseMatrix` with size (number of dofs, number of dimensions) (or the transpose of that or whatever). But lookin

[2022-01-27 21:59] tuckerbabcock commented on #2775
Hi @tzanio, thanks for pointing out those links. After reading through the linked code I've written my own implementation that lets me go from an ND state vector to a scalar DG field that holds the magnitude of the state vector's curl.

That seems to work great, but now I'm interested in reverse mode differentiating the output with respect to the input. I've gotten this working on one processor, b

[2022-01-27 22:29] v-dobrev commented on #2785
Actually, it seems like `VisItDataCollection` should support saving and reading parallel meshes in parallel format. I suspect the problem is that by default we save parallel meshes in the serial format from each rank. However, switching to saving in the parallel format should be easy, just add
[code]
to the example before the call to `visit_dc.Save()`.

[2022-01-28 02:00] tuckerbabcock commented on #2775
To give a little more detail, here I've visualized the sensitivity of the DG field output to an H1 field input that I've calculated with reverse mode AD (so contracted with an adjoint on the left had side). The first picture is with one process, then two, then four, and it is clear that there is some issue along the process boundaries. In the two and four process cases, rank 0 always seems to be v

[2022-01-28 04:05] tzanio commented on #2775
Hi @tuckerbabcock,

I am glad you got the magnitude of the curl working.

For the sensitivity, maybe @jandrej can help. With DG we sometimes need to call `ExchangeFaceNbrData`. Or maybe it is an ND orientation issue, have you visualized the produced curl field in parallel?

Tzanio

[2022-01-28 04:23] tuckerbabcock commented on #2775
Thanks for the reply @tzanio!

If you just mean just the forward part of the process, yes the DG curl field looks perfect in parallel. It is a little harder to visualize the sensitivity wrt the ND dofs though, since if I tried to print it to a Paraview file the sensitivity field would get interpolated with the ND shape functions and become a vector field which doesn't make much sense. For that rea

[2022-01-28 04:42] tzanio commented on #2775
In parallel DG we have a "ghost layer" of elements on the boundary of each domain, specifically the face-neighbors of elements that have a boundary face.

The DG values of these elements are updated with `ExchangeFaceNbrData` and are used in certain FEM operations, e.g. assembly.

[2022-01-28 08:11] jchan192 commented on #2785
adding    `visit_dc.SetFormat(DataCollection::PARALLEL_FORMAT);` before `visit_dc.Save()`
erased the warning `MFEM Warning: 3 points were not found` of `get-values.cpp`, but still only gives the value at [0.25,0.25].

I think the code `get-values.cpp` itself still needs some modification.

[2022-01-28 16:11] M8kmyday commented on #2776
Switching to ND for the H-field produces the incorrect results due to my custom cross-product interpolator.  MFEM's VectorCrossProductInterpolator is restricted to 3D, but I have a 2D problem where I need to calculate zHat x Et, where Et is a 2D vector field in x-y, resulting in a new 2D vector field in x-y.  The custom interpolator is

      class zHatCrossProduct2D : public DiscreteInterpolator

[2022-01-28 16:22] jakubcerveny commented on #2759
I ran @Maatinski's code several times just to make sure we aren't missing something and I think we're good. To compare how NC is doing vs. the conforming code, I took the conforming mesh and forced it to be "nonconforming" in run-time with EnsureNCMesh, then compared with a regular conforming run.

The results are all expected: assembly is taking the exact same time, the only difference is in FE s

[2022-01-28 17:06] tzanio commented on #2759
Thanks for doing this @jakubcerveny !

[2022-01-28 17:38] davidherreroperez opened #2793 "Prolongation matrix on non-conforming meshes with tdof size"
Hi,

I am trying to set up the restriction and interpolation operators for a geometric multigrid using AMR.
I can obtain the prolongation matrix after refinement using [FiniteElementSpace::GetUpdateOperator](https://mfem.github.io/doxygen/html/classmfem_1_1FiniteElementSpace.html#ab7e045bc3c8591eedb503e631ff846e2) but the dimension of the operator is the finite element dofs (VSize). Can I obtain t

[2022-01-28 18:02] psocratis commented on #2793
Hi @davidherreroperez,

Yes, you can use the `TrueTransferOperator`. You can also take a look in ex26.cpp/ex26p.cpp for an example of geometric multrigrid.

Best,

Socratis

[2022-01-28 18:52] mlstowell commented on #2776
Hi, @M8kmyday,

Unfortunately, ND to ND interpolation will not work for the zHat cross product in 2D. The trouble is that ND degrees of freedom on the edges of the mesh cannot be uniquely determined. In the original ND field we have a unique vector component aligned with the edge but the perpendicular component of the field is not unique. The value of the perpendicular part of the field is some av

[2022-01-28 19:59] YohannDudouit commented on #2775
If this is again a bug created by `ExchangeFaceNbrData` I think we should really consider calling this method in the constructor more automatically for users. I had many bugs due to an omitted call, or a delayed call to this method, I think @camierjs had a lot of bugs due to this too, just last month I helped @samuelpmishLLNL and @dylan-copeland debug their code due to omitted call to this method.

[2022-01-28 20:23] M8kmyday commented on #2776
Hi Mark,

Thanks for the background, and I was afraid that that is what the answer would be.

This will take quite a while to implement.  Because I am solving a 3D problem on a 2D space (i.e. guided waves), I will need to set this up for two sets of contributions, one from Et and one from Ez.  Since all this is complex, I'll need to set up the real and imaginary parts, save the setups to files, im

[2022-01-28 21:58] tuckerbabcock commented on #2775
I'm not sure that `ExchangeFaceNbrData` is the issue here, since the field I'm visualizing and have shown above is an H1 dual field, and it seems that's what's not being assembled correctly. In fact for the reverse mode part, I don't even need the real DG output field, just a DG adjoint (primal) vector, which I've projected a coefficient onto. Would I need to call `ExchangeFaceNbrData` after proje

[2022-01-28 22:21] sshiraiwa opened #2795 "Is it dicouraged to use SuiteSparse with METIS5?"
I started to use UMPFACK and I notice CMAKE show the warning
'''
  *** Warning: using SuiteSparse with METIS v5!
'''
Is there any risk to continue using METIS v5 or it would be better to use an old version?

[2022-01-28 22:57] Maatinski commented on #2759
That's great news, thanks for looking into this, @jakubcerveny ! As mentioned, I have also been running larger NC meshes and the bug fix makes a huge difference. Next item on the list is to generate the NC meshes directly within MFEM which should get rid of another bottleneck..
Mathias

[2022-01-29 09:41] v-dobrev commented on #2795
As long as you use the same version of METIS when you build both SuiteSparse and MFEM, there should be no problem.

I think this warning is from around the time when SuiteSparse was dependent on METIS v4 and if MFEM was built with METIS v5 that could cause issues.

At this point we can probably just remove the warning.

[2022-01-29 13:49] jakubcerveny commented on #2759
No problem! For the mesh generation, may I recommend that you start with a 4x4x4 hex mesh, which should be SFC ordered by default (see https://mfem.org/howto/ncmesh/#load-balancing), do all the necessary refinements with MFEM in parallel (that should save a lot of time), rebalance the mesh, and save with ParMesh::ParPrint.

You should get a nice parallel mesh with N equal-sized chunks and the main

[2022-01-30 14:07] jchan192 commented on #2785
I managed to print out the values when I changed the `mfem:out` to `std::cout`. Therefore, `get-value.cpp` does correctly load the parallel meshes after the above changes. I have modified the code to save the values into binary file, because saving binary data is easier in MPI than text files.  So I would not say the problem is completely solved, but Im happy for now.  Thanks for the help!

------

[2022-01-31 01:09] tzanio commented on #2726
Discussion continued in #2782.

[2022-01-31 01:09] #2726 closed

[2022-01-31 01:10] tzanio commented on #2723
Discussion continued in #2788

[2022-01-31 01:10] #2723 closed

[2022-01-31 01:11] #2708 closed

[2022-01-31 15:26] davydden opened #2796 "PETSc ex2p with BDDC (input parameters)"
Dear all,

I see that BDDC support was added by @stefanozampini to PETSc ex2p code in https://github.com/mfem/mfem/pull/1963 .

I wanted to play around with this a little bit, but with
[code]
I get an error
[code]
during `PCBDDCSubSchursSetUp()` (with PETSc 3.16.3 and MFEM 4.3.0).

Looking at MFEM's `PetscBDDCSolverParams` , I don't think one can specify much but FE space and essential DoFs, which

[2022-01-31 16:30] #2776 closed

[2022-01-31 18:26] logantm2 commented on #2791
@dcurreli was something similar involved in writing FEMPIC?

[2022-01-31 19:00] kmittal2 commented on #2785
@jchan192,

You are seeing duplicated values because they are not being printed in the right order. You should print them out something like this:

[code]

Note: the number of vertices is not the same as the number of elements as indicated in the code snippet you pasted above.

Ketan

[2022-02-01 01:36] jchan192 commented on #2785
Thanks @kmittal2  for the reply.

I used your code, but it still produces duplicated coordinates. Here is an output showing the first printed 12 points with  when run with only 1 node `mpirun -n p1 `  I still think the problem comes from the periodical property of the mesh, because when I commented the `translation` part of the code, each coordinates then become unique. However, my problem require

[2022-02-01 08:49] vkorchagova commented on #2783
Hello @pazner,

I'm so sorry -- the problem was in hardware on my cluster. When remedied works were carried out, Valgrind gave me the roughly constant memory usage too.

Many thanks for your patience!

[2022-02-01 08:49] #2783 closed

[2022-02-01 14:56] Andr00dz opened #2798 "Invalid mesh topology error"
Hi,

I constructed the following mesh in GMSH 4.8.2:
![grafik](https://user-images.githubusercontent.com/56828429/151986754-ccf0c574-a0b4-4e09-a245-2ae03192900c.png)

Unfortunately, MFEM/GLVIS is not able to process this mesh.
Calling `glvis -m mesh.msh`, produces the following error
[code]

The domain consists of only five parts, which are created via simple `Curve Loops` and `Plane Surface` comm

[2022-02-01 15:12] sshiraiwa commented on #2798
Hmmm... I got this with GMSH 4.5.6 and  4.9.3  ![image](https://user-images.githubusercontent.com/1929159/151994668-c00c2fa0-0c78-48d4-8f66-2194777aded9.png)

[2022-02-01 16:17] Andr00dz commented on #2798
Switching to `GMSH 4.9.3` solved my problem. Thank you for helping!

[2022-02-01 16:17] #2798 closed

[2022-02-01 16:21] sshiraiwa commented on #2795
Okay. Thank you for the confirmation.

[2022-02-01 16:21] #2795 closed

[2022-02-01 19:19] kmittal2 commented on #2785
Hi @jchan192,

Yes, I was able to verify that this is indeed a problem for periodic meshes.
Essentially, what happens is that when we make a mesh periodic, internally we set its [curvature to 1 ](https://github.com/mfem/mfem/blob/master/mesh/mesh.cpp#L4621) for a linear mesh (thus `Nodes != Null` anymore). When we use this periodic mesh to define a `ParMesh`, [`SetVerticesFromNodes()`](https://git

[2022-02-02 02:30] prathamgit commented on #2388
Thank you @rcarson3.
I went into the same issue(original in this post) and `-DCMAKE_CXX_FLAGS=-DADIOS2_USE_MPI` flag while building mfem with cmake worked like magic.
(I am using everything (hypre, adios2) built with OpenMPI btw)

[2022-02-02 02:43] psocratis opened #2802 "Possible bug for a wedge AMR ParMesh"
While testing #1051 I ran into a possible bug for wedge AMR `ParMesh`. This seems to be unrelated to #1051 since it happens for H1 elements (order>1) on the master branch. Running the code below with  4 processors gives

[code]

[code]

[2022-02-02 09:53] cbritopacheco commented on #2789
I have changed the title since the more I look at this, the more I think it's a bug. I have tried this on other FEM software with succesful results so I am surprised MFEM would not be able to handle such a case.

[2022-02-02 19:35] pazner commented on #2792
Hello @vasily-golubev,

Yes, you are correct, the correct way to implement SEM in MFEM is to set the integration rules to use collocated quadrature like you have done. Your implementation looks correct to me.

Why do you expect the entries of the mass matrix to be different?

Also, what do you mean by a "blocky diffusion matrix"? The DOF ordering is not customizable, but you can multiply by a perm

[2022-02-02 22:33] dcurreli commented on #2791
Need to see how MFEM sets up a Newton solver for a NL problem

[2022-02-03 02:28] jchan192 opened #2805 "Possible bug: ParMesh.GetVertices gives duplicated coordinates for periodic mesh"
My parallelized pmesh is a periodic 3d Box, generated by the following

[code]
The coordinates of the vertices are printed out with the following

[code]
The resulting coordinates contain duplicate, here is an example of the first 12 points

[code]
I confirm that the problem doesnt exist when I turn off the periodicity by commenting out  `translation`

[2022-02-03 02:30] jchan192 commented on #2785
Thanks @kmittal2 for confirming the issues.  I will open a new post because other people may find the same problem.
I really appreciate your help all along!

[2022-02-03 02:30] #2785 closed

[2022-02-03 08:46] vasily-golubev commented on #2792
Thanks a lot for your answer!

According to the Igel book (https://www.researchgate.net/publication/283566366_Computational_Seismology_A_Practical_Introduction) I expected to obtain the global diffusion matrix in the form, when it contains local diffusion matrixes on it's diagonal (slightly modified at element intersections). And zeroes at the other positions.

Can you point me where to look for "

[2022-02-03 15:24] pmguilcher opened #2806 "kappa value for penalizing term in Discontinuous Galerkin"
Hello,

I am using a DG formulation which relies on a stabilizing kappa coefficient for the bilinear and linear forms.
The kappa value is set automatically to (p+1)^2 but I can't find any publication confirming that particular choice.

Could you send me a reference where I could look at that?

Thank you
Pierre

[2022-02-03 16:30] jandrej commented on #2806
Most references mention "the SIPG method is stable for sufficiently large \kappa". If you are using NIPG, this changes to "the method is stable for any \kappa > 0". So it depends which type of stabilization you choose and then you are left with the freedom (or burden) of choice.

[2022-02-03 16:38] pmguilcher commented on #2806
Yes I agree totally with your statements.
In my case, it is SIPG. Nitsche says in its paper that we can find a sufficiently large value to get a stable method.
However, relating \kappa to the order of the method is not given.

[2022-02-03 17:20] pazner commented on #2806
Hello @pmguilcher, you can look at this paper:

Shahbazi, K. (2005).  An explicit expression for the penalty parameter of the interior penalty method, Journal of Computational Physics, 205(2), 401--407. http://dx.doi.org/10.1016/j.jcp.2004.11.017

I can provide you with more references if you are interested.

[2022-02-03 17:34] pazner commented on #2792
Yes, in general you will get something that looks like copies of the local diffusion matrix, with modifications for the shared degrees of freedom. It might just be hard to identify this structure because of the matrix orderings.

If I use your code to assemble one element with length 1, I obtain the matrix
[code]
and if I use your code to assemble two elements, with total length 2, I obtain:
[code

[2022-02-03 17:42] adayton1 opened #2807 "Missing target Threads::Threads when building with CMake 3.21.1"
I get many errors like the following when configuring MFEM 4.3 with CMake 3.21.1:

[code]

Adding a call to `find_package(Threads REQUIRED)` in the top level CMakeLists.txt file fixed it for me.

[2022-02-03 22:25] pazner commented on #2805
The way that MFEM handles periodic meshes, vertices that are coincident under the periodic mapping are combined and become one vertex.

For example, if you take the simple case of a line with three elements:
[code]

If you make this mesh periodic, then really `v0` and `v3` get combined, and you have the following situation
[code]

In this case, `v0` doesn't have a well-defined location. The `ParMe

[2022-02-04 07:39] pmguilcher commented on #2806
Hello @pazner,

Thank you very much, I think that it totally corresponds to the value used in mfem lib.

Best regards

[2022-02-04 14:06] tbridel opened #2808 "Volume integral on H1 elements is wrong"
Dear all,

I have a simple cube of size 2 made of two different materials (basically there is a cubic inclusion of size 1 made of material A, and the rest is made of material B). For now, I am not trying to solve anything on that cube, I am rather simply trying to compute some properties : mass, moments about the x-, y- and z-planes, and coordinates of the center of mass.
Mathematically, the formu

[2022-02-05 03:13] psocratis opened #2809 "Bug related possibly to ParMesh or hypre RAP"
I ran into the following really weird bug.

I have a very specific `ParMesh` which is created after some adaptive mesh refinements. I then define two `ParFiniteElementSpace`s (an L2 and an RT_trace space) and I then perform `RAP` with the Prolongation Operators of each space and an appropriate (sized) A.  The bug happens with only the specific `ParMesh` and MPI partition. If I perform the `RAP` ma

[2022-02-07 04:31] jchan192 commented on #2805
Thank you for the reply @pazner ! You explanation is very clear.
Following your suggestion, I am now not using vertices, but instead, coordinates of elemental nodes
(`GetElementCenter()` for my problem).

[2022-02-07 04:31] #2805 closed

[2022-02-07 08:56] LeilaSalomon commented on #2763
Hello @v-dobrev,

Thank you very much for your help !

[2022-02-07 10:23] AlejandroMunozManterola opened #2810 "Trying to add boundary conditions to a DG Maxwell problem"
Good day!

I am currently learning how to use MFEM in order to solve problems through Discontinous Galerkin approach, and I am finding myself stuck when trying to add boundary conditions to my problem.

I am trying to solve the equivalent of a PEC box with the Electric Field traveling in the Z-Axis and the Magnetic Field in the X-Y Axis.

I have been able to partially solve the problem but if one

[2022-02-07 12:14] vasily-golubev commented on #2792
Thanks a lot! Now I am trying to look through recent articles about effective time-stepping algorithm in acoustic problems. It looks like people use explicit solvers to reduce the computational time. In general, NewmarkSolver in this case is equal to the same procedure: U_new = dt^2M^(-1)[F_current-KU_current] + 2U_current - U_old.
I can't find if I can easily apply PML conditions in MFEM for acou

[2022-02-07 20:16] pazner commented on #2792
MFEM's [example 25](https://mfem.org/examples/#ex25) uses a PML for a Maxwell problem. Maybe this would be helpful for you. @psocratis would know the most about implementing PMLs.

[2022-02-08 01:29] sebastiangrimberg commented on #2758
Hi @pazner, I just wanted to ask a follow up question here with something I’ve seen that I’m not too familiar with. I played around with some special curl-curl specific smoothers and actually got this geometric MG to work quite nicely. However I notice a big change in convergence when dealing with problems with (homogeneous) Dirichlet BCs depending on how I build the coarse operators.

If I explic

[2022-02-08 06:59] tbridel commented on #2808
Hello everyone !

Posting this during the weekend might not have been the best idea soooo, since this is critical to me, I just wanted to know if anyone had had the occasion to take a look at the not working min. example I posted above ?

Thank you very very much !!
T.

[2022-02-08 08:47] jchan192 opened #2811 "Serial and parallel GMRES based Crank-Nicolson solver gives different results"
Hi MFEM community,

I am solving the Schrodinger equation (without potential for now) with Crank Nicolson method.
Based on finite element scheme, I will solving the following numerical problem.
[code]
where the LHS matrix(with M and K) is a block matrix, and
the vector (with Real and Imag part of the wavefunction) is  a block vector.

The above system of equations are solved using GMRES in MFEM.
T

[2022-02-08 12:26] #2250 closed

[2022-02-08 12:52] adam-sim-dev opened #2812 "CPardisoSolver interface without MPI?"
Dear developers,

Can we use the CPardisoSolver interface without MPI? It seems that PARDISO is for shared memory multiprocessors. It will be useful if the other parts of the FEM code are sequential, while PARDISO with OpenMP is used to solve the linear system (parallel).

Just like in PETSc, there are MATSOLVERMKL_PARDISO and MATSOLVERMKL_CPARDISO for sequential and parallel matrices, respectivel

[2022-02-08 16:47] LeilaSalomon opened #2813 "VectorCoefficient to two Coefficient"
Hello,

I have a `VectorCoefficient(dim = 2)`, I would like to know how can I split this `VectorCoefficient` into two `Coefficient` :

<img width="179" alt="Coef" src="https://user-images.githubusercontent.com/40572513/153034332-8a876631-a3e8-4bdf-b58b-343f96909933.PNG">

Best wishes,

Leila

[2022-02-08 16:48] v-dobrev commented on #2808
I think that instead of `mass->InnerProduct(f,f)`, you need to compute `mass->InnerProduct(f,one)` where `one` is the (Par)GridFunction of the constant 1 function.

[2022-02-08 17:52] Andr00dz commented on #2813
You could use [InnerProductCoefficient](https://mfem.github.io/doxygen/html/classmfem_1_1InnerProductCoefficient.html) combined with [0,1] and [1,0] vectors.

[2022-02-08 18:46] logantm2 commented on #2791
Returning to this after putting out some fires. I found [this](https://mfem.org/nonlininteg/) which implies that `AssembleElementGrad` integrates the Gateaux derivative of the nonlinear functional. That's pretty straightforward for us, so I have the nonlinear form integrator done.

Moving on now to the custom `Operator`. I'm using example 19 as a guide, but since most of the meat is in the custom

[2022-02-08 18:55] tbridel commented on #2808
Ah !! Thank you very much for your input.
Of course I gotta use the identity .... I was mistaken because I followed issue #599 blindly ....

Thanks !! It works now !

So for anyone who might be looking, here is the corrected code :

[code]

[2022-02-08 18:55] #2808 closed

[2022-02-08 20:01] psocratis commented on #2758
Hi @sebastiangrimberg,

Can you test that the entries in the residual vector corresponding to the essential dofs are zero at every stage of the v-cycle. The issue might be related to a couple of things. One could be the diagonal policy you are using, the second could be that the smoother you are using couples the boundary dofs with the interior.

I'll be happy to look at a sample code that this ha

[2022-02-08 20:38] tuckerbabcock commented on #2775
@jandrej do you have any thoughts for how I might be able to fix this?

[2022-02-08 20:51] sebastiangrimberg commented on #2758
Hi @psocratis,

Thanks for the response. I've tried zeroing out the essential dofs at each prolongation or as part of the smoothers at each stage and it didn't seem to change results. Regarding the other points:

- I am just using the default diagonal policy for `HypreParMatrix` elimination which I believe just sets the diagonal entries to 1. Maybe this is incorrect at the coarser levels? Indeed i

[2022-02-08 20:58] psocratis commented on #2758
What I was suggesting is to check if they are already zero ...

[2022-02-08 22:07] sebastiangrimberg commented on #2758
Sorry for misunderstanding! Yup, indeed looking at the residual values they are do become nonzero for some essential dofs.

However some good news is that in my testing it looks like I hadn't totally accounted for the various ways to zero out the entries of the solution/residual at different levels to account for the BC, and by always zeroing out at the end of a restriction/prolongation I got thin

[2022-02-09 01:28] psocratis commented on #2758
I am glad it works. I am going to close this issue. Feel free to reopen it if anything else comes up.

Best,

Socratis

[2022-02-09 01:28] #2758 closed

[2022-02-09 07:14] LeilaSalomon commented on #2813
Yes ! It's a good idea ! Thank you !

[2022-02-09 07:14] #2813 closed

[2022-02-09 07:33] #2812 closed

[2022-02-09 15:12] davidherreroperez opened #2817 "Derefinement interpolation on non-conforming meshes"
Hello,
I'd like to have some guidance on how to perform derefinement interpolation on non-conforming meshes.
The following example derefines the mesh and the gridfunction u, but the resulting gridfunction provides
the first value of the group of derefined elements. It is possible to construct a transfer operator
performing a mean of such values?

Thanks in advance.

[code]

[2022-02-09 15:59] brightzhang91 opened #2818 "parallel partition of BlockOperator (and BlockVector) for problem with constraints"
Hi, I'm working on a constrained finite element problem which requires a global constraint (Lagrange Multiplier) covering multiple elements and multiple processors. So that I suppose the constraints solvers like `EliminationSolver` in issue #1842 may not apply as the constraints need to come in small invertible blocks and not cross processor boundaries.(please correct if I understood incorrectly).

[2022-02-09 16:05] LeilaSalomon opened #2819 "Calculate precisely a divergence term"
Hello,

I have a `GridFunction(dim=2)`, named **f**, I would like to calculate precisely `div(f)`.

Here are the two components of  **f** (fx,fy) :

<img width="632" alt="f" src="https://user-images.githubusercontent.com/40572513/153239198-a5f4cfc0-0833-4d30-a97d-51ec1fddf050.PNG">

I use :

`DivergenceGridFunctionCoefficient divergence_f(&f)`. When I visualize my solution, I have a problem :

<im

[2022-02-10 09:06] jchan192 commented on #2811
Sorry all. I found a mistake in my code. My serial code has  `LHS_solver.iterative_mode = false`, which is why I have different results to my parallel code.

However, the resulting solution is still unstable. I believe that the reason is I did not provide a preconditioner to the parallel case, so the solution did not converge fast enough for each timestep. I am still figuring out how to provide a

[2022-02-10 09:06] #2811 closed

[2022-02-10 16:50] Amudtogal opened #2821 "Confusion with eigenvalue solution: lambdas shifted by 1"
Hey mfem team,

I am currently trying to solve an eigenvalue problem, which is described by two constant coefficients `coeff_a` and `coeff_b`.
These correspond to a Helmholtz equation for an acoustic medium.

Following the examples [ex11p](https://github.com/mfem/mfem/blob/master/examples/ex11p.cpp) and [ex12p](https://github.com/mfem/mfem/blob/master/examples/ex12p.cpp), I have set up the equatio

[2022-02-10 17:08] jandrej commented on #2821
This seems odd. You shouldn't need to shift eigenvalues. Depending on the algorithm to compute eigenvalues, you will see spurious eigenvalues and eigenmodes corresponding to the eliminated rows and cols and the 1 on the diagonal. Those are clustered at `ev_k = 1+0i`. All other eigenvalues have to correspond to the solution without shifting.

[2022-02-10 17:20] mlstowell commented on #2821
Hi, @Amudtogal,

I believe the eigenvalue problem you're setting up is
[code]
If `u` is constant the eigenvalue will not be zero. It will be `b` averaged over the domain.

Is this what you intend?

Best wishes,
Mark

[2022-02-11 09:16] AlejandroMunozManterola opened #2823 "Inquiry about the ordenation of Mass Matrix for H1 and DG spaces."
Good morning to all,

my team has written a simple test to understand mass matrixes and verify that they are (or should be) the same no matter the space they're built on with the following code.

[code]

For order 1 and order 2, the test works without issue, but when it reaches order 3 or higher, the mass matrix for H1 has the same values as the DG Mass Matrix, but they are disordered or "shifted"

[2022-02-11 11:28] #2763 closed

[2022-02-11 15:04] michi002 opened #2824 "ElementTransformation * mesh::GetElementTransformation(int i) misleading"
Hello,

I am currently writing a Code where I have to evaluate shapefunctions of other elements while using linear form integrators. My function coefficent is dependent on them - I know it is maybe not the most efficient implementation, but it is only for testing purposes.

However I need the ElementTransformation of said other element and I used the routine mesh::GetElementTransformation(int i) t

[2022-02-11 16:02] pazner commented on #2823
Generally speaking, the DOF orderings for different types of spaces will not be the same. For DG spaces, the DOFs are ordered element-by-element, and within each element, they are ordered lexicographically. For H1 spaces, this ordering is not possible, because there are shared DOFs between elements.

In your case, since you have only one element, you can permute the DOFs of that element so that th

[2022-02-11 17:25] AlejandroMunozManterola commented on #2823
Thank you very much for your answer, Pazner.

I hope you don't mind if I follow with a related answer.

Is there a way to obtain the position of the nodes (associated to the dof) when using Nodal basis, by asking the FiniteElementSpace or the BilinealForm? I am afraid I cannot find a way to do it.

Again, thank you for any answer you might offer, it is very welcome.
Alejandro M.

[2022-02-11 17:33] pazner commented on #2823
I think you should be able to use `Mesh::GetNodes`, e.g.
[code]

[2022-02-11 21:10] v-dobrev commented on #2824
You can just use the following version of `GetElementTransformation`: https://github.com/mfem/mfem/blob/256bb5627fade2380ca51d08b7b908d8fe71feaa/mesh/mesh.hpp#L1104-L1106 with an `IsoparametricTransformation` that you construct.

[2022-02-11 21:17] v-dobrev commented on #2824
Regarding the documentation: yes, I agree that the doxygen comment for `GetElementTransformation(int)` and other similar methods can be be improved to clarify that the returned pointer points to an internal objects which is invalidated by other calls to the same method (with a different index) or by calls to some other methods.

[2022-02-11 21:33] michi002 commented on #2824
Thank you. :)
This is exactly the routine I discovered and used then. I just wanted to open an issue so that no one else falls into this pitfall.

[2022-02-12 01:54] dcurreli commented on #2791
Thanks @pazner, this is really helpful!

[2022-02-13 01:14] v-dobrev commented on #2789
Hi @cbritopacheco,

The method `GridFunction::GetVectorGradient()` cannot be used to compute the gradient on an interior "boundary" element or interior face -- the gradient is not well defined there, because there are two different values on the two sides of the face. You can compute the values on both sides and then combine them any way you want. This can be achieved with code like this:
[code]
I

[2022-02-13 01:34] v-dobrev commented on #2807
The `Threads` package is not directly needed by MFEM, there must be an optional package you are using that needs that. Can you post the full `cmake` command you are using?

[2022-02-13 09:47] cbritopacheco commented on #2789
Ho @v-dobrev, thank you for your answer. Indeed the gradient will not be necessarily defined.

I am now wondering how the edge orientation works in MFEM for interior boundaries. This way I could specify which is the interior domain (either left or right element) so I can use the element's gradient as used for the exterior boundary case.

Is there some kind of orientation defined on interior bounda

[2022-02-14 04:36] tzanio commented on #2751
Let me try to summarize this based on a recent telecon discussion, @logantm2 and @dcurreli, please correct me if I am missing something:

1. In this particular application it is OK to assume linear mapping, so the mapping from physical to reference space is just a solve with the Jacobian and can be handled directly in the application.

2. The ask is to provide a GPU version of something like `Quad

[2022-02-14 04:45] tzanio commented on #2821
To add to @mlstowell's comment: if `(u, lambda)` are the eigenvectors and eigenvalues of the standard Laplacian: `S u = lambda M u`, then your eigensystem is `(a S + b M) v = mu M v` which has eigenvectors `u` and eigenvalues `a \lambda + b`.

If `a = b = 1` you get exactly shift by 1.

[2022-02-14 04:49] tzanio commented on #2809
Sorry if I missed it, but what exactly is the bug? Does the code crash when RAP is called for both spaces? Any error messages?

[2022-02-14 04:51] tzanio commented on #2796
@stefanozampini, can you help @davydden?

[2022-02-14 04:52] #2778 closed

[2022-02-14 04:52] #2793 closed

[2022-02-14 04:59] tzanio commented on #2819
Can you clarify -- what is the problem?

Unless f is C^1, the divergence will generally be discontinuous.

[2022-02-14 05:00] #2772 closed

[2022-02-14 05:01] #2764 closed

[2022-02-14 05:02] tzanio commented on #2524
Addressed in https://github.com/mfem/mfem/pull/2784

[2022-02-14 05:02] #2524 closed

[2022-02-14 05:03] psocratis commented on #2809
Yes the code crashes in RAP. Specifically in `hypre_BoomerAMGBuildCoarseOperatorKT`. No helpful info from the debugger really ...
[code]

Valgind does show some memory leak but I still couldn't figure out why...

[code]

Btw, changing the polynomial order of the `FiniteElementSpace`s or changing `RAP` to `PAR` (for some other appropriate sized A) or any other mesh, terminates successfully, and Val

[2022-02-14 07:42] AlejandroMunozManterola commented on #2823
Thank you very much for your suggestion, Pazner.

Thanks to it, I can finally understand the ordering behind the different spaces, as I thought that the GetNodes() function would get nodes from the mesh, not from the spaces, and as I used the same mesh, I had the misconception they would be the same.

[2022-02-14 07:42] #2823 closed

[2022-02-14 10:16] stefanozampini commented on #2796
https://github.com/mfem/mfem/pull/2826

[2022-02-14 12:41] stefanozampini commented on #2796
The nearnullspace for local matrices is already handled by the BDDC constructor automatically, see https://github.com/mfem/mfem/blob/stefanozampini/ex2p-bddc/linalg/petsc.cpp#L3298. This is used in case you want to use inexact subdomain solvers.  I have added support to attach the global RBMs to the linear system matrix in case you want to deflate those modes when constructing the adaptive primal

[2022-02-14 17:28] L29430 opened #2827 "Navier Miniapp"
Hi !

I would like to understand this miniapp, can I have a reference for this code ? I would like to know the weak formulation of the problem, for example.

Best wishes,

[2022-02-14 22:54] jandrej commented on #2827
See https://mfem.org/fluids and the references therein.

[2022-02-15 08:02] davydden commented on #2796
thank you very much for explanation and adding an example input file, @stefanozampini . I will have a look.

[2022-02-15 10:17] adam-sim-dev opened #2830 "Will variable-order space break the symmetry of bilinearform?"
Hello,

Recently, I have been testing ex3 with variable-order space. I simply increase the FE order of some elements as follows:

[code]

I found that assembled operator A becomes nonsymmetric, while for order=1, it's symmetric.

`std::cout << "matrix is symmetric :" << A.As<SparseMatrix>()->IsSymmetric() << std::endl;`

So I am wondering, is the result expected or am I doing something wrong?

I h

[2022-02-15 17:15] tzanio commented on #2796
Discussion continued in https://github.com/mfem/mfem/pull/2826

[2022-02-15 17:18] #2827 closed, assigned to jandrej

[2022-02-16 01:02] liruipeng commented on #2809
Maybe check if with `np=1` it always works. Just my guess.

[2022-02-16 04:11] psocratis commented on #2809
this only fails with the specific MPI partitioning

[2022-02-16 04:12] psocratis commented on #2809
[code]

[2022-02-16 06:05] ajithvallabai commented on #2103
@Haikuana  were u able to run paralle version in windows by linking hypre and metis libraries ?

[2022-02-16 15:47] Amudtogal commented on #2821
I tried it, but something is still odd...
The code runs, I get some constant results, but LOBPCG fails with
[code]
There must be something wrong in my use of boundary conditions/equations.
I will compile a minimal example and be back soon...

[2022-02-16 15:51] tzanio commented on #2821
Depending on the boundary conditions, the left-hand side matrix may be singular which could cause issue for the preconditioner.

If that's the case, you can shift the spectrum by 1 as before: just add `a->AddDomainIntegrator(new MassIntegrator(coeff_b));` and subtract 1 from the eigenvalue (the eigenvectors are the same).

[2022-02-16 15:59] Amudtogal commented on #2821
@tzanio , you are amazing! This resolved the issue!

I hope that I will meet you some day (maybe on a conference), so I can invite you to a drink of your choice!
Many thanks again!

[2022-02-16 16:24] Haikuana commented on #2103
@ajithvallabai I used default openmp, I recommend you can try linux to link these libs. it should be easier!

[2022-02-16 18:38] logantm2 commented on #2791
@pazner this is a massive help, thanks!

This got me most of the way there, but there's one last roadblock. I can't seem to get it to converge with a nonzero RHS. [This gist](https://gist.github.com/logantm2/e919f8f6bce9089b485544db525d54e8) is an example -- the only significant changes are adding a unit domain integrator to the `LinearForm b` and switching from UMFPack to the built-in CG solver.

[2022-02-16 18:42] jandrej commented on #2791
Yea, this is due lacking treatment of Dirichlet in your "RHS". I'd move it to the LHS into the `NonlinearMassIntegrator`. In general I like to have a form of `R(U) = 0` for nonlinear problems. But it's not required, just more convenient.

[2022-02-16 18:48] pazner commented on #2791
The issue is that your grid function `x` has zero values at the boundary, however the RHS `b` has non-zero values. For the solve to work, the RHS boundary values have to be compatible.

You can achieve this as follows:
[code]

Note that with this RHS, the solution is trivial:

<img width="441" alt="-_Delta_u_+_exp(" src="https://user-images.githubusercontent.com/11493037/154334678-0d9dbfe0-5861-4b

[2022-02-16 19:03] pazner commented on #2791
You can also do this more conveniently using `NonlinearForm::SetEssentialBC` like this:
[code]

[2022-02-16 19:04] ajithkumarmcw opened #2834 "Facing error in building parallel examples in windows"
I have used hypre2.16.0 and metis 5.1.0 and built it in accordance with procedure told in respective files ( [here](https://github.com/hypre-space/hypre/blob/master/INSTALL.md#hypre-installation-information-using-cmake) ,  [here](https://github.com/KarypisLab/METIS/blob/master/BUILD-Windows.txt)) successfully . After doing configuration in config file for parallel run and running below two command

[2022-02-16 19:20] jandrej commented on #2791
Careful with that. You need the attribute list as the first argument, not the dof list.

[2022-02-16 20:01] v-dobrev commented on #2103
We test the build with Visual Studio with MPI+hypre+metis in the appveyor CI, see the commands we use in https://github.com/mfem/mfem/blob/master/.appveyor.yml. We only run the serial examples on appveyor, so it is possible there maybe some runtime issues with the parallel build that we do not catch.

[2022-02-16 21:53] v-dobrev commented on #2834
I know that in our Windows tests on appveyor we modify a Metis source file like this: https://github.com/mfem/mfem/blob/88cca21c9064f7aa0f13e0fdc36dff15c2eefe2c/.appveyor.yml#L24 Can you try this change to see if that fixes your issue? In the same file, `.appveyor.yml`, you can also see the other build commands we use -- you can try them as well to see if that helps.

If none of the above works, l

[2022-02-17 01:13] liruipeng commented on #2809
Can you try https://github.com/hypre-space/hypre/tree/rap_bug_fix?

[2022-02-17 04:02] psocratis commented on #2809
@liruipeng, yes this fixes it. This is awesome!

Btw while debugging with @liruipeng and @pazner, we confirmed that the new Hypre RAP `hypre_ParCSRMatrixRAP` had no issues. Maybe we want to replace `hypre_BoomerAMGBuildCoarseOperator` with the new one? @tzanio, @v-dobrev, @mlstowell, @pazner  what do you think?

Thanks @liruipeng!

[2022-02-17 04:05] tzanio commented on #2809
Yes, I think we should replace it with `hypre_ParCSRMatrixRAP` in a backward-compatible way (depending on the hypre version).

Thanks so much for your help @liruipeng!

[2022-02-17 04:27] psocratis commented on #2809
Great! I can take care of it

[2022-02-17 08:11] ajithvallabai commented on #2834
i have did that GKlib.h change for my previous comment/run . but hypre was not build in similar manner.

Below are my observations in appveyor platform

- Run 1: I have modified the config for parallel build and ran mfem in appveyor platform with the .yml file given in official repo but it failed below is logs of it . this is the commit id ([here](https://github.com/ajithvallabai/mfem/commit/33a36

[2022-02-17 08:14] ajithkumarmcw commented on #2834
i have did that GKlib.h change for my previous comment/run . but hypre was not build in similar manner.

Below are my observations in appveyor platform

- Run 1: I have modified the config for parallel build and ran mfem in appveyor platform with the .yml file given in official repo but it failed below is logs of it . this is the commit id ([here](https://github.com/ajithvallabai/mfem/commit/33a36

[2022-02-17 15:57] logantm2 commented on #2791
Ahh, yep, that makes sense. Using the `SetSubVector` method works great for us, and it now works fine in serial.

One last hiccup: I'm getting the following error when attempting to run a parallel version:
[code]
In this case, `x` is a `ParLinearForm`. This error appears to pop up because it has length `GetVSize` whereas the `NonLinearForm`'s underlying `Operator` has width `GetTrueVSize`. I'm gue

[2022-02-17 16:20] pazner commented on #2791
Yes, the operator acts on a "true DOF vector", and the grid function and linear form are "DOF vectors", and so the sizes are incompatible.

The difference is that in parallel, a "DOF vector" will contain duplicated entries, since two MPI ranks with a common interface will both have copies of the "shared DOFs". In contrast, a "true DOF vector" will only have one copy of each DOF (a particular MPI r

[2022-02-17 16:25] #2789 closed

[2022-02-17 17:29] pazner commented on #2791
By the way, for larger/more difficult problems, you will definitely want to configure your CG solver and use a preconditioner, e.g.
[code]

[2022-02-17 17:55] logantm2 commented on #2791
Awesome, working well now!

[2022-02-17 17:55] #2791 closed

[2022-02-17 21:55] artv3 opened #2838 "Add PA support for transpose of convection operator"
Transposing the convection integrator and using PA
[code]
leads to the following error:
[code]

[2022-02-18 09:26] jchan192 opened #2842 "user-defined Preconditioner for blockOperator"
This post is related to #2811. My goal to implement a self-defined block preconditioner for a problem with `BlockOperator`
I would really appreciate it if anyone can provide some feedback here.

I am solving the following problem with GMRES method where A and B are `HypreParMatrix`
![lagrida_latex_editor (3)](https://user-images.githubusercontent.com/95039916/154641332-05c9bb8a-2be1-451a-bef8-8ab2

[2022-02-18 16:27] tzanio commented on #2838
See https://github.com/mfem/mfem/pull/2840

[2022-02-18 17:31] ajithvallabai commented on #2834
I think i solved the issue may because my metis relative path and repeated MPI path was causing the issue .(it seams the CMAKE is able to find the MPI path by default.  https://github.com/hypre-space/hypre/issues/582#issuecomment-1043729094)

if any one wants to build parallel examples in windows (local) they can follow below method.

Windows mfem parallel build:

Install MPI and verify with below

[2022-02-18 17:32] ajithkumarmcw commented on #2834
I think i solved the issue may because my metis relative path and repeated MPI path was causing the issue .(it seams the CMAKE is able to find the MPI path by default.  https://github.com/hypre-space/hypre/issues/582#issuecomment-1043729094)

if any one wants to build parallel examples in windows (local) they can follow below method.

Windows mfem parallel build:

Install MPI and verify with below

[2022-02-20 22:57] wcdawn opened #2845 "Internal Essential Boundary Condition"
I am solving the heat conduction equation in an unstructured mesh with a variety of materials, each with a unique thermal conductivity. The problem has two boundary conditions: a fixed temperature at the periphery and a fixed temperature for a cooling system (heat pipe).

I would like to implement this in MFEM by treating all DOFs associated with a particular attribute as essential (Dirichlet) BCs

[2022-02-21 08:23] Jinx134235 opened #2846 "Problems when building with Spack"
I have encountered a problem when building a variant version of MFEM with SPACK. I ran the following command in bash:

[code]

and got some error information like:

[code]

I  don't know if I was building it correctly, or how to enable such direct solvers in MFEM.

Thanks in advance to anybody who sees this.

[2022-02-21 17:14] pmguilcher opened #2847 "Access specific dof attributes from ComputeElementMatrix"
Dear all,

I think it is a very simple question, but I'm not sure it is truly possible.
Can I access some attributes or markers associated to degrees of freedom, directly inside the routines and functions associated to the Bilinear/Linear Form computations? I was thinking to ComputeElementMatrix or AssembleRHSElementVect.

My objective is to have 2 bilinear forms for 2 differents regions of the me

[2022-02-21 18:46] varchasgopalaswamy opened #2848 "Flux-limiting a thermal diffusion problem"
Hi,

I'm trying to figure out how to modify Ex 16 to incorporate flux-limiting in the thermal transport. Physically, this is used as a simple 'hack' to model thermal transport in plasmas where the mean-free path of the energy-carrying particles is larger than the gradient scale length of the temperature, and the diffusion approximation isn't valid. This modifies the transport equation from

𝝏𝒕 𝑻 =

[2022-02-21 20:15] tzanio commented on #2845
Take a look at `GetEssentialTrueDofs` in `ParFiniteElementSpace`:

https://github.com/mfem/mfem/blob/master/fem/pfespace.cpp#L1032-L1060

and `FiniteElementSpace`:

https://github.com/mfem/mfem/blob/master/fem/pfespace.cpp#L1032-L1060

If I understand correctly, you just want a version of these that works with element instead of boundary attributes?

[2022-02-21 21:47] termi-official commented on #2847
If your interface is conforming, then you could use the vertex or face connectivity, depending on your use-case. For example some patch can be applied with vertex connectivity with this template:

[code]

where you can access the dof information via the `FiniteElementSpace` (see e.g. `GetVertexDofs`). Regarding the markers, AFAIK they are directly associated with dofs. 'hope I could help a little.

[2022-02-21 21:50] wcdawn commented on #2845
@tzanio Thanks! This seems to be it. The key piece I was missing was
[code]

[2022-02-21 21:50] #2845 closed

[2022-02-22 00:29] pghysels commented on #2846
We'll look into this.

[2022-02-22 04:15] liuyangzhuan commented on #2846
@pghysels @Jinx134235 This is usually an error due to the use of GCC<5. Can you confirm which compiler version are you using?

[2022-02-22 05:34] Jinx134235 commented on #2846
@liuyangzhuan I was using gcc@4.8.5. Do you mean I have to update the compiler otherwise I cannot using Strumpack in MFEM?

[2022-02-22 17:05] pghysels commented on #2846
I believe there will be more issues compiling STRUMPACK and butterflypack with gcc 4.8 (which was first released in 2013).
I'm sorry, but I think it's time to upgrade. GCC 8 and higher should work.

[2022-02-22 19:59] liuyangzhuan commented on #2846
@pghysels I created a PR to fix this
https://github.com/spack/spack/pull/29151
Can you take a look?

[2022-02-23 03:52] goxberry opened #2850 "Boundary attribute question re: wedge elements & mfem::Mesh::MakeCartesian3D"
I am not a meshing or FEM expert, but in looking at how boundary element attributes are assigned in 3D Cartesian meshes for wedge elements, the line https://github.com/mfem/mfem/blob/722d8fa57531e748f75ff39cbd59d48f0a211390/mesh/mesh.cpp#L3221 looked sort of strange to me. Should that line read `AddBdrQuadAsTriangles(ind, 6);` instead, or is there something I'm missing?

[2022-02-23 17:27] mlstowell commented on #2850
Good catch, @goxberry! Looks like a copy-and-paste error to me. I can make a small bug fix PR to resolve this.

[2022-02-24 02:46] jchan192 commented on #2842
Thanks @jandrej for the answer! Your comment motivated me to actually implement the method.
And surprisingly, it works very well! The iteration number reduces from ~500 to ~20.
Here is a script of the derived class, where M = A and F =B in the equation above.
[code]

[2022-02-24 02:55] jchan192 commented on #2842
I have one question related to the concept of the preconditioner, which I am not familiar with.
When I set a preconditioner `Px=y` for GMRES,  I understand that the preconditioner provides a `x`
that can efficiently solve the actual `Ax=b` problem, but what is `y` actaully?

[2022-02-24 03:36] v-dobrev commented on #2834
Hi @ajithkumarmcw,

Thank you for taking the time to post these detailed instructions!

[2022-02-24 20:02] termi-official opened #2852 "Performance of Hybrid MPI+OpenMP Setups"
Hi everyone,

I found some weird performance issue when combining MPI and OpenMP. My CMake configuration is

Hypre
* HYPRE_WITH_CALIPER=ON
* HYPRE_WITH_OPENMP=ON
* HYPRE_BUILD_TYPE=Release

Caliper:
* WITH_MPI=ON
* WITH_OMPT=ON

and configured mfem via its make script as follows
[code]

Now on the caliper example I can observe the following:

ex1 works as expected.

<details>

<summary>Serial PA O

[2022-02-24 22:37] liuzg-23 opened #2853 "Is this a function for calculating matrix condition number in MFEM?"
Hi,
I want to know if this is a function for calculating matrix condition number in MFEM. Thanks very much.

[2022-02-24 22:57] psocratis commented on #2853
@liuzg-23,

There is no out-of-the-box function to use in mfem but there are some things you can do. What kind of matrix is it? dense or sparse? how big is it? if it's dense and relatively small you can use some of the MFEM interfaces to LAPACK to calculate singular values. If it's Sparse and/or really big you can use power / Inverse power iterations to estimate the largest and smallest singular v

[2022-02-25 01:10] liuzg-23 commented on #2853
@psocratis ，

Thanks very much for your advice. The matrix is a sparse matrix. The matrix scale is about 10,000,000*10,000,000.

[2022-02-25 03:17] v-dobrev commented on #2846
On the MFEM side, we also have seen issues with GCC 4.8.5 -- we were using this version of GCC in some of our tests but we had to switch to 4.9.x.

[2022-02-25 03:44] v-dobrev commented on #2755
Hi @jontateixeira,

Given your assumptions, it seems possible to write `p` as a function of `\rho` and then eliminate `p` from the equation. Have you considered this option?

[2022-02-26 00:50] pazner commented on #2792
Indeed, that line looks like it is unnecessary.

Perhaps @IdoAkkerman would be able to answer this question — I think the second-order ODE implementation is due to him.

[2022-02-27 07:48] sin2cos commented on #2764
@mlstowell
Hi Mark,

Sorry for the late reply, I was in a vocation, and I did not check emails for a while. I believe you have solved my problem. I am writing the code based on your suggestion, and I will let you know whether it works.
Best wishes,
Changyou

[2022-03-01 09:26] benzwick opened #2858 "Save or convert MFEM mesh as Gmsh mesh (PrintMSH)"
I am using MFEM as a mesh generator but now I need to use this mesh in some different software that cannot read MFEM files. Is there a way to convert the MFEM mesh to Gmsh format? If not, how hard would it be to create a `PrintMSH` function (similar to `PrintVTK` and `PrintVTU`) for this and would it be something that could be added to MFEM in the future?

[2022-03-01 18:01] varchasgopalaswamy commented on #2848
I managed to get at least part of the problem resolved by solving the diffusion problem for temperature defined on L2 by following the DG example in PR https://github.com/mfem/mfem/pull/867 (and in the process I think I've gotten a better idea of how MFEM works!)

However, I'm not sure how I'd get started with limiting the flux. In practice, it would need to be limited proportional to Q_max ~ dens

[2022-03-01 19:11] vladotomov commented on #2848
If you have everything available per DOF in the same space, why don't you just enforce it per DOF?
Since it's a vector I guess you want to preserve the directions at the quadrature points, so you should probably use the same correction scaling for all DOFs in a given cell.

[2022-03-01 22:20] varchasgopalaswamy commented on #2848
Vladimir,

I'm still learning about FEM so if I get something wrong in what follows please correct me!
In an FVM code with square elements (which is what I have experience with), I guess that's sort of what I'd do.
Imagine a 2D grid of squares, with temperature/conductivity defined at the cell centers. The  normal flux to the surface between cell `(i,j)` and `(i+1,j)` would be calculated as
``` Q_

[2022-03-01 22:30] artv3 opened #2863 "QuadratureSpace support for element faces?"
Folks, I think we may be missing QuadratureSpace support for element face quadrature rules. Could we introduce a QuadratureFaceSpace?

[2022-03-01 23:24] vladotomov commented on #2848
The issue you're describing (the constant `T`) should be resolved in step 1, when you solve for the gradient. If your DG jumps are correct, the resulting `Q` gradients won't be constant in the zones around the interface. Note that when Q is in H-div, you don't have to worry about such jump terms.

[2022-03-02 00:53] artv3 commented on #2863
Just to add more detail, my use-case for the volumetric terms is as follows:

[code]

At the moment qspace will intialize a quadrature rule with quad_1D^{mesh_dim} values, but for the face terms we need it to be mesh_dim -1, and I don't see how this can be done with the current MFEM tools.

[2022-03-02 02:02] #2658 closed

[2022-03-02 03:55] artv3 opened #2865 "Consistency in FaceQuadratureInterpolator and pa_data"
When applying FaceQuadratureInterpolator to a field it returns the data in the order `<quad, dim, nf>`; while pa_data will organize it in terms of `<dim, quad, nf>` (ex. DG trace pa setup kernels)

QuadratureInterpolator has a method to switch between layouts,
``SetOutputLayout(QVectorLayout::byVDIM); ``

Can something like that be introduced to FaceQuadratureInterpolator to maintain consistency?

[2022-03-02 07:52] benzwick commented on #2858
[code]

[2022-03-02 12:37] sshiraiwa commented on #2858
@benzwick Are you interested in adding this to PyMFEM? How about putting it under PyMFEM/mfem/common?

[2022-03-02 16:06] #2819 closed

[2022-03-02 17:39] YohannDudouit commented on #2863
@pazner did this in the libCEED integration to avoid this limitation:
[code]
But I agree that we should find a convenient way to access this for users.

[2022-03-02 19:30] varchasgopalaswamy commented on #2848
Hi Vladimir,

Sorry - I think I miscommunicated what I'm doing. I had initially tried the mixed approach I mentioned when I opened this issue, but found that I was getting oscillations in the flux in H-div that gave unphysical solutions for a simple problem. So I switched to solving it using a DG formulation as in https://github.com/mfem/mfem/pull/867, and found that worked well in the simple case

[2022-03-02 20:14] YohannDudouit commented on #2865
@artv3 Could you be a bit more specific on which kernels you are thinking of?
Here is one in `quadinterpolator_face.cpp:FaceQuadratureInterpolator::Eval3D`:
[code]
Here is another in `bilininteg_dgtrace_pa.cpp:PADGTraceSetup3D`:
[code]
They both seem to use `<quad, dim, nf>` ordering.

[2022-03-02 22:11] artv3 commented on #2865
yes, right above that when you take the velocity

https://github.com/mfem/mfem/blob/5308d285f732c45f3c381bcee415581fd34b1cb2/fem/bilininteg_dgtrace_pa.cpp#L95-L97

the ordering is `<dim, quad, nf>` so if the user wants to provide the velocity we have to flip the layout from what FaceQuadrature interpolator gives which is `<quad, dim, nf>` to `<dim, quad, nf>`

[2022-03-02 22:12] artv3 commented on #2865
I have an application where I compute the velocity and I would like to pass that to mfem in a container.

[2022-03-03 00:31] YohannDudouit commented on #2865
Ok, I can change that, the only question is if it will impact codes using `VectorQuadratureFunctionCoefficient`, do you use that? Technically it may break backward compatibility.

[2022-03-03 00:33] artv3 commented on #2865
I think we just need to add a method to switch between the layouts in `FaceQuadratureInterpolator`, that shouldn't break things.

[2022-03-03 01:04] cdelv opened #2867 "Gradient of an L2 space"
I have a solution of an L2 space. I know that because the space is discontinuous I can't use the gradient interpolator of MFEM. I thought about interpolating first to an H1 space and then applying the gradient but on this page https://mfem.org/lininterp/, it says that doing so requires a linear solve.  I tried to do the interpolation with `IdentityInterpolator `and with `ScalarProductInterpolator`

[2022-03-03 03:41] benzwick commented on #2858
@sshiraiwa I would rather add a function to MFEM that saves the mesh in Gmsh format (similar to PrintVTK, PrintVTU, PrintXG) because I need to do this in a C++ code. We could then add Python bindings in PyMFEM.

[2022-03-03 03:46] sshiraiwa commented on #2858
Yes. That is even better!

[2022-03-03 08:58] learning-chip opened #2869 "AMS solver fails for indefinite maxwell equation example"
First thanks for this package -- it is very well written and documented.

I was trying the time-harmonic indefinite maxwell example [ex25p](https://github.com/mfem/mfem/blob/v4.3/examples/ex25p.cpp), which calls the Auxiliary-space Maxwell Solver in Hypre. AMS [requires SPD matrix](https://hypre.readthedocs.io/en/latest/solvers-ams.html), but the ex25p problem is indefinite and it seems to cause p

[2022-03-03 15:32] rezgarshakeri commented on #2660
Hi @v-dobrev ,
I did matrix-vector multiplication as you said, thanks.
Now I need to implement the delta function as point source to the problem. In fact, I need to solve
k*u + grad p = grad (\rho g z)
-div u = delta (r-ro) + dp/dt

Is there a way to apply point-force in mfem?

(I also implemented linear BDM for quad and hex elements in libCEED, and solved the Darcy problem (mfem/ex05) and got the

[2022-03-03 15:58] tzanio commented on #2858
We will welcome such contribution @benzwick

[2022-03-03 17:48] camierjs commented on #2865
We could still do something like in [qinterp eval](https://github.com/mfem/mfem/blob/master/fem/qinterp/eval.hpp) for the layout if we can't wait for a more generic way to handle it.

[2022-03-03 18:46] psocratis commented on #2869
hi @learning-chip,

There are 2 aspects to the above issue.

The first is about the discretization of the problem.
The mesh size (and order of approximation) used for the first sample run for `f=1.0` is probably not "good enough" for `f=5.0`.  In general, the mesh has to satisfy `\omega h << 1` in order to have a stable discretization. There are also other factors you need to have in mind if you w

[2022-03-03 22:17] artv3 opened #2870 "AddMult bilinearform support for PA,EA, etc..."
Hi all,

It would be nice to have general support for AddMult for the different assembly types in bilinearform:

https://github.com/mfem/mfem/blob/baf9090c887e08058f0e93c01274b4cb4e069a19/fem/bilinearform.hpp#L273-L275

[2022-03-04 01:10] learning-chip commented on #2869
Thanks for this quick and thorough response!

That's a good point -- I know that instable discretization causes trouble for explicit time stepping method (ref CFL condition). Here indeed unresolved wave could also be problematic especially on AMG coarser grid.

The error goes like:

[code]

40% error seems a bit too big for this mild frequency. ||B r|| doesn't seem a good error indicator here, lik

[2022-03-05 00:03] tzanio opened #2871 "Update Parallel Example Codes and Miniapps to use HYPRE_Init/Finalize"
Hypre's GPU support now relies on a global state, which is created and destroyed with calls to `HYPRE_Init()` and `HYPRE_Finalize()` respectively.

We should use that in our parallel examples and miniapps, as there are a number of useful GPU settings, that are only accessible this way, see https://hypre.readthedocs.io/en/latest/solvers-boomeramg.html#gpu-supported-options.

One example is `HYPRE_S

[2022-03-06 02:44] #2842 closed

[2022-03-06 03:25] #2774 closed

[2022-03-06 14:55] jchan192 opened #2872 "L2 projection after non-uniform refinement"
Hi all,
The question here is similar to #1072 .
Given a `Gridfunction`  `u_gf` , I want to project `u_gf` to new finite element space, where the mesh is refined.
Unlike #1072, the refinement is not performed to the whole mesh using `UniformRefinemen`,
but only at certain regions using the `Thresholdrefiner`.

I wonder if `L2ProjectionGridTransfer` can still project `u_gf` to space that is not refi

[2022-03-06 18:52] psocratis commented on #2872
Hi @jchan192,

after a mesh refinement (uniform or not) you need to call `FiniteElementSpace::Update()`. This updates the `FiniteElementSpace` but also creates internally the transfer operator (the embedding)  from the old `FiniteElementSpace` to the new one. If you then call `u_gf.Update()`, this  transfer operator is used to map the `u_gf` to the new FiniteElementSpace.

Hope this helps.

Best,

[2022-03-06 22:25] tzanio commented on #2850
Addressed in #2851

[2022-03-06 22:25] #2850 closed

[2022-03-06 22:27] tzanio commented on #2838
Addressed in #2840.

[2022-03-06 22:27] #2838 closed

[2022-03-07 05:48] jchan192 commented on #2872
Thanks for the reply!
 Yes. My current code is using `u_gf.Update()` after refinement.
However, the new problem that I am solving now requires using  projection operator, L2- projection more specifically.

Please let me extend my question here.
What kind of interpolation scheme does `u_gf.Update()` adopt? Is it nodal interpolation or projection?

[2022-03-07 12:05] AlejandroMunozManterola commented on #2810
Greetings, I'd like to add more to this topic, as we have not yet solved it. But we consider this process a learning one in order to understand how to fully use MFEM's capabilities.

We have decided to move to a 1D problem for further simplification of the problem. I will expand on the problem we are trying to tackle.

Considering the following Maxwell equations, with epsilon and mu equal to one f

[2022-03-07 14:17] rezgarshakeri commented on #2660
I think I can use `DeltaCoefficient` class in `coefficient.hpp` file.

[2022-03-07 17:06] psocratis commented on #2872
Hi @jchan192,

The `Update()` uses nodal interpolation. I still fail to see the need for the projection. If you are doing a refinement then the coarse space is a subspace of the fine space, hence the solution already belongs to the fine space. A Projection would give you back the same thing, i.e., the embedding of `u_gf` in the fine space.

Unless you are doing LOR, where the refined space is of l

[2022-03-07 20:38] vladotomov commented on #2848
Hi Varchas,

Yes, having separate threads for these issues would be better.

About the mixed FE - I have some past experience with the Hdiv formulation and it was working ok for simple problems. I wasn't solving the same thing (I had a nonlinear term in addition to the divergence on the RHS), but I'd encourage you to revisit your code and search bugs in the `Q`-solve.

About the DG - have you trie

[2022-03-07 23:01] tzanio commented on #1750
@jandrej, can you check if https://github.com/mfem/mfem/pull/2873 resolves this leak?

[2022-03-07 23:42] jandrej commented on #1750
Resolved by #2873

[code]

[2022-03-07 23:42] #1750 closed

[2022-03-08 00:23] vladotomov commented on #2867
The simplest way to get something is to use `GridFunction::GetDerivative` - it constructs a new `GridFunction` for each component by computing the `x/y/z` derivatives in each element.

[2022-03-08 00:47] cdelv commented on #2867
@vladotomov  I see. I was worried that `GridFunction::GetDerivative` wouldn't work because L2 is a discontinuous field. Also on the page, I linked it appear as if L2 spaces dint have derivative operations.

[2022-03-08 01:06] vladotomov commented on #2867
L2 spaces have derivative operations, on element level.

Interpolating `L2` field to `H1` is not well-defined. But inside each element the L2 functions are smooth polynomials, and derivatives can be computed. That's what the `GridFunction::GetDerivative` does.

[2022-03-08 18:57] tzanio commented on #2872
Just to add to @psocratis's answer, the general intent of the `GridTransfer` classes is to be used for transfer between say a high-order space on a high-order mesh and a low-order space on a low-order refined mesh, see https://arxiv.org/abs/2103.05283.

That being said, one can consider using them with AMR, e.g. for derefinement. Do you need to do something like this?

If the answer is no, you are

[2022-03-08 19:01] psocratis commented on #2809
I am closing this. See https://github.com/mfem/mfem/pull/2841

[2022-03-08 19:01] #2809 closed

[2022-03-09 05:34] jchan192 commented on #2872
Thanks @psocratis @tzanio  for the reply.
I am not doing a transfer from HO space and mesh to LO space and refined mesh.
So looks like I actually don't need `GridTransfer`. Thanks for clarifying.

I am implementing a modified Crank-Nicolson solver. In pointwise form, it looks like this
![image](https://user-images.githubusercontent.com/95039916/157373095-87c57ec5-b097-4804-866c-81234515bf0f.png)
w

[2022-03-10 01:39] jchan192 commented on #2872
I will close the issue here, because the question is answered. I will open a new issue regarding the question above.
Thank you all

[2022-03-10 01:39] #2872 closed

[2022-03-10 01:46] jchan192 opened #2877 "Interpolation of the stiffness matrix before Update"
Hi MFEM community,

Sorry for the confusing title, I failed to find the right term to describe my problem.
I am implementing a modified Crank-Nicolson solver for Schorindger Eq #2811. In pointwise form, it looks like this
![image](https://user-images.githubusercontent.com/95039916/157373095-87c57ec5-b097-4804-866c-81234515bf0f.png)
where `U^n` is the approximated solution at timestep n and `π` is

[2022-03-10 02:09] sebastiangrimberg opened #2878 "Potential bug in ND_DofTransformation classes"
I noticed after pulling the most up to date MFEM that my code now fails with the following error:

[code]

I believe this was introduced by #1051, and occurs when trying to define ND spaces on triangles of order `p = 1`. In this case there are no face degrees of freedom and `Fo.Size()` is zero, which I think should still be OK because it isn't used in this case. When I use an order `p > 1` for the

[2022-03-10 02:20] sebastiangrimberg commented on #2878
Indeed, to reproduce this behavior, I modified this line in ex3p

https://github.com/mfem/mfem/blob/1378774bef32fc947ceb257d9c21a1d8f1fefd6e/examples/ex3p.cpp#L204

to read

[code]

Then the matrix assembly will fail when using `data/beam-tet.mesh` with the same error when using `-o 1`, but the error does not appear for `-o 2` or higher.

[2022-03-10 14:32] sshiraiwa commented on #2878
@sebastiangrimberg, I am running into the same issue since yesterday, and I agree your observation. The fix you suggested works for me.

[2022-03-10 17:57] mlstowell commented on #2878
@sebastiangrimberg and @sshiraiwa, thanks for bringing this to our attention.

I found similar potential issues in each of the DofTransformation classes. The fix I chose was to immediately return from the relevant methods if the number of face DoFs is too low.

Thanks again!

[2022-03-11 11:20] AlejandroMunozManterola opened #2882 "Clarification on DGTraceIntegrator (and/or the Discontinuous Galerkin scheme) in MFEM"
Good day to all Mfem members and users.

We've been working on steadily understanding MFEM, mainly the Discontinuous Galerkin scheme.

When it comes to Discontinuous Galerkin, DGTraceIntegrator is a crucial part when it comes to the Flux term.

I'd like to request a clarification or pointing us to understand how to arrive at the α⟨ρu(u⃗ ⋅n^){v},[w]⟩+β⟨ρu|u⃗ ⋅n^|[v],[w]⟩ term. The norm term in the

[2022-03-11 16:29] L29430 commented on #2827
Hello,

If I understand correctly you use a projection methods to solve equations. In this method, I don't uderstand when you solve div(u) = 0 ?

Best wishes,

LS

[2022-03-11 16:37] jandrej commented on #2827
Like described in the references, the incompressibility condition, `div(u) = 0`, is imposed weakly by replacing terms during the derivation.

[2022-03-11 19:10] pazner opened #2884 "Some vector finite element PA issues"
If I change the test "Hcurl/Hdiv pa_coeff" to use a non-Cartesian mesh it fails:
[code]
[code]

Also, this line looks somewhat suspicious: https://github.com/mfem/mfem/blob/def8aee025bf65f55c9edc305ec7aebfa9ca743b/fem/bilininteg_vectorfe.cpp#L343

[2022-03-11 20:36] tepperly commented on #1155
@e-aranda, I think this modification to your `MyParGridFunction` class will do the same thing without leaking memory, but I haven't test it.
[code]

[2022-03-11 22:10] tzanio commented on #2884
`/ (J11*J22) - (J21*J12)` definitely looks like a bug... @dylan-copeland can you take a look and fix in the `mfem-4.4-dev` branch?

[2022-03-12 14:40] L29430 commented on #2827
So you never solve `div(u) = 0` directly?

[2022-03-12 17:44] #2878 closed

[2022-03-12 20:35] tzanio commented on #2878
Resolved in https://github.com/mfem/mfem/pull/2880

[2022-03-12 21:13] tzanio commented on #2871
Discussion continued in #2873

[2022-03-12 21:13] #2871 closed

[2022-03-12 21:14] tzanio commented on #2846
@Jinx134235, has this issue been resolved?

[2022-03-12 21:15] tzanio commented on #2830
@jakubcerveny and @rw-anderson, can you help Adam?

[2022-03-12 21:16] tzanio commented on #2817
@rw-anderson and @jakubcerveny, can you help David?

[2022-03-12 21:18] #2824 closed

[2022-03-12 21:19] tzanio commented on #2699
@YohannDudouit and @camierjs, is this still an issue?

[2022-03-12 21:22] tzanio commented on #1276
Discussion continued in https://github.com/mfem/mfem/pull/2873

[2022-03-12 21:22] #1276 closed

[2022-03-12 21:22] #1834 closed

[2022-03-13 14:04] sshiraiwa opened #2888 "How to use HypreParVector::InnerProduct with HYPRE_USING_CUDA?"
I am trying to use HYPRE_USING_CUDA option and noticed a couple of method does crash.
Here is a sample to generate a problem. I feel like I am missing something, but not sure what.
Thank you for your help.
[code]

[2022-03-13 22:16] sshiraiwa commented on #2888
Thank you for your help. FYI, here is backtrace.
[code]

[2022-03-14 08:11] AlejandroMunozManterola commented on #2882
Good day @pazner,

This is very informative, I appreciate it as it will help us understand the process more.

Have a pleasant day.

[2022-03-14 10:25] AlejandroMunozManterola commented on #2882
My apologies for re-opening the issue but a question dawned on me and I thought it'd be wiser to use this thread as it's related.

In your answer, you mention I can achieve both strong and weak forms by using the combinations `ConservativeConvectionIntegrator` and `ConservativeDGTraceIntegrator` or `ConvectionIntegrator` and `NonconservativeDGTraceIntegrator`.

But what if I am not solving a conve

[2022-03-14 10:25] AlejandroMunozManterola commented on #2882
[](https://render.githubusercontent.com/render/math?math=\materialMatrix%20\frac{\partial%20\unknownFieldsVec}{\partial%20t}%20+%20\frac{\partial%20\fluxFunctionVec}{\partial%20t}%20=%200)My apologies for re-opening the issue but a question dawned on me and I thought it'd be wiser to use this thread as it's related.

In your answer, you mention I can achieve both strong and weak forms by using the

[2022-03-14 15:36] pazner commented on #2882
The documentation you linked to is unfortunately somewhat unclear — you can use `ConvectionIntegrator` with L2 spaces, but it will apply the operator element-wise. In a DG formulation, you would also need a numerical flux function that will couple the elements through surface integrals. The choice of numerical flux is typically problem-specific. An example is shown for the Euler equations in ex18.

[2022-03-14 16:55] dylan-copeland commented on #2884
Thanks @pazner. I will fix this, and change the unit tests to use non-Cartesian meshes. This bug was introduced in 2020 in this commit: https://github.com/mfem/mfem/commit/e00be4f28ea2d22ec866677a11ff2cf27ef914dc

[2022-03-14 16:55] cbritopacheco opened #2889 "Project Coefficient onto a component of a vectorial GridFunction on the boundary"
# Environment

|             |                           |
|--------| ---------------|
|    OS     | macOS Big Monterey |
| Compiler | AppleClang 13.0.0.13000029 |
| mfem   |  c6425db3da406d1053606a627774fcf2479be658 |
| Build | Debug |

Error is not reproduced in the Release build.

# Problem

I seek to project an `mfem::Coefficient` onto one of the components of a vectorial `mfem::GridFunction`

[2022-03-14 19:46] v-dobrev commented on #2888
Some context: the vectors `v1` and `v2` will be created as host vectors in both their mfem and their hypre internal data -- in hypre their memory-location will be `HYPRE_MEMORY_HOST` -- this is because the last parameter in the constructor, `is_device_ptr` is false by default which is the correct value in this case because `data` is on the host.

As expected with a host vector, `v1->Print("hoge")`

[2022-03-14 20:30] sshiraiwa commented on #2888
@v-dobrev Thank you. Indeed,  v1->HypreRead() makes InnerProduct work. But not GlobalVector. Also, after adding HypreRead(),  I am having problem with freeing memory.
[code]

[2022-03-14 20:50] v-dobrev commented on #2888
This is probably due to leaked CUDA memory. Do you delete `v1` and `v2`? If you are not, the MFEM memory manager is trying to delete these. However, in this case the memory manager is destroyed after the CUDA library is shut down, so the call to `cudaFree` fails. To ensure the MFEM memory manager is destroyed properly (before CUDA is shut down), create, inside `main` an MFEM device object, e.g. si

[2022-03-14 21:08] sshiraiwa commented on #2888
Yes, I did that to. But, in that case, I get an assertion error. Apparently, I should not do delete v1, then I can have a smooth exit. Is it what is expected?
[code]

[2022-03-14 21:41] v-dobrev commented on #2888
This is unexpected. Deleting `v1` (and `v2`) should work fine. Can you post the code you are running? I'll try to reproduce the issue and debug it.

[2022-03-14 22:28] sebastiangrimberg opened #2890 "Issue with MixedVectorIntegrator after recent merge of #1989"
I am assembling a MixedBilinearForm which has only boundary integrators on a 3D mesh. After merging #1989, this no longer works and I get the following incompatible dimensions error and backtrace:

[code]

It seems the issue is inside `CalcPhysDShape`, the inverse Jacobian is 2 x 3 but the `dshape` matrix (`trial_shape` in `MixedVectorIntegrator::AssembleElementMatrix2`) is now only allocated with

[2022-03-14 22:30] sebastiangrimberg commented on #2890
Just as a follow-up or potential solution, it looks like elsewhere like in `VectorFEMassIntegrator::AssembleElementMatrix2`, `trial_vdim` and `test_vdim` are computed as:

[code]

Maybe this is all that is required in this case too. Also tagging @mlstowell, thank you Mark!

[2022-03-14 22:34] sshiraiwa commented on #2888
Here is the version which fails by "Assertion` failed: (mm.IsKnown(h_ptr)) is false."
[code]

[2022-03-14 22:38] tzanio commented on #2890
Thanks for the quick bug report, @sebastiangrimberg!

[2022-03-14 22:41] sshiraiwa commented on #2888
By the way, this one, with device("cuda") and passing Device Memory to HypreParVector constructor, delete v1 works just fine.
[code]

[2022-03-15 17:28] mlstowell commented on #2818
Hi, @brightzhang91,

The offsets you show seem correct to me. The `Operator` size you show before that, however, does not. Which `Operator` are you referring to here? The `BlockOperator` will set its own size based on the offsets. How are you defining `B` and `Bt`? Are you using one operator for both of these or are they separate?

Best wishes,
Mark

[2022-03-15 17:46] mlstowell commented on #2890
Hi, @sebastiangrimberg,

Being a generalized bilinear form integrator I don't think we can use `set::max` in the same way here. The gradient of a scalar basis function will always be the space dimension so we should simply use that. We can make this change in `MixedVectorWeakDivergenceIntegrator::GetTestVDim`.

I'm concerned that similar changes may be necessary in other integrators which are base

[2022-03-15 17:47] tzanio commented on #2890
thanks @mlstowell !

[2022-03-15 21:07] sshiraiwa opened #2893 "overloaded virtual function "mfem::FiniteElement::Project""
Using the latest master, I am getting a warning similar to https://github.com/mfem/mfem/pull/2698 on some clusters including Perlmutter when MFEM_USE_CUDA=YES. (Somehow I don't get this at all on my own linux box...;D).  Is this something I need to worry? Apparently, the code built and run at least with GNU compiler. So perhaps, it is harmless, but there are really a lot...
[code]

[2022-03-15 21:11] tzanio commented on #2893
This is fixed in https://github.com/mfem/mfem/pull/2839, see f5fb6ef471944985968513dac34d35ce64cf565a

You can help us by testing that branch, which we plan to merge in `master` on Friday

[2022-03-15 21:12] brightzhang91 commented on #2818
The code is as follows:

[code]

[2022-03-15 21:21] geyan3566 opened #2894 "Modify entities in `SparseMatrix`"
Hi,

I created a FIniteElementSpace which containing a prolongation matrix (`SparseMatrix *cP`)

Is there a way to modify the sparse matrix after calling `Finalize()` ?

Thanks,
G

[2022-03-15 21:48] mlstowell commented on #2890
@sebastiangrimberg, if you get a chance, could you verify that PR #2895 resolves this issue in your code?

[2022-03-15 21:58] sshiraiwa commented on #2893
Thanks. Yes that particular warning is gone. There are still warning though, but the message seems harmless
[code]
[code]

[2022-03-15 21:59] sshiraiwa commented on #2893
BTW, I suppose I should start tracking mfem-4.4-dev in PyMFEM.

[2022-03-15 22:01] tzanio commented on #2893
Which compiler is this with? Are there other warnings?

[2022-03-15 22:05] sebastiangrimberg commented on #2890
Thanks @mlstowell, I can confirm that this fixes the issue!

Closing this now, discussion continued in #2895.

[2022-03-15 22:05] #2890 closed

[2022-03-15 22:07] sshiraiwa commented on #2893
This is on Perlmutter.

shiraiwa@nid002276:~/src/mfem/cmbuild_ser/examples> CC --version

nvc++ 21.11-0 64-bit target on x86-64 Linux -tp zen2-64
NVIDIA Compilers and Tools
Copyright (c) 2021, NVIDIA CORPORATION & AFFILIATES.  All rights reserved.

[code]

[2022-03-15 22:53] sshiraiwa commented on #2893
I confirms that I don't see the warning anymore with intel and gnu compilers.

[2022-03-16 02:03] v-dobrev commented on #2888
Hi @sshiraiwa,

I debugged the code from https://github.com/mfem/mfem/issues/2888#issuecomment-1067368899 and it turns out that it exposes a bug in MFEM: wrapping the same host `data` pointer in two different `HypreParVector` objects is not handled properly. If you use two different host arrays:
[code]
then there are no issues. We will fix this after the v4.4 release -- since this is not a very co

[2022-03-16 04:45] v-dobrev commented on #2863
We should try to address this as part of #1656. It may be more convenient to allow the same class, `QuadratureSpace`, to support both volume and face quadrature spaces -- that way evaluation of coefficients on volume and face quadrature spaces can use the same interface.

[2022-03-16 05:03] v-dobrev commented on #2865
This can be done as part of #1656. The idea will be to make sure we can evaluate `GridFunctionCoefficient`s on face quadrature spaces, so that the resulting data is ordered as needed by the face quadrature space which will then be used inside face-based PA kernels.

[2022-03-16 05:57] mlstowell commented on #2818
Okay, that makes sense. What are the errors you're seeing?

[2022-03-16 07:24] mlstowell commented on #2818
Hi, @brightzhang91,

I put together a draft of a class for using a set of vectors as an operator. See [ParVectorOperator](https://github.com/mfem/mfem/blob/linearform-op-dev/linalg/vector_operator.hpp).

You can also see how to use it in [ex1p_vo](https://github.com/mfem/mfem/blob/linearform-op-dev/examples/ex1p_vo.cpp). I just use this to compute the center of mass for a `ParGridFunction` but thi

[2022-03-16 08:19] LeilaSalomon opened #2896 "Example 9 : Add a source term"
Hello everybody :)

I would like to solve the following equation :

![image](https://user-images.githubusercontent.com/40572513/158544826-3b503548-cece-4366-bf9c-b7107effccc6.png)

This equation is very similar to the problem treated in example 9, except that I have an additional source term. Can I just add the following line :

[code]

Best wishes,

Leïla

[2022-03-16 19:39] YohannDudouit opened #2897 "Add Sparse Matrix assembly using libCEED."
Look into integrating sparse matrix assembly through libCEED:
https://gitlab.com/micromorph/ratel/-/blob/main/src/ratel-petsc-ops.c#L104-107
https://gitlab.com/micromorph/ratel/-/blob/main/src/ratel-petsc-ops.c#L133-135

[2022-03-16 20:26] dylan-copeland commented on #2884
This issue (which is actually the tip of the iceberg) is fixed in https://github.com/mfem/mfem/pull/2898.

[2022-03-17 11:03] J-Pi opened #2900 "Assembly of non-diagonal blocks in HypreParMatrix"
Hello everybody!

I am trying to implement an unfitted finite element method using level sets for extrapolation of solution values (an alternative method to the shifted boundary method). I have an working serial version and an working version with pure explicit treatment in parallel. Now I want to implement the implicit version (which is working in serial) in parallel. Therefore I have to assemble

[2022-03-17 17:09] vladotomov commented on #2900
Probably it can be done, as long as your extrapolation only comes from nearest face neighbors.
See `ParBilinearForm::AssembleSharedFaces()` which assembles the local `SparseMatrix` by considering MPI neighbors.
See `ParBilinearForm::ParallelAssemble()` to see how local `SparseMatrix` are used to form the `HypreParMatrix`.

[2022-03-17 21:05] #2894 closed

[2022-03-17 21:06] geyan3566 commented on #2894
Problem fixed.

[2022-03-17 22:07] ChaoW95 opened #2901 "vtu mesh file nodal number reordered"
Hello everybody!

I am trying to read the mesh in the `vtu` format and do some FEA with it.
The FEA process goes smoothly. However, I found that the nodal number of the mesh is reordered.
I was wondering if there is a way to prevent the reordering and just use the given node number instead.

Thank you!

[2022-03-17 22:11] ChaoW95 commented on #2901
Here is how I read the mesh:
`Mesh *mesh = new Mesh(mesh_file1, 0, 0, false);`
I have already turned off the `refine` and `fix_orientation`.

[2022-03-18 07:13] J-Pi commented on #2900
First of all, thank you Vladimir, for your answere.
The problem is, that the extrpolation does not only come from direct neighbours, but I do know the local (and global) element number of the element I have to extrapolate from, and the rank of this element. As far as I have understood the assembly of shared faces, this might also work in my case in a similiar way.
Currently my assembly for the Hyp

[2022-03-18 14:08] LeilaSalomon commented on #2896
Well, that seems to work!! :)

[2022-03-18 14:08] #2896 closed

[2022-03-18 14:59] LeilaSalomon opened #2902 "Divergence calculation"
Hello !

I solve this equation :

![image](https://user-images.githubusercontent.com/40572513/159027161-003729e2-bb92-4d50-88f8-024c45f53239.png)

For that, I use example 1.

A is a continuous function, represented here:

![A](https://user-images.githubusercontent.com/40572513/159020519-946527ca-8960-4388-a5d3-baea0917cefa.png)

After calculating the solution `u`, I would like to recover the term

[2022-03-18 21:30] mlstowell commented on #2902
Hi, @LeilaSalomon,

These are interesting images. Problems like this are often more difficult than they appear.

I would suggest using a `DiscreteLinearOperator` with a `GradientInterpolator` to compute `Grad(u)` in Nedelec space. This should be an exact gradient of the H1 solution `u`. Of course, `u` is not an exact solution of then original PDE so the resulting gradient won't be perfect either b

[2022-03-19 12:43] brightzhang91 commented on #2818
The error I see for the
[code]
is "Conditional jump or move depends on uninitialised value(s)" after initialization of My_Operator.
And
![image](https://user-images.githubusercontent.com/67397441/159121513-1c8ff8da-b195-4808-8c57-70982d277ed7.png)
when using the `Mult()` and `GetGradient()` of My_Operator in the `NewtonSolver`.

[2022-03-19 13:08] brightzhang91 commented on #2818
Many thanks Mark for making this.  I did something similar for B and Bt but I think it was in the incorrect way. I'll try to make use of your `ParVectorOperator`  for the B and Bt Operators. Can you add more details how the ParVectorOperator.Mult() is defined and what's the function of `SetVector` ?

As you can see from my errors above, `My_Operator` is based on a BlockOperator,  returning a `Bloc

[2022-03-19 14:56] #2775 closed

[2022-03-20 02:20] liuzg-23 opened #2905 "Install mumps using the lapack and scalapack of intel mkl."
Hello,
Because I install mumps using the lapack and scalapack libraries of intel mkl. I set the configure of lapack and scalapack in defaults.mk using the following commands:
LAPACK = $(if $(NOTMAC),-lmkl_intel_lp64 -lmkl_intel_thread -lmkl_core -framework Accelerate)
SCALAP = -L$(MKLROOT) -lmkl_scalapack_lp64 $(LAPACK)
MUMPS_DIR = @MFEM_DIR@/../MUMPS_5.3.5
MUMPS_OPT = -I$(MUMPS_DIR)/include
MUMPS

[2022-03-20 14:40] sshiraiwa commented on #2905
There are routines in Fortran library. I am wondering if you are using (or can use) ifort as a linker?
[code]
Another thing to look is to take the ldd of example program in MUMPS, and see how they are linked. @psocratis, how are you using MUMPS from MFEM build system?

[2022-03-20 20:36] #2893 closed

[2022-03-20 20:38] tzanio commented on #2884
Addressed in https://github.com/mfem/mfem/pull/2898

[2022-03-20 20:38] #2884 closed

[2022-03-20 20:39] #2807 closed

[2022-03-20 20:41] #2858 closed

[2022-03-20 20:45] #2888 closed

[2022-03-20 20:51] tzanio commented on #2550
Discussion continued in https://github.com/mfem/web/issues/165

[2022-03-20 20:51] #2550 closed

[2022-03-21 04:57] barreracruz opened #2906 "Duplicated information in output file (ParaView)"
I use ParaView to visualize my results (`ParaViewDataCollection`s). I have noticed that the output mesh is conformed of element/cell each with unique set of nodes, i.e., facets of contiguous elements will not share their nodes, generating duplicated information. I know I can use the `Clean To Grid` filter to fix this; however, it would be nice if MFEM could somehow circumvent this issue. The unnec

[2022-03-21 07:13] mlstowell commented on #2818
Hi, @brightzhang91,

The error you are showing appears to be from valgrind and not MFEM. It seems that the `mfem::Operator` is accepting the size that you're passing. If the MFEM operator or vectors have incompatible sizes the `Mult` methods should print an error if you built MFEM with `MFEM_DEBUG=YES`. If you're not seeing these error messages from MFEM then perhaps the error is in the custom `Mu

[2022-03-21 10:52] AlejandroMunozManterola commented on #2882
Greetings,

we've been analysing the problem and we consider we might indeed need to expand DGTraceIntegrator.

As it is right now, its form is α⟨ρ(u⃗ ⋅n){v},[w]⟩+β⟨ρ|u⃗ ⋅n|[v],[w]⟩,

But our flux would require a term similar to the following expression

α⟨ρ(u⃗ ⋅n){v},[w]⟩ + β ⟨ρ|u⃗ ⋅n|[v],[w]⟩ + γ ⟨ρ(u⃗ ⋅n)[v],[w]⟩

So that the gamma term contains the jump operator for the trial function (similar

[2022-03-21 16:39] jandrej commented on #2882
You can always add two `DGTraceIntegrator`? One with `α != 0` and `β != 0` and the other one with  `α == 0` and `γ != 0`. Is that not feasible?

[2022-03-21 16:47] jandrej commented on #2882
You can always add a `DGTraceIntegrator` with either alpha or beta set to zero.

[2022-03-21 16:51] adantra opened #2907 "Is it possible to assign essential bc in different directions for each boundary?"
Consider a linear elasticity problem. How do I assign a different component to each boundary?
I tried the following:
ess_bdr_west_list = [0] * (n_bdr_attr)
ess_bdr_north_list = [0] * (n_bdr_attr)
ess_bdr_bottom_list = [0] * (n_bdr_attr)
ess_bdr_west_list[nwest] = 1
ess_bdr_north_list[nnorth] = 1
ess_bdr_bottom_list[nbottom] = 1
ess_bdr_west = mfem.intArray(ess_bdr_west_list)
ess_bdr_north = mfem.i

[2022-03-21 16:55] pazner commented on #2906
Hello @barreracruz,

MFEM doesn't currently support outputting VTU without duplicating the nodes on element interfaces. Because we support spaces that are more general than just continuous FEM (Nédélec, Raviart-Thomas, DG) on the same mesh, it is generally useful for MFEM to duplicate these nodes.

Of course one could imagine a special case to avoid duplication when only H1 fields are being saved,

[2022-03-21 16:59] pazner commented on #2901
Hello @ChaoW95,

Is your mesh high-order or straight-sided? Typically MFEM does not reorder the vertices of a straight-sided mesh. It might be useful, if possible, to attach your mesh file here.

[2022-03-21 17:25] rcarson3 commented on #2907
Hi @adantra, so you currently would want a temporary array which you'd pass into the `fespace.GetEssentialTrueDofs(...)` calls. Then between each call you'd want to add the information from there to your `ess_tdof_list`.

I will mention that I currently have a PR open #2849  which should eventually make this process easier in future versions of MFEM.

[2022-03-21 18:29] adantra commented on #2907
Thanks, Robert. That's exactly what I need.

[2022-03-21 22:52] brightzhang91 commented on #2818
Hi Mark,

Many thanks for your guidance on how to build the `B` and `Bt` Operator with the new class `ParVectorOperator`. I'll try to use it to rebuild my constraint operators.
However,  I deleted my  `B` and `Bt` (to exclude their effects )and used `cout` to print out the execution of `My_Operator`.  It seems the error "Conditional jump or move depends on uninitialised value(s)" appears right aft

[2022-03-21 23:11] mlstowell commented on #2818
Hi, @brightzhang91,

Yes, the `ParVectorOperator` specifies the size of the `mfem::Operator` using a very similar conditional argument. Perhaps your `myid_` variable is not set before this conditional? In my class I passed this integer as an argument to the constructor because the `mfem::Operator` does need to be initialized before any of the member data in the `ParVectorOperator` object is availa

[2022-03-22 03:26] barreracruz commented on #2906
Thank you, @pazner

[2022-03-22 03:26] #2906 closed

[2022-03-22 06:43] jchan192 commented on #2877
Hi all,
I have consulted with an FE analysis expert regarding problem. I now have a better understanding of the problem
but still couldn't implement it correctly in MFEM.

In short, I want to compute the following L2 projection of ΔU from a mesh to a refined/derefined mesh (same order of FE space).
![image](https://user-images.githubusercontent.com/95039916/159416187-3d903ffd-7259-44a5-8ba6-8be768

[2022-03-22 08:18] J-Pi commented on #2900
And finally, here is the update.
Assembly of the local Matrix in the form `(Diag|OffDia)` in the form I suggested above works fine with an adjustment of the `glob_J` Array of the ParallelAssemble function.
Thanks again for your help.

Best,

Jan-Phillip

[2022-03-22 08:18] #2900 closed

[2022-03-22 12:06] rhebergens opened #2909 "Vector version of DGDiffusionIntegrator"
I'm implementing a DG discretization for (Navier-)Stokes. The code is working well based on using the ElasticityIntegrator on cells and DGElasticityIntegrator on faces. However, I'd like to use the vector Laplacian as the diffusion term instead of the divergence of the symmetric gradient formulation. On the cells I can use VectorDiffusionIntegrator, but there is no VectorDGDiffusionIntegrator on f

[2022-03-22 15:56] LeilaSalomon commented on #2902
I forgot to specify that `A` is a continuous function represented on a GridFunction.

[2022-03-22 16:47] wcdawn opened #2910 "HYPRE+HIP Runtime Error"
I'm trying to compile with HIP & HYPRE. Compiling with just HIP works fine, but I'd like to use `HypreBoomerAMG`.
I get the following runtime error when running `ex1p`. Any help would be much appreciated.

[code]

I'm using the `master` branch of MFEM & HYPRE v2.24.0.

HYRPE config
[code]

MFEM config
[code]

[2022-03-22 16:53] tzanio commented on #2910
@wcdawn, just to clarify -- you are using `mfem:master` as of today, i.e. `mfem-4.4`?

[2022-03-22 16:55] wcdawn commented on #2910
@tzanio correct. MFEM v4.4. I just did a pull today.

[2022-03-22 17:10] jandrej commented on #2910
[code]
looks suspicious?

[2022-03-22 17:12] wcdawn commented on #2910
@jandrej I get the same message when passing `-d hip`. Here is the full command line that I ran.

[code]

[2022-03-22 18:43] pazner commented on #2910
Hello @wcdawn,

Are you able to get a backtrace by running with `gdb`?

Also, we have tested with hypre version 2.23, do you encounter the same crashes with that version as well?

[2022-03-22 18:56] wcdawn commented on #2910
@pazner  I rebuilt with HYPRE v2.23.0 and get the same error. I also rebuilt MFEM with `MFEM_DEBUG=YES` so I could get backtrace info. Here is the backtrace.

[code]

[2022-03-22 23:01] v-dobrev commented on #2910
It looks like this stack trace and crash happen on a separate thread, not on the main thread. Can you try switching to the main thread and getting the stack trace there? I suspect that this new thread that crashes is created during some call to the HIP/ROCm runtime but it is best to confirm that and find out what call exactly causes this.

[2022-03-22 23:17] brightzhang91 commented on #2818
You are right. My failure with defining the Operator size was due to the undefined `myid_`. Now the problem was resolved following your method. I'll rebuild and test my constraint Operators as in `ParVectorOperator` and then update it here when it works. Thanks very much for the support !
Best regards
Bright

[2022-03-22 23:23] jchan192 commented on #2872
@psocratis
sorry for coming back. I have consulted with an FE analysis expert regarding my problem. I now have a better understanding but still couldn't implement it correctly in MFEM....

We suppose to compute the following L2 projection of ΔU from a mesh to a refined/derefined mesh (same order of FE space).
![image](https://user-images.githubusercontent.com/95039916/159416187-3d903ffd-7259-44a5-

[2022-03-22 23:58] pazner commented on #2909
Hello @rhebergens,

Option 2 sounds like a reasonable thing to try. I'm not sure why it wasn't working for you. It should actually be possible to wrap *any* scalar integrator in another integrator that "vectorizes" it, i.e. repeats its element matrix as blocks along the diagonal. Note that for the ordering, the vector dimension should be the "slow" dimension, and the DOF index should be the "fast"

[2022-03-23 08:34] 3rav opened #2913 "Install location for .dll in mingw (msys2)"
How can i force install .dll in "bin" folder, it is currently installed in "lib" folder (and simultaneous installation of dll.a in "lib" folder)?

[2022-03-23 12:00] brechtsanders opened #2914 "undefined RTSegmentFE in fem/fe/fe_rt.cpp in version 4.4"
In mfem version 4.4 in file `fem/fe/fe_rt.cpp` there is a reference to `RTSegmentFE` which is not defined anywhere.

If I replace it with `H1SegmentFE` the build succeeds, but I have no idea if that's the right thing to do.

[2022-03-23 13:05] BBBBBbruce opened #2915 "Bug in ex2"
Hello, I noticed a little bug in the ex2 code.

In section 9, when setting the lame parameters,

Since material 1 is fixed and material 2 is free to move, lambda and mu should be changed in lambda(1).

the code below seems not to do anything.
[code]

[2022-03-23 15:42] rhebergens commented on #2909
Thanks for the response. Regarding option 2, in the DGDiffusionIntegrator at the end once we have elmat, I added

[code]
where velmat is size dim*ndofs. I then return velmat instead of the scalar elmat. The code compiles, but I get nan as solution. Please let me know if I misunderstood the ordering.

[2022-03-23 15:58] cdelv opened #2917 "Navier Mini-app Units and adaptive time step"
While reading the Navier Mini-app documentation I noticed that it needs the time step to initialize. But also, for the Step, you have to provide de time step. Then I was wondering, do I have to call setup every time I perform a time step in case my dt is variable?

[code]
The documentation mentions that depending on the values of provisional and cur_step the time is updated or not, but it's not cl

[2022-03-23 16:19] jandrej commented on #2917
You do not have to call `::Setup(double dt)` to choose a new timestep. Just take your `::Step(...)` with the desired `dt` and check if the solution is feasible. Rinse repeat.

Here is a little more explanation on the non-dimensionalization of the equations http://nek5000.github.io/NekDoc/theory.html#non-dimensional-navier-stokes.

The code assumes the density `rho = 1` and it is best to encapsulat

[2022-03-23 17:15] mlstowell commented on #2914
Good catch, @brechtsanders! It looks like we're not testing enough with the thread safe option turned on. I'll put together a quick PR to fix this.

[2022-03-23 17:31] cdelv commented on #2917
@jandrej Thanks. Would be great if you could implement that feature. Now I understand better how to use the mini-app.
To recap, the way the solver is made assumes characteristic length, velocity, and density equal to 1. Or directly apply the conversion from the Re number. to get the units.

[2022-03-23 18:16] pazner commented on #2909
I think the issue you are encountering is that *all* the degrees of freedom for the "second" element come after all the degrees of freedom for the fist element, they are not interleaved. You can try doing something like this:

[code]

[2022-03-23 18:56] tzanio commented on #2915
Hi @BBBBBbruce,

I am not sure I understand the question. After these two lines

[code]
the vector `lambda` should be `50, 1`.

This means `lambda_func` will be `50` in material 1 and `1` in material 2. Why do you think this is an issue?

Tzanio

[2022-03-23 18:58] tzanio commented on #2914
Discussion continued in  #2919

[2022-03-23 18:58] #2914 closed

[2022-03-23 19:02] #2907 closed

[2022-03-23 19:23] rhebergens commented on #2909
Perfect, that worked - thank you!

[2022-03-23 19:23] #2909 closed

[2022-03-23 19:35] BBBBBbruce commented on #2915
Ok, but why assign 50 to material 1 and 1 to material 2? so material 2 would be more elastic. Ah I see, sorry, it was my problem. Originally, I was only changing lambda of material 1, but nothing changed... so I thought it was a mistake.

[2022-03-23 19:35] #2915 closed

[2022-03-23 21:11] wo80 commented on #2913
I can confirm the behavior.

@3rav From command line, you could set `CMAKE_RUNTIME_OUTPUT_DIRECTORY`:
[code]
This will copy the dll to the specified location with the build command. The install command will still copy both the `.dll` and the `.dll.a` to the lib folder.

@tzanio To enable the correct behavior in `CMakeLists.txt`, you could explicitly set the `RUNTIME DESTINATION`, see CMake help [I

[2022-03-23 21:12] tzanio commented on #2913
Thanks for the help @wo80 !

[2022-03-24 02:53] edwardt9 opened #2922 "A posteriori error estimator for Maxwell eddy current problem"
Hello, this is Thomas.

Thanks for your excellent work on this finite element library!

I want to implement an adaptive finite element modeling algorithm for
the Maxwell eddy current model. My problem is quite similar to ex3 and ex22. While I see
there are only ZienkiewiczZhuEstimator and KellyErrorEstimator currently available in mfem.
So how can I change them to be a posteriori error estimator f

[2022-03-24 03:30] v-dobrev commented on #2910
I just noticed that you did not set the GPU arch in you hypre config command -- try adding `--with-gpu-arch=gfx...` -- I'm not sure what happens when it is not set.

[2022-03-24 05:52] ChaoW95 commented on #2901
Hi @pazner,

I modified the ex2.cpp in the mfem. I used two methods to save the results.
One is the given method:
[code]
Another one is the ParaViewDataCollection:
[code]

Those two methods give different mesh numbering.
[ex2.zip](https://github.com/mfem/mfem/files/8338770/ex2.zip)

[2022-03-24 06:01] ChaoW95 commented on #2901
Then I try to use the Paraview to check the results. It turns out the result saved by the `ParaViewDataCollection` has 48 points some of them are duplicate.
![image](https://user-images.githubusercontent.com/38391416/159852375-5460aab9-42e7-44f3-9dea-14ee7300ab1c.png)

[2022-03-24 06:54] benzwick opened #2923 "How to compute stress using nodal averaging (example 2 and 17)"
I am trying to compute stress at nodes in a cantilever beam. The problem is similar to examples 2 and 17 but has analytical solution so no equations need to be solved (I just create a grid function of the exact solution and use that as the input to the StressCoefficient. I am getting some strange results compared to the non-averaged discontinuous stress. The discontinuous stress (in L2 space) is a

[2022-03-24 08:44] benzwick commented on #2923
Here is the mesh I am using:

[beam3d-s-q2-2.msh.zip](https://github.com/mfem/mfem/files/8339792/beam3d-s-q2-2.msh.zip)

...and the command used to run the example:
[code]

[2022-03-24 09:46] ajithkumarmcw opened #2924 "When the number of threads increases will the Average reduction factor increase or decrease"
I need to know if the Average reduction factor will increase or decrease when number of thread increases in mfem examples (ex0, ex1, ex2.. etc).

I have done some runs of parallel examples, to study the scalability i need info

[2022-03-24 11:11] wcdawn commented on #2910
Thanks for catching that. It doesn't seem to have changed anything and the backtrace looks the same.
[code]

[2022-03-24 14:23] pazner commented on #2901
The ParaView output is just intended for visualization, not for further analysis. There will be duplicated points because of how MFEM handles the visualization, see https://github.com/mfem/mfem/issues/2906#issuecomment-1074157376

[2022-03-24 14:54] Alla2912 opened #2925 "how to add phase shift in matrix"
Hello everyone,

I would like to know how to take into account periodic boundary condition with phase shift like this:
<img width="202" alt="Untitled" src="https://user-images.githubusercontent.com/61329655/159944295-8d324450-e40b-4f7c-9f2a-869cf4a1afd2.png">

[2022-03-24 14:56] tzanio commented on #2924
Hi @ajithkumarmcw,

In general the number of iterations for an AMG solver like BoomerAMG will increase a little when more parallelism is added, e.g. when more MPI tasks are used.

The increase is small though, and in practice AMG solvers are typically "optimal" for the problems they are designed for, i.e. the simulation time increases only slightly when you scale the problem up.

Hope this helps,

[2022-03-24 14:58] jchan192 commented on #2872
@psocratis Thanks for the reply!

My problem requires specificlly applying the laplacian on the coarse space first then interpolate on fine, instead of the reverse.  So 1) may not be what I want.

I think the other two solutions seem to be what im looking for!

2) I am computing a laplacian, but the `GradientInterpolator `only computes the 1st derivative.
For this method, I don't understnad which

[2022-03-24 15:10] mdeuse opened #2926 "Bug: Mesh::PrintVTK does not work correctly for pyramid elements"
Hi,
I have noticed that with mfem4.4, the Mesh::PrintVTK does not work correctly for pyramid elements. Essentially, it seems that it does not write the correct CELL_TYPES in the .vtk file for the pyramids. Apparently, the files vtk.hpp and vtk.cpp have not been adapted to handle pyramids in mfem4.4.

[2022-03-24 15:33] tuckerbabcock opened #2928 "Get access to eliminated entries from nonlinear form gradient assembly"
To solve for the discrete adjoint that corresponds to my nonlinear form, I need access to the rows/cols that were eliminated from the Jacobian when imposing essential boundary conditions on the Jacobian (so that I may correctly set the RHS for the adjoint problem).

Currently there is no way to get access to these entries, so I've written a simple draft implementation that would give access to the

[2022-03-24 16:04] LeilaSalomon opened #2930 "Operator : Div(Grad())"
Hello,

I would like to solve this equation (weak form) :

![image](https://user-images.githubusercontent.com/40572513/159946367-d31f380c-2821-460b-8558-75ca8e836635.png)

`u` is my unknow, `A` a GridFunctionCoefficent, `S` a GridFunction (source term), and `v` the test function.

For the left integral, I don't want to use DiffusionIntegrator, I'm trying to create a new operator :
![image](https:/

[2022-03-24 16:37] benzwick commented on #2923
Here are some more results using linear hexahedral elements. The SYZ stress component should be constant along the z-axis. The discontinuous values look good but the continuous (averaged) values have some strange effect on the end.

![image](https://user-images.githubusercontent.com/33216696/159965334-382bfc2c-f2c3-4187-958a-33910a9a36a5.png)

[2022-03-24 17:03] tepperly commented on #1155
In the approach above, `MyParGridFunction::Globalize` needs the serial mesh and partition as input parameters `mesh` and `partition`. Can one do the analogous thing, convert a n-rank ParGridFunction to either a GridFunction or a 1-rank ParGridFunction, without these arguments? I would like to do the conversion in a library that doesn't know the initial serial mesh or user specified partition.

[2022-03-24 17:05] pazner commented on #2926
Does it work for you with #2932?

[2022-03-24 17:29] v-dobrev commented on #2910
Another suggestion/question: were you able to run older MFEM versions on this machine, e.g. right after https://github.com/mfem/mfem/pull/2750 was merged?

Also, just to confirm, if you build MFEM with HIP and HYPRE without HIP, does this work?

[2022-03-24 17:50] rcarson3 commented on #2928
@tuckerbabcock if you copied the essential true DOFs from `(Par)NonlinearForm::GetEssentialTrueDOFs()` into an array, and then did something like:

[code]

Would this pattern work for your problem?

[2022-03-24 17:57] wcdawn commented on #2910
I did `git checkout 4e6b6f7d472b65d5fd25855a309e1666df7209d1` which was the commit that merged #2750 and got the same error.

Building MFEM with HIP and HYPRE without HIP does work. Additionally, building both without HIP works.

Is there a HYPE example to use to test this? It seems like it could be something in HYPRE itself or maybe something in the MFEM/HYRPE interface.

[2022-03-24 20:41] tzanio commented on #2913
@3rav do you want to add this to this list: https://github.com/mfem/mfem/blob/master/INSTALL#L56-L62

[2022-03-25 01:26] benzwick commented on #2901
See also #1757

[2022-03-25 01:27] benzwick commented on #2906
See also #1757

[2022-03-25 04:54] ajithkumarmcw commented on #2924
1. okay you told about iterations but what about average reduction factor ?
2. which parameter will be better for scaling(i.e when no of threads are increased from 1 to 128) ?

[2022-03-25 08:53] mdeuse commented on #2926
Hi @pazner , yes it is working fine for me with your fix, thank you!

[2022-03-25 08:53] #2926 closed

[2022-03-25 17:31] tepperly opened #2937 "Ability to compare results from data structures calculated with differing numbers of MPI ranks"
This is similar to #1155 , but because we're trying to do this in a general software library, we don't have access to the original serial mesh or its partitioning.

### Introduction - Motivating scenario

We're using MFEM data structures in a nonlinear programming optimization framework called LiDO. In particular, we're using ParGridFunction and ParLinearForm in the calculation of objective functi

[2022-03-25 20:55] tuckerbabcock commented on #2928
@rcarson3 thanks for the suggestion! I'm not sure why I didn't think to do that. That pattern seems to work great for me.
I'll go ahead and close this issue and that PR since that approach works.

[2022-03-25 20:55] #2928 closed

[2022-03-25 21:28] v-dobrev opened #2938 "Add support for SUNDIALS v6"
Version 6 of SUNDIALS made some interface changes that are breaking the integration with MFEM.

Addition: When addressing this, we should also address an issue seen when running `ex16p` when HYPRE is built with GPU support -- there is a repeated registration of the same host pointer which leads to problems.

Fix an issue: `SUNDIALS_DIR` is set by default to `@MFEM_DIR@/../sundials-5.0.0/instdir` w

[2022-03-25 23:32] v-dobrev opened #2940 "Fix GSLIB tests"
Running `make test` in `miniapps/gslib` fails for one of the tests:
[code]
with the message
[code]

Another small deficiency: the CMake file in `miniapps/gslib` does define any tests -- ideally, it will define the same tests as the makefile.

[2022-03-26 16:24] liuzg-23 commented on #2905
@sshiraiwa Thanks for your reply. You are right. The problem is caused by the FORTRAN compiler. I have solved this problem.

[2022-03-27 17:16] stefanozampini opened #2941 "Where to look for dof numbering for high-order L2 on tetrahedrons?"
We would like to visualize high order meshes from PETSc using GLVIS. To do that, we rely on L2 spaces. Highorder hexahedral cells viz works fine; however, we have issues for Tetrahedral meshes. Can someone tell me how cell dofs are ordered in a L2 Tetrahedron?

PETSc discussions here:
https://gitlab.com/petsc/petsc/-/issues/1117
https://gitlab.com/petsc/petsc/-/merge_requests/5037

[2022-03-27 20:08] tzanio commented on #2924
Hi @ajithkumarmcw,

Convergence will generally get worse with more parallelism, and the average reduction of the residual norm in particular will go up with more iterations.

The AMG solvers have many parameters, and while we have reasonable defaults in MFEM, you may want to consult the hypre documentation for all available optons.

Tzanio

[2022-03-27 20:10] #2905 closed

[2022-03-27 20:12] #2869 closed

[2022-03-27 20:12] #2867 closed

[2022-03-27 20:13] #2853 closed

[2022-03-27 20:14] #2846 closed

[2022-03-27 20:25] tzanio commented on #2941
Is this helpful: https://github.com/mfem/mfem/blob/master/fem/fe/fe_l2.cpp#L484-L490

[2022-03-28 16:35] LeilaSalomon opened #2942 "Divergence with DomainLFGradIntegrator"
Hello,

Actually, I have a `GridFunction V(vfespace)` (known values) and I would like to calculate its divergence, I create this LinearForm :

[code]
I would like to put the values of `Lin_div` in a `Vector`, how can I do that ?

After that, I want to multiply this vector by another (including the known values), but I can't use `Mult`, what can I do?

Best wishes,

Leila

[2022-03-28 19:25] psocratis commented on #2889
Hi @cbritopacheco,

Thanks for reporting this. Can you try #2944 ?

Best,

Socratis

[2022-03-28 19:29] stefanozampini commented on #2941
Thanks @tzanio I was able to get a solution by looking at your high order gmsh reader. BTW, is it tested for third order tetrahedra https://github.com/mfem/mfem/blob/master/mesh/mesh_readers.cpp#L1829? The ordering seems fishy and did not work for me.

[2022-03-28 23:17] tzanio commented on #2941
@mlstowell, if I recall correctly you added the code above. Can you answer @stefanozampini, if that's the case?

[2022-03-29 04:26] v-dobrev opened #2946 "PETSc examples 5p/11p broken starting with PETSc v3.14.0"
When running `make test` in the PETSc examples directory (`examples/petsc`), the examples `ex5p` and `ex11p` (`ex11p` is only run when SLEPc support is enabled) fail randomly. In order to see the issue consistently, one has to run with `valgrind` or build MUMPS with ASan (e.g. adding the flags `-fsanitize=address -fno-omit-frame-pointer -g`). The ASan error looks like this:
[code]
This is with the

[2022-03-29 09:58] #2942 closed

[2022-03-29 17:49] psocratis commented on #2889
I am closing this now. See #2944

[2022-03-29 17:49] #2889 closed

[2022-03-29 19:41] v-dobrev commented on #2946
Hi @stefanozampini,

Can you try running this in `examples/petsc`:
[code]
Does it run without errors?

[2022-03-29 19:43] stefanozampini commented on #2946
That is exactly the command I have tried and produced no valgrind errors. Can you post your valgrind stacktrace here?

[2022-03-29 19:45] stefanozampini commented on #2946
We maintain a patched version of MUMPS of PETSc (see https://gitlab.com/petsc/petsc/-/blob/main/config/BuildSystem/config/packages/MUMPS.py#L11), probably you are using an official tarball?

[2022-03-29 19:54] v-dobrev commented on #2946
On my laptop (mac) I was using that exact PETSc-MUMPS repo -- I thought it is just a mirror of MUMPS. For other builds I'm testing I'm using Spack with its MUMPS package which downloads from the official server (updating the link with the required version): https://github.com/spack/spack/blob/ef23c3b12229e01b929545a1dad621060196589e/var/spack/repos/builtin/packages/mumps/package.py#L14

Regarding

[2022-03-29 20:12] v-dobrev commented on #2946
Here's the `valgrind` error I get (this is an MFEM build through Spack, this branch: https://github.com/spack/spack/pull/29658 that adds mfem v4.4):

[code]

[2022-03-30 04:21] v-dobrev commented on #2946
After some git bisect investigation, the "bad" commit is the merge of https://gitlab.com/petsc/petsc/-/merge_requests/2918.

[2022-03-30 04:44] stefanozampini commented on #2946
I will take a look as soon as I have some time. What is your petsc configuration line ? Are you using openmp?

[2022-03-30 08:17] jpdean opened #2949 "Suboptimal convergence rate of discrete curl on tetrahedral meshes"
Hello,

The convergence rate of an H(div)-conforming field computed from an H(curl)-conforming field with the discrete curl operator appears to be suboptimal. Consider the following minimal failing example, where a vector field, A, is interpolated into a Nédélec space, and the discrete curl is used to compute B = curl(A):
[code]
Computing the convergence rates for A and B in the L^2-norm using the

[2022-03-30 11:31] marcommr opened #2950 "Simulation of the "Motor of Mutual Retention""
Does anyone know how to simulate what is being proposed in the article "Motor of Mutual Retention" whose DOI is 10.20944/preprints202203.0271.v1?

[2022-03-30 19:56] v-dobrev commented on #2946
Thanks @stefanozampini!

The first step will be for you to be able to reproduce this issue. Unfortunately, it looks like it may be tricky to reproduce, at least on Linux. In my tests with spack, changing the variants for mfem (i.e. adding/removing other external libraries besides petsc) can lead to no errors with valgrind. The valgrind error posted above was obtained from a build with lots of vari

[2022-03-31 00:42] v-dobrev commented on #2946
Okay, the following spack command (in the branch of PR https://github.com/spack/spack/pull/29658 which adds mfem v4.4) shows the issue on Linux (at least it does on the machine I tested it):
[code]
With the option `--test=root`, the mfem package will run `make all` and `make test` which, in particular, will run the petsc tests, some of which should fail. After the failure, spack will print a messa

[2022-03-31 07:00] jchan192 commented on #2872
Hi @psocratis
According to your suggestion, I implemented the following code.
I didn't show the full code, because its too complicated,
but do you think below is what you suggested?

I still don't understand why we will need to do step 3.3, multiplying the updated
vector by mass matrix.

[code]
Thank you for your time.

[2022-03-31 13:21] stefanozampini commented on #2946
I was able to reproduce the problem. I have not used spack before and I cannot comment. If you remove the strumpack dependency, i.e.
[code]
the installation and the tests run fine.

[2022-03-31 17:27] v-dobrev commented on #2946
Yes, there is some strange interaction when building with strumpack that exposes the issue and triggers the errors -- I don't understand how that happens.

[2022-03-31 17:34] stefanozampini commented on #2946
Is there a way to compile using debug information for some of the packages and keep the source code so that it can be inspected from a debugger?

[2022-03-31 17:54] v-dobrev commented on #2946
For keeping the source, there is the `--keep-stage` option, see https://github.com/spack/spack/issues/2553.

For building in debug mode, some packages (including petsc and mfem) have the variant `+debug`, so you can do something like this:
[code]
For MUMPS, I had to modify the following lines locally to add `-g -O0`: https://github.com/spack/spack/blob/90da5dc909acbb677b8affde098e3fe08b63b2b6/var/

[2022-03-31 18:00] stefanozampini commented on #2946
thanks. I'll let  you know if I find anything

[2022-04-01 09:36] jpdean commented on #2949
@brendankeith @psocratis Thanks for getting back to me and for the example code snippet. I assumed that `A_gf->ProjectCoefficient(A_e)` was interpolating `A_e` into the Nédélec space rather than performing an L2 projection, since the docs say "Note that this is usually interpolation at the degrees of freedom in each element (not L2 projection)". For interpolation, I would expect curl(A) to converg

[2022-04-01 18:07] benzwick commented on #2923
I found a way to compute the averaged nodal stress by first creating:
[code]
then using the following to evaluate the stress at the element level and projecting this discontinuous function to the continuous space using averaging:
[code]
This gives the results that I expect. Is this the correct approach?

I am a bit confused about how the continuous stress is obtained when simply projecting to the

[2022-04-02 08:22] #2847 closed

[2022-04-02 23:58] psocratis commented on #2949
@jpdean,

The `ProjectCoefficient` performs a local (to the element) interpolation. I suspect this is different from what it's described in the reference you provided; I believe a global interpolation is used there.

However, after investigating this a bit, it seems to deliver suboptimal rates for the `curl` for tet and triangular meshes, and this is indeed undesirable. We plan to investigate this

[2022-04-03 07:06] stefanozampini commented on #2946
The problem is that strumpack builds a fortran file that conflicts with MUMPS, see here
[code]
From `src/sparse/MUMPS/ana_orderings.F
[code]
This issue should be directed to STRUMPACK people

[2022-04-03 16:02] #2755 closed

[2022-04-03 20:33] termi-official commented on #2852
ping @v-dobrev @tzanio any idea if this is reproducible or what the culprit could be?

[2022-04-04 01:38] v-dobrev commented on #2946
Thanks for investigating @stefanozampini !

@pghysels, any thoughts on the above conflict between STRUMPACK and MUMPS? Is this something that can be fixed relatively easily?

@stefanozampini, there is still the issue on Mac without STRUMPACK -- I was not able to reproduce that on Linux so far. Maybe I should try an ASan build on Linux -- I'll let you know if that exposes the issue on Linux too.

[2022-04-04 03:41] v-dobrev opened #2954 "Global initialization issue"
In `(p)minimal-surface.cpp`, the global variable `glvis`, e.g. here https://github.com/mfem/mfem/blob/363c0cca82115880d58b367d3e168609521afdb1/miniapps/meshing/pminimal-surface.cpp#L80
can be queued for initialization before `mfem::out` which can get used uninitialized here: https://github.com/mfem/mfem/blob/363c0cca82115880d58b367d3e168609521afdb1/general/socketstream.hpp#L111-L112 if the `glvis`

[2022-04-04 07:52] jpdean commented on #2949
Indeed, that reference is for a global interpolation operator, but it is effectively constructed from the local interpolation operator.

Thank you for investigating this further.

Joe

[2022-04-04 22:15] YohannDudouit opened #2955 "`Memory<const T>` does not compile."
The following example does not compile:
[code]
The compilation error is:
[code]

[2022-04-04 22:28] v-dobrev commented on #2946
Thanks @pghysels !

I'll try using `strumpack@master` in my Spack tests to confirm that the issue is solved.

[2022-04-05 16:15] tzanio commented on #2946
Thanks @stefanozampini and @pghysels

[2022-04-05 19:53] raffenet opened #2957 "MPI_Session is an MPI 4.0 handle"
It appears that `MPI_Session` is used in `general/communication.hpp` as a class name. MPI 4.0 added `MPI_Session` as a standard MPI handle type. Spack E4S builds with MPICH versions >= 4.0 fail because of the ambiguity.

https://github.com/mfem/mfem/blob/168b19fc4904dc90e217bef9b5c3f595c4865da2/general/communication.hpp#L90-L104

[code]

[2022-04-05 20:05] tzanio commented on #2957
Hi @raffenet,

Do you know if this failure is specific to new mfem-4.4?

I am asking because `MPI_Session` has been in MFEM for quite a few years and while we did some refactoring in mfem-4.4, we maintained it for backward compatability.

Thanks,
Tzanio

[2022-04-05 20:31] v-dobrev commented on #2957
This error is probably from MFEM version < 4.40. In 4.4.0, `MPI_Session` was replaced by `Mpi::Init()` in most examples and miniapps.

Also, one can probably just continue to use `MPI_Session` by adding the namespace qualifier,`mfem::MPI_Session`, unless, `MPI_Session` can be a macro in MPI v4?

[2022-04-05 20:36] v-dobrev commented on #2957
By the way, @raffenet, I'm close to completing the addition of MFEM v4.4.0 to Spack: https://github.com/spack/spack/pull/29658 which may help resolve the issue if E4S uses the default MFEM version from Spack.

[2022-04-05 20:39] raffenet commented on #2957
MPI_Session is just an opaque type. In MPICH it is typedef'd to int in mpi.h.

[2022-04-06 01:23] v-dobrev opened #2958 "Debugging lambdas in the `MFEM_FORALL` macro"
Currently, kernels written using the `MFEM_FORALL` macro are collapsed into a single line in the debug info. This makes it impossible to step through such lambdas or get accurate line information during crashes.

One suggestion that came up in a discussion with @artv3 and @samuelpmishLLNL is to define an alternative, non-macro version of `MFEM_FORALL`, e.g. `mfem::forall`, that will use a single `

[2022-04-06 01:31] v-dobrev commented on #2958
cc: @camierjs, @YohannDudouit, @tzanio

[2022-04-06 01:36] v-dobrev commented on #2946
I can confirm: `strumpack@master` seems to solve the issues on Linux. (The issue on Mac is not related to strumpack.)

[2022-04-06 12:39] thelfer opened #2959 "Question about local/global dof numbering, usage of `ParFiniteElementSpace::GetGlobalTDofNumber` and `ParFiniteElementSpace::GetLocalTDofNumber`."
Hi,

Following Discussion #2956, I have a few question about  local/global dof numbering and the usage of `ParFiniteElementSpace::GetGlobalTDofNumber` and `ParFiniteElementSpace::GetLocalTDofNumber`.

Here is what I found:

1. I can select a vertice close to a given point. Let n be this vertice number. Assuming a `byNODES` ordering, the local dof `ldof` associated with component c of my unknown is

[2022-04-06 21:44] #2924 closed

[2022-04-06 22:00] tzanio commented on #2937
Hi @tepperly,

Thank you for bringing this to our attention and for the nice description.

We discussed this internally and folks on the team have several ideas how this could be done.

I will list a few of them below, but we will also be interested in having a technical meeting to discuss this in more detail.

1️⃣  If the goal is to detect incorrect runs, we feel that a simple functional like the

[2022-04-07 21:47] goxberry commented on #2937
To add to the use cases @tepperly mentioned, I work on a programmatic project that performs this sort of "permutation to canonical form" on the equivalent of a `GridFunction` for output from Diablo. In this scenario, we typically take output from an 8-rank or 32-rank solution, merge the outputs onto a single rank, and construct the permutation from data exposed by Diablo, and permute the `GridFunc

[2022-04-07 22:29] tepperly commented on #2937
Okay to do option 1, I think I would need to follow a process like this:

1. Run my code on one MPI rank and save the result to a file.
2. Run my code on _n_ MPI ranks and load the ParGridFunction results from step one into the ParGridFunction on _n_ MPI ranks.
3. Compare the two ParGridFunctions that are both instantiated on the same MPI communicator and get a l1 norm.

Is there currently a way t

[2022-04-08 17:46] tzanio commented on #2937
Thanks @goxberry and @tepperly. Lets follow-up in a technical meeting.

[2022-04-08 20:41] #2959 closed

[2022-04-09 02:45] v-dobrev opened #2960 "The libCEED CUDA unit tests take too long"
Here are the times I see on Lassen:
[code]

This was previously discussed in #1866, however, a solution for the libCEED tests was postponed.

[2022-04-09 22:50] tzanio commented on #2940
Discussion continued in @2945

[2022-04-09 22:50] #2940 closed

[2022-04-09 22:51] #2917 closed

[2022-04-11 02:23] v-dobrev commented on #2894
For future reference: most (if not all) SparseMatrix methods should work after Finalize() as long as they do not try to extend the existing sparsity pattern.

[2022-04-11 14:57] tzanio commented on #2949
The ND dofs are dot products of the vector field with unit vectors in specific position, see the following figure from https://arxiv.org/pdf/1911.09220.pdf:

<img width="594" alt="Screen Shot 2022-04-11 at 7 56 20 AM" src="https://user-images.githubusercontent.com/1278247/162767322-c91f5e11-d633-4b67-b472-1b0359f70d62.png">

We can of course adjust the projection of functions to be something else

[2022-04-11 17:14] mlstowell commented on #2941
Hello, @stefanozampini,
The Gmsh node ordering [documentation](https://gmsh.info/doc/texinfo/gmsh.html#Node-ordering) is a bit ambiguous above second order. Also, I don't think we have any unit tests which cover this. However, I did create a simple single tetrahedron mesh at third order and run it through a modified version of our `test_get_value` unit test. This is hardly exhaustive but it did pa

[2022-04-11 17:50] YohannDudouit opened #2962 "How to read only one value on host from device array."
In #2892 I try to read only one value from a device array to avoid an expensive host to device `memcpy`. Here is the code I use to replace `return I[height];`:
https://github.com/mfem/mfem/blob/d1fff690aa8314e4c30a2c6f44d815fc789fd515/linalg/sparsemat.cpp#L1502-L1505
Unfortunately this change in `SparseMatrix` that seems to do the intended action breaks the `psedov_tests_debug` tests:
[code]
The b

[2022-04-11 21:29] liuzg-23 opened #2964 "I can't get the correct global index of the local element with the "GetGlobalElementNum()" or "GetGlobalElementIndices " function."
Hello,
Please see my code as following:

[code]

In the output result, the v1 and v2 is different. So I want to know that how can I
get the correct global index of the local element. Thanks very much!

Zhengguang.

[2022-04-11 22:04] psocratis commented on #2964
Hi @liuzg-23,

The way that you are getting the global element numbers by `pmesh->GetGlobalElementIndices()` seems fine to me.

I am assuming by `GetElementVolume()` you are referring to `mesh::GetElementVolume()` right? The `mesh::GetElementVolume()` is intented to work only with a local element number as an input.

Best,

Socratis

[2022-04-11 23:22] liuzg-23 commented on #2964
Hi @psocratis,

Thanks for your reply. I want to confirm one thing that if the global indices of the local mesh got with the function "pmesh->GetGlobalElementIndices()" are the same as the global indices in global mesh before domain decomposition.

Regards,
Zhengguang.

[2022-04-11 23:55] psocratis commented on #2964
Hi @liuzg-23,

That's not nessessarily true. New global numbers are assigned during the partition stage. For example see below

<img width="459" alt="image" src="https://user-images.githubusercontent.com/14336752/162851488-66d1ad8a-0e8f-4fd8-93d1-c45ccf5ce25a.png">
<img width="459" alt="image" src="https://user-images.githubusercontent.com/14336752/162851580-a02927af-3001-437d-94a2-0523839242e9.pn

[2022-04-12 00:16] liuzg-23 commented on #2964
Hi @psocratis,

Thanks very much. I got you. However, I want to know if there are some method in MFEM that can find the old global index of the element in local mesh. Because I want to map some physical quantities from the local grid to the global grid before domain decomposition.

Regards,
Zhengguang.

[2022-04-12 00:27] liuzg-23 commented on #2964
Hi @psocratis,

Maybe there are another method can solve my problem, which is that getting a new global mesh from all local mesh. Do you know if there is a method in MFEM can do that?

Regards,
Zhengguang.

[2022-04-12 00:51] psocratis commented on #2964
@liuzg-23,

One easy way I can think of for constructing the map from the local mesh to the old global mesh is to use attributes. You can assign element attributes to the old global (serial) mesh, with something like this
[code]
After the partitioning these attributes are propagated to the `pmesh` and you can read them. For example you can get them with
[code]
Note that an attribute cannot be zero

[2022-04-12 01:04] liuzg-23 commented on #2964
Hi @psocratis,

That's a great idea. I will try it. Thanks very much for your help.

Best wishes,
Zhengguang.

[2022-04-12 20:22] davidherreroperez commented on #2817
This comment is to remove the stale mark. I have to comment that I am not sure that derefinement operations are correct using only one value of derefined elements.

[2022-04-13 15:34] liuzg-23 opened #2965 "How to quickly calculate the derivative of the system matrix assembled on the local mesh with respect to the coefficients in some element."
Hi,

This is my equation (Maxwell equation in frequency domain): Curl Curl E + i*sigma E = -i*J, where the  sigma denote the conductivity of each element in the mesh. I discrete the model using tetrahedral element. In my code, I used the domain decomposition method and assemble the linear equation on the local mesh.
Now, in my project, I need to calculate the derivative of the system matrix with r

[2022-04-14 13:11] #2810 closed

[2022-04-14 13:11] #2660 closed

[2022-04-15 05:37] v-dobrev commented on #2910
Hi @wcdawn,

were you able to figure out what the problem is?

@liruipeng, we suspect that the above issue (see the backtrace here: https://github.com/mfem/mfem/issues/2910#issuecomment-1077510700) maybe in hypre. What will be a good way for @wcdawn to test this in hypre itself without mfem?

[2022-04-15 07:24] salomole opened #2967 "Nedelec space"
Hi !

I solve a first system to obtain a variable called `p`.

Then, I want to calculate `A*Grad(p)`, with `A` a `GridFunctionCoefficient` (the solution is continuous). I calculate `A*Grad(p)` in Nedelec space. My question : By passing through this space H(Curl), do I ensure `Curl[A*Grad(p)] = 0`?

Best,

salomole

[2022-04-15 07:49] v-dobrev commented on #2941
Hi @stefanozampini,

I'm reading https://gitlab.com/petsc/petsc/-/issues/1117 and I'm not sure if the MFEM node/dof ordering for tets question is still outstanding.

Let me try to clarify: the ordering is essentially "lexicographical" with simple node coordinate transformation to ensure symmetry of the nodes when the "open" point distribution (`op` in the code) is not uniform -- this "stretching"

[2022-04-15 13:38] wcdawn commented on #2910
@v-dobrev Unfortunately not. I think it could be something with HYPRE. I'm not sure if it has been tested with this particular GPU.

[2022-04-15 17:16] #2965 closed

[2022-04-15 17:49] psocratis commented on #2964
@liuzg-23, closing this now. Feel free to reopen it if something related comes up.

[2022-04-15 17:49] #2964 closed

[2022-04-15 18:30] mlstowell commented on #2967
Hi, @salomole,

No, not in general. In fact there is no guarantee that `Curl[A*Grad(p)] = 0` when everything is continuous and infinitely differentiable. This depends on whether or not `Grad(A)` is perpendicular to `Grad(p)`.

In the discrete case you may need to compute `A*Grad(p)` carefully (we can discuss your options if that would be useful). And even then you may only find `Curl[A*Grad(p)] =

[2022-04-15 20:54] liuzg-23 opened #2970 "How can I translate a local "sparsematrix" assembled by myself to a matrix on the local true dofs"
Hello,

In my code, I discrete the model using tetrahedral mesh and domain decomposition method. In my project, I need to assemble Nm(number of local element) sparse matrix. To reduce the time-consuming, I assemble it by myself, because there is only one element on which the degrees of freedom are non-zero, it's very convenient. However, I don't know how to translate these sparse matrix to the loc

[2022-04-16 03:46] jedbrown commented on #2897
Would it make sense to at least pass this through to PETSc? Also, PETSc can in-place assemble into hypre ParCSR (CPU or GPU) matrices so you can still use the PETSc assembly algorithms without using PETSc for the solve. I suppose that algorithm could be ported to native MFEM, but using the existing implementation would presumably be useful for users.

[2022-04-16 17:54] pazner commented on #2863
I looked into what it would take to implement this feature. I think we need to make a design decision, there are two main possibilities. What are everyone's thoughts regarding options 1️⃣ and 2️⃣ below?

### 1️⃣ Separate classes for face and element spaces and functions

**Pros:**

* Better use of type system to ensure correctness at compile-time
* More consistent and clearer interface
* Much less

[2022-04-17 03:21] tzanio commented on #2863
Thanks @pazner. I vote for 1️⃣.

[2022-04-17 11:32] #2970 closed

[2022-04-18 00:20] adam-sim-dev commented on #2830
Can anybody help me?

[2022-04-18 11:26] jpdean commented on #2949
Hi @tzanio,

Thanks for this. I first became aware of the difference [here](https://github.com/FEniCS/fiat/issues/40), but I haven't yet come across a comparison between the two implementations in the literature. If I find anything, I will let you know.

Thanks,

Joe

[2022-04-18 12:54] salomole commented on #2967
Hello Mark,

Ok, I thought that the Raviart-Thomas space ensured a zero divergence and the Nedelec space ensured a zero rotational, but am I mistaken? After solving `p` in a H1 space, I calculate `A*Grad(p)` in the Nedelec space in this way :

[code]

[2022-04-18 15:34] tzanio commented on #2949
Thanks Joe!

[2022-04-19 02:05] #2848 closed

[2022-04-19 02:05] #2792 closed

[2022-04-19 14:38] #2925 closed

[2022-04-19 15:37] tzanio commented on #2830
Hi @adam-sim-dev,

The variable-order space support in mfem is currently for H1 elements so we don't expect Example 3 to work. Sorry if this was not clear, it is something we'd like to fix in the future.

Tzanio

[2022-04-19 15:41] artv3 commented on #2863
1. looks good to me too

[2022-04-19 18:42] #2950 closed

[2022-04-20 00:38] adam-sim-dev commented on #2830
Hi @tzanio , thanks for the clarification. Is it on the roadmap for mfem-5.0, or versions later?

[2022-04-20 00:50] tzanio commented on #2830
We don't have anyone currently working on it, but we can prioritize it if it is really important for you and other users.

My understanding is that adding the H(curl) and H(div) support is probably not that much work.

[2022-04-20 01:16] adam-sim-dev commented on #2830
It will be very appreciated if someone continues working on it. I want to try the variable-order H(curl) space because high-order elements lead to too many dofs.

[2022-04-20 18:30] YohannDudouit commented on #2897
@jedbrown This would be indeed interesting, though I didn't have the time to get to this, do you have a pointer/link to some code that would show me the process? That would be very helpful.

[2022-04-20 18:33] YohannDudouit commented on #2863
I think 1️⃣  is the safest and cleanest path.

[2022-04-26 09:06] adam-sim-dev opened #2976 "Resolve C4819 warnings for building on Windows using Visual Studio"
Hello,

There are some C4819 warnings when building on Windows using Visual Studio. The long list of warnings is annoying when users try to find the build outputs for their codes in the build log.

`The file contains a character that cannot be represented in the current code page (number). Save the file in Unicode format to prevent data loss.`

Most of them are in the comments, for example https:/

[2022-04-26 16:31] ptsuji opened #2978 "hang in hypre_MatvecCommPkgCreate()"
I've posted this on the Hypre Github page, but I figured it should be here as well, since I'm using the MFEM HypreParMatrix interface.

With Hypre 2.24.0 and MFEM 4.4, I'm trying to construct a rectangular HypreParMatrix using the generic CSR interface in MFEM (https://github.com/mfem/mfem/blob/fef1928708bb455f46aa611ddf73a4fd3d1c1974/linalg/hypre.cpp#L1176), but the code hangs indefinitely upon c

[2022-04-27 21:55] termi-official opened #2982 "Transfer of overlapping fields in parallel with GSLIB crashes"
The `FindPointsGSLIB` class seems to cause crashes (at least sometimes) when the interpolation coordinates can not be found. Since I could not find a way to reproduce this reliably within the currently provided miniapps I derived a MWE from the `pfindpts` and `field-interp` miniapps in the gslib folder.

[code]

Sorry, I could not really find a way to make this significantly smaller without losing

[2022-04-28 02:04] adam-sim-dev opened #2983 "Implicit conversion warnings"
There are a lot of annoying conversion warnings, for example, some are from size_t to int, from int to char, from 64-bit int to int. These warnings are turned on by default on Windows using Visual Studio, while can be turned on with -Wconversion on Linux.

[2022-04-28 08:49] #2882 closed

[2022-04-28 16:29] v-dobrev commented on #2910
cc: @noelchalmers

[2022-04-28 16:31] noelchalmers commented on #2910
and @pbauman

[2022-04-29 12:48] pbauman commented on #2910
Hi folks. There is certainly an issue with HYPRE at present that I will try to address when I can. The issue is that the Navi gaming cards (gfx1030 indicates an RDNA2 card, so something like a 6900XT) run with warp/wavefront sizes of 32. Currently, HYPRE on AMD GPUs is setup for warp/wavefront size of 64. I'll post a note here when we update HYPRE to support wavefront size 32 on AMD GPUs.

[2022-04-29 19:47] artv3 opened #2988 "Potential memory leak in ParFiniteElementSpace::GetRestrictionOperator() ?"
Folks, it looks like we are rebuilding `R_transpose = new TransposeOperator(R);` below for every GetRestrictionOperator() call:

https://github.com/mfem/mfem/blob/23cd6a78177e0bc17eef26da3f74e2c08ec2d9f1/fem/pfespace.cpp#L1211-L1213

Is this right? and could this be a memory leak?

[2022-04-29 23:47] v-dobrev commented on #2910
@pbauman, thank you for looking into this issue.

[2022-04-30 14:58] M8kmyday opened #2992 "HypreParMatrix printed format details"
### Discussed in https://github.com/mfem/mfem/discussions/2984

<div type='discussions-op-text'>

<sup>Originally posted by **M8kmyday** April 28, 2022</sup>
I am saving multiple HypreParMatrix matrices using the Print() method, then reading the results into a c-language program for further processing using complex Petsc and Slepc with Petsc matrices.  For a sequential Print(), the format is
row c

[2022-05-01 00:49] #2877 closed

[2022-05-01 00:49] #2902 closed

[2022-05-01 00:49] #2818 closed

[2022-05-01 21:50] tzanio commented on #2938
@gardner48 and @cjvogl, can you help with this?

[2022-05-01 22:13] tzanio commented on #2976
We don't have policy against unicode characters in comments, and generally have found those to be useful in several places.

Is this really not allowed in typical Windows systems?

I  don't see it in our [Windows CI builds](https://github.com/mfem/mfem/runs/6242166201?check_suite_focus=true). (I do see [C4244](https://docs.microsoft.com/en-us/cpp/error-messages/compiler-warnings/compiler-warning-l

[2022-05-02 00:38] v-dobrev commented on #2938
@balos1 and I also talked about this -- we'll probably need to address it for the next xSDK release at the latest.

[2022-05-02 01:12] v-dobrev commented on #2976
What version of MSVC are you using? This warning does not show up in our Appveyor CI either (e.g. here https://ci.appveyor.com/project/mfem/mfem/builds/43337614) which uses Visual Studio 15 2017.

When I open that file with VS Code, it does say "UTF-8" encoding, so I'm not sure what the compiler is complaining about. Maybe it expects the file to have BOM (https://en.wikipedia.org/wiki/Byte_order_m

[2022-05-02 13:01] adam-sim-dev commented on #2976
Hi @v-dobrev , I am using Visual Studio 2022.

[2022-05-02 21:01] M8kmyday commented on #2992
Printing out some data from hypre_ParCSRMatrixPrintIJ, I get for a sequential run:

         rank=0  i=0  first_row_index=0  base_i=0  I=0  j=0  first_col_diag=0  diag_j[j]=0  base_j=0  J=0  diag_data[j]=0.108467
         rank=0  i=0  first_row_index=0  base_i=0  I=0  j=1  first_col_diag=0  diag_j[j]=2356  base_j=0  J=2356  diag_data[j]=0.0105182
         rank=0  i=0  first_row_index=0  base_i=0

[2022-05-02 21:09] M8kmyday commented on #2992
My basic code sequence is

      fec_ND=new ND_FECollection(order,pmesh->Dimension());
      fespace_ND=new ParFiniteElementSpace(pmesh,fec_ND);

      ParBilinearForm Tt_eps_re=ParBilinearForm(fespace_ND);
      Tt_eps_re.AddDomainIntegrator(new VectorFEMassIntegrator (*ko2Re_e));
      Tt_eps_re.Assemble();
      Tt_eps_re.Finalize();
      saveMat (Tt_eps_re,"Tt_eps_re_mat",temporaryDirectory,p

[2022-05-02 22:22] tzanio commented on #2978
Hi @ptsuji,

Can you provide a few additional details:

- how do you configure and build hypre?
- how do you configure and build MFEM?
- is this a CPU or a GPU run?

In other similar context, e.g. when creating the discrete gradient operator for electromagnetic problems, we use `MakeRectangularBlockDiag` to build `A`, followed by `R A P` with the trial interpolation `P` and test restriction `R`

h

[2022-05-03 02:57] mlstowell commented on #2992
Hello, @M8kmyday,

We don't pay much, if any, attention to the row and column indices of our matrices. Clearly, we need to assign these indices in a consistent manner but their values are not particularly important. The drawback of this is that we are tied to a particular mesh partitioning i.e. a matrix and vector must be constructed using the same mesh partitioning in order for them to be used to

[2022-05-03 03:18] M8kmyday commented on #2992
The eigenvalues I am getting with rank=1 are correct, but with rank>1, the eigenvalues are incorrect.  In debugging, I saw the change in the matrix entries in the output files and continued debugging from there assuming that there was a problem.  Perhaps that was just a distraction.  Given your comment that the orderings are very likely correct, I will debug down stream in my code where the data f

[2022-05-03 03:45] M8kmyday commented on #2992
Well, that didn't take long.  File import seems fine, but I do have to manually set the boundary conditions, so that is a strong candidate for a problem.  The eigenvalues are the same for the perfect electric conductor (PEC) boundaries as for the perfect magnetic conductor (PMC) boundary, and the PMC is the natural boundary condition.  I commented out the PEC boundary condition code, and I then ge

[2022-05-03 03:45] #2992 closed

[2022-05-03 16:15] cjvogl commented on #2938
@tzanio, what's the timeline (i.e., when are you hoping to have this completed by)?

[2022-05-03 16:18] balos1 commented on #2938
This should be pretty quick to do. I can help guide @cjvogl @v-dobrev or whomever else on MFEM will be working on it. It would be good to add support for HIP in the update as well, which is also a simple change to make.

[2022-05-03 17:43] ptsuji commented on #2978
Hi @tzanio,

This is a CPU build, using the Intel OneAPI 2021.4 compiler on rzgenie. We configure Hypre using the configure script and build with their makefiles, since we're using the FEI and that is not fully supported with the CMake build (a comment in the main CMakeLists.txt file says this). We build MFEM with CMake. I've attached the config.log file for Hypre and CMakeCache.txt file for MFEM

[2022-05-03 18:44] reine249 opened #2993 "Compilation failure on Alpine Linux"
MFEM fails to compile on Alpine Linux. I use Alpine Linux for my CI builds, so it isn't a major problem.  I've been able to repeat the error on alpine:latest as well as an older version (alpine:3.12). Below is the error message.

[code]

Below are the steps for repeating the error (I'm using ubuntu 20.04 Docker 20.10.7)

1. `docker run -it alpine:latest /bin/sh`
2. `apk update && apk upgrade && ap

[2022-05-03 21:16] cuiyu-he opened #2994 "Does MFEM support any higher oder (p>1) nonconforming finite element space on conforming 2D triangular mesh?"

[2022-05-03 22:45] tzanio commented on #2993
Thanks for reporting this @reine249, I was actually not aware of [Alpine Linux](https://www.alpinelinux.org/).

I believe the issue is likely due to the [following check](https://github.com/mfem/mfem/blob/master/general/zstr.hpp#L72-L74) not passing

[code]

Do you know if Alpine Linux defines a similar macro that we can check here?

[2022-05-03 22:49] tzanio commented on #2993
Maybe `__MUSL__`?

[2022-05-03 23:50] pazner commented on #2994
Hello @cuiyu-he, could you clarify what you mean by a nonconforming space on a conforming mesh?

[2022-05-04 01:16] cuiyu-he commented on #2994
Hi, Nonconforming finite element space is a special type of finite element
space. For example, The first order nonconforming FE space is CR space.
Conforming mesh means there’s is no hanging nodes in the mesh.

On Tue, May 3, 2022 at 7:50 PM Will Pazner ***@***.***> wrote:

--

Best,
Cuiyu

[2022-05-04 01:44] tzanio commented on #2978
OK, maybe another option then is to directly use hypre's [IJ interface](https://hypre.readthedocs.io/en/latest/ch-ij.html).

The matrix produced by that could be then just type casted to `HyperParMatrix`.

Will this be more convenient?

[2022-05-04 03:15] pazner commented on #2994
MFEM supports low-order Crouzeix-Raviart elements, but not their higher-order generalizations. MFEM does have fairly comprehensive DG support, which can be viewed as a nonconforming finite elements, but I am assuming you are not referring to DG.

[2022-05-04 03:20] reine249 commented on #2993
It looks like `__MUSL__` isn't defined.  After doing some digging in /usr/include/string.h, the only macro I could find that was defined in Alpine and not in Ubuntu was `__NEED_locale_t`.  However, I don't know how specific this macro is to Alpine.

Sorry for using such an obscure linux distribution.  Gitlab's examples for CI/CD use Alpine, and I found that Alpine was faster for my CI builds than

[2022-05-04 13:47] cuiyu-he commented on #2994
Hi Pazner, thanks for the clarification. Could MFEM group possibly consider adding higher order non-conforming FE space into the library? For example, the specific type introduced in "Matthies, G., Tobiska, L. Inf-sup stable non-conforming finite elements of arbitrary order on triangles. Numer. Math. 102, 293–309 (2005). https://doi.org/10.1007/s00211-005-0648-8". Many thanks!

[2022-05-04 16:08] ptsuji commented on #2978
The IJ interface looks like a good path forward, I can try putting that into our code and see if it works. I'll still have to convert it to a mfem::HypreParMatrix afterwards, but it looks like there are functions to do that.

[2022-05-04 17:07] tzanio commented on #2978
Here is a simple example of using the IJ interface: https://github.com/hypre-space/hypre/blob/master/src/examples/ex5.c

Once you have the `parcsr_A` object, you can use  `HypreParMatrix(hypre_ParCSRMatrix *parcsr_A, bool owner = true)`.

[2022-05-04 17:16] jandrej commented on #2993
@reine249 Can you check that #2995 resolves this problem?

[2022-05-04 22:10] reine249 commented on #2993
Yes, #2995 resolves the problem.  Thank you for the quick fix!

[2022-05-04 22:16] tzanio commented on #2993
Resolved in #2995

[2022-05-04 22:16] #2993 closed

[2022-05-04 22:40] #2930 closed

[2022-05-04 22:40] #2913 closed

[2022-05-04 22:40] #2901 closed

[2022-05-05 04:51] jedbrown commented on #2897
@YohannDudouit Are you asking about the implementation in PETSc or the hand-off from libCEED to PETSc (which can assemble into hypre ParCSR)? If the latter, see the calls to `MatSetPreallocationCOOLocal` and `MatSetValuesCOO` in Ratel.

[2022-05-06 17:31] pazner opened #2997 "Crash with memory manager and aliases (debug device)"
The following code is crashing for me with error
[code]

[code]

Curiously, this crashes for n >= 512, but not for n < 512.

[2022-05-06 20:07] kmittal2 commented on #2982
Nice catch @termi-official. Turns out there is a bug that I have fixed in #2998. Can you take a look and test it out for your problem.

[2022-05-07 20:57] termi-official commented on #2982
Thanks for taking the time and the quick PR! I am a bit drowning in deadlines, so I am most likely won't possibly find time to test everything in the next week, but I will definitely take the time in calendar week 20.

[2022-05-10 01:07] v-dobrev commented on #2923
Hi @benzwick,

I think you figured it out: to average the stress at the FE dofs, you can use
[code]
Is this producing unexpected results?

Projecting first to `stress_disc` (with `ProjectCoefficient`) and then that to `stress_cont` (with `ProjectDiscCoefficient`) should give you the same result but does some more work if you do not need `stress_disc`. This will be true if `stress_disc` uses the sa

[2022-05-10 01:43] v-dobrev commented on #2976
According to the log, the Windows CI that @tzanio linked above, https://github.com/mfem/mfem/issues/2976#issuecomment-1114350140, used the following:
* `-- Building for: Visual Studio 17 2022`,
* `-- The CXX compiler identification is MSVC 19.31.31107.0`,
* `-- Check for working CXX compiler: C:/Program Files/Microsoft Visual Studio/2022/Enterprise/VC/Tools/MSVC/14.31.31103/bin/Hostx64/x64/cl.exe

[2022-05-10 06:23] adam-sim-dev commented on #2976
Hi @v-dobrev , I think the flag /wd4819 is the simplest way to suppress the warnings.

[2022-05-11 00:03] v-dobrev commented on #2976
Okay. @tzanio what do you think about adding the flag `/wd4819` to CMake when using MSVC? I'm fine with such addition.

@adam-sim-dev, if @tzanio is also fine with adding this to CMake, do you want to create a small PR for that?

[2022-05-11 00:58] adam-sim-dev commented on #2976
@v-dobrev , should I add the following scripts to mfem/CMakeLists.txt?

[code]

Which exact line do you expect it to appear in the CMakeLists.txt? Then I can open a PR.

[2022-05-11 03:34] learning-chip commented on #2869
A follow-up question -- I was looking at the [maxwellp.cpp](https://github.com/mfem/mfem/blob/DST-maxwell-solver-dev/examples/maxwell-solver-dev/maxwellp.cpp) which indeed assumes a Cartesian Mesh (ref [MeshPartition.cpp](https://github.com/mfem/mfem/blob/DST-maxwell-solver-dev/examples/maxwell-solver-dev/common/MeshPartition.cpp)). Regarding the extension of the Source Transfer Preconditioner to

[2022-05-11 12:21] henryprescott opened #3003 "MFEM implementation Question"
Hello,

I’m looking for some potential methods for simulating how different materials deform, and don’t have any prior experience with FEA.  So I was wondering, before I do a deep dive into FEA, could someone tell me if MFEM/FEA can provide a workable solution for the following please?

In it’s simplists terms, taking 2 meshes (labelled starting point below).  Assuming a 1-1 relationship between t

[2022-05-11 16:52] tzanio commented on #2976
sounds good to me

[2022-05-11 17:58] psocratis commented on #2869
Hi @learning-chip, there are indeed several difficulties extending this to general unstructured meshes. Using tetrahedral meshes (though it's not in the implementation) should not be hard to put and should not be an issue wrt to the method performing well. What is non-trivial is the construction of the PML in case the subdomains (or layers) are of arbitrary shape (possible non-convex). Another pos