[2020-03-22 20:20] mlstowell commented on #1336
Hi, @IdoAkkerman ,

Sorry for the delay.  I was on travel and missed this when it was first raised.

`FiniteElementSpace::GetFaceDofs()` returns only those degrees of freedom which are shared by any elements which share that face.  Consequently, in a DG context this method should not return any degrees of freedom.

Best wishes,
Mark

[2020-03-23 02:31] Christopher-Water commented on #1363
In regards to:
[code]
And also this MFEM doc:
**mfem::PWConstCoefficient::PWConstCoefficient(Vector& c)**

Wouldn't this mean that the example only includes material 0 and 1, not 2 as in the data Mesh?

[2020-03-23 02:48] mlstowell commented on #1363
Hi, @Christopher-Water ,

Unfortunately, that comment is incorrect.  It should read "for region with attribute i c[i-1] is the coefficient in that region".

Sorry for the confusion.
Mark

[2020-03-23 08:32] LeilaSalomon opened #1371 "Discontinuous Galerkin with findpts (in GSLIB) ?"
Hello,

From what I understand, findpts.cpp is not compatible with a discretisation DG, is it true?

Best,

Leïla

[2020-03-23 15:18] jandrej commented on #1371
What you can do is to project your solution to an H1 space and then use findpts for your computations. The H1 space can be higher order than the DG space to ensure a more resolved transition in certain regions.

[2020-03-24 19:00] #1008 closed

[2020-03-24 19:02] cyrush commented on #1088
@tzanio gearing up for some spack work later this week, I'll try to test this as well

[2020-03-24 21:23] geyan3566 opened #1373 "Negative element transformation jacobian while using `ParPumiMesh`"
Hi,

I tried to load a `pumi` mesh  and convert it into a parallel `mfem` mesh with:
[code]
But all the elements in `mfem_mesh` have element transformation of negative jacobian.
Is there a way to check the mesh orientation while loading MDS mesh?  It happened to me that pumi warned me about wrong orientation elements and fixed it.

Here are the model file and the mesh file.
[model_mesh.zip](https:

[2020-03-25 10:18] Christopher-Water commented on #1363
Thank you, I am now able to utilize my materials but am still having other difficulties.

**Goal:**
- Build a 2D Thermal Conductivity Simulation using the equation below, allowing the input of initial temperature BC's (Essential (Not Natural) Dirichlet?), using EX16 as a base:

![math](https://user-images.githubusercontent.com/62334461/77507321-923aa000-6eab-11ea-8c52-1dff4f05ebad.PNG)

**Difficul

[2020-03-25 11:38] IdoAkkerman commented on #1336
Hi @mlstowell,

thank you for your answer. I am struggling a bit with the boundary/face stuff.
I would like to implement a Nitsche BC for a NURBS mesh. For this I need a normal gradient.
In order to get a normal derivative, you would need in principle all functions active at a boundary, not just the non-zero functions. So which call do I need to make to get the correct DOFS?

[2020-03-25 17:05] kmittal2 commented on #1371
@LeilaSalomon, can we close this issue?

[2020-03-25 17:46] tzanio commented on #1373
@MarkShephard, can someone at RPI take a look at this?

[2020-03-25 17:48] cwsmith commented on #1373
looks like a cross/double post https://github.com/SCOREC/core/issues/297

[2020-03-25 20:02] mlstowell commented on #1336
Hi, @IdoAkkerman ,

I was not familiar with Nitsche BCs but from what I could find they look very similar to what we do for Discontinuous Galerkin methods.  Have a look at the [`DGDiffusionIntegrator`](https://github.com/mfem/mfem/blob/cd4de7abab2c9df2e22b812c4fe77debe57b5d83/fem/bilininteg.hpp#L2546) which seems to have three of the four terms you might need.

The basic idea behind these DG integ

[2020-03-25 20:52] mlstowell commented on #1363
Hi, @Christopher-Water ,

You can read about true degrees of freedom [here](https://mfem.org/pri-dual-vec/#true-degree-of-freedom-vectors).  Basically they are the minimal set of degrees of freedom that we need to solve for.  Nonconforming AMR or distributed meshes lead to dependencies between degrees of freedom which increase the local number of degrees of freedom.

`InitialTemperature` in exampl

[2020-03-25 23:23] v-dobrev commented on #1336
The main issue here is that with NURBS meshes, the face transformation, in general, may depend on dofs that are associated with the interior of elements, and not just adjacent elements but even neighbors of neighbors. That is why we do not have support for DG on NURBS meshes, at least for now.

However, the boundary faces are very similar to the standard case and I think they can be supported with

[2020-03-26 05:43] TJFord opened #1376 "Installation error: cannot convert ‘double* const’ to ‘hypre_Vector*’"
Hello everyone,

I searched the issues and did not find any answer my question. I am curious if anyone can help me out.

I install the serial version through `make serial`, seems to be working. However, when i type `make parallel -j`, the error is at the end of the output.

$ make parallel -j
make -f makefile config MFEM_USE_MPI=YES MFEM_DEBUG=NO \

make[1]: Entering directory '/data3/tan/mfem-4.1

[2020-03-26 08:04] LeilaSalomon commented on #1371
How can I project my solution? Just by creating a second space?

[2020-03-26 08:12] IdoAkkerman commented on #1336
@v-dobrev you are right:

I did not know how to phrase this. thank you for phrasing it so clearly.

I tried to get it working with quick and dirty hacking, but it did not work. Part because the distinction bnd/face was entirely clear to me. Because when the transformation enter the seen I lose track of what is what. So I tried to ease my way into it.

I think I can devote 50% of my time to get thi

[2020-03-26 12:24] Christopher-Water commented on #1363
@mlstowell thank you very much for the detailed response.

In regards to my previous questions:

1. Why does the Time-Integrator's closets to last step occur at  ```if (t + dt >= t_final - dt / 2)``` rather than ```if (t + dt >= t_final - dt)```?
2. What would happen if the initial u_gf and final u_gf were not set from **true** dof's, would it just increase computational time?
3. Why does ```Condu

[2020-03-26 16:08] kmittal2 commented on #1371
You can use [ProjectDiscCoefficient](https://github.com/mfem/mfem/blob/master/fem/gridfunc.hpp#L254) to project your DG gridfunction to H1. Something like this will work:

`H1_FECollection *fec=new H1_FECollection(order, dim); `
`FiniteElementSpace *fespace=new FiniteElementSpace(mesh, fec);`
`GridFunction h1_gf(fespace);`
`GridFunctionCoefficient cdg(dg_gf);`
`h1_gf.ProjectDiscCoefficient(cdg, mf

[2020-03-26 16:46] mlstowell commented on #1363
Hi, @Christopher-Water ,

Regarding question 1, I think you meant to compare the stopping criteria to `if (t + dt >= t_final)`.  The reason to use a half time step is to avoid ambiguities due to round-off error.    For example, let `t_final=10` and `dt=1`, if `t=9` the code should stop after the next step but if `t=8.99999999999999` the code will continue for two steps even though these two times

[2020-03-26 23:15] v-dobrev commented on #1376
It looks like the `master` version of hypre has changes that are backward incompatible.

Using hypre v2.18.2 or earlier should work fine.

Thank you for reporting this issue.

[2020-03-26 23:20] v-dobrev commented on #1336
@IdoAkkerman, sounds good. Let us know if you run into any issues.

[2020-03-26 23:37] tzanio commented on #1376
The change was made [here](https://github.com/hypre-space/hypre/commit/60101610dcadc6f6da1f134deca8501e5d82e2c1#diff-25f5be84fdb76820744f6bd16fc3afda), part of https://github.com/hypre-space/hypre/pull/93

cc: @liruipeng

[2020-03-27 00:11] liruipeng commented on #1376
Hi, Tzanio,

We changed interface of ams/ads/ame; I will look into how it should work again with mfem.

Thank you for letting us know

-Ruipeng

From: Tzanio Kolev <notifications@github.com>
Reply-To: mfem/mfem <reply@reply.github.com>
Date: Thursday, March 26, 2020 at 4:38 PM
To: mfem/mfem <mfem@noreply.github.com>
Cc: "Li, Ruipeng" <li50@llnl.gov>, Mention <mention@noreply.github.com>
Subject: R

[2020-03-27 03:26] liruipeng commented on #1376
I am working on this issue. Question: hypre now requires the users to call HYPRE_Init() and HYPRE_Finalize() before and after all the other HYPRE calls. Where to put these in MFEM?

[2020-03-27 05:47] v-dobrev commented on #1376
Hmm, are these calls required for non-GPU hypre builds?

If they are required just for GPU builds, then we do not need to call them for now -- mfem can only use non-GPU hypre builds.

If they are always required, then we'll need to think about the options. Ideally, we will want to hide them from mfem users, so that existing examples/miniapps in mfem, and external applications do not need to change

[2020-03-27 16:11] tzanio commented on #1376
Hi @liruipeng,

Thanks for looking at this and for letting us know of `HYPRE_Init()` / `HYPRE_Finalize()`.

As Veselin said, this will be tricky to handle in mfem -- hypre objects are often created internally and it may not be easy to predict if users will need them or not.

We do have similar calls, `MFEMInitializePets` and `MFEMFinalizePetsc` for PETSc, but hypre is so integrated that adding req

[2020-03-27 16:59] LeilaSalomon commented on #1371
Hello,

Thank you for your help but I have an error when I use GridFunctionCoefficient cdg(dg_gf).

I think I'm not declare it well !  I tried using GridFunctionCoefficient cdg(dg_gf,1) but it doesn't work either...

[2020-03-27 17:09] mlstowell commented on #1376
Perhaps a singleton.  In the constructor of each HYPRE class we could grab the instance of the singleton and instruct it to initialize HYPRE.  The singleton could contain a single flag which indicates wether or not `HYPRE_Init` has been called.  If it has already been initialized this operation could immediately return.  The destructor of the singleton could call `HYPRE_Finalize`.

The only compli

[2020-03-27 17:43] liruipeng commented on #1376
working on a workaround that can avoid `HYPRE_Init` for non-GPU builds

[2020-03-27 19:20] v-dobrev commented on #1371
The argument to the `GridFunctionCoefficient` constructor should be a pointer to `GridFunction`:
https://github.com/mfem/mfem/blob/491e65388ba31eedb6bacec926bb04186c65f65e/fem/coefficient.hpp#L174-L175

 so maybe you need to use `&dg_gf` instead of `dg_gf`.

[2020-03-27 20:15] delcmo opened #1381 "How to detect steady state in an efficient way?"
Hello,

I have a transient solver for a partial differential system of equations and would like to implement logic to detect steady state once it is reached. I could not find an example in GitHub repo.

The easy way is to save the old solution vector, compare it to the new solution vector after each time step, and compute the norm of the difference. I am worried about the memory load associated wi

[2020-03-27 20:45] v-dobrev commented on #1381
I don't know if there are good general solutions for this detection. I know @jandrej looked at this issue at some point, maybe he can tell you more about his experience.

[2020-03-27 22:47] jandrej commented on #1381
If you formulate your problem in a residual type form you have a few choices what to check for. Lets say your time dependent problem solves
[code]
then you can check your solution by testing for
[code]
with an appropriate norm and `eps` being your tolerance. There are similar ways to do this that include the actual `dt` but they never proved to be reliable. You also have to make sure that `eps` is

[2020-03-28 00:15] delcmo commented on #1381
Thanks for your emails.

I am a little bit concerned how to implement it. The ODE solver inherits
from the ODESolver class and I do not see how I can access |F(u)| from the
time loop without modifying the built-in TimeDependentOperator objects. I
implemented IMEX schemes and I could modify those to include a check on the
norm of the residual.

Is there a simple way to access the residual from the

[2020-03-28 01:33] v-dobrev commented on #1381
The residual in this case is simply the r.h.s. of the ODE which is defined by the `TimeDependentOperator` object. To evaluate that, call the method `SetTime` followed by the method `Mult` of your `TimeDependentOperator` object.

[2020-03-28 01:51] delcmo commented on #1381
So if I understand correctly, I should call `SetTime` and `Mult` right
after `ode_solver->Step(sol, t, dt_real);` inside the time loop.

Is that correct?

Marco

On Fri, Mar 27, 2020 at 9:33 PM Veselin Dobrev <notifications@github.com>
wrote:

--
Marc-Olivier Delchini

[2020-03-28 02:01] v-dobrev commented on #1381
Yes, `.SetTime(t)` and then `.Mult(sol, resid)`.

[2020-03-29 18:17] tzanio commented on #1373
The SCOREC/core#297 is a better place to discuss this...

[2020-03-29 18:17] #1373 closed

[2020-03-29 18:20] tzanio commented on #1376
This specific error reported here will be addressed in https://github.com/hypre-space/hypre/pull/102.

@liruipeng, can we please continue the  `HYPRE_Init()` discussion in https://github.com/mfem/mfem/issues/1276?

[2020-03-29 18:20] #1376 closed

[2020-03-29 21:38] mclarsen opened #1382 "LOR for tet meshes"
I was trying to do a low-order refine of a tet mesh and encountered and abort:

[code]

This is a feature request to implement this capability.

[2020-03-29 22:20] samanseifi opened #1383 "Geometry from Cubit"
Hi,

I'm using CUBIT for mesh generating, but also I can add BCs and loads and also assign types of elements that I want to the mesh file. The question is, how mfem handle these attributes from CUBIT Genesis file for examples? Let's say for example 19, I have my own Genesis file that is defined with BCs and loadings in the the .g file. What should I change in the code (in terms of applying BCs) th

[2020-03-29 22:48] v-dobrev commented on #1382
Yes, LOR is not implemented for tet meshes yet.

I think @pazner may have something like this implemented in branch -- I remember we had a related discussion about tets at some point but I'm not sure it was specifically for LOR.

I think the main missing part is the function where you got the error and that is not too hard to implement.

[2020-03-29 23:10] v-dobrev commented on #1383
As a general comment: the mfem mesh readers do not import any specific boundary condition infomation -- only attributes (integer tags) associated with the boundary elements. Therefore, the boundary conditions are imposed in MFEM, typically using the boundary attributes. Depending on the PDE and the discretization method these can be imposed as essential (fixed value for a set of dofs), or weak (im

[2020-03-30 02:07] Christopher-Water commented on #1363
Thank you again @mlstowell

I cannot fully wrap my head around how ```ConductionOperator::SetParameters()``` uses ```u_alpha_gf``` in ```K```'s ```DiffusionIntegrator```.

I see that ```u_alpha_gf``` represents the part of the right-hand side of the ODE that is multiplied by the Laplace Operator and temperature, but am confused as to how I can implement my materials and new parameters into the pro

[2020-03-30 04:31] liruipeng commented on #1376
Part of `HYPRE_Init()` is to create a global struct called `_hypre_handle`, where a bunch of hypre's parameters and global data are stored. For a non-GPU build, now if 'HYPRE_Init()` is not called as the first `HYPRE` call,  `_hypre_handle` will be created at the first time it is accessed (done with the recent PR of hypre). With that being said, the code will not seg fault without calling `HYPRE_I

[2020-03-30 04:49] mlstowell commented on #1363
Hi, @Christopher-Water ,

No, I don't think this approach is correct in your case because it sounds like your k, p, and Cp vary.  The loop used to reassign the values of `u_alpha_gf` only works because the parameters in the example are constant across the entire domain and the degrees of freedom stored in `u_alpha_gf` are linear functions of the `u` field.

If I understand correctly you are readin

[2020-03-30 06:02] Christopher-Water commented on #1363
@mlstowell

- All of the cells in my VTK files contain a material id attribute
- Each id has a set of thermal material property values that are for that specific material id (held in an external struct)
- The properties are simple values for things like Heat Capacitance of the specific material

What would be the proper way to implement these variables if there is a possibility that they can chang

[2020-03-30 14:34] samanseifi commented on #1383
OK thanks. So basically the question is now how from CUBIT mesh one can assign mfem boundary attributes? Let's say I have a block with 6 sidesets and I want to fix one s0ide. Is the sideset number from CUBIT is the attribute number in mfem?

[2020-03-30 14:59] jandrej commented on #1383
Yes, this is correct. Make sure your numbers start low (I start from 1 and not exodus format convention from 100). Then you can access the boundary attribute in MFEM with bdr_attributes[0]. If you would start from 100, we create 99 empty attributes before that.

[2020-03-30 16:57] mlstowell commented on #1363
Hi, @Christopher-Water ,
There are two main possibilities; if the number of unique attributes is nearly as large as the number of elements then I would store the material properties as an L2 `GridFunction` and create a `GridFunctionCoefficient`, if the number of unique attributes is some smallish fixed number then I would store the values in a `Vector` and use the `PWConstCoefficient` to access th

[2020-03-30 18:10] ben-s-southworth opened #1384 "Tracing mfem verification"
Is there a simple way to trace MFEM verification problems? E.g., I get an error along the lines of
[code]
but it's not clear where in my source code this actually arises if I am calling GetBlock() in many locations. I have compiled in debug and tried valgrind as well, but neither provide a more detailed trace.

[2020-03-30 18:17] pazner commented on #1384
You can set a breakpoint e.g. at `error.cpp:155` and then run in the debugger. It should hit the breakpoint right before aborting, and then you can get a backtrace.

[2020-03-30 18:20] pazner commented on #1382
I agree this would be a great feature to have.

I haven't implemented anything like this, but I do have an interest in generating simplicial LOR meshes from tensor-product meshes to use for preconditioning.

[2020-03-30 19:05] samanseifi opened #1385 "Material Modeling"
So ultimately I am interested in modeling electro-elasticity problems using mfem capabilities. I used to implement these in Tahoe (http://tahoe.sourceforge.net/), great platform for material models. But I want to make a switch to mfem. As I can see, there is a neo-Hookean model in the mfem, but I'm interested in coding Arruda-Boyce or Gent models. Is there anyway perhaps to override a general nonl

[2020-03-30 21:32] rcarson3 commented on #1385
@samanseifi yes you can easily derive / create new nonlinear material models. Here are two different applications that use MFEM that do so [ExaConstit ](https://github.com/LLNL/ExaConstit) and [Serac](https://github.com/LLNL/serac). Within ExaConstit, we've got a few examples of this [UMAT class](https://github.com/LLNL/ExaConstit/blob/exaconstit-dev/src/mechanics_umat.hpp) and [crystal plasticity

[2020-03-31 07:41] Christopher-Water commented on #1363
@mlstowell thank you again for the explanation,

A very small quantity of materials will be used in respect to the total amount of elements, thus: ```Vector``` to seperate ```PWConstantCoefficient```s implementation works well.

In regards to ```ConductionOperator::SetParameters()``` I am still confused as to how it works:

- Do I not need ```u_alpha_gf``` at all now? Would I instead simply use a

[2020-03-31 12:26] jakubcerveny commented on #1363
I also don't think we have this feature. A method like `SetMinElementSize` could be added to `ThresholdRefiner`, but currently there is nothing like that in there.

[2020-03-31 17:54] mlstowell commented on #1363
Hi, @Christopher-Water ,

Example 16 solves the nonlinear heat equation where the diffusion parameter depends on the local temperature via `kappa + alpha T`.  The `GridFunction` `u_alpha_gf` is just computing these values in two steps by first setting `u_alpha_gf=T` then incorporating the kappa and alpha parameters to compute `kappa + alpha u_alpha_gf`.  Once `u_alpha_gf` has been altered in this

[2020-03-31 18:02] samanseifi commented on #1385
These are really great works and very similar to what I had in mind. Serac only supports 3D, how about ExaConstit? Is there any plane-strain formulation?

I'm curious to know what type of benchmark you ran on these? Verification simulations, tensile test maybe?

[2020-03-31 18:03] samanseifi commented on #1383
Thanks for the help Andrej. I'm making progress.

[2020-03-31 18:12] jamiebramwell commented on #1385
@samanseifi Serac is a very new project. Although we mostly run 3D problems, it should be fully compatible with 2D meshes. One of our goals for this summer is to write a validation suite based on the [Abaqus benchmark guide](http://dsk.ippt.pan.pl/docs/abaqus/v6.13/books/bmk/default.htm). ExaConstit is a much more developed project, so @rcarson3 probably has more to offer on that front.

[2020-03-31 18:46] rcarson3 commented on #1385
ExaConstit currently only supports 3D. Later down the road, we might add 2D support, but we would still require our constitutive models to be run fully within 3D.

Verification of ExaConstit of the UMAT part of the code was originally done by comparing the stress output of a linear elastic and neo-hookean material vs the analytical solution. The crystal plasticity code has been compared against ot

[2020-03-31 19:24] tzanio commented on #1384
What @pazner said ☝️

Set a breakpoint in `mfem_error`.

[2020-03-31 19:24] #1384 closed

[2020-03-31 20:40] mosawe opened #1389 "Building MFEM v4.1, Sundials v5.1 & Hypre 2.18.2 on Ubuntu"
Hello,

I got the following error messages when I attempted to build MFEM v4.1, along with Sundials 5.1, and Hypre v2.18.2 on Ubuntu using GCC 5.4 and 9.2.

Note that the same cast-related error messages are repeated at lines 2114 and 2119 in hypre.cpp. I executed the build with the following command:

[code]

[2020-04-01 00:32] v-dobrev commented on #1389
This looks like the same issue as #1376.

You are probably using hypre's master branch (which uses the version number 2.18.2 as well). Try checking out the tag `v2.18.2` in hypre's repository.

[2020-04-01 01:44] mosawe commented on #1389
Thanks Veselin for your quick response. Using the tagged version solved the
build failure.

Maxwell

On Tue, Mar 31, 2020, 5:33 PM Veselin Dobrev <notifications@github.com>
wrote:

[2020-04-01 05:16] Christopher-Water commented on #1363
Thank you @mlstowell ,

My parameters simply comprise the constant thermal diffusivity of the material, so I assume I'm not using a "nontrivial material model" (I'm unaware of a diffusion coefficient that would depend on the local temperature for conduction).

- Since I do not care about local values, I assume that I only need to call ```SetParameters()``` at the initial creation of the ```Conduct

[2020-04-01 08:28] mlstowell commented on #1363
Ok, @Christopher-Water, that makes things easier.  I think you are correct.  Just call `SetParameters` once and that should be fine for the duration.

Bests wishes

[2020-04-01 16:07] samanseifi commented on #1385
@jamiebramwell that's great. Like @rcarson3 mentioned I'm more interested in multi-physics type problem and right now much like thermo-elasticity they are "same domain" coupling so `serac` seems to be the tool.

Thanks guys. I'll get back with more questions soon :)

[2020-04-01 16:11] jamiebramwell commented on #1385
@samanseifi Great! My first multiphysics application will be thermo-plasticity, but I expect to add EM and generic advection/reaction/diffusion soon!

[2020-04-01 16:11] #1385 closed

[2020-04-01 17:37] liruipeng commented on #1389
Could you please checkout the hypre's master and try it again? We tried to fix the problem. Thanks!

[2020-04-01 19:38] mosawe commented on #1389
This time, I get an internal compiler error as shown below using GCC 9.2.
But it appears the previous issue is now resolved - the code changes
indicate that too.
This appears to be issue for the GCC compiler team to resolve.

In file included from fem/bilininteg_vecdiffusion.cpp:12:
fem/bilininteg_vecdiffusion.cpp: In lambda function:
fem/../general/forall.hpp:55:18: internal compiler error: Segme

[2020-04-02 05:17] TJFord commented on #1376
Thank you all for the help! @v-dobrev @liruipeng @tzanio @mlstowell
It worked great in both serial and parallel versions with ex1 and ex1p.
Here is what I did. I write it down for my own future reference. Hopefully it would be helpful for others as well.
in hypre folder:
[code]
I did not use the following section, as the folder I check out is hypre without version number.
[code]
Then I go to metis

[2020-04-03 09:35] Christopher-Water commented on #1363
@mlstowell I have been looking through your EX27(very helpful) to learn more about boundary conditions, and have additional questions:

 **Current System for Boundary Condition Input::**
- Mesh Cells can be tagged with a boundary attribute by the user
- Each attribute value is tied to a constant initial temperature value for the cell
- All cell boundaries are identical in type, Dirichlet (**I am c

[2020-04-03 16:50] mlstowell commented on #1363
Hi, @Christopher-Water ,

I'm so glad you found that example helpful.

Yes, your implementation sounds exactly correct.

In this context, "homogeneous" means equal to zero everywhere.  So, having different boundary values on different portions of the boundary is definitely an inhomogeneous Dirichlet BC.

Best wishes,
Mark

[2020-04-03 18:37] kennyweiss opened #1396 "Shared build of mfem on Windows"
Is ``mfem`` interested in being able to build as a shared library (i.e. a ``dll``) on Windows/``msvc``?

The [axom](https://github.com/LLNL/axom) project has been working on automating its Windows build, which requires building its third-party libraries, including ``mfem``, in shared mode.

#### Details:

One of the main differences between ``gcc``/``clang`` and ``msvc`` in their treatment of shar

[2020-04-04 01:25] fanronghong opened #1397 "mpirun outputs petsc errors"
Hi all,

I have the below simple example code (see the 1st code block).
When I run in serial, the code can give the right result but also give an error message below (see the 2nd code block).
If I run in parallel, it won't give a right output (only give error messages below, see the 3rd code block).

I don't know where is wrong and how to fix it.
I think it's a very easy question, but I am not fam

[2020-04-05 09:53] NikolayYavich opened #1398 "PrintVTK/SaveVTK"
Dear All,

I carefully reviewed #797 and #558 before posting this.
My question is how to **avoid refinement and extra points** when exporting a field
modelled with linear elements to a VTK file.
From the mention posts it follows that setting ref = 1 in PrintVTK and SaveVTK does this.
However, this simple code bellow shows that this is not the case.
[code]
When I check the generated VTK file I see:

[2020-04-05 19:45] pazner commented on #1398
Hi @NikolayYavich,

When you set `ref = 1`, MFEM will output four points per tetrahedron. Since your mesh has 750 tetrahedra, this is why the VTK file has 3000 points. The reason why there are more points than vertices in the mesh is because of duplicated points (and not because of extra refinement points).

Hope this helps.

[2020-04-05 23:28] tzanio commented on #1396
I believe @acfisher and maybe @v-dobrev have some experience with this.

[2020-04-05 23:30] tzanio commented on #1389
@camierjs, can you investigate the above error further... have we tested with gcc-9.2?

[2020-04-06 03:36] rajpradi opened #1399 "Displacement boundary conditions on linear elastic model (ex2)"
Hello Developers,

First of all, thank you very much for creating such an efficient FEA library.

I am facing difficulties while applying displacement boundary condition on required faces/nodes.
(Displacement BC means, initially assigning some fixed non-zero values for Ux or Uy).
Currently, I am trying to use ex2 (linear elastic model). I have directly tried to impose some values to the GridFuncti

[2020-04-06 04:13] Christopher-Water commented on #1363
@mlstowell,

As an additional question about my implementation:
- Is there a way to **only set the edge of a cell as the boundary condition**? If the user wishes to do something like mark the exterior edges of a device model at a certain temperature, not all edge cells are of the same thickness after subdivision....

[2020-04-06 06:17] mlstowell commented on #1363
Hi, @Christopher-Water ,

I'm not sure what you mean.  For example, I don't know what a "cell" is in this context nor what you mean by "edge cell".

We typically apply boundary conditions to a subset of boundary elements.  Boundary elements can be tagged with different attributes and the boundary conditions can be associated with a specific attribute number.  For example if you have a tetrahedral

[2020-04-06 06:22] stefanozampini commented on #1397
@fanronghong I will also need the `petsc_example_opts` file to run your code.
Have you tried running on valgrind?

[2020-04-06 06:35] mlstowell commented on #1399
Hello, @rajpradi ,

It sounds like `ex2` was the correct choice.  Applying Dirichlet BCs in this problem involves two pieces of information. First you need the boundary values themselves and it sounds like you have this piece.  The second piece is the portion of the boundary on which to apply those values.  Perhaps this second piece is missing.  In example 2, this piece is defined in the following

[2020-04-06 07:33] fanronghong commented on #1397
Thank you for your reply @stefanozampini ,

Sorry about forgetting `petsc_example_opts`.
[petsc_example_opts.txt](https://github.com/mfem/mfem/files/4436557/petsc_example_opts.txt)

I didn't use valgrind, but I tried to debug step by step. It's something wrong with executing
deconstructor of `PetscParMatrix B` after
[code]

[2020-04-06 09:22] NikolayYavich commented on #1398
Hi @pazner ,

Thanks a lot for the answer.
So, how to avoid duplicating points when exporting modelled fields?
This is a big obstacle when dealing with larger problems - files gets even larger, Paraview hangs...

[2020-04-06 09:56] fanronghong commented on #1397
I just tried with valgrind and got below  message which seems something wrong in `MPI_Init(&argc, &argv);`
[code]

[2020-04-06 10:05] stefanozampini commented on #1397
This is definitely a different error than the one you previously posted.
The issue here is simple. The destructor of the PETSc objects gets called after MPI is finalized, so the error, since PETSc tries to free the communicator after MPI_Finalize has been called.
You have two alternatives. Either use

[code]

or
[code]

[2020-04-06 10:16] fanronghong commented on #1397
Sorry about the wrong error @stefanozampini ,

For the 1st solution, you mean I should put all "petsc objects (not pointers)" (like `PetscParVector`, `PetscParMatrix`, `PetscLinearSolver` ...) between `MFEMInitializePetsc(NULL, NULL, options_src, NULL);` and `MFEMFinalizePetsc();` . Am I right?

For the 2nd solution, I should put all "petsc pointers (not objects)" between `MFEMInitializePetsc(NULL

[2020-04-06 11:22] stefanozampini commented on #1397
In C++, statically allocated objects get destroyed when they go out of scope (see e.g. https://stackoverflow.com/questions/10081429/when-is-a-c-destructor-called). This is why you need to instantiate PETSc-based objects within curly braces if within the `main` method (1st solution). Instead, if you allocate them dynamically (2nd solution), you have to make sure you call `delete` on them before `MF

[2020-04-06 11:24] fanronghong commented on #1397
Thank you very much @stefanozampini , your answer is a great help.

[2020-04-06 11:24] #1397 closed

[2020-04-06 20:54] pazner commented on #1398
If you're specifically using linear finite elements as in your example, then you can use `mesh->PrintVTK(vtkFs)` (i.e. without any `ref` parameter) to output the linear mesh with no duplication of vertices.

The following function will write a linear GridFunction in VTK format defined on such a mesh (not this will not work if you use finite elements with order greater than 1):
[code]

[2020-04-06 23:30] rajpradi commented on #1399
Hello Mark,

Thank you very much for your prompt response. Now I got clear how to assign/add the portion of the of the boundary on which I will apply displacement boundary conditions.

Sorry to disturb you once again, but I am not clear how can we add boundary values to it. For example, if I want to add any non-zero initial displacement (Dirichlet BC) to the faces of boundary elements with attribu

[2020-04-07 02:28] v-dobrev commented on #1396
I've never tried this -- configuring cmake with `-DBUILD_SHARED_LIBS=ON` on windows with msvc. Also, I don't remember any issues on github about that.

@kennyweiss, if you want we can make a PR with the changes you have in the patch and do some testing. Maybe we can setup an appveyor test for a shared build?

[2020-04-07 02:50] v-dobrev commented on #1389
Building on Mac with gcc 9.2 seems to work fine -- this is with the latest master branch in both mfem and hypre.

[2020-04-07 06:26] acfisher commented on #1396
I haven't tried it with msvc, but I've built DLLs on intel/windows using both cmake and a hand rolled nmake file.  I had to do some contortions to get the nmake solution to work.  It's probably worth having a look at your changes to see if we can generalize it and test it like @v-dobrev  suggested.

[2020-04-07 13:18] NikolayYavich commented on #1398
Hi @pazner

Thanks a lot for the detailed answers, I'll check these options out.

[2020-04-07 13:18] #1398 closed

[2020-04-07 13:49] hongbo-yao opened #1403 "Direct MUMPS solver via PETSc for Complex OperatorHandle(ex22p) or BlockOperator(ex5p)"
Hi:

I'm solving the complex linear system (ex22p) by Direct MUMPS solver via PETSc. My way is to change the complex linear system into 2x2 BlockOperator, and create a PetscParMatrix based on this BlockOperator. Then create PetscLinearSolver and call MUMPS to solve this linear system. The code:

`ComplexHypreParMatrix * complex_mat = dynamic_cast<ComplexHypreParMatrix*>(A.Ptr());
   HypreParMatrix

[2020-04-07 13:59] hongbo-yao opened #1404 "Efficient way to merge several parallel solutions into one disjoint solution?"
Hi dear developers:
    I have solved a linear system in parallel, now I'd like to merge them into one big solution to do some post-process. With the help of MPI_Send and MPI_Recv (see Issue #1155 ), I find it works well when the problem size is small, but the program will keep running when the problem size is big (for example, the dofs are 30,0000). So do you have some else efficient ways to real

[2020-04-07 14:42] IdoAkkerman commented on #1336
I have been looking a bit closer, and have the following idea.
The routines

[code]
in fespace due something analogues. However, in the implementation of the first 2 routines, there is an if-statement at the beginning, using a Table it it is there instead of generate the dof indices on the fly. See below:

[code]
and
[code]
In the case of NURBS the Table is used, as the standard dof association do

[2020-04-07 14:43] IdoAkkerman commented on #1336
The difference between the fespace functions:
   virtual void GetFaceDofs(int i, Array<int> &dofs) const;

[2020-04-07 14:59] IdoAkkerman commented on #1336
I have some issues with understanding the subte difference between
`FiniteElementSpace::GetBdrElementDofs()` and
`FiniteElementSpace::GetFaceDofs()`

If I understand correctly, "face" refers to all the boundaries of the interior elements, while a "bdr" refers to a subset of faces that are on the "boundary" of the domain.

But there seems to be a different dof ordering in both routines? Is this cor

[2020-04-07 15:16] tzanio commented on #989
Spack package and dependencies have been updates as part of the ceed-3.0 PR above.

For support of recent hypre releases, see #1276.

We reference specific package versions in the `INSTALL` file when they are critical, e.g. current libCEED integration requires version 0.6 or later, but I don't think it is realistic for us to keep track of all releases. To me it makes much more sense for this to be

[2020-04-07 15:16] #989 closed

[2020-04-07 15:28] tzanio commented on #1115
This issues has been dormant for a while, so I'm closing it. Feel free to reopen if you still have questions.

[2020-04-07 15:28] #1115 closed

[2020-04-07 15:29] #1383 closed

[2020-04-07 15:31] tzanio commented on #1389
@mosawe, on which machine did you get the gcc-9.2 failures?

[2020-04-07 15:45] tzanio commented on #1404
Hi Hongbo,

This seems a reasonable approach if you want to do it yourself, but if the problem size is really big it may very well not fit into the memory of one MPI task.

One option may be to perform the post-processing / analysis you want on the fly in parallel if possible.

Another option will be to use a parallel I/O library such as ADIOS, see e.g. ex5p.cpp.

Hope this helps,
Tzanio

[2020-04-07 15:47] tzanio commented on #1399
The boundary values are specified by the (ess_tdof_list) values of the grid function `x` in the call to `FormLinearSystem`.

[2020-04-07 15:49] tzanio commented on #1381
Marco, I'll close this issue for now, but please feel to reopen and let us know how things worked out, ot if you have any further questions.

[2020-04-07 15:49] #1381 closed

[2020-04-07 15:52] fanronghong opened #1405 "How to use block matrix for a Jacobian in PETSc?"
Hi all,

I have a nonlinear operator `op`, which I will use in
` PetscNonlinearSolver* pnewton_solver = new PetscNonlinearSolver(MPI_COMM_WORLD, *op);
`

The `op` will be used to compute Jacobian `op->GetGradient()` and compute Residual `op->Mult()`.

Here the Jacobian is a BlockMatrix whose every sub-block is a `PetscParMatrix`, but in MFEM the sub-block must be `SparseMatrix`, not `PetscParMatri

[2020-04-07 15:53] tzanio commented on #1273
This issues has been dormant for a while, so I'm closing it. Feel free to reopen if you still have questions.

[2020-04-07 15:53] #1273 closed

[2020-04-07 16:14] mlstowell commented on #1399
Hi, @rajpradi ,

To expand on what @tzanio said, putting values into the `GridFunction` is done by creating a `VectorCoefficient` which reproduces the desired boundary values and projecting this onto `x` using `x.ProjectBdrCoefficient`.  You can find an example of this in `ex21`.  You can use a sequence of `VectorConstantCoefficients` on different portions of the boundary or you can write a single

[2020-04-07 16:18] kennyweiss commented on #1396
Thanks @v-dobrev  and @acfisher.

I created #1401 which builds and links the ``exec`` target and passes all tests locally.  I was able to build and test locally on linux, but ran into an issue with the ``travis`` job related to the new auto-generated file `mfem_export.h`

[2020-04-07 17:12] jandrej opened #1406 "KINSolver default settings problematic with linear or nearly-linear problems"
The nonlinear solver from the Sundials library KINSol has the following default behavior:

KINSol limits the maximum Newton update if
[code]
This forces KINSol to take more steps than necessary in the linear case.

Providing the option `KINSetMaxNewtonStep(kin_mem, max_step)` changes the default behavior to
[code]
This leaves the user with two options. The first and simple one, not using an initia

[2020-04-07 20:38] tzanio commented on #1332
Please see #1392 and provide feedback there on the new NCMesh format.

[2020-04-07 20:38] #1332 closed

[2020-04-07 20:53] mosawe commented on #1389
A second try using a cloned version of hypre-master, instead of a
downloaded and expanded archive was successful:
......
a - fem/libceed/ceed.o
ranlib libmfem.a
make[2]: Entering directory '/home/maxwell/lib/mfem-4.1'
make[2]: Leaving directory '/home/maxwell/lib/mfem-4.1'

I also successfully built, and executed the all of the test cases.

I don't know what went wrong with the previous attempt. H

[2020-04-07 21:16] tzanio commented on #1389
Thanks for letting us know, Maxwell.

[2020-04-07 21:16] #1389 closed

[2020-04-07 21:26] mosawe commented on #1389
You're welcome.

Maxwell

On Tue, Apr 7, 2020, 2:16 PM Tzanio Kolev <notifications@github.com> wrote:

[2020-04-08 00:49] goxberry commented on #989
Agreed. `INSTALL` need only provide suggested dependency versions for the current MFEM version. Information on older releases can be obtained using git.

A single suggested version of each dependency in `INSTALL` is enough to build MFEM without undue guesswork most of the time, and could help create a policy to reduce your support burden: "these are the versions of libraries we will support". The

[2020-04-08 01:32] v-dobrev commented on #1336
I'll start by answering the last question.

The main difference between the boundary and face elements is that the first one is read from the mesh file and the second one is auto-generated. Because of that the ordering of the vertices that describe them may be different. We could rotate the boundary elements to match the auto-generated face elements but this may disrupt certain workflows, so we do

[2020-04-08 02:09] v-dobrev commented on #1336
Regarding the diversion:
[code]
I think this will work for the NURBS case. I believe these diversions for the elements and the boundary were originally added (by you) to support the NURBS case. Now these `Table`s are generated for all mesh types.

Since you are interested only in face elements that are on the boundary, you only need to generate the rows of `faceElem_dof` corresponding to those. Yo

[2020-04-08 02:14] hongbo-yao commented on #1404
Hi @tzanio,

Parallel post-processing would be a good choice, actually I have considered this option.

Supposing the Magnetostatics problem with differential equation reads Curl( Curl A) = 0, where A is the magnetic vector potential. After solving this problem using parallel Nedelec elements we obtain ParGridFunction(u) of vector A, now I'd like to compute the magnetic flux density B = Curl A at a

[2020-04-08 02:56] v-dobrev commented on #1273
Adding support for face integrators in `ParNonlinearForm::GetGradient` will require some work. It should be very similar to the things we do to support face integrators in `ParBilinearForm::Assemble` for the case of `fbfi.Size() > 0` (`fbfi` stands for "face bilinear form integrator"):
https://github.com/mfem/mfem/blob/4134e9496a77ebccde0819438e050de20480ffb8/fem/pbilinearform.cpp#L233-L247

and i

[2020-04-08 07:18] samadritakarmakar opened #1407 "Segmentation error when trying to obtain PointMat from IsoparametricTransformation class"
What I basically need is the nodal coordinates for each node of each element. I try to obtain the PointMat data from the IsoparametricTransformation class. The mesh type is Gmsh.
I try below code to obtain the same but receive a Segmentation fault when trying to do so using the below code.  ElementTransformation class does not give the same error.

[code]

Thank you in advance for your help.

[2020-04-08 08:29] aschaf opened #1408 "Number of CG iterations in HypreSmoother"
Hi,

can we add a way to set the number of CG iterations used in `HypreSmoother` to estimate the eigenvalues? E.g., change
[code]
to
[code]
and if `poly_cg_iterations == 0`, then use hypre's `hypre_ParCSRMaxEigEstimate` to estimate the largest eigenvalue.

Best regards,
Andreas

[2020-04-08 10:14] IdoAkkerman commented on #1336
Thanks for the clear answers.
You are right about the LoadFaceElement call. I tried getting this to work 2 months before, but did not get it to work due to subtle issues and trail-and-error gives to many combinatorial options.

[2020-04-08 12:42] IdoAkkerman commented on #1336
I think I have something working!!! Needs mayor cleaning and checking, but good news anyway!

[2020-04-08 15:31] #1404 closed

[2020-04-08 15:49] fanronghong commented on #1405
Sorry, I want to add another question based on the above question.

In `example/petsc/ex10p.cpp`, there is a piece of code below.
As you can see, when I solve Jacobi linear system `Jacobian * u = Residual` in every newton iteration, I can give any `IterativeSolver` for `newton_solver` by `newton_solver.SetSolver()`.
But how can I choose `PetscLinearSolver` for `pnewton_solver` ?
[code]

[2020-04-08 16:03] IdoAkkerman commented on #1336
Yes, for the serial implementation everything seems to work.

There are 2 potential "issues" though:

1) My approach: Instead of defining a `face_dof` table, I am using the `bdrElem_dof` table  and a mapping from face to bdr.

2) I have added some face2bdr routines to the mesh class:
[code]
Where `GetFaceBdr()` is the transpose (inverse?) of  `GetBdrFace()` which is computed in `GenerateFaceBdrMap

[2020-04-08 16:08] IdoAkkerman commented on #1336
Perhaps I should use the procedures described above to generate a partial `face_dof` table.

Conceptually it is the same as above, but it will make the runtime code robust and clean(simple face_dof check and usage if available), and isolates the more (NURBS) specific, potentially fragile, items to the initialization.

I will first work on the parallel stuff and see what is necessary on that front.

[2020-04-08 17:29] tuckerbabcock opened #1409 "PA for simplex elements"
Can meshes with simplex elements take advantage of partial assembly? Based on this line from the libCEED documentation on [partial assembly](https://libceed.readthedocs.io/en/latest/libCEEDapi/#partial-assembly):

It seems to me like simplex elements could support partial assembly, but with less efficiency than tensor product elements since **B** would need to be stored as a matrix. However, the [

[2020-04-08 20:21] YohannDudouit commented on #1409
There is indeed no theoretical limitation to take advantage of partial assembly for simplices, depending on what problem you want to solve, libCEED integration in MFEM might already offer partial assembly support for your problem using simplices.
Because of the very significant performance gap between tensor and non-tensor elements, in MFEM we focused on supporting partial assembly for tensor elem

[2020-04-08 20:37] tuckerbabcock commented on #1409
@YohannDudouit I'm a bit confused by what you've said...

seems to be contradicted by

When you mention you're planning to support partial assembly for non-tensor elements without libCEED in the future, may I ask why without libCEED? Will their interface not support non-tensor elements?

I'd love to make contributions to speed the development of partial assembly for simplex elements, but I'm not s

[2020-04-08 20:55] rcarson3 commented on #1409
@tuckerbabcock if you really want to try and get your problem up on the GPU in the near future while the MFEM team is working on adding the non-tensor approach you could do something like what I did for my PA formulation in ```ExaConstit``` here: https://github.com/LLNL/ExaConstit/blob/exaconstit-dev/src/mechanics_integrators.cpp#L1235-L1675

I wouldn't call it the most performant method, but it d

[2020-04-08 21:41] vladotomov commented on #1407
Hi @samadritakarmakar, the input IsoparametricTransformation must be allocated by the user, see the comment in fespace.hpp:

[code]

[2020-04-08 22:22] YohannDudouit commented on #1409
@tuckerbabcock libCEED is an optional dependency, libCEED supports non-tensor elements (simplices). If you use `MFEM_USE_CEED=YES` then you can have access to partial assembly on simplices for Mass and Diffusion operators, see [ex1](https://github.com/mfem/mfem/blob/master/examples/ex1.cpp). However, without this optional dependency there is no support in MFEM currently for partial assembly on sim

[2020-04-08 22:39] tuckerbabcock commented on #1409
@rcarson3 thank you for those links, I'll take some time to digest them.

@YohannDudouit I see, thanks for the clarification.

I'm interested in trying to accelerate the `CurlCurlIntegrator`, `VectorFECurlIntegrator`, all of the components of the `DivergenceFreeProjector` from the elctromagnetics miniapp, which I believe includes the `VectorFEWeakDivergenceIntegrator` and`GradientInterpolator`, an

[2020-04-08 23:09] YohannDudouit commented on #1409
@tuckerbabcock I think that the `PACurlCurlSetup` functions in [bilininteg_hcurl.cpp](https://github.com/mfem/mfem/blob/master/fem/bilininteg_hcurl.cpp) can easily be adapted to work with non-tensor elements (it almost already does), the `PACurlCurlApply` functions can mostly be copy/pasted and then simplified to work for non-tensor elements.  You'll also have to detect in `AssemblePA` and `AddMul

[2020-04-09 02:44] v-dobrev commented on #989
@goxberry, how does #1411 look?

[2020-04-09 03:10] v-dobrev commented on #1408
Sounds like a reasonable thing to add.

I didn't know about the hypre function `hypre_ParCSRMaxEigEstimate` -- maybe it can be useful for #1097 as well.

[2020-04-09 05:57] samadritakarmakar commented on #1407
Ok. Issue solved. Thanks a lot for your response.

[2020-04-09 05:57] #1407 closed

[2020-04-09 09:36] v-dobrev opened #1412 "Class ifgzstream throws an exception"
Class `ifgzstream` (and the inherited class `named_ifgzstream`) throws an exception instead of just setting the `failbit` as `std::ifstream` does.

This causes mysterious errors to be printed when a mesh file is not found instead of printing the message that the mesh file is not found.

[2020-04-09 10:33] IdoAkkerman commented on #1336
Parallel also seems to work with minimal effort.
Going the `face_dof` route will lead to more "symmetry" in the code. Will work on that tomorrow.

[2020-04-09 14:33] goxberry commented on #989
@v-dobrev #1411 looks great! That's exactly what I was looking for. Thank you!

[2020-04-09 16:19] tzanio commented on #989
Ok, #1411 looks good to me too

[2020-04-09 17:05] salazardetroya opened #1413 "Non-deterministic behavior of BoundaryNormalLFIntegrator with a VectorGridFunctionCoefficient"
I want to perform a boundary integral of a flux: `\int_{\Gamma} f \cdot n d\Gamma` where `\Gamma` is a boundary with a specific marker, `f` is a vector and `n` is the surface normal. I decided to use `BoundaryNormalLFIntegrator` for this purpose. In my problem the vector `f` will come from a `ParGridFunction`, hence the need to use `VectorGridFunctionCoefficient`, although in this example I am jus

[2020-04-09 19:27] IdoAkkerman commented on #1336
I implemented the `face_dof` route in the branch **nurbs-face-dev**  . I already submitted a PR #1414

[2020-04-09 19:30] mlstowell commented on #1413
Hi, @salazardetroya ,
I'm not able to reproduce the problem.  I tried your test program several times in both serial and parallel but it always returned an answer of 1.

Whenever I run into issues like this I always try to rebuild MFEM (or other libraries that may have changed) starting from `make clean`.  Often the root of the problem is a small change to a header file which alters the data layou

[2020-04-09 23:13] salazardetroya commented on #1413
I cleaned up everything and compiled `master` from scratch. I still get the same random behavior. I compiled mfem with no MPI and it works. I am going to try to see if different MPI implementations work (I was using openmpi-3.1.4 downloaded by petsc-3.12.4)

[2020-04-10 17:44] tzanio commented on #1409
Thank you for your offer to help @tuckerbabcock. @YohannDudouit and @dylan-copeland are experts in these topics and I'm sure will be happy to help!

[2020-04-10 19:37] tuckerbabcock commented on #1409
While it shouldn't hinder my ability to work on implementing partial assembly for the integrators I mentioned, I'm also curious about solving/preconditioning when using partial assembly. Based on the parallel version of example 3, it seems like the Hypre solvers/preconditioners cannot yet be used when taking advantage of partial assembly. Is there a timeline for Hypre solver/preconditioner support

[2020-04-10 21:00] jandrej commented on #1409
This is an ongoing research topic. A majority of existing preconditioning concepts are based on the knowledge of an assembled matrix structure (e.g. classical AMG). There are approaches like p-Multigrid or h-Multigrid that work as long as you have a smoother on the coarse grid that is either matrix free, or can work with a very small matrix.

We currently support low-order-refined assembly of a hi

[2020-04-10 21:04] dylan-copeland commented on #1409
It is correct that Hypre preconditioners are not available for PA. This is not only an issue of implementation but also research, to find good preconditioners without access to matrices. In particular, AMG cannot be used. There is some research being done in this area, but as usual the starting place is H^1, and H(curl) will be a long-term goal. Matrix-free preconditioning is a new area where you

[2020-04-10 23:52] salazardetroya commented on #1413
Still no luck. I have left it aside and started working using the LC machines, where it works well. @mlstowell I think to remember you have MFEM on your Mac, correct? Which MPI implementation do you have and how you installed it? Same for compilers if different than the standard.

[2020-04-10 23:59] mlstowell commented on #1413
Hi, @salazardetroya ,
I'm sorry to hear that.  I do run MFEM on a Mac. Currently, I'm using mpich version 3.3.2 and gcc version 9.3.0 both installed through Homebrew.  The Homebrew version is 2.2.3 which I installed through the lab's MacPatch tool (select "COMP Scholar Program" from the pull-down menu).

Best wishes,
Mark

[2020-04-13 20:39] jandrej commented on #1413
Reproducable on

Apple LLVM version 10.0.1 (clang-1001.0.46.4)
OpenMPI 4.0.2 (homebrew install)
CMake build system

[code]
[code]

[2020-04-13 20:47] psocratis commented on #1413
I can reproduce too, even in a serial run

[code]

[2020-04-13 21:28] psocratis commented on #1413
seems like something is causing a problem with the integration points
when it fails I get integration points like x = 0.211325, y = -3.10504e+231, z = 2.44141e+232 instead of x = 0.211325, y = 0, z = 0

[2020-04-13 22:36] psocratis commented on #1413
So it seems that the method IntegrationPoint::Init is not called properly, and that causes the random numbers in y and z values of the integration point. I changed this in intrules.hpp

[code]

to this

[code]
and the issue goes away but still this is not the best thing to do cause the index is not set. Can anyone who is more familiar with this class help?

[2020-04-13 23:41] tzanio commented on #1371
@LeilaSalomon and @kmittal2, can you update us on this issue?

[2020-04-13 23:42] tzanio commented on #1405
@stefanozampini or @jandrej, can you take a look at this?

[2020-04-13 23:44] tzanio commented on #1408
This is fine with me too. Do you want to propose a PR?

[2020-04-14 04:50] rajpradi commented on #1399
Thank you very much @tzanio and @mlstowell for your detailed explanation. I was able to implement the displacement boundary condition expectedly.

Kind Regards,
Raj

[2020-04-14 07:02] aschaf commented on #1408
I will do it, yes.

[2020-04-14 13:12] markcmiller86 commented on #1412
@tzanio took a quick look. All that code has changed size these classes were updated to avoid GNU licensed gzstream classes I originally employed.

Am guessing but maybe something related to this...

https://github.com/mfem/mfem/blob/278a27db5ed1ccc58253c604024d8388f4bde7a8/general/zstr.hpp#L784

[2020-04-14 13:46] kmittal2 commented on #1371
@LeilaSalomon had mentioned in her email that she will continue the discussion here.

[2020-04-14 14:57] salazardetroya commented on #1413
Shouldn't have these unitializations been caught by the static analyzer?

[2020-04-14 16:55] #1336 closed

[2020-04-14 17:38] mlstowell commented on #1413
Also, I would expect the integration point to be set by the integrator, which would overwrite the initial values.

[2020-04-14 17:46] mlstowell commented on #1413
@psocratis , this is using a 1D integration rule so only `ip.x` is being set.  It's possible that `ip.y` and/or `ip.z` are being accessed but this would probably indicate an error.

[2020-04-14 17:56] psocratis commented on #1413
You are right, that's why this is a bit puzzling. More specifically this function is called.

[code]
if I initialize at case 2 the problem goes away. Which means y coordinate is used.

[2020-04-14 17:59] mlstowell commented on #1413
Why would case 2 indicate that the y coordinate is used?

[2020-04-14 18:00] psocratis commented on #1413
[code]

[2020-04-14 18:01] psocratis commented on #1413
In this particular run the code goes in case 2. Basically setting two integration points.
If before setting it you initialize y and z then the problem goes away.

[2020-04-14 18:04] psocratis commented on #1413
Additionally if you look at the integrator
[code]

[2020-04-14 18:10] salazardetroya opened #1417 "Calculating jumps across elements of a GridFunction in parallel"
I have an L2 function of order 0. I want to calculate the gradient by looking at the jump of a GridFunction across the element faces. So I iterate over the faces (`pmesh->GetNumFaces();`) and at each face I calculate the jump (difference in value) of a GridFunction. Then I add that jump to a piecewise constant GridFunction

This works in serial, but it does not in parallel (I obtain nan values). H

[2020-04-14 18:30] davidherreroperez opened #1418 "Different number of non-zeros in coefficient matrix with and without lapack library in ex2"
Hi there,

I found that ex2 with and without lapack library (3.7.1) assembles a coefficient matrix with different number of non-zeros in some cases. By replacing

https://github.com/mfem/mfem/blob/278a27db5ed1ccc58253c604024d8388f4bde7a8/examples/ex2.cpp#L194

with

[code]
Running for example ex2 with beam-hex.mesh

[code]

I obtain the following output with lapack

[code]

and without lapack libr

[2020-04-14 18:38] LeilaSalomon commented on #1371
When I use ProjectDiscCoefficient, in fact, I solve again the solution in this new space : I get a solution in space h1, which is not the same as in space DG. Only, I'm just interested by the results obtained by the resolution in the DG space, because this is the one I use for my simulation

Leïla

[2020-04-14 19:38] psocratis commented on #1413
Hi @salazardetroya , It seems that this behavior is caused by the GridFunctionCoefficient and its evaluation on the boundary. This issue is addressed (and fixed) in #1194.

Please let us know if you still encounter the problem.

[2020-04-14 19:51] salazardetroya commented on #1413
Thanks! I'll use that branch.

[2020-04-14 19:51] #1413 closed

[2020-04-15 01:48] fanronghong opened #1421 "Is nonlinear newton iteratation initial value always 0 ?"
Hi all,

If I want to give an initial value for a newton iteration, is this the right way by changing `x` in `pnewton_solver->Mult(b, x)`, where `pnewton_solver` is a `PetscNonliearSolver *` ?

[2020-04-15 23:30] v-dobrev commented on #1412
@markcmiller86, thanks for checking. You maybe right -- calling `exceptions` (https://en.cppreference.com/w/cpp/io/basic_ios/exceptions) maybe the cause of this. However, I don't see any calls to `exceptions(std::ios_base::failbit)`, so there maybe something else. There are a number of explicit `throw` statements in the file.

Investigating further, on Mac, when I ran `./ex1 -m zzz`, I got this:
[

[2020-04-16 15:30] salazardetroya commented on #1417
Closing this for now. I need to give a better thought to the method I'm using here.

[2020-04-16 16:56] pazner commented on #1417
I hope you won't mind if I chime in on this anyway.

It is relatively straightforward to get your code to work in parallel. First, you need to make sure that the "face neighbor data" is communicated in parallel. You can do this by calling `geometry->ExchangeFaceNbrData()` before you begin your computations.

The loop you currently have over the faces will skip any face that is on a processor bound

[2020-04-16 17:49] samanseifi opened #1424 "Mean curvature, normal vectors"
In my application I need to impose boundary conditions depend on the boundary's mean curvature. This rises to operators of surface divergence of the normal vectors. These are the type of weak form I have:

`\int \gamma(\nabla\cdot w^{h}) da - \int n(u^{h})\otimes n(u^{h})\nabla\cdot w^h da `

where `\gamma` is the scalar `n(u^{h})` is the normal vector which is the function of displacement `u^{h}`

[2020-04-17 16:25] jehicken opened #1425 "Working with mesh nodes and their FiniteElementSpace in parallel"
Hello,

I hope everyone is faring well during this difficult time.

We have a nonlinear form that should input and output GridFunctions that are consistent with the space used by the mesh nodes.  The problem is that, if we are solving the problem in parallel, it does not look like there is a way of obtaining the parallel finite element space corresponding to the nodes.   In particular `Mesh::GetNo

[2020-04-17 18:27] vladotomov commented on #1425
I'm not familiar with the context, but an easy thing to do is to have the `ParFESpace` in advance, like it's done here:https://github.com/mfem/mfem/blob/579de51a3790e27d5de2820b4bec50b4e8c204ad/miniapps/meshing/pmesh-optimizer.cpp#L397

[2020-04-17 18:57] jehicken commented on #1425
Oh.  I thought the nodes' finite-element space was defined by the mesh, not imposed on it.  I will have to dig into this some more, obviously.

Regarding the context: we need to get the derivative of, for example, a functional with respect to the mesh nodes in order to do design optimization.

[2020-04-17 19:05] pazner commented on #1425
You can also use `dynamic_cast` to recover the parallel finite element space:
[code]
As long as the nodal space really is a `ParFiniteElementSpace` this should work (and you can check that the result is not `NULL` to be sure).

[2020-04-17 19:16] tzanio commented on #1425
Hi Jason, good to hear from you :)

To add to @vladotomov and @pazner's answers:

- If the mesh has nodes (i.e. it is not a linear mesh defined only by vertices) then it indeed defines its own finite element space. The `SetNodalFESpace` call is a way to override or set that in first place.

- You can also query the finite element collection for the nodes and define the appropriate space from it, s

[2020-04-17 19:17] jehicken commented on #1425
Thanks for the suggestion @pazner.

More context: part of our problem is that we are trying to have both parallel and serial versions of the code.  As a result, we are starting to get define guards all over the place, and I was hoping to keep the code generic by using pointers to base classes in this particular case.

That said, we are considering refactoring the code to just use the parallel clas

[2020-04-17 19:18] jehicken commented on #1425
Thanks @tzanio.  We will take a look at the parallel example 1.

[2020-04-17 19:20] jehicken commented on #1425
Quick related question: what do we do if the mesh does not define nodes?  Can we use `Mesh::EnsureNodes()`?  If so, will this work for parallel meshes as well?

[2020-04-17 19:24] pazner commented on #1425
Yes, you can use `EnsureNodes`, which will create a (linear, continuous) nodal grid function if one doesn't exist, and do nothing if the nodes already exist.

You can also use `SetCurvature` if you need more control over the polynomial degree of the nodes, H1 or L2 space, etc.

These will both work in parallel, and the resulting nodal finite element space will be a `ParFiniteElementSpace`.

[2020-04-17 19:25] jehicken commented on #1425
Great, thanks @pazner.

[2020-04-17 19:57] tzanio commented on #1421
For mfem's `NewtonSolver` the answer is that `x` always provides the initial guess (this is because the `iterative_mode` in the base `Solver` class is set to `true` by `IterativeSolver` from which `NewtonSolver` inherits).

@stefanozampini can confirm, but this doesn't seem to be the case for `PetscNonliearSolver`.

[2020-04-17 20:29] jehicken opened #1426 "When to convert to true dofs?"
Hi,

Is there a general rule of thumb we should follow regarding when to use/extract the true dofs from a `ParGridFunction`?  Do we need to use the true dofs for all parallel forms?  And all solvers?

Thanks, and sorry for two questions in one day,
Jason

[2020-04-17 20:44] stefanozampini commented on #1421
`PetscNonlinearSolver` also support nonzero initial guess, see here https://github.com/mfem/mfem/blob/master/linalg/petsc.cpp#L3445.

The `b` vector is the affine part of the nonlinear equation, i.e. you solve F(x) = b, instead of F(x) = 0

[2020-04-17 21:26] salazardetroya opened #1427 "Problems with VectorFEBoundaryFluxLFIntegrator"
For debugging purposes, I am going to calculate the integral:
[code]
where `v=(0, y)`, `f=y`, `y` is just the Y-coordinate and `n` is the normal vector at the boundary `\Gamma`. I'll integrate this quantity on the domain [0,1]x[0,1]. Doing the calculations by hand, the result is simply 1. Then I try to calculate this integral using MFEM and the integrator `VectorFEBoundaryFluxLFIntegrator`. This i

[2020-04-17 22:36] salazardetroya commented on #1417
Thanks @pazner. I ended up using a different method to calculate the gradient. This method I showed here is actually not accurate. In any case, it is good to know how to deal with shared faces so I appreciate your comment.

[2020-04-17 22:36] #1417 closed

[2020-04-17 23:34] v-dobrev commented on #1418
This can be expected: the element matrices can have round-off differences with and without lapack. Since entries that are exactly 0 are not added to the sparse matrix (with the default parameter of `BilinearForm::Assemble(skip_zeros = 1)`) then an entry that is 0 with lapack and, say, 1e-16 without lapack will result in different number of nonzeros. If you want to ensure you get the exact same spa

[2020-04-18 06:30] fanronghong commented on #1421
Thanks for your reply @tzanio , @stefanozampini ,

Yes, for `NewtonSolver` it is. Actually, I think it is the same for `PetscNonlinearSolver` before. But the below MWE gives a different answer.

The below MWE outputs
[code]

The MWE source code:
[code]

[2020-04-18 09:25] v-dobrev opened #1428 "HIP support with CMake"
We can probably "steal" the `FindHIP.cmake` from OCCA: https://github.com/libocca/occa/blob/master/cmake/FindHIP.cmake contributed by @noelchalmers.

[2020-04-18 18:39] davidherreroperez commented on #1418
Thank you for your response. Another question concerns the small differences in symmetric coefficients. Are they attributed to round-off error during the assembly?

[2020-04-18 21:28] davidherreroperez commented on #1418
Sorry, I have checked the symmetric coefficients and they seem ok. Thank you again for your response.

[2020-04-18 21:29] #1418 closed

[2020-04-18 21:50] amir90 opened #1429 "PCG gives NaN"
Hello,
I want to perform a linear static analysis on a surface mesh.
I used ex2 as the basis of my attempt.

Everything seems to work up until the Gauss-Seidel preconditioner, which gives Nan(ind) in each iteration..

I have visualized the mesh using libigl (red is fixed boundary element vertices,  yellow is boundary element vertices with a force.

![image](https://user-images.githubusercontent.co

[2020-04-19 01:52] v-dobrev commented on #1424
The first step would be to write these surface integrals as integrals on the reference face (triangle or quad) element. This transformation of the integral is essentially a change of variables. This change of variables is given by the mapping T from the reference element to the surface element -- maps a subset of R^2 to a subset of R^3. In particular the Jacobian of this map is a 3x2 matrix. This

[2020-04-19 04:21] v-dobrev commented on #1426
I think a good rule of thumb is: try to use true dofs (aka T-vector) unless some method that you need to call requires a `(Par)GridFunction` (aka L-vector). Regarding the meaning of the terms T-vector and L-vector, take a look at the diagrams here: https://ceed.exascaleproject.org/bps/#terminology-and-notation.

Regarding the connections between T- and L-vectors and ways to convert between the two

[2020-04-19 05:00] v-dobrev commented on #1427
I think there is a missing `vec(0) = 0.0;` in `slope_vec`. Also, this code will not work correctly in `master`, you need to use `gf-getvalue-dev`. With these changes, I get the value of 1 in all 3 cases.

[2020-04-19 13:16] stefanozampini commented on #1421
Have you read your code?

[code]
`x` is the affine part of the equation for `Mult`. `Solve` uses `y` as starting point.

[2020-04-19 17:18] jehicken commented on #1426
Thanks @v-dobrev .  That helps.

[2020-04-19 17:18] #1426 closed

[2020-04-19 17:18] #1425 closed

[2020-04-19 19:35] salazardetroya commented on #1427
That works, thanks!

[2020-04-19 19:35] #1427 closed

[2020-04-20 16:59] tuckerbabcock commented on #1331
Hi @tzanio and @kmittal2,
I'm revisiting this, and hoping to transfer a solution in an H(div) space to another mesh, however, it seems it does not support vector finite elements: `FindPointsGSLIB::GetNodeValues` calls `GridFunction::GetValues` which does not support elements with a `MapType` other than `VALUE`. Is there a way to transfer an H(div) gridfunction?

Thanks,
Tucker

[2020-04-20 17:13] psocratis commented on #1429
Hi @amir90 , it seems like the given text mesh file is the cause of this. Take a look at the nodes defined at the end of the file

[2020-04-21 14:26] Maatinski opened #1432 "Solving magneto quasi-static problem in human body models"
Hello MFEM community,
I've been reading through the MFEM documentation, the examples and this forum, and first of all thanks to the developers and the community for putting together this library and the knowledge base! Very impressive!!
I would like to use MFEM to simulate electric fields induced in human body models by a coil with low-frequency (LF) oscillating current (on the order of kHz). Ther

[2020-04-21 17:51] psocratis commented on #1403
Hi @hongbo-yao, you can follow ex25p that solves Maxwell equations using superLU.
If you want to use MUMPS through petsc you can do something like

[code]
The file petscrc just contains the petsc options

-pc_type lu
-pc_factor_mat_solver_type mumps

Hope this helps,
Socratis

[2020-04-21 18:08] mlstowell commented on #1432
Hi, @Maatinski ,
Thanks for your interest in MFEM.  It sounds like you have a very interesting project and we'e welcome your feedback (and gallery images of course!)

I'm not very familiar with this approximation although it looks very close to the standard eddy current formulation.  The only difference is that your electric field will be curl free.  This makes me a little suspicious but I'll trus

[2020-04-21 22:08] tzanio commented on #1331
@kmittal2 may have further suggestions, but I'm afraid we can currently transfer only H1 fields with `FindPoints`.

It should be possible to extend that to other spaces, including H(div), we just haven't done it yet. Ketan, what do you think?

[2020-04-21 22:09] tzanio commented on #1363
Closing this for now, please feel free to reopen if you have further questions.

[2020-04-21 22:12] tzanio commented on #1371
Ok, I believe I understand now, but just as in https://github.com/mfem/mfem/issues/1331#issuecomment-616683881, we don't have support for L2 spaces with `FindPoints` yet.

[2020-04-22 02:13] psocratis commented on #1403
Hi @hongbo-yao , I am glad it works. MUMPS is expected to be slower since it's a direct solver with much higher complexity. I expect that SuperLU will give similar timings but it's worth trying it.

For the AMS I am assuming you create the AMS preconditioner for the diagonal blocks that correspond to the real part of the matrix. Is that the case? What exactly is the problem you are solving? There

[2020-04-22 03:20] hongbo-yao commented on #1403
Thanks for your quick reply, @psocratis !

1. In my tests, the AMS preconditioner is just the same as ex22p

2. For my problem, it's a vector H(curl) problem (electric field or magnetic field) but without complex real term (- omega^2 b u). In the complex mass trem (i omega c u), i omega c may approach to zero everywhere (but not zero).  It gets good convergence rate in most circumstances, but I th

[2020-04-22 10:52] fanronghong commented on #1421
Thanks for your reply @stefanozampini ,

I make some changes but I don't get the expected answer.
It seems that whatever I give `b` and `x`, the Newton initial value is always 0.0.
The below are the prints for the first Newton iteration
[code]

Sorry for so many questions.

[2020-04-22 13:17] #1403 closed

[2020-04-22 14:53] stefanozampini commented on #1421
If you do not post what you modified, how can I tell you where the issue is?

[2020-04-22 14:57] aschaf opened #1435 "TrueTransferOperator height and width"
Hi,

is it by design that `TrueTransferOperator` does not have a height and a width?

Thanks,
Andreas

[2020-04-22 15:09] fanronghong commented on #1421
Sorry about not clear descriptions,

I change the `r.h.s` of nonlinear problem to `2.0` instead of `0.0`.
[code]

And I add more prints in `Solve()`, `Mult()`and `GetGradient()`.
[code]

[2020-04-22 15:24] stefanozampini commented on #1421
If you do not post the entire code, I cannot compile and run it.
Now I can just guess. Also, can you start fresh, and post a simpler MWE without all these functions? E.g. by solving x^3 - 1 = 0? or any other simple nonlinear equation you like?

[2020-04-22 15:27] fanronghong commented on #1421
In my second post, the MWE is the entire code. You can compile it and run it.
And its comments explain the nonlinear problem. Thanks again.

[2020-04-22 15:29] stefanozampini commented on #1421
I have already told you what was wrong in the first MWE. Now you are saying you still have the problem after you have modified it. I cannot answer without seeing the modifications.

[2020-04-22 15:32] stefanozampini commented on #1421
Also, did you set iterative_mode to true?

[2020-04-22 15:36] fanronghong commented on #1421
Oh, yes, I just forget setting iterative_mode to true. I get my expected result.
I am so sorry for this mistake and thank you for your time @stefanozampini

[2020-04-22 15:47] stefanozampini commented on #1421
glad it works, I'm closing the issue

[2020-04-22 15:47] #1421 closed

[2020-04-22 20:08] Maatinski commented on #1432
Hi @mlstowell ,
thanks for the comments!
The question if this approximation of Maxwell's equations holds is somewhat open (the fact that it's frequently used doesn't mean it's valid), but that's also one of the reasons why I wanted to use MFEM rather than commercial software packages, as we can eventually compare different approaches.
As for the calculation of the magnetic potential `A` via `curl(

[2020-04-23 07:07] fanronghong opened #1437 "Get different Matrices for BilinearForm and ParBilinearForm after setting essential boundary conditions"
Hi all

I am testing a simple diffusion problem.
If I don't set essential boundary conditions, both `BilinearForm` and `ParBilinearForm` get the same stiffness matrices, i.e., `A3` and `A4`.

But After I set essential boundary conditions, I get 2 different stiffness matrices, i.e., `A1` and `A2`. It' not likely a bug in MFEM. I am guessing something wrong with the below MWE.

[code]

[2020-04-23 07:27] #1405 closed

[2020-04-23 07:55] Pratikk17 opened #1438 "Read Gmsh mesh in PyMFEM"
Dear Sir,

I have a mesh generated using GMSH (in .msh) format. I can view it using glvis. But I do not understand how to import it into PyMFEM. What changes need to be done in the statement
"mesh=mfem.Mesh(meshfile,1,1) ?
Sorry for the basic question.
Thank you very much.
Best,
Pratik

[2020-04-23 11:25] sshiraiwa commented on #1438
It should recognize the file extension automatically. According to this
https://github.com/mfem/mfem/blob/master/mesh/mesh.cpp#L3201

It switches to GMSH when a file starts with $MeshFormat. We don't need to do anything
on the Python side. In fact, here, for example, I am passing just a file path.

https://github.mit.edu/shiraiwa/PetraM_Base/blob/master/petram/mesh/mesh_model.py#L198

[2020-04-23 13:06] hongbo-yao commented on #1438
Hi @Pratikk17 ,

I also use gmsh's .msh file for my work, In MFEM, I just use:

`const char *mesh_file = "file_name.msh";
Mesh *mesh = new Mesh(mesh_file, 1, 1);`
or
`const char *mesh_file = "file_name.msh";
Mesh mesh(mesh_file, 1, 1);`

It works, Have you installed the code help documentation？ I have learned from them a lot

Hongbo

[2020-04-23 16:44] Pratikk17 commented on #1438
Hi @hongbo-yao and @sshiraiwa ,

Thank you to both of you. I will check this and let you know.

Best,
Pratik

[2020-04-23 16:49] Pratikk17 opened #1439 "Nonconforming triangular mesh"
Hi,

I started using MFEM since yesterday with the main goal to solve Poisson equation on a nonconforming triangular mesh on a square domain. But just now, I found out that MFEM supports non-conforming mesh refinement (quadrilateral/hexahedral meshes), including anisotropic refinement. I just need to use this mesh. I will not refine it.

I wanted to know if MFEM can solve Poisson problem on noncon

[2020-04-23 17:31] mlstowell commented on #1437
Hello, @fanronghong ,

I could be mistaken but I think the diagonal entries of the eliminated rows are handled differently in serial and parallel. I believe the default policy in serial is to retain the original diagonal entries whereas in parallel the diagonal entries are set to 1.  You should be able to alter this behavior in serial by adding `a1->SetDiagonalPolicy(DIAG_ONE);` before the call to

[2020-04-23 17:35] psocratis commented on #1437
Hi @fanronghong,

This has to do with the diagonal policy that is used when handling the essential boundary conditions. In the parallel case the only choice is setting the appropriate entries of the diagonal equal to 1. In the serial case there are other choices that you can set to the bilinear form.
You can either choose to set 1 or 0 or keep the original. To make the serial and parallel agree al

[2020-04-23 17:36] psocratis commented on #1437
Oops Mark beat me to it.
It's good that we agree!

Socratis

[2020-04-24 03:12] fanronghong commented on #1437
Thank you @mlstowell and @psocratis ,

It works well.

[2020-04-24 03:12] #1437 closed

[2020-04-24 08:11] jakubcerveny commented on #1439
Hi @Pratikk17,

MFEM does support nonconforming refinement of triangles, but normally we do "red" refinement (a triangle is refined into four similar triangles). However, if you won't be refining the mesh further, you can define a mesh exactly as in the picture, by hand.

You can start by creating a standard MFEM v1.0 mesh as described in https://mfem.org/mesh-formats/, just define all the vertice

[2020-04-24 08:52] Pratikk17 commented on #1439
Hi @jakubcerveny,
Thank you for your quick reply. I did this. But I have a minor problem in the visualization of mesh and solution. I have uploaded files regarding this. Can you please have a quick look? Nonconforming_triangular.pdf contains mesh labeling.

[Nonconforming_triangular.pdf](https://github.com/mfem/mfem/files/4527698/Nonconforming_triangular.pdf)
#=================== Mesh file
MFEM me

[2020-04-24 10:22] v-dobrev commented on #1435
Sounds more like a bug to me. All `Operator`s should have these defined.

Just to narrow down where the issue is: what type of `TrueTransferOperator` do you have? The possible types are described here:
https://github.com/mfem/mfem/blob/99cf263ee490cd0431d7b2b798e3070c65a44d81/fem/fespace.hpp#L617-L632

[2020-04-24 14:07] Pratikk17 commented on #1439
Hi @jakubcerveny ,

Thank you very much for your suggestion. It worked. However, I realised that along with adding a section "vertex_parents", I also need to add a section "coarse_elements".

Thank you again.
Best,
Pratik

[2020-04-24 14:07] #1439 closed

[2020-04-24 14:55] jakubcerveny commented on #1439
Yes, I also noticed the `coarse_elements` section is required. This may be a bug. I'll resolve it in #1392

[2020-04-24 22:14] dylan-copeland commented on #793
Branch `hypredata` contains my first attempt at implementing a fix similar to what @v-dobrev suggested. The idea is to use `shared_ptr` for the `I, J, A` data in `SparseMatrix`. This data is part of `HypreParMatrix` (after `CopyCSR` is called), but it gets deleted when `ParBilinearForm` is destroyed. By maintaining a `shared_ptr` for each of these 3 arrays in `SparseMatrix` and `HypreParMatrix`, w

[2020-04-25 05:09] v-dobrev commented on #793
Reading my post again (https://github.com/mfem/mfem/issues/793#issuecomment-549630950), I think the second option was to use
[code]
instead of
[code]
inside the class `HypreParMatrix`. This will probably work fine in parallel. However, in the serial case (if we want similar behavior) this becomes a bit harder as Dylan found out -- it will require sharing the parts of the `SparseMatrix` (like the `

[2020-04-25 05:10] hongbo-yao opened #1440 "Segmentation fault in ParGridFunction::ExchangeFaceNbrData() when using Nedelec finite elements"
Hi,
I wanna to report one segmentation fault happened when calling ParGridFunction::ExchangeFaceNbrData() in ex3p and ex22p.

sphere2.msh is my mesh file. In ex22p, firstly, I set
`const char *mesh_file = "sphere2.msh";
   int ser_ref_levels = 0;
   int par_ref_levels = 0;`
and  call `u.real().ExchangeFaceNbrData();` after step13: `a->RecoverFEMSolution(U, b, u);`

When I run ex22p  with command:

[2020-04-25 05:22] v-dobrev commented on #793
@ben-s-southworth, you probably already figured this out but let me try to answer you question for completeness. When you call `mcv_bf.ParallelAssemble()` the returned matrix is not owned by the `ParBilinearForm`, so destroying it will not destroy the `HypreParMatrix`. I think the only possible dependence of the returned `HypreParMatrix` are the parallel offsets for the rows/columns -- I think the

[2020-04-25 18:37] mlstowell commented on #1440
Hello, @hongbo-yao ,
I have been trying to reproduce this problem but I have not seen it so far.  I did get bad results from `ex3p` but it did not crash.  I can look into this further but it would be useful to learn more about your observations.  Example 22 seems to run fine although it requires over 20GB of memory and it seems to have trouble sending the results to GLVis.  I'm curious to know if

[2020-04-26 00:30] hongbo-yao commented on #1440
Hi @mlstowell ,
I have rebuild my mfem version, now it's the newest master version.

I tested ex3p and ex22p again and it still produced the segmentation fault. I guess it is not caused by failure of allocating memory since I did not refine the mesh in both cases and the memory of my laptop is 16GB.

I will change my test computer when I work at school, but now I have to wait for some time during

[2020-04-26 00:53] hongbo-yao commented on #1440
Not METIS's fault,  4.0.3 still produces segmentation fault.

[2020-04-26 00:55] v-dobrev commented on #1440
Do you get the segfault on 1 mpi rank? If so, you can run this in a debugger and when the segfault happens, the debugger will stop and let you examine the function call stack, e.g. in `gdb` and `lldb` you can use the `bt` command. This can help us narrow down where the issue is.

[2020-04-26 00:57] hongbo-yao commented on #1440
Hi, 1 process passed the test, more than 1 processs failed

[2020-04-26 01:15] v-dobrev commented on #1440
OK, you can still run the debugger with two rank but it is a little trickier. Try running this command:
[code]
replacing `./ex1p` with the program and arguments you have issue with. Then just type the `r` (i.e. `run`) command in both `xterm` windows where `lldb` is running. At least one of the ranks should get to the segfault. When that happens, type the command `bt` and post its output here.

[2020-04-26 01:42] hongbo-yao commented on #1440
Hi @v-dobrev ,
I tried `mpirun -np 2 xterm -e lldb -- ./ex1p` and here are messages:
mpirun -np 2 xterm -e lldb -- ./ex22p
[proxy:0:0@MacBook-Pro] HYDU_create_process (utils/launch/launch.c:74): execvp error on file xterm (No such file or directory)
[proxy:0:0@MacBook-Pro] HYDU_create_process (utils/launch/launch.c:74): execvp error on file xterm (No such file or directory)

This may be caused by

[2020-04-26 02:58] v-dobrev commented on #1440
I think `xterm` comes with XQuartz and it is installed in `/opt/X11/bin/xterm`.

The debugger, `lldb`, should come with XCode or the XCode command-line tools.

The random behavior may mean memory is used after free or something like that. If that is the case, `valgrind` can be very helpful in tracking down where this happens.

[2020-04-26 04:50] hongbo-yao commented on #1440
Hi @v-dobrev , before showing the outputs, here are some changed codes in ex22p
`// 2. Parse command-line options.
   const char *mesh_file = "sphere2.msh";
   int ser_ref_levels = 0;
   int par_ref_levels = 0;
   int order = 1;
   int prob = 1;`
and
`// 13. Recover the parallel grid function corresponding to U. This is the
   //     local finite element solution on each processor.
   a->RecoverFE

[2020-04-26 10:20] v-dobrev commented on #1440
This is strange, I had no issues running `mpirun -np 2 xterm -e lldb -- ./ex1p`. Both processors ran without problems.

What MPI are you using? Is it MPICH, OpenMPI, or something else? On my Mac I use OpenMPI v2.1.6.

[2020-04-26 10:35] hongbo-yao commented on #1440
mpich-3.3.2. I change it to openmpi right now

[2020-04-26 12:32] hongbo-yao commented on #1440
Hi @v-dobrev , It finally able to run, the following are outputs of command:
`mpirun -np 4 xterm -e lldb -- ./ex22p`

-------------------
(lldb) target create "./ex22p"
Current executable set to './ex22p' (x86_64).
(lldb) r
Process 15612 launched: '/Users/yaohb/install/mfem-openmpi/mfem-master/examples2/ex22p' (x86_64)
Process 15612 stopped
* thread #1, queue = 'com.apple.main-thread', stop reason

[2020-04-26 15:03] fanronghong opened #1441 "use BoundaryNormalLFIntegrator for Neumann boundary conditions"
Hi all,

I want to test a simple non-zero Neumann and non-zero Dirichlet boundary condition for Poisson problem.
I know I can use `BoundaryLFIntegrator` if `du/dn = g` is known. But here I want to use analytic solution for the Neumann bdc, like `du/dn = grad(u) \cdot n`. So I use `BoundaryNormalLFIntegrator`.
But I don't get the right convergence rate. I don't know where is wrong and how to fix it

[2020-04-26 17:06] #1429 closed

[2020-04-26 20:10] jmartfrut opened #1442 "memory leaks in interpolation miniapp"
Hi all,

I am running the interpolation miniapp findpts.cpp in serial and I see some leaks according to valgrind. Do you have any suggestion about how to fix that?

Below is the output for $ valgrind  --leak-check=full  ./findpts -m ../../data/rt-2d-q3.mesh -o 3

Thank you in advance.

==19555== Memcheck, a memory error detector
==19555== Copyright (C) 2002-2017, and GNU GPL'd, by Julian Seward et

[2020-04-26 22:21] v-dobrev commented on #1440
It looks like you are running an optimized build without debug information. Can you rebuild mfem in debug mode and re-run? For example, you can use `make pdebug -j 4` in the main mfem directory and then re-build the example as usual with `make ex22p`.

[2020-04-26 23:38] hongbo-yao commented on #1440
Hi @v-dobrev, It seems that we found it,

(lldb) target create "./ex22p"
Current executable set to './ex22p' (x86_64).
(lldb) r
Process 16742 launched: '/Users/yaohb/install/mfem-openmpi/mfem-master-debug/examples2/ex22p' (x86_64)
Boundary elements with wrong orientation: 1628 / 3252 (fixed)
Process 16742 stopped
* thread #1, queue = 'com.apple.main-thread', stop reason = EXC_BAD_ACCESS (code=1, a

[2020-04-27 03:52] samanseifi opened #1443 "Face elements and vertices"
Is there any fast way of getting the matrix of fall ace elements and their coordinates and connectivity from a mesh objects?

[2020-04-27 06:52] fanronghong commented on #1443
Hi,

If I understand your question correctly, maybe the below codes can give you some help.
[code]
or
[code]
And there are many other functionality in `mesh/mesh.hpp`, like `GetElementToEdgeTable()`, `ElementToFaceTable`...

[2020-04-27 09:56] Pratikk17 opened #1444 "Different RHS function f and exact solution in ex14.cpp"
Hi,

A quick question. In ex14, I would like to test the DG Laplace problem with different f, say
f(x,y)=-2*((x^2-x)+(y^2-y)). This has an exact solution u(x,y)=(x^2-x)(y^2-y). How to apply these two functions in ex14.cpp?

Thank you again.
Best,
Pratik

[2020-04-27 11:49] cjoycd opened #1445 "Compilation error -- gnu make"
Dear All,
I am getting following error while compiling the version 4.1. Can someone suggest what could be the possible reason. I am using the defaults.mk with CXX = g++ and MPICXX = mpicxx. This was working for the old version.

mesh/pncmesh.cpp: In member function ‘void mfem::ParNCMesh::RedistributeElements(mfem::Array<int>&, int, bool)’:
mesh/pncmesh.cpp:2095:55: error: ‘MPI_Ibarrier’ was not de

[2020-04-27 15:00] fanronghong commented on #1048
Hi @delcmo ,

Do you get it to work? I am encountering this problem too. I read discussions #716 and #1194 and do not understand.

[2020-04-27 15:16] tzanio commented on #1048
@fanronghong, if you are trying to use a grid function coefficient in a boundary integral, then #716 should work.

cc: @mlstowell

[2020-04-27 15:34] fanronghong commented on #1048
Hi @tzanio ,

OK, I will look #716 carefully again. Thanks @tzanio .

[2020-04-27 18:42] mlstowell commented on #1441
Hello, @fanronghong ,
I'm curious if you're working in a branch of MFEM or some other modified source.  When I try your example in MFEM's master branch it crashes rather quickly because the `Gridfunction::GetGradient` method, used by `GradientGridFunctionCoefficient`, is not designed to work on the boundary of a domain.

We are currently reviewing a pull request, PR #1194, which addresses a simila

[2020-04-27 20:49] mlstowell commented on #1441
Hi, @fanronghong ,

I just committed a branch which implements `GridFunction::GetGradient` correctly on boundaries.  It's called `gf-getgradient-dev`, if you want to have a look.  While testing this implementation I noticed a small bug in your test driver.  When projecting onto `ue_gf` you were using the `Dirichlet` portion of the boundary rather than the `Neumann` portion.  However, you should in

[2020-04-27 23:03] kmittal2 commented on #1442
@jmartfrut we are unable to recreate this error at our end. Can you please build both gslib and mfem in debug, and share the output from running findpts example with us?

[2020-04-28 01:20] delcmo commented on #1381
We solve a system of PDEs with variables that have different order of magnitude. We then decided to adopt a block-based approach with the following logic:
[code]
The time derivative for each variable is re-normalized with respect to the new solution.

[2020-04-28 01:46] v-dobrev commented on #1440
I see what the issue is: `ParGridFunction::ExchangeFaceNbrData()` does not support Nedelec or Raviart-Thomas elements at the moment. This is not too hard to fix.

However, I'm not sure you really need to call `u.real().ExchangeFaceNbrData()` in ex22p -- what are you trying to achieve with this call?

[2020-04-28 02:02] v-dobrev commented on #1443
@samanseifi, I'm afraid I don't quite understand your question: what matrix are you referring to? Also, what specific connectivity do you need?

[2020-04-28 02:10] hongbo-yao commented on #1440
Hi @v-dobrev , What I want to do is to compute the face jumps of electric fields in parallel (see #1417 ), the face jumps are a part of the residual based error estimator (volume residual + face jumps) for Maxwell's equations, so I think I really need to call ExchangeFaceNbrData() in ex3p or ex22p.

Are there any other ways to realize this goal? Without calling ExchangeFaceNbrData(), I can still c

[2020-04-28 02:24] v-dobrev commented on #1445
It looks like `MPI_Ibarrier` requires MPI implementation that supports the MPI v3.0 standard. What MPI implementation are you using? Maybe you need a newer version.

cc: @jakubcerveny

[2020-04-28 02:45] v-dobrev commented on #1048
I think @tzanio meant #1194 which supersedes #716.

[2020-04-28 04:06] mlstowell opened #1446 "Orientation of boundary faces"
While expanding tests related to PR #1194 I noticed an inconsistency in the ordering of integration points on boundary faces.  If we perform a boundary integral using `GetBdrElementTransformation` we traverse the face in a certain order but if we use `GetBdrFaceTransformations` the order is different.  Each method is internally consistent but they cannot be mixed.  For example, integrating a `Grid

[2020-04-28 04:07] mlstowell commented on #1446
The following test code can be used to see that the two types of transformations are incompatible.
[code]

[2020-04-28 04:16] v-dobrev commented on #1440
OK, I see. This makes sense.

I think the fix in `ParGridFunction::ExchangeFaceNbrData()` is the following: replace
https://github.com/mfem/mfem/blob/7690eca85041e0b69afe81a063c71015184e82a3/fem/pgridfunc.cpp#L235

with
[code]
Try it out and check to see if you get the same result on different numbers of processors. If this is the right fix, we can create a branch to merge it into `master`.

[2020-04-28 04:20] samanseifi commented on #1443
@v-dobrev Let's say I have a 3D Tet mesh. Now I want to collect all the coordinates of surface vertices. These coordinates represent a triangular surface mesh, now I want to get a connectivity matrix of all these surface triangles. I hoped there might be a quick way of doing it.

[2020-04-28 04:31] v-dobrev commented on #1446
Yes, a boundary element and its corresponding face element can have differently ordered vertices -- one is obtained from the other by rotation.

So, yes, you don't want to mix the boundary transformation with the face transformation. Do you have a specific need to mix the two?

[2020-04-28 05:04] v-dobrev commented on #1443
It looks like you want to access what we call in mfem the "boundary" elements. Depending on the input mesh format, the boundary elements may consist precisely of the face elements that have exactly one adjacent element (tet element in your case). If specified by the input mesh file, these boundary elements can include interior faces, or the may not describe all real boundary elements. The easiest

[2020-04-28 05:09] hongbo-yao commented on #1440
Thanks, @v-dobrev,
This is definitely right in my tests!

Both ex3p and ex22p passed with 1-4 ranks for both optimized  and debug builds.

I am not familiar with H(div) space, so it is better do more tests before  merging.

Finally, sincere thanks for your help on this issue!

Hongbo

[2020-04-28 07:55] cjoycd commented on #1445
Yes, it was due to an older version.. It is getting compiled now with new MPI.

Thank you very much

[2020-04-28 07:55] #1445 closed

[2020-04-28 11:42] jmartfrut commented on #1442
Hi @kmittal2, I've built both gslib and mfem in debug and the output is the same (please find below). Also I've valgrind all the tests of gslib and get similar leaks for:

valgrind ./findpts_local_test
valgrind ./findpts_test
valgrind ./gs_test
valgrind ./gs_unique_test

I'm running with
g++ (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

thank  you very much,

Below i

[2020-04-28 13:48] Pratikk17 commented on #1439
Hi @jakubcerveny,

I realized that the coarse_elements section is in fact not necessary. Just need to add these two lines
"coarse_elements
0"
This worked for all the cases I considered. All these cases are similar to the ones I  discussed on the top.

Best,
Pratik

[2020-04-28 16:11] jandrej commented on #1381
@delcmo I'd also like to point you at a paper I stumbled upon https://arxiv.org/abs/1412.4372. This method is used for finding unstable base flows, which I think might be interesting for you based on the information you gave us.

[2020-04-28 16:18] delcmo commented on #1381
Thanks I will look into it.

On Tue, Apr 28, 2020 at 12:11 PM Julian Andrej <notifications@github.com>
wrote:

--
Marc-Olivier Delchini

[2020-04-28 16:56] Pratikk17 commented on #1444
Hi @tzanio ,

I thought I solved this issue, but not really. The changes I did are:
1) introduced "void fFun(const Vector & ,Vector & ); " before int main to initialize/declare RHS.
2) Replaced "b->AddDomainIntegrator(new DomainLFIntegrator(one)) " by
 "  VectorFunctionCoefficient fcoeff(dim,fFun);
   b->AddDomainIntegrator(new VectorDomainLFIntegrator(fcoeff));"
3) Defined fFun as:
void fFun(cons

[2020-04-28 17:02] jandrej commented on #1444
The solution space in that example is scalar. Therefore you should define scalar coeffiecients. The callbacks you describe are also scalar in the result. You can try to change `fFun` function signature to
[code]
and then define
[code]
along with
[code]

[2020-04-28 17:17] Pratikk17 commented on #1444
Hi @jandrej
Thank you for the quick reply. I tried this, but I have the same solution. I have attached my code and mesh for your reference. I consider a square domain [0,1]x[0,1] and considered f(x,y)=-2(x^2-x+y^2-y); For this f, the exact solution is u(x,y)=x(x-1)y(y-1), which has zero Dirichlet boundary conditions. The maximum of the solution must be reached at center (0.5,0.5) and should have v

[2020-04-28 17:48] Pratikk17 commented on #1444
//                                Poisson
//
// Compile with: make Poisson_f
//
//
// Description:  This example code demonstrates the use of MFEM to define a
//               simple finite element discretization of the Laplace problem
//               -Delta u = f with homogeneous Dirichlet boundary conditions.

#include "mfem.hpp"
#include <fstream>
#include <iostream>

using namespace std;
usin

[2020-04-28 17:56] psocratis commented on #1444
Hi @Pratikk17 ,

In your fFun definition you should use x(0) and x(1) instead of x(1) and x(2), since the indexing starts from zero. That fixes the problem.

Thanks,

Socratis

[2020-04-28 17:59] Pratikk17 commented on #1444
Hi @psocratis
Thanks a lot. It was such a silly mistake. I had been using matlab since long time and did not realize this indexing issue. Thanks a again.

Best regards,
Pratik

[2020-04-28 18:00] #1444 closed

[2020-04-28 21:12] mlstowell commented on #1446
Yes, I do have a specific need unfortunately.  In the plasma physics project I'm working on the electric field boundary condition depends on the plasma density and energy just inside the boundary.  The electric field uses Nedelec basis functions whereas the density and energy use DG.  We haven't thought much about coupling the electric field into the fluid equations but there may be coupling issue

[2020-04-29 06:26] v-dobrev commented on #1446
I don't quite understand if you need a mixed bilinear form on the boundary or simply a linear form, so here are a few possible solutions:

1. If you have boundary terms coupling DG + Nedelec, in a bilinear form integrator, you can override this method:
[code]
and then add it to the `MixedBilinearForm` with
[code]

2. If you have just a linear form on the Nedelec space and you want to evaluate DG f

[2020-04-29 07:05] #1441 closed

[2020-04-29 12:52] aschaf commented on #1435
It is Operator::Hypre_ParCSR.

I fixed it locally by changing
https://github.com/mfem/mfem/blob/7690eca85041e0b69afe81a063c71015184e82a3/fem/transfer.cpp#L520-L523
to
[code]

[2020-04-29 13:40] aschaf commented on #1435
I found the same issue also with using `L2ProjectionGridTransfer` in parallel,
https://github.com/mfem/mfem/blob/7690eca85041e0b69afe81a063c71015184e82a3/fem/fespace.hpp#L909
and
https://github.com/mfem/mfem/blob/7690eca85041e0b69afe81a063c71015184e82a3/fem/fespace.cpp#L2616-L2618

When applying the same fix as in my previous comment, it again seems to work.

[2020-04-29 17:09] pazner commented on #1435
I can make a small PR to fix these. I can either combine it with another minor bugfix PR (#1447) or make a new one. Thoughts?

[2020-04-29 17:27] kmittal2 commented on #1442
@jmartfrut thanks for bringing this to our attention. This seems to be coming from gslib routines so we will contact the gslib developers. Meanwhile, try using gslib
 v1.0.5 (https://github.com/gslib/gslib/archive/v1.0.5.tar.gz).

[2020-04-29 18:09] jmartfrut commented on #1442
Hi @kmittal2 although running with gslibv1.0.5 solves some leaks there are some still left.

- the tests (gslib)  ./findpts_local_test and  ./findpts_test are OK
- the miniapp(mfem) ./findpts is OK

- the tests (gslib)  ./gs_test and  ./gs_unique_test still show some leaks in the new version
- the miniapp(mfem) ./field-diff show some leaks although they are fewer than in 1.0.3 version

thank you v

[2020-04-29 18:44] kmittal2 commented on #1442
Thanks @jmartfrut . Yes, the issue in field-diff has been addressed in #1415.

[2020-04-29 19:14] v-dobrev commented on #1435
Note: the height and width of an `Operator` are the mpi-local sizes, so you want to use `fes.GetTrueVSize()`.

@pazner, if you want to add it to #1447, I'm fine with that. I'm also fine with a separate PR -- whatever you prefer.

[2020-04-29 20:58] kmittal2 commented on #1442
@jmartfrut I am closing this issue for now. Feel free to re-open it if anything related comes up.

[2020-04-29 20:58] #1442 closed

[2020-04-29 23:38] #1440 closed

[2020-04-30 10:04] makeclean opened #1452 "Compile fail on nurb_ex1p"
Hi

Was just compiling mfem (master) on my new machine;

`gcc - v gcc version 9.3.1 20200408 (Red Hat 9.3.1-2) (GCC)`
mpich 3.3

``cmake -DHYPRE_DIR=$WORKDIR/hypre -DMETIS_DIR=$WORKDIR/metis -DMFEM_ENABLE_EXAMPLES=ON -DMFEM_ENABLE_MINIAPPS=ON
 -DMFEM_THREAD_SAFE=ON -DMFEM_USE_MPI=ON
-DMFEM_USE_OPENMP=ON -DCMAKE_INSTALL_PREFIX=..``

Build for HYPRE & METIS went fine, all of mfem with the exception

[2020-04-30 10:17] v-dobrev commented on #1452
There is a typo here: https://github.com/mfem/mfem/blob/7690eca85041e0b69afe81a063c71015184e82a3/miniapps/nurbs/nurbs_ex1p.cpp#L78

The line should be:
[code]
Unfortunately, we missed it because we don't test regularly with `-DMFEM_THREAD_SAFE=ON`.

Thanks for reporting the issue. We will fix it soon in `master`.

[2020-04-30 10:25] makeclean commented on #1452
theres a copy-pasta in nurbs_ex1.cpp too

[2020-04-30 15:55] Christopher-Water commented on #1363
Hello again,

I am having trouble implementing my boundary conditions.

In my VTK file that I initialize my ```MFEM::Mesh``` with, I know which cells have what boundary attribute associated with them, but once I create my ```MFEM::Mesh``` I loose this tie and am unsure how to add my boundary attributes to their respective cells.

[2020-04-30 16:57] mlstowell commented on #1363
Hello, @Christopher-Water ,
It's my understanding that our mesh reader does not read boundary cells from VTK files.  Therefore all boundary elements are assigned the same default attribute number.  It does read volume cell attributes from a "CELL_DATA" section of the VTK file but I don't see any other similar information being read.

It may be possible to write a mesh pre-processor which traverses

[2020-04-30 17:12] Christopher-Water commented on #1363
I was hoping something more convenient existed, but I will just adjust my data structure (which my VTK files pull from) to store cell positions, so that I can then look over all new MFEM cells and apply their boundary conditions using their positions to relate back to their VTK form.

Thank you for the help.

[2020-04-30 17:27] aasivas opened #1453 "AMR: Tetrahedron element is not marked for refinement"
We are trying to use AMR for a paper we are working on. We want to use tetrahedral meshes and we want to test the convergence rates of a FEM, the runtime and the scalability. For these reasons, we start from an initial mesh, serially refine it few times, create a parallel mesh and do parallel refinement few times before switching to AMR. However, if we do any sort of serial refinement we encounter

[2020-04-30 18:15] mlstowell commented on #1363
Is there some information in your VTK files that can be used to determine the boundary attributes?  If MFEM is currently ignoring this information we might be able to modify our mesh reader to make use of it.

[2020-04-30 19:27] Christopher-Water commented on #1363
Unfortunately I just realized that I would need to check all of the points of a cell to evaluate a "cell position", so it would be a dream come true if MFEM was able to read more mesh attributes from VTK.

I can easily append boundary condition mesh attributes to my VTK file (per cell), so if the MFEM reader would actually take them as input that would be perfect.

[2020-04-30 20:00] mlstowell commented on #1363
Perhaps the boundary cells can be written along with the volume cells.  We could make the assumption that lower dimensional cells are all boundary cells.  I'd need to discuss this with the team but it could work.

[2020-04-30 20:03] Christopher-Water commented on #1363
I'm a little confused with what you mean, but all need is that tie between a cell and its attribute (boundary condition) to be preserved when being read.

[2020-04-30 20:29] mlstowell commented on #1446
I believe I found a solution by checking the orientation, and handling it, in `GridFunction::GetValue` and similar methods.

[2020-04-30 20:29] #1446 closed

[2020-04-30 21:27] mlstowell commented on #1363
Have a look at the VTK files we have in the `data` subdirectory, for example [beam-hex.vtk](https://github.com/mfem/mfem/blob/master/data/beam-hex.vtk) .  The `CELL_DATA` section in this file defines a single integer index that can be assigned to each cell.  We read these integers and use them to define our element attributes.  It's my understanding that VTK allows you to provide more elaborate CE

[2020-04-30 21:47] Christopher-Water commented on #1363
Since I have users specify boundary conditions by selecting mesh cells within my GUI, I don't think I need the more "elaborate CELL_DATA",  only the simple one like the material int scalars in the beam example (but with boundary condition attributes instead).

So simply put, if I could have an additional attribute read in, just like ```material``` but for boundary condition, that would be perfect.

[2020-04-30 21:55] mlstowell commented on #1363
I don't think we can read in extra attributes.  The mesh format is specific that there is one entry per cell in the CELL_DATA format that we read.  I'm curious how you define boundary conditions.  If a cell is labeled as containing a boundary condition is the field value in that entire cell set to some specific value?  Or do you just set one side of that cell to a specific value?  If the second, h

[2020-04-30 22:05] Christopher-Water commented on #1363
Within my application users select cells and apply a field value for each entire cell, set to a specific boundary condition value (this is done after initial cell refinement).

If the MFEM reader was able to take in extra attributes, I would be able to carry over the attribute numbers of the boundary conditions, and then Create a vector of BC_constants, with each Initial BC at BC_constants[boundar

[2020-04-30 22:09] mlstowell commented on #1363
Ok, we don't support that.  However, you can write your `BC_constants` to an auxiliary file and read them into a `Vector` separately.  Such a vector could the be used to create a `PWConstCoefficient`.

[2020-04-30 22:11] Christopher-Water commented on #1363
How would the ```BC_constants``` from the aux file be synced with their appropriate cells?

[2020-04-30 22:24] mlstowell commented on #1363
That's what the `PWConstCoefficient` does.  This coefficient takes the attribute of the current element and uses it to lookup the value from `BC_constants`.  The other piece, if you use volume attributes for BCs, is that you want to skip all elements that aren't associated with boundary conditions.  You can do this with a `RestrictedCoefficient`.  Here's the scenario:

Say you have a total of 10 e

[2020-04-30 22:29] Christopher-Water commented on #1363
Oooooh, so I could use the material attribute to also specify boundary conditions like above?

So I could reserve 1-100 for materials and then 101-XXX could be for my  Dirichlet BCs?

[2020-04-30 23:08] mlstowell commented on #1363
Yes, that should work.  I feel like I should warn you that we don't have any helper functions to setup essential boundary conditions using element attributes like we do for boundary attributes.  I'm sure it can be done but you may need to write a few custom functions to collect the degrees of freedom and build the linear system and perhaps other things.

[2020-04-30 23:29] Christopher-Water commented on #1363
Thank you for all of  the insight.

Could I just read through the cells, check their element attribute, and then manual add boundary attributes?

[2020-04-30 23:35] mlstowell commented on #1363
Yes, that's the type of mesh pre-processing I was referring to earlier.  However, you could only add boundary attributes to the boundary faces not every face of a boundary cell.  This would lead to a slightly different solution.

[2020-04-30 23:36] Christopher-Water commented on #1363
What would you recommend as the simplest solution to this problem then?

[2020-04-30 23:41] mlstowell commented on #1363
Would it be acceptable to trim the boundary cells off of the mesh and replace them with boundary faces that use the same attribute?  If so, we could probably write a mesh pre-processor which does this.

[2020-04-30 23:43] Christopher-Water commented on #1363
I am confused with the difference between boundary cells and faces. How would this affect the FEM process?

[2020-04-30 23:48] mlstowell commented on #1363
The "boundary cells" I'm referring to are the volume elements that you have tagged for Dirichlet BCs.  Since the entire element is tagged as a Dirichlet BC its entire volume is fixed and no physics is happening inside it.  Therefore such elements can be removed from the mesh and we can just apply the same Dirichlet values on the face where that element used to touch the reset of the domain.  This

[2020-05-01 00:02] Christopher-Water commented on #1363
So its like having hollow boundary cells, just the faces?

If so, that sounds completely fine.

[2020-05-01 00:11] mlstowell commented on #1363
Great!  I've been thinking of adding some mesh pre-processing tools to MFEM for defining new boundary or material regions.  This is a bit more complicated than what I had in mind but it would be a good addition to MFEM.  If you want to get started on it I'd be happy to offer advice.  If you don't feel ready for that I can probably put something together without too much effort.

[2020-05-01 00:41] Christopher-Water commented on #1363
I would love to help, but still feel too inexperienced with MFEM and the technicalities of FEM.

I feel that this would be a very useful addition to MFEM, as it seems that there is no other way to take in these types of attributes from non-MFEM format.

[2020-05-01 02:07] mlstowell commented on #1363
Ok, can you send send me one or two representative meshes.  Something with the types of topology you have in mind.  Nothing too large, please.

[2020-05-01 08:05] mlstowell commented on #1363
Hi, @Christopher-Water, I put together a quick mini app called [trimmer](https://github.com/mfem/mfem/blob/mesh-trimmer-dev/miniapps/meshing/trimmer.cpp).  It may need some work to make it more user-friendly but have a look.

The basic usage is that you give it an existing mesh using `-m your-mesh-file` and a list of attribute numbers to trim from the mesh in quotation marks `-a '10 11 12'` and it

[2020-05-01 22:57] jmartfrut opened #1457 "Usage of Prolongation operators in FiniteElementSpace class"
Hi all,

I am using a FiniteElementSpaceHierarchy with two FiniteElementSpaces and I'd like to get back the nodal coordinates of the coarse space from the nodal coordinates of the fine space using prolongation operators. I've coded the following example but unfortunately I dont know what I'm doing wrong. Am I using the operators correctly?

thank you very much,

[code]

This is the 3d-cubeh8.msh

[2020-05-02 05:47] pazner opened #1458 "Face neighbor element number is ambiguous in interior face integrators in parallel"
An interior face integrator has access to the element numbers of the two neighboring elements through `Trans.Elem1No` and `Trans.Elem2No`. Many DG integrators check e.g. `Trans.Elem1No >= 0` to verify that the face is interior rather than boundary.

An ambiguity is introduced in parallel, where the index `Trans.Elem2No` could refer to a local (on-processor) element, or to a "face neighbor" element

[2020-05-02 06:30] aasivas commented on #1453
It looks like I do not have the good habit of reading documentation. Sorry for bothering you. In case any one else encounters this problem, there are currently two uniform refinement algorithms implemented for tetrahedral meshes. They are called Algorithm A and Algorithm B. The default is Algorithm A, however, if used mesh has to be finalized before local refinement can be attempted (this is state

[2020-05-02 06:30] #1453 closed

[2020-05-02 09:20] v-dobrev commented on #1457
The prolongation operator allows you to compute the fine coordinates from the coarse coordinates. Applying the transpose to the fine coordinates will not give you the coarse coordinates -- written in matrix form: `P^T P != I`. What you need is a restriction operator, `R` such that `R P = I`. Typically, `R` will have the form (up to some permutation of the rows/columns) `R = (I 0)` whereas `P` has

[2020-05-02 09:39] jmartfrut commented on #1457
thank you for the information Veselin,

my misunderstanding comes from the fact that inside Multigrid class the restriction operations are performed in this way

// Restrict residual
fespaces.GetProlongationAtLevel(level - 1)->MultTranspose(*R[level], *X[level - 1]);

so I though I could do the restriction of the spatial configuration in the same vein.  I'm implementing a geometric multigrid to be

[2020-05-02 10:01] v-dobrev commented on #1458
The integrator methods get the necessary FEs as parameters. Do you need the FE for `Elem2No` for some other FE space?

Actually, looking at the code, I think you can get this shifted "face-neighbor" element index from `Trans.Elem2` -- this is the transformation used to evaluate `Coefficient`s like `GridFunctionCoefficient` where this shifted index is used in the parallel override of the method `Gr

[2020-05-02 11:06] v-dobrev commented on #1453
Hi @aasivas, sorry about the confusion.

Let me add a few comments about tet refinement in mfem which may help explain some of the issues you encountered:
* There are two ways to refine individual tets: using octa-section (a tet is directly split into 8 small tets), and using bisection (the tet is split into 2 tets three times to get 8 small tets).
* Restricted to the faces, octa-section and bisec

[2020-05-02 16:11] pazner commented on #1458
I am working on an integrator that uses elementwise precomputed "lifting" operators on the faces, i.e. for each element a local matrix is precomputed, and then these operators are accessed on each face. With the information currently given to the integrator (the FE and corresponding ElementTransformation), it is possible to recompute this operator, but that is relatively expensive. It is natural t

[2020-05-02 16:50] fanronghong commented on #1048
Hi @tzanio and @v-dobrev ,

I am so sorry to ask for help again. I tried #716 and #1194 by using the last commit to compile MFEM (and also I tried the latest master branch).

By running the below MWE,
1. if I use `Coefficient* phi_D_coeff = new GridFunctionCoefficient(phi_D)`, the error is
[code]
2. if I use `Coefficient* phi_D_coeff = new GridFunctionFaceCoefficient(phi_D)`, I got Segmentation fa

[2020-05-03 03:30] fanronghong commented on #1048
I am so sorry that I find my stupid mistake.

I should replace `H1_FECollection* fec = new H1_FECollection(1, mesh.Dimension())` with
`DG_FECollection* fec = new DG_FECollection(1, mesh.Dimension())`

[2020-05-03 06:47] v-dobrev commented on #1458
Let me clarify: the shifted index is already available in `Trans.Elem2->ElementNo`, so you should be able to work with `master` as it is.

Updating the code to put the same number in `Trans.Elem2No` seems reasonable but it is not strictly necessary.

[2020-05-03 07:06] v-dobrev commented on #1457
Typically in multigrid, one is applying `P` to solutions or solution increments, whereas `P^T` is applied to residuals (residual = b - A.solution) or residual increments. In this typical case, it is never necessary to restrict solutions. This is an important distinction to make. If the multigrid algorithm you want to implement involves restrictions of solutions then the algorithm should specify wh

[2020-05-03 07:25] rajpradi commented on #1399
Hi Sir,

I am Sorry to bother you again.
Can you please tell me how can we apply displacement boundary condition (initial displacement) on a particular node instead of face boundary?

I want this to use in Topology Optimization code. Earlier, I asked you about displacement boundary condition on faces, but from that I could not figure it out out how can I implement on nodes.

I have tried with prev

[2020-05-03 07:41] jmartfrut commented on #1457
Thanks @v-dobrev

[2020-05-03 07:41] #1457 closed

[2020-05-03 09:09] issabass commented on #548
Hi,
I hope you are planning to add the implementation of this family (BDM & BDFM), tzanio!

[2020-05-03 16:50] tzanio commented on #1048
@mlstowell is the above MWE supposed to work in #1194?

[2020-05-03 16:56] tzanio commented on #548
@issabass, adding the BDM family should be doable, but we don't have immediate plans to do that ourselves. (We are always open to contributions though!)

Can I ask why do you prefer BDM to RT?

Tzanio

[2020-05-03 17:22] tzanio commented on #1452
Thanks for reporting this @makeclean

[2020-05-03 18:07] mlstowell commented on #1048
Setting the values of `phi_D` cannot be done in this manner.  For a DG field there are no degrees of freedom on the boundary so the `ess_tdof_list` array should always be empty.  Presumably `phi_D` is the result of some other solve so I expect this is not an integral part of the method.  For a test problem like this, the better way to do this is to use the `phi_D->ProjectCoefficient` method to pro

[2020-05-03 18:24] mlstowell commented on #1399
This project method requires that you first call `FiniteElementSpace::BuildDofToArrays()` for the finite element space in `x`.

[2020-05-03 20:26] tzanio commented on #1452
Discussion continued in #1455

[2020-05-03 20:26] #1452 closed

[2020-05-03 20:28] tzanio commented on #1435
Thanks for reporting this @aschaf. Discussion continued in #1447.

[2020-05-03 20:28] #1435 closed

[2020-05-03 20:32] tzanio commented on #1409
Closing this for now, but please reopen if you have any questions or updates.

[2020-05-03 20:32] #1409 closed

[2020-05-03 20:34] tzanio commented on #1371
I am closing this for now, but we have taken note and plan to add support for non-H1 spaces to findpts in the future.

[2020-05-03 20:34] #1371 closed

[2020-05-03 20:37] #1438 closed

[2020-05-03 20:40] tzanio commented on #1331
I am closing this for now, but we have taken note and plan to add support for non-H1 spaces to findpts in the future.

[2020-05-03 20:40] #1331 closed

[2020-05-03 22:37] rajpradi commented on #1399
Thank you very much Sir. It's working well.

Sincerely,
Raj

[2020-05-03 22:37] #1399 closed

[2020-05-04 00:17] fanronghong commented on #1048
Thanks for your reply @mlstowell ,

It's not working and errors are the same as [above](https://github.com/mfem/mfem/issues/1048#issuecomment-622982283).

[2020-05-04 02:33] pazner commented on #1458
Ah, thanks for the clarification! Yes, working with `Trans.Elem2->ElementNo` will do what I need. I will admit that it is a bit confusing that `Trans.Elem2->ElementNo` and `Trans.Elem2No` can be different, but it might not be worth changing the code to address this.

[2020-05-04 19:17] v-dobrev commented on #1458
I don't mind changing `Trans.Elem2No` to be the same as `Trans.Elem2->ElementNo`. However, looking at the code, there are a few places where the current setting of `Trans.Elem2No` matters, e.g. here: https://github.com/mfem/mfem/blob/0f067d41393943fbabc76fd62a9ed76c8e9a48e5/fem/pbilinearform.cpp#L202

and here: https://github.com/mfem/mfem/blob/0f067d41393943fbabc76fd62a9ed76c8e9a48e5/fem/pbilinea

[2020-05-04 19:43] Christopher-Water commented on #1363
@mlstowell thank you so much, my apologies for the late response.

In regards to the above, I don't understand what you mean.

Also, I am usually using 2D meshes (before I advance to 3D) and was wondering if that would cause any issues with the mini-app. If so, could 2D support be added?

[2020-05-04 20:17] mlstowell commented on #1363
Hi, @Christopher-Water , no worries.

MFEM meshes store two types of attributes; interior element attributes and boundary element attributes.  The interior element attributes are usually just called "attributes" but I often think of them as "volume attributes" even in lower dimensional meshes.  I acknowledge this can lead to confusion, sorry.  In the `trimmer` mini app I wanted the new boundary at

[2020-05-04 21:16] Pratikk17 opened #1459 "L2 error in example 23"
Hi,

I have a quick question on how to find the L2 error at the final time. I defined final solution as
double FinalSolution(const Vector &x)
{
   return ..............;
}
and then projected this solution on grid using
FunctionCoefficient u_exact(FinalSolution);
uex_gf.ProjectCoefficient(u_exact);

In line 380, the solution at final time is calculated : ode_solver->Step(u, dudt, t, dt);

Which com

[2020-05-04 21:52] Maatinski commented on #1432
Hey everyone,
a quick follow-up: I have been working on implementing above problem, and (after exploring my brain for residual C++/FEM knowledge) managed to implement it. For now, I simulated the magnetic vector potential in Matlab and imported it via a grid function file `.gf`. For testing, I used a simple spherical object (sigma = 0.3 S/m) with a second off-centered sphere inside (sigma = 0.01 S

[2020-05-04 22:39] mlstowell commented on #1432
Hi, @Maatinski ,
It looks like you've made good progress.  In the parallel case it looks like your field needs to be reordered.  If you're reading the same `.gf` file into both the serial and parallel versions of the code I'm not surprised the results look odd.  In serial MFEM follows the vertex ordering of your original mesh.  The ordering of edges and nodes then follow from the element order but

[2020-05-04 22:46] mlstowell commented on #1459
Hi, @Pratikk17 ,
The method `GridFunction::ComputeL2Error` expects a `Coefficient` not a `GridFunction` so `u_gf.ComputeL2Error(u_exact)` should work.
Best wishes,
Mark

[2020-05-05 00:24] Maatinski commented on #1432
Thanks, @mlstowell for the quick reply, that explains the behaviour!
I was thinking about implementing the Biot-Savart solver in C++ anyway (i.e., importing the 3D coil path and directly simulating the magn. potentials). I suppose in this case, extracting the vertices from `pmesh` should have the correct order. Is it possible to do this within an MPI process only for the respective vertices of the

[2020-05-05 01:16] fanronghong commented on #1048
Thanks @mlstowell , it works.

[2020-05-05 03:00] v-dobrev commented on #1432
You should be able to convert a serial (global) `GridFunction` to a `ParGridFunction` using the following constructor: https://github.com/mfem/mfem/blob/0f067d41393943fbabc76fd62a9ed76c8e9a48e5/fem/pgridfunc.hpp#L73-L77

You will need to create the partitioning array outside the `ParMesh` constructor which can be done with a call like this: https://github.com/mfem/mfem/blob/0f067d41393943fbabc76fd

[2020-05-05 07:43] Pratikk17 commented on #1459
Thank you very much @mlstowell

[2020-05-05 07:43] #1459 closed

[2020-05-05 17:29] mortezah opened #1461 "GridFunction::SaveVTK and L2 fields"
By looking at the code for `GridFunction::SaveVTK`, it seems that the grid function's data will always be saved as point-data in vtk format (independent of the finite element space). I know that ParaView supports cell data. Is there functionality to choose how the output vtk is made?

For example, if I have a grid function of L2 type with order 0, can I get a vtk file with cell data (where each ce

[2020-05-05 19:10] Aerokaur opened #1464 "Remove embedded elements and update mesh"
Hello,
I am trying to implement an immersed-boundary/cut-element method.  For example, I have a circle embedded in a square domain. Since the mesh is needed only on a subset of the square domain, is there a way to find mesh elements that completely lie inside the circle and delete them? (with the mesh connectivity and element numbering being updated appropriately).
Thanks
Sharan

[2020-05-05 23:04] issabass commented on #1192
Hi,
Dear @v-dobrev, how to extend any FiniteElementCollection to its "broken" version?
When I look at the implemented version of Local_FECollection, the available choices are: L2_, H1_, H1Pos_, Quad_Q3. Hex_ND1... How to have Tet_RT, Tri_RT, for instance?
Thank you much,
zaq

[2020-05-05 23:08] issabass commented on #548
Thank you much, @tzanio!
I am asking this just for comparison purposes.

[2020-05-06 20:44] v-dobrev commented on #1192
Hi @issabass, you can add the cases you need in class `Local_FECollection` and create a PR if you want. You can also create a custom `FiniteElementCollection` class, without changing MFEM, however visualizing / reading `GridFunction`s using that collection may be a problem -- to support these operations, the new collection will have to be added in the factory method: https://github.com/mfem/mfem/b

[2020-05-07 07:59] issabass commented on #1192
Many thanks for the reply.
In the link, I see the RTk_2D and RTk_3D among the options.

[2020-05-07 10:00] v-dobrev commented on #1192
Yes, these are the conforming `RT` spaces. The broken RT spaces that you are asking about will be handled by this check: https://github.com/mfem/mfem/blob/0f067d41393943fbabc76fd62a9ed76c8e9a48e5/fem/fe_coll.cpp#L264-L267

if you add support for them in the `Local_FECollection` class. For the `fe_name` in the constructor https://github.com/mfem/mfem/blob/0f067d41393943fbabc76fd62a9ed76c8e9a48e5/fe

[2020-05-07 17:46] dustin-bielecki opened #1465 "Segmentation Fault With Multiple Runs Using ProjectCoefficient"
Hey,

I am using MFEM in a topology optimization framework but am running into a segmentation fault error after many iterations of calling MFEM. This will happen for a different number of iterations given different cases we are trying to solve but will always happen even if I call the same case many times. Below is a short section of the code..

Note that I'm applying a displacement at a node.

[c

[2020-05-07 18:22] mlstowell commented on #1465
Hi, @dustin-bielecki ,
A segmentation fault on that line would seem to indicate that the degree of freedom number passed via `NodeDispYProj` may be invalid.  Do you have a stack trace which might show if the segfault is occurring in `GridFunction::ProjectCoefficient` or perhaps deeper within MFEM?

One other issue, which probably wouldn't lead to a segfault, is that the vector `disp_Y_value` is no

[2020-05-07 21:20] delyank opened #1466 "Did the DOI for MFEM change?"
Because the one posted on the website (10.11578/dc.20171025.1248) doesn't seem to be valid.

[2020-05-07 21:25] rcarson3 commented on #1466
Based on the [DOE CODE website](https://www.osti.gov/doecode/biblio/34658), it looks like it's now doi: 10.11578/dc.20200303.5

[2020-05-07 22:06] tzanio commented on #1466
Dang it! This was not intentional 😟

@acfisher, I think it is probably because of the review we needed to do for mfem-4.1 in our internal system.

You can use 10.11578/dc.20200303.5 for mfem-4.1 specifically, but let me see if I can get DOE CODE to restore 10.11578/dc.20171025.1248...

Tzanio

[2020-05-07 22:43] pazner commented on #1461
I don't believe that MFEM has an option to output cell data instead of point data. However, you can use ParaView's "Point Data to Cell Data" filter to convert point data to cell data. This should give the desired results for L2 finite element space with order 0.

[2020-05-08 09:01] aschaf opened #1467 "CalcHessian for H1_SegmentElement, H1_QuadrilateralElement, and H1_HexahedronElement"
Hi,

I implemented `CalcHessian` for said finite elements, however only for `Basis::Barycentric`. Is this enough for a pull request or should we also implement it for `Basis::Positive` and `Basis::ChangeOfBasis`?

Best regards,
Andreas

[2020-05-08 19:07] v-dobrev commented on #1467
I think the `Barycentric` case is a good start. The other cases can be added later when needed.

[2020-05-08 19:53] tzanio commented on #1466
The original DOI is back at https://www.osti.gov/doecode/biblio/35738

Thanks for reporting this.

[2020-05-08 19:53] #1466 closed

[2020-05-08 23:43] termi-official opened #1469 "Unexpected behavior when using 1D elements"
Hi guys,

I am trying to setup a minimum working example for solving PDEs on networks in 3D space, i.e. elements are segments with 3D coordinates. However, I am constantly running into weird error messages and have trouble tracking them down.

I stripped my test program down to the following one:
[code]

My first test mesh is a simple tree with one fork at the third vertex
[code]
for which I wrote

[2020-05-09 03:05] William-byte365 opened #1470 "Use BlockLowerTriangularPreconditioner for HypreSolver"
Hello,

The `HypreSolver` like `HypreGMRES` only accepts a `HypreSolver` as the `precond.`  How to
use `BlockLowerTriangularPreconditioner` for `HypreSolver` . Currently, `BlockLowerTriangularPreconditioner` can only be applied with MFEM `IterativeSolver`.

William

[2020-05-09 20:33] tzanio commented on #1470
Hi William,

Hypre does not support general preconditioners like this, so you can not use a lower triangular one with a hypre solver.

That being said, the MFEM iterative methods are essentially the same, so I'd recommend just using `GMRESSolver`.

Hope this helps,
Tzanio

[2020-05-09 20:35] tzanio commented on #1467
Agreed.

[2020-05-09 20:42] tzanio commented on #1465
To add to Mark's answer, another possible source of problem could be that the finite element space for `x` got updated or some of its components (e.g. the mesh) got deleted.

What changes between the different calls to these code? Do you use for example adaptive mesh refinement?

[2020-05-09 22:34] #1461 closed

[2020-05-09 22:40] tzanio commented on #1464
Hi Sharan,

Unfortunately there is no such functionality in the master branch.

One could hack it by creating a parallel mesh on two processors where the circle elements belong to processor 0 and the rest to processor 1. The local mesh on processor 1 is what you want.

You can examine the parallel mesh constructor code and add the functionality yourself. Maybe one of our users or developers have a

[2020-05-09 22:42] tzanio commented on #1408
ping @aschaf

[2020-05-09 22:53] tzanio commented on #1469
I don't believe we currently support 1D meshes in 3D... @v-dobrev, can you confirm?

[2020-05-09 22:54] tzanio commented on #1406
ping: @jandrej

[2020-05-09 22:56] tzanio commented on #1382
This was recorded as a desirable feature and we will consider implementing it in the near future.

[2020-05-09 22:56] #1382 closed

[2020-05-09 22:57] tzanio commented on #1424
ping: @samanseifi

[2020-05-09 22:58] tzanio commented on #1458
Can we add documentation that clarifies this for other developers in the future?

[2020-05-09 22:59] tzanio commented on #1443
ping: @samanseifi

[2020-05-10 00:26] termi-official commented on #1469
Hi tzanio,
I just finished implementing a serial version of my reaction diffusion solver on the meshes above and they seem to work. So, at least the numerical entries of the solution vector look reasonable, since glvis crashes when loading the mesh (mesh-explorer as well).

Imposing a manual partitioning allows me to run the program above with the mesh with the branch.

[code]
via
[code]

[2020-05-10 02:51] yantingsa opened #1471 "Parallel difference"
Hi mfem works,

I'm testing a simple diffusion reaction problem. And the weird thing is I'm using the exact same code running on both my laptop and workstation, the code running correct on workstation while they keep having '-nan' on my laptop. Wondering do you guys have any ideas?

Best,
Ting

[2020-05-10 05:23] tzanio commented on #1471
Can you provide more details about the code and how you build it and run it on the two machines?

Are you able to run similar MFEM examples succesfully?

[2020-05-10 11:31] William-byte365 commented on #1470
Ok, I will use MFEM solvers.

[2020-05-10 11:31] #1470 closed

[2020-05-10 19:59] geyan3566 opened #1472 "High-order periodic triangle mesh"
Hi,

Is there a way to convert the following periodic triangle mesh to high order mesh (curvilinear mesh)?
This mesh is a modification of the `periodic-trianlge.mesh` in `data` folder.
Thanks,
Ge

[code]

[2020-05-10 22:38] termi-official commented on #1469
Tracking down the problem I figured out that some faces in this "weird" meshes are ignored in the current mesh class implementation. Note that when the dimension of the finite element is strictly smaller than the dimension of the physical space,  e.g. 1D elements in 3D space, then we can can have some weird faces, e.g. on branching points. Since  faces are modeled 1-to-1 between elements, the numb

[2020-05-10 23:05] tzanio commented on #1472
Yes, here is the second-order version of this mesh:

[code]

You create that with the `mesh-explorer` miniapp by setting the curvature (with the `c` option) to `-2`. This calls `Mesh::SetCurvature` with the "discontinuous" mesh nodes option set to `true` which is required for high-order meshes.

Hope this helps,
Tzanio

[2020-05-11 13:03] skarden18 opened #1475 "Attributes and physical groups setting, some parmesh and metis bug"
Dear developers,

I have just started to use mfem for electromagnetism (wave equation in frequency domain is what i need). I try to simulate 3D optical fiber which is consist of core and cladding volumes with different refractive index. Geometry consist of two coaxial cylinders of different radius.
In Gmsh I specified 5 physical domains:
1) core
2) cladding
3) surface of cladding (i need it for bo

[2020-05-11 16:40] Aerokaur commented on #1464
Thanks @tzanio
Currently, we have a workaround that sets identity bilinear form for immersed elements. Let's see how it ends up. However, I would love to know if someone has already done what you proposed.
Sharan

[2020-05-11 17:10] pazner commented on #1475
Hi Denis,

It looks like the file `2cylinders.step` is missing, and is required to define the geometry in Gmsh. This means I can't regenerate your mesh with different physical domains to debug, so I can only speculate about the issues.

(A) Yes, the concept of "physical domains" in Gmsh maps to "attributes" in MFEM. Note that the attribute numbers in MFEM have to be strictly positive, and by defau

[2020-05-11 17:12] jandrej commented on #1406
I'm still not sure what the best solution for this is right now as I don't completely understand why the automatically computed tolerance in `KINSolver::Mult(x, y)` doesn't mitigate the effect.

[2020-05-11 17:28] mlstowell commented on #1464
Hi, @Aerokaur ,

The closest thing I have is [trimmer](https://github.com/mfem/mfem/blob/mesh-trimmer-dev/miniapps/meshing/trimmer.cpp) which removes elements tagged with a certain set of attribute numbers.  It would be convenient to have a small group of tools to edit meshes in this way but we don't have this yet.

Best wishes,
Mark

[2020-05-11 17:37] mlstowell commented on #1471
Hi, @yantingsa ,

The usual cause of this type of behavior is failure to initialize vectors to 0.  The MFEM `Vector`, `GridFunction`, and `LinearForm` classes do not initialize themselves to zero.  Some compilers will initialize newly allocated memory to zero for you, others will not. Some MFEM member functions will initialize these objects to zero before performing their task but others will not.

[2020-05-11 18:03] skarden18 commented on #1475
Hi pazner,

thank you, now become more clear.

Please find .step file in attachment.

I did not understand why it could be topologically not connected.

Denis
[mesh.tar.gz](https://github.com/mfem/mfem/files/4611274/mesh.tar.gz)
[Uploading mesh.tar.gz…]()

[2020-05-11 18:17] pazner commented on #1475
I still can't generate the mesh (using the latest version of gmsh). However, it does look like the mesh isn't properly connected. The meshes of the two cylinders do not match. See the attached screenshot. It looks like the resulting mesh consists of two intersecting cylinders, which are topologically not contiguous.

![mesh](https://user-images.githubusercontent.com/11493037/81596352-c6ddba80-9378

[2020-05-11 18:54] Aerokaur commented on #1464
Thanks @mlstowell
That's helpful. I will give it a try.
Sharan

[2020-05-11 22:16] v-dobrev commented on #1469
Yes, some parts of MFEM do not work correctly with branching meshes like this, i.e. meshes where (d-1)-dimensional "faces" are adjacent to more than two d-dimensional elements in a d-dimensional mesh embedded in a higher-dimensional space.

I think example 1/1p may be okay, except for the element-element table issue you encountered. This table (used mainly for partitioning the mesh using METIS) ca

[2020-05-12 00:20] #1464 closed

[2020-05-12 04:40] yantingsa commented on #1471
Hi @tzanio

Here is my code

`#include "mfem.hpp"
#include <fstream>
#include <iostream>

#include "sys_reaction.hpp"
//#include "par_sys_precond.hpp"

using namespace std;
using namespace mfem;

const double a12 = 1.0;
const double a21 = -1.0;
const double chi = 0.0;

double rhs_f(const Vector &r);
double rhs_g(const Vector &r);

double analytic_v(const Vector &r);
double analytic_m(const Vector

[2020-05-12 04:47] yantingsa commented on #1471
Hi @tzanio @mlstowell

I initialized my `vm` and `vm_true` with 0 and I got it worked on my laptop. Thank you so much for help. It really helpful.

[2020-05-12 12:34] skarden18 commented on #1475
Application created two independent meshes for two cylinders?
I have not found topology setting, could you please explain how can I fix it?

[2020-05-12 14:28] IdoAkkerman opened #1477 "Visualizing quadrature space using VisItDataCollection"
I am able add a quadrature space to the data collection using` RegisterQField` and at save an associated file is generated, however the mfem_root does not include a reference to the field.

Even after attempting to add the mfem_root entry manually I am not able to visualize the field in VisIt.
Any tips?? I don't mind implementing this feature, but just wanted to check if this was necessary?

[2020-05-12 14:42] sshiraiwa commented on #1475
As @pazner noted, METIS_PartGraphKway error means that the mesh are not all connected together as one piece.

The STEP file has two cylinders. The inner one is just sitting inside the outer one position-wise, but there is no relationship between them. In other words, the cladding and core are not sharing the surface.
For such a geometry, GMSH makes a two mesh one for each cylinder without connecti

[2020-05-12 16:10] samanseifi commented on #1424
I think that makes sense. But I changed my mind on my formulation of the problem I'm working righ now. These integrals come from calculating geometrical entities such as normal vectors and curvatures in FE context. I'm trying to see if I can export the geometry in a computational geometry library and do the geometrical calculations there and get the information I want and send them back to my FE f

[2020-05-12 16:11] samanseifi commented on #1443
Yes these are what I need and I'm making progress.  Thanks.

[2020-05-12 21:39] Maatinski commented on #1432
Hi all,
first, a (delayed) thanks to @mlstowell and @v-dobrev , this worked very well. I took a few steps further and now import a 3D coil curve (consisting of straight segments) and directly calculate the magnetic potential, which works pretty well. I also managed to increase the complexity and run a somewhat complicated head model (13 different tissues/materials), which works well both in serial

[2020-05-12 22:23] mlstowell commented on #1432
Hi, @Maatinski ,
The solution values, degrees of freedom, of a Nedelec representation of a field correspond to path integrals of the electric field.  For example, when using first order fields the degrees of freedom are path integrals of the electric field along an individual edge i.e. the voltage difference between the vertices at the ends of the edge.  These degrees of freedom tell you nothing a

[2020-05-13 01:03] Maatinski commented on #1432
Hi @mlstowell  ,
thanks for the quick reply (and for clarifying)! I think in my case, the easiest would be to sample the electric field components at each hexahedron's center-point (where the electric field should be well defined, right?). If I understand correctly, `FindPoints` might be somewhat of an "overkill", since the structure/order of the hexahedral mesh cells (and their edges) are known.

[2020-05-13 16:52] termi-official commented on #1469
Thanks for the info!

Not the most elegant or performant solution, but I just rewired the complete element to element table. I leave my hotfix here for future references.
[code]
I call FixTables right before constructing the ParMesh.

Since my problem seem to be solved by this I close this issue and may open it again when running into something which I cannot track down on my own. Thanks again!

[2020-05-13 16:52] #1469 closed

[2020-05-13 17:19] mlstowell commented on #1432
Hi, @Maatinski ,
Yes, the cell centers should provide good results.  The basic procedure is to loop over all elements and evaluate your `GridFunction`.  The main caveat is that the element order, particularly in parallel, may not be what you expect.  Consequently it's a good idea to print out the locations as well as the field values.  The loop would look like this:
[code]

Best wishes,
Mark

[2020-05-13 18:23] jetremblay opened #1479 "Support for SLEPc eigenvalue solver"
Hi,
I am interested in the 2D Maxwell eigenvalue problem in dielectric waveguides (e.g. [Full-wave analysis of dielectric waveguides using tangential vector finite elements](https://ieeexplore.ieee.org/document/85399)). For this I use the SLEPc eigenvalue solver instead of LOBPCG since the matrices are not positive definite.

I currently use the existing PETSc code and then call SLEPc directly. Wo

[2020-05-13 18:29] Maatinski commented on #1432
Hi @mlstowell ,
Thanks for the comments. I actually just found a quick (and hopefully robust) way. Very similar to your approach, and when I am populating a Cartesian grid with the sampled field data, it's actually very straight forward to locate the correct index of these grid points via:

[code]

With some tweaks, this should also work for finer Cartesian grids and arbitrary points (when recompu

[2020-05-13 18:36] rw-anderson opened #1480 "CodeDocumentation.html symbolic link works in firefox but not chrome browser"
In the doxygen documentation directory, there is a convenient symbolic link to the top level html file.

In the firefox browser, opening this link seems to reset the base path to the target of the link for the relative paths used in the rest of the documentation, so everything works correctly.

In the chrome browser (81.0.4044.129) on linux, it does not, and the links are all broken.

[2020-05-13 18:55] skarden18 commented on #1475
Thank you very much sshiraiwa,

great, it works!

[2020-05-13 18:59] #1475 closed

[2020-05-13 19:08] tzanio commented on #1480
On Mac the following works fine with Chrome:

[code]

I can't check it now, but my recollection is that the equivalent worked also on Linux... Does it not work for you @rw-anderson?

[2020-05-13 19:10] mlstowell commented on #1432
Hi, @Maatinski ,
Just be warned that in parallel the element and vertex numberings will be unpredictable.  They will be deterministic but they will be based on a non-Cartesian partitioning produced by METIS (unless you provide your own partitioning, I suppose).
Best wishes,
Mark

[2020-05-13 19:13] tzanio commented on #1477
@kennyweiss was working on visualizing quadrature functions as point clouds, but I don't think that's currently available.

One thing you can do is to visualize the L2 grid function with the same degrees of freedom, or to L2 project in a different space.

[2020-05-13 19:30] rw-anderson commented on #1480
If you are launching a new instance of chrome from the command line, it works.  If you have an instance of chrome already running and do ctrl-o to open it, it doesn't.  I think I have a solution which should work for all of these scenarios, which I'll push in a branch in a minute.

[2020-05-13 20:40] IdoAkkerman commented on #1477
I think it would work best to subdivide the element in subdomain with a constant value on those subdomains. The size of the subdomain should be related to the integration weight.

I am just making an inventory of what is already there. I will try to have a look at the point cloud solution.

[2020-05-13 20:44] tzanio commented on #1477
That sounds reasonable.

For a Gauss-Legendre quadrature with `q` points, one can use the Gauss-Lobatto subdivision with p+1 points (the two sets of points are interleaved).

[2020-05-14 05:21] white238 opened #1483 "Spack package debug variant doesn't add debug symbols"
The combination of adding flags to CXXFLAGS in your spack package and your makefile not adding DEBUG_FLAGS to CXXFLAGS if its not empty (line 200 of your base Makefile), you end up with no "-g -O0" in your debug variant.

The following is one example of a fix is to change the following in your spack package from:

[code]

to:

[code]

[2020-05-14 05:47] white238 commented on #1483
If this fix is acceptable I can push the fix to Spack repo in a PR I am doing soon for Axom and Conduit.

[2020-05-14 11:24] v-dobrev commented on #1483
This is the intended behavior -- if you set the `cxxflags` in Spack they replace the default values in MFEM, regardless of the `debug` variant. If using `+debug`, just set the `cxxflags` to the desired combination of flags.

Note that `+debug` does more than just switch the flags. For example, it is sometimes useful to enable `+debug` and still use `-O3` optimization -- which will not be possible

[2020-05-14 15:56] white238 commented on #1483
I just saw the bug that was causing it in my version of spack was fixed.  The C++11 flag was always being added in my version and can update to the newer one that doesn't.

This is more of a philosophical argument at this point and if you expect your users to set the optimization/debug flags in their global flags that's fine, I can work around it.  The problem is I am needing to add a default flag

[2020-05-14 16:45] v-dobrev commented on #1479
This definitely sounds like a very useful addition. Do you have in mind support for SLEPc through PETSc or independently of PETSc? Either way, your contribution will be welcome. Feel free to create a branch directly in the MFEM repo (I'll send you an invite in a moment). Thanks!

[2020-05-14 17:55] salazardetroya commented on #462
Hello, what's the status of this feature? It would be incredibly useful to not only implement new physics very quickly, but also derive adjoint models for optimization. MFEM could use the UFL domain-specific language (https://arxiv.org/abs/1211.4047) used already by FEniCS, Firedrake, and DUNE. FEniCS and Firedrake also interface easily with Pyadjoint (aka http://www.dolfin-adjoint.org/en/latest/)

[2020-05-14 19:14] camierjs commented on #462
Hi Salazar, this feature has been on our radar for some time now. We are working on trying if such abstraction would allow us to generate our integrators more easily as a first step. If that works, then we'll be able to move toward bridging to UFL directly. Concerning the interface with Pyadjoint, that will need to be synchronized with some internal work on this topic I guess.

[2020-05-14 21:26] jetremblay commented on #1479
I was thinking of creating a new class which will have the current PETSc code as a dependency (reusing PetscParMatrix and so on). I will probably start with the linear eigensolver and the spectral transformation objects.

Regarding the interface, since there is no generic eigensolver class (like there is for the regular solvers), should I take inspiration from HypreLOBPCG?

I will create a new bra

[2020-05-14 21:50] v-dobrev commented on #1479
If you want to, start with a separate eigensolver class trying to make it similar to HypreLOBPCG where it makes sense. Once you have that, it maybe easier to create a general eigensolver interface. However, if you prefer to start with the generic eigensolver class, that's fine too.

I think @stefanozampini (who is the author of the PETSc integration classes) and @mlstowell (who wrote the HypreLOBP

[2020-05-14 23:45] stefanozampini commented on #1479
@v-dobrev SLEPc is based on PETSc.
@jetremblay It would be nice to have such an interface, and I think not so hard to implement reusing the PetscParMatrix class functionalities. I can take a look at the development once you have something working

[2020-05-15 02:07] v-dobrev commented on #1479
Ah, OK, I did not realize that.

[2020-05-15 17:26] #1483 closed

[2020-05-15 17:27] #1471 closed

[2020-05-15 17:29] #1472 closed

[2020-05-15 17:31] tzanio commented on #1424
Ok, then I'll close this for now. Feel free to reopen later.

[2020-05-15 17:31] #1424 closed

[2020-05-15 17:33] tzanio commented on #1480
Discussion continued in #1481

[2020-05-15 17:33] #1480 closed

[2020-05-15 18:43] Maatinski commented on #1432
Hi @mlstowell ,
thanks for the remark! My feeling is that since I am iterating over the cells and set all the electric field values sequentially this should work, but I will keep this remark in mind, in case I run into trouble. I actually just finished all bits and pieces, including import/export.
Attached is the first field map in a reasonable portion of our model (6M mesh cells, "excited" by a 1

[2020-05-15 18:48] jetremblay commented on #1479
I created a new branch [slepc-dev](https://github.com/mfem/mfem/tree/slepc-dev). This is still work in progress.
- There is a new `SlepcEigenSolver` class, and I added it to the build system. I tested with `cmake`, but not regular `make` yet.
- I ported ex11p.
- I created an new examples (ex28p) for the 2D maxwell eigenproblem, which is not ready yet.
- I have not finished the functionality to add

[2020-05-15 18:53] jetremblay commented on #1479
https://github.com/mfem/mfem/blob/7b314b6ac9932ef7b8774afaad3b0321f368701b/linalg/petsc.cpp#L1090-L1096

Does this break anything? SLEPc seems unhappy with MatNest, which is what I get when using a `BlockOperator`.

[2020-05-15 22:19] jandrej commented on #1479
You can convert it or use the `SetGradientType` method to set it to an AIJ matrix before assembly.

[2020-05-15 22:27] jetremblay commented on #1479
OK, I will try that and revert my changes to petsc.cpp.

[2020-05-15 22:33] stefanozampini commented on #1479
I know they have recently fixed a few things in SLEPc related with MatNest; anyway, you should not force conversions to fix issues of other libraries. If people will use the eigensolver, they will notice and find the solution that best fits their frameworks. Also, if you think something is off or that should be fixed, send them an email (or to petsc-dev).

[2020-05-15 23:16] white238 commented on #1483
After thinking about this more and consulting @becker33 on the Spack team, I may have snippet of code that should work for both of our needs.  Basically, if cxxflags is set by the user, it tries to find debug or opt flags and if they are missing adds them.  This requires a fix on Spack's side and injecting this (tentative) code after line 368 in your current mfem/package.py:

`
            opt_fla

[2020-05-15 23:24] tzanio commented on #1483
Absolutely, we want to avoid custom copies too and other users are probably running into the same issues as you.

Will it help if we have a short telecon.

[2020-05-15 23:45] white238 commented on #1483
Let me test out the branch @becker33 just created and get back to you.  It actually requires two branches and one should be approved soon.

[2020-05-16 19:02] tzanio commented on #1479
Do you mind creating a WIP PR from `slepc-dev` for discussion purposes?

That will be easier to more people to follow.

[2020-05-16 23:34] jandrej opened #1486 "Using recent PETSc version breaks interface"
My current setup is mfem/master in combination with petsc/master. Running the petsc example 1
[code]
results in the following error
[code]
This is due to the fact that the `KSP_TYPE` is changed back to `KSPGMRES` on the call `KSPSetFromOptions` in the petsc interface in `PetscSolver::Customize()`.

I don't know the reason for this or the correct way to handle it.

[2020-05-17 00:07] jandrej commented on #1486
Please ignore this issue. My compiler setup used different versions of the petsc library.

[2020-05-17 00:07] #1486 closed

[2020-05-17 00:45] jetremblay commented on #1479
Yes! I am cleaning up the branch and will create the the WIP PR soon.

[2020-05-18 18:52] tuckerbabcock opened #1488 "Why is current density in H(curl) in Tesla Miniapp"
Hi All,

I'm wondering why the current density source term is projected onto an H(curl) function space (instead of an H(div) space), as I believe the current density should be in the same space as the magnetic flux density (although I can't seem to find a reference for that right now)? It seems like the current coefficient doesn't adhere to the continuity enforced by Nedelec elements, as there wil

[2020-05-18 19:54] jetremblay commented on #1479
Please see https://github.com/mfem/mfem/pull/1487

[2020-05-18 21:01] mlstowell commented on #1488
HI, @tuckerbabcock ,

You are correct, of course, J should be in H(Div).  However, the `j_` that appears in the Tesla miniapp is not the same J.  There are two ways to make sense of this.

First, consider the FEM approach; the PDE we are trying to solve is `Curl(mu^{-1}Curl A)=J` with `A` in H(Curl).  `A` must be in H(Curl) so that we can compute its curl.  To build the weak form we need to take t

[2020-05-18 21:53] tuckerbabcock commented on #1488
Hi Mark,

Thanks for the response, I think that helps to clear things up. I've got a follow up question about the coefficient that defines the current source. The coefficient `jCoef_` is projected to the grid function `jr_`, where `jr_` is in H(curl). For the coefficient used in the Tesla miniapp, the current discontinuously jumps from some value to zero along the interface of the annulus. Since a

[2020-05-18 23:11] mlstowell commented on #1488
Hi, @tuckerbabcock ,

Yes, the procedure implemented in Tesla can have trouble with discontinuous coefficients.  These troubles will diminish as the mesh is resolved so I think this procedure is acceptable for these purposes.

In a realistic simulation one would build a mesh which conforms to the current source and it would exhibit the continuity issues that you describe.  There are two, at least,

[2020-05-18 23:28] tzanio commented on #1479
Discussion continued in https://github.com/mfem/mfem/pull/1487

[2020-05-18 23:28] #1479 closed

[2020-05-19 15:43] tzanio commented on #1467
Discussion continued in #1474

[2020-05-19 15:43] #1467 closed

[2020-05-19 15:44] tzanio commented on #1408
Discussion continued in https://github.com/mfem/mfem/pull/1473

[2020-05-19 15:44] #1408 closed

[2020-05-19 15:45] tzanio commented on #1465
@dustin-bielecki, were you able to resolve this issue?

[2020-05-19 17:28] tuckerbabcock commented on #1488
Hi Mark,

Thank you for explaining it, both of those methods sound like they'll work for me. One final question is what to do about boundary conditions when solving the linear system in 2.ii or 1.iii, can you help elaborate on what I might use for boundary conditions for those solves (if anything)?

Lastly, do you have any good references you could recommend for me to learn more about dealing with

[2020-05-19 17:57] mlstowell commented on #1488
Hi, @tuckerbabcock ,

Generally speaking, no boundary conditions are required in this case.  However, if your `jCoef` has a non-trivial tangential component near the boundary and you're using method 1 you can see odd behavior near the boundary (because the H(Div) field, `j2`, doesn't represent the tangential components accurately enough).  So, in method 1 you can use `jCoef` to set a Dirichlet BC

[2020-05-19 18:40] Pratikk17 opened #1490 "DG for Laplace Problem in First order Formulation"
Hi,

I would like to implement MFEM code to solve the Laplace problem (in the first-order formulation) in 2D using DG formulation. I use zero Dirichlet boundary conditions. This code will be similar to the example 5 with some changes. I defined \sigma=grad(u) and hence the couple equations are
**\sigma-grad(u)=0
-div(sigma)=f.**

For this I use MixedBilinear form. I do not know how to add the DGTr

[2020-05-19 19:25] tzanio commented on #1458
Discussion continued in #1491

[2020-05-19 19:25] #1458 closed

[2020-05-19 19:36] tzanio commented on #654
A lot of this was documented in #654, and will be further addressed as we continue to improve the documentation in the future.

[2020-05-19 19:36] #654 closed

[2020-05-19 19:40] tzanio commented on #1432
Thanks for the good words @Maatinski.

Please let us know if we can help in any other way in the future... and please keep us updated on your results, they look really cool!

Tzanio

[2020-05-19 19:41] tzanio commented on #1443
I'm closing this for now, but feel free to reopen if you have further questions.

[2020-05-19 19:41] #1443 closed

[2020-05-19 19:43] tzanio commented on #1363
I'm closing this for now, but please feel free to reopen if you have additional questions.

[2020-05-19 21:30] delcmo opened #1493 "WENO-like limiters for DG"
Hello,

I was wondering if anyone has experience implementing a WENO-like limiter for DG method with MFEM, or even any sort of limiters?

Marco

[2020-05-19 23:48] tuckerbabcock commented on #1488
Hi Mark,

Thank you so much for taking the time to explain this all to me, you've helped me out greatly.

Tucker

[2020-05-19 23:48] #1488 closed

[2020-05-20 00:29] delcmo opened #1494 "Plotting contour with VisIt"
Hello,

I am trying to plot the contour of a variable with VisIt but I get an error message saying that "the Contour plot of variable *** yielded no data".

I use the MFEM-built object `VisItDataCollection` to dump the numerical solution in output files readable by VisIt.

Has anyone been able to plot contour in VisIt from a MFEM solution?

Thanks,

[2020-05-20 00:42] v-dobrev commented on #1493
As far as I know WENO schemes are for finite volumes.

We have done some work on DG limiting, primarily in the context of advecton/remap, see references 43, 54, and 19 at https://mfem.org/publications/. However, I don't think we have any of the related implementations in mfem branches.

For DG limiting, I know @HennesHajduk, @vladotomov, et al., implemented some matrix-free methods for limiting in

[2020-05-20 15:45] tzanio commented on #1494
I assume this is a scalar variable, e.g. the pressure from an Example 5 run?

Can you do a "pseudocolor" plot of it? Does the contour operation work on the Example 5 output for you?

Tzanio

[2020-05-20 16:47] delcmo commented on #1494
Tzanio,

thanks for your reply. I run Example 5 and I can plot the contour with
VisIt. The problem only shows when I try to visualize the data from my
MFEM-based code. As far as I know, I follow the same workflow as in Example
5 to output data in readable VisIt format. I will have to compare the codes.

Thanks,

On Wed, May 20, 2020 at 11:45 AM Tzanio Kolev <notifications@github.com>
wrote:

--
Ma

[2020-05-20 18:27] Maatinski commented on #1432
Hey everyone,
one topic did come up today:
I am currently solving the EM simulation in parallel using the AMG preconditioner. I noticed that some boundary cells show very high electric field value. These mesh cells correspond to cells at the boundary of two or three of the parallel mesh partitions. The hot-spots do not occur when solving the exact same problem with only one MPI process.
See attach

[2020-05-20 18:36] mlstowell commented on #1432
That's odd. Do the solutions look the same aside from these two hotspots?  How large are these hotspots relative to the other field values?

[2020-05-20 19:41] Maatinski commented on #1432
Yes, otherwise they look very similar, but the hot-spots can be pretty significant (10-fold higher than the rest). If this is not a trivial issue, I will run some more test and compare the exported field maps when run with different numbers of MPI processes...
Maatinski

[2020-05-20 20:13] mlstowell commented on #1432
It could be an indexing error but since the solutions look very similar this seems unlikely.  It could be that the `GridFunction` potential is not being set properly from the solution vector.  Or it could be something with computing `E` from `phi`.  Does `phi` look reasonable?

I'd be happy to look at your code if you think that might help.

[2020-05-20 22:26] tuckerbabcock opened #1496 "Question about accumulate_dofs"
Hi all,

I'm working on differentiating parts of the MFEM code with respect to the mesh coordinates, which has led me to differentiating `GridFunction::ProjectBdrCoefficientTangent`, which calls `GridFunction::AccumulateAndCountBdrTangentValues`, which in turn calls `accumulate_dofs`:
https://github.com/mfem/mfem/blob/4fc13517f5e8d91ec9c6b0c0d12d4daafb18e316/fem/gridfunc.cpp#L1858-L1875

I have a

[2020-05-21 08:55] jakubcerveny commented on #1496
1. I suspect the intent was to prevent access to the complete vector (O(N)) when only the boundary often needs updating (O(N^{2/3})?). But then `values_counter` has to be zeroed completely anyway, so I'm not sure.

2. In H(curl) and H(div), negative DOF is a (somewhat hacky) way to encode the need to flip the sign of the solution or shape function value on some interfaces. This happens often in th

[2020-05-21 17:23] tuckerbabcock commented on #1496
Hi @jakubcerveny,
I think you're right for the first point. It looks like values counter is needed to compute the averages of the projected values in `GridFunction::ProjectBdrCoefficientTangent`, so I suspect that's why it needs to be the full size of the grid function. Regarding the second point, thank you, I'll have to think about how that affects differentiation.

[2020-05-21 21:39] v-dobrev opened #1500 "Add an option to Mesh::DeleteGeometricFactors() to avoid memory re-allocation"
We want to have an option to avoid de-allocating the memory for the geometric factors in `Mesh::DeleteGeometricFactors()` -- it should just mark the factors for re-computation.

This should help with slow GPU memory allocation/de-allocation.

cc: @artv3, @tomstitt

[2020-05-21 22:30] mclarsen opened #1501 "Link error when building with Spack (static libs)"
I have run into an issue building with spack when using `~shared+mpi`. The source of the linking errors are the fortran symbols coming in from blas(choose your implementation). Anyone run into this and have a workaround?

[2020-05-22 01:09] v-dobrev commented on #1501
Are you using `+lapack` variant of MFEM or some other package used LAPACK/BLAS?

Can you post one example of the linking errors?

[2020-05-22 12:35] Pratikk17 commented on #1490
Hi @tzanio ... Can you please help me out?

[2020-05-22 14:50] mclarsen commented on #1501
Here is the exact spec:

[code]

[2020-05-22 14:57] mclarsen commented on #1501
The error is:
[code]

[2020-05-22 15:08] mclarsen commented on #1501
I fixed it by using logic similar to what is in the strumpack stuff:

[code]

I am not sure if the is 100% the correct way to fix it, but it is a way.

[2020-05-22 16:24] v-dobrev commented on #1501
I see. In the fix, you probably don't need the `^mpich` and `^openmpi` parts.

It looks like this dependency on `-lgfortran` comes from `openblas`, so the correct solution should be to update the `openblas` package to add `-lgfortran` when asked for the `libs` property. Ultimately, the right way might be a bit different, according to https://github.com/spack/spack/pull/15500#discussion_r413560773.

[2020-05-22 16:32] mclarsen commented on #1501
I agree that it should be the responsibility of the dependent library to tell you about the libraries it need to link. As a note, i tried building with netlib-blas and encountered the same error.

Feel free to close this. I just wanted to put some information out there for others who might experience the same issue.

[2020-05-22 20:21] Maatinski commented on #1432
Hi @mlstowell ,
I've had some time today to look into this and did some testing on a simpler model (cube with a smaller cube inside, i.e., two materials). One interesting thing is that these errors correspond to the "index=0" mesh cells of each MPI partition. Other than that I haven't been able to resolve this.
Attached are the relevant lines of code and some screenshots of the respective `GridFun

[2020-05-22 21:04] NikolayYavich opened #1504 "VectorDeltaCoefficient / AssembleDeltaElementVect"
Dear All,

While exercising with vector delta function
I received an unexpected result.

I checked **local** right-hand sides corresponding to
a single vector delta function. Interestingly,
all of them are non-zero (see example below), while
I expect them to be all zeros except the one corresponding
to the element with the delta function.

Could you please comment on this?
Thanks a lot!

[code]
Th

[2020-05-22 23:26] mlstowell commented on #1432
Hi, @Maatinski ,

Given your findings regarding element 0 on each processor, the most likely culprit is `ess_bdr_todfs`.  What boundary condition are you applying on the `DivSigmaGrad_` solve and how are you setting `ess_bdr_tdofs`?

Another thing, which probably is not a problem, is that `DivA_src` is not technically a `ParGridFunction`.  It would be more proper to say that it is a `ParLinearForm

[2020-05-23 15:14] tuanhtrng opened #1507 "building a conjugate heat transfer solver with mfem, feasible?"
i am in a preliminary search to build multiphysics solver for a nuclear reactor. my team wants to do an in-memory coupling of a neutronics code with a conjugate heat transfer (cht) solver.

i am aware that the conduction, advection, euler , and navier modules are in master but clueless on how to treat the solid-solid (fuel and cladding) and solid-fluid (cladding and moderator) interfaces.

is it f

[2020-05-23 20:45] #1507 closed

[2020-05-23 22:10] Maatinski commented on #1432
Hi @mlstowell ,
thanks so much for the comprehensive comments!
I changed my previous comment and added all the definitions of the gird function, bi/linear forms, operators, etc. Most of them are similar to the `Volta.cpp` example.
As for the boundary condition: you're absolutely right! I am not setting specific Dirichlet or Neumann boundary conditions, but just remove the first DoF on processor on

[2020-05-24 18:46] mlstowell commented on #1432
Hi, @Maatinski ,
It all looks good to me.  I'm glad to hear you sorted out the boundary condition issue.  I expect your visualization of `DivA_src` is just for debugging purposes but if you want to visualize the properly scaled field you can obtain this by performing a mass matrix solve (which is relatively inexpensive):
[code]
... or something like that.

By the way, @tzanio showed some of your i

[2020-05-24 23:56] v-dobrev commented on #1477
For this to make sense on non-tensor product elements (where quadrature rules do not coincide with the nodes of an L2 FE), it will be best to visualize quadrature data by projecting onto an L2 space. For tensor product elements, the projection could be identity as long as the quadrature rule points coincide with the L2 FE nodes.

There was such projection capability in PR #1281 but we decided to p

[2020-05-25 16:23] tzanio commented on #1494
Can you post the declaration of the grid function for which the code fails?

[2020-05-25 16:28] tzanio commented on #900
The original issues is more than a year old now and very likely out of date.

@jehicken, I'll close it now but feel free to reopen and/or post additional questions in new issues.

[2020-05-25 16:28] #900 closed

[2020-05-25 16:30] tzanio commented on #1088
@cyrush, we believe this was fixed so I'm closing this issue for now. Please feel free to reopen if there is still a problem.

[2020-05-25 16:30] #1088 closed

[2020-05-25 16:31] tzanio commented on #1396
@kennyweiss, do you want us to merge #1401? If so, can you mark it with the `ready-for-review` label?

[2020-05-25 16:32] tzanio commented on #1412
Discussion continued in #1502.

[2020-05-25 16:32] #1412 closed

[2020-05-25 16:34] #1465 closed

[2020-05-25 16:38] tzanio commented on #1501
Thanks for reporting this Matt.

Other folks that are building through Spack may be running into similar issues, so this is useful.

[2020-05-25 16:38] #1501 closed

[2020-05-25 16:47] #1493 closed

[2020-05-25 16:49] tzanio commented on #1496
I believe @v-dobrev wrote this code, so maybe he can provide additional details.

[2020-05-25 16:57] tzanio commented on #1490
Hi @Pratikk17,

Do you really want to use mixed + DG discretization?

I'm asking because people usually choose mixed CG (Example 5) or DG (Example 18) and it is not clear to me if mixing them will be beneficial for the Laplace problem.

If that's really your objective, then the first thing you need to figure out on continuous level is what are the spaces for `u` and `sigma` and what are the mixed

[2020-05-25 20:24] stefanozampini commented on #1504
[code]

This is not the intended usage. Here you are using the integrator while instead you should assemble the linear form. By design, MFEM integrators do not know anything about the element id,  so they cannot distinguish if the delta belongs to that element or not.
Instead, when invoked, they just evaluate the basis functions https://github.com/mfem/mfem/blob/master/fem/lininteg.cpp#L57
The ele

[2020-05-26 01:35] delcmo commented on #1493
There are been a lot of work done on WENO limiters applied to
Runge-Kutta discontinuous schemes for structured and un-structured meshes.
One of the most recent paper I found is the following:
"High-order Runge-Kutta discontinuous Galerkin methods with a new type of
multi-resolution WENO limiters on triangular meshes" by Jun Zhu a,1,
Chi-Wang Shu b,2, Jianxian Qiu c,∗,3

WENO limiter can achieve hi

[2020-05-26 01:37] delcmo commented on #1494
It is failing for all of the variables I dump in the output file. The class
I use to declare variables and write solution to output files is the
following:

[code]

On Mon, May 25, 2020 at 12:23 PM Tzanio Kolev <notifications@github.com>
wrote:

--
Marc-Olivier Delchini

[2020-05-26 02:32] tzanio commented on #1494
From the above it is not clear what the finite element spaces are (and in particular what their collections are).

Can you visualize this output from `mpirun -np 4 ex5p -r 0`: [Example5-Parallel.tar.gz](https://github.com/mfem/mfem/files/4679592/Example5-Parallel.tar.gz)

Can you send us a similar data collection output from your code?

[2020-05-26 03:02] rcarson3 opened #1508 "FindPointsGSLIB does not return right element indices for tets"
I was recently working on a side project that makes use of linear tets where I needed to find what elements a set of points belonged within. I first made use of ```FindPointsGSLIB``` and found that a few of the elements were outside of the range for how many the mesh contained. I have a feeling this might be due to the fact that the tet mesh is converted over to a hex mesh, and then later on the e

[2020-05-26 08:01] Pratikk17 commented on #1490
Hi @tzanio ,

Thank you for your reply. I want to implement Leapfrog scheme for linear wave equation with DG space discretization and hence I chose to first write a code for the Laplace equation. I had to go to use MIxedBilinear form since u is scalar while sigma=grad(u) is vector.  I will check code 18 again to see if I can manage to write the code else I will ask again.

Thank you very much.
Bes

[2020-05-26 08:01] #1490 closed

[2020-05-26 14:02] delcmo commented on #1494
Thanks again for your help.

I can visualize the output files you attached in your previous email.

I found out that the problem only happens when running the code with a
polynomial order of zero (finite volume). With first order or higher, the
contour plots show and I do not see any warning message from VisIt. I
attached output files for polynomial order equal to zero.

As for the element spaces

[2020-05-26 14:46] thelfer opened #1509 "New user question about boundary conditions for structural mechanics"
Dear `MFEM` users,

I recently start evaluating in `MFEM` for non linear structual mechanics applications.

I have a few questions about how Dirichlet' boundary conditions are handled in MFEM. For what I have seen so far, they are eliminated by default. Are other treatments of the Dirichlet boundary conditions available (Nitshe, Lagrange multipliers, for example) ? Would it be possible to implemen

[2020-05-26 14:51] cyrush commented on #1088
@tzanio got it, thanks!

[2020-05-26 15:01] tzanio commented on #1494
Contour lines don't make much sense for piecewise-constant data: on each element they are either empty or the whole element.

If you want to plot contours in that case, I will suggest projecting (i.e. averaging) to continuous linears and then plotting the contours.

[2020-05-26 15:42] kmittal2 commented on #1508
Yes, the current version of the master does not return the right element number for simplices because of conversion to a quad/hex mesh. I am working on an update to FindPointsGSLIB where I have added this functionality of mapping the element number for simplices ([here](https://github.com/mfem/mfem/blob/findpts-crystalrouter/fem/gslib.cpp#L492)). Note that this function also maps the reference spa

[2020-05-26 15:52] barker29 commented on #1509
Unfortunately much of what you're asking about is not currently well supported in MFEM.

For Nitsche conditions, the place to start is `ex17p`, which uses a DG formulation for linear elasticity and imposes boundary conditions in a Nitsche-like way, see the `DGElasticityDirichletLFIntegrator` object. Something like this could also be used in a non-DG formulation but it might take some work.

Someth

[2020-05-26 16:14] rcarson3 commented on #1508
@kmittal2 thanks for the quick feedback. I look forward to seeing this update brought into master :)

[2020-05-26 16:24] thelfer commented on #1509
@barker29, thanks for your help. At least, it matches my initial assumptions.

I plan to perform my investigations of MFEM by coupling it with `MFront` which provides some non linear behaviours (BTW, I am the main developper of `MFront`). Do you know if such non linear mechanical behaviours *with* state variables (living at the integration points) has already been used in MFEM simulations ?

In pa

[2020-05-26 17:03] kmittal2 commented on #1508
@rcarson3 I am closing this issue for now but feel free to reopen it if you have any further questions.

[2020-05-26 17:03] #1508 closed

[2020-05-26 18:51] delcmo commented on #1494
You are right.

Thanks for your help again. You can close this issue.

On Tue, May 26, 2020 at 11:01 AM Tzanio Kolev <notifications@github.com>
wrote:

--
Marc-Olivier Delchini

[2020-05-26 19:00] #1494 closed

[2020-05-26 19:04] pazner commented on #1490
Hi @Pratikk17,

Is there a reason that you would like to specifically use the first-order DG formulation for the Laplace equation?

If you eliminate the auxiliary variable sigma, then you can obtain a reduced system for the solution u. This is the approach used in example 14 (DG diffusion) using the `DGDiffusionIntegrator`.

[2020-05-26 19:48] rcarson3 commented on #1509
@thelfer to answer your question related to nonlinear mechanical behaviors with state variables one such example is the [ExaConstit app](https://github.com/LLNL/ExaConstit). It's a nonlinear solid mechanics velocity-based code built on MFEM. It's been primarily developed for crystal plasticity models.

Then the ```QuadratureFunction``` class is designed to hold data that lives at quadrature points

[2020-05-26 20:03] v-dobrev commented on #1493
I've seen some of the papers on limiting for RKDG but I had not seen any of the ones using MR WENO techniques. Thanks for the reference.

[2020-05-26 20:22] thelfer commented on #1509
@rcarson3 Thanks for this kind answer. I did not know the `ExaConstit` app and it seems a very interesting starting point.

Concerning the storage at quadrature points, that probably implies that there is currently no built-in features to project values at integration points during adaptative remeshing, right?

P.S. We have an UMAT interface in `MFront` which is working quite well and single cryst

[2020-05-26 20:51] NikolayYavich commented on #1504
Thanks a lot for your detailed explanation!

[2020-05-26 20:51] #1504 closed

[2020-05-26 21:17] rcarson3 commented on #1509
@thelfer I haven't interacted  with the AMR aspect of things, but maybe @v-dobrev could help answer that question.

If you have users who might be interested in making use or trying out ExaConstit we could open an issue on its repo and discuss what might needed to interface MFront with ExaConstit.

[2020-05-26 21:28] thelfer commented on #1509
@rcarson3 Would you consider that `ExaConstit` could be a good starting point for me to explore `MFEM` ? Would I be able to use standard finite strain behaviours (taking the gradient and returning the Cauchy stress for example) ?

[2020-05-26 22:17] rcarson3 commented on #1509
@thelfer It may not be the best code to dive into right away to get a feel for MFEM. Starting off I'd say Example 2 (linear elasticity) and Example 19 (incompressible neo-hookean model) are good starting points for just getting familiar with MFEM. Next, Serac might not be a bad choice as well, since it's a smaller code than ExaConstit and is a displacement based thermomechanic code, so it would be

[2020-05-26 23:18] v-dobrev commented on #1509
A correction:

This is not true, if by "shell elements" you mean surface elements like quads mapped in 3D space. An example using such elements is example 7/7p (surface Laplacian). Linking the surface elements to volume elements (and their dofs) is not too hard if the surface elements are given as what we call in MFEM the "boundary" elements in the mesh file.

Regarding:

Performing interpolation

[2020-05-27 00:18] salazardetroya commented on #462
Nice, is there any branch with some preliminary work available?

[2020-05-27 00:51] v-dobrev commented on #1105
Hey @jakubcerveny, it turns out there was a bug in `SubDofOrder` in 2D which may be the cause of this issue too. Can you check if #1510 resolves this?

[2020-05-27 04:21] thelfer commented on #1509
@v-dobrev Thanks for those answers.

No for my first tests. But in general it is.

Ok, i'll have a look at this one too.

[2020-05-27 06:24] Christopher-Water commented on #1363
To clarify my implementation of applying initial boundary conditions:

Since I will use a marker array(together with the vector of my boundary conditions) when using ```ProjectBdrCoefficient```, do I just treat the values of my boundary condition vector that won't be marked as junk?

[2020-05-27 13:13] tzanio commented on #1363
Yes, they will not be used.

[2020-05-27 14:46] hongbo-yao opened #1511 "Question about hypre's interface"
Hi,
I'd like to test different options of hypre's BoomerAMG and AMS solvers and I have two questions.

(1) HypreBoomerAMG only has a private SetDefaultOptions function, do you have any plan to add some public functions to set AMG options (or AMS)?  It is easy to implement through modifying MFEM's hypre files, but I prefer to keep consistent with the official version. Or any other ways?

(2) I noti

[2020-05-27 14:49] tuanhtrng opened #1512 "Fail to build mfem."
Broke [here](https://github.com/mfem/mfem/blob/21401db8faf855fcb080649a04dd209f75f79b06/general/mem_manager.hpp#L460) despite Travis success.

Should line 453 be `static inline T *New(std::size_t size)` instead?

[2020-05-27 15:15] tzanio commented on #1511
For (1), see the discussion here: https://github.com/mfem/mfem/pull/1053#discussion_r402389386.

Basically, we try to expose collection of options that seem to be useful for particular purposes. If you want to set other options, you can use the `HYPRE` functions directly on the MFEM object.

For (2), the overall system is solved by a Krylov method, e.g. PCG. The goal of the hypre preconditioning i

[2020-05-27 15:18] thelfer commented on #1509
Thank you all for your answer. I have more or less the information that I needed and some interesting tracks to explore.

[2020-05-27 15:18] #1509 closed

[2020-05-27 15:25] hongbo-yao commented on #1511
Hi @tzanio, Thank you for your quick reply

(1) would be helpful and for (2), I may just need more time to learn the details of AMG and AMS approaches

Thanks again!

[2020-05-27 15:29] #1511 closed

[2020-05-27 16:41] Maatinski commented on #1432
Hi @mlstowell ,
as always thanks a lot for the comments! As you correctly expected, I only used the visualization of `DivA_src` for debugging, but I will keep your hint in mind. I have been successfully running the first simulations in our full model (50M mesh cells), seems to work very well. Since we intend to run a large number of simulations in the same mesh model (using different coils), I mod

[2020-05-27 16:51] mlstowell commented on #1432
Hi, @Maatinski ,
In theory I believe it is possible to reuse much of the work done coarsening the matrix in AMG with multiple right hand sides.  To be honest I'm not sure if HYPRE provides a convenient means to do this or if that interface is available through MFEM.  @tzanio or @barker29 would probably know much more about that than I do.

Glad to hear things are going well.

Best wishes,
Mark

[2020-05-27 19:27] tzanio commented on #1432
Hi @Maatinski,

The AMG preconditioner depends only on the matrix, so you should absolutely reuse it of only the right-hand side changes.

You can also try reusing the same AMG preconditioner when the matrix changes, but that may not work well if the change is large.

Hop this helps,
Tzanio

[2020-05-27 22:32] v-dobrev commented on #1512
Yes, absolutely. This bug slipped through the cracks -- we actually do not test building in `C++17` or newer mode (that portion of the code is used only in that case).

[2020-05-28 02:05] #1512 closed

[2020-05-28 08:11] Pratikk17 commented on #1490
Hi @pazner ,

The ultimate aim is to apply and compare time integrators for linear wave equations and Maxwell's equations, whose space discretization is done by dG methods. These time integrators are in the form which suits first order formulation. So as an initial step, I would first see if everything works good for Laplace problem and then extend to wave.

I checked example 14 and understood it.

[2020-05-28 16:16] jakubcerveny commented on #1105
This sounds really promising but at first try it didn't fix the hybridization problem. I'll take a more detailed look tomorrow, since this really sounds related.

[2020-05-28 19:48] v-dobrev commented on #1496
Regarding 1: the reason is not so much about the complexity as with the intended behavior -- we don't want to modify any dofs that are not boundary. This is useful in various scenarios, like AMR, where you have an initial guess for the solution but the boundary values need to be updated to be exact according to boundary conditions.

[2020-05-29 09:28] jakubcerveny commented on #1105
#1510 doesn't seem to have effect on this issue, unfortunately.

What "fixes" this issue is changing line 1183 of pfespace.cpp to
```fec->SubDofOrder(geom, face_dim, inf2^1, vdofs);```
i.e., an opposite orientation of the ghost slave edge. But as I wrote earlier, I have a hard time understanding the details of shared face integration and I don't know how to fix this properly.

[2020-05-29 18:01] tomstitt commented on #1500
Another option could be to make the temporaries grab memory from a temporary pool of the memory manager, that way more than just this function could benefit. I'm not sure the state or capabilities of the memory manager though, would this be possible?

[2020-05-29 19:59] tuckerbabcock commented on #1496
Thanks @jakubcerveny, @tzanio, and @v-dobrev. I've got a related question about `ParGridFunction::ProjectBdrCoefficientTangent`, specifically the comment on line 465: https://github.com/mfem/mfem/blob/4fc13517f5e8d91ec9c6b0c0d12d4daafb18e316/fem/pgridfunc.cpp#L448-L472
Can one of you explain what this really means, as well as what the reduction operations are doing? I expect the reductions are sum

[2020-05-29 21:50] v-dobrev commented on #1105
Is the fix in line 1183 in addition to #1510 or this fix also works in `master`?

Can you add a print statement (on all processors) that prints `geom`, `face_dim`, `inf2` and the resulting `vdofs`? In the call to `SubDofOrder` use the same parameters as in `master`. Is there a difference in the output when usning `master` and `#1510`? Can you post the result from one of them if they are the same,

[2020-05-29 23:36] v-dobrev commented on #1496
In a `ParGridFunction` (aka L-vector) the dofs on processor boundaries (aka the shared dofs) have copies on each neighboring processor. The `GroupCommunicator` performs operations with these different copies of the dofs. For example, `Reduce` will perform a reduction like summation of those (generally different) values from different processors. The result of the reduction will be available only o

[2020-06-01 12:58] najlkin opened #1515 "64-bit int support in MFEM?"
Hi,
it is a matter of fact that MFEM uses plain `int` throughout the code, which are 32-bit in GCC even on 64-bit processors. It can be compiled against HYPRE or PETSc with 64-bit integers, but these integers are used only for global indexing and the local interface remains with 32-bit integers. This restricts the size of all arrays and matrices to 2^31elements, which can be translated for doubles

[2020-06-01 18:15] tzanio commented on #1515
Hi @najlkin,

Switching all ints to 64-bit with something like `MFEM_Int` will likely slow down the code, so you probably want to do that selectively.

Our current approach is that on each MPI task the number of unknowns is at most in the tens of millions, and so locally we only need 32-bit ints (globally of course we do need the 64-bit).

I think this is actually quite reasonable given the curren

[2020-06-01 19:12] v-dobrev commented on #1515
In the context of finite elements, 32bits is currently and for the foreseeable future more than sufficient. Look at it this way: both Summit and Sierra have 16GB per GPU (which is typically = 1 MPI rank) and you definitely need more than 1 vector to do anything of interest. On Fugaku, according to https://postk-web.r-ccs.riken.jp/spec.html, you will have 32GB/node where each node has 1 CPU with 48

[2020-06-01 19:16] najlkin commented on #1515
It does need to be really all integers, but basically all used for computing like indexing, DOFs and memory related operations, where the standard library uses type `size_t` for this purpose anyway, which is 64-bit on 64-bit machines. More granular setting would be nice, but it is clear it is not manageable and would cause myriad of unforeseen problems.

It is true that the current trend is rather

[2020-06-01 23:52] dylan-copeland opened #1516 "Too much Vector data on GPU"
GPU "out of memory" failures can be caused by having too many vectors using device memory. A possible solution might be a smaller collection of GPU data globally available for vectors as needed.

For simple codes such as the MFEM examples (e.g. ex1p, ex3p), there are only a few vectors using device memory (e.g. via `UseDevice(true)`). For example, there may be RHS and solution vectors `B` and `X`,

[2020-06-02 07:43] Christopher-Water commented on #1363
--> Diagonal 8 must be nonzero
 ... in function: void __cdecl mfem::SparseMatrix::DiagScale(const class mfem::Vector &,class mfem::Vector &,double) const
 ... in file: C:\mfem\linalg\sparsemat.cpp:2159

Looking at the only ```mfem:SparseMatrix```'s that I use, which are in ```ConductionOperator```, I realize that I never extract and set the Essential DoF's of my BC, which are used to ```FormSystem

[2020-06-02 19:48] tzanio commented on #1515
Hi Jan,

We discussed this today and while it will be nice to support size_t where necessary, the consensus was that adding such support will be a significant amount of work.

It is also not clear to me how necessary this work really is.

Can you try using MPI for your problem? This much better supported than OpenMP in mfem, and if need be you can use more MPI ranks than cores to solve really big

[2020-06-03 01:04] delcmo commented on #1118
I gave it a try and below is the logic to compute the first-order, second-order and third-order derivatives in 2D and 3D. I tested it by setting the initial value to a kth-order polynomial and outputting the values of `grad_value`, `grad2_value` and `grad3_value`. The piece of code below is to be included in the loop over the elements and over the quadrature points.

[code]

Note that this code is

[2020-06-03 04:11] kennyweiss commented on #1477
Thanks @IdoAkkerman  -- this is something I have been hoping to look into for some time. It would also be really nice to be able to visualize `QFields` in glvis....

I can look into adding this capability to the `SidreDataCollection` and perhaps the `ConduitDataCollection` as well.  I'll try to find some time in the next few weeks (?)

I think the best way to get this to work would be to add a poi

[2020-06-03 04:22] kennyweiss commented on #1396
@tzanio -- I ran into a problem testing this on windows through azure in early April, and unfortunately haven't had a chance to get back to it.

It worked with the current azure script in mfem@master (using static builds on Windows), but had errors when I tried to add a shared library build to the CI.  Maybe I was doing something wrong in the CI script?
https://github.com/mfem/mfem/pull/1401/files

[2020-06-03 06:34] najlkin commented on #1515
I have a little bit hungry 4D (+time) code and I am trying to make convergence analysis, so basically: the more DOFs, the better. When I ran into the problems, I had about 10 million DOFs locally, so `int` was totally fine indexing DOFs, but the size of the sparse matrix already overflowed. To give you an idea, I had just 13 x 13 x 13 cubic elements locally x 40 linear in that extra dimension (it

[2020-06-03 08:38] Pratikk17 opened #1518 "DG for Maxwell's equations"
Hi,

I am back with some problems. I would like to solve Maxwell's equation using DG  discretization for space. So I defined
   FiniteElementCollection *fec_H = new DG_FECollection(order, dim);
   FiniteElementCollection *fec_E = new DG_FECollection(order, dim);
   FiniteElementSpace *H_space = new FiniteElementSpace(mesh, fec_H,3);     // H=(Hx,Hy,0)
   FiniteElementSpace *E_space = new FiniteEle

[2020-06-03 13:56] cyrush commented on #1477
I think the fastest path would be to create and provide a point mesh to VisIt. It should be quite  easy to do even as a one off - writing blueprint files or adding the point mesh to sidre.

That said, I suspect that @v-dobrev's path to project and present the data might be yield a more usable result.

Longer term we can think about what Visit can leverage using MFEM in our reader.

[2020-06-03 17:13] SDAASDDASD commented on #1118
Hello @delcmo

did you calculate the **derivatives** of NURBs (third order)?

Best!

[2020-06-03 17:16] rcarson3 commented on #1477
@kennyweiss I'd very much be appreciative of being able to save ```QuadratureFunction```s off within the ```SidreDataCollection``` or ```ConduitDataCollection``` as a means for restart capabilities within my own code. Although, I'm not sure if this would be different than what you have planned save the data to visualize the data sets.

[2020-06-03 17:37] SDAASDDASD commented on #1118
@delcmo thanks for your reply! does Mfem include third order derivatives of Nurbs (surface/solids)?

[2020-06-03 22:37] v-dobrev commented on #1515
Is there something preventing you from using 48 or even 96 MPI tasks on the machine with 1.5TB?

The SparseMatrix class is maybe one place where using 64bit indexing may make sense. Specifically, the offset array `I` can hold 64bit offset indices while the column-indices array, `J`, can still use 32bits entries (while it's size will be 64bit -- indexing into `J` goes through `I`). This way you can

[2020-06-03 23:00] v-dobrev commented on #1518
In your integrator, you can compute the curl using the gradient. For example, this is done here: https://github.com/mfem/mfem/blob/42207dbfed968464212ae0d04573d3faeac4020f/fem/bilininteg.cpp#L1706-L1752

[2020-06-04 04:26] najlkin commented on #1515
Yes, you are right. The offset array `I` is the place where 64bit integers are most desperately needed. However, the change would involve not only a single memory vector, but all operations accessing the data on low level, counting or indexing the nonzero elements and `Memory` class handling the memory allocation. Moreover, `Memory` is exactly the place where `size_t` should appear anyway and it d

[2020-06-04 14:03] PanuLappalainen opened #1519 "Problem with Example 1 for continuous beam-quad.mesh"
The [General MFEM Mesh Format page](https://mfem.org/mesh-format-v1.x/#topology) lists a non-periodic and periodic versions of `data/beam-quad.mesh`. Their difference is illustrated with their results of a simple Laplace problem with homogeneous essential boundary conditions.

Running [Example 1](https://github.com/mfem/mfem/blob/master/examples/ex1.cpp) for the non-periodic beam-quad mesh yields

[2020-06-04 20:28] mlstowell commented on #1519
Hi, @PanuLappalainen ,

Sorry for the trouble.  I can confirm the behavior you're seeing with ex1p and the mesh in `Listing 5`.  I believe the trouble is that the mesh shown online has removed the nodes at the end of the beam in `beam-quad.mesh` which were numbered 8 and 17.  This leaves a gap in the node numbering which may be leading to a problem.  If we renumber the nodes so that they are conti

[2020-06-04 22:00] mlstowell commented on #1519
I just created a PR, [#56](https://github.com/mfem/web/pull/56), to address this issue in the documentation.

[2020-06-04 22:02] mlstowell commented on #1519
BTW: In that PR I found a quicker solution.  Just change the number of vertices to 17 or 18 (basically anything larger than 16).  In other words, pretend the removed vertices are still part of the mesh and let MFEM renumber the vertices for you.

[2020-06-04 23:10] termi-official commented on #1515
Hi guys,

I think I should hook into this discussion, as I am not sure if you are aware that signed integers and unsigned integers (also note, size_t is an unsigned integer) have different semantics in C++. While signed integer over-/underflow is undefined behavior, unsigned integer under-/overflow has wrap-around semantics. Perhaps more intuitively, signed integers work as expected (from the whol

[2020-06-04 23:59] v-dobrev commented on #1519
Having unused vertices in a mesh used to be ok. It may be better to still support that instead of changing the example.

[2020-06-05 00:29] v-dobrev commented on #1519
Looking at this more closely, it looks like the mesh in Listing 5 had an issue to begin with (as pointed out in https://github.com/mfem/web/pull/56). That was somehow fine in older versions of MFEM, e.g. in v3.3.

[2020-06-05 01:37] v-dobrev commented on #1515
@najlkin, yes, even if we want to update just the `SparseMatrix` class (and its Boolean version, class `Table` with it), the changes will need to propagate to other places in the code. It will be best to support this only when a new build option is enabled, e.g. something like `MFEM_USE_BIG_NNZ`. That way any interface changes in the code will only affect users that enable that option. Or maybe we

[2020-06-05 06:07] najlkin commented on #1515
Hi @termi-official, thanks for your theoretical contribution. I would need to search the standards, but I am convinced that simple binary complement logic works on most of the machines, so `int` and `unsigned` behave the same way on the low level. The code:
[code]
gives me:
[code]
so it is just the condition that is interpreted differently. Isn't it better to use something that has well-defined be

[2020-06-05 12:00] PanuLappalainen commented on #1519
Thank you for the help!

Is it possible to use MFEM to produce the mesh file corresponding to one suggested by @mlstowell ?
I believe the topology could be achieved with the following code:
[code]
but I have been unable to deduce or find examples of creating the periodic geometry and saving it to a `.mesh` file with `FiniteElementCollection: L2_T1_2D_P1`. I've tried using the [MakePeriodicMesh](ht

[2020-06-05 14:38] stefanhenneking opened #1522 "Linking issue: SuperLU_DIST v. 6.3.0"
On my personal machine, MFEM ‘make’ fails when linking to SuperLU_DIST v. 6.3.0.
For example,
[code]
or
[code]
etc.
I’m compiling MFEM from the current Master branch, and the SuperLU version was installed via PETSc v. 3.13.1.

[2020-06-05 15:39] jakubcerveny commented on #1105
In current master, and assuming the test in the last picture above, processor 1 prints the following after pfespace.cpp:1183:

```geom = 3, face_dim = 1, inf2 = 64, vdofs = 2 3```

(this is the ghost slave face marked with arrow in the picture). Processor 0 does not use this path. The solution is fixed when I force an opposite orientation of the ghost slave, i.e.,

```geom = 3, face_dim = 1, inf2

[2020-06-05 15:47] jakubcerveny commented on #1105
This is the run of `ex4p`:

```mpirun -n 2 ex4p -m ../data/inline-quad.mesh -o 2 -hb```

The mesh is modified to be 2x1 quads, all uniform refinements are disabled in the example, and element 0 is refined manually in the serial mesh.

[2020-06-05 15:49] stefanhenneking opened #1523 "MFEM_USE_METIS_5 not correctly set with Cmake"
Compiling MFEM (from the current Master branch) and linking to METIS 5.1.0 with CMake (version 3.17.2), I obtained the following error when `cmake --build . --target check` after building:
[code]
It appears the `MFEM_USE_METIS_5` variable is not set correctly and the code attempts linking for the functions in `mesh.cpp` such as `void METIS_PartGraphVKway` not defined in METIS 5.

I was able to sol

[2020-06-05 15:53] Pratikk17 commented on #1518
Hi @v-dobrev ,

Thank you very much for your suggestion. I split the equations and then used DerivativeIntegrator to find the curl. For example, for the equation dHx/dt= -partial Ez/dy, I defined the binear form as follows:

BilinearForm *Ez_y(new BilinearForm(Hx_space));
   Ez_y->AddDomainIntegrator(new DerivativeIntegrator(one,1));
   Ez_y->AddInteriorFaceIntegrator(new DGTraceIntegrator(ny_coef

[2020-06-05 17:46] termi-official commented on #1515
Thanks for the reply @najlkin . You are right, on the usual architectures (i.e. the server and desktop Intel and AMD ones) this is exactly what happens low-level. We should be aware, that this is not guaranteed to happen in general, especially since the trend in computing goes towards accelerator hardware. I think I was a imprecise on my actual point here, sorry.

In C++ we make a trade-off betwee