[2018-09-04 08:41] mlstowell commented on #599
HI, @izaid ,
I'm glad you were able to sort out the issue with the mesh.  The problem with the ND space is perhaps more subtle.  You may think that if your vector field is v=(1,0,0) then v.v would equal 1 so your surface integral would integrate 1 over the surface of the mesh.  This is not the case.  What happens is that the surface integral first restricts the ND basis to the surface then takes t

[2018-09-04 11:10] izaid commented on #599
@mlstowell Thanks for this, I now understand what is going on. Your explanations have been very helpful.

So, I'm working on a scattering problem and I want to compute the cross sections, which are basically power flux. These are defined as surface integrals either in terms of the Poynting vector S = E cross H, where H = curl(E), or in terms of E dot E. I'd be happy computing either of them -- I a

[2018-09-04 16:56] acfisher commented on #594
I strongly support this as well and will be happy to help get you started with them.  I'm also diving into the backends stuff this week and will write some tests as I see good places for them.  Drop by my office when you get a chance and I'll show you how to get started with our unit testing framework.

[2018-09-04 18:12] YohannDudouit commented on #594
I know that unit tests are good and I see how they would speed up development of new backends (or help adding functionalities to an existing one), but I haven't really used them so far. Shall we open a PR where we list all the unit tests we can think of for backends? For the current role of backends (dotProd, Axpby, Assign, Fill...), and their role to come, _e.g._ AMR, DrDobrev-worker based parall

[2018-09-04 18:40] mlstowell commented on #599
Hi, @izaid ,
Yes, this should be easy as long as your surface is sufficiently far from your scatterer.  The trick is to use the Silver-Muller (a.k.a Sommerfeld) radiation condition which states that the outgoing waves must satisfy lim_{r->infty} [r(Hxn-E)]=0 where n is the unit vector in the radial direction.  This means that E will be tangential to the surface of the sphere and that the tangentia

[2018-09-04 19:46] YohannDudouit commented on #592
Sorry for the delayed answer, I don't see anything that jumps to me as wrong. I don't see any reason why mfem wouldn't handle your formulation.
A few remarks:
- Do you really need to set the `IntegrationRule` yourself? Would the default one be incorrect? Are you sure you're not under-integrating with the `IntegrationRule` you give?
- Boundary conditions, and fluxes look "similar" in first order an

[2018-09-04 21:12] acfisher commented on #594
Excellent, I look forward to discussing this further.

[2018-09-04 21:32] nickwhitman1993 commented on #592
No problem, I appreciate your reply.

- I probably don't need to set the integration rule myself. I am just using that as an artifact of inheriting the code. I can definitely omit that section and see what happens.

However, this portion was also included in the code (which I didn't include before). I'm not sure if this would answer the question you are asking. I believe that this code checks whic

[2018-09-04 21:58] YohannDudouit commented on #592
- I am very confused by the fact that you don't include the mass term, even if they are the same, your `CoefficientMatrix` is singular, could that result in a problem that is not well posed? _i.e._ several solutions exist and your different formulations don't converge to the same one?
- According to your plots, it looks like something wrong is happening with the boundary condition. Are you sure yo

[2018-09-04 22:48] nickwhitman1993 commented on #592
- Sorry for the confusion. The mass term IS included I just did not include in the code snippet I sent you.
 Additionally, the solutions between the first-order and second-order do not necessarily HAVE to be the same answer. I just wanted to make sure they exhibit the same general behavior. I go into detail below but until I can compare against an analytical solution, I don't have an exact compari

[2018-09-04 23:15] YohannDudouit commented on #592
- What I meant by something looks wrong on your boundary condition (it might come from something else) is that your solution is `y` invariant `u(x,y) = u(x,0)` (it seems), which is not the case for the second plot.
- Looking at your second plot I also see a discontinuity in the bottom left corner(going from yellow to orange), it might be expected with DG methods, but it could also reveal a bug in

[2018-09-04 23:36] nickwhitman1993 commented on #592
- I don't believe it is completely y invariant. There is definitely y variation although it is difficult to see unless you are near the boundaries. The source on the boundary however, is indeed u(0, y) = u0

- The second plot is the first-order solution on a first-order FE. I think that for higher order FE this goes away

- I agree with you and I wasn't trying to imply that I was correct or the me

[2018-09-06 14:46] aasivas commented on #566
Hi Veselin,

Sorry for my late reply. I have been busy for last 4 days. I have `CalcJShape` -temporary name- implemented for triangle elements. I overloaded ``Mult`` for ``DenseMatrixInverse``, but it requires a little bit cleanup. I have a bug in the integrators, right now I am hunting for that.

I can make an initial commit later today without the integrators then when I fixed them I can push th

[2018-09-08 13:31] HowJMay commented on #594
Base on what I knew googleTest is a unit test framework that is easy to use.
If possilble, I want to contribute some unit code

[2018-09-08 21:42] #578 closed

[2018-09-10 17:38] acfisher commented on #594
@HowJMay we actually have a suite of unit tests up and running in an offline repository based on the Catch++ library.  Perhaps we can put that in a public repo so you and others can contribute.  I'll see if we can do that and let you know.

[2018-09-11 02:55] eGredius opened #602 "How to use MFEM which is installed through Spack"
Via spack, I installed and built mfem, glvis, hypre, metis, petsc. But I couldn't find any example files in the corresponding mfem directory as the native building tutorial shows. Also the files in the folder looks short of lot of things compared to files extracted from official .tgz file. Could someone help explain how to run what native building tutorial runs using spack-mfem. Thanks a lot in ad

[2018-09-11 14:39] aasivas commented on #566
Here is the initial commit. I included everything, though integrators are not working yet. Rest of it should be functional, I checked for some cases whether I get the expected result and it seems so.

https://github.com/mfem/mfem/tree/mfem-rt

[2018-09-12 19:07] vladotomov commented on #602
Hi Greg,
I have a spack installation of mfem and I can see all examples and their executables in /examples. Are you sure that the installation completed successfully? Note that I actually installed mfem and the rest through xsdk [https://xsdk.info](url).

[2018-09-13 22:25] tsariysk opened #608 "Building mfem with Intel and Pgi"
Hi,

I am able to build mfem-3.4 with Gnu, but Pgi and Intel both fail (see attachments). Do I miss compiler flags or environment settings? Any help is highly appreciated.

Thanks,
Ted

OS  : Darwin Kernel Version 17.7.0 xnu-4570.71.2~1/RELEASE_X86_64 x86_64
Intel: icpc (ICC) 17.0.4 20170411
Pgi. : pgc++ 18.4-0 64-bit target on macOS -tp p7-64

[intel.log](https://github.com/mfem/mfem/files/238116

[2018-09-14 21:19] eGredius commented on #602
Big thanks to both of you!

As @v-dobrev points out, I should've used variants in my original installation. Now I have examples and other stuff. And I follow your @v-dobrev steps ending up with some error about MPI

`[greg-Macmini:08090] PMIX ERROR: UNPACK-PAST-END in file unpack.c at line 206`
`[greg-Macmini:08090] PMIX ERROR: UNPACK-PAST-END in file unpack.c at line 147`
`[greg-Macmini:08090] PM

[2018-09-14 21:29] eGredius commented on #602
This error come up at the last step. Local glvis server is successfully set up.

[2018-09-17 21:30] tzanio commented on #608
These error are strange and I'm not sure what's causing them.

PGI seems to be complaining about this destructor in `fem/geom.cpp`:
[code]
but I don't see anything wrong with it, and compilers are not supposed to have "internal errors" :)

Can you try the current master branch, or maybe hardcoding `NumGeom` to 6 just to see if that will affect the compiler?

The Intel issue seems to be a missing `

[2018-09-17 21:34] tzanio commented on #597
Hi @JianhuaQin,

Can you be more specific what you think the issue is? It will be really useful if you can provided a reproducer and description for the problem.

Thanks!
Tzanio

[2018-09-17 22:29] v-dobrev opened #610 "Better random number generation in HypreLOBPCG and in general"
The convergence of `HypreLOBPCG` seems to be severely affected by the initial random vectors which are initialized from a single seed value.

It would be great if we can improve on this, maybe by using a more sophisticated random number generator.

[2018-09-17 23:29] mlstowell commented on #610
It looks like the randomization occurring on line [3396](https://github.com/mfem/mfem/blob/bbac26bffe986f9f4d0cee480dcdd1924ce699d9/linalg/hypre.cpp#L3396) is poorly chosen.  We should use something like `seed+i` otherwise all of the vectors will be the same.  But I expect that code is rarely called.

Random number generation may not be the best solution for LOBPCG in any case.  These random vecto

[2018-09-17 23:30] mlstowell commented on #610
Sorry about the `close`.  I hit the wrong button.

[2018-09-18 02:58] JianhuaQin commented on #597
Hello @tzanio ,
Thank you for the reply. You are right, it's difficult to find the problem without the code.

Here is the revised code based on [ex10.zip](https://github.com/mfem/mfem/files/2390986/ex10.zip)

At t = 0.5s, the displacement should be about 0.195 m.
However, the result is 0.087 m.

[2018-09-18 14:16] tsariysk commented on #608
[intel.log](https://github.com/mfem/mfem/files/2393020/intel.log)

For Intel, adding -std=c++11 helps up to a point, see attachment. It makes no difference for Pgi.

I haven't try hardcoding NumGeom to 6, yet.

Thanks,
Ted

[2018-09-18 14:32] Rombur commented on #608
@tsariysk
- For Intel, your problem now looks like it is from the STL that you are using. Does the gcc version that you are using with your Intel compiler support C++11?
- PGI 18.04 has an LLVM code generator see [here](https://www.pgroup.com/resources/docs/18.1/x86/pgi-release-notes/index.htm#llvm-backend). In my experience it works better for C++ than the default version of PGI.

[2018-09-18 19:16] v-dobrev commented on #608
I just built mfem v3.4 using both Intel v17.0.2 and PGI v18.5 (on Linux) and I did not encounter any issues.

You seem to be building mfem from within a larger build system. Can you try building it standalone? For example, what I did was:
* Checkout (or simlpy un-tar) mfem 3.4 in `mfem-3.4`
* `cd mfem-3.4`
* `mkdir build`
* `cd build`
* `cmake .. -DCMAKE_CXX_COMPILER=/path/to/icpc`
* `make`

Simil

[2018-09-18 19:24] patel3545 opened #611 "Issue building glvis"
Hello,

I'm trying to install mfem by following instructions given on http://mfem.org/building/

When I try to execute ~/mfem-serial/glvis-3.4$ make MFEM_DIR=../mfem-3.4 -j
I get error. How do I fix this?

Thanks!

I get the following:

[code]

[2018-09-18 20:36] tzanio commented on #611
Hi @patel3545,

Your MFEM build is probably OK, the error above is in the build of GLVis, which is an optional (though recommended) visualization tool.

GLVis uses the OpenGL headers, which you don't seem to have installed on your system. If you are using Linux, you can probably get these and other dependencies by installing the packages libGLU-dev, libpng-dev, and fontconfig-dev (or similar). See

[2018-09-18 20:50] tsariysk commented on #608
On Linux I am able to build mfem with Intel-17 and with Gnu v.4.4.7.
In MacOS I have issues to compile mfem both with Intel and with Pgi. I am still working on it.

Linux/Pgi-18.4 gives the same error with and without -Mllvm. I tried the v-dobrev steps - the same error (I don't have 18.5, though).

Thanks,
Ted
...
[  2%] Building CXX object CMakeFiles/mfem.dir/fem/fe.cpp.o
/usr/local/pgi/18.4/linu

[2018-09-18 21:12] #463 closed

[2018-09-18 21:18] v-dobrev commented on #608
If you're getting the same errors when building mfem separately then, judging by the log files, the problem with the Intel compiler seems to be compiler configuration issue. Have you tried building any simple test program that includes `<iomanip>` (the inclusion of this header seemed to be the issue in your original intel.log file)? This is a standard c++98/c++03 header, so you should not need to

[2018-09-18 21:48] tsariysk commented on #608
I already have a working environment, which is enough to proceed with the pilot program. I'll proceed with the builds  when I have Pgi-18.10, which should be soon.

I want to thank all of you for the prompt help.
Thanks,
Ted

[2018-09-18 21:58] v-dobrev commented on #610
This is a good point - that we use the same seed on all processors - that definitely contributes to the issue.

My thinking was that if we have a "good random number generator", it will create initial guesses covering the whole spectrum of frequencies. It may not be 100% reliable but still might be a significant improvement over the current status.

I'm certain this is really possible or easy to d

[2018-09-18 23:07] v-dobrev commented on #610
Correction above, I meant: "I'm NOT certain this is ..."

[2018-09-18 23:35] tzanio commented on #608
@tsariysk, I'll close this issue for now. Feel free to re-open if you have additional information.

[2018-09-18 23:35] #608 closed

[2018-09-21 23:08] nickwhitman1993 commented on #592
@mlstowell I am in the process of trying to develop the linear form integrator for the derivative of the basis functions (i.e. VectorCoefficient dot Gradient Basis Function), and I am experiencing some difficulty.
Could you provide some guidance, perhaps?

Nick

[2018-09-21 23:12] mlstowell commented on #592
I'd be happy to.  Have you got a first draft we can work from?

[2018-09-22 01:13] lobpcg commented on #610
Using poor random number generators or the same seed on different processors creates a special structure in the initial approximations of LOBPCG that is known to make LOBPCG randomly crash after some iterations for no obvious reasons, especially for large size matrices and with large block sizes. Using a high quality Gaussian with zero mean random number generator is a must for better stability of

[2018-09-24 19:56] nickwhitman1993 commented on #592
Thanks! I apologize in advance if it ends up being very rough.
Even if you could just point out a few mistakes so I can work on those, that would be greatly appreciated.
This format does compile correctly while building mfem. However, when building my run directory I get an error

error: expected type-specifier
         new mfem::DomainConvectionIntegrator(omega, flux);

Again, thanks so much!!

[2018-09-24 21:06] YohannDudouit commented on #592
https://stackoverflow.com/questions/8845117/error-expected-type-specifier-before-classname

[2018-09-24 21:10] YohannDudouit commented on #592
I think the problem comes from the code where you instantiate the class (not the code of class itself), could you make sure that none of what is described in the link is your problem?

[2018-09-24 21:44] mlstowell commented on #592
Hi, @nickwhitman1993,

No problem, glad to help.

A few initial points.  `Q_ir` does not seem to be used and `vec1` does not appear to be set.  Perhaps `Q_ir` should be used in place of `vec1`?  You should not require both `shape` and `dshape` in a linear for integrator because the basis should only appear once.  Let's try to parse the algorithm and see what should happen.

I believe you intend to

[2018-09-24 21:49] mlstowell commented on #592
I agree with @YohannDudouit , the error message probably indicates a different issue.  Perhaps something with the namespace containing the new class (did you declare it in the `mfem` namespace?)

[2018-09-24 21:51] nickwhitman1993 commented on #592
Thanks a bunch @mlstowell and @YohannDudouit - Currently looking into that issue as well.

I'll give that a shot and see what I can do.

Nick

[2018-09-24 22:16] nickwhitman1993 commented on #592
@mlstowell Did you mean
         // Calculate the gradient of the basis functions at this point in physical space
         el.CalcPhysDivShape(Tr, dshape);
?

[2018-09-24 22:19] mlstowell commented on #592
No, `el` is a scalar basis isn't it?  Perhaps I misunderstood.  What basis are you using for your field in this case?

[2018-09-25 17:52] mlstowell commented on #592
Hi, @nickwhitman1993 ,
Sorry, I didn't see your edit until just now.  This method is in the current master branch of MFEM but it may not have been in the most recent release.  This method is equivalent to the following but you'll need one temporary dense matrix:

[code]

[2018-09-25 20:06] jayjaybillings opened #612 "Grid function with 3D coefficient?"
I have a problem where I have computed a 3D vector value at each node on the mesh and I would like to use those values in a grid function to get an interpolated value at a 3D position x. So, for example, for the vector A,
[code]
I would like to get back A_x, A_y, A_z as a single mfem::Vector.

If A was 1D and x was 3D, I would just use a regular grid function. Is there a way to use a 3D A_i and ge

[2018-09-25 20:49] mlstowell commented on #612
Hi, @jayjaybillings ,
I think what you want is a vector-valued, first order, H1 field.  To create this you'll need a finite element collection, finite element space, and a grid function created like this:
[code]

Best wishes,
Mark

[2018-09-26 16:58] mlstowell commented on #577
Hi, Giselle,
I took the liberty of modifying the mesh file you uploaded a few weeks ago [periodic3D_MLS.txt](https://github.com/mfem/mfem/files/2420702/periodic3D_MLS.txt).  The vertex orderings contained in your original file did not agree with the orderings described by @v-dobrev but the coordinate orderings did agree.  I made a few small changes to the element to node connectivity and the mesh

[2018-09-26 22:54] nickwhitman1993 commented on #592
Thanks @mlstowell - It seems I am still having an issue with the type specifier.

If I created the custom class in the lininteg.cpp and lininteg.hpp files, is there anywhere else I need to let the program know I have the new class?

[2018-09-26 23:04] mlstowell commented on #592
No, but since this is a header file change you may need to delete and rebuild all of your object files.  Beyond that it should just be a matter of declaring the new class before using it.

[2018-09-26 23:05] nickwhitman1993 commented on #592
@mlstowell Thanks, that is what I thought as well. Must be another issue..

[2018-09-26 23:07] mlstowell commented on #592
If you're willing to post a tar file I'd be happy to take a closer look.

[2018-09-27 02:55] mlstowell commented on #592
Well, `LinearFormIntegrator` does have one pure virtual method which is `AssembleRHSElementVect`.  You are overriding this one so that shouldn't be a problem.  If there aren't any outdated object files floating around I'd check for small typos in the arguments of the overriding method.  It's possible the compiler doesn't recognize the overriding method if the arguments are even slightly different.

[2018-09-27 13:05] delcmo opened #613 "Example 18: normal vector"
Hello,

I have recently started to work with MFEM and had a close look at the example 18 that solves for Euler equations. I was able to implement new numerical methods as a learning exercise. I noticed that in the function RiemannSolver::Eval implemented in ex18.hpp, the norm of the normal vector (normag) is computed and then multiplies the jump (state2(i)-state1(i)). I understand that the objecti

[2018-09-27 18:06] vladotomov commented on #613
Welcome Marco, glad to hear you're using MFEM.

[2018-09-27 18:59] jdahm commented on #613
Hi Marco,

Great question! The term you're talking about `- 0.5 * maxE * (state2(i) - state1(i)) * normag` is the correction factor to get to the correct `F^*` numerical flux. This theory is very well spelled out in section 11.1.3 in Toro's Riemann Solvers book, but I'll reproduce some of it here, because it's so elegant.

The idea behind a linearized (approximate) Riemann solver is that you can r

[2018-09-27 20:11] delcmo opened #614 "Initial condition with a step"
Hello,

I have modified ex18 to solve for the explosion test case which consists in setting a step initial condition (density varies from 3 to 1). When I set the polynomial order to 0, the initial density looks fine. However, when I set the polynomial oder to 1, the initial profile of the density shows peaks higher than 3. I added two figures to illustrate what I see.

Initial density with polynom

[2018-09-27 20:25] PPCT opened #615 "Undefined Reference to Symbol 'GenerateDiagAndOffd'"
Hi Guys,
I am building MFEM 3.4 using CMake on Ubuntu 18.04. Hypre and Metis were built successfully prior to MFEM. When building MFEM, the following error occurred (a portion of the build output is listed below)

~/mfem-3.4/build$ make -j 4
Scanning dependencies of target mfem_miniapps_common
[  0%] Built target copy_data
[  1%] Building CXX object miniapps/common/CMakeFiles/mfem_miniapps_common.

[2018-09-27 21:06] vladotomov commented on #614
This should be a visualization effect. You probably interpolate the mixed 0/1 zones, but then there's an L2 projection when you plot them. The interpolated DG dofs are inside the zone, so you get some overshoots at the ends.

After the projection, you can do a GridFunction::Print( ) to see the actual dof values.

[2018-09-27 22:29] v-dobrev commented on #615
It looks like you installed HYPRE directly from the Ubuntu repositories - they perform an installation that differs from the normal HYPRE build. I think they break the single `libHYPRE.a` or `libHYPRE.so` into multiple smaller libraries - e.g. I see `libHYPRE_parcsr_mv-2.13.0.so` in the output you posted above.

For this reason, you will need to explicitly set the compile and link options for HYPR

[2018-09-28 13:43] delcmo commented on #614
Vladimir,

thank you for your email.

What do you mean by '0/1 zones'?

I did a GridFunction::Print() to see the values and they look ok. So what
is the correct way of visualizing the data without the under/overshoots?

Thanks,

Marco

On Thu, Sep 27, 2018 at 5:06 PM Vladimir Tomov <notifications@github.com>
wrote:

--
Marc-Olivier Delchini

[2018-09-28 13:58] gsosajones commented on #577
Hi Mark,

Thank you so much for your response. I made some modifications to the mesh I uploaded here and my code seems to be working fine. However, I have been testing my code with the mesh you provided and I get bad results. I am not sure if there is an error on my side or if there is something off about the mesh. Would you mind taking a look at my mesh file to see if this would be a valid mesh t

[2018-09-28 15:11] delcmo commented on #613
Johann,

thank you for your answer.

I assume that by Jacobian you mean the term to go from global coordinate to
local coordinate. This term should multiply the whole numerical flux in the
bilinear form, so how come it is only multiplying the jump and not 0.5 *
delta F?

Thanks,

Marco

On Thu, Sep 27, 2018 at 2:59 PM Johann Dahm <notifications@github.com>
wrote:

--
Marc-Olivier Delchini

[2018-09-28 17:18] jdahm commented on #613
Hi Marco,

The `F.n` computation already multiples by the scaled normal vector: https://github.com/mfem/mfem/blob/master/examples/ex18.hpp#L217

Hope this helps,
Johann

[2018-09-28 17:29] mlstowell commented on #577
Hi, Giselle,

It looks as if your periodic3D_v2.txt is using incorrect orientations.  If we use the node arrangement that you provided earlier then the first four vertices of the first element in this mesh are "3 4 16 15".  This describes a face parallel to the xy plane with a normal pointed in the positive z direction.  According to @v-dobrev 's diagrams this face should be the base of a hexahedr

[2018-09-28 18:46] jayjaybillings commented on #612
This worked perfect and I'm moving on to using it for some other things. Thanks very much! Closing...

[2018-09-28 18:46] #612 closed

[2018-09-30 06:55] vladotomov commented on #614
By mixed zones I meant zones where some dofs are set to 1 and some to 3 (I should've said mixed 1/3 zones). In such zones the values at the dofs are 1 or 3, but some quadrature points have undershoots or overshoots. When we're concerned having all quadrature values between 1 and 3, we usually use Bernstein polynomials, see for example the third argument in the constructor of L2_FECollection. Choos

[2018-09-30 13:35] #597 closed

[2018-10-01 10:32] joaomlneto opened #618 "Cannot compile OpenMP MFEM using OpenMP Hypre"
Hi,

I'm interested in a completely shared-memory version of `mfem` to run some benchmarks.

However, if I compile `hypre` `--with-openmp`, then I'm unable to compile the parallel `mfem` examples with `MFEM_USE_MPI=NO MFEM_DEBUG=NO MFEM_USE_OPENMP=YES MFEM_THREAD_SAFE=YES`

This may very well be a bug in `hypre` -- in which case sorry for posting it here :-) but the `hypre` tests pass.

### Steps

[2018-10-01 20:04] delcmo commented on #614
So I replaced DG_FECollection fec(order, dim); with DG_FECollection
fec(order, dim, BasisType::Positive); in ex18.cpp and it does compile but I
get an error message when I run the code:

FiniteElement::Project (...) (vector) is not overloaded !
Abort trap: 6

I assume it is not that simple. What am I getting an error message and what
should I do to fix it?

Thanks,

Marco

On Sun, Sep 30, 2018 at

[2018-10-01 21:00] mlstowell commented on #614
Have a look at the changes in branch [pos-vector-basis-dev](https://github.com/mfem/mfem/tree/pos-vector-basis-dev).  I tried this with `ex18` modified to use `BasisType::Positive` and it seemed to work.  If you run into further trouble please let us know.

[2018-10-02 12:17] joaomlneto commented on #618
That solves the issue for me, thanks!

Slightly unrelated: there are some steps (e.g. step 12 on the `ex1` example) that simply aren't able to be parallelized?

[2018-10-02 12:18] #618 closed

[2018-10-02 17:51] jakubcerveny commented on #618
Do you mean OpenMP parallelization of printing/saving the solution? I don't think you can do that, unless you wanted to write multiple files at once. Anyway, for serious parallel computation you need to use MPI (see e.g. ex1p.cpp).

[2018-10-03 21:54] #613 closed

[2018-10-04 00:16] #611 closed

[2018-10-04 00:17] #599 closed

[2018-10-04 00:18] tzanio commented on #594
We have taken an action item on this. Closing for now, but stay tuned...

[2018-10-04 00:18] #594 closed

[2018-10-04 03:56] mlstowell commented on #595
Hi, @Asadanees ,

I hope you're doing well.  We would like to close this issue if you have no further concerns.

Best wishes,
Mark

[2018-10-04 09:46] Asadanees commented on #595
Hi @mlstowell
I am really grateful to you.

Best wishes.

anees

[2018-10-04 11:37] davidherreroperez opened #619 "Problem running examples using Hypre compiled for GPU"
Hi,

I am trying to run MFEM (3.4) examples using Hypre (2.15) compiled for GPU computing, but three type of segmentation faults are detected as follows:

$ ./ex1p
...
CUDA Error Code[11]: invalid argument
 csr_matrix.c(hypre_CSRMatrixPrefetchToDevice) Line:698
Segmentation fault (core dumped)

$ ./ex2p
...
CUDA Error Code[11]: invalid argument
 vector.c(hypre_SeqVectorPrefetchToDevice) Line:1932

[2018-10-04 14:54] #565 closed

[2018-10-04 14:56] tzanio commented on #550
@delyank, I'm closing the issue, but we are still interested in a PR if this remains a concern

[2018-10-04 14:56] #550 closed

[2018-10-04 14:57] #614 closed

[2018-10-04 20:14] v-dobrev commented on #619
Hi @davidherreroperez,

Currently, MFEM (master branch, v3.4 or any earlier version) requires hypre built for CPU.

We are working actively on adding support for GPUs to MFEM including integration with hypre built for GPUs.

[2018-10-04 21:39] acfisher commented on #619
We are actively developing this connection and GPU implementations of core MFEM integrators as well.  These new features are planned for release in MFEM 4.0.

[2018-10-05 01:43] nickwhitman1993 commented on #592
Hi @mlstowell, for some reason when I recompiled, it didn't like the previous edits I had made. I figured out the error anyways.

I realized that nowhere in my previous iteration of the linear integrator, let us call it the DomainConvectionIntegrator, did I multiply by my alpha FunctionCoefficient "alpha". I have now modified the class to accept another Coefficient in the argument.

At this point

[2018-10-05 02:01] #619 closed

[2018-10-05 05:04] mlstowell commented on #592
Hi, @nickwhitman1993 ,

Yes, it looks correct to me.

The appropriate integration rule order is a tricky question.  The `DomainLFIntegrator` in this case is only integrating the basis functions and its default integration order is probably sufficient to integrate these exactly (using a higher order there would be wasted effort).  If you know the polynomial orders of `alpha`, `lambda`, and `f` you

[2018-10-08 01:48] TangLaoya opened #620 "Compile error with latest version MFEM"
Dear all,
Do you have any problem to build the latest version of MFEM in Windows 64bit + Visual Studio 2013? I used CMake to generate solution for VS2013 64bit version and build the solution, the following errors displayed:

Error	158	error C2259: 'mfem::ScalarProductInterpolator::AssembleElementMatrix2::ShapeCoefficient' : cannot instantiate abstract class	E:\mfem\mfem-master\fem\bilininteg.cpp	3

[2018-10-08 03:33] TangLaoya opened #621 "Question about example ex3"
Dear all,

I noticed that example 3 is focusing on Nedelec H(curl) FEM for the definite Maxwell problem. It is very close to my project. I need to solve the following eddy current problem
curl ( u^(-1) curl E) + (i*omega*sigma-omega^2*epslion) E = -i*omega*J

where J is the current source from transmit coils. In some location, there are receive coils and the inducted voltage is measured in these c

[2018-10-08 16:42] mlstowell commented on #621
Hello, @TangLaoya ,

This is something I've been slowly working on.  Currently it is on hold waiting for some related additions to MFEM.  Specifically we need classes to more easily handle complex-valued fields and operators as well as more suitable solvers.

You're welcome to look at some code which is a work in progress.  You can find it in the branch `hertz-dev`.  The code itself is `miniapps/e

[2018-10-08 22:36] v-dobrev commented on #620
Hi @TangLaoya,

This looks like a compiler issue - our testing through AppVeyor with Visual Studio 2017 seems to work fine.

Do you *have to* use VS 2013? If yes, then I can try to find a workaround - hopefully something simple - let me know if that's the case.

Veselin

[2018-10-09 01:18] TangLaoya commented on #620
Dear Veselin,
Thank you very much for your kindly reply. Yes, I have to use VS2013, since the VS2017 is so huge and there is not so much space to install VS2017 in my computer:(

Thanks,
Tang Laoya

[2018-10-09 01:35] TangLaoya commented on #620
Dear Veselin,

Just now I rebuilt the project of 'mfem-hertz-dev' branch and there are still the same errors.

Thanks,
Tang Laoya

[2018-10-09 06:49] TangLaoya commented on #621
Dear mlstowell and tzanio,
I got to know that I need to enable 'MFEM_USE_MPI' if the feature
using namespace mfem::electromagnetics;
is used. After enabled 'MFEM_USE_MPI', the Cmake shows that I have to install the 'hypre' solver, so I download the latest hypre and built it, and the provided the hypre include and library folder in Cmake, however, this time it displayed that 'Unable to determine HY

[2018-10-09 08:03] TangLaoya commented on #621
Dear mlstowell,
Thank you very much for your kindly reply. I am trying to build the MFEM on Windows 7 64bit, VS2013 and Intel MPI 4.1.3.047 64bit version. I tested both HYPRE 2.11.2 and HYPRE 2.15.0 and they all failed (in fact, after I successfully built HYPRE and tried to configure the project by CMake 3.10.2 it failed).

It would be wonderful if you can help me to modify the hertz to a serial v

[2018-10-09 21:48] #615 closed

[2018-10-09 21:56] #602 closed

[2018-10-09 21:57] tzanio commented on #549
This issue was discussed internally and will be implemented soon.

[2018-10-09 21:57] #549 closed

[2018-10-09 21:58] tzanio commented on #566
Thank you @aasivas and @v-dobrev for the detailed explanation.

[2018-10-09 21:58] #566 closed

[2018-10-09 22:08] #517 closed

[2018-10-09 22:08] mlstowell commented on #588
This issue will be resolved by PR #593

[2018-10-09 22:08] #588 closed

[2018-10-09 22:10] mlstowell commented on #577
Hi, @gsosajones,

I'll close this issue for now but feel free to reopen it if you have further concerns.

Best wishes,
Mark

[2018-10-09 22:10] #577 closed

[2018-10-09 22:16] tzanio commented on #562
@cwsmith, is this still an issue?

[2018-10-10 00:36] tzanio commented on #620
This is a strange error it comes from the fact that `VectorCoefficient` has 2 `Eval` methods:
[code]
and `ShapeCoefficient` overwrites one, and claims `using` for the other:
[code]

Does anyone knows a fix? Maybe the order matters?

Tzanio

[2018-10-10 07:24] yurivict opened #622 "Build fails with MFEM_USE_MPI=on"
[code]

OS: FreeBSD 11.2

[2018-10-10 14:49] delcmo opened #623 "Normal vectors in MFEM"
Hello,

first, I would like to thank you all for your help on the two previous issues I opened.

I have implemented HLL and HLLC solvers starting from example 18 and have encountered some issues because of the normal vector. The normal vector to each face is not normalized (as far as I understand) and this caused problem when computing the eigenvalues at the face of each element in the mesh. Becau

[2018-10-10 14:52] delcmo opened #624 "Mesh refinement"
Hello,

I am solving 1-D sod shock tube problems using a 2-D mesh and it would greatly reduce computing resources if I could refine the mesh in one direction. Is such option available in MFEM?

Thanks,

Marco

[2018-10-10 15:01] tzanio commented on #622
Hi @yurivict,

It looks like your *hypre* was build with `HYPRE_SEQUENTIAL`. This probably not what you want:

- If you need a serial version of MFEM, then just do `make serial`, or do not specify `MFEM_USE_MPI=on`
- If you need a parallel version of MFEM, then *hypre* has to be build in parallel mode, which is its default

Hope this helps,
Tzanio

[2018-10-10 15:07] tzanio commented on #624
Hi Marco,

You can either define a non-uniform mesh to begin with (see e.g. the beam meshes in the `data` directory) or use *anisotropic* adaptive mesh refinement on quad/hex meshes if your problem is dynamic.

Jakub is the expert on the latter, but you can take a look at the Shaper miniapp in `miniapps/meshing` for an example of how to use it.

Hope this helps,
Tzanio

[2018-10-10 15:45] jdahm commented on #623
Hi Marco,

I understand that this can be a bit non-intuitive, but it’s how I’ve seen done in many other codes too. The reason for doing this is that the code already stores the face Jacobians, so it doesn’t need to use extra memory for normal vectors too. A scaled version of the normal is calculated from this by CalcOrtho() in MFEM. You can always then normalize them yourself (nor on line ex18.hpp

[2018-10-10 16:00] yurivict commented on #622
Yes, ```hypre``` was sequential.

However, even with parallel ```hypre``` it still fails:
[code]

[2018-10-10 16:06] delcmo commented on #623
Johann,

thanks for your reply and the explanation. I did try to renormalize the
normal vector before computing the numerical flux at the faces, but forgot
to rescale in the quadrature loop. I added the following lines to the code:

      CalcOrtho(Tr.Face->Jacobian(), nor);

      Vector norN(nor.Size());

      for (int d=0; d<nor.Size(); d++) {norN(d) = nor(d)/nor.Norml2();};

      const doubl

[2018-10-10 17:30] tzanio commented on #622
Can you check if the same MPI implementation is used to build hypre and mfem?

In particular, is `/usr/local/include/mpi.h` from OpenMPI?

[2018-10-10 17:44] uvilla opened #625 "Modify Contributing.md and using it in a different project"
Hi all,

I need to create contributing guidelines for the [hIPPYlib](hippylib.github.io) project of which I am the main developer.

I was wondering if I can use a *opportunely modified* version of the MFEM `Contributing.md` file in my project.

If so, how would you like me to give credits to the authors of the `Contributing.md` file and to the MFEM project for using such resource?

Thank you!

Umb

[2018-10-10 17:59] uvilla commented on #575
@sshiraiwa ,

@benson31 implemented a class to convert a `MFEM::BlockOperator` whose entries are `MFEM::HypreParMatrix` objects into a monolithic `MFEM::HypreParMatrix` in the `ParElag` project.

See https://github.com/LLNL/parelag/blob/master/src/linalg/utilities/ParELAG_MonolithicBlockedOperatorFactory.hpp.

I think that this class could be a good start to implement this functionality in MFEM.

[2018-10-10 18:19] tzanio commented on #625
Hi Umberto,

I think it is fine to base your `CONTRIBUTING.md` on the one from MFEM. You can mention something like "Adopted from MFEM", but you don't have to IMHO.

Glad to see the progress on hIPPYlib :).

Tzanio

[2018-10-10 20:05] delcmo commented on #624
Tzanio,

thank you for your reply. You can close this issue.

Marco

On Wed, Oct 10, 2018 at 11:08 AM Tzanio Kolev <notifications@github.com>
wrote:

--
Marc-Olivier Delchini

[2018-10-10 20:08] #624 closed

[2018-10-10 20:31] delcmo opened #626 "Boundary conditions for Euler equations"
Hello,

I want to implement boundary conditions for Euler equations. I was able to implement some reflective boundary conditions by duplicating and modifying `FaceIntegrator::AssembleFaceVector` to be `BdrIntegrator::AssembleFaceVector` and calling `A.AddBdrFaceIntegrator(new BdrIntegrator(rsolver, dim));` in ex18.cpp.

Let us assume one want to specify inlet and outlet conditions, how do I pass t

[2018-10-10 20:34] v-dobrev commented on #623
Hi Marco,

Just a few tips: in your code above, you are recomputing `nor.Norml2()` multiple times.

Also, the rescaling `nor --> norN` can be performed with a single call to the method `mfem::Vector::Set`:
[code]

Veselin

[2018-10-10 20:37] delcmo commented on #623
Great, thank you so much.

Marco

On Wed, Oct 10, 2018 at 4:34 PM Veselin Dobrev <notifications@github.com>
wrote:

--
Marc-Olivier Delchini

[2018-10-11 00:23] mlstowell opened #627 "Copying LinearForm objects leads to seg fault"
I happened to notice that the following code leads to a segmentation fault.

[code]

The intention was to copy the contents of `lf1`, viewed as a `Vector`, to `lf2`.  What actually happened, as seen in TotalView, was that the vector data was copied as desired but the arrays that contain `LinearFormIntegrator`s were also copied.  When these objects fell out of scope they both attempted to delete th

[2018-10-11 00:37] v-dobrev commented on #627
We can define `operator=(const Vector &)` for `(Par)LinearForm` to simply call `Vector::operator=(const Vector &)` -- this is what is done in class `(Par)GridFunction`.

[2018-10-11 03:37] mlstowell commented on #627
Yes, that sounds best to me as well.  I'll take care of it.  Thanks!

[2018-10-11 03:40] #625 closed

[2018-10-11 03:40] #623 closed

[2018-10-11 04:01] #627 closed

[2018-10-11 14:58] delcmo opened #630 "Compute and dump pressure to output file"
Hello,

I would like to compute the pressure and dump the values to the output file every time I save the solution. I have declared a GridFunction object for the pressure but I am not sure how to initialize it. Is there a specific syntax to use or do I have to implement a subroutine that computes the pressure at each node and save the value in GridFunction?

Thanks,

Marco

[2018-10-11 15:05] delcmo commented on #626
After a little bit of troubleshooting, I duplicated the `FaceIntegrator` class and name it `BdrFaceIntegrator`. The constructor is defined as follows:
`BdrIntegrator::BdrIntegrator(RiemannSolver &rsolver_, const int dim, Vector &bdrVector_)` where `bdrVector_ ` is the boundary vector value specified by the user. It is then called in `A.AddBdrFaceIntegrator`.

The distinction between boundaries is

[2018-10-11 16:18] v-dobrev commented on #620
Hi @TangLaoya,

Moving the structs outside of the methods resolves the issue - I tried it in VS 2013 and it worked.

Veselin

[2018-10-11 17:34] mlstowell commented on #621
Hi, @TangLaoya ,
Last night we merged a large amount of new code into MFEM's master branch.  Whenever we do this I merge the new changes into all of my branches, including `hertz-dev` in this case.  Consequently, the current `hertz-dev` is rather different than the one you cloned a few days ago.  Rather than creating a serial version of `hertz` in the outdated branch I placed an updated version in

[2018-10-11 20:28] delcmo commented on #626
It is not clear to me how I can distinguish an inlet boundary from an outlet boundary using the above implementation. Let us assume that the inlet boundary has index 0 and that the outlet boundary has index 3. 1 and 2 are for wall boundaries. How do I distinguish inlet from outlet and from wall using the call `AddBdrFaceIntegrator (NonlinearFormIntegrator *nfi, Array< int > &bdr_marker)`?

Marco

[2018-10-11 23:57] TangLaoya commented on #621
Dear Mark,

Thank you very much for your kindly reply. I will clone the latest code and study it carefully.

Thanks,
Tang Laoya

[2018-10-12 00:14] TangLaoya commented on #620
Dear Veselin,

Thank you very much for your kindly help. Yes, it works, I have tested both in VS2013 and VS2015. The modified code is attached. I don't know whether it works in other platforms.

Thanks,
Tang Laoya
[bilininteg.zip](https://github.com/mfem/mfem/files/2471122/bilininteg.zip)

[2018-10-12 10:03] TangLaoya commented on #621
Dear Mark,
Thank you very much for your kindly reply. I created a project and put files 'hertz_ser.cpp' and 'hertz_ser_solver.cpp‘ into this project and built it. I also added mfem.lib into the link library. However, the following similar errors displayed:

Error	15	error LNK2019: unresolved external symbol "public: __cdecl mfem::ComplexGridFunction::ComplexGridFunction(class mfem::FiniteElementSp

[2018-10-12 15:53] tzanio commented on #630
Hi Marco,

(Below I assume formula p = EOS(rho,e), adjust as necessary...)

You have options -- you can compute by projection, or by interpolation. (Saving then is just a regular `GridFunction::Save()`).

Projection requires assembling a right-hand side form and inverting a mass matrix:

Interpolation can be done by defining a `Coefficient` for the EOS, e.g. based on `GridFunctionCoefficient` obje

[2018-10-12 15:58] tzanio commented on #622
Were you able to resolve this, @yurivict?

[2018-10-12 15:59] tzanio commented on #620
@v-dobrev and @mlstowell -- do you think we should make this change in master?

[2018-10-12 16:49] mlstowell commented on #620
If this is such a specialized class that it's only useful within this integrator then it should be hidden somehow so as not to pollute the namespace.  If, on the other hand, it could be useful more broadly then we should move it, and `VShapeCoefficient`, to `coefficient.?pp`.

[2018-10-12 16:54] mlstowell commented on #621
Hi, @TangLaoya,
It looks like the unresolved symbols are from the new files that were added to the `hertz-dev` branch.  Is it possible that your project is not including these when building the MFEM library?  It's also possible you're linking with another version of `libmfem.dll`.  Perhaps one built from a different branch of MFEM.
Mark

[2018-10-12 19:20] delcmo commented on #630
Tzanio,

thank you for your reply. I was able to compute the pressure and dump the solution in a Visit file. However, I am not entirely sure that my implementation for saving the GridFunction variables is correct. Using a `VisItDataCollection` object, I save the solution vector values (density, momentum vector and total energy). The initial values of the pressure are also saved in the Visit file a

[2018-10-12 19:57] TangLaoya commented on #621
Dear Mark,
I really built both the mem.lib and hertz from the hertz-dev branch, the only difference is that I used the same ‘bilininteg.cpp’ because I reported compile error with VS2013.
Thanks,
Tang Laoya

[2018-10-13 00:59] vladotomov commented on #630
Hi Marco,

You can take a look at out Laghos miniapp where we export to Visit a time-dependent solution.
https://github.com/CEED/Laghos
In particular, in laghos.cpp, see how the function _rho_gf_ is handled.

[2018-10-13 00:59] mlstowell commented on #621
Hi, @TangLaoya,
I think the problem is that I forgot to add the new files to CMake's configuration files.  I've made the corrections in the repository.
Best wishes,
Mark

[2018-10-13 01:13] vladotomov commented on #626
Can't you use the mesh attributes - something like Tr->Face->Attribute in AssembleFaceVector?

[2018-10-14 03:06] qiuchangkai opened #632 "Segmentation fault in fgmres-ams solver when using mfem-complex-mfem-dev"
Dear Mark @mlstowell and other developers,

I am using mfem-complex-mfem-dev and hypre-2.11.2 to solve the complex-value Maxwell's equation

1/mu curl curl E + i omega sigma E = - i omega Js

The code are modified from ex3p and ex21p_proposed, where I use my own mesh files.

The program reports signal SIGSEGV, Segmentation fault after first fgmres iteration
for some input grids

Program received s

[2018-10-14 04:09] qiuchangkai commented on #632
I didn't set up the linear form like the examples but calculate the final vector by myself, because I don't know how I can define the vector delta coefficients Js in some elements.

[2018-10-14 05:31] mlstowell commented on #632
Hello, @qiuchangkai ,
I've just tried `ex21p_proposed` with a tetrahedral mesh and it ran without any issues but there could still be a problem.  I believe this example solves:
1/mu curl curl E - omega^2 epsilon E + i omega sigma E = - i omega Js
This has one additional mass matrix added to the real part of the operator which makes the linear system non-singular.  It's possible that without this m

[2018-10-14 06:47] qiuchangkai commented on #632
Hi Mark, @mlstowell
Thanks for your prompt reply. I only add the term i omega sigma E.  Some codes are like:

        PWConstCoefficient sigma(lambda);
	pcOp->AddDomainIntegrator(new CurlCurlIntegrator(*muinv));
	pcOp->AddDomainIntegrator(new VectorFEMassIntegrator(sigma));
	ParSesquilinearForm *ac = new ParSesquilinearForm(fespace, conv);
	ac->AddDomainIntegrator(new CurlCurlIntegrator(*muinv),NU

[2018-10-14 07:11] mlstowell commented on #632
Hi, @qiuchangkai ,
It sounds like you're doing everything correctly.  However, you're probably the first person to really exercise the new classes in that particular branch of MFEM so I'm not surprised you've run into difficulty (but I am sorry about that).
Are you familiar with this paper https://library.seg.org/doi/10.1190/geo2015-0013.1?  They seem to be solving the same linear system that you

[2018-10-14 20:32] v-dobrev commented on #620
I'm fine with integrating this workaround in master. We can put the classes in the namespace `mfem::internal` to hide them.

[2018-10-14 21:45] v-dobrev commented on #626
Hi Marco,

Using `AddBdrFaceIntegrator(NonlinearFormIntegrator *nfi, Array< int > &bdr_marker)` you can add multiple, different `NonlinearFormIntegrator`s to be applied to different boundary attributes. The array `bdr_marker` is a "boolean" array that marks the boundary attributes where the integrator should be applied. Specifically, if you want the integrator to be applied to boundary attribute `

[2018-10-14 22:01] v-dobrev commented on #622
Hi @yurivict,

Looking at the output you pasted above, I see two different versions of `mpi.h` - maybe MFEM was configured with OpenMPI (/usr/local/mpi/openmpi/include/mpi.h) while hypre was configured with MPICH (/usr/local/include/mpi.h)?

[2018-10-14 23:35] tzanio commented on #632
Hi @qiuchangkai,

Can you reproduce this problem in example 3p (e.g. with `i omega sigma` replaced by `sigma`)?

The line you get the segfault in seems to indicate an issue with the discrete gradient matrix `G`, which should not have the boundary conditions eliminated, but that's something we should be handling correctly internally...

Can you confirm also that you are running 1st order elements?

[2018-10-14 23:38] tzanio commented on #622
Yes, MFEM and *hypre* need to use the same MPI implementation. It could be either `mpich` or `openmpi`, but you can't mix the two.

[2018-10-15 00:30] qiuchangkai commented on #632
Dear Mark @mlstowell ,

I read Alexander and Tzanio's  paper years ago. Actually their paper inspired me to use fgmres-ams to solve the complex-value Maxwell's equation with tetrahedron grids. I implemented my own FEM code with direct solver, which is expensive in memory usage.

[2018-10-15 01:57] qiuchangkai commented on #632
Dear Mark @mlstowell ,

I read Alexander and Tzanio's  paper years ago. Actually their paper inspired me to use fgmres-ams to solve the complex-value Maxwell's equation with tetrahedron grids. I implemented my own FEM code with direct solver, which is expensive in memory usage.

[2018-10-15 10:43] qiuchangkai commented on #632
Hi Tzanio @tzanio , the original example 3p also works fine for my grid. I am running first order elements. If I increase the order, the problem would not happen.

Today I find that it may be because of the code I wrote to calculate the current source Js.  In summary, ex3p and ex21p_proposed would work well for my grid and piece wise coefficient sigma.  But if the code calculating the source term

[2018-10-15 11:05] vikramsg commented on #626
[code]

I do it something like this, although it is not in fact a linear form. If boundary number 1 is the characteristic boundary, the above boundary face integrator only acts on that boundary, so for each boundary you can create a separate boundary marker that will be 1 only for that type of boundary.

[2018-10-15 12:51] delcmo commented on #630
Vladimir,

thank you for the link. This is very helpful. You can now close this issue.

Marco

On Fri, Oct 12, 2018 at 8:59 PM Vladimir Tomov <notifications@github.com>
wrote:

--
Marc-Olivier Delchini

[2018-10-15 13:09] pratyuksh opened #636 "Grid Function Interpolation: from coarse mesh to a nested fine mesh"
Hello,

I have the following scenario:

Let us say we have a sequence of nested meshes M_k, for k=1,2,..n. The finer meshes are obtained by refinement of the coarse meshes. We solve any given PDE on these meshes, say the solutions (Grid functions) are u_k. Now, what I would like to do is interpolate the solution on a coarse mesh to a finer mesh, example - say interpolate u_1 on the coarse mesh M_1

[2018-10-15 14:03] qiuchangkai commented on #632
Hi Tzanio and Mark, I finally make the modified code run sucessfully but don't know if the solution is correct.

I want to ask another question about how to calculate the electromagnetic field (i.e., calculate the shape functions) at some physical points. I prefer to do this manually rather than using the class GridFunction because the shape functions and curl of shape functions are needed for oth

[2018-10-15 14:39] #630 closed

[2018-10-15 14:52] barker29 commented on #636
The interpolation operator you're looking for is called the `UpdateOperator` in the `FiniteElementSpace` object. For example this snippet
[code]
will return a handle to a `SparseMatrix` in `uH` that interpolates from the mesh before refinement to the refined mesh. I hope this is enough to get you started.

[2018-10-15 15:03] delcmo commented on #626
Thank you all for your reply. This is what I needed. You can close this
issue.

Marco

On Mon, Oct 15, 2018 at 7:05 AM Vikram <notifications@github.com> wrote:

--
Marc-Olivier Delchini

[2018-10-15 15:06] #626 closed

[2018-10-15 18:39] #562 closed

[2018-10-15 23:58] mlstowell commented on #632
Hi, @qiuchangkai ,

Yes, that looks correct to me.

Best wishes,
Mark

[2018-10-16 00:37] delyank commented on #636
How would this work in 3D for high-order Nedelec spaces (the op doesn't specify a particular space, so I assume the question is general) on tetrahedral meshes? I'm under the impression that this may have issues when the tetrahedral reorientation in the Mesh class is employed, which seems necessary for high-order Nedelec elements.

[2018-10-16 04:33] v-dobrev commented on #636
@delyank, yes, high-order Nedelec spaces on tetrahedral meshes are an exception - interpolation from a coarse mesh to a refined mesh will not work properly. There are ways to go around this limitation, if you need such capability.

[2018-10-16 10:29] qiuchangkai commented on #632
Hi Mark @mlstowell , the code looks correct. However, the final electric field at some interested physical points are not correct. Please see the attached figure for details.
![Uploading untitled.jpg…]() There are some jump points which are wrong, while others are very close with existing results. The results for magnetic field are worse. I just infer there is no problem with the solution by the g

[2018-10-16 10:39] pratyuksh commented on #636
@barker29 @jakubcerveny Thank you for the explanation. So, for _uniform_ refinement it is clear.

But my question was a bit more general, say we do uniform refinement  + local refinement in some regions, then we have this hierarchy of meshes {M_k}_{k=1,2,..,n}, as mentioned above. I read these meshes, want to interpolate grid functions on FE spaces between these different meshes. How can one do th

[2018-10-16 16:08] jakubcerveny commented on #636
If you save the meshes and then load them again, the connection between the coarse and fine elements is lost. Also, the Space only sees the connection between two levels. What you could do is save the refinement matrices too, and if you need to interpolate across multiple levels, multiply the matrices or apply them in sequence.

[2018-10-16 16:14] tzanio commented on #636
Another option that may (or may not) be feasible is to save the u_k, and then have a separate pass of the code that starts at M_1, reads u_1, refines M_1 -> M_2, interpolates u_1 to M_2, reads u_2, refines M_2 -> M_3, interpolates u_1 and u_2 to M_3, reads u_3, etc.

[2018-10-16 16:53] mlstowell commented on #632
Hi, @qiuchangkai ,

You probably already realize this but I wanted to be sure.  When you call `fespace->GetElementVDofs(ielement, vdofs);` some of the entries in `vdofs` can be negative for Nedelec and Raviart-Thomas bases.  This indicates that the orientation of the corresponding basis function should be reversed.  The best way to handle this is to get the local degrees of freedom using `gridfunc

[2018-10-17 01:51] TangLaoya commented on #632
Dear Changkai,
How do you process current source in vector finite element? I am trying to solve induction logging problem, I need to calculate the induced voltage of received coils from source coils, my problem is how to set up current source of source coils for the term
b=-i*omega*int(dot(N__i, J))

Could you please give me some clue on how to fill right hand side after the discretization of doma

[2018-10-17 02:02] qiuchangkai commented on #632
Dear Tang Laoya @TangLaoya ,

What I am doing is dividing any transmitting sources (include a current loop and a current wire) into a series of short electric dipoles. Then I can calculate the small electric dipoles (its center, direction, length) inside each elements which contains the source. Actually, this step is the main work. At last, the small electric dipole can be expressed as a vector de

[2018-10-17 17:17] mlstowell commented on #632
HI, @TangLaoya ,

What you are describing is precisely what the `(Par)LinearForm` objects are used for.  I assume you can write your current density as a function of position so you can implement:
```void JFunc(const Vector &x, Vector &J);```
Then  you define an MFEM `VectorCoefficient` using this function:
```VectorFunctionCoefficient JCoef(dim, JFunc);```
If `JFunc` cannot be written then you ma

[2018-10-17 21:44] #592 closed

[2018-10-17 23:45] rw-anderson opened #640 "GridFunction::ProjectGridFunction check"
Shouldn't this test be for equality?

https://github.com/mfem/mfem/blob/14808f8cabf832433f8c9a8e329798e6ce3a0f95/fem/gridfunc.cpp#L1101

[2018-10-17 23:55] mlstowell commented on #640
Only if you want it to work as expected ;)

Interestingly @vladotomov just issued a pull request, #637, a couple days ago to fix this.

[2018-10-17 23:58] rw-anderson commented on #640
Thanks!

[2018-10-17 23:58] #640 closed

[2018-10-18 00:29] TangLaoya commented on #632
Dear Mark,
Thank you very much for your kindly reply. The example 'tesla' is just what I am looking for. But there is still a problem for me: the hypre solver can't be linked into the MFEM, I have build the hypre by CMakeLists.txt by Cmake in Windows 7 64bit + VS 2013, but it can't be linked to the MFEM, I have reported this problem before, could anyone help me to take a look at it?

Thanks,
Tang

[2018-10-18 01:30] mlstowell commented on #632
Hi, @TangLaoya ,

Are you referring to issue #620?  If so, I believe we do have a solution, see PR #633.

Mark

[2018-10-18 02:55] TangLaoya commented on #632
No, the issue #620 is solved. I mean the issue #621, in which I said the hypre can't be linked into MFEM, so I suggested to provide a serial version of hertz.

Thanks,
Tang Laoya

[2018-10-18 02:59] mlstowell commented on #632
Oh, okay.  I thought that was resolved as well but you are correct we only found a workaround.  We should continue discussing this in that issue.

[2018-10-18 03:12] TangLaoya commented on #632
Dear Mark,
Thank you very much for your kindly reply. The steps I build hypre and MFEM:
1) put hypre to
E:\mfem\hypre2.11.2
2) build hypre by Cmake
  --set 'where is the source code:' to 'E:\mfem\hypre2.11.2\src', set 'where to build the binaries:' to 'E:\mfem\hypre2.11.2\src\64bit_VS2013', and the configure, generate the project;
  --buid hypre by VS2013, passed
3) configure and build MFEM
  --fi

[2018-10-18 03:40] mlstowell commented on #621
Hi, @TangLaoya ,

According to MFEM's build instructions, in the file `INSTALL`, the CMake build expects HYPRE and MFEM to be installed next to each other in the filesystem.  Specifically, HYPRE should be in `../hypre-2.10.0b`.  From the error message that you posted:
[code]
It seems that CMake simply cannot find HYPRE.  There are a few things to try.  I'm not sure if this is possible in Windows b

[2018-10-18 04:11] v-dobrev commented on #632
Try setting `HYPRE_LIBRARIES` to the full path to the file `HYPRE.lib`, including `HYPRE.lib` -- that should be name of the hypre library built in step 2.

Also, you probably need to set `HYPRE_INCLUDE_DIRS` to point to the hypre `include` directory - this is where files like `_hypre_parcsr_mv.h` must be located.

The rest of the `HYPRE*` variables that you are setting should not be needed.

[2018-10-18 06:14] TangLaoya commented on #621
Dear Mark,
Thank you very much for your kindly reply. I just put HYPRE to the same folder as MFEM:
E:\mfem\hypre2.11.2
E:\mfem\mfem-hertz-dev

In addition, I also set 'HYPRE_INCLUDE_DIRS' to 'E:/mfem/hypre-2.11.2/src/parcsr_mv' and set 'HYPRE_LIBRARIES' to 'E:/mfem/hypre-2.11.2/src/64bit_2013/Release/HYPRE.lib'

but still the same error.

Thanks,
Tang Laoya

[2018-10-18 06:33] v-dobrev commented on #621
The directory `hypre-2.11.2/src/parcsr_mv` is one of the source directories - it does not contain all necessary hypre headers. You need to set `HYPRE_INCLUDE_DIRS` to the directory where all the headers are installed, after the library is built. This directory is usually called `include` but I'm not sure where exactly it will be located when building with Visual Studio - try searching for it somew

[2018-10-18 07:02] TangLaoya commented on #621
Dear Mark,
Thank you very much for your kindly reply. Now the configure passed, the setting is as follows:
set 'HYPRE_DIR' to 'E:\mfem\hypre-2.11.2\src\64bit_2013'
set 'HYPRE_INCLUDE_DIR' to 'E:\mfem\hypre-2.11.2\src\64bit_2013'
set 'HYPRE_INCLUDE_DIRS' to 'E:\mfem\hypre-2.11.2\src\64bit_2013;E:\mfem\hypre-2.11.2\src\IJ_mv;E:\mfem\hypre-2.11.2\src\krylov;E:\mfem\hypre-2.11.2\src\matrix_matrix;E:\m

[2018-10-18 16:45] mlstowell commented on #632
Hello, @qiuchangkai ,

Perhaps the easiest way to find this information for lowest order Nedelec elements is to build a discrete gradient operator:
[code]
This code was taken from `miniapps/electromagnetics/joule_solver.cpp`.  Each row of this operator corresponds to a local Nedelec degree fo freedom, which lie on edges, and the columns correspond to the vertices which terminate these edges.  The

[2018-10-19 04:44] mlstowell commented on #632
Hi, @qiuchangkai ,

If I understand you correctly you're solving a Laplace problem for the electric potential as part of your initial condition.  If you're using MFEM for this solve you probably compute the electric potential as an H1 `GridFunction`.  To compute the initial electric field from this you can simply use the `DiscreteGradOperator` similar to what's done in the `volta` miniapp (or the

[2018-10-19 21:57] Dan2997925 opened #643 "Seg fault reading mesh"
I have an interesting 2D quad mesh, but I get a seg fault when I try to read it. The issue is in function
int Mesh::CheckBdrElementOrientation
in statement
faces_info[be_to_edge[i]]
the problem is that the be_to_edge array has -1's in it!!!

I confirmed that be_to_edge is the correct length it agrees with NumOfBdrElements.

So why does be_to_edge array have a few -1's in it? What does this mean? I

[2018-10-19 22:11] tzanio commented on #643
Dan, can you give us the mesh file?

[2018-10-19 23:08] v-dobrev commented on #643
If `be_to_edge[i]` is `-1`, this means that the two vertices describing that boundary element do not correspond to an edge derived from the elements. For example, in the following mesh
[code]
if you define the `i`-th boundary edge to have vertices `0` and `2` then you will get a `-1` in `be_to_edge[i]`.

[2018-10-20 02:49] v-dobrev opened #644 "Including petsc.h redefines MPI calls as PETSc macros"
I noticed that when MFEM is built with PETSc, MPI calls like `MPI_Isend`, `MPI_Irecv` are being replaced with PETSc macros. These macros come from `petsclog.h` which is included by the chian `petsc.h` -> `petscbag.h` -> `petscsys.h` -> `petsclog.h`. The comments inside the header indicate that these macros are intended for internal PETSc use: https://github.com/petsc/petsc/blob/0a42d0a183c9f292d6e

[2018-10-20 03:59] jedbrown commented on #644
That is intended to log such calls in user code, such as in a residual evaluation callback. Looking at the comment, you could `#define PETSC_HAVE_BROKEN_RECURSIVE_MACRO 1` but we should probably offer a better name for that. Cc: @BarrySmith.

I guess I would have expected that in a package like MFEM, the PETSc headers would not be visible outside of compilation units that specifically use PETSc, b

[2018-10-20 20:34] v-dobrev commented on #644
Thanks for the feedback, Jed.

We can certainly remove `petsc.h` from the MFEM header `petsc.hpp` and only include it in `petsc.cpp`. However, we still need the declarations of PETSc types and objects (like `PetscInt`, `PetscScalar`, `Vec`, etc) inside `petsc.hpp` -- is there another lightweight PETSc header that we can use there instead of `petsc.h`?

[2018-10-21 04:08] jedbrown commented on #644
There are some `include/*types.h` headers, but not for every package. I can add the missing ones, but it isn't in the current release. The forward declarations are all of the form `typedef struct _p_KSP *KSP` if you need.

[2018-10-21 20:11] v-dobrev commented on #644
Thanks, Stefano! This is not a big issue, so no rush.

Let me know if I can help in any way.

[2018-10-22 14:20] #620 closed

[2018-10-22 14:27] #622 closed, assigned to tzanio

[2018-10-22 16:29] Dan2997925 commented on #643
Hi @junkudo can you take a look at this also in case there is an error in the 2D mesh reader? One thing we can do as a diagnostic is to add a call to
int mfem::Mesh::EulerNumber2D
inside the mesh reader class and print the result, this will tell us if the mesh has duplicate nodes.

[2018-10-23 01:06] qiuchangkai commented on #632
Hi Mark @mlstowell , could you please see line 386 in source code volta_solver.cpp? Should the comment "magnetic field" be "electric field", i.e., `grad*phi=-e` , but not `grad*phi=-h`? Do the electric field computed from the scalar potential keep the same directions with all the `vdofs` in H(curl) space? I am wondering whether I have to adjust the directions of the electric field from `grad*phi=-

[2018-10-23 04:43] mlstowell commented on #632
Hi, @qiuchangkai ,

The comment on line 386 should indeed refer to the electric field.  Thank you for bringing this to our attention.  I'll correct it.

The short answer to your question is "no" you do not need to do anything to adjust `e` after computing it as `-grad*phi`.  The reason for this is that the H(curl) space contains the gradients of the basis functions for the H_1 space.  The conseque

[2018-10-23 06:35] qiuchangkai commented on #632
Hi @mlstowell ,
Thanks for your kind help and explanation. I will close this issue soon. By the way, what is the best way to ask some general questions about the usages of mfem in the future?

Best,
Changkai

[2018-10-23 06:44] mlstowell commented on #632
Hi, @qiuchangkai ,

I think this is the best forum for such questions.  It gives all of our team members a chance to read the questions and keep abreast of the concerns of our users.

Best wishes,
Mark

[2018-10-23 06:48] qiuchangkai commented on #632
Okay. Thanks.

[2018-10-23 15:35] tzanio commented on #636
@pratyuksh, were you able to resolve this?

[2018-10-23 15:37] tzanio commented on #621
@TangLaoya are you able to build now? Do you have any further questions on this issue?

[2018-10-23 18:29] Dan2997925 opened #645 "ParMesh::PrintAsOne() bug"
It looks like in ParMesh::PrintAsOne, in the switch statement near line 3996, there is a missing BREAK statement. I can certainly fix this, but I thought the author of this code should confirm the need.

[2018-10-23 19:12] tzanio commented on #645
Hi Dan,

Which version of the code is this in? Can you give us the line number here:

https://github.com/mfem/mfem/blob/master/mesh/pmesh.cpp#L3996

[2018-10-23 20:17] v-dobrev commented on #645
@Dan2997925, I think I'm the author of that section, and I think you are right -- there should be a break statement at the end of that `case 3`. Here is the exact place I'm referring to (you may need to scroll down in the box to see the end of the section):
https://github.com/mfem/mfem/blob/abe79bb2f398aa26dd005806b8b8883ef085b6f7/mesh/pmesh.cpp#L4097-L4111

[2018-10-23 20:31] tzanio commented on #645
Good catch Dan. Can you propose a PR?

[2018-10-23 22:04] pratyuksh commented on #636
@tzanio sorry for the late reply. Yes, it is now resolved, your previous comment was helpful. Thanks.

[2018-10-23 22:05] #636 closed

[2018-10-23 23:03] v-dobrev commented on #643
I debugged the issue a little further: the error occurs for boundary element (boundary edge) with index 99 which has vertices 3903 and 3901. On the other hand, the vertex-to-vertex connections (generated from the edges of all elements) contain only the following connections for the vertices 3903 and 3901:
[code]

If you want, I can add code to MFEM that will check for such boundary elements and re

[2018-10-24 00:50] #645 closed

[2018-10-24 08:06] TangLaoya commented on #621
Dear tzanio,
Yes, I can build the project now, but I have to do many modifications, as I described before. I don't know whether it is possible to do these modification to Cmake files.

Thanks,
Tang Laoya

[2018-10-24 08:30] TangLaoya opened #647 "Question about assigning section current density for calculating induction voltage by coil"
Dear all,
I am trying to calculating induction voltage by coil in ground, as I described on issue #621.  After Mark's help on issue #632, I found the example tesla can calculate the 3D magnetostatic problem by 'a ring of current in a metal sphere', since in my problem I need to calculate the right hand side--the integral term
b=-i * omega * int(dot(N__i, J), V)

I need to know how to fill the elem

[2018-10-24 08:33] TangLaoya opened #648 "Question about filling right hand side of current source"
What you are describing is precisely what the `(Par)LinearForm` objects are used for.  I assume you can write your current density as a function of position so you can implement:
```void JFunc(const Vector &x, Vector &J);```
Then  you define an MFEM `VectorCoefficient` using this function:
```VectorFunctionCoefficient JCoef(dim, JFunc);```
If `JFunc` cannot be written then you may need to use a `V

[2018-10-24 08:40] TangLaoya commented on #648
Dear Mark,
Sorry to bother you again. Do you mean I only need to fill such code?
void JFunc(const Vector &x, Vector &J);
VectorFunctionCoefficient JCoef(3, JFunc);  /// is it correct to set dim=3 for 3-D problem?
LinearForm J(fespace);
J.AddDomainIntegrator(new VectorFEDomainLFIntegrator(JCoef));
J.Assemble(); /// This step performs the integration you mentioned

Now my problem is:
if the current

[2018-10-24 09:02] stefanozampini commented on #644
@v-dobrev I have a preliminary version in
https://github.com/mfem/mfem/commit/432c673fa9a5605a5ceeb9ecbaebc74fdccf8936
This commit is on top of other changes I made in the last weeks: I'll open a PR soon.

If you want to test the new code, you need to use the new petscsytypes.h header file which is currently under PR in PETSc https://bitbucket.org/petsc/petsc/pull-requests/1198/add-header-for-sys-

[2018-10-24 13:21] skarden86 opened #649 "Question about boundary conditions for ex3"
Dear developers,

could you please comment how to specify real boundary conditions for ex3.
I don't understand what happened in this lines,

[code]

thank you.

[2018-10-24 14:51] tzanio commented on #649
Hi @skarden86,

The last line takes the boundary conditions specified in the C-function `E_exact` (see https://github.com/mfem/mfem/blob/master/examples/ex3.cpp#L212-L226) and interpolates them in the finite element function `x`.

Since `fespace` is a Nedelec space, its degrees of freedom (entries in `x`) correspond to dot products with tangential vectors, so the above corresponds to imposing cond

[2018-10-24 15:46] skarden86 commented on #649
Hi Tzanio,

thank you.
1)
I still don't understand, if I need to specify for example periodic or tangential conditions what shoul I do?
2)
Am I right that  x.ProjectCoefficient(E)   calculate E_exact on every point from x?

Denis

[2018-10-24 18:37] mlstowell commented on #648
Hi, @TangLaoya ,

Yes, the first argument of the `VectorFunctionCoefficient` constructor is the spatial dimension i.e. the length of the vector returned by `JFunc` in this case.

To define the current density you must know the vector value of J at each point in your problem domain.  Some of these vectors can be zero as long as they are of the correct length, 3 in this case.  I expect that you don'

[2018-10-24 18:53] mlstowell commented on #647
Hi, @TangLaoya ,

In MFEM you do not need to "fill the elements" because the `LinearForm` object does this for you unless I'm misunderstanding your question.
[code]
The `LinearForm` object, `J` in the above code, is a vector that contains the integrals of `JFunc`.  Precisely which integrals of `JFunc` is determined by which finite element space you're working in.

It's usually best to work from th

[2018-10-25 00:05] TangLaoya commented on #648
Dear Mark,
Thank you very much for your kindly reply. Yes, in that rectangular region J=(100, 0, 0), but I want to try a simplified source assign method--I set the material in coil region to be copper, so that I only need to assign the current density in any one of region's section that is vertical to the vector of current density, therefore, I defined the region to be  x=0, 0.04<=y<=0.041, -0.01<

[2018-10-25 00:16] mlstowell commented on #648
Hi, @TangLaoya ,

I'm not sure that would work.  One thing you could try is to setup a Laplacian problem for the electric potential and set the voltages at the ends of your coil to be fixed constants.  You would then solve `Div(sigma Grad Phi)=0` with `Phi` fixed at 0 and 1 at the ends of your coil and `sigma` equal to some large value in the copper and a comparatively small value outside the copp

[2018-10-25 00:18] TangLaoya commented on #648
Dear Mark,
Thank you very much for your kindly reply. But my problem is frequency domain I need to calculate the induction voltage. Can it be solved by Laplacian function?

Thanks,
Tang Laoya

[2018-10-25 00:36] mlstowell commented on #648
Hi, Tang,
Yes, if you're frequencies are slow compared to the time it takes for the current density to reach steady state within your wire then you can use a static solution to represent your current density.  If your frequencies are much faster than you'd need to run an eddy current simulation in the time domain to capture the details of the changes in the current density over the course of one p

[2018-10-25 00:42] TangLaoya commented on #647
Dear Mark,
Thank you very much for your kindly reply. The expression I mention is from the attached document I studied, do you think is there any problem?

Thanks,
Tang Laoya
[vector finite element stiff.docx](https://github.com/mfem/mfem/files/2512818/vector.finite.element.stiff.docx)

[2018-10-25 01:08] TangLaoya commented on #648
Dear Mark,
Thank you very much for your kindly reply. Now my goal is to calculate the induction voltage of received coil when transmitted coil's current is AC. I don't understand that
 _if you're frequencies are slow compared to the time it takes for the current density to reach steady state within your wire then you can use a static solution to represent your current density_

in this case how to

[2018-10-25 02:37] mlstowell commented on #648
Hi, Tang,
If your coil is driven by an alternating current then you can also think of that as being driven by an alternating voltage.  That means solving `Div(sigma Grad Phi(x,t))=0` with boundary conditions `Phi(a,t)=0` and `Phi(b,t)=V exp(i omega t)`.  Then `Phi` will have the same oscillatory time dependence so you can factor it out.  This leaves you with `Div(sigma Grad Phi(x))=0` with boundar

[2018-10-25 04:06] TangLaoya commented on #648
Dear Mark,
Thank you very much for your kindly reply. As you suggested, I still need to solve the time-domain equation? But I think it is slow because it is necessary to solve multiple time steps. In addition, after solved the time-domain equation, how to get the induction voltage in the given received coils? Therefore, I still need to build the FEM equations as described in attached document. Now

[2018-10-25 05:40] mlstowell commented on #648
Hi, @TangLaoya ,

I apologize but I cannot open your Word document but perhaps you could convert this to PDF.

There is no time-domain equation if your frequencies are slow enough (and I'm sure they are).  You need to solve `Div(sigma Grad Phi)=0` with constant voltages at the ends of your coil.  This is not a time-domain equation it is a steady state equation (or you can call it an electrostatic

[2018-10-25 06:45] mlstowell commented on #648
Hi, @TangLaoya ,

Equation 4 in the attachment which computes the right hand side is what we call a linear form (this is the correct term in finite element jargon.)  In MFEM there are two ways to compute linear forms.  The first is to use a `LinearForm` object as I have mentioned before.  This requires that you know how to write `J` as a function of position.  The second way to compute a linear fo

[2018-10-25 08:46] TangLaoya commented on #648
Dear Mark,
Thank you very much for your kindly reply. I update the document I studied, in this document I described the background and my questions. Could you please help me to take a look at it?

Thanks,
Tang Laoya
[vector finite element stiff_full.pdf](https://github.com/mfem/mfem/files/2514088/vector.finite.element.stiff_full.pdf)

[2018-10-25 15:50] pratyuksh commented on #636
Hello, another question which is connected to this: from the documentation it is clear how I can compute error with respect to the exact solution. But how do compute \norm( u - u_ref )_{H^1}, where "u_ref" is the computed solution after a couple of mesh refinements of the original? Please let me know. I hope it is continue on this thread. Thanks.

[2018-10-25 20:42] mlstowell commented on #648
Hi, @TangLaoya ,

I understand the physics problem you are trying to solve, that was not my question.  My question was about you, professionally.  What is your professional level of experience?  Are you working for a private company?  Are you a professor?  Are you a student? Are you an amateur?  What is your field of study?  Any information to help me understand who I am speaking to would be usefu

[2018-10-25 20:54] Dan2997925 commented on #643
Its working now! The error was with the mesh my apologies for calling this a "bug".

[2018-10-25 20:54] #643 closed

[2018-10-25 23:55] TangLaoya commented on #648
Dear Mark,
Thank you very much for your kindly reply. I am a Ph.D student working on electrical well-logging. Before this I have worked on resistivity well-logging in which the sources and receivers are electrodes, and the field can be solved by Laplacian equation. I have successfully written my own Fortran code to work on it by nodal finite element. Now I am trying to work on induction well-loggi

[2018-10-26 00:17] mlstowell commented on #648
Hi, @TangLaoya ,
Now I think I understand.  You are not trying to use MFEM to solve your problem.  You're trying to write your own software based on some of the same ideas.  Your questions make much more sense to me now.

In this case I cannot offer you too much help but I'll be happy to give you hints.  You have probably already found the Nedelec finite element class, `ND_TetrahedronElement`, in

[2018-10-26 16:48] #621 closed

[2018-10-26 16:53] tzanio commented on #647
See #648

[2018-10-26 16:53] #647 closed

[2018-10-28 03:09] qiuchangkai opened #651 "Enhancements on IterativeSolver, ComplexPetscParMatrix, PetscParVector"
Dear developers,

Here I want to propose a few enhancements:

For `IterativeSolver`:
(1) member function to judge if the IterativeSolver has converged to the preset tolerance
(2) member function which returns the absolute (or absolute) tolerance for each linear solve
These two functions will be very useful when the users don't want the solver to print any information to the standard output stream.

[2018-10-28 22:07] tzanio commented on #651
Thanks for the suggestions, Changkai!

Can you clarify why `IterativeSolver:: GetConverged()` is not sufficient for your needs?

Are you thinking here of `NewtonSolver`? Can your use case be addressed if we add a methods `IterativeSolver::GetRelTol()` and `IterativeSolver::GetAbsTol()`?

@stefanozampini  is probably the best person to address these.

[2018-10-28 23:32] qiuchangkai commented on #651
Hi Tzanio,
Thanks for you attention.

(1) IterativeSolver:: GetConverged() has public attribute in the base class IterativeSolver, while its's not visible for CGSolver and GMRESSolver. (Hope I understand the code correctly. I am not so proficient in C++). This may be not so important if we have IterativeSolver::GetRelTol() or IterativeSolver::GetAbsTol().

(2) The second point is also for Iterativ

[2018-10-29 20:19] gsosajones opened #653 "Triangular periodic meshes"
Hello,

Thank you so much for all your help with the orientation of quadrilateral periodic meshes, I was able to get my codes working perfectly.

I am now considering using triangular periodic meshes because the methods I am using have nice properties on simplices. As far as I know, the only examples of periodic meshes on MFEM are of quadrilaterals. Is it possible to construct triangular periodic

[2018-10-29 21:00] mlstowell commented on #653
Hi, @gsosajones ,

I've very glad to hear that your code is working well.  I think you are correct that none of our periodic mesh examples uses simplices.  However, the same techniques should work fine.  I'm fairly certain I've built periodic tetrahedral meshes in the past and I don't recall running into any difficulties.

Best wishes,
Mark

[2018-10-30 07:08] goxberry opened #654 "Resource ownership within classes should be documented"
Specifically, documentation of class members that are pointers or handles should state whether each pointer or handle owns the memory it refers to. For the sake of discussion, I am assuming that the class itself manages its resources correctly — that is, it uses `operator new` and `operator delete` correctly without leaking memory.

This issue can be subtle, because it also applies to containers o

[2018-10-30 07:13] goxberry opened #655 "LinearForm’s copy constructor might cause a segfault when the copy is deleted"
`LinearForm` doesn’t seem to obey the Rule of 3 — it doesn’t define a copy constructor explicitly, so an implicit copy constructor is used. I think this implicit copy-constructor could pose a potential problem because `dlfi`, `dlfi_delta`, `blfi`, and `flfi` will be deep-copied (owing to the copy constructor in `mfem::Array`), but the pointer elements within each of these `Array` objects will be s

[2018-10-30 22:44] v-dobrev commented on #644
Hi Stefano,

I just tested your branch (`stefanozampini/small-additions`) and it worked fine. I tested with PETSc 3.8.4 and 3.10.2.

I think it is better to replace the `OLD` macro with a check for the PETSc version (we need to include `petscversion.h` for that) - e.g. something like
[code]
instead of
[code]

Is the branch `stefanozampini/small-additions` ready for a PR?

Thanks a lot for addressi

[2018-10-31 03:38] v-dobrev commented on #655
@goxberry,

I've never considered the implications of the implicit copy ctor and copy assignment operator in class `LinearForm`. I did not think they will be useful -- I guess I was wrong. 😃

I think @mlstowell's PR #568 (which I have not had time to review yet) already addresses some, if not all, of the issues you pointed out. If not, we can certainly add the missing parts.

[2018-10-31 03:52] tzanio commented on #653
Here is a simple 2D example:

[code]

[2018-10-31 03:55] tzanio commented on #651
Hi Changkai,

Are you interested in proposing a pull request to add the `GetRel/AbsTol()` functions you need?

Tzanio

[2018-10-31 11:59] goxberry commented on #655
@v-dobrev I've quickly glanced at #568, and it looks like it implements a deep-copying copy c'tor, which removes the segfault/Rule of 3 issue above. I think the assignment operators would still need to be modified in #568 for consistency with the copy constructor, but doing so via [copy-and-swap](https://stackoverflow.com/questions/3279543/what-is-the-copy-and-swap-idiom) should only require minor

[2018-10-31 16:04] delcmo commented on #614
Hi,

I wanted to look at the branch and it seems it was either deleted to merged. Is there a way to access another branch with the same modifications?

Thanks,

Marco

[2018-10-31 16:53] jandrej commented on #614
Hi @delcmo,

the branch was successfully merged from PR #629 to master. If you checkout the newest master branch these changes are included.

[2018-10-31 17:42] goxberry opened #657 "[RFC] Proposal for Coefficient adapter classes: VectorElementCoefficient and MatrixElementCoefficient"
Following @mlstowell's good example, I was wondering if the MFEM team would have any use for the following adapter classes I'm writing for LLNL's design optimization library:

- `VectorElementCoefficient`: subclasses `mfem::Coefficient`; it takes an `mfem::VectorCoefficient` and an integer index `i` as constructor arguments, and its `Eval` method would return element `i` of the `VectorCoefficient`

[2018-10-31 19:20] gsosajones commented on #653
Dear Tzanio and Mark,

Thank you very much for your responses! I will look into this in more detail.

Best,
Giselle

[2018-11-01 00:32] v-dobrev commented on #657
These two classes (`VectorElementCoefficient` and `MatrixElementCoefficient`) fit into the same theme as #590 - I think we can add them to that branch - unless @mlstowell has any objections.

[2018-11-01 12:29] qiuchangkai commented on #632
Hi @mlstowell , I reopen this topic to ask a question about how to calculate the divergence of the current density, i.e, the operator `Div(sigma E)`, where sigma is the `PWConstCoefficient,` and `E` is a known vector from the Nedelec fespace.

I first calculate the mass matrix `ParBilinearForm->AddDomainIntegrator(new VectorFEMassIntegrator(sigma))` , then multiply mass matrix with vector `E` to o

[2018-11-01 12:41] qiuchangkai commented on #632
Hi @mlstowell , I also want to report a problem about the `FGMRESSolver`.

The problem happens when users want to run `FGMRESSolver` without any restart.  The following code would expect the FGMRESSolver stops when exceeds the maximum number of iterations or converges, but without any restart.

`fgmres->SetKDim(a_very_large_number);`
`fgmres->SetMaxIter(maxit);`

In practice, the `FGMRESSolver` wi

[2018-11-01 14:14] delcmo commented on #614
Julian,

thanks for your reply. It does work now.

Marco

On Wed, Oct 31, 2018 at 1:02 PM Julian Andrej <notifications@github.com>
wrote:

--
Marc-Olivier Delchini

[2018-11-01 17:46] mlstowell commented on #657
No objections.  I think this is a fine idea.  Thanks, @goxberry !

[2018-11-01 20:16] mlstowell commented on #632
Hi, @qiuchangkai ,
The `irOrder` parameter of the `IrrotationalProjector` class is the integration rule order to be used for the bilinear forms inside this object.  This is needed so that the integration rules are compatible with the `CurlCurlIntegrator` that is presumed to be created outside of this object.  The goal is that the vectors produced by `IrrotationalProjector` should satisfy `S*v=0` w

[2018-11-01 20:19] mlstowell commented on #632
Hi, @qiuchangkai ,

I'll take a look at our FGMRES implementation.  I seem to recall seeing odd behavior as well.

Thanks,
Mark

[2018-11-01 21:18] mlstowell commented on #632
Hi, @qiuchangkai ,

It looks like MFEM's implementations of GMRES and FGMRES use different notions of "Iteration" and "Pass".  It seems to me that the GMRES notion makes more sense.  I'll try to put together a pull request which brings these into conformity and we'll see what the other developers think.

Incidentally, restarted GMRES methods do assume that the Krylov space dimension is "small" com

[2018-11-02 00:41] qiuchangkai commented on #632
Hi @mlstowell ,

I notice that you set up a pull request for `FGMRESSolver` already. Thanks for investigating this problem.

I prefer the option 3 for computing `Div(J)` too. The computational cost is not so important for me. I just want to maintain charge conservation and see how much divergence is in the solution field `E.`

Could you please show me some pseudo codes for option 3? I am still con

[2018-11-02 04:11] mlstowell commented on #632
Hi, @qiuchangkai ,

I'd be happy to help.  `L^2` refers to a space of scalar-valued squared integrable functions.  These fields are discontinuous and do not have a natural type of derivative.  `RT` stands for Raviart-Thomas and refers to the researchers who first published a finite element space suitable for `H(Div)` fields.  `H(Div)` refers to the space of vector-valued fields which have square i

[2018-11-02 04:16] mlstowell commented on #632
Hi, @qiuchangkai ,

It looks like the changes to FGMRES have already been approved.  They should make their way into the master branch of MFEM in about one week, after a series of tests has been completed.  Thanks for pointing out this issue!

Best wishes,
Mark

[2018-11-02 07:20] qiuchangkai commented on #632
Hi, @mlstowell ,

"FiniteElement::ProjectDiv(...) is not implemented for this element!" was reported when I run the following code:

	PetscInt order = 1;
	PetscInt dim = 3;
	RT_FECollection RT_FEC(order-1, dim);
	L2_FECollection L2_FEC(order-1, dim);
	ParFiniteElementSpace RT_FESpace(pmesh, &RT_FEC);
	ParFiniteElementSpace L2_FESpace(pmesh, &L2_FEC);
	ParGridFunction j_(&RT_FESpace);
	ParGridFunct

[2018-11-02 07:38] mlstowell commented on #632
Ah, yes, I see a typo.  When declaring the `ParDiscreteLinearOperator` I reversed the finite element spaces.  The `RT` space should be first followed by the `L2` space.

[2018-11-02 10:45] vikramsg opened #659 "Getting ILU into HYPRE header for MFEM"
Hi,

I am experimenting with the various solvers in MFEM(using Hypre) and I see that ILU is not there in the HYPRE header file even though HYPRE itself has PILUT. Does it mean that what I would need to do would be to create a class for it inside hypre.hpp similar to say PARASAILS. If so, any tips on doing this. Also if there is a branch where this has been done, please do point me to it.

[2018-11-02 11:07] qiuchangkai commented on #632
Hi Mark, @mlstowell

Now I understand the basic idea of option 3. For the calculation of `Div(sigma E)` , we first define a `ParMixedBilinearForm` `mSigma` for the operator `sigma E` to compute the current density `J` (normal continuous in `RT_FESpace` ) from the electric field `E` (tangential continuous in `ND_FESpace` ). Then a divergence operator `div` is setup for current density in `RT_FESpac

[2018-11-02 16:58] mlstowell commented on #632
Hi, Changkai @qiuchangkai ,

There is one place in the code that I used a shortcut and just wrote a one line comment; the line mentioning `J=M^{-1}SigmaE`.  This was meant to be replaced with the solver of your choosing (I recommend PCG with a DiagScale preconditioner) I just didn't bother to write out the lines that setup that solver.  If you include this `J` won't be zero and the line with `Reco

[2018-11-02 22:55] v-dobrev commented on #659
Hi @vikramsg,

I'm not aware of a branch that adds an MFEM wrapper for hypre's PILUT solver.

Such a wrapper class should be very similar to the `HypreParaSails` class. Based on what PILUT options you want to expose, you will need to add corresponding methods in the new class.

Note that supporting the `SetOperator` method (in the new class) is a bonus - right now, among the solver classes derived

[2018-11-03 04:28] tzanio commented on #659
Note that PILUT is no longer supported and the *hypre* team recommends using Euclid instead, see Section 6.14 in the latest user manual.

Alternatively it may be simpler/better to use SuperLU or SRUMPACK, which are already integrated in the code (and actively supported).

[2018-11-03 11:55] qiuchangkai commented on #632
Hi Mark, @mlstowell ,

The option 3 is the Gauss divergence theorem.   What if I want to try option 2, i.e., to obtain the divergence at the vertex of the grids. I implement the following code:

	Vector sigma;
	// set up sigma here
	PWConstCoefficient  sigma_c(sigma);
	ParBilinearForm a(nd_fespace);
	a.AddDomainIntegrator(new VectorFEMassIntegrator(sigma_c));
	a.Assemble();
	HypreParMatrix mass;

[2018-11-03 19:51] stefanozampini commented on #651
@qiuchangkai

Currently only ComplexHypreParMatrix is implemented in the complex version of mfem. There is no member function SetOperatorType(Operator::PETSC_MATAIJ) for the class ParSesquilinearForm either, so we can't obtain a PETSc format matrix after calling FormLinearSystem. This new matrix format will introduce more solvers from PETSc (like MUMPS) for complex mfem.

Where is this complex ver

[2018-11-03 20:36] tzanio commented on #659
STRUMPACK uses low-rank approximation and could be used as a preconditioner. You can reach out to @pghysels for more details if you want.

That being said, it could be useful to also have na interface to Euclid.

[2018-11-05 07:05] qiuchangkai commented on #651
Hi @stefanozampini ,

Thanks for your attention. Please accept my apology for the ambiguous description.

I know the support of complex operators are handled by block real operators in mfem-complex-mfem-dev.

For real-value problems, `OperatorHandle` provides a high level common interface for `operators`, so users can pass a `OperatorHandle` to `ParBilinearForm->AssembleSystemMatrix(ess_tdof_list,

[2018-11-05 09:00] stefanozampini commented on #651
ierr = MatSetOption(dynamic_cast<PetscParMatrix&>(*OperatorHandle.Ptr()), MAT_SYMMETRIC , PETSC_TRUE);
will report
terminate called after throwing an instance of 'std::bad_cast' what(): std::bad_cast

There should be no need for you to explicitly call PETSc functions.
If you need some functionality in PETSc which is not exposed through MFEM, let me know.

Once the complex branch will get merged to

[2018-11-05 17:36] #312 closed

[2018-11-05 17:41] #649 closed

[2018-11-05 17:42] #648 closed

[2018-11-05 19:50] delcmo opened #662 "-visit option with ex9.cpp"
Hello,

I tried to run ex9 with -visit option and then try to visualize the solution with Visit.2.12 and Visit.2.13. After opening the output files, I could not neither the mesh nor the solution: 'solution' is not available in 'pseudocolor'.

I did a git pull to make sure to have the latest version and re-run the case with the same result.

I also look at other examples and observed the same probl

[2018-11-06 10:29] stefanozampini commented on #651
As I said before, since the general convertor in MFEM does not know anything about the complex class of matrices, it creates a MATSHELL which just calls the Mult method of the class when doing matvecs.
MUMPS requires knowledge of the matrix entries. To get the entries of the matrix, you should compute the operator explicitly, which requries N matvecs, with N the size of the matrix, via `PetscParMa

[2018-11-06 12:58] Skyzerks opened #663 "File Directory Organization problem"
Hi!
I'm having a problem of comprehending how I should position the different components for the MFEM to work as a whole. Currently my main directory looks like this:

[code]

The "make" folder corresponts to GNU Make.
Currently I know that the mfem directory worked fine without GNU make, and I was able to build the GLVis meshes and check them out. But I just can't seem to find a way to organize t

[2018-11-06 13:49] qiuchangkai commented on #651
Well, I don't understand 'which requries N matvecs, with N the size of the matrix'. Thanks.

[2018-11-06 14:43] delcmo commented on #662
Veselin,

thanks for your email. When I run ./ex9 -visit, I can visualize the
solution fine with Visit. When I run:

   - ./ex9 -m ../data/periodic-segment.mesh -p 0 -r 2 -dt 0.005 -visit, I
   cannot visualize the solution nor the mesh
   - ./ex9 -m ../data/periodic-square.mesh -p 0 -r 2 -dt 0.01 -tf 10
   -visit. I can visualize the solution and the mesh

I had only tried the first mesh that, i.

[2018-11-06 17:02] Skyzerks commented on #663
In the MFEM repository I have only the file "config/defaults.mk.in". And all of the variables there are left in this type:

`variable_name = @variable_name@`

Is it normal for it to be like this?
I get the feeling that the components can't find each other. And thus I assume why the following instructions for metis 5 can't execute:
[code]
Where can I set the paths to metis, hypre and etc for mfem t

[2018-11-06 18:51] tzanio commented on #663
I think you may be confusing `config/defaults.mk` with `config/config.mk.in`.

See here: https://github.com/mfem/mfem/blob/master/config/defaults.mk.

It also looks like your METIS build didn't succeed because you do not have `cmake` which is required for that release. I will recommend using an older version.

[2018-11-06 21:07] Skyzerks commented on #663
In fact my directory is something like this:
[code]
And that's why i'm asking about "how am I supposed to place each one of them"?
Do I need to put some of them inside the other one?

[2018-11-06 21:13] tzanio commented on #663
Nope. That's the intended structure.

[2018-11-06 22:09] Skyzerks commented on #663
I didn't even saw the .mk files, they were just "makefile" formats for me already in my windows explorer. Thanks for pointing that out for me.
changed some lines in "mfem/config/defaults.mk":
[code]
I've redone all the previous steps in, addressed in [steps before building metis](http://mfem.org/building/#parallel-build-using-metis-5). But the errors are still there when i try to "make" in metis 5

[2018-11-07 00:55] tzanio commented on #663
Did METIS build correctly? Your [previous post](https://github.com/mfem/mfem/issues/663#issuecomment-436328834) showed errors due to missing cmake...

[2018-11-07 00:56] Skyzerks commented on #663
It still shows the same errors:
[code]

[2018-11-07 00:59] tzanio commented on #663
A working installation of METIS is a requirement for MFEM :)

I will really recommend using this version instead: http://glaros.dtc.umn.edu/gkhome/fetch/sw/metis/OLD/metis-4.0.3.tar.gz

[2018-11-07 01:02] Skyzerks commented on #663
Metis 5 is unstable? Do I lose much from installing the old version?

[2018-11-07 01:04] tzanio commented on #663
No. You just need to use [CMake](https://cmake.org/) to build it.

There shouldn't be any difference in terms of MFEM performance

[2018-11-07 01:08] Skyzerks commented on #663
[code]
The "source-dir" is the unpacked repo, right? So, what is the "build-dir"?

[2018-11-07 09:20] goxberry commented on #663
METIS 5 uses less memory than METIS 4. I believe METIS 4 uses a quadratic-memory algorithm and METIS 5 replaces it with a linear-memory algorithm, but I could be misremembering — the details are in the METIS 5 documentation. In practice, METIS 4 memory usage hasn’t been an obstacle until we started working on meshes with a few million elements, refining them to a few hundred million to a few billi

[2018-11-07 15:37] delcmo commented on #662
Thanks for double checking.

I personally never use visit to visualize 1-D solution but paraview. I was
not able to load and visualize the solution with paraview for the 1-D mesh.

Marco

Marco

On Tue, Nov 6, 2018 at 11:22 PM Veselin Dobrev <notifications@github.com>
wrote:

[2018-11-07 15:40] jandrej commented on #662
Yes, 1D MFEM output is not supported in VisIt.

[2018-11-07 16:40] cyrush commented on #662
@delcmo @jandrej @v-dobrev

That is correct, we don't have support for 1D MFEM yet.

We can add it -- but we need to discuss what folks expect.

We can present as a strip mesh (actually 2D, with one layer of elements), or we could present as a curve dataset.

I think the strip mesh has advantages over the curve (you can always extract the curves from the strip mesh)

[2018-11-07 17:14] #659 closed

[2018-11-07 17:49] delcmo opened #665 "Solving non-linear scalar PDE - Burger's equations"
Hi,

I am trying to solve Burger's equations as a learning exercise and implement flux limiters using DG. I looked at example 9 and 18. I modified ex18 to solve for Burger's equations instead of the density equation and set all other fluxes to zero (momentum equations and energy equation). This trick works but is not optimal: I can solve 1-D and 2-D problems. The reason I started from ex18 is that

[2018-11-07 18:51] tzanio commented on #663
This is just how CMake works. You can do `mkdir build; cd build; cmake ..; make`.

However, you don't need to use CMake to build MFEM. Your issue was that METIS was not building (which is completely independent project) and that version required CMake.

[2018-11-07 19:09] Skyzerks commented on #663
I already installed CMake. Also I saw that somewhere there was a hint that I can use the builded CMake version later as a Visual Studio Project (which I have).
So, i need to use `cmake <mfem-source-dir>` in the CMake directory, mfem directory or a new directory, dedicated to the builded with CMake version?

[2018-11-07 19:41] vikramsg opened #666 "Getting boundary face details"
I need to get the location of a point in an element which is farthest in the normal direction of a boundary element. Let me try to explain.

If we take the reference element as a square on the boundary, any of the 4 edges can be the boundary element. So what I want is to identify which one of the faces is at the boundary, is it ( (0, 0), (0, 1) ) or ( (0, 1), (1, 1) ), ( (1, 1), (1, 0) ) or ( (1,

[2018-11-08 01:04] yantingsa opened #667 "Nonlinear system GetGradient"
Hi,

I'm working on a nonlinear system and write my own 'BlockNonlinearFormIntegrator'. So in the 'GetGradient' part, I can simply use 'block_nonlinear_form->GetGradient(u)', which is a operator. But since my problem also have diffusion part which is linear. So the correct Jacobian should be 'diffusion_matrix + block_nonlinear_form->GetGradient(u)'. My question is how to implement this Jacobian, i

[2018-11-08 01:30] yantingsa commented on #667
Hi Vladimir,

I exactly use the method in ex10. But in ex10, it is just a equation for nonlinear part. I also tried my Integrator with one equation and it works correct for me. But when I have the system equation, it wouldn't work like ex19.
You can try ex19 like ex10, it will give the segment fault.

[2018-11-08 01:32] jdahm commented on #665
Hi Marco,

1. Yes, you should use it in the scalar case. `BilinearFormIntegrator::AssembleElementMatrix2()` can be used either for both linear and nonlinear cases, as long as it is reassembled at every timestep if needed. The way the equations are discretized here, this matrix is actually linear, so it doesn't need to be reassembled. If you're curious, MFEM has nonlinear integrators, but these are

[2018-11-08 01:42] vladotomov commented on #667
I see. Are you sure the two SparseMatrices you're trying to add are of the same size?

[2018-11-08 01:47] yantingsa commented on #667
Hi Valdimir,

Yes, I'm sure. I output the Matrix as the operator and output there size, the two matrix match each other.
Actually, I think the problem is that it not allowed for the `BlockNonliearForm` GetGradient to have the Matrix form? As I said before, in ex19, I use `SparseMatrix *grad_H = dynamic_cast<SparseMatrix *>(&Hform-GetGradient(u))` and `return *grad_H` instead of `return Hform->GetG

[2018-11-08 02:02] vladotomov commented on #667
The `BlockNonlinearForm::GetGradient` returns a `BlockOperator,` which is not a `SparseMatrix`, see the implementation in class `BlockNonlinearForm` . So my guess is that your dynamic cast is failing.

[2018-11-08 02:03] yantingsa commented on #667
So how can I implement my Jacobian?

[2018-11-08 02:06] vladotomov commented on #667
You can probably add each `SparseMatrix` of the `GetGradient's` result. The result is `Array2D<SparseMatrix` *>.

[2018-11-08 02:13] vladotomov commented on #667
In particular, BlockOperator::GetBlock() might be what you need.

[2018-11-08 02:19] yantingsa commented on #667
Yes, exactly. I just tried and find it works.
Thank you so much for help.

[2018-11-08 06:21] tzanio commented on #663
New directory, just for the CMake build.

[2018-11-08 11:36] Skyzerks commented on #663
Okay, I builded the mfem repo with CMake.
So, from now on I have to link everything to the mfem version builded with CMake?

[2018-11-08 19:35] #665 closed

[2018-11-08 21:39] nickwhitman1993 opened #668 "Outflow and Inflow Boundary conditions"
Hello,

I have a test problem in which I have a boundary driven source, i.e. a Dirichlet boundary condition on the left side and right side (inflow). This is defined using the boundary flow integrator, which should be just fine.

However, on the outflow directions (i.e. the exiting faces of the problem defined by the direction of particle travel dot normal > 0), I need a robin boundary condition (

[2018-11-08 22:05] jandrej commented on #668
A robin type boundary condition
[code]
will have a contribution to the left hand side and right hand side of your resulting equation. From the replacement of a boundary term in a continuous galerkin formulation in the weak form you replace `u \cdot n` and end up with
[code]
when v is the test function. Therefore you have a linear term
[code]
where you can just use `BoundaryLFIntegrator`. For the o

[2018-11-08 22:18] nickwhitman1993 commented on #668
The form of my boundary condition looks like:

\lambda\cdot\grad u + a u = f

where lambda is my VectorFunctionCoefficient, a is a constant, and f is a constant.

Is the derivative portion excluded in the portion or am I overlooking something?

Thanks again, your explanation definitely puts me on the correct track.

[2018-11-08 22:23] jandrej commented on #668
I made a typo in the first equation, it should be
[code]
where `n` is the outward unit normal.

[2018-11-08 23:02] tzanio commented on #666
To clarify, is this the problem you are trying to solve:

"Given a face of the reference element and a point on that face, find the intersection of the boundary of the reference element with the ray defined by the point and the interior face normal at it."

Are you interested in doing this in reference of physical space? Can you provide more details about what it will be used for?

[2018-11-08 23:03] tzanio commented on #663
That's preferable.

You just need one of them

[2018-11-08 23:06] tzanio commented on #662
@cyrush, I think adding 1D support could be useful, and I personally have no preference about the way it is done.

Will the fact that this particular 1D mesh is topologically periodic cause any difficulties?

[2018-11-08 23:07] tzanio commented on #657
@goxberry, I'm closing this issue, but as indicated above, feel free to add to Mark's branch.

[2018-11-08 23:08] tzanio commented on #653
Hi Giselle, were you able to make any progress on this?

[2018-11-08 23:10] tzanio commented on #632
The original question in this issue was addressed in #658.

[2018-11-08 23:10] #632 closed

[2018-11-08 23:11] #657 closed

[2018-11-08 23:55] v-dobrev commented on #662
In GLVis, we transform 1D meshes and solutions into a strip of quads and visualize them that way. There are some functions in MFEM to facilitate this transformation - `Extrude1D` for extruding the mesh and `Extrude1DGridFunction` for the solution.

[2018-11-08 23:58] cyrush commented on #662
@v-dobrev awesome - thanks! we can leverage those

[2018-11-09 01:04] Skyzerks opened #670 "command line doesn't recognize the examples"
I wanted to see the demonstration of [mfem example](http://mfem.org/serial-tutorial/). But after this:
nemo@Skyzerks:/mnt/e/_Workspace/FEM/attempt/mfem-3.4/examples$ make
[code]
I only get this:
[code]
Do I need to install something from the list? Or what should I do next then?

[2018-11-09 01:53] #663 closed

[2018-11-09 06:11] v-dobrev commented on #655
@goxberry, I started looking at #568 and I see that it does not provide actual copy constructors.

Let me try to clarify the issue that you are raising: is it (1) the current state of class `LinearForm` can be used in ways that leads to segmentation faults/memory corruption (specifically when using the implicit copy constructor and the implicit copy assignment operator); or is it (2) class `Linear

[2018-11-09 09:53] vikramsg commented on #666
I think that is correct. I would actually want to do it in physical space but I think doing it in reference space would be easier and will serve as an approximation for physical space.

![wmles_pts](https://user-images.githubusercontent.com/13407380/48255332-12767780-e415-11e8-97a4-ae2a7d40b5b1.png)

Let me try to illustrate what I am trying to do with the above picture. The bottom line is the bou

[2018-11-09 09:58] goxberry commented on #655
@v-dobrev You're right, #568 doesn't provide a copy constructor.

I'm raising issue (1). You're right that `LinearForm` need not expose a `public` copy-constructor -- implicitly or otherwise -- unless you want to permit users to write code that requires these operations, like passing a `LinearForm` object by value, or like your example of STL containers. `mfem::Vector` does have a copy constructor

[2018-11-09 10:42] Skyzerks commented on #670
I'm good with the ./(example). Now I have tried to get a visualization with a running GLVis server:

[code]
But there seems to be a problem:
[code]
What can be the problem here?
As a X server I have Xming Server installed. It worked well when I wanted to visualize meshes.

[2018-11-09 14:30] tzanio commented on #670
Just to confirm -- the following works?
[code]

[2018-11-09 14:46] Skyzerks commented on #670
@tzanio Yes, it does.
[Screenshot](https://monosnap.com/file/TmYyQSgPYZiz2seWybkOs7XlpEbghQ)

[2018-11-09 14:51] tzanio commented on #662
Closing this -- the issue was 1D mesh support in VisIt, which can be addressed in separate issue, if necessary,

[2018-11-09 14:51] #662 closed

[2018-11-09 14:54] tzanio commented on #670
And you get a DISPLAY error if you just run `./glvis` in the same terminal?

That's very strange...

[2018-11-09 14:55] Skyzerks commented on #670
I run two terminals. The one in the background has the error from the last issue. I didn't rerun it

[2018-11-09 14:58] tzanio commented on #670
Can you try in the same terminal, maybe the environment variables are different for some reason?

[2018-11-09 15:02] Skyzerks commented on #670
It's displayed as a [one process](https://monosnap.com/file/pkeKwSwSH3WhktoIG7DV4btLJ7PX02) in Task manager. And how am I supposed to run GLVis server and type in the command for visualization in the same window? In working condtion they will be in a continouos state.

[2018-11-09 15:17] jakubcerveny commented on #670
I think you need to run ./glvis with the `DISPLAY` variable set, e.g., `DISPLAY=:0 ./glvis`, or export it first in the same terminal and then run glvis.

[2018-11-09 15:32] jakubcerveny commented on #670
The computation program (e.g., `ex1`) doesn't need the `DISPLAY` variable. What's important is that GLVis gets the variable, whether it is run as a server or a single visualization command. But there may be something else, I've never tried this on Windows.

[2018-11-09 15:35] Skyzerks commented on #670
I'm using "Ubuntu Subsystem for Windows".

[2018-11-09 17:57] gsosajones commented on #653
Hi Tzanio,

Yes, thank you, I think I am doing okay so far. You can close the thread now.

Best,
Giselle

[2018-11-09 20:39] v-dobrev commented on #655
Okay, let's just disallow the copy construction and copy assignment in class `LinearForm` (and similar classes like `ParLinearForm`, `BilinearForm`, etc). Later, if the need arises, we can implement proper copy constructors and/or copy assignments.

Does this sound reasonable? If so, I'll make the changes in #568.

[2018-11-09 22:19] junkudo opened #671 "Derefinement and nodal finite element spaces"
Hey,
I have some code that performs derefinement on a mesh and tries to update a non-nodal finite element space.  Here's a small working example of what I'm trying to do:
[code]

This code fails an assert statement at:
https://github.com/mfem/mfem/blob/73a4ddfb619fbb05f357c66b0998edca8456a4b2/fem/fespace.cpp#L1036

It looks like I can't currently perform derefinement and update non-nodal finite el

[2018-11-12 18:37] pratyuksh opened #672 "Printing a HypreParMatrix"
Hello,

That might be a very stupid question: how does one print a HypreParMatrix? I have not been able to figure it out. Please let me know. Thanks.

[2018-11-12 18:53] mlstowell commented on #672
Hi, @pratyuksh ,

This is not a stupid question at all.  Most of MFEM's classes write to an `ostream` object but Hypre objects are different.  These take `char*` strings and use them to build output file names. A HypreParMatrix will take the string that you give it and append the processor ID to create a unique filename for each processor.  For example if you want to write to files named "my_mat.*

[2018-11-13 05:38] stefanozampini commented on #651
Being a shell matrix, you need N matrix vector products to compute all the entries (required by MUMPS)

[2018-11-13 05:41] stefanozampini commented on #644
@v-dobrev The branch is ready (except for the `OLD` thing that I put there just for you to easily test the two cases :-) ). I'll open a PR as soon as I have some time (probably later in the week)

[2018-11-13 06:36] qiuchangkai commented on #651
Hi @stefanozampini ,

As you suggested, I first call

    PetscParMatrix *convMat = new PetscParMatrix(MPI_COMM_WORLD,A.Ptr(),Operator::PETSC_MATAIJ);

to obtain the matrix in `PetscParMatrix` format.

Then, either

     petscsolver.SetOperator(*convMat, *convMat);

or

    ksp = (KSP)(petscsolver);

    KSPSetOperators(ksp,Mat(*convMat),Mat(*convMat));

won't work. Could you show me the pseudo co

[2018-11-13 10:02] pratyuksh commented on #672
@mlstowell Thanks a lot, nicely explained. :)

[2018-11-13 12:05] pratyuksh commented on #672
A brief question to complete this thread, how does one create a _copy_ of a given HypreParMatrix?

[2018-11-13 18:23] v-dobrev commented on #644
Excellent! Thanks Stefano!

[2018-11-13 18:32] mlstowell commented on #672
Hi, @pratyuksh ,
This is not an operation that we encourage.  We have constructors that take CSR data structures and create a new `HypreParMatrix` from them but these constructors typically share some of those data structures so they don't actually form a copy.  It's also not easy to obtain the necessary data structures from an existing `HypreParMatrix` even if you wanted to copy the necessary arr

[2018-11-13 19:05] v-dobrev commented on #672
Another option is to use the function `Add`:
https://github.com/mfem/mfem/blob/668a7cc3b99d3f376999909913516284b963f532/linalg/hypre.hpp#L490-L494
with the same `A` and `B` and `alpha = 1.0`, `beta = 0.0`.

[2018-11-13 19:43] mlstowell commented on #672
I considered suggesting `Add` but I wasn't sure about the `col_map_offd` requirement.  Does this imply that the sparsity pattern of `B` has already been set?

[2018-11-13 20:07] v-dobrev commented on #671
Hi @junkudo,

You should be able to update the space using `fes.Update(false)`. However, using `want_transform = false` (the parameter of `Update()`) means that you will not be able to update (coarsen) any `GridFunction`s which may or may not be an issue, depending on your use case. For example, if you are going to solve the problem again on the coarse mesh then you do not need to update/coarsen a

[2018-11-13 20:12] v-dobrev commented on #672
@mlstowell, `A` and `B` in this case are the same `HypreParMatrix` (the original), so the conditions to use `Add` are satisfied.

[2018-11-13 20:41] mlstowell commented on #672
Oh, I see.  That's a good trick.

[2018-11-14 22:01] nickwhitman1993 commented on #668
@jandrej - my thoughts are the following:

I can not assert that I only use this treatment on faces such that my direction vector, lambda, dotted into the face normal vector is > 0. Maybe I can loop over the boundary faces and test for if that case is true?

Additionally, it looks like my robin condition is a tad different, whereas I need to do:

lambda dot grad u + a u = constant

So really, it w

[2018-11-14 22:11] pratyuksh commented on #672
@mlstowell @v-dobrev Thank you very much for the tips.

[2018-11-15 03:15] qiuchangkai commented on #651
Hi @stefanozampini ,

Could you please help me about this issue? I want to use MUMPS through PETSc to verify my solutions.

I am still working on a problem like `ex21p` with Dirichlet boundary condition `E=E0,` where `E0` is the electric field on the boundary. I set up the coefficient matrix (and rhs vector) correctly.

Currently, the residual by `FGMRESSolver` will drop below the preset tolerance

[2018-11-15 06:04] jandrej commented on #668
Sorry I don't understand that.

Maybe it can help if you explain what the physical meaning is for your problem that you want this boundary condition for.

[2018-11-15 20:59] delcmo opened #673 "Flux limiter - compute average value within each element"
Hi,

I want to implement a flux limiter method to numerically solve non-linear scalar hyperbolic equation using DG. The flux limiter is function of the mean values computed in a mesh element and its neighbors, and yield a value at each face that is used to compute the numerical flux (approximate Riemann solver).

I have two questions:

1) The average value of the solution within a mesh element can

[2018-11-16 17:04] rcarson3 opened #676 "Possible need for a QuadratureFunction type class for matrices/arrays?"
I've currently noticed while working on some development work related to the Exaconstit-dev branch that working with matrices/arrays that lie at quadrature points can be a little awkward. You really need to make sure that you know whether or not you stored the data either in column or row-major order at the quadrature level. In my mind, it would be nice to have possibly a child class of Quadrature

[2018-11-16 20:20] nickwhitman1993 commented on #668
Sorry - so the physical problem I am solving is a neutron transport equation. This particular form is called the Self-Adjoint Form, which is a second order (spatially) equation and is derived from the first order equation. In the first order transport equation and in the second form, the incoming source from the boundary is the defined the same way. I already have this in the form of a BoundaryFlo

[2018-11-16 23:14] jdahm commented on #673
`GridFunction::GetElementAverages(GridFunction& avgs)` returns elemental averages in `avgs`. It includes a note that both FESpaces should be scalar and on the same mesh.

There is also `GridFunction::ComputeMeans()` that from a quick glance seems to compute discrete averages into `*this`.

`FaceElementTransformation` contains the element number in `ElementTransformation::ElementNo` for `Elem1` and

[2018-11-17 01:17] v-dobrev commented on #668
Hi @nickwhitman1993,

Are you asking about implementing the last term in (17) and the last term in (18)?

[2018-11-17 01:57] Skyzerks opened #677 "Circular 2D Mesh Creation Issues"
Hello.
I'm having a problem with creating a 2D circular mesh, similar to [this](https://monosnap.com/file/ZH8BTyBsquwLh9Mr9LZeG2EajHZWxE). I don't understand which of [these](http://mfem.org/mesh-formats) are more suited to make the desired mesh.
And also are there any mesh generators which can generate meshes that are compatible with MFEM?
Thanks~

[2018-11-17 01:58] nickwhitman1993 commented on #668
@v-dobrev Before I continue, I want to make sure I mention that I have a verified version of the first-order transport equation in MFEM which is the gray solution above. The derivation of the second order Galerkin weak form uses many of the same terms as the first order equation.

With that being said, I believe the term in (17) is taken care of with two DGTraceIntegrators (at least this was the w

[2018-11-17 05:48] v-dobrev commented on #668
@nickwhitman1993,

I'm sorry to be blunt here, but do you know what linear and/or bilinear forms you need in order to discretize your problem?

If you are not certain and that is what you are trying to figure out, then it is unfair to expect MFEM developers to help you figure it out. We try to help people with simple PDE discretization questions, however your questions are quite long and require u

[2018-11-17 06:35] nickwhitman1993 commented on #668
@v-dobrev

Yes, I do know what linear and bilinear forms I need and have done my best to avoid asking for help. I don't expect anyone to help me figure it out. I apologize if I come across that way, as that is not my intention.

I have already received assistance on the custom linear form integrator that I needed for <\Omega\cdot\nabla\psi*, _____>, which was greatly appreciated. My questions abov

[2018-11-17 08:00] jandrej commented on #677
See [http://mfem.org/meshing](http://mfem.org/meshing). You can create a circular mesh with GMSH which is free and the format can be loaded directly.

[2018-11-17 08:09] jandrej commented on #668
I guess I won't be able to help to derive your form needs, but regarding

If I understand correctly, you don't know if your implementation is solving the equation that you defined on paper, so you should read up on the Method of Manufactured Soltutions in [https://www.osti.gov/biblio/759450](https://www.osti.gov/biblio/759450).

[2018-11-17 17:15] Skyzerks commented on #677
So, the meshes, created in GMSH, can be directly used in MFEM?

[2018-11-17 21:54] v-dobrev commented on #668
Hi @nickwhitman1993,

Imposing boundary conditions can be done using 2 approaches:
* essential b.c. - in this case values of a discretized field are plugged directly into the discritized system
* weakly imposed b.c. - in this case the linear form (rhs) and/or the bilinear form (the matrix of the system) are modified by adding additional terms.

In standard diffusion discretization (using continuou

[2018-11-17 22:48] v-dobrev commented on #677
Yes, Gmsh meshes can be used directly in MFEM. There are some restrictions, though, e.g. currently, only linear elements are supported.

[2018-11-17 23:54] tzanio commented on #677
In addition to Gmsh, you can also use [Netgen](https://ngsolve.org/) to define such a mesh.

Here is an example, generated with [this input file](https://github.com/tehnick/elmerfem/blob/master/ElmerGUI/samples/in2d/circle.in2d).

![glvis_s01](https://user-images.githubusercontent.com/1278247/48666973-ff048580-ea80-11e8-87bd-db9aee240caa.png)

You will also need [this script](https://github.com/mf

[2018-11-17 23:57] #672 closed

[2018-11-18 00:14] Skyzerks commented on #677
@tzanio how does this string work?
`ng2d_new2old.sh test-netgen-output test.mesh`
So [ng2d_new2old.sh](https://github.com/mfem/mfem/issues/107) is the file that does the convertion,
test-netgen-output is the command that does the convertion,
and the [test.mesh](https://github.com/tehnick/elmerfem/blob/master/ElmerGUI/samples/in2d/circle.in2d) is the file used for conversion?
But to do this I need

[2018-11-18 00:19] tzanio commented on #677
1. Install Netgen
2. Give it the `circle.in2d`  with `Load Geometry`
3. Click on `Generate Mesh`
4. Save the mesh to `circle.ngmesh` with `File/Export Mesh`
5. Convert with `ng2d_new2old.sh circle.ngmesh circle.mesh`

[2018-11-18 00:30] v-dobrev commented on #666
Hi @vikramsg,

Is this type of b.c. imposed as a constraint to the system? For example, if `i` is the index of a boundary dof and `j1` and `j2` are the indices of the two red dofs between which dof `i` falls when extended into the domain in normal direction, then you want to impose the constraint `sol(i) = a1*sol(j1) + a2*sol(j2)` where `a1` and `a2` are some weights. If this is the case, MFEM cur

[2018-11-18 02:24] Skyzerks commented on #677
I created a mesh using GMSH. But the I get this error when i try use it as it was generated from GMSH:
[code]
I need to convert it to MFEM version for it to be recognized, right?
Here is the .msh file
[circle_simple.txt](https://github.com/mfem/mfem/files/2592460/circle_simple.txt)
 that i've tried to test. It looks like [this](https://monosnap.com/file/OprIpCCwXSNLMVSlT8oCEC37X6xGY3) in GMSH.
I d

[2018-11-18 18:29] Skyzerks commented on #677
Using [issue #518](https://github.com/mfem/mfem/issues/518), i've tried to visualize the mesh. But I got the same error as a result.
[code]

[2018-11-18 19:50] tzanio commented on #677
Unfortunately this looks like a new version of the Gmsh format that we do not support yet.

Can you try saving in the "Version 2 ASCII" format, following https://github.com/mfem/mfem/issues/518#issuecomment-401987021?

Alternatively you can try translating between the [version 4](http://gmsh.info/doc/texinfo/gmsh.html#MSH-file-format-_0028version-4_0029) and [version 2](http://gmsh.info/doc/texinf

[2018-11-18 20:20] tzanio opened #678 "Update support for Gmsh, VTK, Netgen, etc. mesh formata"
MFEM needs updated support for the following mesh formats which have released newer versions:

- [ ] **Gmsh**: update from  version 2 to version 4
- [ ] **VTK**: add support for the new XML high-order format
- [ ] **Netgen**: update from version 1 to version 2

More details are provided in the sections below.

Any help from @mfem/contributors and @mfem/users  will be appreciated!

### Gmsh
- We ar

[2018-11-18 20:35] Skyzerks commented on #677
I've done an [export ](https://monosnap.com/file/edPmJrefjJMGWvcEpVMszzpW1hZn7p) into a .mesh (Mesh - INRIA Medit) file. And the result is this
[circle_simple.txt](https://github.com/mfem/mfem/files/2593201/circle_simple.txt).
But MFEM doesn't recognize this format, although it seems more close to those meshes I saw in MFEM data folder. The only problem is that I don't know what should I modify fo

[2018-11-18 20:37] tzanio commented on #666
Hi Vikram,

I have also been trying to think about this, and I also have struggled to find a natural way to describe these conditions.

If you really are OK with imposing them on the reference element, then that is certainly doable and just a question of handling all the cases of which face is the boundary and constructing the corresponding dof map, using the fixed reference element numbering.

Fo

[2018-11-18 20:48] tzanio commented on #677
This is not a format we support directly, but here is its edited version in the (low-order) mfem mesh 1.0 format: [circle_simple.mesh.txt](https://github.com/mfem/mfem/files/2593216/circle_simple.mesh.txt).

[2018-11-18 21:01] Skyzerks commented on #677
Yes! The visualization [worked](https://monosnap.com/file/9LcDi3xtQ9Pv5Umseh0YnNVjQgf5Hi).
And using example 1 to test the mesh also [worked](https://monosnap.com/file/5shsjYEeevFZslXgwdfOi34jlHLMN2).
Although it's needed to edit the file, at least it works!
Also, I have a question about creating my own example to operate on the mesh. Where can I find some documentation on how to get a quick start

[2018-11-19 01:01] rcarson3 opened #679 "Recommended ways to output QuadratureFunction data to Visit using VisitDataCollection?"
I'm currently trying to output some scalar simulation data that lie at quadrature points using ```VisitDataCollection``` to later visualize them in Visit. It appears based on the ```VisitDataCollection``` class that only nodal data is supported. I've used Equation 13: [https://doi.org/10.1016/0168-874X(94)00054-J](https://doi.org/10.1016/0168-874X(94)00054-J) in the past to project quadrature data

[2018-11-19 02:29] tzanio commented on #677
The best thing is to start with one of the [examples](http://mfem.org/examples/) and modify according to your needs. See the [FEM documentation](http://mfem.org/fem/) if you are new to finite elements.

[2018-11-19 03:44] delcmo commented on #673
Johann,

thanks again for your help.

I had a look at GetElementAverages. Assuming that the solution vector is of
size n (i.e. n degrees of freedom), the GridFunction storing the element
average values is also of size n, even thought I would expect a unique
value per mesh element. I then assumed that the same value is assigned to
each degree of freedom within each mesh element. However, this is no

[2018-11-19 12:15] vikramsg commented on #666
Hi @v-dobrev,

I am not completely sure I understand what you are saying but one thing is that the boundary condition is not a linear function, but depends non-linearly both on the values on the red dofs as well as its distance from the boundary dof.

@tzanio Right now all I have come up with is determining the normal direction at the boundary in the reference element, say at eip. I checked and th

[2018-11-20 00:54] v-dobrev commented on #666
Hi Vikram,

As an example how the physical normal vector can be computed in a DG-type integrator, take a look at this:
https://github.com/mfem/mfem/blob/4cb8d2cbc19aac5528df650b4a41c54158d1d2c2/fem/lininteg.cpp#L498-L505
With this computation, the vector `nor` is orthogonal to the face described by `Tr.Face` but it is not unit (in 2D/3D). The length of `nor` is actually the weight in the change of

[2018-11-20 02:19] delcmo commented on #673
Hi Veselin,

thanks for the explanation. It makes sense.

Marco

On Mon, Nov 19, 2018 at 7:21 PM Veselin Dobrev <notifications@github.com>
wrote:

--
Marc-Olivier Delchini

[2018-11-20 02:42] nickwhitman1993 commented on #668
@v-dobrev It might be a better idea if I look at the custom integrator and see if there are any issues there before we go any deeper.

I have done some manufactured solution tests and the tests that are uniform solutions are solved within 1e-15 if I omit my custom integrator (which is 0 if the solution is uniform). This leads me to believe that _may_ be the source.

I do have some ideas on what yo

[2018-11-20 03:55] v-dobrev commented on #668
@nickwhitman1993, I can take a look at your custom integrator implementation. To do that, I'll need to know the precise definition of the bilinear (or linear) form that you are implementing.

[2018-11-20 04:44] delcmo commented on #673
You can now close this issue.

On Mon, Nov 19, 2018 at 9:19 PM Marco Delchini <marco.delchini@gmail.com>
wrote:

--
Marc-Olivier Delchini

[2018-11-20 06:00] #673 closed

[2018-11-20 06:02] #677 closed

[2018-11-20 21:19] nickwhitman1993 commented on #668
@v-dobrev, I appreciate it.

The linear form I am implementing is as shown above in (18), but in more general terms that are the convention:

(u* + \alpha \vec{\lambda} \cdot \nabla u* , f)

Where alpha is a FunctionCoefficient, Lambda is a VectorFunctionCoefficient, and f is a GridFunctionCoefficient.

I currently split this Linear term into (u*, f) and ( \alpha \vec{\lambda} \cdot \nabla u* , f)

[2018-11-21 04:48] v-dobrev commented on #668
@nickwhitman1993,

Your implementation looks correct to me. One minor thing: the vector `shape` is not really used, so you can remove it from your class.

One potential issue could be the choice of the order of the quadrature rule. For this linear form, it is probably more appropriate to use order similar to the one in `ConvectionIntegrator::AssembleElementMatrix`: https://github.com/mfem/mfem/blo

[2018-11-21 05:50] vikramsg commented on #666
Hi @v-dobrev ,

Yes, now that you have put it this way, I think a ray-tracing algorithm is exactly what I want.  In this case all I would want is the reference element coordinate of the place where the ray exits the element.

[2018-11-23 16:36] e-aranda opened #683 "Dirichlet condition for an elasticity problem"
Hello, I am new at using MFEM and trying to solve an elasticity system imposing Dirichlet boundary values on only one component of the displacement vector, but I can't figure out how to do it. Any help?

Thank you.
Ernesto

[2018-11-23 19:08] jakubcerveny commented on #683
Hi Ernesto, in ex2.cpp, on the line `fespace->GetEssentialTrueDofs`, I think you can pass a third argument (`component`) to only fix the specified component of the displacement.

If you need different components on different boundaries you can call `GetEssentialTrueDofs` for different boundary attributes and then merge the returned DOF lists.

[2018-11-25 00:14] AntoineMazuyer commented on #683
Here is an example.

Context : I have a mesh on which I want to block the displacement in the `x` direction on the boundary with index `4` (east boundary). I also want to block the displacement in `z` (or `y` according to the dimension of the problem) on the boundary with index `3` (bottom boundary).
[code]

I don't know if this is the most straightforward way to do it, but it works

[2018-11-25 06:02] junkudo commented on #671
Hey @v-dobrev - is this functionality in a branch somewhere?

[2018-11-25 07:13] tzanio commented on #671
My apologies -- I closed this before realizing that there is an outstanding TODO item. Feel free to reopen the issue.

[2018-11-25 10:00] jakubcerveny commented on #683
I would probably wrap the functionality to obtain the DOFs into a function and call it twice, and then use Array::Append, but otherwise this looks OK.

[2018-11-26 08:57] e-aranda commented on #683
Thanks, Antoine and Jakub. Another question related to components of vectors (maybe I would have to open a new issue?)

I have a grid function defined on vectorial finite element space:

    FiniteElementSpace *fespace = new FiniteElementSpace(mesh, fec,2);
    VectorFunctionCoefficient velocity(2,InitialVelocity);
    GridFunction u(fespace);
    u.ProjectCoefficient(velocity);

and I want to get

[2018-11-26 10:19] jakubcerveny commented on #683
It will be better to open a new issue.

[2018-11-26 10:27] e-aranda opened #684 "How to get a gridfunction from a vector component"
Hello,

I have a question related to components of vectors:

I have a grid function defined on a vectorial finite element space:

    FiniteElementSpace *fespace = new FiniteElementSpace(mesh, fec,2);
    VectorFunctionCoefficient velocity(2,InitialVelocity);
    GridFunction u(fespace);
    u.ProjectCoefficient(velocity);

and I want to get a grid function of one of its components, I mean, `u = (

[2018-11-26 12:19] #683 closed

[2018-11-26 17:36] jamiebramwell commented on #679
@rcarson3 , could you attach your code for the QuadratureVectorFunctionCoefficient? I have a feeling the problem is that the dimensionality is not set correctly and therefore the projection method fails.

[2018-11-26 18:06] rcarson3 commented on #679
@jamiebramwell  yep you should be able to see the [relevant header file here](https://github.com/mfem/mfem/blob/exaconstit-dev/miniapps/exaconstit/mechanics_coefficient.hpp) and the rest of the implementation [here](https://github.com/mfem/mfem/blob/exaconstit-dev/miniapps/exaconstit/mechanics_coefficient.cpp).

I will say that this is an area that @srwopschall and I believe might be an issue, but

[2018-11-26 23:10] acfisher commented on #676
Yes, I could see something like this being useful.  Can you put together a quick psuedocode interface that captures what you are looking for and I explore the best way to fit it in and discuss it with the team.

[2018-11-26 23:51] jamiebramwell commented on #679
I'm attempting to reproduce your problem, but on first glance it looks like the issue is that `q_vonMises` and `vonMises` are scalars while `vonMisesStress` is a vector. Is that a correct interpretation of your snippet?

[2018-11-27 01:51] v-dobrev commented on #671
Hi @junkudo,

I have not had time to work on this yet. I'll try to do it this week.

[2018-11-27 02:16] v-dobrev commented on #684
Hi @e-aranda,

To copy a single component, you can use a loop like this:
[code]
You can also avoid the copy and just have `v` simply point to the data inside `u` (this is only possible when `fespace` uses the default `Ordering`, `Ordering::byNODES`):
[code]

[2018-11-27 07:56] e-aranda commented on #684
Thanks Veselin.

[2018-11-27 07:56] #684 closed

[2018-11-27 16:54] rcarson3 commented on #679
So, ```vonMises``` , ```q_vonMises```, and ```vonMisesStress``` should all be scalar quantities that either lie at the nodes (```vonMises```) or quadrature points (```q_vonMises``` and ```vonMisesStress```).

I'm curious based on your comment though if these lines:

[code]
are causing the issue. I'm sure this is an issue with me still getting a nice grasp on ```mfem``` but is ```dim``` here not th

[2018-11-27 18:16] jamiebramwell commented on #679
The problem is `QuadratureVectorFunctionCoefficient *vonMisesStress`. If it is a scalar, it should be a plain `QuadratureFunctionCoefficient`. I am guessing the error comes from trying to project this vector coefficient onto a scalar `ParGridFunction`. Unfortunately, we don't have this is in the plain MFEM release, but it should be easy to implement. It would be similar to your `QuadratureVectorFu

[2018-11-27 19:15] rcarson3 commented on #676
So here's a rough sketch for what I was thinking that at least initially would be nice to have just to make handling the data a little nicer. Also, I can imagine there being various variations of the below as well.

[code]

I'm sure some additional utility functions might be useful to have as well like a way to reshape the dimensions of the tensor while preserving the data itself. So, you'd need t

[2018-11-27 19:17] rcarson3 commented on #679
Okay thanks! I'll definitely try your suggestion out and see if things work.

[2018-11-27 20:49] junkudo opened #685 "Unexpected behavior with Mesh::ReorderElements() and mfem::IsoparametricTransformation::GetPointMat()"
Hey,
I have a snippet of code that loads up a mfem provided high-order mesh and looks at a single element transformation's point matrix before and after reordering.  I expect the resulting matrix to contain the same set of points :
[code]

However, I'm getting the following output :
[code]
which plotted, looks like..
![image](https://user-images.githubusercontent.com/1308006/49110418-4ab5ec80-f242

[2018-11-28 03:55] v-dobrev commented on #671
Hi @junkudo,

I just created a branch where I added support for derefinement of RT spaces - it is called [derefine-vector-spaces](https://github.com/mfem/mfem/tree/derefine-vector-spaces). Give it a try and let me know if you run into any issues.

[2018-11-28 03:57] v-dobrev commented on #655
I believe this issue was resolved in #568 which is now merged.

[2018-11-28 03:57] #655 closed

[2018-11-28 04:32] junkudo commented on #685
I'm fairly certain I tried this in my frenzy of attempting different
things.  I'll confirm tomorrow.

On Tue, Nov 27, 2018 at 8:21 PM Veselin Dobrev <notifications@github.com>
wrote:

[2018-11-28 04:33] junkudo commented on #671
Okay.  Will let you know.

On Tue, Nov 27, 2018 at 7:55 PM Veselin Dobrev <notifications@github.com>
wrote:

[2018-11-28 05:18] v-dobrev commented on #685
Actually, there is a bug in `Mesh::ReorderElements`. I created a branch, `mesh-reorder-elem-fix`, and PR (#686) with a fix.

[2018-11-28 18:43] junkudo commented on #685
This seems to work for me in both my little test-case and my larger actual use case.  Thanks!  When can I expect this change to be merged into master?  (And then when can I expect to see a new version of mfem after this merge?)

[2018-11-28 18:44] #685 closed

[2018-11-28 18:53] tzanio commented on #685
In about a week, see https://github.com/mfem/mfem/blob/master/CONTRIBUTING.md#masternext-workflow

We are currently planning the next release to be mfem-4.0, which will be a major release in the first half of 2019. Let us know if you do need an official release before that.

[2018-11-28 23:08] junkudo commented on #671
Yeah.  This seems to work properly for my application now.  Let me know when the branch is merged into master!

[2018-11-28 23:08] #671 closed

[2018-11-29 10:21] aschaf opened #688 "Non-conforming Tetrahedral meshes"
Is there any ongoing/planned work on extending the `NCMesh` and `ParNCMesh` classes to the case of tetrahedral meshes?

[2018-11-29 17:16] e-aranda opened #689 "Linear form in H^1_0"

[2018-11-29 19:12] junkudo opened #690 "Constructing a mfem::HypreParVector"
Hey,
I'm trying to create a mfem::HypreParVector using the constructor:
https://github.com/mfem/mfem/blob/87f86d45c927ad5fa001a82c96ec29ca0def37ff/linalg/hypre.hpp#L87-L89

Following the comment, I tried the following with two processors :
[code]

I expected processor 0 to have a vector of size 3 and processor 1 to have a vector of size 7.  Instead I saw:
[code]

When I dug into an example that us

[2018-11-29 19:47] mlstowell commented on #690
Hi, @junkudo ,

Originally, Hypre defined this array to have a length equal to the number of processors plus one and they filled it just as you tried to do.  However, this approach is not scalable so at some point they redefined how this array should be filled.  Hypre still supports both methods and so does MFEM.  I believe the choice must be made when compiling the Hypre library.

The new scheme

[2018-11-29 20:14] junkudo commented on #690
Thanks Mark.  I figured it was something like this and really just wanted confirmation that I wasn't silently creating an improper `mfem::HyperParVector`!

[2018-11-29 22:30] mlstowell commented on #690
Just created a pull request #691 to address this issue.  @junkudo , feel free to close this issue if you're satisfied.

[2018-11-29 23:35] v-dobrev commented on #689
Hi Ernesto,

As an alternative to your approach, the non-linear diffusion operator that you have can be expressed in MFEM as a `NonlinearForm` where you need to define the appropriate `NonlinearFormIntegrator`. If you are mainly interested in the action of the operator, your `NonlinearFormIntegrator` just needs to define the virtual method `AssembleElementVector`. The implementation will be simila

[2018-11-30 00:39] #690 closed

[2018-11-30 08:37] e-aranda commented on #689
Thank you Mark and Veselin,

with respect to imposing zero boundary conditions, I have multiplied by a `GridFunction` which is 1. inside the domain and 0. on the boundary and it works (I don't know if it is better solution than creating the linear system and then multiplying by the matrix).

The Marks' suggestion about writing the linear form as $(-\nabla \cdot \vec{f}) v$ does not work for me bec

[2018-11-30 09:19] jakubcerveny commented on #688
Not at the moment. In the near future we do plan to add support for mixed meshes (hexes+prisms) in NCMesh. We could possibly support tets as part of that too, but we need to think how to do AMR correctly on such meshes.

[2018-11-30 23:05] tzanio commented on #654
Thank you @goxberry.

We acknowledge that this is an issue and are working to document ownership and its changes on a case-by-case basis.

[2018-11-30 23:11] tzanio commented on #688
@aschaf can you provide more details why you are interested in such capability?

Our assumption has been that for tet-only meshes conforming refinement is preferable, but maybe we are using your use case...

[2018-11-30 23:49] tzanio commented on #679
@rcarson3, were you able to resolve this?

If I understand correctly, you can just project your vector coefficient onto a vector grid function, e.g. by changing  `l2_fes` to be (notice the last argument):

[code]

Alternatively you can extract each component as a scalar coefficient and project those separately.

Also, @kennyweiss has been working on visualizing point cloud data directly, so in the

[2018-12-01 00:00] v-dobrev commented on #654
@tzanio, I already documented the pointer ownerships in the classes `(Par)LinearForm`, `(Par)BilinearForm` in #568, however, I'd like to keep this issue open to remind me, that there are other places where this still needs to be done.

[2018-12-01 01:00] rcarson3 commented on #679
@tzanio I haven't had the chance to try since my last reply. The UMAT support for ExaConstit that we'd mentioned about a few weeks ago in that offline ExaConstit discussion has been drawing most of my attention this week. @srwopschall has been working on this a bit more, and he might be able to weigh in if the above suggestions ended up working.

[2018-12-01 02:17] uvilla commented on #610
Does `MFEM` still need to support compilers that do not implement the C++11 standard?

If C++11 is a requirement, I can easily adapt this class to work with `MFEM`:
https://github.com/hippylib/hippylib/tree/master/hippylib/utils/cpp_rand

Other options are to use external libraries for parallel RNG, such as [Tina's RNG](https://www.numbercrunch.de/trng/). This was used in [ParElagMG](https://githu

[2018-12-03 09:33] aschaf commented on #688
@tzanio I'm interested mostly because of parallelization, as load balancing is only available for non-conforming meshes.

A second reason would be to see the performance of the non-conforming refinement in comparison with the conforming one, e.g. in terms of timings, memory consumption, approximation quality, etc..

I already did some work on extending `NCMesh` to 4D simplical meshes. It works, bu

[2018-12-03 17:15] #644 closed

[2018-12-03 19:40] kennyweiss commented on #679
This is something that I am hoping to return to in the next few months.  I can prioritize it if there is external interest.  Please let me know.

[2018-12-03 22:19] nickwhitman1993 commented on #668
@v-dobrev

Thank you very much for the feedback. I made some minor changes to the quadrature rule. Not much changed, as I assumed would probably happen unfortunately.

I had a chat with my adviser and we both agreed that a mixed boundary condition is what we are needing.

The term is < [\vec{\alpha} \cdot \nabla v + \beta v - \gamma], u>.
Similar to BoundaryFlowIntegrator, we would need to test fo

[2018-12-04 01:50] v-dobrev commented on #668
In the term `< [\vec{\alpha} \cdot \nabla v + \beta v - \gamma], u>`, is the integration over all boundary faces where `\vec{alpha}.n > 0`?

In the same term, I see two separate terms: 1) a bilinear term involving both `v` (trial function) and `u` (test function) which I assume needs to be added to a `BilinearForm`, and 2) the term `<\gamma, u>` that involves only the test function `u` (`\gamma` i

[2018-12-04 02:04] nickwhitman1993 commented on #668
@v-dobrev

Yes, these are on all boundary faces such that `\vec{alpha}.n > 0.`

I believe that your understanding is correct.

[2018-12-04 18:46] e-aranda opened #692 "vector"

[2018-12-04 18:47] #692 closed

[2018-12-04 22:54] junkudo commented on #449
Hey @tzanio,
Is this something being looked at all in the near future?
CC @Dan2997925

[2018-12-05 00:09] tzanio commented on #449
@jakubcerveny, is this on your plan?

[2018-12-05 20:50] tzanio commented on #449
Lets add it if you don't mind, I think it will be a useful feature.

[2018-12-05 21:15] v-dobrev commented on #671
I just created one - see above - thanks for reminding us.

[2018-12-05 22:54] tzanio commented on #679
Thanks @kennyweiss, this will be a really nice feature to have!

[2018-12-05 22:54] #679 closed

[2018-12-05 23:08] tzanio commented on #610
We will likely switch to C++11 before the next release. Better random number generation can be another reason for that.

[2018-12-06 02:18] junkudo opened #695 "Computing the bounding box of an element"
Hey,
I have hopefully what's a pretty simple question.  I'm interested in computing the bounding box of a (potentially higher-order) element.  What's the best way to do that in MFEM?
Thanks!

[2018-12-06 04:36] uvilla commented on #610
Thanks @tzanio,

I’ll start a PR in the next week or so, so that we can start the discussion.

[2018-12-06 16:38] cjoycd opened #696 "Axi-symmetric support"
Dear all,

Is there axis-symmetric co-ordinate (Cylindrical  #-- RZ) support readily available in MFEM library.
Please suggest.

[2018-12-06 16:52] tzanio commented on #695
For high-order elements computing the bounding box is actually not trivial.

One approach is to compute the bounding box on a lattice of points in reference space that is transformed with the element transformation. For very curved elements this may not be exact, but the accuracy approves with the lattice refinement level. See https://github.com/mfem/mfem/blob/903d51e78fab387f2d6c72bb3eed108bc0fd9

[2018-12-06 16:57] tzanio commented on #696
Hi @cjoycd,

There is no simple user-level support for axisymmetric problems, but switching to an axisymmetric formulation is usually not hard -- you have to add the "2 pi r" factors in the bilinear form integrator's Coefficient and transform derivatives appropriately, see for example this paper: https://computation.llnl.gov/projects/blast/CF-12.pdf.

Hope this helps,
Tzanio

[2018-12-06 16:57] Dan2997925 commented on #695
Does it need to be a box? Is the box aligned with (x,y,z) coord system? Depending upon the application a bounding sphere may work, center of sphere is center of the element, radius of sphere is determined by evaluating the physical coordinates of the vertices and taking the one which is farthest away. If you then really need a box, tyou

[2018-12-06 16:58] Dan2997925 commented on #695
Ug wasn't finished typing.....
Can then find a box that fits the sphere

[2018-12-06 17:55] kennyweiss commented on #695
Elaborating a bit on the second part of @tzanio's answer: The element is contained within the convex hull of its nodes (control points) in the Bernstein basis.  These bases are referred to as ``Positive`` bases in mfem.

So, one approach would be to project the element into a Bernstein basis and then process the element's nodes.  By taking the min and max coordinates of an element's nodes, you can

[2018-12-07 00:45] cjoycd commented on #696
Thanks !, Infact I was particularly interested in the axisymmetric
implementation of the "laghos" miniapp. I will go through the paper.

Regards

On Thu, Dec 6, 2018, 10:27 PM Tzanio Kolev <notifications@github.com wrote:

[2018-12-07 00:53] #696 closed

[2018-12-09 12:35] cjoycd commented on #696
Hi,

Is it planned to implement axisymmetric element support in MFEM in near
future ?

Regarding your answer to modify the coefficients in BilinearForm
Integrators, Can you please more specific in which functions/class it has
to be done, so that the modifications/changes can be a general one for the
users.

Regards

On Thu, Dec 6, 2018, 10:27 PM Tzanio Kolev <notifications@github.com wrote:

[2018-12-10 03:15] cjoycd commented on #696
Dear Mark,
Ok, Thanks!. I am interested in implementing the axisymmetric version of
Laghos using the paper Tzanio mentioned in two temp model for laser driven
dynamics. There, I have to modify the mass & force matrix and to include
few additional terms in artificial viscosity. I was wondering, at least for
this purpose, can we have separate routines defined for mass & force matrix
assembly in whic

[2018-12-11 19:55] tzanio commented on #594
Unit tests are now part of the repo:

https://github.com/mfem/mfem/tree/master/tests

Please feel free to contribute new ones.

[2018-12-12 16:06] tzanio commented on #695
@junkudo: was this useful? do you have any follow-on questions?

[2018-12-12 16:07] tzanio commented on #676
Closing this in anticipation of a more detailed discussion in an upcoming PR.

[2018-12-12 16:07] #676 closed

[2018-12-12 16:08] tzanio commented on #666
@vikramsg, were you able to come up with a solution, or is this still an open issue for you?

[2018-12-12 16:15] tzanio commented on #689
Hi Ernesto,

I can think of a nonlinear form as a bilinear form with a coefficient that depends on the input, in your case the bilinear form is just diffusion, and the coefficient is "\frac{1}{\sqrt{1+|\nabla u|^2}".

Linear forms produce vectors (right-hand sides), so if you need a matrix you can't use that.

Depending on your application you have two options: 1) use an old value of u in the coef

[2018-12-12 18:18] e-aranda commented on #689
Thanks Tzanio,

I have used the first option you comment: create a coefficient  "\frac{1}{\sqrt{1+|\nabla u|^2}" and then build a matrix with a DiffussionIntegrator. But as I want a vector, then I have to multiply the matrix by u.

Regards,
Ernesto

[2018-12-12 21:06] junkudo commented on #695
Yeah this was helpful. Thanks!

On Wed, Dec 12, 2018, 8:06 AM Tzanio Kolev <notifications@github.com wrote:

[2018-12-12 21:10] tzanio commented on #695
Great!

I'll close this now, but please let us know if you have additional questions.

Also, feel free to suggest a PR if you write something that could be of general interest (e.g. bounding sphere or convex set).

[2018-12-12 21:10] #695 closed

[2018-12-12 21:15] tzanio commented on #689
If you really don't need to solve a system with `a` in your code above, but just need to compute `x` given `u`, then a `LinearForm` could indeed be a better choice.

As you said, you will need to add a `LinearFormIntegrator` for $(\vec{f},\nabla v)$. This is totally doable and you can probably do it yourself if you study `DiffussionIntegrator` and `DomainLFIntegrator`.

[2018-12-14 00:54] #651 closed

[2018-12-15 13:26] skarden86 opened #698 "parallel building METIS error"
Dear developer,

following parallel building instruction, after command
make parallel -j MFEM_USE_METIS_5=YES METIS_DIR=@MFEM_DIR@/../metis-5.1.0

I got next make an error, probably from metis-5.1.0/include/metis.h

c fem/staticcond.cpp -o fem/staticcond.o
mpicxx   -O3 -I./../hypre-2.11.2/src/hypre/include -I./../metis-5.1.0/include  -c fem/tmop.cpp -o fem/tmop.o
mesh/mesh.cpp: In member function

[2018-12-15 19:02] e-aranda opened #699 "Computing a coefficient"
Sorry, I think this is a simple question but I am not able to find how to do it.

I know how define a coefficient of the form $f(u) = \sqrt{1+|\nabla u|^2}$, defining the Eval method:

[code]

However, I don't know how to define something like $f(u) = u^2$. or any other scalar expression. Could anybody show me which is the right Eval method?

Thanks,
Ernesto

[2018-12-16 19:43] tzanio commented on #699
Use the `GetValue` method of `GridFunction`, e.g.

[code]

[2018-12-16 19:58] tzanio commented on #698
Thanks for reporting this @skarden86.

It looks like we need to add explicit conversion to `(idx_t *)` to more of the arguments in our METIS calls in `Mesh::GeneratePartitioning`.

Usually this is not an issue because `idx_t` is just `int`, but in your build it is `long int`. (Probably because you set `IDXTYPEWIDTH` to 64?)

If this is not critical, you can just rebuild METIS with `IDXTYPEWIDTH  3

[2018-12-17 11:22] vikramsg commented on #666
Hi @tzanio ,

Sorry for not replying. I did not actually figure out a better solution. I will close this for now, but hopefully some kind of feature for raytracing is introduced.

[2018-12-17 11:22] #666 closed

[2018-12-17 21:57] nickwhitman1993 commented on #668
@v-dobrev

Just checking back in to see if you have had a chance to think about this.

[2018-12-18 10:47] ztdepztdep opened #701 "I want to use mfem as a adaptive mesher for my FVM code"
Dear group:
   Could you please give me some suggestions about how to extract the grid infors(cell centers, face center, etc.) from the mfem. so i can use it for my fvm code.
   Regards

[2018-12-18 16:08] e-aranda commented on #699
Many thanks!!

[2018-12-18 16:08] #699 closed

[2018-12-18 16:49] jakubcerveny commented on #701
Are you interested in regular (conforming) meshes or non-conforming (hanging node) meshes?

[2018-12-18 17:58] rajpradi opened #702 "MFEM periodic mesh usage in linear elasticity example"
Hello,

I am unable to run periodic meshes in linear elasticity example (ex2). Can anyone please help me how to use linear elasticity example (ex2) for periodic meshes?

[2018-12-18 20:56] ztdepztdep commented on #701
Dear sir:
     I need to perform local refinement, so non-conforming meshes is a good choice.

[2018-12-19 05:10] mlstowell commented on #702
Hello, @rajpradi ,

Example 2 has rather particular requirements for its mesh, see the comments at the top of the file.  Does your periodic mesh meet these requirements?

Best wishes,
Mark

[2018-12-19 08:31] jakubcerveny commented on #701
We can locally refine in both cases: for triangles and tetrehedra we do bisection (we make sure there's enough bisections to keep the mesh conforming), for quads and hexes we do hanging nodes through the internal NCMesh class.

Extracting the complete geometry and topology of the mesh may not be trivial but is definitely possible. Look at the `Mesh` class and functions like `GetVertex`, `GetElemen

[2018-12-19 08:59] enjoh opened #704 "Behaviour of BlockOperator when blocks are not set explicitly"
I have a question about the BlockOperator class.
In the header file it says  'If a block is not set, it is assumed to be a zero block' and my understanding of this sentence would be that said block is set to all zeros , but it seems that when a block is not set explicitly, it is just NULL.
Is this a bug or a wrong understanding of the description?

Thanks in advance!

[2018-12-19 12:03] ztdepztdep commented on #701
thank you , i will have a try. when i get progress, i will let you know.

[2018-12-19 15:01] mlstowell commented on #704
Hi, @enjoh ,

We generally think in terms of sparse operators which only store data for non-zero entries.  Therefore, if an entire block is zero there's no reason to explicitly set its entries to zero because those entries simply don't exist in the sparsity pattern.  When the block operator is applied, either via `Mult` or `MultTranspose`, any NULL blocks are skipped which has the same effect as m

[2018-12-19 15:12] jakubcerveny commented on #701
I'll close this now but feel free to reopen with more questions.

[2018-12-19 15:12] #701 closed

[2018-12-21 04:45] ztdepztdep opened #705 "Does mfem support refine a seperare cell with a tag ."
Dear sir:
      ThresholdRefiner use the error estimator to refine the mesh. I want to refine some cell which is tagged by some user defined indicator. How to obtain this goal.
   Regards

[2018-12-21 04:46] v-dobrev commented on #668
Here are some general directions:
* For the term `< [\vec{\alpha} \cdot \nabla v + \beta v, u>`, create a new class derived from `BilinearFormIntegrator` and implement its method `AssembleFaceMatrix`. For examples of this type of integrators, see the classes `DGTraceIntegrator` and `DGDiffusionIntegrator` - they should have all the components you need. Since you are only interested to use this for

[2018-12-21 04:56] v-dobrev commented on #705
The class `ThresholdRefiner` defines an array of marked elements and calls `Mesh::GeneralRefinement`. You can create your own array of marked elements and then call `Mesh::GeneralRefinement` directly.

[2018-12-21 09:19] ztdepztdep commented on #705
thank you. I will have a try.

[2018-12-21 10:35] ztdepztdep commented on #705
I met "segmentation fault " error.  I have declared a marked_elements in my code, The following is my code.
`    Array<Refinement> marked_elements(Ncell);
    for (int l = 0; l <Ncell; l++)
      marked_elements[l]=(l,'111');
    mesh->GeneralRefinement(marked_elements);`

  I do not know how to find the error.  But the error should be located in the "  mesh->GeneralRefinement(marked_elements);".

[2018-12-21 10:47] jakubcerveny commented on #705
The problem is most likely the statement `marked_elements[l]=(l,'111');` (does that actually compile?) You should do `marked_elements[l] = Refinement(l, 7);` Better yet, you can use the simpler interface that takes an `Array<int>`, which is a simple list of indices of elements to refine.

[2018-12-21 11:08] ztdepztdep commented on #705
Thanks, I have generated my first adaptive refined-mesh successfully. I have been tried several packages:SAMRAI, BOXLIB, AMREX,P4est, and finally, i have got my favorite one MFEM.  LOL.
   This is my first step toward my adaptive-FVM code for the solidification problems based on the phase-field method.

[2018-12-21 11:10] ztdepztdep commented on #705
By the way, if my geometries have curved boundary, will the refinement process take care of it. or just put a point in the middle of two neighboring points.

[2018-12-21 11:35] jakubcerveny commented on #705
Curved meshes are handled correctly (see e.g. the MFEM logo).

[2018-12-21 11:40] ztdepztdep commented on #705
thanks, i will collect the mesh info for my FVM computation.

[2018-12-21 13:34] jakubcerveny commented on #705
Derefinement is more tricky and requires some kind of per-element error estimate. You can use the class `ThresholdDerefiner` or the more low-level function `Mesh::DerefineByError`. The latter derefines groups of elements whose sum of errors is less than the given threshold.

[2018-12-21 20:00] rajpradi opened #706 "zero displacement(fixed B.C.) in only one direction in example 2 (MFEM)."
Hello,
I am facing a problem while fixing one co-ordinate and reamaining other two co-ordinates free. For Example I have tried to make zero displacement in X -cordinates and movements in Y and Z co-ordinates, but I am unable to make that happen. Linear elascticity example (Ex2) demonstrate about fixing the vertex/faces in all co-ordinates not for perticular co-ordinate.
Can any one please help me

[2018-12-22 00:15] ztdepztdep commented on #705
I have tried several meshes. It seems that the Mesh::DerefineByError only support the non-conforming tri-meshes. How to derefine it with a conforming tri-mess.

[2018-12-22 00:35] v-dobrev commented on #705
At the moment, only meshes that were refined using nonconforming refinement can be derefined.

[2018-12-22 00:54] ztdepztdep commented on #705
Thanks . In the mesh file, there is
coarse_elements
4
3 6 7 8 9
3 19 20 21 22
3 27 28 29 30
3 36 37 38 39

Could you please tell me what is the meaning. is it the father cell?

[2018-12-22 01:12] v-dobrev commented on #705
These are the coarse elements that are now refined. Each row contains the refinement type and the indices of the children elements.

[2018-12-22 01:45] ztdepztdep commented on #705
Does MFEM provide the info about the refinement history, the relationship between the cell at the refined mesh and its father level.

[2018-12-22 02:39] v-dobrev commented on #705
This type of information is stored inside the class `NCMesh`, see e.g. `NCMesh::Element::parent`:
https://github.com/mfem/mfem/blob/4987e1132a8232c2aecc195d9e535bfc83f68f6e/mesh/ncmesh.hpp#L396

A convenient way to access this type of information is to use `NCMesh::GetDerefinementTable()`.

[2018-12-22 04:02] tzanio commented on #702
Periodicity doesn't really make sense for this problem, see Example 9 for a problem where it does.

[2018-12-22 04:02] #702 closed

[2018-12-22 04:03] tzanio commented on #698
Thanks @skarden86

[2018-12-22 04:05] tzanio commented on #689
I'll close this now, but feel free to reopen if you have further questions.

[2018-12-22 04:05] #689 closed

[2018-12-23 01:44] ztdepztdep opened #707 "glvis can not see the mesh line"
Dear sir:
     The mesh in the glvis is visualized with gray color, i cann't see the mesh line. how to disable the gray color?
    Regards

[2018-12-23 22:36] rajpradi commented on #702
Thank you so much for your response, it really helps me to understand.

Sincerely,
Raj Khawale

On Fri, Dec 21, 2018 at 11:02 PM Tzanio Kolev <notifications@github.com>
wrote:

[2018-12-25 15:41] jakubcerveny commented on #706
Please see this issue: #683

[2018-12-26 20:05] pratyuksh opened #708 "Non-zero Neumann boundary conditions on part of the boundary"
Hello

Consider a unit square domain [0,1]^2. At the bottom and top boundaries of the domain, I want to impose non-zero Neumann boundary conditions and zero Dirichlet conditions otherwise.

I tried to do this as follows:
1) Add boundary attributes in the mesh file.
2) Then in the _LinearForm_, I use AddBdrFaceIntegrator(new NeumannBcIntegrator(u_exact), neumann_bdr_attrib_marker). Here NeumannBcIn

[2018-12-27 10:03] e-aranda opened #709 "Vector boundary mass integrator"
I'm trying to implement a spring condition on a boundary for an elasticity problem, which is a Robin boundary condition of the form $M\vec{u} + \sigma(u)\cdot \vec{n} = 0$ resulting in a expression like
$\int_{\partial \Omega} M\vec{u}\cdot{v}$ in the variational formulation. Here $M$ is a SPD matrix.So, I need a BoundaryMassIntegrator for vector functions. Is it implemented in MFEM? How could I i

[2018-12-27 12:15] MC3JMF opened #710 "Boundary integration of VectorGridFunctionCoefficient"
Dear MFEM community,

I have the following question about the usage of VectorBoundaryLFIntegrator with a VectorGridFunctionCoefficient. I'd like to perform an integration of the form:

![untitled](https://user-images.githubusercontent.com/35522233/50479882-241dd980-09d9-11e9-9759-0ef59db0f4fa.png)

in part of the boundary $\partial D_1$.

I have created a GridFunction in a vectorized finite elemen

[2018-12-27 19:07] rajpradi opened #711 "Apply gravity force"
Hello,

First of all, thank you for creating this well structured MFEM software. I am new to this and currently, I am working on linear elasticity example (example 2). In that, I am unable to apply gravity force on specific nodal points/faces?
Can anyone please help me how can I apply gravity force as a boundary condition?

Thank you very much.

[2018-12-27 21:39] tzanio commented on #711
If I understand correctly, you are asking about specifying a volume, not surface force? This could be done by adding a `DomainIntegrator` term to the right-hand side, e.g.

[code]

[2018-12-27 21:44] tzanio commented on #709
You should be able to use simply `AddBoundaryIntegrator(new VectorMassIntegrator(...));`

[2018-12-27 21:50] tzanio commented on #708
Can you provide more details about your discretization? Is it discontinuous Galerkin, H(div)/Raviart-Thomas or something else?

For simple Laplacian discretization with continuous Lagrange elements, non-zero Neumann conditions are imposed with `AddBoundaryIntegrator(new BoundaryLFIntegrator(g))` where du/dn = -g.

[2018-12-27 21:55] tzanio commented on #707
Try pressing `m` in the GLVis window :)

See the README for more details: https://github.com/GLVis/glvis/blob/master/README#L75

[2018-12-27 22:01] #704 closed

[2018-12-27 23:13] tzanio commented on #710
This is all correct, except the integral is performed over the whole boundary.

To restrict the integral to boundary attribute 3, use the new `AddBoundaryIntegrator` method of `LinearForm`: https://github.com/mfem/mfem/blob/master/fem/linearform.hpp#L108-L114.

[2018-12-28 00:18] pratyuksh commented on #708
It is for the Laplace discretization with continuous Lagrange elements. I want to impose non-zero Neumann boundary conditions only on a part of the boundary. I think AddBoundaryIntegrator(new BoundaryLFIntegrator(g)) imposes conditions for the whole boundary, without being selective about the boundary attribute?

[2018-12-28 08:14] enjoh commented on #704
Hello Mar,

thanks a lot for your answer, this makes sense.

Regards,
Johannes

[2018-12-28 13:06] MC3JMF commented on #710
Tzanio, thanks, it works.

[2018-12-28 13:06] #710 closed

[2018-12-30 09:55] e-aranda commented on #709
Thank you @tzanio, it works well.

[2018-12-30 09:55] #709 closed

[2018-12-30 22:19] tzanio commented on #709
Glad to hear that Ernesto. Please don't hesitate to let us know if you need help with anything else.

[2019-01-04 17:41] salazardetroya opened #717 "Obtaining the vector values of a GridFunction at the boundary."
Hello, I want to calculate the following integral:

``\int_{\Gamma} u \cdot f ``

where u is a GridFunction which represents a vector function and f is a VectorCoefficient. To integrate them, I am using a BoundaryLFIntegrator (similar approach than in issue #565)  because I want to use the same integrator for other scalar quantities. So, my goal is to obtain a scalar quantity, i.e., the dot produc

[2019-01-04 21:02] #705 closed

[2019-01-04 21:02] #707 closed

[2019-01-04 21:11] tzanio commented on #717
Hi @salazardetroya,

If I understand correctly, all you need to do is to define a `VectorBoundaryLFIntegrator(f)` and assemble it in a `Vector`, say `F`. Then for a given `GridFunction U`, the scalar value you are looking for is just the inner product of `U` and `F`.

Hope this helps,
Tzanio

[2019-01-04 21:38] najlkin commented on #717
Hi @salazardetroya, maybe see my pull request #716 where you may find the Coefficient classes for this, if I understand your problem correctly. I also found it inconvenient that you could not use GridFunctions for boundary conditions.

[2019-01-04 22:02] salazardetroya commented on #717
@tzanio that operation would give me the value of the integral, but I want to obtain the value of the dot product **u** \cdot **f** at each integration point.

@najlkin Thanks for your contribution. Looks like it is what I need.

[2019-01-09 03:35] v-dobrev commented on #610
@williamfgc, MFEM builds fine with C++11 and optional dependencies can use C++11 if they need that. This is already done in MFEM - for example, when building MFEM with STRUMPACK support, we enable C++11 because STRUMPACK requires it.

[2019-01-09 15:03] williamfgc commented on #610
@v-dobrev thanks for the answer, sounds great. It would be helpful to update the developer-guidelines to reflect this: https://github.com/mfem/mfem/blob/master/CONTRIBUTING.md#developer-guidelines `We prefer basic C++ and the C++03 standard, to keep the code readable by a large audience and to make sure it compiles anywhere.` I was afraid to violate this principle. Thanks!

[2019-01-09 16:30] tzanio commented on #708
@pratyuksh, were you able to resolve this?

[2019-01-16 08:22] pratyuksh commented on #708
@tzanio Sorry, I was away for holidays and could not look at it. I will work on it next week. Thanks!

[2019-01-18 23:40] rcarson3 opened #725 "Possible error in PCG Solver"
During some of my testing with a simple linear elastic problem with just 1 hexagonal element using the ExaConstit miniapp, I've found some issues with the PCG solver.

I've included some outputs from my simulations. The first iteration doesn't run, but the second iteration does even though nothing has changed. The large value for the initial value for the initial value of (Br, r) leads me to belie

[2019-01-18 23:43] #706 closed

[2019-01-18 23:44] #711 closed

[2019-01-19 00:18] tzanio commented on #725
The norm `||r||_B = sqrt((Br, r))` is know as the *preconditioner norm*  and from theoretical standpoint is the most natural norm to measure the residual in PCG.

That norm assumes that B is symmetric and positive definite, which for AMG should be the case if the original matrix is symmetric and positive definite and a convergent symmetric smoother (e.g. l1-GS) is used on all levels.

The fact tha

[2019-01-19 00:21] tzanio commented on #725
Forgot to mention that *hypre*'s PCG implementation does support measuring the convergence in l2 norm, which is useful when comparing different preconditioners. In MFEM this is available via `HyprePCG::SetResidualConvergenceOptions`.

[2019-01-19 01:17] rcarson3 commented on #725
Since it's a simple linear elastic problem, the matrix is symmetric and positive definite. I'm currently using a UMAT for the linear elastic portion, so the material tangent stiffness matrix that is used to define B can be found here: [https://web.njit.edu/~sac3/Software.html](https://web.njit.edu/~sac3/Software.html) under the linear elastic UMAT. The matrix is defined on lines: [https://github.c

[2019-01-19 02:06] tzanio commented on #725
Ok, I'll take a look at the assembly. Can you also point me out to the lines constructing the preconditioner `B`?

I see two other potential issues: 1) the initial guess may differ between the two calls -- that doesn't explain why B is not positive definite, but it could explain the different behavior; 2) if you have boundary conditions everywhere, the one element case may have no free degrees of

[2019-01-19 05:02] rcarson3 commented on #725
You can find the preconditioner construction here: [https://github.com/rcarson3/mfem/blob/exaconstit-dev/miniapps/exaconstit/mechanics_driver.cpp#L1100-L1126](https://github.com/rcarson3/mfem/blob/exaconstit-dev/miniapps/exaconstit/mechanics_driver.cpp#L1100-L1126). I borrowed these settings from another code base that runs crystal plasticity type problems and is using Hypre.

I'm applying symmetr

[2019-01-21 00:52] tzanio commented on #725
Can you try disabling the calls to `HYPRE_BoomerAMGSetRelaxWt` and `HYPRE_BoomerAMGSetOuterWt` and using `HYPRE_BoomerAMGSetRelaxType(h_amg, 8);`?

[2019-01-22 16:59] pratyuksh commented on #708
@tzanio I was able to get this working, it required adding AddBoundaryIntegrator(new BoundaryLFIntegrator(g), bdr_attr_marker) to the mfem 3.4 release version.

[2019-01-22 17:15] rcarson3 commented on #725
Thanks, it seems like that made the difference.

Although, I'm still curious why the other method wasn't working on the first iteration but worked on the second when in both cases they were provided the exact same ```Ax = b```.

[2019-01-22 17:40] CharlesFr opened #726 "mfem developer needed for 3D printing App (Paid work)"
We're looking for an experienced FEA programmer/engineers to help us develop a novel 3D printing application.

First job will be to implement Linear elastic equation for an anisotropic volume.

Get in touch: Charles@additiveflow.com

[2019-01-22 20:31] tzanio commented on #725
Likely the smoother was not convergent and the two iterations must have started with different initial guesses. (Even if the difference was at round-off error.)

To check what caused the lack of convergence in the smoother, you can try disabling `HYPRE_BoomerAMGSetRelaxWt` and `HYPRE_BoomerAMGSetOuterWt` with `HYPRE_BoomerAMGSetRelaxType(h_amg, 6)` and vice versa.

[2019-01-22 20:31] #725 closed

[2019-01-22 21:12] tzanio commented on #708
Thanks for the update @pratyuksh.

This function will be available in the next release. (You can also use the master branch between releases -- we test it to make sure it is of release quality).

Tzanio

[2019-01-22 21:12] #708 closed

[2019-01-25 00:30] artv3 opened #730 "Okina memory manager error"
@jdahm , @camierjs ,

I pulled the latest version of Okina and tried to run example 9. Unfortunately, I hit the following error
``mm::Erase
Aborted (core dumped)``

I configured MFEM in the following manner
``make config MFEM_CXX="nvcc" \
CXXFLAGS="-g -O0 --restrict --expt-extended-lambda -x=cu -arch=sm_60 -std=c++11 -m64" \
MFEM_EXT_LIBS="-L/usr/local/cuda/lib64-lrt -lcuda -lcudart -lcudadevrt -l

[2019-01-25 00:59] jdahm commented on #730
I'm sorry this is happening to your build! I can't seem to quickly reproduce the problem on my laptop using the GCC compiler on the `okina` branch. Could you post or send me a backtrace?

[2019-01-25 01:11] artv3 commented on #730
``mm::Erase

Program received signal SIGABRT, Aborted.
0x000010000120eb18 in raise () from /lib64/libc.so.6
Missing separate debuginfos, use: debuginfo-install glibc-2.17-157.el7_3.5.ppc64le
(gdb) bt
#0  0x000010000120eb18 in raise () from /lib64/libc.so.6
#1  0x0000100001210c9c in abort () from /lib64/libc.so.6
#2  0x0000000010017ea8 in mfem::mfem_error (msg=0x103085b0 "mm::Erase") at /usr/WS1/va

[2019-01-25 01:14] artv3 commented on #730
Some more clues
`` (cuda-gdb) frame 3
#3  0x0000000010018c18 in mfem::mm::Erase (this=0x10512928 <mfem::mm::MM()::singleton>, ptr=0x10530030) at /usr/WS1/vargas45/Git-Repos/MFEM_BUILD/okina-broken/general/mm.cpp:113
113	   if (!known) { mfem_error("mm::Erase"); }
(cuda-gdb) list
108	{
109	   if (!config::usingMM()) { return ptr; }
110	   if (config::gpuDisabled()) { return ptr; }
111	   const bool

[2019-01-26 00:01] artv3 commented on #730
Resolved.

[2019-01-26 00:01] #730 closed

[2019-01-28 08:37] pmguilcher opened #733 "How to compute a gradient without neighbouring averaging"
Hello,

From a FE solution, I would like to compute a gradient of the solution on each element, to compare to an analytical solution;
-on the nodes
-at the middle of the edges along a boundary

For the time being, I've used the GetVectorGradient function to evaluate the gradient on the nodes. Since there is only one estimated value per node, I understand that it is an average value which takes int

[2019-01-28 21:51] #726 closed

[2019-01-28 21:52] #668 closed

[2019-01-28 22:03] tzanio commented on #733
You can use the `GetGradient` method of the `GridFunction` class:

https://github.com/mfem/mfem/blob/e17a73fa8be9242262121bcbbc973e9da59f8354/fem/gridfunc.cpp#L992-L1008

For example something like the following on a quad mesh:

[code]

[2019-01-29 05:11] mlstowell opened #735 "Boundary integrals on meshes with discontinuous node representations"
I have a mesh which is periodic in one direction but not in another.  Consequently, the Nodes GridFunction within the mesh provides a discontinuous L2 representation of the coordinates.  Now, I need to apply an absorbing boundary condition on the non-periodic portion of the mesh.  This is setup as follows:
[code]
This fails within `BilinearForm::Assemble()` because a suitable boundary element tran

[2019-01-29 13:40] stefanozampini commented on #443
I'm reopening the issue since I think this needs to be fixed.

Considering a sequential run, ProjectDiscCoefficient gives two different answers when called on a GridFunction or on a ParGridFunction. This is because ParallelAssembled is called for the ParGridFunction case https://github.com/mfem/mfem/blob/master/fem/pgridfunc.cpp#L357; in the GridFunction case, the slave dofs are left unmodified (a

[2019-01-29 13:41] stefanozampini commented on #443
@v-dobrev @tzanio what do you think?

[2019-01-30 00:54] v-dobrev commented on #733
To add to @tzanio's answer: in general, the center and vertices of any reference element can be accessed using something like this:
[code]

[2019-01-30 02:04] v-dobrev commented on #735
We can add support for meshes with DG nodes in the method `Mesh::GetBdrElementTransformation`. This should be similar to the way the same issue is handled in `Mesh::GetFaceTransformation`. One thing to be careful about is that the face and boundary elements (stored separately internally) may have different orientations - we want `Mesh::GetBdrElementTransformation` to return the transformation of t

[2019-01-30 03:19] v-dobrev commented on #443
Hi @stefanozampini,

I think you are right that there is a bug in `ParGridFunction::ProjectDiscCoefficient`, if the method is used for a non-conforming mesh. Instead of calling `ParallelAssemble` we should use, instead, the `GroupCommunicator` to do the summation across processors. Until recently, the `GroupCommunicator` was undefined for non-conforming meshes - this method (`ProjectDiscCoefficien

[2019-01-30 10:34] stefanozampini commented on #443
@v-dobrev Here you have
https://github.com/mfem/mfem/commit/0f64f3e00680ee32a93626cb8be4798d1b56d3a5

The commit is part of a branch for which I plan to open a PR soon

[2019-01-30 12:31] pmguilcher commented on #733
Hello,

Thank you so much for your answer, I will try this solution and give you some feedback.
I used the the .ProjectCoefficient method for a GridFunction class, which was maybe wrong.

Pierre

[2019-01-30 17:45] barker29 opened #737 "DiagonalPolicy in ParBilinearForm"
I want to assemble a parallel matrix using the diagonal policy `Matrix::DIAG_ZERO`. All of the parallel elimination routines (`ParBilinearForm::FormLinearSystem`, `ParallelEliminateEssentialBC`, `ParallelAssembleElim`, etc.) implicitly use the policy `Matrix::DIAG_ONE` (regardless of what policy is actually set in the bilinear form).

Following #181, you can `EliminateEssentialBC` in the local mat

[2019-01-31 01:39] v-dobrev commented on #737
You are right: the diagonal policy is completely ignored right now in `ParBilinearForm::FormLinearSystem()` and `ParBilinearForm::FormSystemMatrix()` (the former simply calls the latter).

In the `serial_elimination == true` case, I think the `HypreParMatrix` is correct. I did not test this but I think you get the wrong output because the matrix has empty rows and `HypreParMatrix::GetDiag(Vector &

[2019-01-31 15:47] barker29 commented on #737
I get the same output with `a_form.Finalize(1)`. As an additional check, I've dumped the matrices with `hmatrix->Print()` and the diagonals reported above are the actual diagonals of the `HypreParMatrix`.

[2019-01-31 23:22] v-dobrev commented on #737
Can you try building mfem with debug enabled? Just to see if any asserts will trigger.

[2019-01-31 23:49] barker29 commented on #737
Yes, the results above are all from a debug build. No asserts were triggered.

[2019-01-31 23:58] v-dobrev commented on #737
Okay, I'll need to debug it then to see what is going wrong. I'll let you know when I figure it out.

[2019-02-01 13:19] pmguilcher commented on #733
It works very well: I checked with an analytical solution, and your proposition gives the right estimation for the gradient on the element.

[2019-02-01 13:19] #733 closed

[2019-02-06 03:50] v-dobrev commented on #737
@barker29, the issue is that `a_form.EliminateVDofs()` expects a list of "vdofs" and you are giving it a list of "tdofs". Essentially, on more than 1 processors, `ess_tdof_list` should only be used when `serial_elimination == false`.

Anyway, the simplest solution is to call `a_form.EliminateEssentialBC(ess_bdr, policy)` instead of `a_form.EliminateVDofs(ess_tdof_list, policy)`.

[2019-02-06 16:32] barker29 commented on #737
Thanks @v-dobrev , that fixes it.

[2019-02-06 16:32] #737 closed

[2019-02-07 16:34] pratyuksh opened #738 "Working with a Vector L2 Finite Element Space"
Hello,

I am trying to the implement the DG formulation for the acoustic wave equation in 2D, wherein we have a scalar variable and a vector (of size 2, same as physical space dimension) variable. For the scalar variable it is clear how to build the finiteElementSpace. For the vector variable, I do the following:

fec = new L2_FECollection(deg, ndim);
sfes = new ParFiniteElementSpace(&pmesh, m_fec

[2019-02-07 18:12] mlstowell commented on #738
Hello, @pratyuksh,

The "VectorFE" prefix on these integrator names refers to the H(Curl) and H(Div) basis functions which have vector-valued basis functions.  Using the L2 basis functions in this manner creates a vector of scalar-valued basis functions.  To build your mass matrix you should use the VectorMassIntegrator which is specifically designed for this use case.  There is also a VectorDiver

[2019-02-08 20:08] junkudo opened #739 "Non-conforming refinement"
Hey,
I'm having some issues in my code that I believe is related to some inconsistencies in the face neighbor data when I perform refinement on a non-conforming mesh.

If I look at the sizes at some of the face neighbor data structures formed during `mfem::ParMesh::ExchangeFaceNbrData()`, the sizes of the data different is different if I...
1.) Exchange data only after I refine
[code]
gives me
[co

[2019-02-10 08:40] pratyuksh commented on #738
@mlstowell Thanks, I should have looked at the documentation more closely.

[2019-02-11 05:10] rajpradi opened #740 "Point Load"
Hello Sir,
How can we apply point load on hexahedral mesh. I have tried to implement "0" in the second column of boundary and also arranged it in required manner. But, I am unable to visualize it's geometry in GLVis and perform ex2.
Would please suggest me how can I apply point load in linear elasticity model?
I am adding the mesh file, where have I tried to consider point in boundary section for

[2019-02-11 23:43] v-dobrev commented on #739
Hi @junkudo,

Can you try adding a call to `DeleteFaceNbrData()` (this is a method in `ParMesh`) in the beginning of `ParMesh::NonconformingRefinement()`?

Let us know if this resolves the issue, so we can make a branch/PR to fix it.

Thanks!

[2019-02-12 22:59] junkudo commented on #739
Hey @v-dobrev,
Putting in `DeleteFaceNbrData()` seems to resolve the issue.
[code]
Thanks!

[2019-02-13 01:05] v-dobrev commented on #739
OK, great! I will create a branch with the fix in a moment.

[2019-02-13 10:11] ztdepztdep opened #745 "How to set create a mesh by hand in mfem?"
Dear sir:
    I want to create a 2-D mesh manually. For example:
    First, I set the coordinates of several vertices, then i create triangles by specifying its three nodes.
    Does mfem support this capability?
Regards

[2019-02-13 16:27] vikramsg commented on #745
You can create a mesh this way in GMSH. MFEM reads meshes generated in GMSH.

[2019-02-13 18:19] kennyweiss commented on #745
@ztdepztdep -- Is this what you had in mind?

https://github.com/mfem/mfem/blob/b74e81edc3c960749072b6be055187e21124c91b/test/unit-test.code/fem/test_linear_fes.cpp#L399-L413

[2019-02-13 18:24] S-Villar opened #746 "Create a GridFunction from values on a mesh"
Dear all,

I have a series coefficients (`Coefficient`, `VectorCoefficient`, `MatrixCoefficient`, etc) and Integrators (`VectorFEDomainLFIntegrator`) that use function coeficients (`FunctionCoefficient`,`VectorFunctionCoefficient`, `MatrixFunctionCoefficient`) that I have defined using analytical functions of position e.g.  using the constructor  `mfem::MatrixFunctionCoefficient::MatrixFunctionCoe

[2019-02-13 19:09] vladotomov commented on #746
Hi Alvaro,

The approach seems correct.

There are different ways to create a `GridFunction,` but the easiest is to use a `Coefficient`. See `GridFunction::ProjectCoefficient`. Since you mentioned input files, you can, for example, have a function that interpolates the input file values at each point in space, then create a `FunctionCoefficient` using that function, and then project it to a `GridF

[2019-02-13 22:32] nacpatil commented on #678
I am wondering if there is any example  VTK  XML high-order file available. I read the documentation on new file format but having an example file can help in writing code and testing it.

I found some information on the unstructured grid format:
<VTKFile type=”UnstructuredGrid” ...>
  <UnstructuredGrid>
    <Piece NumberOfPoints=”#” NumberOfCells=”#”>
    <PointData>...</PointData>
    <CellData>

[2019-02-13 22:41] markcmiller86 commented on #678
Sadly, googling for ``example vtk xml files with high order elements`` results in hits on glvis ;)

I know VTK C++ classes, internally, support several higher (quadratic and cubic) element types. But, I honestly can't recall how many example VTK data files we've seen them in.

@mclarsen or @cyrush, might you know of any examples?

[2019-02-14 00:26] cyrush commented on #678
@markcmiller86 I haven't come across any files for vtk's arbitrary lagrange element support, maybe there is some example that paraview uses to test this feature?

[2019-02-14 00:41] v-dobrev commented on #745
You can also take a look at example 7 which creates a surface mesh (for the unit sphere) on the fly.

[2019-02-14 01:13] v-dobrev commented on #746
Hi Alvaro,

If I understand you correctly, you have vertex/nodal values in your input file. In that case you can create a linear continuous `GridFunction` which corresponds exactly to the data you have - the ordering of the values is the same as the ordering of the mesh vertices.

To create a linear continuous `GridFunction` use something like this:
[code]

Hope this helps,
Veselin

[2019-02-14 03:33] v-dobrev commented on #678
Hi @nacpatil,

Parsing the VTK XML files is not going to be very easy, so I suggest we first add support for the "legacy" VTK format - this is the format read by the method `Mesh::ReadVTKMesh()`. The addition will be to add support for some of the `VTK_LAGRANGE_*` types:
https://github.com/Kitware/VTK/blob/5efd279913b4842bed0c1a0f2f119db89134e378/Common/DataModel/vtkCellType.h#L107-L114

As an exa

[2019-02-14 12:54] S-Villar commented on #746
Hello @vladotomov and @v-dobrev ,

Thank you very much for the quick reply. The first approach suggested by @vladotomov of creating my own interpolating function was the my first thought but as he mentions I see this approach rather inefficient. I was looking for an alternative approach using the functionalities of mfem or some derived classes of my own. I'd rather have a file with the data so tha

[2019-02-15 00:41] v-dobrev commented on #746
Hi Alvaro,

In the example I gave, I assumed that your data in the file describes a scalar field, i.e. one value per mesh vertex. It looks like you actually have vector field with 2 (or 3) values per mesh vertex - is that the case?

If that is the case, my example above can be modified as follows:
[code]
The meaning of the `Ordering::byNODES` parameter (which you may need to switch to `Ordering::b

[2019-02-15 01:52] tzanio commented on #745
See also these past issues: https://github.com/mfem/mfem/issues/677, https://github.com/mfem/mfem/issues/466

[2019-02-15 02:03] tzanio commented on #740
Hi @rajpradi, this is an invalid mesh, which appears to be derived from the `beam-hex.mesh` file.

The boundary conditions in MFEM are implemented in the source code, not the mesh.

Do I understand correctly that you want to apply an elasticity Dirichlet (essential) boundary conditions in a single degree of freedom? If yes, how do you identify that degree of freedom (by its coordinates?)

[2019-02-15 02:04] #738 closed

[2019-02-15 09:16] vivhuff opened #750 "Parallelism in ParMesh"
Hi,
I'm writing my thesis on parallel patterns in miniapps and the app I'm currently working on (Laghos) heavily relies on mfem and uses it's parallel datatypes and solvers. Unfortunately I'm not very knowledgable in this topic (working with meshes and C++ coding) and have a hard time understanding how the ParMesh datatype works.

Could someone please give me pointers how a ParMesh is partitioned

[2019-02-15 09:18] ztdepztdep opened #751 "How to get the cell central in mfem?"
Dear sir:
     I need cell central to conduct FVM computations, in mfem, how to  get the Vertexes that comprising a cell.  I tried to use   "mesh->ElementToVertexTable()", but mfem doesn't provide this function.
   Could you please give me some suggestions.
Regards

[2019-02-15 15:10] jakubcerveny commented on #750
Hi @vivhuff, the ParMesh is typically constructed from a serial Mesh, which is partitioned with Metis. Each element is assigned to one of the MPI ranks. Each processor then only keeps the elements it owns. Shared faces, edges and vertices on the processor boundaries are identified. Each shared entity is assigned a communication group which lists the processors that share the entity. Each comm grou

[2019-02-15 15:32] jakubcerveny commented on #751
Did you try calling Mesh::GetElementVertices to get vertex indices and then Mesh::GetVertex to get the vertex coordinates?

[2019-02-15 18:59] S-Villar commented on #746
Hello @v-dobrev ,

Thank you for your kindly replies. I apologize for the confusion. I think I did not explain myself properly in the first message and probably my question comprised two or more questions.

1. Loading of inputs I think its solved and its working as expected. Vesselin I had already loaded using    `GridFunction my_gf(mesh, ifstream_my_gf)` but I didnt know how to create my own file

[2019-02-15 21:39] v-dobrev commented on #746
Hi Alvaro,

Regarding you question about using `J_vgf` in the definition of `J`: I think it should work correctly, even though the spaces used by `J_vgf` and `J` are different.

One remark about your `mat_fc` function - it is better to use `DM(0,0) = ...` instead of `DM.Elem(0,0) = ...` because the `Elem` method is actually a virtual call which is slower.

Regarding your question about using `dens

[2019-02-16 01:12] nacpatil commented on #678
Thanks for the information. I am going through these details. I think I will have to try some examples on how node ordering happens in vtk. I will write back once I make some progress.

[2019-02-16 11:00] S-Villar commented on #746
Hello Veselin,

Thanks a lot for your kindly reply and for the two first comments.

Regarding the use of `density_lin_gf`, I just gave a simplified example cause my function is a combination of nested C functions that end up depending in parameters as `density_lin_gf`. I did not know that option you give, but the fact is that it could work for the example but not for my real case. My case is not a

[2019-02-16 13:20] vivhuff commented on #750
Thanks for your reply @jakubcerveny. I think I actually understood your explanation. Just the matrix I will have to look into more since I do not really get what DOFs are. If you do not mind sharing your paper I would gladly come back to that offer when I understand the background of what is actually done better. Since it seems that might also factor into my troubles.

[2019-02-16 19:17] jakubcerveny commented on #750
Degrees of freedom or DOFs are unknowns assigned to vertices and (in high order FEM) to edges, faces and element interiors. For example, a quadratic hexahedron has 8 vertex DOFs, 12 edge DOFs, 6 face DOFs and one internal DOF. I can send you the paper if you write me at cerveny1@llnl.gov.

[2019-02-18 20:21] S-Villar commented on #746
Hello @v-dobrev ,

I have seen issue #143, specifically in first reply by @mlstowell, suggests creating my own customized class derived from Coefficient. For instance I am thinking of generating my own MatrixCoefficient derived class called myMatrixFunctionCoefficient as
[code]
with eval function that uses an array of pointers to coefficient objects of the form:
`	Coefficient * Density = new GridF

[2019-02-19 11:18] S-Villar opened #753 "GridFunction::ProjectCoefficient (MatrixCoefficient &mcoeff)"
Hello all,

Imagine I have a MatrixCoefficient whose DenseMatrix is dimension dim=2. I would like to evaluate such MatrixCoefficient in the nodes of my domain and save it. I have done this using `GridFunction::ProjectCoefficient`. Specifically, for a `Coefficient`  using `GridFunction::ProjectCoefficient (Coefficient &coeff)` and for a `VectorCoefficient` using GridFunction::ProjectCoefficient  (

[2019-02-19 12:16] S-Villar commented on #746
Hello again,

I also see that I could make use of `MatrixArrayCoefficient`. I would need to create linear continuous GridFunctions, based on those create GridFunctionCoefficients and pass them by pointers to a method MatrixArrayCoefficient::Set(int i, int j, Coefficient * c) { delete Coeff[i*width+j]; Coeff[i*width+j] = c; }.

What do you think?

Thanks a lot again,
Best,
Alvaro

[2019-02-21 21:14] junkudo commented on #739
Hey @v-dobrev, when can I expect this fix to be merged into the master branch?

[2019-02-21 22:57] v-dobrev commented on #739
I just merged it.

[2019-02-21 23:29] nacpatil commented on #678
I tried to compile vtk code generated by @agrayver's.
but got error as below.

In file included from /p/lscratchh/patil4/MFEM/vtk_try/VTK_Lagrange-master/main.cpp:2:0:
/p/lscratchh/patil4/MFEM/vtk_try/VTK_Lagrange-master/lagrange_hex.hpp:71:60: error: '>>' should be '> >' within a nested template argument list
                            std::vector<std::valarray<double>>& points)

[2019-02-22 16:06] #739 closed

[2019-02-23 19:03] #745 closed

[2019-02-23 19:05] #750 closed

[2019-02-23 19:09] tzanio commented on #753
Currently we don't have finite element spaces for matrix-valued functions, so direct projection will not make sense.

One option to get around this could be to treat your `MatrixCoefficient` as a `VectorCoefficient` of vector dimension (`vdim`) 4.

[2019-02-25 20:19] delcmo opened #760 "Save numerical solution with Visit object when running in parallel"
Hello,

I am working on parallelizing my code and encountered the following problem when running in parallel: the solution does not get updated in the output files, i.e., all output files contain the initial conditions.

The piece of code (before the time loop starts) that saves the numerical solution is given below:

[code]

and I have the following lines in the time loop:

[code]

I had a look a

[2019-02-25 23:30] artv3 opened #761 "[okina] Support for ComputeL2Error grid function method"
A feature that would be nice to have is support for the ComputeL2Error grid function method when using Okina/Okina memory manager. If I have  GPU capabilities enabled, i.e.

[code]

I get assertion errors or if i try to switch to the cpu, i.e.

[code]

I get the following error

[code]

I'll make a reproducer using example 9.

[2019-02-27 09:44] S-Villar commented on #753
Thank you Tzanio for your reply,

Indeed this is one solution that would make sense. At the end I used a singular coefficient for each matrix element.

Thank you

[2019-02-27 09:44] #753 closed

[2019-02-27 15:50] #751 closed

[2019-02-27 17:19] delcmo commented on #760
I found the bug. I had `NonlinearForm A(&vfes);` instead of `ParNonlinearForm A(&vfes);` in my code.

I also noticed that in ex18p.cpp, the mixed linear form object is declared the same was as in the serial version of the code `MixedBilinearForm Aflux(&dfes, &fes);`. Is there a reason for not using `ParMixedBilinearForm Aflux(&dfes, &fes);`?

Thanks,

Marco

[2019-02-27 17:56] tzanio commented on #760
@jdahm can you comment on this:

[2019-02-27 21:11] jdahm commented on #760
@delcmo Yes, the same `MixedBilinearForm Aflux(&dfes, @fes)` is used in both serial and parallel for example 18 due to its DG discretization. In this version of the discretization, the face and interior terms are included in different matrices. That is, `Aflux` is only used to calculate the interior flux-based term `(∇w, F(u))`, which has no dependence on neighboring states (explicit time integrat

[2019-02-28 01:17] yw5aj commented on #342
@jamiebramwell Thank you for the pointer!

In case anyone find this in the future - even for C0 elements I think we can potentially do MITC elements or higher order displacement-based elements that defines the shear deformation as a separate DOF, and those are practically extremely useful already. The most commonly used shell elements in both ABAQUS (S4) and ADINA (MITC4) are exactly derivatives o

[2019-03-01 15:45] pratyuksh opened #769 "Assembling a different operator on RT_TriangleElement"
Hello,
I am working with Raviart-Thomas spaces, RT_Element. Given a ParGridFunction _**g**_, I want to assemble the following:
A = \int_{\Omega} (_**g**_ \cdot \grad{ **u** } ) \cdot **v** dx.

The new component here is the matrix \grad { **u** }, which I think I will need to write.
But while looking at the _CalcVShape_ and _CalcDivShape_, I did not understand clearly what the role of matrix _T_ o

[2019-03-01 18:17] mlstowell commented on #769
Hello, @pratyuksh ,

Unfortunately, \grad{u} cannot easily be computed in RT spaces.  The trouble is not T or Ti but rather that the gradient will depend on derivatives of the Jacobian.  Typically if \grad{u} is required for a vector field u then you must have u in a vector-valued H1 space (as in example 2).

Best wishes,
Mark

[2019-03-01 20:28] delcmo opened #771 "Body forces"
Hello,

I would like to add body forces to Euler equations and advection-diffusion equations. Some of the body forces can depend on variables like density or species concentration. What is the best way to do that with MFEM?

Thanks,

Marco

[2019-03-01 20:31] delcmo commented on #760
Ok, thanks for the clarification. You can now close this issue.

Marco

On Wed, Feb 27, 2019 at 4:11 PM Johann Dahm <notifications@github.com>
wrote:

--
Marc-Olivier Delchini

[2019-03-01 20:41] #760 closed

[2019-03-02 00:37] junkudo opened #772 "Visualizing boundary attributes / quantities in VisIt"
Hey,
Is there an easy / straight-forward approach to be able to visualize boundary/surface-based quantities in VisIt through MFEM?  I'd like to be able to visualize surface loads, face attributes, etc.
Thanks!
Jun
@Dan2997925

[2019-03-02 16:38] vikramsg commented on #771
If you use DG like in example 18, then that is just creating a new grid function that you then add to the right hand side.

[2019-03-03 14:20] hillyuan opened #776 "Incompatibility with SUNDIALS 4.0.0"
Sundials interface modified after Sundials release 4.0.0.  File arkode_spils.h, which is included in file sundials.cpp, do not exist anymore.

[2019-03-04 08:45] pratyuksh commented on #769
@mlstowell can you please share a good reference about this issue and RT spaces in general? It is unclear to me how the derivatives of the Jacobian enter the computation. Thanks a lot.

[2019-03-04 09:56] mlstowell commented on #769
Hi, @pratyuksh ,
The reference I use for RT spaces is Nedelec's 1986 paper titled "A New Family of Mixed Finite Elements in R^3".  Unfortunately, it's a difficult read and I'm not sure it even explains this issue.

The issue stems from how vector fields behave under coordinate transformations.  We can only take derivatives of our basis functions in a reference coordinate system.  However, what we

[2019-03-04 14:45] delcmo commented on #771
Vikram,

thanks for getting back to me.

I assume I will add the new grid function to the right-hand side in `void FE_Evolution::Mult(const Vector &x, Vector &y) const`.

Assuming that I want to add the gravity force to the momentum equations (rho*g), the new grid function will have to be computed using nodal values of the density, test and trial functions before being added to the right-hand side