[2022-10-11 05:41] vladotomov commented on #3250
Hi @cdelv,

To solve a nonlinear PDE, you must to setup a `NonlinearForm` by creating a `NonlinearFormIntegrator`, compute gradients, use a nonlinear solver, etc. You should go over example 10 to see the usual approach in MFEM.

Good luck,
Vladimir

[2022-10-11 08:13] cuiyu-he commented on #2994
Ok. Thanks! I will submit a pull request. Since probably other FEM
libraries also do not have higher order nonconforming FEM (If you know
there is any, please kindly let me know!), it would be a plus for MFEM :).
Besides, the implementation should be relatively simple, from my point of
view, given the smart design of the basis functions. So I really hope your
team could consider it. :) Many thanks

[2022-10-11 08:53] cuiyu-he commented on #2994
Hi Tzanio,

Good to hear from you too! I would love to help and will start working on
it soon.  Will reach back to your team for technical help!

Many Thanks again for the quick responses!

Best,
Cuiyu

On Wed, May 4, 2022 at 10:56 AM Tzanio Kolev ***@***.***>
wrote:

[2022-10-11 20:14] Maatinski commented on #3247
Hi @mlstowell
Thanks a lot for the clarifications. It sounds like this problem has a solution; I will try your suggestion, as soon as I have a "solvable" mesh.

I did run into a few other problems, when changing to parallel meshes. In principle everything seems to work fine (the code works well for one and two processes), but at >2 processes the attributes get messed up. I am attaching an example

[2022-10-11 20:55] mlstowell commented on #3247
Hi, @Maatinski,

Thanks for the test code. I was able to build and run it in parallel with no issues. On two processors it crashes my GLVis with a complaint about a missing "boundary" in the mesh stream. I'll try to take a closer look later and get back to you.

Best wishes,
Mark

[2022-10-12 02:51] #3237 closed

[2022-10-12 18:40] mlstowell commented on #3247
Hi, @Maatinski,

I found a problem with your test code but I am still having trouble with my GLVis build so I cannot verify the output from the modified code. The issue is that `refine_any` may produce different values on different processors. Consequently different processors may exit the `while` loop prematurely. I would suggest adding an `MPI_Allreduce` to compute a globally valid flag such as

[2022-10-12 20:33] Maatinski commented on #3247
Mark, thank you so much for the helpful comments (and for crawling through my code)!
I included the `MPI_Allreduce` as you suggested, and it seems to run more smoothly now (no crashes of my code itself, even on runs with many processes), but I am still having visualization issues with GLVIS, which either throws `MFEM abort: input stream is not a FiniteElementSpace!` or a `Verification failed: (ide

[2022-10-12 20:41] bremerm31 opened #3251 "Using MFEM for adaptive local timestepping"
Hi,

We have a 2-year LDRD at LBNL and are looking at implementing an explicit adaptive local timestepping scheme for conservation laws. We were wondering if MFEM is the right package for us.

### Description

Our currently planned application is focusing on discontinuous Galerkin methods for time-dependent nonlinear conservation laws. Adaptive local timestepping is an explicit timestepping scheme

[2022-10-12 22:15] mlstowell commented on #3247
Hi, @Maatinski,

This is encouraging. I have not seen a GLVis crash when reading the finite element space but your  `Verification failed: (ident == "boundary") is false:` sounds like the same error I've seen.

I have not looked at the rebalance issue yet but now that I know we are seeing similar issues I'll dig into that.

Best wishes,
Mark

[2022-10-13 03:01] v-dobrev commented on #3244
Some of the tet quadrature rules have negative weights which may be causing issues.

[2022-10-13 17:07] hughcars opened #3252 "ParFiniteElementSpaceHierarchy missing default constructor"
In `fespacehierarchy.hpp`, the non parallel class has a default constructor (which should be specified `= default` rather than `{}`), but the parallel class does not. The default is removed by the presence of an explicit (virtual) destructor. All that is needed is
[code]
This then allows initializing an incomplete value type, rather than operating through pointers all the time. The non-parallel sh

[2022-10-13 18:22] mlstowell commented on #3247
Hi, @Maatinski,

More progress. I think I tracked the somewhat unpredictable failures to a lack of `MPI_Finalize` in the test program. Without this execution would immediately halt when before all processors had completed writing their output.

I'm still seeing differences when rebalancing is used. It appears as though the attributes from the coarser mesh are still being used after refinement. I'm

[2022-10-13 21:45] mlstowell commented on #3247
Hi, @Maatinski,

I cannot find how the `ParNCMesh` is moving attribute information between processes during rebalancing and judging by the GLVis output it isn't. My suspicion is that the `ParNCMesh` makes the assumption that the attribute number for the coarsest elements should be shared by their child elements. Of course this assumption is not valid in your meshes.

If I can confirm my suspicion

[2022-10-13 23:42] mlstowell commented on #3247
Hi, @Maatinski,

Adding calls to the following code function we can see that the volumes are reverted by calls to rebalance.

This adds weight to my suspicion but the cause could still be elsewhere. One workaround you could employ would be to repaint the materials after each call to rebalance. This would certainly be suboptimal but it may help in the short term.

Best wishes,
Mark

[code]

[2022-10-15 00:01] Maatinski commented on #3247
Wow, thank you so much for the extensive help!
(if you ever make it to the Boston area, I will owe you a beer)

Thanks for the debugging regarding the `ParNCMesh` not communicating children attributes: that's a little surprising though, given that the same behavior (children having different mesh attributes) should occur in the `shaper `miniapp as well, if I am not mistaken.
The "repainting" of th

[2022-10-15 15:33] #3190 closed

[2022-10-15 15:33] #3141 closed

[2022-10-15 15:33] #3181 closed

[2022-10-15 15:34] #3120 closed

[2022-10-15 15:34] #3173 closed

[2022-10-15 15:34] #3180 closed

[2022-10-15 15:34] #3164 closed

[2022-10-17 03:57] v-dobrev commented on #3171
Hi @yurivict, sorry for the late reply.

I was not able to reproduce the issue. In the CMake output, what does the line containing `Found SuperLUDist:` look like in your case?

[2022-10-17 04:29] v-dobrev commented on #3191
I'm unable to reproduce this issue. What does the CMake output line containing `SuperLUDist_INCLUDE_DIRS` look like in your case?

[2022-10-17 04:45] v-dobrev commented on #3203
Discussion continued in #3205.

[2022-10-17 04:45] #3203 closed

[2022-10-17 05:00] v-dobrev commented on #3166
I seems like there is some misunderstanding here: `dofs` is both input and output parameter here and its size should remain the same. We are simply converting "scalar" dofs to "vector" dofs for a given vector component `vd` (typically, `0 <= vd < vdim`.)

The word "all" in the doxygen comment refers to all entries in the input `dofs` array -- maybe that is creating the confusion.

[2022-10-17 05:13] v-dobrev commented on #2922
An error estimator cannot depend on an unknown quantity (like E in the expression you have above).

Typically, an error estimator will depend on the current discrete solution (like E_h in the expression you have above) and other know quantities like r.h.s. of the PDE, boundary conditions, and/or coefficients in the PDE operator.

What is the specific form of the error estimator that you want to im

[2022-10-17 05:54] v-dobrev commented on #3163
In the current CMake setup, the default target (`all`) does not build examples, miniapps, and tests, even if one sets `MFEM_ENABLE_TESTING=ON`. There is a special target that builds those -- `exec` (short for "executables".) Therefore, to run the tests one has to build the `exec` target first:
[code]
That said, there is a discussion to revisit and potentially update this current behavior, see #318

[2022-10-17 20:33] pohlytheismus commented on #3248
Hi,
just a follow up and maybe extension that might make the problem more accessible.
I've concluded that it's probably easiest to use some form of BlockOperator for my problem by splitting my complex ODE into real and imaginary parts. As an ODE, one may write the resulting set of coupled equations as
$$ \begin{pmatrix}
\mathbf{v} \cdot \nabla u_1(s)
\\
\mathbf{v} \cdot \nabla u_2(s)
\end{pmatrix}

[2022-10-18 10:41] ricgross opened #3255 "Direct solver and BasisType::Serendipity questions"
Hi!

I am trying to solve a linear elasticity problem of a 3D cantilever beam with a surface load applied at its end (similar to example 2, but with only one material throughout). The mesh (obtained using GMSH) is constituted by 2nd order 27-node hex elements. I am sorry in advance if the questions might sound trivial, I am just a beginner :)
I am trying to re-write the code, so that a direct solv

[2022-10-18 18:02] psocratis commented on #3255
Hi @ricgross,

regarding your first question, I wouldn't recommend the use of any dense linear algebra solver. There are various sparse linear solvers both in serial and parallel for which MFEM provides a simple interface (e.g. UMFPack in serial, MUMPS, SuperLU, PARDISO  in parallel). Having said that, I think an iterative solver with an AMG-based preconditioner would be  the way to go (like in ex

[2022-10-18 21:32] ricgross commented on #3255
Hi @psocratis,

Thank you for your prompt reply. I will definitely look into the sparse linear solvers supported by MFEM.

With respect to the second question, I can provide a bit more data. The mesh is constituted by 1225 nodes (from the mesh file), which provides me with a total of 3675 unknowns (i.e. `nDofs*vdim`), which is what I obtain if I use e.g. the  `BasisType::GaussLobatto`. When using

[2022-10-19 11:43] denislachapelle opened #3259 "mfem-4.4 compilation fails to complete on "tmop_pa_w3.cpp""
I have Ubuntu "ubuntu-22.04.1-desktop-amd64.iso" installed in Virtualbox installed in Windows 10. When I compile mfem with this command "make serial -j" the compilation start properly up to the file "tmop_pa_w3.cpp"; then it takes a lot of time up to a moment when the screen becomes black and Unbuntu restart. Using the rescources monitor, I saw that the swap memory was constantly growing while com

[2022-10-19 12:38] adam-sim-dev opened #3260 "MATTRANSPOSEMAT unknown warning specifier for PETSc 3.18.0"
linalg/petsc.cpp(1327): warning #1028: unknown warning specifier
        ierr = PetscObjectTypeCompare((PetscObject)(pA->A),MATTRANSPOSEMAT,&istrans);
                                                           ^

[2022-10-19 13:52] v-dobrev commented on #3260
With gcc I get the warning
[code]
which is a deprecation warning from PETSc v3.18.0.

With what compiler did you get the above?

In any case, I think you can safely ignore this for now.

We can keep this open to remind us to add a `#if` switch for the new name in the new version of PETSc.

[2022-10-19 14:07] adam-sim-dev commented on #3260
I am using icpc from Intel oneAPI 2022.2

[2022-10-19 14:48] v-dobrev commented on #3260
Oops, I didn't mean to close this.

[2022-10-19 15:47] InfinityHub opened #3261 "customization of MFEM for Maxwell's equations"
Hello, I am trying to understand how to use MFEM for my own problems. My PDE is diffusive Maxwell's equations. I wonder how I can use the high-order FE modules in MFEM (e.g., discretization of curl-curl operator on tetrahedral meshes)  to solve my equations with my own:
1. initial tetrahedral mesh, since the models to be meshed are quite problem specific;
2. boundary conditions, e.g., the E & H fi

[2022-10-19 18:55] bremerm31 commented on #3251
@psocratis Just wanted to circle back on this and ask if you had any updates. Thanks!

[2022-10-20 03:08] chvillanuevap opened #3263 "Exodus QUAD mesh is dumped as TRI mesh in VisIt and ParaView data collectors"
I have a 3D surface mesh (topologically 2D) made of QUAD elements. All points have `x`, `y`, and `z` coordinates because this mesh is a slice of a larger 3D volumetric mesh.

<img width="928" alt="Screen Shot 2022-10-19 at 8 58 42 PM" src="https://user-images.githubusercontent.com/3827771/196846046-292bd043-6e87-46c6-b741-eaa6fba94580.png">

I read the mesh in MFEM using:
[code]
Then, I dump it us

[2022-10-20 11:12] v-dobrev commented on #3263
Is it clear that the issue is not in the reader? One way to check that is to open the file in GLVis with `./glvis -m slice_1_middle_fromcubit.gen` and see if everything looks good.

[2022-10-20 16:18] huidong80 commented on #3214
Sorry for late reply.  I still need some more time to go through the code, but the solution is exactly in  https://github.com/mfem/mfem/issues/3209 pointed out by  @nmnobre.  Thanks again for your patience.

[2022-10-20 16:18] #3214 closed

[2022-10-20 16:43] chvillanuevap commented on #3263
I tried running GLVIS on my Mac, but I got an error about NetCDF. I'll have to install it on Linux, since my MFEM there does support NetCDF. However, I opened the mesh on ParaView, Cubit, MATLAB, and VisIt, and it looks okay.

VisIt:
<img width="936" alt="Screen Shot 2022-10-20 at 10 41 03 AM" src="https://user-images.githubusercontent.com/3827771/197008565-b21e1655-c95b-4f14-80aa-7aa93c2a8e28.png

[2022-10-20 17:31] chvillanuevap commented on #3263
It seems at some point in the process, the nodes get flipped for the quads.
<img width="781" alt="Screen Shot 2022-10-20 at 11 30 37 AM" src="https://user-images.githubusercontent.com/3827771/197018262-0e330f51-0b5e-4151-9755-423e4ba28cc7.png">

[2022-10-20 17:56] chvillanuevap commented on #3263
Sorry for all the messages but I think I'm getting close to the error. MFEM thinks the mesh is made of TETs.

<img width="1141" alt="Screen Shot 2022-10-20 at 11 54 12 AM" src="https://user-images.githubusercontent.com/3827771/197022658-410dc2d1-cd8d-49cf-99d4-b135daf0c3ef.png">

But Cubit, ParaView, etc. recognize it is QUADs.

<img width="351" alt="Screen Shot 2022-10-20 at 11 55 09 AM" src="htt

[2022-10-20 18:12] chvillanuevap commented on #3263
I think I found the "bug". The problem is in the `mfem::Mesh::ReadCubit` function.
[code]
In my case, I have a 3D mesh (a slice) formed of `QUAD4` elements. Even if `QUAD4` should exclusively used be used for 2D, the function should be able to handle 3D `SHELL4` elements. The function is mixing geometry with topology. `num_dim` should indicate the spatial dimension, whereas the element type (`QUAD

[2022-10-20 19:24] chvillanuevap commented on #3263
It seems, based on issue #2547, that MFEM only supports 3D surface meshes when they are in VTK format 4.2. ParaView exported my mesh to VTK 5.1 format, I converted it to 4.2 using meshio, and the code seems to run now. Thanks!

[2022-10-20 19:50] v-dobrev commented on #3263
Okay, that makes sense -- our Cubit mesh reader does not support surface meshes (it shouldn't be too hard to add support though). I wasn't sure if it does, and that's why I asked you to try opening the mesh in GLVis. GLVis uses the MFEM mesh readers, so it basically tests the MFEM mesh readers.

[2022-10-20 20:01] dylan-copeland commented on #3261
Hello @InfinityHub, thank you for your interest in using MFEM for Maxwell's equations. I recommend starting with the example `mfem/examples/ex3p.cpp`, which discretizes and solves the type of equation you mentioned, with support for tetrahedral meshes (among other types). The supported mesh types and tools to generate them are documented on the MFEM webpage:
https://mfem.org/mesh-formats

[2022-10-21 16:06] goinea opened #3264 "Glvis Build Error 1"
Hello,
I've been trying to install Glvis for a while and sway between errors when building serial version. Currently I am getting the error below and am not sure how to fix it:
`/home/linuxbrew/.linuxbrew/bin/ld: cannot find -lglvis: No such file or directory
collect2: error: ld returned 1 exit status
make: *** [makefile:258: glvis] Error 1 `
I am using Glvis-4.0 and mfem-4.2 on GNU make since tho

[2022-10-21 20:03] joshia5 commented on #3244
The command that you mentioned worked for this case. Thank you @vladotomov, @v-dobrev for your help.

[2022-10-21 20:03] #3244 closed

[2022-10-21 22:10] AntonIatcenko opened #3265 "Restricted H(curl)/rotational symmetry"
Hello Everyone,

I am solving a Maxwell eigenvalue problem $$\nabla \times \nabla \times \mathbf{E} = \lambda \mathbf{E}$$
on a domain that is a body of revolution. The eigenfunctions (in cylindrical basis) have the form of $\mathbf{E}(r, \phi, z) = \mathbf{E}_m(r, z) e^{im\phi}$. I'd like to be able to solve for a single given $m$ by discretizing the 2D problem for $\mathbf{E}_m$. I am guessing t

[2022-10-24 01:52] edwardt9 commented on #2922
@v-dobrev Thanks for your kind reply. Sorry for the unclear mathematical formula. The interested error estimator is the following:

\begin{equation}
\eta_{F}^{2}=\frac{1}{2} h_{F}(|| (\mathbf{n} \cdot \mathbf{J})|_{F_{+}} - (\mathbf{n} \cdot \mathbf{J})|_{F_{-}}||_{F}^{2} + || (\mathbf{n} \times \mathbf{H})|_{F_{+}} - (\mathbf{n} \times \mathbf{H})|_{F_{-}}||_{F}^{2})
\end{equation}
where, $\mathb

[2022-10-24 16:37] v-dobrev commented on #3229
@samuelpmishLLNL, which of the solutions you listed above is the one you prefer and/or recommend?

[2022-10-24 16:51] v-dobrev commented on #3042
We should document (in the doxygen docs for `GetGeometricFactors` and `GetFaceGeometricFactors`) the need to call `Mesh::DeleteGeometricFactors` or the new `Mesh::NodesUpdated` when modifying the mesh in a way that will change them.

Apart from this, is there anything else we should consider doing in order to resolve this issue?

[2022-10-24 17:07] samuelpmishLLNL commented on #3229
#2 is preferable to me and (I believe) to users, in general. However, it's also worth noting that:

option #1 is simpler to implement: it just amounts to sprinkling some additional overloads here and there, but it is kind of messier to have those extra overloads in the mfem codebase.

option #2 takes more work to implement, as it involves replacing the existing definitions, but the payoff is great

[2022-10-24 20:46] miaodi opened #3267 "Create a group of finite element with different dofs"
I would like to try a mixed formulation in mfem. The linearized formulation in the block form is given as:
[K L^T][dv]=[f]
[L  H   ][da]  [h]

where dv is discretized by normal hex H1 elements. For da, it is scalar and is discontinuous (in L2). It is discretized by elements whose shape functions are a subset of $\xi_1, \xi_2, \xi_3,\xi_1\xi_2, \dots, \xi_1^i\xi_2^j\xi_3^k,\dots$ (I would like to t

[2022-10-25 19:32] termi-official commented on #2666
Sorry, I think I am still missing something essential here. If I understand correctly then the flipped representation of the face {0, 1, 2} is {1, 0, 2}, in the point matrix the first and second entry has to be swapped, right?
To reflect this in the face information bit 1 in the associated bitvector (i.e. Elem2Info) must be flipped and the associated element index needs to be updated. The last two

[2022-10-25 23:24] AntonIatcenko opened #3269 "Parameters/Statistics for HypreAME"
Hello Everyone,

I am using HypreAME for a Maxwell eigenvalue problem (pretty much example 13 on a hemispherical domain), and I am having issues with computing higher-order eigenvalues. Usually, I can get between 110 and 115 eigenvalues, and beyond that the solver fails with "Error in LOBPCG: Bad initial vectors: orthonormalization failed".

1. Is it possible to check if the solver converged? So t

[2022-10-26 08:40] MarijaI opened #3272 "Which MUMPS and PETSC versions are supported under LINUX"
Hello MFEM friends,

Once again, thank you for the effort and time invested to develop such a powerful program.

Can you tell me which versions of the `MUMPS `and `PETSC `are supported for `MFEM `under `LINUX `(if there are any limitations).
I am solving Helmholtz equation and need to switch to `LINUX` version. So, now I need to reinstall everything and it would be great if you have any suggestion

[2022-10-26 21:49] JeremiahDBrown commented on #3156
For the time being, I've implemented this as outlined above.  $\psi$ is a grid function, and I've created a ConvolutionCoefficient derived from VectorCoefficient.  The Eval method uses the GetVectorVal method to obtain values of $\psi$ and $e$ to compute the value to be projected.  Every time step, I tell the coefficient to make a backup copy of $\psi$, as once I call ProjectCoefficient, the resul

[2022-10-27 01:05] tzanio commented on #3272
Hi Marija,

The version requirements are listed in the `INSTALL` file, for example

- https://github.com/mfem/mfem/blob/master/INSTALL#L711-L712 for PETSc
- https://github.com/mfem/mfem/blob/master/INSTALL#L661 for MUMPS

Hope this helps,
Tzanio

[2022-10-27 01:08] tzanio commented on #3264
Can you try the latest releases, i.e. glvis-4.2 and mfem-4.5?

[2022-10-27 01:10] tzanio commented on #3259
Can you try the latest release, `mfem-4.5`?

That file may take a while to compile in a virtual machine, I will also suggest specifying `-j 4` or whatever is appropriate in terms of how many hardware cores are available.

[2022-10-27 01:12] tzanio commented on #3252
Thanks @hughcars, please go ahead and submit the PR.

[2022-10-27 01:15] #3218 closed

[2022-10-27 01:56] tzanio commented on #3269
Good questions, @AntonIatcenko. I am afraid some of them may not have good answers.

1. There is no lobpcg function that I am aware of for this. You can print and monitor the convergence with `HypreAME::SetPrintLevel` and potentially check the norm of $\\| A x - \lambda M x \\|$ for eigenpairs before safint them.

2. The call to LOBPCG in hypre's src/parcsr_ls/ame.c is below. I don't really see mu

[2022-10-27 03:01] AntonIatcenko commented on #3269
Thank you for your response @tzanio!

1. This is very strange... I guess I'll try to "intercept" what the function prints to the output and process it. Will use your suggestion for checking the norm if that does not work, thanks!
2. Here is what it says in the documentation for hypre's LOBPCG: "The LOBCPG also allows one to impose constraints on the eigenvectors of the form $x^T B y_i = 0$ for a s

[2022-10-27 04:12] yurivict opened #3273 "Build breaks with Mesquite: error: no member named 'LONG_LONG' in 'Mesquite2::Mesh'"
Build of mfem-4.5 fails with Mesquite-2.3.0:

[code]

clang-14
FreeBSD 13.1

[2022-10-27 08:10] yurivict opened #3274 "2 tests fail"
[code]

Version: 4.5
FreeBSD 13.1

[2022-10-27 10:58] denislachapelle commented on #3259
I may try later with version 4.5, but for now I succeed compiling and executing few examples using WSL. The only issue I have now is with the viewing. I have GLVIS-4.2 properly compiled but I get the following message:

Waiting for data on port 19916 ...
FATAL: Failed to initialize SDL: No available video device
Thank you for using GLVIS.

I have installed Xming and get the xterm working so this p

[2022-10-27 11:51] MarijaI commented on #3272
Thank you a lot.
Best,
Marija

[2022-10-27 11:51] #3272 closed

[2022-10-27 14:15] jandrej commented on #3274
Hi @yurivict can you give us some information about which MPI version you are using and maybe also the output of `make info`?

[2022-10-27 14:36] adam-sim-dev commented on #3093
FYI, MUMPS-5.2.1 works. @psocratis

[2022-10-27 14:42] adam-sim-dev commented on #3093
FYI, mumps-5.2.1 works. The possible bugs may be in the MFEM_MUMPS_VERSION >= 530 code part. @psocratis

[2022-10-27 15:47] yurivict opened #3276 "4.5: installs cmake file with SuperLU include directory but cmake only looks for SuperLUDist"
```lib/cmake/mfem/MFEMTargets.cmake``` has this lines:
[code]

```/usr/local/include/superlu``` is installed by superlu-5.3.0

But the cmake script looks for ```SuperLUDist``` [here](https://github.com/mfem/mfem/blob/master/CMakeLists.txt#L307) which doesn't install the above directory.

[2022-10-27 15:51] yurivict commented on #3274
It uses mpich-3.4.3

The ```info``` target doesn't exist:
[code]

[2022-10-27 16:56] psocratis commented on #3093
Thanks @adam-sim-dev, I'll investigate and report back soon.

[2022-10-27 17:13] mlstowell opened #3277 "ParBlockNonlinearForm does not yet support DG"
We should document this limitation unless someone has a solution at hand.

https://github.com/mfem/mfem/blob/d84884d13c20bd54b12683c1f19abaaa7e33877b/fem/pnonlinearform.cpp#L255-L258

and

https://github.com/mfem/mfem/blob/d84884d13c20bd54b12683c1f19abaaa7e33877b/fem/pnonlinearform.cpp#L335-L338

[2022-10-27 19:16] psocratis commented on #3093
@adam-sim-dev , can you give me the stack trace from ex25p? Thanks

[2022-10-27 19:55] adam-sim-dev commented on #3093
Yes, but just give me some time

[2022-10-27 20:45] AntonIatcenko opened #3279 "Complex Eigenvalues for Maxwell Equations"
Hello Everyone,

I am working on finding resonant modes of a Maxwell system, and I would like to make part of the domain (slightly) conducting. This would introduce a loss mechanism in the physical system, so the eigenpairs should be complex.

1.  Does MFEM have the functionality for this? I've modified example 13, but I get a Segmentation fault (11) with Invalid permissions (2). Is it because Hyp

[2022-10-27 23:59] mlstowell commented on #3279
Hello, @AntonIatcenko,

Unfortunately I don't believe MFEM currently has support for problems with complex eigenvalues. HypreAME is based on LOBPCG which requires real symmetric positive definite linear systems.

I think some users have solved eigenvalue problems with SLEPc which may support complex linear systems. This would probably require translating our sparse matrices to something SLEPc coul

[2022-10-28 02:40] adam-sim-dev commented on #3093
I cannot reproduce the problem on a small workstation using Intel and GCC compilers. I have some difficulty obtaining the stack trace on that cluster because I am not so familiar with GDB or other tools...

[2022-10-28 03:14] adam-sim-dev commented on #3093
mumps.cpp Line 213

213	   id->job = 3;
(gdb)
214	   dmumps_c(id);
(gdb)

Thread 1 "ex25p" received signal SIGSEGV, Segmentation fault.
__memcpy_generic () at ../sysdeps/aarch64/multiarch/../memcpy.S:198
198	../sysdeps/aarch64/multiarch/../memcpy.S: No such file or directory.

[2022-10-28 07:04] ricgross commented on #3255
Hi @gillette7.

Thank you for the reply. I use 27-node hex elements to define the geometry, reason being that I am using GMSH and the 20-node hex element is not supported within MFEM. You are highly likely correct about the cause of the dimension mismatch. From this, I can then conclude that the serendipity basis type is not supported for such element.

My question becomes then, is there a table/o

[2022-10-28 08:34] mariobendra opened #3280 "Building MFEM with SUNDIALS"
Hello,

I am just about to try your SUNDIAL solver with MFEM. Unfortunately, I cannot configure the library successfully with MFEM.
SUNDIALS is built with the following -flags:
-DEXAMPLES_ENABLE_CXX:BOOL="1" -DHYPRE_INCLUDE_DIR:PATH="/home/bendra/CLion/hypre/src/hypre/include" -DHYPRE_DIR: PATH="/home/bendra/CLion/hypre/src/hypre" -DENABLE_OPENMP:BOOL="1" -DHYPRE_LIBRARIES:STRING="/home/bendra/CLi

[2022-10-28 13:07] hughcars commented on #3252
https://github.com/mfem/mfem/pull/3275

[2022-10-28 19:18] thorvath12 opened #3282 "PETSc usage in MFEM"
Hello,

I ran into an issue when using PETSc in MFEM. I have a good initial guess for the solution to the linear system, so I would like to start GMRES from a nonzero initial guess. I was experimenting with the hdg_poissonp example (hdg branch), where the solver is set up as

[code]

I tried the following two-line long PETSc input file

[code]

but the second line seems to be ignored. The number o

[2022-10-28 19:23] jandrej commented on #3282
Does `Lambda` include your initial guess satisfying boundary conditions?

[2022-10-28 20:08] goinea commented on #3264
I did and get this error continually:
'error: XDG_RUNTIME_DIR not set in the environment.
FATAL: Failed to initialize SDL: No available video device
Thank you for using GLVis.
Waiting for data on port 19916 ...'

[2022-10-28 20:15] thorvath12 commented on #3282
The ParGridFunction `lambda` satisfies the BC. The projection `lambda.ProjectCoefficientSkeleton(ucoeff);` should take care of that. I just pushed my experimental version, where I have a few added lines

[code]

With these lines, `Lambda` should be fine.

[2022-10-28 21:08] JeremiahDBrown opened #3283 "Surface current integrals"
I'm working on some calculations involving surface current integrals of the form:
$\vec L = \int_S (\hat n\times\vec E)f(\vec r) dS'$
$\vec N = \int_S (\hat n\times\vec H)f(\vec r) dS'$
The first of these is pretty straightforward using the VectorFEBoundaryTangentLFIntegrator.  However, that integrator requires a field in the H(curl) space.  To obtain $\vec H$ from $\vec B$ (H(div) space), I assum

[2022-10-28 21:31] sungho91 opened #3284 "Outputting stress tensor for ex2 but lines look messy to do that. Please comment on this."
Hi all.

I am very new to MFEM. So, It can be a dumb request/question.
I already ask a related question to the previous workshop and got some comments.

Based on the comments and formerly closed issues, I modified ex2 to output stress tensor.

To do that, my flow is like this below:

→ VectorFunctionCoefficient (initializing zero values for all stress components according to dimension)
→ Projectio

[2022-10-28 22:05] mlstowell commented on #3247
I wanted to ask @jakubcerveny if the suspicion I raised above is correct. What do you think Jakub, is it possible that user-defined element attributes would be overwritten during rebalancing? If so, do you think there might be a way to preserve user-defined attributes in such cases?

ping: @tzanio

[2022-10-28 22:46] tzanio commented on #3252
Thanks!

[2022-10-28 23:06] cjvogl commented on #3280
@mariobendra, which versions of MFEM and SUNDIALS are you using?

[2022-10-29 13:57] fengerhan opened #3286 "Output file of paraview_dc of example5 can not opened by the program Paraview"
Hi all.

I find when I change the output file format of `paraview_dc` of example5 to `VTKFormat::ASCII`,
[code]
the output file Example5.pvd can not opened  by the  program Paraview.  But when I the `VTKFormat::BINARY` format, the output file can opened  by the  program Paraview correctly.
Who can tell me how to fix the problem?
My version of  mfem is 4.4.

[2022-10-29 22:54] pazner commented on #3286
This is working for me (I tried running `./ex5` with no arguments). What are the exact arguments you are using? Also, what version of ParaView are you using? Example 5 calls `paraview_dc.SetHighOrderOutput(true)` which will enable output using the arbitrary-order Lagrange elements, which are supported in ParaView 5.5 and newer.

[2022-10-30 13:51] amit112amit opened #3289 "Which integrator to use when coefficient is a function of surface normal?"
I am new to MFEM. This is not an issue but a question.

I am trying to solve a PDE on a 3D surface $\Omega$ which has a term
$$\int_{\Omega}\nabla \cdot \left(\vec{g}(\vec{n}(x))\ u\right) v$$
where $\vec{n}(x)$ is the surface normal.
After carrying out integration by parts, I shifted the derivative to the test function $v$ as follows:
$$-\int_{\Omega} \vec{g}(\vec{n}(x))u \cdot \nabla v $$
From t

[2022-10-30 14:29] fengerhan commented on #3286
I want to use the function of paraview_dc to save my result. So I run ./ex5 with no arguments to learn how to use the  paraview_dc.
My Paraview version is 5.9.

[2022-10-30 23:58] mlstowell commented on #3289
Hello, @amit112amit,

It looks like you _will_ need a custom integrator. This is mainly because your vector-valued coefficient `g` seems to be a function of the surface normal. This is not common so we don't have any integrators, as far as I know, with such coefficients.

I'll be happy to offer more specific advice if needed.

Best wishes,
Mark

[2022-10-31 00:32] pazner commented on #3286
Maybe you are running into the issue resolved in PR #3145 since you are using MFEM 4.4. Can you try with 4.5 or master?

[2022-10-31 03:52] amit112amit commented on #3289
Thank you, for the reply @mlstowell.
I will attempt to write a custom integrator for this case. Then, I will be able to ask more specific questions.
Once I get the code working, I will close this issue.

[2022-10-31 09:12] vasily-golubev opened #3291 "Mixed boundary conditions for static linear elastic problem"
Hello, everyone.

Thanks a lot for MFEM.
I try to solved the static problem of linear elasticity.
If I want to fix the horizontal component of the displacement (on the boundary) and set tangential stress (Sigma_xy)  to zero, I should use the code like:
[code]
Am I right? The full example I posted here: https://github.com/vasily-golubev/mfem_static_example/blob/main/static_elasticity.cpp

[2022-10-31 09:18] ivhak opened #3292 "AssemblyLevel::FULL on device not working"
Hello!

I am trying to use `AssemblyLevel::FULL` on a `(Par)BilinearForm` in an attempt to get the assembly of my linear system to be done on an AMD GPU.  Following is a minimal example of what I am trying to do.

[code]

This does not work, however, and running the program fails with the following error:
[code]

Loading the program into `rocgbd` and breaking on the location of the failing `MFEM_V

[2022-10-31 15:07] ivhak commented on #3292
I compiled the minimal example with builds of mfem and hypre without HIP support and I am getting the same error, so it seems not to be related to device execution.

[2022-10-31 16:05] pazner commented on #3292
Hello @ivhak,

`AssemblyLevel::FULL` does end up calling some of the "partial assembly" routines as part of the algorithm. PA is only supported in MFEM on elements with tensor-product elements (quads, hexes). For this reason, I believe FA is not expected to work on meshes containing any other element type (there is some support for PA on simplex meshes using the libCEED backend, but I don't know i

[2022-10-31 17:08] jakubcerveny commented on #3247
Hi @mlstowell, I think you are right. It didn't occur to me before but we've actually never included the attributes in the rebalancing messages, because it was assumed they are the same as the attributes of the respective root elements. I'm not ever sure now if it is conceptually correct that the attributes of refined elements differ from their parents. If we're OK with that (i.e. there are no sid

[2022-10-31 18:01] tzanio commented on #3273
The Mesquite support in MFEM is really deprecated (replaced by the TMOP capability) at this point and we should remove it from the library.

@yurivict, can you disable it in your build?

[2022-10-31 18:08] tzanio commented on #3255
Hi @ricgross,

We don't have such a table currently, but it is a good suggestion to add one. We will take it as a TODO item.

Tzanio

[2022-10-31 18:21] tzanio commented on #3265
In the axisymmetric case, there are additional coefficients in the two bilinear forms above to account for the restriction from 3D to a meridian plane.

I believe @mlstowell already has some code for that, see [this comment](https://github.com/mfem/mfem/issues/2180#issuecomment-828076232).

@dylan-copeland also has experience with axisymmetric Maxwell problems and may be able to provide additional

[2022-10-31 18:36] tzanio commented on #3269
lobpcg written by Andrew Knyazev?

This is correct, but AME is a special eigensolver. As discussed in the [research note](https://www.osti.gov/servlets/purl/900179) for it, in addition to providing a preconditioner for the curl-curl operator (for AME this is AMS), one also needs to enforce a divergence-free constraint for the LOBPCG subspace in each iteration.

That being said, the AME code is 16

[2022-10-31 18:44] tzanio commented on #3291
This looks correct to me.

In particular the call `fespace->GetEssentialTrueDofs(ess_bdr, ess_tdof_list, 0);` will extract the degrees of freedom corresponding to the `x`-components on boundary attributes `2` and `4` and then `FormLinearSystem` will make impose zero Dirichlet b.c. on them.

[2022-10-31 20:28] thorvath12 commented on #3282
If I set the problem up such that u = 1, so the projection contained in `Lambda` is the exact solution, I would expect 0 iterations, and it does more than that. (Again, the same number independently of the second line).

[2022-10-31 22:16] jandrej commented on #3282
Got it. That seems suspicious. @stefanozampini do you have a gut feeling about this?

[2022-11-01 05:44] yurivict commented on #3276
@v-dobrev The 4.5 release is broken.
Dependencies fail to build.

```glvis-mesh-visualizer-4.2``` and ```axom-0.7.0``` both fail with this error:
[code]

[2022-11-01 06:25] vasily-golubev commented on #3291
Great, many thanks.

I used the ElasticityIntegrator to solve 2D static elastic problem. However, as far as I understand, this class implicitly implies the plain strain problem (Dz==0, D-displacement). If I want to describe the plate behaviors (plain stress problem, Sigma_zz==0, Sigma - stress tensor), I have to change mechanical properties as: https://fenics-solid-tutorial.readthedocs.io/en/lates

[2022-11-01 06:30] v-dobrev commented on #3276
As far as I remember, we have not changed anything related the SuperLU_DIST in the CMake build system since the last release.

What SuperLU_DIST-related command line options do you give to CMake?

Where are the SuperLU_DIST files `superlu_defs.h` and `libsuperlu_dist.so` actually located?

If the logic here https://github.com/mfem/mfem/blob/2eb2061fb0cc944f76177d038a215dac5dfa4abc/config/cmake/mod

[2022-11-01 17:55] vladotomov commented on #3284
Why don't you make your `StressCoefficient` be a `VectorCoefficient`, like you do for the initial projection?

[2022-11-01 18:42] tzanio commented on #3171
Hi @yurivict, is this still an issue after the 4.5 release.

[2022-11-01 18:48] tzanio commented on #3274
Hi @yurivict, can you please provide more details about your configuration. We can't determine the issue just from the above error.

[2022-11-01 18:53] yurivict commented on #3171
4.5 doesn't have this problem.

[2022-11-01 18:58] yurivict commented on #3171
Sorry, I take it back.
Without ```-L${LOCALBASE}/lib -lsuperlu_dist``` it builds but the library has missing symbols:
[code]

[2022-11-01 19:19] v-dobrev commented on #3171
In the CMake output, what does the line containing `Found SuperLUDist:` look like in your case?

[2022-11-01 19:30] tzanio commented on #3276
@white238, do you have any issues building mfem-4.5 and SuperLU with CMake in your application?

[2022-11-01 19:33] yurivict commented on #3274
cmake was configured with:
-DMFEM_USE_CONDUIT:BOOL=true -DMFEM_USE_LAPACK:BOOL=true -DMFEM_USE_METIS:BOOL=true -DTPL_ENABLE_MPI=ON -DMFEM_USE_MUMPS:BOOL=true -DMFEM_USE_OPENMP:BOOL=true -DMFEM_USE_SUITESPARSE:BOOL=true -DMFEM_USE_SUNDIALS:BOOL=true -DMFEM_USE_SUPERLU:BOOL=true -DSuperLUDist_DIR=/usr/local -DSuperLUDist_INCLUDE_DIRS=/usr/local/include/superlu -DCMAKE_C_COMPILER:STRING="cc"  -DCMAKE

[2022-11-01 19:45] yurivict commented on #3171
It only says:
```-- MFEM: using package SuperLUDist```

When ```MFEM_USE_SUPERLU=ON``` it uses find_package:
[code]
However, ```superlu-dist-8.1.1``` doesn't install cmake scripts. We have to supply ```-DSuperLUDist_DIR=${LOCALBASE} -DSuperLUDist_INCLUDE_DIRS=${LOCALBASE}/include/superlu``` to assist cmake. Then libraries also need to be supplied.

Instead you should use pkg-config (through cmake)

[2022-11-01 19:53] v-dobrev commented on #3274
I see that you are setting `SuperLUDist_INCLUDE_DIRS` but not `SuperLUDist_LIBRARIES`, so MFEM does not link with SuperLU_DIST. Please try adding something like `-DSuperLUDist_LIBRARIES=/usr/local/lib/libsuperlu_dist.so` or with `libsuperlu_dist.a` if SuperLU_DIST is built just as a static library.

Note that when setting `SuperLUDist_INCLUDE_DIRS` and `SuperLUDist_LIBRARIES` directly, setting `Su

[2022-11-01 19:58] yurivict commented on #3274
Ok, I will make corrections, but you should use pkg-config instead to locate SuperLUDist.

[2022-11-01 20:05] v-dobrev commented on #3274
We can look into that. Do you know if CMake has some support to facilitate that?

Also, we welcome contributions, if you want to add support for that or any other enhancements.

[2022-11-01 20:10] yurivict commented on #3274
You need to add:
[code]

[2022-11-01 20:21] v-dobrev commented on #3274
Sounds good. Thanks for the advice!

[2022-11-01 20:56] sungho91 commented on #3284
Hello @vladotomov,
Yes, I made it by using VectorCoefficient. Thank you :)

[2022-11-01 20:58] #3284 closed

[2022-11-02 11:50] shani9383 opened #3295 "Micro finite element generated from micro CT"
Hi,
Do you have any knowledge to share regarding Micro finite element (micro-FE) generated from micro CT. Micro-FE models are generated from the segmented micro CT scans using conversion of the scans voxels to equally sized 8 node HEX elements. This conversion process generates models with million elements deriving huge number of DOF.  I wish to conduct a simple linear-elastic analyses using MFEM

[2022-11-02 15:09] jandrej commented on #3295
GMSH, Cubit (Coreform) and Pointwise can output mesh formats that can be directly read by MFEM.

[2022-11-02 22:19] queen333597 opened #3296 "Normal traction boundary conditions for linear elasticity"
I have a problem with a cylindrical geometry. I know how to apply force in x, y, or z direction (below). But how can I apply force (displacement) normal to the surface (in radial direction)?

[code]
Thank you.

[2022-11-03 08:00] amit112amit commented on #3289
I went through the documentation https://mfem.org/integration/. As of now, I think I have enough information about how to implement the custom integrator. I will ask another question if I face any difficulty. Thank you for the prompt response!

[2022-11-03 08:00] #3289 closed

[2022-11-03 08:43] mariobendra commented on #3280
@cjvogl I am using MFEM 4.2, SUNDIALS 6.4.0, and HYPRE 2.20.0.

[2022-11-03 14:27] cjvogl commented on #3280
@mariobendra, thank you for the additional info.  SUNDIALS 6.x support was only just added in MFEM 4.5.  You can either build your current version of MFEM with SUNDIALS 5.x or build MFEM 4.5 with your current version of SUNDIALS.

Assuming this adequately resolves the problem, I'm closing the issue... but please feel free to reopen if you have additional questions or if using the suggested version

[2022-11-04 12:36] TangLaoya opened #3299 "Any example of Discontinuous Galerkin (DG)/Discontinuous Petrov-Galerkin (DPG) in electromagnetic field?"
Dear all,
I found there are some DG/DPG examples, but didn't find any DG/DPG example applied in electromagnetic field calculation, could anyone provide such kind of examples?

Thanks,
Tang laoya

[2022-11-04 15:34] queen333597 opened #3300 "Applying force in example 10 (nonlinear elasticity)"
In example 2, a force is applied on one the boundaries, and it contributes to the linear form b, as below.
I am wondering how a similar boundary condition can be applied for a nonlinear elastic problem (e.g. example 10). Where should the pull_force be added in the nonlinear form?

[code]

Thank you.

[2022-11-04 17:14] psocratis commented on #3299
@TangLaoya,

There is a PR in review about DPG, including time-harmonic Maxwell equations. Please see `./miniapps/dpg/pmaxwell.cpp` in #3234.

Best,

Socratis

[2022-11-04 18:53] vladotomov commented on #3300
Hi @queen333597,

If the force depends on the unknown, it should be added to the `NonlinearForm` as a `NonlinearFormIntegrator`. Otherwise, it can go to the right-hand side as above.

[2022-11-04 19:03] hughcars opened #3301 "Mixed form AddBdrTraceFaceIntegrator for <psi, A.n> and < G.n, phi>"
I have a mixed form pde, with a scalar phi (with test psi), and vector A (with test G), and I need to implement a boundary integrator that does

<psi, Q A . n>

where Q is a possibly matrix coefficient. I've managed to code this up use `AssembleFaceMatrix` and `AddBdrTraceFaceIntegrator`. The next complexity though, is that I need the transpose of this operator, I.e.

<Q^T G. n, phi >

I had hoped

[2022-11-05 02:23] TangLaoya commented on #3299
That's great, thank you very much!

[2022-11-06 07:45] markusrenoldner commented on #2827
No, it is implicitely being solved, as the term `div(u) = 0` was being used while deriving the formulation that is implemented. That means, the implemented formulation also satisfies `div(u) = 0`.

[2022-11-06 13:45] denislachapelle commented on #3259
The following setup works fine for me now.

mfem-4.5 installed in WSL under windows 10.
glvis 4.2 installe for windows (not under WSL).

As example for example 0, I do the following:
In WSL shell in mfem examples directory ./ex0 -m ../data/square-disc.mesh -o 2
in CMD shell in glvis directory •	glvis -m ..\mfem-4.5\examples\mesh.mesh -g ..\mfem-4.5\examples\sol.gf
and GLVIS is properly showing the

[2022-11-06 19:18] #3299 closed

[2022-11-06 19:20] tzanio commented on #3295
I am not sure if this is directly relevant, but @benzwick has the [MVox Mesh Voxelizer](https://github.com/benzwick/mvox)

[2022-11-06 19:26] jsfeng-fudan opened #3308 "Problem about transient heat transfer with Robin boundary B.C.!"
I have one example about one dimension heat transfer problem, I see the ex.9 and ex.16. and ex.27 then I modified the code of ex.16 to solve the problem below:
u_{t}(t,x) = u_{xx}(t,x)  + f(x,t) in the domain x in [0,5] with the source term f(x,t) = t for all domain. Initial condition reads : u(x,0) = 25 , Robin boundary is :  n.Grad u + a u =  b, where b = 25,  and a =1 for two endpoints. In this

[2022-11-07 07:39] stefanozampini commented on #3282
@thorvath12 Yep, the option was always superseeded by the value of `iterative_mode`. https://github.com/mfem/mfem/pull/3309 should fix your problem. let me know

[2022-11-07 13:13] ivhak opened #3310 "Calculating gradients on GPU"
Hello,

I am working on a problem where I need to solve a Laplace equation with four different sets of boundary conditions, the solutions of which are $\phi_{\text{lv}}$, $\phi_{\text{rv}}$, $\phi_{\text{epi}}$ and $\psi_{\text{ab}}$. For the algorithm I am using, I also need the gradients for each of these: $\nabla\phi_{\text{lv}}$, $\nabla\phi_{\text{rv}}$, $\nabla\phi_{\text{epi}}$ and $\nabla\

[2022-11-07 17:39] jandrej commented on #3308
edited for code readibilty

[2022-11-07 18:50] jsfeng-fudan commented on #3308
Hi,Julian:
           Thank you very much,I am working on the heat conduction problem, but I am a freshman and am not very familiar with the mfem library. Especially, the implementation principle.

              can you help me to solve this problem?

Best Regards,

                                                                       J. S. Feng

发件人：Julian Andrej ***@***.***>
发送日期：2022-11-08 01:

[2022-11-07 21:08] como2099 opened #3311 "Development of New Example"
@Jeff-Hadley @Mateus-A-R-Braga and I will be developing a new example. It will solve the incompressible Navier-Stokes equations for a two-dimensional stagnation flat plate geometry, with a comparison study to the incompressible Blasius flat plate solution (time permitting). We will build off of existing examples 9, 14, 17, 18 and the Navier miniapp. This is a project for a class at CU Boulder this

[2022-11-07 22:04] tzanio commented on #3311
Welcome @como2099, @Jeff-Hardley and @Mateus-A-R-Braga!

Please let us know if you have any questions.

[2022-11-07 22:05] tzanio commented on #3282
Discussion continued in #3309.

[2022-11-07 22:05] #3282 closed

[2022-11-08 04:18] jsfeng-fudan commented on #3308
@jandrej  Hi,  I post the results  for  a = 1 for two endpoints (x= 0 and x =5)  at time = 10s:

![7ad4cfd45acf14342143f2dac2df4b9](https://user-images.githubusercontent.com/101965017/200473526-8354ff9f-4182-410e-946b-7b6f7b19fb9f.jpg)

and  a =1 for x=0, and a = 2 for x=5 at time = 10s, the wrong result is also posted

![f90b5d305c0225b624e4c1ef260c23f](https://user-images.githubusercontent.com/1

[2022-11-08 10:36] mariobendra commented on #3280
@cjvogl Thank you! However, I still get an error when using SUNDIALS5.8.0.
I add my building/cmake comands:

##############################################
#        Fetching and building METIS         #
##############################################

git clone --depth 1 https://github.com/scivision/METIS.git metis
cd metis
cmake -B build
cmake --build build --parallel
mkdir lib
ln -s ../build/libm

[2022-11-08 14:29] sshiraiwa commented on #1039
Let me re-open this.
Since someone asked if PyMFEM supports PETSc, I started look into it. I did install PETSc using ```pip install petsc```
I am using
[code]
and I ended up exactly the same error. With this ```-DPETSC_EXECUTABLE_RUNS=YES``` (took while to find it in FindPETSc.cmake ;D), MFEM build and all example runs except for petsc_ex5p. See error message below.

Two questions.
1) Does this me

[2022-11-08 17:25] salomole opened #3312 "Conjugate Gradient Solver in example 9"
Hello everyone,

I would like to know the Conjugate Gradient Method which is used to solve the advection equation of example 9. On line 469 it is noted: `M_solver.iterative_mode = false;`, it means that we don't use an iterative method, am I wrong? In this case, why define a preconditioner, a tolerance and a maximum number of iterations?

Best wishes,

SL

[2022-11-08 17:39] pazner commented on #3312
`iterative_mode = false` just tells the CG solver to use zero initial guess (instead of using the second argument to `Mult` as an initial guess):
https://github.com/mfem/mfem/blob/40c49ed9922c0a739d01c8c4ffd038a537614eb8/linalg/operator.hpp#L654-L659

[2022-11-08 17:51] cjvogl commented on #3280
@mariobendra, your error output looks porentially better: it now indicates an include directory problem rather than version incompatibility:

[code]

the include directory that contains `nvector/nvector_seriah.h` is not be properly identified.  Based on the flags you are passing to the `make` command in building mfem, I assume the missing directory is `/home/bendra/CLion/sundials/include`.  What I

[2022-11-08 18:21] #3260 closed

[2022-11-08 18:38] stefanozampini commented on #1039
The example is not broken. It requires a factorization package that supports LU with pivoting. See the `rc_ex5p*` files for options. How did you run it?

[2022-11-08 23:08] JeremiahDBrown commented on #3283
I'm still hoping to get some help on this!  I was trying the following:

    FiniteElementCollection *fec_nd = new ND_FECollection(2, mesh->Dimension());
    FiniteElementSpace *fespace_nd = new FiniteElementSpace(mesh, fec_nd);
    FiniteElementCollection *fec_rt = new RT_FECollection(2, mesh->Dimension());
    FiniteElementSpace *fespace_rt = new FiniteElementSpace(mesh, fec_rt);

    MixedBilin

[2022-11-09 06:50] vladotomov commented on #3283
Hi @JeremiahDBrown,

If you want to do an L2 projection, don't you need a ND mass matrix that must be inverted? What you have computed above seems to be the right-hand side vector.

For other approaches, you should check `FiniteElement::Project(...)` which will probably interpolate, and also the class `class DiscreteLinearOperator` in `fem/biliinearform.hpp`.

[2022-11-09 19:37] tzanio commented on #3296
Is this an axisymmetric problem, or is it a 3D problem where the geometry is just cylindrical?

[2022-11-09 20:43] queen333597 commented on #3296
The loading is axisymmetric, but the problem is not, so it has to be treated as a 3D problem.

[2022-11-09 21:26] queen333597 commented on #3300
Thank you for your answer. My force is independent of the unknown, so I created a `LinearForm *F` that includes the force (similar to `LinearFrom *b`above). I tried adding it to the right-hand side by adding `z.Add(1.0, F);` to either the `HyperelasticOperator` class or `HyperelasticOperator::Mult` (in example 10), but none of those affects the results. Would you guide me more about where `F` must

[2022-11-09 22:21] vladotomov commented on #3300
Hi @queen333597,

Looking at ex10, the RHS contribution should be added in `HyperelasticOperator::ImplicitSolve`, replacing the `zero` vector. Note that `HyperelasticOperator::Mult` is used only for explicit time integration, i.e., it doesn't perform a nonlinear solve.

[2022-11-09 23:42] JeremiahDBrown commented on #3283
@vladotomov ,
In the code above, I'm computing $\vec H = \mu^{-1}\vec B$, where I let $\mu=1$ for visualization purposes.  $\vec B$ is the magnetic field and is in H(div) space.  Ultimately, I don't really care about the computation of $\vec H$ so much as I want to compute $\int_S (\hat n\times \mu^{-1}\vec B) f(\vec r) dS'$ on the boundary.  I've tried the interpolation approach, and it yields si

[2022-11-10 00:38] vladotomov commented on #3283
I don't have any guesses. I can take a look if you provide a reproducer.

[2022-11-10 01:23] mlstowell commented on #3283
Hi, @JeremiahDBrown,

Converting a H(Div) field to an H(Curl) field is a common problem with no easy solution. The basic issue is that a discrete RT (aka H(Div)) space has fewer degrees of freedom than the corresponding ND (aka H(Curl)) space so you need to provide additional data somehow.

The conversion typically works well in the interior because there's enough data available locally. Consider

[2022-11-10 11:02] utah2015 opened #3318 "How to form a multiple right-hand side linear system."
Hi,
I am working to solve an electromagnetic problem with multiple point sources.  I would like to obtain all solutions with multiple sources by solving the linear system once.  How to  form a multiple right-hand side linear system?  Does the BilinearForm::FormLinearSystem() provide the functionality?
Thanks for your help.

[2022-11-10 13:04] mariobendra commented on #3280
@cjvogl Thanks a lot. Now the building process finishes fine without errors. See the file attached.
[build_file.txt](https://github.com/mfem/mfem/files/9980843/build_file.txt)
[build.txt](https://github.com/mfem/mfem/files/9980858/build.txt)

However, the linking to the library/file nvector/nvector_serial.h is still missing.
I am not sure, why it tries to find the library in mfem, while it is loca

[2022-11-10 13:08] mariobendra commented on #3280
I have to add building it without SUNDIALS, links everything properly.

[2022-11-10 16:01] cjvogl commented on #3280
@mariobendra, the only thing that comes to mind to check is to ensure the value of `installation_folder` in

[code]

is `/home/bendra/CLion`.  As an example, you might add the line

[code]

to the end of your build script to verify that `SUNDIALS_DIR` is being set properly.  If it is being set properly, I will rope in someone else on the MFEM team who is more familiar with the inner workings of th

[2022-11-10 16:06] hughcars commented on #3301
I ended up writing an integrator for this in the end, so I'm closing this.

[2022-11-10 16:06] #3301 closed

[2022-11-10 16:44] tzanio commented on #3296
In that case, imposing boundary conditions that mix different x/y/z components is not straightforward.

@vladotomov, can you help with that?

[2022-11-10 19:49] sebastiangrimberg commented on #3318
Hi @utah2015, this is something that is not currently available in MFEM but there is a PR in progress for adding this functionality (https://github.com/mfem/mfem/pull/3075). There are also some follow-on PRs which upgrade interfaces to some commonly used sparse direct solver packages to take advantage of this (https://github.com/mfem/mfem/pull/3082, https://github.com/mfem/mfem/pull/3081, https://

[2022-11-10 19:56] sebastiangrimberg commented on #3292
Hi @pazner @YohannDudouit @ivhak, for non-tensor element support for `AssemblyLevel::FULL`, the code currently does not make use of libCEED but it looks like it could: libCEED provides functions `CeedOperatorLinearAssembleSymbolic` and `CeedOperatorLinearAssemble` which could use the libCEED operators constructed/assembled from the `PABilinearFormExtension` object and then call these routines. The

[2022-11-10 20:45] queen333597 commented on #3300
I added force to the `zero` vector by `zero.Add(1.0, F)`; and it's working perfectly. Thank you very much!

[2022-11-10 20:45] #3300 closed

[2022-11-11 01:30] utah2015 commented on #3318
@sebastiangrimberg ，
I will try it by  following the steps you said.
Thanks for answering my question quickly.

[2022-11-11 08:34] mariobendra commented on #3280
@cjvogl Thanks a lot!

Yes, I can confirm that the "$installation_folder" is set to be the folder containing mfem metis sundials and hyper "/home/bendra/CLion".

[2022-11-11 18:49] vladotomov commented on #3296
@queen333597 for strong enforcement, you should check example 28.

The other option is to enforce the BC weakly by adding face integrators, but these would depend on the equations, would involve penalty constants, etc (Nitsche's method). Our expert for this is @atallah727.

[2022-11-11 22:24] queen333597 commented on #3296
Thank you. I'm trying to apply traction, so I was looking at example 27 where Neumann boundary condition is applied on boundary with attribute 4. However, I can't understand how the direction of the load is provided.

[2022-11-11 22:30] queen333597 commented on #3296
Thank you. I'm trying to apply traction, so I was looking at example 27 where Neumann boundary condition is applied on boundary with attribute 4:  `b.AddBoundaryIntegrator(new BoundaryLFIntegrator(m_nbcCoef), nbc_bdr); `. However, I can't understand how the direction of the load is provided.
In example 2 the direction of the applied load is given using: `f.Set(dim-1, new PWConstCoefficient(pull_fo

[2022-11-11 23:28] JeremiahDBrown commented on #3283
@mlstowell ,
Thanks for the comments.  That helps a lot.  Unfortunately, I'm running into a couple of issues now.  First, I'm using Cubit to create the meshes, and it appears that the direction of the surface normal for the interior boundary is not necessarily consistent from one face to the next.  I am integrating over a cube with one vertex at [0,0,0] and the other at [1,1,1].  I have initialize

[2022-11-11 23:48] mlstowell commented on #3283
Hi, @JeremiahDBrown,

I'm not surprised that the normal of an interior surface has an inconsistent direction. In order to make this work I think you would need to write a custom integrator and a custom vector coefficient. The vector coefficient would need to define the outward normal direction from your surface. The integrator would need to use this user-defined normal to compute the integral. I h

[2022-11-13 04:30] baigm11 opened #3324 "Linking problem when using SUITESPARSE"
Hello!

I'm trying to use sparse solver of SUITESPARSE. I got SUITESPARSE from "brew install suite-sparse". When compiling my codes, clang13 (as well as gcc11, gcc12) says at the linking stage

  "mfem::UMFPackSolver::SetOperator(mfem::Operator const&)", referenced from:
      _main in MCF.cpp.o
  "mfem::UMFPackSolver::Init()", referenced from:
      _main in MCF.cpp.o
  "mfem::UMFPackSolver::~UMF

[2022-11-13 21:15] #3236 closed

[2022-11-14 15:51] cjvogl commented on #3280
@tzanio, do we have someone more familiar with the MFEM native make build system who can diagnose why the internal flags are not being set correctly?

In the meantime, you can try using the CMake build system, which I am more familiar with:
[code]

[2022-11-14 17:39] tzanio commented on #3280
@mariobendra, can you try changing `MFEM_USE_SUNDIALS` and `SUNDIALS_DIR` in `config/defaults.mk` followed by `make distclean` and new build?

[2022-11-15 09:03] vasily-golubev commented on #3291
Sorry, if it is not important, the issue can be closed. @tzanio

[2022-11-15 09:39] mariobendra commented on #3280
@tzanio Thank you.
I changed `MFEM_USE_SUNDIALS = NO` to `MFEM_USE_SUNDIALS = YES` as well as `SUNDIALS_DIR = @MFEM_DIR@/../sundials-5.0.0/instdir` to `SUNDIALS_DIR = @MFEM_DIR@/../sundials/instdir`
The error remains the same.

[2022-11-15 17:13] termi-official commented on #3247
Sorry, I am a bit late to the party. I ran into the exact same problem in the past (#1891 and #1610 and references therein), because I do the exact same thing. Part of the problem is that the mesh stores a copy of the NC mesh leaves instead of a reference. However, attribute assignment is never synchronized between the NC mesh and the mesh (see https://github.com/mfem/mfem/blob/master/mesh/mesh.hp

[2022-11-15 21:36] #3291 closed

[2022-11-15 22:49] JeremiahDBrown commented on #3283
Thanks @mlstowell.  That makes sense.  I think I have both of these fixed now.  I did create a new Integrator class that is initialized with the location of a point strictly inside a simply connected convex boundary.  That way I can check the dot product of the element normal vector and a vector from that interior point to decide if the sign of the result from the TangentLFIntegrator needs to be f

[2022-11-15 23:02] #3283 closed

[2022-11-16 01:26] tzanio commented on #3280
Can you check that the following directories exist?

[code]

If they don't, where under `/home/bendra/CLion/sundials` are the `/include` and `/lib` subdirectories?

[2022-11-16 02:34] v-dobrev commented on #3280
@mariobendra, just one point to be careful about: when you modify `config/defaults.mk`, you need to re-configure MFEM (with `make config [additional options]`) in order for those changes to take effect. If you did not run `make distclean` and just ran `make` then the new settings from `defaults.mk` were not used. If you used `make parallel [options]` then that does MFEM re-configuration and the pr

[2022-11-16 18:24] mlstowell opened #3328 "VisItDataCollection fails to load data when directory name contains multiple underscores."
`VisItDataCollection::ParseVisItRootString` attempts to separate the `DataCollection::name` from the cycle number by locating the first underscore. The last underscore might be more appropriate.

[2022-11-16 23:12] Maatinski commented on #3247
Hi @termi-official and @jakubcerveny ,
thanks for the clarifications! At the moment, I can bypass the issue by simply overwriting the attributes after the `Rebalance()` call. @termi-official not sure I fully understand what your voxel remesher does (or how it's different from what I am doing at the moment), but happy to have a look/give it a try. The main goal of this implementation is to reduce t

[2022-11-17 02:07] tzanio commented on #3247
☝️ that's an amazing image @Maatinski !

[2022-11-19 19:06] mlstowell opened #3332 "Possible bug in SubMeshUtils::BuildVdofToVdofMap"
The following block of code would seem to access the `DenseMatrix` `T` incorrectly on line 145. If `parentfes.GetVDim() > 1` this must produce column values larger than the width of `T`.

https://github.com/mfem/mfem/blob/b09cc38df9f1da182a5625c92660737ca02e710a/mesh/submesh/submesh_utils.cpp#L141-L150

[2022-11-19 23:36] jandrej commented on #3332
Yea, this is the retro-fitted "L2 on boundary extraction" case. We should just remove the `*  T.Width()` right?

[2022-11-19 23:39] mlstowell commented on #3332
I think it may be more complicated than that. Particularly  if we want to support different vdim ordering types. I've been looking at it and I think I'm getting close to a solution. I'll post more if I find an answer.

[2022-11-20 19:09] mlstowell commented on #3332
I think I have a solution (the ordering types were not relevant after all). I'll try to put together a PR later today.

[2022-11-21 08:31] ricgross opened #3335 "Newton solver using SuperLU"
Hi!

I am currently using MFEM to solve structural problems accounting for geometric nonlinearities. In order to achieve that, I have defined a custom `NonlinearFormIntegrator`, in which I have modified the `AssembleElementVector` (to calculate inner forces) and `AssembleElementGrad` (to calculate the tangential stiffness matrix). Furthermore, I defined a custom `Operator`, where I defined the fun

[2022-11-21 17:48] jandrej commented on #3335
You probably want to pass the object
[code]
in your case.

[2022-11-21 18:40] ricgross commented on #3335
Hi @jandrej

Thank you for your prompt reply. You are completely right, it was an oversight from my side.

However, I am facing another issue. In order to utilize SuperLU, one must define the `SuperLURowLocMatrix` operator, which creates the parallel matrix. My question is, how can I define/build the parallel matrix to be inputted to the direct sparse solver from my `NonlinearForm` with a custom i

[2022-11-21 20:41] chvillanuevap commented on #3263
Hi there!

I'm reopening this issue because I found another problem with loading surface meshes.

I'm able to create an `mfem::mesh` from a VTK file. The problem now is that MFEM always sets the spatial dimension to 2, rather than 3. This is odd because the function `Mesh::ReadVTKMesh` defaults to reading vertices in 3D. If I call `mesh->GetVertex(i)` after I have read the mesh, the x, y, and z co

[2022-11-21 20:56] pazner commented on #3263
Do all of the vertices in your mesh lie in a single z-plane? Since the VTK format doesn't really distinguish between 2D and 3D meshes, the following logic is used to set the space dimension:

https://github.com/mfem/mfem/blob/b09cc38df9f1da182a5625c92660737ca02e710a/mesh/mesh_readers.cpp#L428-L448

[2022-11-21 22:30] chvillanuevap commented on #3263
They all lie in the same X-plane. It seems though that the memory allocation is always 3 x number-of-points?
[code]

And the data is stored as 3D as well. From my script:
[code]
Output:
[code]
Even though the space dimension is set to 2, the memory allocation is always 3. So shouldn't the spatial dimension always default to 3?

[2022-11-21 22:38] queen333597 commented on #3296
Is there a way to access/update each of the entities in `f ` as above? So instead of setting all entities at once by: `f.Set(dim - 1, new PWConstCoefficient(pull_force));`, loop over entities and set values one by one.

[2022-11-21 23:17] pazner commented on #3263
In MFEM, a 1D or 2D mesh will still allocate 3D vertices. A `Vertex` object always has member data `double coord[3]` (similarly, an `IntegrationPoint` object has members `x`, `y`, and `z` even if the integration rule is 1D or 2D).

For a mesh with spatial dimension 2, accessing the z-coordinate of a vertex will not crash, but it generally will not give meaningful results (it could return uninitial

[2022-11-21 23:23] chvillanuevap commented on #3263
Then, would it break stuff to assume all VTK meshes are spatially 3D and topologically 1D, 2D, or 3D depending on the element type? In my case, I have a 3D mesh in a topologically 2D space.

[2022-11-21 23:31] pazner commented on #3263
Yes, always setting the space dimension to 3 would break other things.

Is there a reason you need to treat your mesh as a 3D mesh if it is planar?

[2022-11-21 23:38] chvillanuevap commented on #3263
I need the 3D coordinates of the vertices to postprocess some stuff. For now, I'm hardcoding the spatial dimension to be 3 in my script when I read the coordinates of the vertices. It seems that doing so shouldn't break anything in my workflow.

Thank you guys for the help! This has been very informative!

[2022-11-21 23:38] #3263 closed

[2022-11-22 07:26] vladotomov commented on #3296
Hi @queen333597,

If you want `f` to contain space-dependent vectors that depend on the normal direction to the boundary element, you'd have to create your own `VectorCoefficient` for `f`. Its implementation will be using the example normal calculation you wrote above. Is this what you need?

[2022-11-22 10:58] mariobendra commented on #3280
@tzanio & @v-dobrev Thank you!
I managed to build it. However, when running some examples, I get the error:
´...../../sundials/instdir/lib/libsundials_cvode.a(cvode_ls.c.o):cvode_ls.c:(.text+0x1356): first defined here
/usr/bin/ld: ../../sundials/instdir/lib/libsundials_cvodes.a(cvodes_ls.c.o): in function `CVodeGetNumLinRhsEvals':
cvodes_ls.c:(.text+0x13c8): multiple definitions of `CVodeGetNumLi

[2022-11-22 21:01] yurivict commented on #3191
not stale

[2022-11-22 22:08] #2759 closed

[2022-11-23 05:25] barreracruz opened #3338 "Periodic boundary conditions."
I am trying to set periodic boundary conditions but it seems that I am not using them correctly. The mesh I am using was generated in cubit:
![image](https://user-images.githubusercontent.com/102010127/203472593-0d0944f1-810c-41b4-8b1a-4090e3993599.png)
and I want to apply periodicity along planes parallel to the the XZ and YZ planes at the ends of the domain. I am doing the following:

 ` mfem::V

[2022-11-23 06:53] v-dobrev commented on #2922
Hi @edwardt9,

There is an old branch that illustrates how to write an error estimator based on computing norms of jumps of discrete quantities across all interior faces. Take a look at the additions in this branch: https://github.com/mfem/mfem/compare/elast-resid-estimator and in particular the implementation of `ElasticityResidualErrorEstimator::ComputeEstimates()`. As the name suggests, the cod

[2022-11-23 16:52] sebastiangrimberg opened #3339 "Opinions on switching from `astyle` to `clang-format`?"
PETSc and libCEED moved recently to use `clang-format` for more consistent code styling (see https://github.com/CEED/libCEED/issues/1047, https://github.com/CEED/libCEED/pull/1051), and it seems like with more an more contributing developers MFEM could also benefit from this. Are there any opinions on making a similar switch in MFEM? That is, assuming there is a `.clang-format` style which satisfy

[2022-11-23 21:49] pazner commented on #3338
Your usage looks correct to me. Could it be that the vertices on the periodic faces are not exactly `lx` or `ly` translations of each other? It won’t work if the vertices are not within your specified tolerance. You could try looking at the output of `CreatePeriodicVertexMapping` to check that the correct vertices are identified.

[2022-11-23 23:33] YohannDudouit commented on #3292
Hi @sebastiangrimberg ,
This is correct, the change should be fairly straightforward from the libCEED interface side, this was on my [TODO](https://github.com/mfem/mfem/issues/1736) list but didn't get the chance to get to it. Regarding the inheritance relation between PA -> EA -> FA this was my design, but as I said a couple of times in the past I don't think it was a particularly good idea, I th

[2022-11-23 23:42] JeremiahDBrown opened #3340 "SubMesh Transfer method crashing"
I'm trying to do some processing in a submesh to reduce overall computation time, since the particular calculations only need to take place in a portion of the grid.  However, I'm getting segfaults when the program completes execution.  This only occurs if I have used the Transfer method, and it doesn't happen at the time I call the method, but only as the various destructors are being called.

He

[2022-11-24 04:42] jandrej commented on #3340
Only H1 and L2 spaces on SubMeshes are supported in the current release.

[2022-11-24 05:54] CodingDrRui opened #3341 "Multi-Point constraint crossing processors"
Dear developers,

I would like to impose a constraint like " u_{node1} = u_{node2}" in an elasticity example, where node1 is on processor 0 and node2 is on processor 1. Could you please share some information about how to realize it?

I have tried with the normal constraints used in ex28p, however it seems that the constraints can only be imposed on nodes which are on the same sub-mesh (the same p

[2022-11-24 07:29] vladotomov commented on #3341
Hi @CodingDrRui,

Could you explain a little more - what is the FE space? Are the two nodes on the processor boundary? What is the physical motivation for such a constraint?

[2022-11-24 08:23] CodingDrRui commented on #3341
Ok. Let's take a look at ex2p in the H1 space. If now I have 2 beams (or more), named beam A and beam B, respectively, I want to bound them (because beam A and beam B work together in a realistic problem). Then I will do this by setting constraints like: u_{node_A1} = u_{node_B1}, u_{node_A2} = u_{node_B2}, ....., u_{node_An} = u_{node_Bn}...
In parallel computing, beam A and beam B may be distrib

[2022-11-24 10:31] CodingDrRui commented on #3341
If the constraints used for hanging nodes in the nonconforming mesh can also constraint "tdofs" on different processor, I will try to implement my targeted master/slave dofs into the matrix P (interpolation from true dof to dof) and the (block-diagonal) matrix R (restriction of dof to true dof).

[2022-11-24 12:44] edwardt9 commented on #2922
Thanks, @v-dobrev .

I start from `KellyErrorEstimator::ComputeEstimates()` because I have to implement a parallel estimator. After some days' of coding, I still have additional questions about `IntegrationPoint` and the integration weight. Below are my code pieces:

[code]

// Build scalar product of the shape functions with normal;
Vector normal(mesh->SpaceDimension());

[code]

`jumps(i) = e *

[2022-11-25 09:23] Andr00dz opened #3342 "Compile error in ex11p with mfem-4.3 and STRUMPACK-6.3.1"
Hi,

i want to build `mfem-4.3` together with `STRUMPACK-6.3.1`. Compiling `ex11p` leads to  errors of the form
[code]
and I don't know how to fix these.

I used the following packages and lines for installation:
- scalapack-2.0.2
[code]
- metis-5.1.0
[code]
- STRUMPACK-6.3
[code]

`make test` finishes with the following output:
[code]

- hypre-2.20.0
[code]
-mfem-4.3:

In `config/defaults.cmake`,

[2022-11-25 11:46] ivhak commented on #3310
I found a workaround that works in my specific problem. I know that the mesh is tetrahedral, and that the elements are first order $H^1$, so I can simply calculate the gradients directly using the method outlined in Section 3.1 of "A comparison of methods for gradient field estimation on simplicial meshes" (Mancinelli et.al., 2019):

$$
\begin{align*}
    \nabla f_{\tau}
         =& (f_j - f_i)\fr

[2022-11-26 03:28] v-dobrev commented on #3342
Try moving `STRUMPACK` before `METIS` in this list: https://github.com/mfem/mfem/blob/1e17003af3304e1b74983d4d44dc83bf2e4ca138/CMakeLists.txt#L493-L502

[2022-11-26 04:09] v-dobrev commented on #2922
As far as understand the code snippets, you should use `ip.weight`, not `eip.weight`.

Regarding `facetrans->Face->Weight()`: multiplying by that seems unnecessary because the `normal` computed by `CalcOrtho` is not unit -- it has length equal to `facetrans->Face->Weight()`.

[2022-11-26 06:33] v-dobrev commented on #3310
Hi @ivhak,

Computing the gradient of a scalar L2 or H1 `GridFunction`, as a vector L2 or H1 `GridFunction`, on GPU can be done using the `QuadratureInterpolator` and "ElementRestriction" operators of the two FE spaces. For example (note that this code is not tested and it may have issues in the case when `grad` is in vector H1 space on quad or hex meshes):
[code]
We definitely need to provide a s

[2022-11-26 10:28] ivhak commented on #3310
Thank you for the answer, @v-dobrev.

Since I know I only will be using tetrahedral meshes with first-order $H^1$ elements, and was able to get the exact same results when using the formula for $\nabla f_\tau$ as I did with `GradientGridfunctionCoefficient`, I will stick to that. But it is very good to know that is possibly to do on GPU in the general case!

[2022-11-26 10:28] #3310 closed

[2022-11-27 03:59] v-dobrev commented on #3042
See #3343 for suggested doxygen updates to resolve this issue.

[2022-11-27 04:30] v-dobrev commented on #3267
You can define a custom finite element e.g. by deriving from `ScalarFiniteElement` or even directly from `FiniteElement`. For example, you can look at the definition of class `L2_HexahedronElement` or the simpler fixed order class `TriLinear3DFiniteElement`.

Once the custom element is defined, you can create a corresponding custom `FiniteElementCollection` class similar to `LinearDiscont3DFEColle

[2022-11-27 14:50] shani9383 opened #3344 "Does MFEM /Glvis support VTK Data File Version 5.1"
Hi,
Does MFEM /Glvis support VTK Data File Version 5.1? If not how can I solve this issue?
I’m using Simpleware software to generate and export my mesh to a vtk file. However, when trying to upload the file I get the following message:
Verification failed: (major_vtk_version >= 2 && major_vtk_version <= 4) is false:
 --> Unsupported VTK format
 ... in function: void mfem::Mesh::Loader(std::istream

[2022-11-27 17:41] barreracruz commented on #3338
They are not exact. You are correct. But isn't that why I can use the tolerance parameter? what would be a good tolerance in lx and ly are in the order of `0.1-0.2`? I will take a look at the output of `CreatePeriodicVertexMapping`.

[2022-11-27 22:44] pazner commented on #3344
I don’t think the VTK 5.1 format is well-documented (see: https://gitlab.kitware.com/vtk/vtk/-/issues/17989). If we had a spec, we could implement support for a VTK 5.1 mesh reader. Can you export your mesh in a different format (e.g. XML VTK)?

[2022-11-28 09:09] Andr00dz commented on #3342
This fixed the problem. Thank you!

[2022-11-28 09:09] #3342 closed

[2022-11-28 16:29] barreracruz commented on #3338
Ok, I looked at the output of `CreatePeriodicVertexMapping` using the simpler setup in the following code:

`auto initial_mesh = buildMeshFromFile("rectangularTruss.g");

  double lx = 0.18;

  mfem::Vector x_translation({lx, 0.0, 0.0});

  std::vector<mfem::Vector> translations = {x_translation};

  double tol = 1e-4;

  std::vector<int> periodicMap = initial_mesh.CreatePeriodicVertexMapping(tran

[2022-11-28 16:57] pazner commented on #3338
Yes, the tolerance parameter can be used if the vertices are not exactly collocated. If the differences just come from round-off errors, then the default value is fine.

Another thing to check: `CreatePeriodicVertexMapping` only looks for vertices that belong to boundary elements. Does your mesh have boundary elements defined on all of the periodic surfaces?

[2022-11-28 17:01] barreracruz commented on #3338
Oh, I see. That should be the problem! I do not generate side sets for those boundaries in Cubit so MFEM does not generate any boundary elements on those boundaries. I will test this later and report back if doing that solves this issue.

[2022-11-28 17:40] pazner commented on #3338
You can also try calling `Mesh::GenerateBoundaryElements()` to rebuild the boundary elements for all faces, but if you have specific boundary attributes that you care about that might mess them up.

[2022-11-28 19:58] barreracruz commented on #3338
Yes, that was the issue. Thank you very much for your help!

[2022-11-28 19:58] #3338 closed

[2022-11-28 20:56] #3239 closed

[2022-11-28 21:00] #3261 closed

[2022-11-28 21:02] tzanio commented on #3328
Discussion continued in https://github.com/mfem/mfem/pull/3329

[2022-11-28 21:02] #3328 closed

[2022-11-28 21:04] tzanio commented on #3093
ping: @psocratis

[2022-11-28 21:05] tzanio commented on #3277
@mlstowell, do you mind adding the documentation?

[2022-11-28 21:57] tzanio commented on #3339
Code formatting has been raised multiple times in the past and [the last time](https://github.com/mfem/mfem/pull/2506) we needed to change (from `astyle-2.05.1`) we considered three options: `clang-format`, `astyle-3.1` and `uncrustify`. At the end we chose `astyle-3.1`, but it was not an easy decision.

We can revisit it again if folks feel strongly about it (or things have changed).

For referen

[2022-11-28 21:57] tzanio commented on #3339
ping: @mfem/developers

[2022-11-28 23:14] JeremiahDBrown commented on #3340
Well, that's disappointing.  Is support for other spaces in the near-term plan?

On a somewhat related noted, the implementation of the SubMesh constructor is a little challenging to work with.  The static methods used to call the private constructor make it much more difficult to store a SubMesh as a class member for later references.  I got around that limitation using a container class and call

[2022-11-29 00:19] shih15 opened #3346 "Some questions about coefficients in GeneralizedAlpha2Solver"
Hi.
In class `GeneralizedAlpha2Solver`, the coefficients $\beta$ and $\gamma$ is defined as: $\beta = \frac{1}{4}(1.0+\alpha_m - \alpha_f)^2$ and $\gamma =0.5+\alpha_m -\alpha_f$. However, in paper ["A Time Integration Algorithm for Structural Dynamics With Improved Numerical Dissipation: The Generalized-α Method"](https://doi.org/10.1115/1.2900803),  the coefficients $\beta = \frac{1}{4}(1.0-\alp

[2022-11-29 00:47] termi-official commented on #3339
I also already wondered why astyle has been chosen over clang-format - what were the arguments against clang-format? No strong opinion here btw, I always take whatever works.

[2022-11-29 01:03] jandrej commented on #3339
The most breaking argument was `Easy to install`. If you need to build from source, you need to build llvm/clang which can be a little demanding.

I'm still pro clang-format.

[2022-11-29 01:19] tzanio commented on #3339
There were other concerns -- maintaining `git blame` history, having to update a significant number of branches, and losing "semantic formatting".

Please correct me if I'm wrong, but if I recall correctly `clang-format` does not take into account the original source code, so any careful arrangements there can't be preserved.

[2022-11-29 02:00] termi-official commented on #3339
Polluting the history is indeed a good point. If you do not want style rules to be enforce on specific lines, then you can guard these (https://clang.llvm.org/docs/ClangFormatStyleOptions.html#disabling-formatting-on-a-piece-of-code), but I do not think this is a great option. IIRC then clang-format does not allow to skip rules to prevent inconsistent formatting.

[2022-11-29 08:30] goxberry commented on #3339
re: `git blame`,  [`git hyper-blame`](https://commondatastorage.googleapis.com/chrome-infra-docs/flat/depot_tools/docs/html/git-hyper-blame.html), can be configured to ignore certain commits. It can be installed via the Chromium project's ["depot_tools"](https://commondatastorage.googleapis.com/chrome-infra-docs/flat/depot_tools/docs/html/depot_tools_tutorial.html#_setting_up) repo.

re: branches,

[2022-11-29 09:33] vladotomov commented on #3341
Why don't you put both beams on one big mesh, with different material properties for the beam regions? Then using H1 will give you the constraints immediately. You also won't have to do anything special for the parallel case.

[2022-11-29 10:05] CodingDrRui commented on #3341
I am not sure if I have followed you. There is a gap between the beams, which have no shared nodes nor boundaries. Could you please show me more details?

[2022-11-29 12:24] TobiasDuswald commented on #3339
Big fan of `clang-format`. Mainly because it is integrated very well into VS Code, making it very convenient. :)

[2022-11-29 12:31] v-dobrev commented on #3093
I tried the following runs with MFEM's `master` branch (42e979eb) and MUMPS 5.5.1:
[code]
and all of them worked fine. This was on an Intel-based MacBook.

What is the command line that fails for you?

[2022-11-29 12:45] adam-sim-dev commented on #3093
I forget the specific command lines. I also can not reproduce the problem on my shared-memory workstation but on a distributed-memory cluster.

[2022-11-29 13:40] v-dobrev commented on #3339
+1 for sticking with AStyle.

[2022-11-29 13:52] v-dobrev commented on #3093
Without a way to reproduce the issue, I'm not sure how to debug it.

One thing I can suggest is running with `valgrind`, or building and running with ASan, e.g. by adding the flags`-fsanitize=address -fno-omit-frame-pointer -g` when building MUMPS and MFEM.

This makes it sound like the issue is with the MPI library, not with MUMPS or MFEM.

[2022-11-29 19:05] sebastiangrimberg commented on #3339
I realize I also never really offered an explanation to why `clang-format` might be preferred over `astyle`. One case is that it seems like Artistic Style doesn't really seem to enforce a lot of whitespace standards around function calls, operators, reference `&` and pointer `*`, etc. leading to differences in style throughout the codebase. One particular example (no offense intended) might be [`s

[2022-11-29 21:16] mlstowell commented on #3340
I have an RT implementation undergoing testing as we speak. I have a vague plan for implementing ND support but this is more of a departure from the current implementation so it requires more thought. However, ND support is something I need rather soon so this is a priority for me.

[2022-11-29 23:41] pazner commented on #3339
I just learned that as of git 2.23, `git blame` supports `--ignore-rev` and `--ignore-revs-file`. That way it is possible to check in a `.git-blame-ignore-revs` file with a list of formatting commits that should be ignored by `git blame`. This is even [supported](https://docs.github.com/en/repositories/working-with-files/using-files/viewing-a-file#ignore-commits-in-the-blame-view) by GitHub's blam