[2021-06-07 02:23] tzanio commented on #2208
ping: @stefanozampini

[2021-06-07 02:26] tzanio commented on #2299
Bright, can you try using the `master` branch of mfem?

[2021-06-07 02:29] tzanio commented on #1908
Apologies for the delayed response @benzwick.

Can you clarify how you identify the dof where you want to impose the BC?

Tzanio

[2021-06-07 07:30] thelfer commented on #2139
@tzanio My bad. I have been too busy in the previous month to correctly takle this issue. However, I still believe that this is an very important topic for the purposes of my work.

[2021-06-07 10:11] benzwick commented on #1908
I have the physical coordinates of a point and I would like to impose the BC at the node that is closest to this point. Currently I do this with PyMFEM and NumPy but this is not very efficient and only works in serial. I am now trying to implement this in parallel in C++.

I guess I can split the problem into two parts:
1. Find the index of the node closest to the physical point.
2. Set the BC in

[2021-06-07 10:30] #2298 closed

[2021-06-07 10:31] #2296 closed

[2021-06-07 13:30] jakubcerveny commented on #2226
Could be related to #1274, I'll try to reproduce.

[2021-06-07 14:25] tzanio commented on #2226
Thanks @jakubcerveny!

[2021-06-07 14:34] tzanio commented on #2139
No worries, take you time @thelfer.

[2021-06-07 15:46] wcdawn commented on #2295
Thanks!

The code I came up with looks like
[code]

It is painfully slow but I guess calculating the maximum vertex distance may be doomed from the start.
I'll definitely be looking to replace this using the effective diameter or a similar metric.

[2021-06-07 16:35] v-dobrev commented on #2299
You can also try this patch: https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/mfem/mfem-4.2-petsc-3.15.0.patch.

[2021-06-07 16:48] stefanozampini commented on #2299
There was a change in PETSc API since the latest MFEM release. You should use MFEM's `master`  to use PETSc 3.15 or fix the calls yourself (basic)

[2021-06-07 16:52] stefanozampini commented on #2208
Well, if we want full compatibility between MFEM's and PETSc GPU, we cannot avoid these virtual calls.
I see the performance regression from the unit tests, but what about in an actual app? What is your concern about these regressions? FEM assembly?

[2021-06-07 17:56] tzanio commented on #1908
I see.

@kmittal2, can we use `findpts` to find the MPI task and the corresponding local DOF that is closest to a given point in physical space?

[2021-06-07 18:26] kmittal2 commented on #304
Hi @iDiara,

Yes, `findpts` can handle curvilinear meshes.
For your problem, I would recommend first using the method `FindPointsGSLIB::FindPoints(Vector xyz)` to find the location of the point. Then use `FindPointsGSLIB::GetCode` to get the `code` returned by `findpts`. `code = 1` means the point was found inside an element, and `code=2` represents the point was found on the border. For `code=2`,

[2021-06-07 18:33] kmittal2 commented on #1908
Yes, it is possible. One way to do is as follows:

1. Start with a list of `all` the points on each MPI rank.
2. Use `FindPointsGSLIB::FindPoints(xyz)` to find these points.
3. For all the points that are found on the current MPI rank, get the element number return by `FindPointsGSLIB::GetElem` and loop over the DOFs of that element to find the DOF that is closest to the sought point.

@benzwick

[2021-06-07 18:49] v-dobrev commented on #2208
Yes, the concern is the cost of operations on **small host** `Vector`s which are used in many places in the library, and were specifically optimized to use these methods which were assumed to be inline.

One option is to re-introduce the inline methods with new names and use those where we need the inline versions.

I guess you are trying to keep `PetscParVector`s parts corresponding to `mfem::Vec

[2021-06-07 18:59] stefanozampini commented on #2208
I spent quite some time to have full compatibility between using mfem::Vector accessors and petsc::Vec accessors.
If one uses the proper accessors, the memories should be in synch. See e.g https://github.com/mfem/mfem/blob/master/linalg/petsc.hpp#L277 which is used e.g.  https://github.com/mfem/mfem/blob/master/linalg/petsc.cpp#L1920. It also works for time-dependent problems https://github.com/mf

[2021-06-07 19:23] v-dobrev commented on #2208
One question: why did you need to make the `UseDevice` methods virtual? How does `PetscParVector` use that flag?

The intent for this flag (false by default) in `mfem::Vector` was to treat the `Vector` as a host `Vector` regardless of the `mfem::Device` configuration -- this way any old non-GPU code that uses a `Vector` will still work purely on host, and this includes all small host `Vector`s. To

[2021-06-07 19:25] stefanozampini commented on #2208
if you call UseDevice(false) on a PETSc vector, you will force petsc::Vec to use HOST methods.

[2021-06-07 20:00] v-dobrev commented on #2208
Hmm, this creates an issue: if we want operations defined in the `Vector` class to work properly with small host `Vector` objects (using just inline methods) and with `PetscParVector` objects which have the `UseDevice` flag set to false. Basically, the question is how to implement methods like
[code]
so that it only calls inline methods for small host `Vector`s?

I was thinking something like this

[2021-06-07 20:31] stefanozampini commented on #2208
I don't understand. If `usedevice` is false for a PetscParVector, you will always use the host memory and you will modify host memory in this function.
Why not having

[code]

operations with two vectors are trickier since now the Vector class always prefers device updated vectors

[2021-06-07 20:44] v-dobrev commented on #2208
First, the two methods `PetscParVector::UseDevice` do not seem to sync with `mfem::Vector::data`, so `data.UseDevice()` may return something different from the virtual `UseDevice()`.

Second, calling `begin()` will only work if `data` is valid only on host, which may not be always true. That is why I use `mfem::ReadWrite(data, size, false)` instead which will move data accordingly, if needed. The

[2021-06-07 20:58] stefanozampini commented on #2208
In principle, a `Vector` is always aware of the most up-to-date memory location (or both). And GetData() on petsc vectors will return the mfem memory object.
The `data` member of `Vector` is an alias to the `PetscMemory` in `PetscParVector`. https://github.com/mfem/mfem/blob/master/linalg/petsc.cpp#L264. And the PetscMemory is in sync with whatever is the status of `petsc::Vec`

A small code examp

[2021-06-07 21:46] #2295 closed

[2021-06-07 21:50] wcdawn opened #2302 "SparseMat error with skip_zeros=2"
I recently implemented `skip_zeros=2` behavior to skip all zeros regardless of symmetry in the matrix #2087. It's leading to some weird behavior in `SparseMatrix::EliminateRowCol()`.

[code]

The error comes from [here](https://github.com/mfem/mfem/blob/e56071003a7fc6f85211730ddaa0903346621566/linalg/sparsemat.cpp#L1733). I'm not really sure what this code is supposed to be doing.
The code runs as

[2021-06-07 22:02] v-dobrev commented on #2302
This method can work only when the sparse matrix has a symmetric sparsity pattern -- it uses that symmetry to avoid searching all rows for the column `rc` that it needs to eliminate.

[2021-06-07 22:43] wcdawn commented on #2302
I'm surprised I didn't encounter this error sooner then! Would it be feasible to implement a general/unsymmetric version or is that going to be to slow/expensive?

For a quick fix, I can just check if I need to do `EliminateRowCol` and if I do, preserve symmetry.

[2021-06-07 23:32] v-dobrev commented on #2302
For the non-symmetric sparsity pattern case, one can implement a method that takes a Boolean array that indicates which rows/columns need to be eliminated -- with such input the elimination can be done in a single pass over the whole sparse matrix.

[2021-06-08 01:13] HFH104864 commented on #2289
@mlstowell
Dear Mark
Thank you for your guidance , now I know how the nodal forces are calculated, right .  And what should I do if I want to apply a fixed amount of force on a node.
Best wishes.

[2021-06-08 01:44] bslazarov commented on #2289
Hi HFH104864,

If you need  fixed force per node you will need to calculate mesh dependent
coefficient, i.e., you will have to account for the different lengths
between the nodes in the mesh. This could be tricky. I wonder why would you
need fixed force per node. Usually the external input/loads are applied on
sides/planes/surfaces. If you give us more details about your intended use
we might be a

[2021-06-08 01:59] HFH104864 commented on #2289
Dear Boyan

To be honest, I am developing a finite element analysis software by my own .Many of the functions of this software are incomplete, especially in the boundary conditions section. so it has not yet implemented the function of applying force on a surface like other mature finite element analysis software .

Therefore, for applying the boundary conditions, I use an interactive approach, wh

[2021-06-08 02:53] v-dobrev commented on #2208
To see the first issue I mentioned above, apply this patch to the current MFEM `master` branch:
[code]
then build mfem with cuda and with petsc (also built with cuda) and run
[code]
The contents of `px` will be `1` (or maybe undefined) and not `2`, as it should be.

This should be easy to fix -- we just need to make sure `px.GetMemory().UseDevice()` is sync'd with `px.UseDevice()`.

The second iss

[2021-06-08 07:15] iDiara commented on #304
Yes, it does and thank you @kmittal2!
And i went through these details in your implementation of the method.
I think things are clear now. In the setup step of the method, for the field-diff miniapp, there is the code
[code]
and based on this, the library will make a new mesh that cover the actual mesh,
in order to make sure the sought point(s) will be surely captured, right?

Thank you for your h

[2021-06-08 15:24] kmittal2 commented on #304
Hi @iDiara,

No, the above snippet of code that you shared does not generate a new mesh.
We just use the bounding box information to generate a set of points within the bounding box (stored in Vector `vxyz` in `findpts.cpp`) that we can then find using `FindPointsGSLIB`. This is done for the purpose of setting up an example.

Ketan

[2021-06-08 15:28] L29430 commented on #2283
Hello Vladmir,

I'm solving a Laplace equation, so I would be really interested in the Shifted Diffusion Miniapp. Only the link on diffusion.cpp doesn't work, it leads to distance.cpp, I don't know why.

[2021-06-08 16:00] L29430 commented on #2283
Hello Vladimir,

I'm solving a Laplace equation, so I would be very interested to understand the Shifted Diffusion Miniapp :)
How can I download the shifted files at the following link : https://github.com/mfem/mfem/tree/master/miniapps/shifted. Uploads are disabled.

Best,

@L29430

[2021-06-08 16:34] brightzhang91 commented on #2299
The compilation and build is successful from the master branch.
Thanks for the advices !

Bright

[2021-06-08 17:27] auhoss commented on #1311
Hello,

Thank you for the explanation.  I have a few additional questions about Nedelec shape functions.

1) The line ND_TriangleElement::tk[8] appears to contain the unit triangle tangent vectors (oriented CCW) for the first 6 fields.  Is this correct?  What are the last two fields tk[6],tk[7] containing 0,1?

2) How is the dof2tk used?  What do the values it takes on represent 0,1,2,3?

3) In th

[2021-06-08 18:42] YohannDudouit commented on #2208
@stefanozampini It is not correct to say that the `Vector` is _always_ aware of the most up-to-date memory, by design there is several methods that will make a `Vector` unaware of the most up-to-date memory, a `Vector` is also unaware that he is unaware at this point, in such cases this is the responsibility of the user/dev to manually use `SyncMemory` or `SyncAliasMemory` to make the code correct

[2021-06-08 18:54] vladotomov commented on #2283
I'm not sure if Github supports downloading individual files.
The best way is to clone the Github repository. This way you can also build the code and run the miniapp.

Best,
Vladimir

[2021-06-08 19:53] koomie opened #2307 "list of supported AMD GPUs"
Any chance there is a known list of AMD GPUs that are currently being tested with MFEM (or that should be known to work)?  We have a wimpy Radeon PRO WX 3200 with HIP 4.2 installed just to have a sandbox test environment (not for performance), but can't seem to get thru an MFEM build.  We see stack size limits exceeded so assuming this card is probably not supported and wondering if there is a lis

[2021-06-08 20:16] artv3 commented on #2307
I've actually encountered the same issue with HIP 4.1. I've been able to build MFEM with HIP 4.0 and below.

[2021-06-08 20:16] v-dobrev commented on #2307
Thank you for reporting this issue. This type of errors seem to be related to the ROCm version -- they started to appear with ROCm v4.1. We are aware of the issue and will try to address it in the near future.

In the mean time you can try commenting out some of the higher-order `Eval3D` kernels instantiated in `FaceQuadratureInterpolator::Mult`, and other places where such an error is generated.

[2021-06-08 20:17] artv3 commented on #2307
Actually could this PR help https://github.com/mfem/mfem/pull/2301 ? I think the FaceQuadratureInterpolator was templated on rather high dof/quad values --- not the 1D variants.

[2021-06-08 20:39] v-dobrev commented on #2307
Good point, you maybe right. We should test that.

[2021-06-08 21:05] acfisher opened #2308 "HowTo Article: Using findpts"
We could use an article describing the ins and outs of using findpts to get the element and local coordinate of a given point in global coordinates.

[2021-06-08 21:06] acfisher commented on #304
For the meantime put it in this branch of the web repo:
https://github.com/mfem/web/tree/searchable-articles/src/howto
Examples can be found in that folder.

@kmittal2 can you handle this?

[2021-06-08 21:08] acfisher commented on #2308
For the meantime put it in this branch of the web repo:
https://github.com/mfem/web/tree/searchable-articles/src/howto
Examples can be found in that folder.

@kmittal2 can you handle this?

[2021-06-08 21:18] artv3 commented on #2307
It might be that we will need to lower the `max_Q1D/D1D` values. I don't think those kernels use shared memory

[2021-06-08 22:12] acfisher opened #2309 "HowTo: Using complex operators"
We could use an article describing how to use complex operators. For the meantime put it in this branch of the web repo:

https://github.com/mfem/web/tree/searchable-articles/src/howto

Examples can be found in that folder.

[2021-06-08 22:13] acfisher commented on #2309
@mlstowell can you put a short article together on this?

[2021-06-08 22:23] #2297 closed

[2021-06-08 22:24] kmittal2 commented on #2308
Yes, I will start working on this.

[2021-06-08 22:24] acfisher opened #2310 "HowTo: Using a spack install of MFEM"
We could use an article describing how to use a spack install of MFEM. For the meantime put it in this branch of the web repo:

https://github.com/mfem/web/tree/searchable-articles/src/howto

Examples can be found in that folder.

[2021-06-08 22:25] acfisher commented on #2310
@adrienbernede can you put this together?

[2021-06-08 22:31] acfisher opened #2311 "Howto: Map between local element numbering and parallel global element numbering"
We could use an article describing how to working with local and global element numbering. For the meantime put it in this branch of the web repo:

https://github.com/mfem/web/tree/searchable-articles/src/howto

Examples can be found in that folder.

[2021-06-08 22:31] acfisher commented on #2311
@rw-anderson Can you put this together?

[2021-06-08 22:51] acfisher opened #2312 "Howto: Using the memory manager with GPUs"
We could use a high level article describing how to use the memory manager when GPUs are involved. For the meantime put it in this branch of the web repo:

https://github.com/mfem/web/tree/searchable-articles/src/howto

Examples can be found in that folder.

[2021-06-08 22:51] acfisher commented on #2312
@camierjs Can you put this together?

[2021-06-08 23:00] acfisher opened #2313 "Howto: Use partial assembly and matrix-free assembly"
We could use a high level article describing how to use partial assembly and matrix free 'assembly'. For the meantime put it in this branch of the web repo:

https://github.com/mfem/web/tree/searchable-articles/src/howto

Examples can be found in that folder.

[2021-06-08 23:00] acfisher commented on #2313
@YohannDudouit can you handle this one?

[2021-06-08 23:13] acfisher opened #2314 "Howto: Use the group communicators"
We could use a high level article describing how to use the group communicators. For the meantime put it in this branch of the web repo:

https://github.com/mfem/web/tree/searchable-articles/src/howto

Examples can be found in that folder.

[2021-06-09 09:06] chikitkin opened #2316 "Calculation of surface integrals with vector-valued integrand"
Dear MFEM community,

Can I compute a surface integral from terms which are not dot products? For example:
![image](https://user-images.githubusercontent.com/7203771/121325635-6f62a300-c91a-11eb-9e11-53521f45cb19.png)
where E is the solution (vector), G is scalar Green's function.
This integral is used for far-field computation in EM simulations.
I understand that it can be implemented by replicat

[2021-06-09 12:54] L29430 commented on #2283
Hello Vladimir,

I copied the shifted repository in miniapps, in the library. But it didn't run... I don't know why.

[2021-06-09 15:40] koomie commented on #2307
Probably not new information, but if I disable the following two calls after applying PR #2301, I can then complete the build.

[code]

If there are lower values for D1D you want me to try locally, I'm happy to give it a whirl.

[2021-06-09 15:40] wcdawn opened #2317 "Preconditioners for Partial Assembly?"
I've been struggling to store my matrix operator in memory so I'm trying to look into partial assembly.
From what I can tell from the examples, it looks like my only options for a preconditioner are `ceed::AlgebraicSolver` or `OperatorJacobiSmoother` (e.g. `ex1p` [here](https://github.com/mfem/mfem/blob/48435d9570c47e6e5b0bdd9adbeb8a043b117b3d/examples/ex1p.cpp#L228-L241)).
Both of these precondit

[2021-06-09 16:10] mlstowell commented on #2316
Hello, Aleksandr (@chikitkin),

The short answer is yes, as long as the integral is linear in the solution vector. Of course, the details can get complicated. You would need a `LinearFormIntegrator` which computes the necessary integrals using `G` and `Grad(G)`. This would integrate the above integral replacing `E` with the basis functions used to approximate `E`. When this `LinearFormIntegrator`

[2021-06-09 16:16] artv3 commented on #2307
I would be guessing for which values would work, but the idea would be to lower the values from this file:

https://github.com/mfem/mfem/blob/6785e1d1afd7400ac1bbef975daa2d7cad412f92/general/forall.hpp#L26-L27

[2021-06-09 16:19] stefanozampini commented on #2208
@v-dobrev The vector constructor does not copy x by default. I was not copying the device flag either. Here you have a fix https://github.com/mfem/mfem/commit/ab73241e7ed4f10565a46c6c2904ce1b46d05bc7.

There is still an open issue: what to do when PETSc and MFEM devices do not talk to each other? What are the devices you support? Do you have a configuration script that I can test with?

[2021-06-09 17:26] koomie commented on #2307
Ok, just by trial and error the largest value I can use for those constants is `MAX_D1D=11` to successfully build bilininteg_convection_pa.cpp.  Unfortunately, there is no impact on the resulting stacksize errors generated when changing these constants for the `PACurlCurlAssembleDiagonal3D()` call.

Here is a quick summary of running test cases:

#### Runs with MAX_D1D/MAX_Q1D=14; two offending ca

[2021-06-09 17:35] artv3 commented on #2307
Thanks! I Looking at the hcurl kernel I think its the following two allocations:

https://github.com/mfem/mfem/blob/master/fem/bilininteg_hcurl.cpp#L2142

and

https://github.com/mfem/mfem/blob/master/fem/bilininteg_hcurl.cpp#L2175

Which use the following max/mins:

https://github.com/mfem/mfem/blob/25e59797c1e07b1de42937fac8acb641abba2a1f/fem/bilininteg.hpp#L23-L24

[2021-06-09 17:52] v-dobrev commented on #2317
Unfortunately, triangles and tets are not currently supported even just for the bilinear form action. At least most of the integrators that have support for `AssemblyLevel::PARTIAL`, only support quads and hexes.

Depending on what integrators you need, it may be possible to use the template code for partial assembly -- its use is demonstrated in `miniapps/performance` for the diffusion integrator

[2021-06-09 17:54] koomie commented on #2307
Bingo!

Local build worked for me if I dialed down `HCURL_MAX_Q1D = 5`. With that additional change,  all tests passed with a local `make test`.

[2021-06-09 17:54] v-dobrev commented on #2317
One remark: if you are not using high-order solution spaces, e.g. order >=3 in 2D or order >= 2 in 3D, the use of partial assembly may not be that beneficial for both speed and memory consumption.

[2021-06-09 17:58] artv3 commented on #2307
Yes!!! would you be interested in making a PR?

[2021-06-09 17:59] koomie commented on #2307
Sure thing. Will try to submit something a bit later today...

[2021-06-09 18:04] v-dobrev commented on #2317
Going back to your original question about preconditioners for partial assembly: the best choice at this point is probably to use the so-called LOR (or FEM-SEM) preconditioner -- it is enabled by the option `-pc lor` in `ex1p.cpp` in `miniapps/performance`. However, I'm not sure this has been tested with triangles and tets. Support for these elements for LOR preconditioning was added recently by @

[2021-06-09 18:13] nbeams commented on #2317
Do the preconditioners require tensor basis if libCEED is enabled?  Some of the libCEED backends allow triangles and tetrahedrons, but I don't know about their use with the mentioned preconditioners.

[2021-06-09 18:23] v-dobrev commented on #2208
Thanks for the fix @stefanozampini. I'll use your branch, if you don't mind, to modify the relevant Vector methods to use inline calls when the device flag is off/false.

I think we try to sync the PETSc device to be the same as the one used by MFEM here: https://github.com/mfem/mfem/blob/48435d9570c47e6e5b0bdd9adbeb8a043b117b3d/linalg/petsc.cpp#L178-L190

Or do you have something else in mind as

[2021-06-09 19:44] pazner commented on #2317
Regarding the LOR preconditioners, they should work (but might not be particularly effective) with all element types. If they don't, then this is a bug that I can try to fix. The main issue is that the preconditioners are only robust with respect to the polynomial degree for quads and hexes, so for high order simplex elements the iteration counts could be quite large.

[2021-06-09 20:42] sebastiangrimberg commented on #2294
@tzanio I think I've come up with a better statement of my problem and a potential solution, and would like to hear any feedback you might have.

Instead of visualizing the jumps I'm content with just looking at the quantity `J = n x H` on boundaries of the domain where `H` is discontinuous (though in general `n x H` is continuous across elements). I think the way to do this is just to use a `Vect

[2021-06-09 21:03] stefanozampini commented on #2208
@v-dobrev I mean, if PETSc supports KOKKOS (or HIP or whatever in the future) and MFEM supports UMPIRE  (just as an example, since I see it in the list of Devices). What is the intended mean of UseDevice in this case? Do you want the PETSc classes to still take advantage of running via KOKKOS and let them talk with MFEM through the host? As it is now, the code within `_USE_DEVICE` guards in `petsc

[2021-06-09 21:07] YohannDudouit commented on #2317
Triangles and tets are actually supported through libCEED, you might have to specify the backend since the default CUDA backend `/gpu/cuda/gen` does not support triangles and tets currently, suing `-d ceed-cuda:/gpu/cuda/shared` for instance. The `OperatorJacobiSmoother` should work in that case since it will use the diagonal computation from libCEED.

[2021-06-09 21:54] cekim7 commented on #2199
Hi Mark,

The eigenmode solution is one thing, but how can we set the boundary
condition of incoming wave, in terms of kinetic energy of the particle
(let's say it is a bosonic particle influx).
Could you shed some light on how to modify ex11p.cpp to set the contant
energy of incoming wave-particle?

Best regards,
CE

On Mon, May 10, 2021 at 9:52 AM Mark L. Stowell ***@***.***>
wrote:

[2021-06-09 22:54] brightzhang91 commented on #2299
Hi
Since the upgrade to PETSc-3.15, the error was reported by `PetscNonlinearSolver` for the problem with 70292 unknowns (Nedelec), which was not encountered before the upgrade.  Any ideas why this happens with the new PETSc ? Thanks !
![image](https://user-images.githubusercontent.com/67397441/121438909-c13c1500-c97c-11eb-9fd4-2ff281e8a125.png)

[2021-06-10 01:40] mlstowell commented on #2199
Hi, @cekim7,

Eigenvalue problems would only be appropriate for bound systems and in such cases the only suitable boundary conditions would be for the probability density to or its normal derivative to be zero.

It sounds like you're thinking of a scattering problem. This would be more like ex25p. However, I would probably recommend a scattered field formulation with a PML boundary condition simil

[2021-06-10 06:45] chikitkin commented on #2316
Thank you, Mark @mlstowell, I see.
I checked **Linear Form Integrators** carefully, but it seems that there are no suitable integrators there.

[2021-06-10 06:45] #2316 closed

[2021-06-10 08:10] mlstowell commented on #2316
Hello, @chikitkin,

Sorry, my mistake. I ignored the fact that you called `G` a Green's function. In theory you could use a `ParLinedarForm` to compute these integrals but it would be completely impractical because you would need to form a separate linear form for each value of `r`.

We don't work with Green's functions in the finite element method, at least not that I've seen.

Best wishes,
Mark

[2021-06-10 09:14] stefanozampini commented on #2299
Hi @brightzhang91. This is strange, the stack trace seems corrupted. Can you provide a reproducer?

[2021-06-10 12:22] benzwick commented on #1908
Thank you for the suggestions @tzanio and @kmittal2. The FindPoints miniapp looks very useful.

If I already know the global index (e.g. from looking at the mesh and getting the vertex number) can I apply a BC or load at this point in parallel? Is there a mapping between local and global vertices or nodes?

I am guessing that #2308 and  #2311 will be helpful as well.

[2021-06-10 19:36] samuelpmishLLNL opened #2320 "Confusion regarding L2_FECollection, Boundary Integrators"
I'm trying to use mfem to build some tools for doing surface integrals in serac/smith, and running into several confusing issues related to using an L2_FECollection with different boundary integrators:

1. A finite element space made from an L2_FECollection doesn't appear to define boundary or face elements:
[code]
Is this expected? Conceptually, whether or not an element exists seems like a prope

[2021-06-10 21:10] acfisher opened #2321 "HowTo article: Navigating AMR meshes"
We could use a high level article describing how to use the group communicators. For the meantime put it in this branch of the web repo:

https://github.com/mfem/web/tree/searchable-articles/src/howto

Examples can be found in that folder.

[2021-06-10 21:11] acfisher commented on #2321
Looking for someone to write this one.  Maybe @jakubcerveny if he is not too busy working on others.

[2021-06-10 21:24] v-dobrev commented on #2208
There should be no conflict with regard to the `UseDevice()` flag -- for vector methods implemented in MFEM it means for MFEM to use its configured device/backend, and similarly for methods calling PETSc vector functions -- they should use the configured PETSc device/backend ("device" here includes the case where no actual device like GPU is being used -- in that case we just say that we are using

[2021-06-11 07:57] HFH104864 opened #2324 "On the problem of solving beam element"
Dear MFEM
  Now I have a mesh model with a beam element of type,I wonder if MFEM can solve the linear elasticity problem of beam element?
And If so, are there any hints or examples of what I should do

[2021-06-11 15:54] pazner commented on #2320
I think you bring up some valid points. I don't have all the answers to your questions, but I can try to clarify a couple of the points.

I believe this is an intentional design decision. An interior face in an L2 space is not a well-defined finite element, because the trace of the DG field on that face is double-valued.

Now, on the domain boundary, the trace actually *is* single-valued, but I do

[2021-06-11 20:51] robert-chiodi opened #2327 "Parallel Linear System Solver Iterations Increases with Core Count"
Hi all,

I am developing a hypersonic vehicle material-response solver based on MFEM and using DG. As part of this system, I need to solve a parabolic PDE for the pressure that appears as:

<img width="605" alt="Screen Shot 2021-06-11 at 1 29 38 PM" src="https://user-images.githubusercontent.com/47005129/121745382-14b37d80-cab9-11eb-9b88-4df065a27f6e.png">

The equation is discretized in time usin

[2021-06-11 21:36] v-dobrev commented on #2324
Example 2 (serial) and example 2p (parallel) illustrate how to solve a linear elasticity problem.

[2021-06-11 21:52] v-dobrev commented on #2320
I'll add a "todo" label with the intent to add better documentation for the various `Add*Integrator` methods in classes like `LinearForm`, `BilinearForm`, `MixedBilinearForm`, etc.

[2021-06-11 21:53] pazner commented on #2327
Hi @robert-chiodi,

* The block ILU preconditioner is uncoupled across MPI ranks, and so it is expected that as your increase the number of MPI ranks, the iteration counts would increase. That being said, the iterations you are reporting are increasing faster than I would have expected.
* AIR will probably be more scalable in parallel if you are targeting very large number of ranks, and it is not

[2021-06-11 21:59] samuelpmishLLNL opened #2328 "Inconsistent behavior of L2FaceRestriction implementation of Operator::MultTranspose"
In the documentation for `mfem::Operator::MultTranspose()`: implements "y=A^T(x)" (i.e. direct assignment)

But `L2FaceRestriction::MultTranspose()` appears (?) to be implementing it as "y += A^T(x)" instead (i.e. compound assignment)

[code]

Reading the documentation for `mfem::Operator`, `mfem::L2FaceRestriction`, one would expect `x1` and `x2` to be the same, but they are not. If this is inten

[2021-06-11 23:20] rw-anderson commented on #2311
The facility that I know about (that I wrote in a few lines of code) is almost trivial, and likely doesn't cover a broad range of use cases that people might want to have, but I can provide a code snippet or two if that will be helpful.

[2021-06-11 23:33] psocratis commented on #2311
This is already addressed by some recently added methods in the `pmesh` class, not only for elements but for all geometric entities. I believe @dylan-copeland did this.

[code]

[2021-06-11 23:37] brightzhang91 commented on #2299
Thanks stefanozampini  for your support !
Please see the MFEM code and the mesh file produced with Gmsh.
The `Out of memory` error was encountered in the serial run, and non-convergence was encountered in the parallel run.
[https://github.com/brightzhang91/EM-solvers/blob/main/magnetodynamic_inductive.cpp](url)
[https://github.com/brightzhang91/EM-solvers/blob/main/torus2.msh](url)

Thanks very mu

[2021-06-12 00:03] rw-anderson commented on #2311
Maybe @dylan-copeland is a more natural assignee to this one then.

[2021-06-12 00:06] dylan-copeland commented on #2311
I can write this article. How soon should it be done?

[2021-06-12 00:07] bensworth commented on #2327
Agree with Will on the one iteration question. Also, when you increase processors is this a weak or strong style scaling? I.e., are you increasing problem size or just processor count? And how big is the problem in terms of DOFs? As long as the DOFs aren't such that each processor has a very small number, AIR should be fairly robust in terms of fixing problem and increasing problem size, with the

[2021-06-12 00:42] robert-chiodi commented on #2327
Thank you both for your quick responses. I will try my best to answer the questions (and apologies if I end up being overly thorough).

I am unsure of why it is solving the linear system in only one iteration when simulated in serial. The example results I gave were under strong-scaling with 400 DOFs making up the pressure field. However, I have experienced the same behavior under strong scaling w

[2021-06-12 08:03] davidherreroperez opened #2330 "Grid transfer using AMR"
Hi all,

I am trying to interpolate a coarse solution de-refined from a fine space to such a fine space using GridTransfer class following #1072.
Bellow a code showing what I am trying to do.

[code]
Here are some images of what I see.

The coarse solution de-refined from the fine space
![coarse](https://user-images.githubusercontent.com/37667149/121768923-2d776e00-cb61-11eb-8fa1-3f73e24960f5.png)

[2021-06-12 09:10] stefanozampini commented on #2299
Can you try using https://github.com/mfem/mfem/commit/30da55f38fdd9fcd3686de6b826b98c619629ec8?
I have run your code using the patch in https://github.com/mfem/mfem/commit/30da55f38fdd9fcd3686de6b826b98c619629ec8 and the error goes away. I have opened an issue in PETSc https://gitlab.com/petsc/petsc/-/issues/940.

However, if I run sequentially, I'm getting software errors from failing line search

[2021-06-13 01:26] tzanio commented on #2328
Thanks for reporting this @samuelpmishLLNL!

Can you take a look and see if #2329 fixes it for you?

[2021-06-13 02:11] tzanio commented on #2307
Discussion continued in #2319

[2021-06-13 02:11] #2307 closed

[2021-06-13 02:41] tzanio commented on #2294
Hi @sebastiangrimberg,

I've never had to do anything like this myself, but maybe Mark (@mlstowell) has experience with similar problems and can offer advice.

Tzanio

[2021-06-13 07:44] HFH104864 commented on #2324
Yes I know that . But if for a mesh model, its mesh element is beam element, I am not sure whether ex2 works

[2021-06-13 10:59] brightzhang91 commented on #2299
I have run your code using the patch in 30da55f and the error goes away. I have opened an issue in PETSc https://gitlab.com/petsc/petsc/-/issues/940.

Thanks Stefano for this patch !
I run in parallel with this patch and the new `rc_ex10p_jfnk`, the following messages disappeared :
[code]
However convergence is still not achieved, with the message:
`Line search: Initial direction and size is 0`

a

[2021-06-13 12:05] stefanozampini commented on #2299
I don't know why it is failing, you should double-check your code to find the cause. Was it running with PETSc 3.14? and with 3.13?
Can you use the same MFEM branch and use an older version of PETSc to confirm?

[2021-06-13 14:37] brightzhang91 commented on #2299
Can you use the same MFEM branch and use an older version of PETSc to confirm?

 I just changed PETSc 3.15 to 3.14 and ran with the same branch, it shows the same non-convergence problem in the parallel run.  I'm confused if this early termination caused by non-convergence (without iterations) is due to problems in my code or some other problems?
The MFEM examples (such as ex10p) work well.
Thanks

[2021-06-13 15:18] stefanozampini commented on #2299
Again, I don't know what to answer since I have not written the code. Here is what I would do:
- use MFEM 4.2 and PETSc 3.13 . Does it work?
- use MFEM 4.2 and PETSc 3.14 . Does it work?
- use the new branch and PETSc 3.14. Does it work? (answer no)
- use the new branch and PETSc 3.15. Does it work? (answer no)

[2021-06-13 16:20] tzanio commented on #2324
Can you clarify what you mean by "beam element"?

We support (standard) volume nodal elements for elasticity, see for example Chapter 5 in [Numerical Solution of Partial Differential Equations by the Finite Element Method](https://www.amazon.com/Numerical-Solution-Differential-Equations-Mathematics/dp/048646900X) by Claes Johnson.

[2021-06-13 19:13] brightzhang91 commented on #2299
Hi Stefano
After the testing I think the problem is within my code, as neither of the four options work without the non-convergence problem.
Thanks very much for your support ! It'll be great if you can help think of  some possible causes for the error:

`Nonlinear solve did not converge due to DIVERGED_LINE_SEARCH iterations 0`

Thanks ;)
Bright

[2021-06-13 19:17] stefanozampini commented on #2299
The only help I can give you is to wish you good luck

[2021-06-14 16:27] L29430 commented on #2283
Hello,

I copied the shifted repository in miniapps, in mfem-4.2. When I'm in this new repository, the "make" command doesn't work, I cannot get the .exe files. Is there a particular step to know to run this miniapp ?

Best,

[2021-06-14 16:51] vladotomov commented on #2283
Hi @L29430,

Are you working on a Linux or a Windows machine? What is the error you're getting?
Please also look at the `INSTALL` file.

Best,
Vladimir

[2021-06-14 17:45] kmittal2 commented on #2330
Hi @davidherreroperez,

With regards to `GSLIB`, you can use like the code snippet below. GSLIB uses high-order interpolation so you should get expected accuracy based on the polynomial order and spatial length scale of the elements you are using. I am not familiar with the `GridTransfer` class so others can comment on that.

[code]

Ketan

[2021-06-14 18:27] L29430 commented on #2283
Hello,

I'm working on a linux machine, my error is :

**make: nothing to do with "all".**

I have already looked at the INSTALL file, it doesn't say anything about the installation of this miniapp.

[2021-06-14 19:11] pazner commented on #2327
This actually explains why you converge in one iteration in serial: in 1D, your matrix will be (block) tridiagonal, and so there will be no fill-in and the solve will be exact.

It could be that your system is quite ill-conditioned and that it is not very well preconditioned by ILU/AIR/AMG, and the only reason you see good convergence on a small number of processors is because the solver is close

[2021-06-14 19:48] v-dobrev commented on #2330
I'd recommend looking at example 15/15p which illustrates how to perform a simple refinement/derefinement loop.

I see that your code performs refinements independently on different mesh objects -- most refinement/derefinement functionality in mfem assumes that you work with a single mesh object as in example 15/15p.

[2021-06-14 19:55] robert-chiodi commented on #2327
That makes a lot of sense, thank you so much for your help. I believe you were 100% correct. I made the case fully two-dimensional and the convergence behavior is making a lot more sense now. Indeed, standard AMG does seem to be a better preconditioner in this case since it is only diffusion.

I'll mark the issue closed, and again, thank you very much @pazner and @bensworth for your help.

[2021-06-14 19:55] #2327 closed

[2021-06-14 19:59] bensworth commented on #2327
@robert-chiodi Also worth pointing out: posing a 1d problem on a 2d mesh can actually cause serious problems for solvers. You have effectively posed a totally anisotropic diffusion problem, with singular diffusion coefficient in 2d. Just something to be aware of in case you consider such a workaround again.

[2021-06-14 22:37] wcdawn commented on #2317
Thanks to everyone for the input.
It sounds like using Partial Assembly with triangles is possible using the CEED backend. Additionally, LOR may offer some opportunities.

Unfortunately for our problem, we're having trouble storing first-order linear finite elements in memory so it sounds like Partial Assembly may not be that helpful, even if it doesn't suffer from being ineffective.

Thanks!

[2021-06-14 23:48] robert-chiodi commented on #2327
@bensworth Thanks indeed for pointing that out. I was aware it was a degenerate case, however, I did not know how serious of a problem it could create. I have updated my code to allow running fully in 1D. It is really neat how easy it was to do due to MFEM.

As a side note, I think 1D integration rules do not currently set their `IntegrationPoint` `index` member variables for the `IntegrationPoint

[2021-06-14 23:59] #2317 closed

[2021-06-15 00:24] pazner commented on #2327
Yes, please open a new issue for this. Thanks!

[2021-06-15 01:19] robert-chiodi opened #2333 "Setting of IntegrationPoint index variable for Segment IntegrationRule"
I believe the method `IntegrationRules::SegmentIntegrationRule` in `intrules.cpp` does not set the `index` member of the `IntegrationPoint` objects created that define the `IntegrationRule` object. This can lead to segfaults when using `QuadratureFunction::GetElementValues`, such as when evaluating a `QuadratureFunctionCoefficient`. I believe it can be fixed by adding `ir->SetPointIndices();` to t

[2021-06-15 04:05] v-dobrev commented on #2208
Another question, @stefanozampini: why this change: b8281fa0? This changes the intended behavior for the method.

[2021-06-15 06:03] HFH104864 commented on #2324
the mean is that My model is discrete into a finite number of beam elements (just like tetrahedral elements).

[2021-06-15 13:21] HFH104864 commented on #2324
In other words, for a statically indeterminate truss structure composed of one-dimensional beam elements, does MFEM have a method to solve it?

[2021-06-15 15:28] tzanio commented on #2324
I think I understand what you mean, but it will help if you can attach a picture.

If you indeed want to model a 3D beam with only 1D elements that e.g. the edges of a 3D mesh, then I'm not sure how easy/effective it will be to use MFEM. It is probably possible, but what we would typically do in this case is to use volume elements in the 3D mesh.

[2021-06-15 16:46] #2299 closed

[2021-06-15 17:47] acfisher commented on #2311
@rw-anderson yeah I saw you wrote those lines of code a while back which is how you got tagged.  I did miss the new methods being added.  @dylan-copeland thanks for stepping in, the next week or two would be fine.  Don't let it get in the way of your work on enabling the latest version of Hypre in MFEM.

[2021-06-16 05:33] davidherreroperez commented on #2330
Thanks for your help @kmittal2 and @v-dobrev.

[2021-06-16 05:33] #2330 closed

[2021-06-16 07:23] HFH104864 commented on #2324
Actually, it's just an idea of mine. I don't have a real model of this type .It might look something like this.

![model](https://user-images.githubusercontent.com/69201217/122175069-e87f6e80-ceb5-11eb-8763-9e25b721d6f6.png)

Or a two dimensional truss as follows.

![model2](https://user-images.githubusercontent.com/69201217/122175886-95f28200-ceb6-11eb-8407-115e6671e57f.png)

In this model, its b

[2021-06-16 15:10] L29430 commented on #2283
Hello Vladimir,

Can you tell me where I can find the document needed to install the shifted miniapp ?

Best.

[2021-06-16 19:25] vladotomov commented on #2283
Hi @L29430,

First you should build the MFEM library in parallel and run some of the parallel examples to make sure everything works as expected. Then you can build the shifted diffusion miniapp in `/miniapps/shifted`.

Vladimir

[2021-06-16 22:12] Jacobfaib opened #2336 ""CUSPARSE_SPMV_CSR_ALG1" is undefined"
Compiling mfem with cuda support on ORNL Summit using the cuda 11.2.0 module.

Full error mssage
----
[code]

Version info
-----
Output of `make info`:  [mfemInfo.txt](https://github.com/mfem/mfem/files/6666100/mfemInfo.txt)

[code]

[2021-06-16 22:19] Jacobfaib commented on #2336
As a workaround I plopped
[code]
at the top of `linalg/sparsemat.cpp` and everything compiled cleanly.

[2021-06-16 22:30] YohannDudouit commented on #2336
I'm confused we're supposed to have addressed this in: https://github.com/mfem/mfem/pull/2200

[2021-06-16 22:36] YohannDudouit commented on #2336
Could you check if replacing `#if CUDA_VERSION >= 11020` with `#if CUDA_VERSION >= 11021` in `linalg/sparsemat.cpp` solves this issue?

[2021-06-16 22:39] Jacobfaib commented on #2336
This works.

[2021-06-16 23:37] YohannDudouit commented on #2336
I just tried on Lassen, the problem is that if I change for `#if CUDA_VERSION >= 11021`, and use `cuda-11.2.0`, then I get the following warning:
[code]
That confuses me about what version of cuda Summit is actually using, it doesn't seem to behave the same...

[2021-06-17 04:42] tzanio commented on #2324
If it was me, I'd discretize the first image as a volume mesh, because there are clearly some 3D effects with non-trivial thickness.

This is not exactly my area though, maybe @bslazarov or @Dan2997925 can help?

[2021-06-17 06:42] HFH104864 commented on #2324
Unfortunately, I have a reason to use beam element. Therefore, my idea is to discretize the model in the first figure into beam elements, that is, to add nodes and one-dimensional line segments to each beam.In ANSYS, applying boundary conditions to a beam element is done by adding boundary conditions to a one-dimensional line segment (that is, the beam element), and I'm not sure if MFEM can do the

[2021-06-17 10:37] e-aranda commented on #2286
Thanks, these were the problems.

[2021-06-17 10:37] #2286 closed

[2021-06-17 12:32] Jacobfaib commented on #2336
Yeah it does seem like summits version is a bit wonky. When loading the cuda module on summit one is met with:
[code]
I figured this might refer to some experimental backend implementations not missing features... I will send mail to the ornl help desk about this. Maybe they have more insight.

[2021-06-17 14:39] Jacobfaib commented on #2336
Alrighty so after getting in touch with the ORNL folks they mentioned that:

With that I inspected the respective `$CUDA_[HOME|DIR]/include/cusparse.h` for both Lassen and Summit and lo and behold

Lassen:
[code]

Summit:
[code]
So maybe its not the cuda version that needs checking but the cusparse version.

[2021-06-17 18:28] YohannDudouit commented on #2336
@Jacobfaib Would you have an idea of what would be the correct value to check for CuSparse?
Also did you see that [comment](https://github.com/mfem/mfem/issues/2164#issuecomment-826440946) by @adam-sim-dev

[2021-06-17 18:56] Jacobfaib commented on #2336
Also did you see that comment by @adam-sim-dev

Yeah which is why I am doubly confused as to why summits cusparse doesn't have this value defined. In fact, it does not even throw a deprecation warning for `CUSPARSE_CSRMV_ALG1`! I'm starting to think that maybe the summit cusparse build is defective. I grepped the whole of the cuda directory for `CUSPARSE_SPMV_CSR_ALG1` and it came up completely em

[2021-06-17 19:07] YohannDudouit commented on #2336
I was thinking that replacing `#if CUDA_VERSION >= 11020` with something like `#if CUSPARSE_VER_MAJOR >= 11 && CUSPARSE_VER_MINOR >= 4` could be the answer, but I'm not sure...

[2021-06-17 22:07] xjrc opened #2337 "parallel/per-domain NURBS file support?"
Is it possible to output an MFEM NURBS mesh (like the [ball-nurbs.mesh](https://github.com/mfem/mfem/blob/master/data/ball-nurbs.mesh) example) that spans multiple files (e.g. one domain per file)? Support for such a capability would be ideal for a parallel application outputting meshes in this format. Thanks in advance for your input and guidance!

[2021-06-18 01:30] dylan-copeland commented on #2311
This is done in commit 3334b405efdda6007bcc2d72b89bf815c0e4b713

[2021-06-18 02:12] dylan-copeland commented on #2311
@acfisher It took me a while to figure out that `python -m mkdocs serve` is necessary. It would be helpful to comment on this in the `README.md`.

[2021-06-18 02:32] v-dobrev commented on #2178
Unfortunately, I have not had time to look at this for possible solutions for the GroupTopology creation issue.

[2021-06-18 03:21] v-dobrev commented on #2337
Unfortunately, the answer at the moment is no.

[2021-06-18 16:24] tzanio commented on #2311
@dylan-copeland, can you clarify -- for me `mkdocs serve` works on both my Mac and tux boxes

[2021-06-18 16:51] dylan-copeland commented on #2311
@tzanio `mkdocs serve` does not work on my Mac. Also on my tux box, it is necessary, because there `python` is python 2.7. The README could just say that on some machines or environments, `python3 -m mkdocs serve` may be needed.

[2021-06-18 16:52] tzanio commented on #2311
OK, lets add that addition.

It probably depends what's the default python on your system and how did you install mkdocs.

[2021-06-19 16:07] e-aranda opened #2340 "Create ParGridFunction from GridFunction"
Sorry if this question is already answered, but I have not found it. This is the situation:
I have a mesh previously built, `intmesh` and the parallel mesh and spaces:
[code]
and now, I define a GridFunction in `interior` space, and I want the corresponding `ParGridFunction` in `fespace`
[code]
and running with 1 process, the `ParGridFunction` is correctly set, but running with more than 1 process

[2021-06-21 13:36] jhoy97 opened #2341 "Example 2 Manipulation"
Hi,

I am trying to adapt the code of example 2 to find the maximum deflection of this single material plate with a hole.  Is there a way to change `ex2.cpp` so that it can solve the problem with only one material?

Also can the boundary attributes be changed so that it is not fixed to the left but instead two roller boundaries are attached to the left side and bottom of the plate?  Any help would

[2021-06-21 14:56] tzanio commented on #2328
Discussion continued in #2329

[2021-06-21 14:56] #2328 closed

[2021-06-21 15:14] tzanio commented on #2340
Wasn't this discussed in https://github.com/mfem/mfem/issues/1155?

[2021-06-21 15:32] sebastiangrimberg commented on #2178
I have a temporary solution which I'm not sure is worth making a PR for, but it seems to work for my applications at least. I have just modified the ParMesh to take a `create_gtopo` argument (defaults to `true`) and have the following at l218 of `pmesh.cpp`:

[code]

I've also made the `groups` ListOfIntegerSets variable a member of the class and added a (synchronizing) method `CreateGroupTopology

[2021-06-21 15:36] tzanio commented on #2341
This is all doable, but it could be a bit it may require a bit of work to impose the roller BCs (if I understand correctly, e.g. the one on the bottom sets the y-displacements only to zero.

[2021-06-21 15:41] LeilaSalomon opened #2342 "Laplace(u) + Au + **lambda**.Grad(u) = 0 , from example 7."
Hello everybody,

I would like to solve the following equation :

Laplace(u) + Au + **lambda**.**Grad**(u) = 0     ,    with u the solution to be determined, A a GridFunctionCoefficient and **lambda** a VectorGridFunctionCoefficient.

I was planning to start from example 7, so the idea is to add the term **lambda**.**Grad**(u), and take f = 0.

Is it possible to do this by adding to the bilinear f

[2021-06-21 16:07] e-aranda commented on #2340
That was the inverse situation: get a GridFunction from a ParGridFunction. Indeed, what I am trying is what @v-dobrev commented  at https://github.com/mfem/mfem/issues/1155#issuecomment-554138100. However in this way:
[code]
it does not work, even with only 1 process. It seems data is not copied. And doing as:
[code]
works with 1 processor but no with more than one, because data is messy.

[2021-06-21 16:12] jhoy97 commented on #2341
Ok, are there any other examples that I could base the code off of?  I am unsure where to begin, assume 6. of `ex2.cpp` needs modified for the BCs:
   `Array<int> ess_tdof_list, ess_bdr(mesh->bdr_attributes.Max());`
   `ess_bdr = 0;`
   `ess_bdr[0] = 1;`
   `fespace->GetEssentialTrueDofs(ess_bdr, ess_tdof_list);`

And to change the material conditions 7. of `ex2.cpp` would need modified(?):
   `Ve

[2021-06-21 17:18] jandrej commented on #2342
Your approach of using the `ConvectionIntegrator` form should work as long as `lambda` is divergence free, e.g. `\nabla \cdot \lambda = 0`.

Keep in mind that example 7 uses a continuous Galerkin finite element space. Therefore, without going into to much detail, you have to be careful how large the `lambda` coefficient makes the convection term compared to the diffusion.

[2021-06-21 19:15] xjrc commented on #2337
Thanks, @v-dobrev. We can get around this for the time being by funneling all of the data back to rank 0 and publishing the mesh to a single file, but it would be great to remove this reduction step when a parallel format is available in the future!

[2021-06-21 19:39] v-dobrev commented on #2340
The documentation here: https://github.com/mfem/mfem/blob/8923656d477be5f42271af92e5c4eb5008c947f0/fem/pgridfunc.hpp#L78-L82

states that you need to provide the 3rd argument in order to be able to transfer the data.

[2021-06-21 19:54] v-dobrev commented on #2342
Do you want to solve the equation on a surface, as in Example 7?

If that is the case, it will be a good idea to double-check if the other integrators (besides `DiffusionIntegrator`) work properly with surface meshes.

[2021-06-22 07:30] e-aranda commented on #2340
Ok, thanks. That was my mistake.

[2021-06-22 07:30] #2340 closed

[2021-06-22 16:13] LeilaSalomon commented on #2342
Hello, `lambda` is not divergence free...
Which integrator you would have used to add the term `lambda.Grad(u)` ?

[2021-06-22 16:48] acfisher commented on #2308
We now have an article, thanks @kmittal2 .

[2021-06-22 16:48] #2308 closed

[2021-06-22 16:51] acfisher commented on #2311
Yes, the later versions of mkdocs want python3.  I'll put that in the readme.  Thanks for getting the article in.

[2021-06-22 16:51] #2311 closed

[2021-06-22 17:30] bensworth opened #2343 "AdamsMoulton increase t+=dt twice"
I'm looking at the `AdamsMoultonSolver::Step` function, and it has this fragment:
[code]
The first if section is most time steps, and the else to initialize solutions for the multistep method with appropriate HO accuracy. But by calling `RKsolver->Step(x,t,dt)`, this should already increase `t+=dt`, and then after the if-statement, this is called again. As far as I understand, this is increasing d

[2021-06-22 17:40] jandrej commented on #2342
In my previous comment I made the assumption that you stated the strong form and still need to derive the weak form of your equation e.g., multiply by a test function and integrate by parts. Therefore I also assumed you want to apply integration by parts to the convective term in order to retrieve a boundary term.

It would help if you can provide more details about the weak form and its derivatio

[2021-06-22 20:53] v-dobrev commented on #2343
It does look like a bug. @IdoAkkerman, any thoughts?

On the other hand, the unit tests (https://github.com/mfem/mfem/blob/master/tests/unit/linalg/test_ode.cpp) seem to work fine.

[2021-06-22 23:31] wcdawn opened #2346 "HYPRE API break"
It looks like some new HYPRE features modify the API.
The first compiling error I encountered was with `hypre_CSRMatrixAdd` which has a new function signature.

The API change in the HYPRE repo is [here](https://github.com/hypre-space/hypre/commit/8c9f41a4d021cca72e06a0beced71dd3261e31e3).

I'll start a PR for this but I'm not sure how big this problem is yet.

[2021-06-23 02:08] v-dobrev commented on #2346
Yes, I also see new methods in hypre v2.22.0: `hypre_CSRMatrixSetConstantValues` and `hypre_ParCSRMatrixSetConstantValues` which make the methods with the same names we have in `mfem::internal` unnecessary and create errors because of ambiguous calls.

We'll need a new PR to add support for the new hypre v2.22.0.

[2021-06-23 05:24] nghiakvnvsd opened #2347 "How to add another mesh into MFEM"
Hi everybody! I tried to add another mesh to MFEM but it returns an error. Maybe I do not know how to create the mesh following MFEM type or something?  My mesh like:

![image](https://user-images.githubusercontent.com/68639058/123040173-4a982080-d42e-11eb-98cd-aa8e689a2c9e.png)

and this is my mesh file:
https://drive.google.com/file/d/1mAh-89-pY6aE9o-2LV2wXPvM7j18DIUv/view?usp=sharing

thank you

[2021-06-23 08:45] zahurullah123 commented on #2341
@tzanio we are trying to solve this example:
![image](https://user-images.githubusercontent.com/72550338/123065199-df872380-d406-11eb-930c-6d64b60a6106.png)

Here we are solving only a quarter of the plate due to symmetry and will apply symmetry boundary conditions on the left and the bottom sides. On the left side, only the x-boundary condition is set to zero and on the bottom side, only the y-bo

[2021-06-23 15:05] bensworth commented on #2343
One other comment: I believe these multistep methods assume a fixed dt over multiple time steps. So something like the common MFEM syntax inside a time-stepping loop
[code]
would break this if dt doesn't perfectly divide tf (i.e., if you change dt), and you could lose accuracy on your final step.

[2021-06-23 15:37] pazner commented on #2347
It looks like our mesh uses VTK format version 5.1, which MFEM does not support. Trying to load your mesh, I see that it fails with the error
[code]
You could try converting your mesh to another format supported by MFEM (e.g. ASCII VTK version 4, or XML VTK).

[2021-06-23 15:45] LeilaSalomon commented on #2342
Hello,

I attach you a presentation of my problem so that it will be more clear :)

<img width="472" alt="problem_presentation" src="https://user-images.githubusercontent.com/40572513/123127682-cacc7f00-d44a-11eb-8a54-fb3c53094993.PNG">

[2021-06-23 15:58] wcdawn opened #2349 "CUDA library linking for HYPRE+CUDA"
When using HYPRE+CUDA, the default options use `cusparse` and `curand`. The user also has the option to enable `cublas`.

Interestingly, even if HYPRE is compiled with `--disable-curand`, there is still a dependency on `curand`. This may be a bug with their build system but it still doesn't work with MFEM.

The real problem that I encountered was when trying to compile the examples. By default, MF

[2021-06-23 16:04] wcdawn opened #2350 "Error when using HYPRE+CUDA"
I encounter the following error running `ex1p` with HYPRE built with CUDA.
[code]
Interestingly,  I get the same error whether I run with the `-d cuda` command line option or not so HYPRE is calling CUDA routines regardless of the MFEM device setting.

Here is my HYPRE configuration:
[code]

Here is my MFEM configuration:
[code]

[2021-06-23 16:45] wcdawn commented on #2350
It looks like this may not be supported yet. I thought this had been merged in already.
I'll give it a try with branch `hypre-cuda-dev`. Looks like #1492 needs to be merged to enable this.

[2021-06-23 19:31] v-dobrev commented on #2349
Support for hypre build with cuda is not available yet in MFEM's `master` branch. It is being developed and tested in PR #1492 which will be part of MFEM v4.3.

[2021-06-23 19:33] v-dobrev commented on #2350
Yes, support for hypre build with cuda is under development in PR #1492.

[2021-06-24 15:03] tzanio commented on #2341
Sorry for the delay guys, I'll try to respond this weekend. -Tzanio

[2021-06-24 15:16] tzanio commented on #2349
@wcdawn you are welcome to help us test and provide feedback in #1492.

[2021-06-24 15:22] tzanio commented on #2346
Thanks for helping with this @wcdawn!

I'll close this issue in favor of discussion in #2348.

[2021-06-24 15:22] #2346 closed

[2021-06-24 15:59] zahurullah123 commented on #2341
@tzanio  many thanks. In addition, how can we post-process stress/strain (gradient of displacements) in addition to the displacement?

[2021-06-25 15:01] #2333 closed

[2021-06-25 23:41] tzanio commented on #2349
Discussion continued in #1492.

[2021-06-25 23:41] #2349 closed

[2021-06-25 23:42] tzanio commented on #2350
Discussion continued in #1492.

[2021-06-25 23:42] #2350 closed

[2021-06-26 16:01] #1432 closed

[2021-06-27 17:28] jandrej commented on #2342
Based on your description, yes, it looks like you can use `ConvectionIntegrator`.

[2021-06-27 20:59] brightzhang91 opened #2362 "GLVis X connection failure"
Hi :)
I just reinstalled my Ubuntu (due to corruption) and therefore the GLVis and its dependencies. However I cannot display the meshes through Xming, with the following problem:
![image](https://user-images.githubusercontent.com/67397441/123558941-13f53980-d791-11eb-9ade-c760f0f3b445.png)
However the xclock test works , which indicates  X forwarding and SSH connection should be alright ?
![image

[2021-06-27 21:27] tzanio commented on #2362
Hi @brightzhang91,

Can you confirm you are using `mfem-4.2` with `glvis-4.0`, and no other modifications?

Also, what is the operating system?

Tzanio

[2021-06-27 21:42] brightzhang91 commented on #2362
Hi Tzanio
Yes I'm using `mfem-4.2` with ` glvis-4.0`, which were downloaded and installed in this week without modification. The operating system is Linux based Ubuntu 20.04.LTS installed on windows.

[2021-06-27 22:38] #2337 closed

[2021-06-27 22:39] tzanio commented on #2336
Hey guys, do we have a clear resolution for this? Is it something that should be in mfem-4.3?

[2021-06-27 22:40] #2289 closed

[2021-06-27 22:40] #2269 closed

[2021-06-27 22:41] tzanio commented on #2242
What's the status of this issue?

[2021-06-27 22:42] tzanio commented on #2302
@wcdawn, were you able to resolve this?

[2021-06-28 00:27] robert-chiodi opened #2363 "Bug in AssembleSharedFaces for ParLinearForm"
Hi all,

I believe there is a bug in the line below of `plinearform.cpp`. The index should be incrementing as `iflfi` is iterated over (index `k` instead `0`).
https://github.com/mfem/mfem/blob/c1485a49edfd48b089fd5139611b7100704dbf6d/fem/plinearform.cpp#L76

On a related note, I believe a getter method for the new `InteriorFace` LinearFormIntegrators in the `LinearForm` is missing, meaning that
[

[2021-06-28 04:11] kanye-quest commented on #2362
Hi @brightzhang91,

Could you perform the following steps and post the output?
- Build and run glvis in debug mode, with `make GLVIS_DEBUG=YES` - this should provide some additional error information during window initialization.
- Run `glxinfo` to confirm that OpenGL is working through X

Another thing you might be able to try out is using [VcXsrv](https://sourceforge.net/projects/vcxsrv/) instea

[2021-06-28 08:14] sashank-srinivasan-13 opened #2364 "Convection-diffusion equation solved using DG"
Hello All,
I am a beginner in using mfem and am trying to use mfem to solve a convection-diffusion equation as a precursor to my actual project. I had focussed on combining ex9.cpp, with the diffusion operators used in example 14 (taking care to not include the source term on the RHS, and use periodic boundary conditions for both the convection and diffusion terms). This approach seems to be incor

[2021-06-28 12:58] LeilaSalomon commented on #2342
Hey, thank you,

Example 7 solves  `delta(u) + u = f`. Here, I have `delta(u) + Au + lambda.nabla(u)= 0`. A first idea would be to modifie the constant coefficient in `DiffusionIntegrator` :

BilinearForm *a = new BilinearForm(fespace);
ConstantCoefficient CC1(-1.0);
a->AddDomainIntegrator(new DiffusionIntegrator(CC1));

A second idea is to keep :

BilinearForm *a = new BilinearForm(fespace);
Cons

[2021-06-28 15:40] wcdawn commented on #2302
No. My large problems do not have essential BCs so it isn't a problem for the very largest problems.
As a quick patch for now, in my routines I have something like
[code]

I haven't had time to implement a better solution in MFEM.
The easiest thing would be to introduce a private member variable to store the user-specified value for `skip_zeros` but that would add more data to track.

[2021-06-28 15:52] pazner commented on #2364
Hi @sashank-srinivasan-13,

The approach you describe (combining the integrators from ex9 and ex14) is the correct one. Adding the following integrators to example 9 should work (with periodic boundary conditions):
[code]
Note that the diffusion term may result in a restrictive CFL condition, so you might want to try running with implicit time stepping (e.g. flag `-s 23` or similar).

[2021-06-28 17:00] brightzhang91 commented on #2362
Hi @kanye-quest

Thanks for the advices. So far I have tried :

![image](https://user-images.githubusercontent.com/67397441/123674044-11e6b580-d839-11eb-91d5-0101de5b1dd4.png)
It seems there is problem with OpenGL:
![image](https://user-images.githubusercontent.com/67397441/123675274-70f8fa00-d83a-11eb-85e9-b4cbf85ca154.png)

 However I tested the display with OpenGL, following the advice here [:]

[2021-06-28 17:15] kmittal2 commented on #2363
Glad you caught this @robert-chiodi, thanks!

I agree that `flfi` fits better but right now `flfi` is used for `BdrFaceIntegrators` in `LinearForm`. We could change to `bflfi` for  `BdrFaceIntegrators` and `flfi` for `InteriorFaceIntegrators` to match `BilinearForm` but this will lead to some backwards incompatibilities. What do you think @tzanio @v-dobrev?

Ketan

[2021-06-28 21:26] kanye-quest commented on #2362
What happens when you run `DISPLAY=:0 glxinfo`? If `glxinfo` isn't running, that's definitely concerning.

Also, is there anything that looks off inside Xming's logs wrt the broken X connection?

[2021-06-28 22:07] brightzhang91 commented on #2362
Ok  :), `DISPLAY=:0 glxinfo` can show all the information, such as some parts as follows:
![image](https://user-images.githubusercontent.com/67397441/123709602-41131c00-d865-11eb-8e6f-52adfe417d81.png)
![image](https://user-images.githubusercontent.com/67397441/123709699-66a02580-d865-11eb-8383-c33dcfa0aa26.png)

Xming doesn't look like strange and xclock test works.

[2021-06-28 23:06] YohannDudouit commented on #2336
Not completely, the cusparse documentation suggests that 11.2.1 (see https://github.com/mfem/mfem/issues/2164#issuecomment-826440946) should be the right cusparse version, but https://github.com/mfem/mfem/issues/2336#issuecomment-863297380 suggests that 11.4 is the right version in the case of Summit...

[2021-06-28 23:16] YohannDudouit commented on #2336
I might be confusing the cuda version and the cusparse version though.
I think we could try replacing `#if CUDA_VERSION >= 11020` with `#if CUSPARSE_VER_MAJOR >= 11 && CUSPARSE_VER_MINOR >= 4`, this will work for Lassen and Summit, but I don't find any documentation on the cusparse versions to be sure it's the right condition.

[2021-06-29 12:58] chikitkin opened #2368 "Memory leak in example ex1p with superLU"
Dear MFEM community,

I found memory leak in my MFEM-based solver and reproduced it in **examples/superlu/ex1p.cpp**. I slightly modified it, add an outer loop in order to call SuperLU solver several times:
[code]
I've also added ```delete``` for all pointers inside the loop.
The remaining code is untouched. When I run the program I see in the output of **top** command that used memory is increasi

[2021-06-29 15:35] wcdawn opened #2369 "Encountering NaN with HYPRE"
I have a problem with several (24) linear systems of equations, each of which is a discretization of several (80) coupled PDEs. In an iterative/convergence procedure, I'm solving a selected linear system of equations while updating the RHS until the solution converges.

I'm using the `HyprePCG` solver with `HypreBoomerAMG` preconditioner. I have called
`HYPRE_BoomerAMGSetNumFunctions(amg, 80)` to

[2021-06-29 17:26] tzanio commented on #2369
Regarding 1 -- the reason for NaNs usually is that the preconditioner is not SPD. That should not be the case if the input matrix is SPD, so this sounds like a bug. Can you attach the matrix and the AMG parameters you are using so we can try to reproduce?

[2021-06-29 17:31] tzanio commented on #2369
Regarding 3 -- you usually get a segfault in situations like this, or at least hypre will raise an error. I am not sure why it is not happening in your case, it seems like you are using the hypre PCG... In MFEM, when you define a `HypreSolver` you can specify how to handle hypre errors, see https://github.com/mfem/mfem/blob/master/linalg/hypre.hpp#L840-L849.

[2021-06-29 18:16] xjrc opened #2371 "Questions on Shared Faces and Face Neighbors"
I have a few questions about the concepts of shared faces and face neighbors as they appear in the `mfem::ParMesh` class:

1. What exactly is a face neighbor (referred to by `mfem::ParMesh::GetNFaceNeighbors()`, `mfem::ParMesh::GetFaceNbrGroup`, etc.)? Is this just a term for a parallel group that spans one or more faces?
2. What exactly is a shared face (referred to by `mfem::ParMesh::GetNSharedF

[2021-06-29 18:45] pghysels commented on #2368
I tried this. I put the whole step 13 in a loop, and at the end of the loop call:
[code]
then when running
`export OMP_NUM_THREADS=1; valgrind --leak-check=full ./superlu_ex1p -m ../../data/square-disc.mesh`
I only see some leaks from MPI (which you can get rid of by recompiling MPI with certain config options, at least for MPICH), but no leaks from SuperLU. I used the latest SuperLU_Dist git mast

[2021-06-29 18:49] pazner commented on #2371
A "face neighbor" is an MPI rank corresponding to a mesh partition that shares a face with the local mesh partition.

In the example you include, each domain should have two face neighbors, since each domain borders two other domains with shared faces.

Yes, that is correct. A shared face is a face that lies on the boundary of elements contained in two different mesh partitions.

I believe that ev

[2021-06-29 19:39] xjrc commented on #2371
Excellent explanation, @pazner; thank you! On point (3), I've been reviewing some client code that had checks for cases when a shared face had no local equivalent, which is why I asked the question. Your statements of (1) "all shared faces correspond to a local face" and (2) "not all local faces correspond to a shared face" makes much more sense to me. Thanks again!

[2021-06-29 19:39] #2371 closed

[2021-06-29 19:57] acfisher commented on #2371
@pazner Can you find the time to turn this into an article?  If not I can get to it sooner or later as you already did most of the work.

[2021-06-29 21:41] v-dobrev commented on #2363
These are protected data members, so I'm okay to change the names.

[2021-06-29 22:39] v-dobrev commented on #2336
I'd say use the condition `CUSPARSE_VERSION >= 11400` where `CUSPARSE_VERSION` is defined in `cusparse.h` as
[code]
Judging by the posts above, this should work on both Lassen and Summit with their respective installs of CUDA 11.2.0.

If this is not the exact cutoff version, we can adjust again later, if this comes up again.

[2021-06-29 22:44] pazner commented on #2363
May I be so bold as to suggest a name such as `interior_face_integrators` or `interior_face_integs`?

[2021-06-29 23:24] pazner commented on #2239
Does this issue require action on our end?

Should we change `ND_SegmentElement` so it inherits from `VectorTensorFiniteElement`? (cc: @v-dobrev, @mlstowell)

[2021-06-29 23:25] pazner commented on #2371
It would fit under the umbrella of #1740, which keeps getting pushed further down the to-do list…

[2021-06-30 00:28] v-dobrev commented on #2363
No objections from me. My IDE will auto-complete these for me, so I don't need to worry about the extra typing. 😄

[2021-06-30 00:49] v-dobrev commented on #2239
It think it makes sense. This will require some small changes like removing `obasis1d` from the class because it will be inherited from `VectorTensorFiniteElement`.

[2021-06-30 05:02] jamiebramwell commented on #2362
I was able to compile and run glvis v4.0 successfully on my WSL2/Ubuntu 20.04 machine. However, I am using [VcXsrv](https://sourceforge.net/projects/vcxsrv/) as recommended by @kanye-quest . I am not an X or GL power user, but I am happy to help debug this if you would like me to query my build or system parameters.

[2021-06-30 07:11] chikitkin commented on #2368
@pghysels, thank you,
I also used the last version of SuperLU from github.
May be the difference is in the way I installed SuperLU, because the SuperLU function which frees memory checks which compiler and etc. was used and based on this frees memory with different lines of code. Could you please write which compiler and config variables did you use in your SuperLU installation?

Also, please try

[2021-06-30 08:04] nash169 commented on #114
Hi @v-dobrev. Sorry for the delay.. I had completely missed the answer.

Yes. SLEPc seems to be definitely faster and more robust than Spectra. I'll restart to work on that in a short so I can test a bit more the parameters setting as well as complete the integration.

I'll let you know

[2021-06-30 15:11] tzanio commented on #2362
thanks for helping @jamiebramwell !

[2021-06-30 17:47] robert-chiodi commented on #1811
Hi @fengerhan,

I am sorry for the incredibly late reply. I have spent a little bit of time constructing a modified ex16p with Dirichlet and Neumann conditions. I hope it can still be of some help to you, and I would be happy to answer any questions that might arise. @bensworth, I believe you were interested too.

In the modified ex16p below, I have focused on solving two specific 1D problems from

[2021-06-30 19:26] pghysels commented on #2368
I used SuperLU_Dist commit 1626a06b7f8368b429415bd818ce5c19b5eeb34d
Configured as:
[code]
[code]

I changed ref_levels like you said, and run with
`export OMP_NUM_THREADS=1; /usr/bin/time --verbose ./superlu_ex1p -m ../../data/square-disc.mesh`
for different number of solves. I do see the memory is larger when solving multiple times:
1 solve:  Maximum resident set size (kbytes): 1008540
5 solve:

[2021-06-30 22:07] brightzhang91 commented on #2362
Thanks. I'll try to use VcXsrv instead of Xming and see if it works. I'll be back when it works or still have problems.

Bright

[2021-06-30 22:35] wcdawn commented on #2369
I'm not sure about uploading the matrix. I put in in a compressed tarball and it is 17 GB. I can upload it somewhere (probably Google Drive) if someone really wants to look into it. I understand that this is not particularly helpful for debugging.

Regarding error handling, I tried switching the `HyprePCG` to `CGSolver` since they should perform the same function. Using `CGSolver`, the code crashe

[2021-06-30 22:50] bensworth opened #2374 "Array error, "static assertion failed: type T must be trivial""
I am trying to compile MFEM on a new cluster. The library compiles and the examples compile and run, but when I try to compile my own script and link I get the following strange error. Has anybody seen this? Since the examples run I expect the problem is on my side, but I'm not sure where to look. Using modules `  1) gcc/9.4.0               2) mpich/3.4.2-gcc_9.4.0   3) cuda/11.1               4)

[2021-06-30 22:54] v-dobrev commented on #2374
You are trying to create an `mfem::Array<mfem::Vector>` and that is not allowed since `mfem::Vector` is not a trivial type. You can use `std::vector<mfem::Vector>` instead or something similar.

[2021-06-30 22:56] bensworth commented on #2374
Ohh thanks Veselin. Is this compiler specific? I've been using this code for 6 months on other machines and my laptop without an issue

[2021-06-30 22:58] YohannDudouit commented on #2374
This is an old implicit requirement that has been made explicit.

[2021-06-30 22:59] #2374 closed

[2021-07-01 02:30] sebastiangrimberg commented on #2294
Hi @mlstowell, any chance you've had to think about similar postprocessing problems? Would love your input whenever you get a chance.

Sebastian

[2021-07-01 07:12] chikitkin commented on #2368
Thank you, @pghysels ,

I will try MPICH.

I built SuperLU and MFEM without OpenMP. My valgrind output looks different:
[code]

Size of the memory in ```still reachable``` category is much larger.

[2021-07-01 07:37] nghiakvnvsd commented on #2347
Thanks for your support. May you give me some tool to convert? Thank you very much!

[2021-07-01 15:04] Maatinski opened #2377 "Mesh size limit in serial and parallel"
Hi all,
I have recently been trying to increase the number of mesh elements in our simulations (see [1432](https://github.com/mfem/mfem/issues/1432)) but I very quickly run into segmentation faults. This occurs for mesh element numbers (hex meshes) somewhere between 150M and 200M. The simulations are run on a fairly powerful server (>700GB memory) so I don't think memory limits are the issue.
Init

[2021-07-01 16:00] pazner commented on #2347
You can open your file in ParaView, and then select "Save Data", choose format "VTK UnstructuredGrid Files(*.vtu)" and save the file e.g. as "bracket.vtu". Set "Compressor Type" to be "None (fastest write)". This procedure worked for me and I was able to use your mesh in MFEM.

![bracket](https://user-images.githubusercontent.com/11493037/124154746-9fe5ba80-da4a-11eb-80b2-5c6981ffb655.png)

[2021-07-01 17:03] pghysels commented on #2368
Interesting.
Can you share the exact command you used? How many MPI ranks? Which mesh?

[2021-07-01 17:04] mlstowell commented on #2294
Hi, @sebastiangrimberg,

Sorry for the delay. I must have missed this when it first arose.

I have done something like this in the past although I typically start with ND or RT spaces. If you're transferring a field from one representation to another and the target representation can exactly capture the source field then you can avoid solving a linear system and just use a projection. It sounds li

[2021-07-01 17:46] sebastiangrimberg commented on #2294
Hi Mark, thanks for the fast follow up. I think starting with the first option just for clarity would help and if performance becomes an issue then I can try out the second.

Indeed as you can imagine I have a solution E in an ND space and B in an RT space and am going from there like the Maxwell miniapp. I don't think H can be in an ND space because of internal boundaries where the tangential com

[2021-07-01 17:58] v-dobrev commented on #2377
Can you load your mesh with `mesh-explorer`? You can try this:
[code]
If that segfaults too, can you try building mfem in debug mode and posting a stack trace from a debugger when the code crashes?

One possibility is that either the number of faces or edges is more than 2^31 so there's an `int` overflow. On the other hand, in a hex mesh the number of edges and faces is typically ~3x the number of

[2021-07-01 18:20] mlstowell commented on #2294
Hi, Sebastian,

Things do get complicated quickly. If `B` is in RT then we cannot guarantee that `n x B` is continuous. However, this is often an artifact of the numerical approximation. If the magnetic permeability is the same on both sides of the interface and there are no surface currents imposed on the interface then the true `B` field should be entirely continuous.

I'm curious, what type of

[2021-07-01 18:30] sebastiangrimberg commented on #2294
For an example using Maxwell miniapp, consider a metal box with some current source inside as well as some other internal metal surface on which we impose a PEC BC. I would be interested in viewing the induced currents both on the external box boundaries (one sided) as well as the internal surface (which are two sided). If the internal surface is infinitely thin, then I'm pretty sure the tangentia

[2021-07-01 18:40] pmocz opened #2379 "basis function NURBS mesh compatibility"
Are Nedelec, RT, and L2(MapType=INTEGRAL) basis functions compatible with NURBS meshes in mfem?

[2021-07-01 18:57] tzanio commented on #2379
They should be

[2021-07-01 19:00] jhoy97 commented on #2341
@tzanio did you get a chance to look at the problem?

[2021-07-01 20:26] mlstowell commented on #2294
I see. To accurately see surface currents on metal surfaces the PEC boundaries should be one sided. Applying PEC BCs to double sided surfaces should work fine but you won't have enough degrees of freedom to see the surface currents correctly. You could compute the averaged currents but I doubt these would be physically meaningful. On the one hand if the metal surface is much thicker than the skin

[2021-07-01 20:57] #2379 closed

[2021-07-01 21:03] sebastiangrimberg commented on #2294
I totally agree and was thinking that going the route of fixing at the mesh level would be the best approach. I think that this will be possible to add at the preprocessing stage and the tricky use of double sided internal surfaces probably wasn't a great idea.

Regarding the `EB` vs. `HD` formulations, I agree with your points and thanks for bringing it up. For the most part accuracy in `E` is wh

[2021-07-01 21:03] #2294 closed

[2021-07-01 21:12] mlstowell commented on #2294
Glad to help!

[2021-07-02 06:01] HaoWangCase opened #2380 "How to impose essential BC on a single node in parallel"
Hi guys,
Currently, I would like to impose an essential BC on a single node. In serial code, it is easy since I know the nodal ID, and I can add the corresponding dof id into the essential BC list by hand. However, in parallel code, I haven't found the connectivity table between the global nodal ID and local nodal ID. Would you please tell me where the connectivity table is stored, or is there ano

[2021-07-02 06:30] chikitkin commented on #2368
I used
```mpirun -n 2 valgrind --leak-check=full --show-leak-kinds=all ./ex1p -m ./data/amr-quad.mesh```
for OpenMPI. Now I am building MPICH to test it.

[2021-07-02 13:56] benzwick opened #2381 "MatrixArrayCoefficient sum and product with scalar or vector"
I am trying to implement a vector coefficient of the form `f = (s - M)*v` where `M` is a `MatrixArrayCoefficient`, `s` is a scalar (or a matrix or another `MatrixArrayCoefficient`), and `v` is a `VectorFunctionCoefficient`. I tried using `SumCoefficient` and `ProductCoefficient` as follows (in Python):
[code]
but these appear to be not implemented for matrix and vector arguments. Is this approach

[2021-07-02 14:24] benzwick commented on #2381
I just found `MatrixVectorProductCoefficient` and `MatrixSumCoefficient` which do just what I need so I will close this issue.

[2021-07-02 14:24] #2381 closed

[2021-07-02 14:42] brightzhang91 commented on #2362
Hi
The display with VcXsrv  is successful :)
Thanks very much for the support and I'm closing this issue.

Best
Bright

[2021-07-02 14:42] #2362 closed

[2021-07-02 17:40] termi-official opened #2382 "Updating solvers in transient block-problems correctly"
Hi again,

I want to solve a very simple linear PDAE with MFEM with time adaptivity, which I model as a block problem. However it seems like I do something wrong when updating the linear operator for my solver, as changing the time step results in divergence at some random timepoint. As a side-note, the linear PDAE results from an operator splitting of a degenerate reaction-diffusion system. After

[2021-07-02 20:04] pghysels commented on #2368
I see some leaks in SuperLU now. We will investigate further.
There is no need to try MPICH.

[2021-07-02 22:51] cdelv opened #2384 "How to use SuperLU solver with a BlockOperator"
Hi, I Have a BlockOperator and want to pass it to the SuperLUSolver. The problem is that it only accepts Operators.

How can I split the BlockOperator into Operators or convert it to  HypreParMatrix to pass it to the Solver?

[2021-07-02 23:07] psocratis commented on #2384
@cdelv ,
Does your `Blockoperator` contain blocks of `HypreParMatrix` ? If yes you can use
[code]

I hope this helps.

Best,
Socratis

[2021-07-02 23:23] cdelv commented on #2384
@psocratis Actually it is
[code]
M, C, Ct, D are HypreParMatrix.

The question is now, how do I do that array? How do I create the new matrix?

I have another question out of pure curiosity, I found a way to convert the BlockOperator into a PetscParMatrix with `PetscParMatrix::PetscParMatrix(MPI_Comm comm, const Operator *op, Operator::Type tid)`, Is there a way to convert a PetscParMatrix into a

[2021-07-02 23:37] psocratis commented on #2384
Hi @cdelv ,

You can create a `Array2D<HypreParMatrix*>` of size `(2,2)` and assign accordingly the pointers to your `HypreParMatrices`. You might want to take a look at `./tests/unit/linalg/test_matrix_rectangular.cpp` for a simple demonstration on how to use this method.

Regarding your second question, I am not sure if such a conversion is readily available in MFEM (I don't think so). @jandrej

[2021-07-03 00:08] cdelv commented on #2384
Thanks, That's It, It worked.

[2021-07-03 00:08] #2384 closed

[2021-07-03 13:49] cdelv opened #2385 "Problem with different from 0 Dirichlet BC"
Hi, I'm solving the following system of PDE with MFEM

<img src="https://render.githubusercontent.com/render/math?math=\mu w -\mu\nabla^2\psi  = 0">
<img src="https://render.githubusercontent.com/render/math?math=-\mu\nabla^2w-\zeta\nabla^2\psi = -\nabla\times F">

I would like to implement a different from 0 Dirichlet BC. The way I saw in examples and the way I have it implemented is the followin

[2021-07-03 16:27] jandrej commented on #2385
Hello,

`ess_bdr_w` and `ess_bdr_psi` are attribute markers. They mark if an attribute is an essential boundary or not. Meaning other values besides `0` or `1` don't make sense.

Furthermore, your solver procedure should support and enforce Dirichlet boundary conditions. Your code snippet does not provide a whole picture so that we can assist further.

I recommend you go through the [examples](htt

[2021-07-03 16:45] cdelv commented on #2385
@jandrej Here I post the assemble part
#include "header.h"

[code]
And here is the solve part
[code]

[2021-07-04 03:51] v-dobrev commented on #2380
Are you using a linear continuous FE space? If so, nodal ids are the same as vertex ids, so you can use the answer here: https://github.com/mfem/mfem/issues/2277#issuecomment-849741199.

For higher order spaces, such mapping is not explicitly constructed, however it can reconstructed similar to here: https://github.com/mfem/mfem/blob/598a5994bcc91d08adc78c1ba5ab3f1694d911bf/fem/pgridfunc.cpp#L47-L

[2021-07-04 04:45] v-dobrev commented on #2382
If the block system is symmetric, then `K1_V` and `K1_φe` must be transpose of each other. On the other hand, they are also added to the diagonal blocks, so the must be symmetric as well. Therefore, it looks like `K1_V` and `K1_φe` must be the same which does not seem right. Is this correct?

[2021-07-04 17:07] #304 closed

[2021-07-04 17:10] tzanio commented on #1311
@dylan-copeland and @v-dobrev, can you help @auhoss ?

[2021-07-04 17:12] tzanio commented on #2239
Discussion continued in #2372.

[2021-07-04 17:12] #2239 closed

[2021-07-04 17:13] tzanio commented on #2324
ping: @bslazarov, @Dan2997925

[2021-07-04 17:14] tzanio commented on #2336
@Jacobfaib do you want to propose a PR with the above suggested change?

[2021-07-04 17:18] tzanio commented on #2342
Are you sure about the sign of `A`?

If the continuous level operator is indeed `\Delta u + Au ...` where `A` is positive, then the problem is indefinite (specifically indefinite Helmholtz).

This is much more challenging than the definite case and requires special solvers. cc: @psocratis

[2021-07-04 17:18] tzanio commented on #2343
ping: @IdoAkkerman

[2021-07-04 17:23] tzanio commented on #2369
Ok, this is progress. Can you rebuild hypre in debug mode with the option `--with-print-errors` and let us know what is the ourput?

[2021-07-04 17:24] tzanio commented on #2363
Discussion continued in  #2375.

[2021-07-04 17:24] #2363 closed

[2021-07-04 23:34] Jacobfaib commented on #2336
Yeah sure, I'll check that the cusparse version check works on the machines I've got access to.

[2021-07-05 04:44] bslazarov commented on #2324
Hi,

MFEM does not work with beam elements. Such elements can be implemented; however, the development would require quite many changes in the code.

What I can see in the second picture is a standard truss-like structure. If you do not have bending moments/rotations in the nodes, I recommend using Matlab directly to handle the discretization and the solution. If you do have bending DOFs, it will

[2021-07-05 05:23] HFH104864 commented on #2324
well , thank you for your suggestions . But obviously I need to learn more about it . Anyway , thank you for your help , and I will close it.

[2021-07-05 05:23] #2324 closed

[2021-07-05 06:41] chikitkin commented on #2368
Thank you, @pghysels !

[2021-07-05 08:04] benzwick commented on #1908
See also:
- https://github.com/mfem/mfem/issues/2380#issuecomment-873515996
- https://github.com/mfem/mfem/issues/2277#issuecomment-849741199

[2021-07-05 11:19] e-aranda opened #2387 "Problem with SparseMatrix"
I don't understand why the following minimal example is not working properly. I have built an SparseMatrix in a function, and the main program does not see it.

[code]

[2021-07-05 13:59] termi-official commented on #2382
Thanks for the quick response! Indeed, I applied Dirichlet BCs to `K1_φe`, while I do not apply any BCs to `K1_V`, which seems to be the culprit. Interesting that this did not crash the solver earlier. Substituting the CG with GMRES works like a charm. Thanks for the pointer, I should have noticed earlier.

My follow up question relating to the code snippet would be: Is there a more efficient way

[2021-07-05 15:46] LeilaSalomon commented on #2342
Hello,

I will check my equation again, to see if there is an error. Normally, the equation is written in the following strong form: `delta(u) + Au + lambda.nabla(u)= 0`.

I don't understand why the sign of A is problematic. If I start from this strong form, can't I use the solver from example 7?

[2021-07-05 17:56] psocratis commented on #2387
@e-aranda ,

What exactly is the problem? I don't see any issues when running the above.

Socratis

[2021-07-05 18:11] psocratis commented on #2342
@LeilaSalomon ,

As @tzanio mentioned, if your A is positive definite your linear system would be indefinite `-(grad u, grad v) + (Au,v) ...` and solvers based on CG preconditioned with AMG would not work. Example 7 solves `-\Delta u + u = f`, which after integration by parts it gives a symmetric positive definite system `(grad u, grad v) + (u, v) = (f,v)` . If indeed you have an idefinite system,

[2021-07-05 19:31] e-aranda commented on #2387
The matrix is correctly printed inside the function but the print inside the main gives me a Segmentation fault. Do you get the matrix printed twice?

[2021-07-05 22:03] pazner commented on #2387
Hi @e-aranda,

The problem is that your data arrays `kki`, `kkj`, and `kkd` are stack-allocated, and go out of scope at the end of the function `adjacent`. When the SparseMatrix is created, it takes "ownership" of the data arrays (i.e. it promises to deallocate them when it is destroyed), however it *does not* copy the data, and so when they go out of scope, the pointers in SparseMatrix are no lon

[2021-07-05 22:08] psocratis commented on #2387
just to add to @pazner 's comments, you can also use
[code]
By the way, I was not getting the segfault before using an optimized built. Only in a debug built I was able to reproduce the error.

Thanks,

Socratis

[2021-07-06 07:36] e-aranda commented on #2387
Thanks @pazner and @psocratis for your help. Both solutions work fine.

[2021-07-06 07:36] #2387 closed

[2021-07-06 15:36] LeilaSalomon commented on #2342
Hello,

I'm trying to use the UMFPack solver. I installed the SuiteSparse library, then, I recompile the mfem library with MFEM_USE_SUITESPARSE = YES.
So far it seems to work. But as soon as I run my code I have the following error:
error: umfpack.h : no such file or folder #include <umfpack.h>

Do you know where it can come from? I can't find the answer in the INSTALL file.

[2021-07-06 16:23] wanglucifer commented on #2380
@v-dobrev Thanks for your reply. I see that is what I want. I just wonder that whether we can get the same partitioning once the original mesh, the number of processors and the partitioning method keep unchanged. Thanks.

[2021-07-06 17:20] psocratis commented on #2342
@LeilaSalomon ,

Can you make sure that the SuiteSparse include directory indeed contains that header file, and it's the same directory that is given to MFEM user.mk file?

Thanks,

Socratis

[2021-07-06 18:41] prathamgit opened #2388 "Error while building parallel version of Mfem with ADIOS2 being used"
Not sure if this is the correct place to ask, but I couldn't find anything on this elsewhere on the web.
While building mfem's parallel version, the compiler throws the following error
[code]
I have edited the config/default.mk file to use ADIOS2, and ADIOS2 is installed in the default paths so the compiler can easily find it. Is there any error in the code or did I do something wrong ?
Please let

[2021-07-06 20:09] dylan-copeland commented on #1311
@auhoss The `tk` array stores tangent vectors with certain orientations. The last 4 entries are 2 tangent vectors in the `y` direction, with opposite orientations. The orientation to be used is specified by the index in `tk`, from 0 to 3, stored in `dof2tk`. Only one tangent is used with different orientations (y direction).

I am not sure how issue 566 relates to `LocalInterpolation_ND`, which is

[2021-07-06 21:52] dbgarlisch opened #2389 "pre-defined element and boundary attributes"
We are adding an MFEM importer and exporter to Cadence Pointwise. If supported, we need a list of supported Volume Condition (VC) and Boundary Condition (BC) types.

I have searched the source code looking for any notion of pre-defined element (VC) or boundary (BC) attribute values. I could find none.

Are there any attributes we should add to to our exporter. For instance:
* A `Wall`, `Inlet`, or

[2021-07-06 21:54] wanglucifer commented on #2380
@v-dobrev Meanwhile, I see that the method you provided can only get the map from the global vertex index to the local vertex index. In the parallelization, I found that the shared vertexes can only remain as true DOFs in several partitions. If you are willing to give me some clue on how to reduce the local vertexes to the true DOFs, that would be very helpful. Thanks again for your kind reply.

[2021-07-06 22:43] dbgarlisch opened #2390 "Element topo connectivity"
Is there a diagram defining the topological connectivity index numbering used by 2-D and 3-D elements in MFEM?

Something like [these diagrams](http://www.pointwise.com/plugins/html/d5/d06/group__DOXGRP__APIPWGM__CELL__TOPO.html)

[2021-07-07 02:38] wcdawn commented on #2369
I rebuilt HYPRE with debug options and continued using the MFEM `CGSolver`. It doesn't simply crash any more but still returns NaN at the same point. The `CGSolver` prints that the preconditioner is not SPD.
[code]
Obviously, things just get out of control after that.

To reiterate, the preconditioner has been called 25+ times at this point without changing the LHS matrix. The RHS vector is being

[2021-07-07 02:59] pazner commented on #2390
I don't know if a diagram exists, but this information is all defined in `geom.cpp`.

For example, the vertices of the reference tetrahedron are defined [here](https://github.com/mfem/mfem/blob/bf542247e8057edbcdbadb14f035a2b5252c8ee6/fem/geom.cpp#L65-L79). The edges of the tetrahedron (in terms of vertex indices) are defined [here](https://github.com/mfem/mfem/blob/bf542247e8057edbcdbadb14f035a2b

[2021-07-07 14:45] dbgarlisch commented on #2390
Thank you. I will study these modules.

[2021-07-07 14:46] sashank-srinivasan-13 opened #2393 "Output solution data to .dat file"
Is there a straightforward way to output solution data vs position to a .dat file or equivalent file? If not, can I know how I can compare solutions I get from mfem to analytical solutions?

[2021-07-07 15:10] tzanio commented on #2369
OK, this message means that there is a vector `r` for which the inner product `(Br,r)` with the preconditioner `B` is negative, so `B` indeed is not SPD and PCG fails.

You can always switch to GMRES which will run, but this is a symptom of an issue in your input matrix `A`, or maybe in the preconditioner `B` and you should try to address it.

What can you tell us about `A`? Is it a standard diffu

[2021-07-07 15:12] tzanio commented on #2390
@dbgarlisch if you end up generating diagrams like these, please do share them, we will be happy to add them to our documentation.

[2021-07-07 15:21] tzanio commented on #2389
Hi @dbgarlisch,

MFEM meshes do not have exactly VC and BC types as you describe them, but we have something close.

Each volume element and each boundary element in the file have a respective element and boundary attributes. These are the first integers on the element/boundary rows, see also https://mfem.org/mesh-formats/#curvilinear-and-more-general-meshes.

It is up to the user/application to a

[2021-07-07 15:31] fsabet3 commented on #10
Thank you for the response. Why a discontinuous space (L2_FECollection) is used, while in example 2 a continuous space (H1_FECollection) was used?

[2021-07-07 15:45] LeilaSalomon commented on #2342
Hello Socratis,

I don't have the user.mk file.

SuiteSparse library contains several sub-libraries, no? If I understood correctly, I just need the umfpack library? So I just have to give the path of umfpack  in my CMakeList.txt?

[2021-07-07 15:47] tzanio commented on #10
The gradient of H1 field is in L2.

[2021-07-07 16:25] jandrej commented on #2393
Hello,

you can look at the following example https://github.com/mfem/mfem/blob/a4f5cc53ca87d60795f85f36401789932c98409c/miniapps/navier/navier_mms.cpp#L204-L208.

The coefficients are created here https://github.com/mfem/mfem/blob/a4f5cc53ca87d60795f85f36401789932c98409c/miniapps/navier/navier_mms.cpp#L166-L167

The analytical solution function (defined as a callback here) is defined here
https:/

[2021-07-07 16:29] tzanio commented on #2388
It is possible that something in a recent version of ADIOS2 changed.

@williamfgc can you help by any chance?

[2021-07-07 16:32] tzanio commented on #2369
One way to test if `A` is SPD is to generate random vectors `r` and check that `(Ar,r)` is always strictly positive. Sometimes this useful, but not always, it may e.g. be difficult to detect a matrix that has one zero row/column.

[2021-07-07 16:59] psocratis commented on #2342
@LeilaSalomon ,

What built system are you using? `make` or `cmake`? If you are using `make` we recommend copying the file `./config/defaults.mk` to `./config/user.mk` and inside the new file modify the path of SuiteSparse. Likewise if you are using cmake you can do the same with the file `./config/defaults.cmake`.

I hope this helps,

Socratis

[2021-07-07 17:14] williamfgc commented on #2388
@tzanio sure, let me take a look. Sounds about right, the `int` vs `void` comm that different MPI implementations use gets mixed with a recent API change. @prathamgit which adios2 version are you targeting? Are you using MPICH  Also, adios2 should have a `adios2-config` binary to fill the appropriate CFLAGS, LDFLAGS for non-cmake linking (e.g. make), please see [here](https://adios2.readthedocs.io

[2021-07-07 17:16] tzanio commented on #2388
Thanks @williamfgc !

[2021-07-07 17:22] pghysels commented on #2368
In
https://github.com/mfem/mfem/blob/bf542247e8057edbcdbadb14f035a2b5252c8ee6/linalg/superlu.cpp#L265

`width` should be replaced with the global matrix dimension. It looks like the global dimension is not stored in the `mfem::Operator`. Both `width` and `height` are set to `num_loc_rows`.

[2021-07-07 17:38] prathamgit commented on #2388
@williamfgc I am using mpich, and the adios2 is the latest one. I had just cloned it from the adios2 repo. I see that the constructor `adios(new adios2::ADIOS(comm))`  being used in mfem's adios2stream class is deleted in [adios2/adios.h](https://github.com/ornladios/ADIOS2/blob/master/source/adios2/core/ADIOS.h) file
[code]
I am a beginner in cpp programming and in using mfem and other packages a

[2021-07-07 17:40] mlstowell commented on #2393
Hello, @sashank-srinivasan-13,

I agree with @jandrej that `ComputeL2Error` produces the most reliable comparison to an analytic function. To answer the first part of your question there is also a straightforward way to produce a data file containing positions and field values. Have a look at the [get-values](https://github.com/mfem/mfem/blob/master/miniapps/tools/get-values.cpp) mini app. This to

[2021-07-07 22:48] dbgarlisch commented on #2389
Thanks for the feedback. I expected there were no pre-defined attributes. Had to ask.

I will leave all as is. Pointwise users will be able to specify the attribute id written out to the volume and boundary elements using the 'ID' column (red arrow in image above). These IDs can be seen in the sample file listed above.

[2021-07-07 22:48] #2389 closed

[2021-07-07 22:58] dbgarlisch commented on #2390
It turns out MFEM is using the exact same element vertex ordering used in Pointwise. That means the corner point numbers are the same as in the images I linked to above. However, the edge and face numbering is different. Fortunately, that difference did not impact the exporter (or importer).

If I generate an MFEM connectivity image, I will definitely send it your way.

FYI, we have added the MFEM

[2021-07-07 22:58] #2390 closed

[2021-07-07 23:00] tzanio commented on #2390
Awesome, thanks @dbgarlisch !

[2021-07-07 23:02] tzanio commented on #2390
Did the exporter (or importer) support high-order meshes? Is there a way for our team to test it?

[2021-07-07 23:15] dbgarlisch opened #2395 "Pyramid/Pentahedral Elements"
With the addition of an MFEM exporter to Pointwise, we are very interested in the status of Pyramid/Pentahedral elements.

Is there a timeline for the addition of Pyramid support? There has been some discussion in other issues (e.g. Pentahedral element #856) but no resolution.

Pyramids are always generated by some of the more powerful Pointwise meshing tools (e.g. T-Rex boundary layer mesher, and

[2021-07-08 00:25] tzanio commented on #2395
We are working on adding pyramids. I'll let @mlstowell address that.

Is MFEM one of those formats? I suspect the answer is "no" as that's more involved, but MFEM supports arbitrary order meshes and it will be really nice if there is a mesh generator that can provide them to our users. See https://mfem.org/mesh-formats/#curvilinear-and-more-general-meshes

[2021-07-08 00:32] dbgarlisch commented on #2390
At this time only linear meshes are exported. Adding HO support requires another feature request.

We have a customer that is using MFEM for HO via Gmsh. However, the customer is reporting MFEM is not reading the Gmsh file exported by Pointwise. We are investigating. I suspect the customer mesh includes pyramid elements. :(

[2021-07-08 00:35] dbgarlisch commented on #2395
At this time only linear meshes are exported by pointwise to MFEM. Mesh elevation is independent of the export format, so adding HO support is doable. However, it requires another feature request.

We have a customer that is using MFEM for HO via Gmsh. However, the customer is reporting MFEM is not reading the Gmsh file exported by Pointwise. We are investigating. I suspect the customer mesh inclu

[2021-07-08 00:41] tzanio commented on #2395
We are happy to help debug. Note that we currently support only Gmsh v2.2

[2021-07-08 00:43] mlstowell commented on #2395
Unfortunately, we don't have a specific timeline for adding pyramid support. We do have pyramids partially implemented in the [pyramid-dev](https://github.com/mfem/mfem/tree/pyramid-dev) branch. We could probably get this working for scalar fields without too much effort. If I recall correctly the code in this branch can display pyramid meshes properly but trying to solve Poisson problems leads to

[2021-07-08 00:49] mlstowell commented on #2390
Pyramids would certainly be a showstopper at this point. You're probably aware of this but our most common issue with Gmsh meshes is that by default Gmsh starts numbering Physical Curves/Surfaces/Volumes at 0. These numbers are used as attribute numbers by MFEM but MFEM requires attributes to be greater than or equal to 1.

[2021-07-08 12:01] chikitkin commented on #2368
Great! I checked it with "top" command, it helps. Thank you very much @pghysels !

[2021-07-08 14:01] LeilaSalomon commented on #2342
Hello,

There is a problem, I don't have the file `user.mk`.

[2021-07-08 14:37] psocratis commented on #2342
@LeilaSalomon , if you don't have it you must create one by copying the file './config/defaults.mk'.
to a new file with the name 'user.mk' and place it in './config/'. Then edit the path of SuiteSparse library in that file.

Socratis

[2021-07-08 17:01] wcdawn commented on #2369
It seems to be able to work with GMRES as we would expect but it also takes a significant runtime and memory hit as one would expect. The GMRES solver made it farther than PCG but it didn't finish due to wall time. I expect I could push it further if need be.

The `A` matrix has a `MassIntegrator`, `DiffusionIntegrator`, as well as a `DGTraceIntegrator` as a `BdrFaceIntegrator` to apply an "incomi

[2021-07-08 17:14] pghysels commented on #2368
Yes, this is confusing.
In `mfem::Operator`, `width` is defined as
```int width;  ///< Dimension of the input / number of columns in the matrix.```

the number of columns in the matrix is indeed `num_glob_cols`, but the dimension of the (local) input should be `num_loc_rows`.

Perhaps one of the MFEM developers can fix this. @tzanio @mlstowell @acfisher

[2021-07-08 19:01] williamfgc commented on #2388
@prathamgit thanks for the reply, it's helpful. I'm able to reproduce. Are you compiling adios2 with OpenMPI by any chance? It seems that the symbols don't recognize `typedef int MPI_Comm;` in MPICH. Please try recompiling adios2 with MPICH and see if it works (FYI, hypre built with OpenMPI doesn't work with MPICH MFEM builds). What happens is that OpenMPI uses a `void` pointer instead for the `MP

[2021-07-08 21:42] HaoWangCase opened #2398 "How to build the map from global nodal index to local true DOF index in parallel code"
Hi guys, right now I would like to find how to build the connectivity table from the global nodal index to the local true DOF index (assuming that we have a scalar unknown). I already know how to build the map from global nodal index to local nodal index, but in parallel, the shared nodes are only considered as true DOFs in some of the processors. How to figure out whether a local node is included

[2021-07-08 23:09] pazner commented on #2398
Perhaps what you are looking for is `ParFiniteElementSpace::GetLocalTDofNumber`, which will return a non-negative number if the local DOF is a true DOF, and -1 otherwise.

https://github.com/mfem/mfem/blob/bf542247e8057edbcdbadb14f035a2b5252c8ee6/fem/pfespace.hpp#L354-L356

[2021-07-09 00:01] adrienbernede commented on #2310
OK, OK, I’ll do it :D

[2021-07-09 00:49] adrienbernede commented on #2310
@acfisher Do we agree that what you meant with the title was "install MFEM using Spack", or are you looking for something specific?

[2021-07-09 07:04] nghiakvnvsd commented on #2347
Hi @pazner . I have changed like you said but GLVIS returns:

[code]
May you help me? Thank you very much!

[2021-07-09 16:13] pazner commented on #2347
Can you try pulling the latest master of MFEM and GLVis and recompiling them both?

[2021-07-09 17:40] wcdawn commented on #2369
I think I found the reason why I was encountering NaN.
In fact, the `A` matrix was not SPD despite my expectations. However, the problem was that the mesh was composed of wedge/prism elements. I have yet to find a definitive proof but have encountered similar problems in smaller calculations where the `DiffusionIntegrator` in certain "malformed" meshes with wedges will not be positive-definite.

I

[2021-07-09 20:18] tzanio commented on #2369
I am glad you fixed the issue @wcdawn. Thanks pushing on it!

If you can create a simple reproducer we should investigate what's going on. There is no reason why the should lead to non-SPD operator. (Maybe the diffusion quadrature rule should be adjusted for prisms?!)

@mlstowell have you encountered such non-SPD issue with meshes containing prismatic elements?

[2021-07-09 20:29] tzanio commented on #2369
This should be resolved in `master` as of https://github.com/GLVis/glvis/commit/b513773a803dd99117c4ef8348465f3ae5674d86 (Jul 8th, 2021)

[2021-07-09 22:42] wcdawn commented on #2369
I have encountered this problem with other FEM codes as well so prisms may just be challenging in general. I'm not sure how to go about checking this with glvis. The plots look fine in glvis.

[Here](https://drive.google.com/file/d/1a8KrOrBoPhG1nPDe_xb44FtTxO3KWPHn/view?usp=sharing) is an example mesh. I have refined versions of this mesh or much more complex meshes that I can provide.
So far, all

[2021-07-09 23:51] tzanio commented on #2369
Hi @wcdawn,

According to [mesh explorer](https://github.com/mfem/mfem/blob/master/miniapps/meshing/mesh-explorer.cpp) all the prisms in the mesh are inverted. There can be more, but this will definitely explain the issue in Example 1.

Can you tell us how the mesh was generated? Do you have the 2D cross-section as a separate mesh file?

Tzanio

[2021-07-09 23:54] tzanio commented on #2368
@acfisher, can you address this ☝️

[2021-07-11 11:36] nghiakvnvsd opened #2401 "an error when calcualte the time of UMFPACK solver"
Hi everyone! I try to calculate the time for UMFPACK solver like the following code (ex1):

[code]
But it returns the wrong time result. May you help me to calculate the time when using UMFPACK? Thank you very much

[2021-07-11 23:19] #2281 closed

[2021-07-12 09:36] LeilaSalomon commented on #2342
It doesn't seem to be working. I'm not sure where to put the path in the file, I may not have edited it correctly.

But, the error maybe comes upstream, when I install the libraries.
I cannot find any indication in the INSTALL file to build SuitesParse. While browsing the file, I helped myself by the installation of GSLIB library, which is detailed, so I proceeded in this way to install SuiteSpare

[2021-07-12 15:50] sshiraiwa opened #2402 "DerivativeIntegrator in embeded geometry"
I noticed that DerivativeIntegrator ( \lambda dv/dx_xi u) does not work well when
my 1D geometry is embedded in a higher dim. For example, if my geometry is a line segment
oriented in the y direction, I suppose passing 1 in the second argument of the constructor
should allows for evaluating the gradient. But, it gives all zero.

Sizing properly mfem::DenseMatrix used in DerivativeIntegrator::Assem

[2021-07-12 18:34] wcdawn commented on #2369
I tried using the mesh explorer and I'm not sure how to tell if an element is inverted. How can I look for myself?
I also don't understand why having inverted prisms would be a problem because I thought the method was general.

I think I may have over-simplified the problem. The cylinder I sent was a very old mesh and I'm not sure where the original data is at this point. [Here](https://drive.goog

[2021-07-12 18:45] tzanio commented on #2369
Use the `x` option which samples the Jacobian in uniform lattice with a user provided resolution.

Inverted prisms lead to negative Jacobians, which lead to negative definite matrix.

I'll try to take a look at this today...

[2021-07-12 18:57] tzanio commented on #2369
Nice mesh.
<img width="808" alt="Screen Shot 2021-07-12 at 11 50 52 AM" src="https://user-images.githubusercontent.com/1278247/125340534-6bee7d00-e307-11eb-966e-f7a78dbb04de.png">
It would appear all of the elements in it are valid:

[code]

Example 1 runs fine for me on it, so a MWE will be appreciated

<img width="838" alt="Screen Shot 2021-07-12 at 11 56 22 AM" src="https://user-images.githubus

[2021-07-12 19:06] tzanio commented on #2369
Another option to check mesh quality is to plot the scaled Jacobian, option `J` in Mesh Explorer. This gives a range for the element quality (specifically skewness) with 1 being a good, box-like element, and 0 being a bad invalid element. Negative values indicate inverted elements.

Here are the results for your mesh

<img width="845" alt="Screen Shot 2021-07-12 at 12 05 11 PM" src="https://user-i

[2021-07-13 00:13] psocratis commented on #2342
@LeilaSalomon, after compiling MFEM with `MFEM_USE_SUITESPARSE = YES`, can you confirm that you can run successfully  MFEM's example 1 in examples/ex1.cpp? Did you modify MFEM's user.mk or user.cmake file (in ./config) so that MFEM knows the path to the SUITESPARSE library?

Socratis

[2021-07-13 03:17] HaoWangCase commented on #2398
Thanks, @pazner ! It's really what I need!

[2021-07-13 04:00] #2398 closed

[2021-07-13 07:56] prathamgit commented on #2388
I rebuilt hypre, metis and adios2 making sure i was only using mpich. I still get the same error. Am I doing anything wrong or does the code need any changes ?

[2021-07-13 13:23] trevilo opened #2404 "Re-partition a ParGridFunction?"
Hi all,

Is it possible to re-partition a `ParGridFunction` using built-in MFEM
functionality?

The use case I have in mind is restarting jobs using different numbers
of MPI processes.  I am working with an MFEM-based flow code where we
have a restart capability that saves a single HDF5 file per MPI
process.  We read these files to restart simulations, but this only
works when restarting using the

[2021-07-13 14:49] LeilaSalomon commented on #2342
But, before I'm building MFEM with `MFEM_USE_SUITESPARSE=YES`, I have to build SuiteSparse no?

If I understood correctly, I have to create a copy of defaults.mk or defaults.cmake in `./config`, that I rename user.ck or user.cmake? (In these new files, I indicate the path to the SuiteSParse library). How do I know which one to use? To run my code, I use the two commands cmake and make.

[2021-07-13 17:01] psocratis commented on #2342
@LeilaSalomon, yes you have to build SuiteSparse before building mfem. Inside SuiteSparse top directory, (or wherever else you build SuiteSparse) you will see the directories `./include` and `./lib`. After installing SuiteSparse, check inside these 2 directories and confirm that the header and the *.a (or *.so) files are in there. After that, you can move on to build mfem, following the above. In

[2021-07-13 17:38] rcarson3 commented on #2388
@prathamgit would you be able to try either version 2.5 or 2.6 of ADIOS2? I'd just be curious to see if the issue is with the develop/master branch of ADIOS2, since it seems that's what you're using. I've used ADIOS2 v2.5 and v2.6 builds for my own MFEM-based code on Summit and my own personal ubuntu desktop with success when using mpich.

[2021-07-13 18:11] prathamgit commented on #2388
Ya that's what I was going to do next. I'll let you know if it works.

[2021-07-13 19:32] tzanio commented on #2402
Discussion continued in #2403.

[2021-07-13 19:32] #2402 closed

[2021-07-14 00:40] bensworth opened #2405 "nonlinear mass integrator"
I am working on some IMEX integration schemes and testing on an advection-diffusion reaction with nonlinear reaction term. Everything is working well without the reaction term, but when I add the reaction term, the accuracy w.r.t. an analytical solution is not what it should be. For large reaction, I get a sort of accuracy barrier where the solution will not get above a certain accuracy, even for

[2021-07-15 02:28] v-dobrev commented on #2382
You may be okay just reusing the preconditioner built for some fixed dt, even when the actual dt is changing. Another option is to only rebuild the preconditioner when dt changes (increases or decreases) more than some factor, say 10.

[2021-07-15 02:45] v-dobrev commented on #2380
You can use `ParFiniteElementSpace::GetLocalTDofNumber` to determine which local dofs are true and their local true-dof indices.

[2021-07-15 05:02] v-dobrev commented on #2404
Hello @trevilo,

Unfortunately, re-partitioning parallel meshes and grid-functions is not implemented in MFEM yet.

Adding such capability is on our todo list, probably later this year.

[2021-07-15 05:29] v-dobrev commented on #2405
One issue I see (for more than one processor or non-conforming meshes) is that the vector `u` is a T-vector while the `reaction` is an L-vector -- you need to apply the FE space prolongation to `u` before calling `SetReaction`.

Also, I don't see any boundary conditions being applied to `m_nl` or `NL` -- is that correct?

[2021-07-15 09:24] LeilaSalomon commented on #2342
Ok, I can run the ex1.cpp now, thanks!

Now, when I go back to my directory to run my own codes, there is an error again. I think I'm not editing my CMakeLists.txt file correctly... I'm attaching my file here. How can I declare the links of my last lines correctly?

![Sreen](https://user-images.githubusercontent.com/40572513/125764318-0ed060e6-3ca4-40ef-863f-ddd75a946fb0.png)

[2021-07-15 10:49] termi-official commented on #2382
Good point, that should do it too. Thanks for the help!

[2021-07-15 10:49] #2382 closed

[2021-07-15 11:46] brightzhang91 opened #2408 "multi-domain nonlinear problem"
Dear developer and users : )

I'm working on a problem with both linear and nonlinear material properties in different domains. I have produced my own `NonlinearFormIntegrator` for the nonlinear materials.  The problem will be solved by a `NewtonSolver` (and then perhaps a `PetscNonlinearSolver` ). I wonder if the nonlinear domains and linear domains can be specified with PWConstCoefficient ? such

[2021-07-15 12:55] trevilo commented on #2404
Hi @v-dobrev,

Good to know.  Thanks for your reply.

[2021-07-15 12:55] #2404 closed

[2021-07-15 15:20] jandrej commented on #2408
From what you are explaining about your implementation the domains do not exchange information, due to the PWConstCoefficient.

Regarding the coupling, when you compute the Jacobian, all contributions of the linear terms are zero on the block of the nonlinear terms and vice versa. I'm not sure if that is what you want or expect.

I hope that makes sense.

[2021-07-15 16:08] bensworth commented on #2405
Thanks Veselin, I didn't apply BCs because they are naturally enforced pointwise by the SetReaction function, but with the mass integrator, do I still need to apply them?

Perhaps a better question than my original post is how would *you* add a pointwise nonlinear reaction to a discretization? Even in the simplest case, u_t = N(u) + f(x,t), where N(u) is a pointwise nonlinear function. This is som

[2021-07-15 16:22] brightzhang91 commented on #2408
Hi jandrej

Yes this is what I expect,  to make nonlinear terms zero on linear material domains, and linear terms zero on nonlinear material domains. It's like of superposition method to calculate both residual and Jacobian.
Do you think this approach is correct ? Or if there is other ways to deal with different materials in different domains ?
Thanks

[2021-07-15 16:23] brightzhang91 commented on #2408
Yes, but I'm not clear if this can cause problems.

[2021-07-15 16:53] jandrej commented on #2405
You create a linearized matrix `NL` from `m_nl` and apply it to your residual. Is that really what you want to do? Since the method is named `ExplicitMult`, I'd expect you want to multiply `m_nl` directly.

Regarding boundary conditions, you have to set them on the nonlinear form as well, if they are Dirichlet. This way you get ```
N(u_ess) = 0
[code]

[2021-07-16 01:27] #2312 closed

[2021-07-16 01:27] #2313 closed

[2021-07-16 09:17] e-aranda opened #2409 "PetscParMatrix"
The following code:
[code]
seems to work well but it produces the error:
[code]
Any hints?

[2021-07-16 14:07] bensworth commented on #2405
@jandrej great point; I started by using m_nl.Mult(), but wasn't getting accurate results, so I tried turning it into a matrix. But even with m_nl.Mult(), would that have the same problem that you mention? I.e., is my using a ParBilinearform and custom "nonlinear" coefficient mass matrix functional, or do I need to use the NonlinearForm?

Also, re my previous post, if you have a better suggestion

[2021-07-16 14:24] jandrej commented on #2405
If I'd have to implement a reaction term that is nonlinear I would use a `NonlinearForm`. You can be sure that on every evaluation you are recomputing the result and if you need a Jacobian it gets evaluated at the correct solution. Your described term will be 95% boilerplate and 5% custom equation :)

[2021-07-16 14:26] jandrej commented on #2409
This looks like an object your are creating is released after finalizing PETSc. Can you try

[code]
as your main? This scopes the stack allocated object.

[2021-07-16 15:23] bensworth commented on #2405
Sounds good. So next: should I use a nonlinear (mass) integrator added to the NonlinearForm? This would just require an implementation of `AssembleElementVector`, and `AssembleElementGrad` if I end up wanting a Jacobian. These should follow closely `AssembleElementVector` for a standard `MassIntegrator`, but thought it may make sense to include the coefficient, Q, inside of this nonlinear integrat

[2021-07-16 16:04] jandrej commented on #2405
What I have in mind is a `NonlinearForm` with the `AssembleElementVector` loop looking like
[code]
`elfunc` is the name of `u` in the function signature. Then `Mult()` would take care of everything imho.

Does that make sense? You can also shoot me an email if you want more hands on help.

[2021-07-16 20:06] dbgarlisch opened #2410 "Straight .mesh File Section Ordering"
All the examples of [straight meshes][1] have the same section ordering:
[code]

I understand that `MFEM mesh v1.0` must be the first non-empty/non-comment line in the file. However, I cannot find any definitive statement that requires a particular section ordering.

Q: **Is there a section order requirement for the `dimension`, `elements`, `boundary`, or `vertices`?**

And on a related note,

Q:

[2021-07-16 21:07] mlstowell commented on #2410
Hi, @dbgarlisch,

The MFEM mesh v1.0 format does indeed require this particular section order. Any custom sections inserted between these primary sections will cause an error in our mesh reader. However, you can include as many comment lines (starting with #) as you like between sections (but not within the data). After the "vertices" section there is an optional "nodes" section which provides inf

[2021-07-16 21:53] tzanio commented on #2410
To add to Mark's answer -- we could add the flexibility to use different order and/or ignore proprietary sections if that is really important for you.

Also -- it is awesome to see the MFEM reader in Pointwise. _Thank you for that!_  🎉 🎉 🎉

[2021-07-16 22:00] stefanozampini commented on #2409
This is as @jandrej said. You can either use  `new` for `pA`, or add braces for compilation scope, otherwise, the destructor is called after PetscFinalize, thus the error.

[2021-07-16 23:55] dbgarlisch commented on #2410
My motivation is to add a `materials` section to the file so I can preserve information we have in Pointwise in the MFEM file.

Something like:
[code]
There would be an [element | boundary] row  for each unique `<element attribute>` refenced in the `elements` or `boundary` sections.

I have forked the mfem repo. I may be able to find time to redo the importer code to be order agnostic and ignore u

[2021-07-17 06:32] #2199 closed

[2021-07-18 23:43] tzanio commented on #2410
Thanks @dbgarlisch, we happy to help if you decide to do this.

Another option could be to have this section in potentially a separate file, either associated with the mesh one, or maybe more generally independent of it (e.g. the boundary conditions on a box-like domain may be independent of exact meshing of the box).

Somewhat related to this are the `DataCollection` classes, which are generally

[2021-07-19 00:32] dbgarlisch commented on #2410
Many formats store the boundary and volume element condition data in a separate file. Others like ansys fluent, store this information in the mesh file. I will need to look into the DataCollection class.

No matter the approach, the attribute id is tagged per entity in the mesh file. So, unless I am missing something, that is the level of independence available.

IMHO, making the reader section-or

[2021-07-19 01:47] tzanio commented on #2310
Discussion continued in https://github.com/mfem/web/pull/118

[2021-07-19 01:47] #2310 closed

[2021-07-19 02:56] jwang125 commented on #2401
Hi, can you elaborate why you think the result is wrong? I did what you did and obtained time_solver = 0.23. Using std::chrono functions returned nearly identical result.

[2021-07-19 07:17] e-aranda commented on #2409
Thanks, both solutions works fine.

[2021-07-19 07:17] #2409 closed

[2021-07-19 09:08] prathamgit commented on #2388
It worked with adios2 V2.5

[2021-07-19 13:20] antonhudym opened #2411 "Visual Studio 2019 + CUDA 11.4 produces compilation errors due to internal linkage of lambdas"
Hello,

I'm trying to build MFEM with VS 2019 and CUDA 11.4 and see a lot of compilation errors mostly saying something like this:
"On Windows, the enclosing parent function ("Values3D") for an extended __device__ lambda cannot have internal or no linkage"

NVidia documentation says the following:
With Visual Studio 2013 and later Visual Studio host compilers, the enclosing function must have exte

[2021-07-19 15:45] tzanio commented on #2411
Hi @antonhudym,

Unfortunately we don't have the means to easily test the VS build of MFEM (most of the developers use Linux) but the code should work, so we will appreciate your help debugging the issue.

Can you attach the full error log and provide more details about your installation?

Thanks,
Tzanio

[2021-07-19 19:03] jhoy97 opened #2412 "Segmentation Fault Error"
Hi,

I am doing a mesh for a simple cantilever beam and my quad mesh was working fine but it now returns an error `Segmentation fault (core dumped)`.  The example works for other meshes of the same model (such as the 3D version of the problem shown in the top image below), however I am not sure how this happened.  Both the `.geo` and `.msh` files are attached in the zip folder.
Any help would be g

[2021-07-19 19:42] williamfgc commented on #2388
@rcarson3 @prathamgit thanks for verifying. I tried with the latest branch of adios2 building HYPRE and METIS (and adios2) with MPICH and I wasn't able to reproduce. I put a `Dockerfile` in my [local branch](https://github.com/williamfgc/mfem/blob/dockerfile-ubuntu20-mpich/config/docker/ubuntu20-mpich/Dockerfile) if you're interested for reproducibility. If you're not familiar with docker just ask

[2021-07-19 19:45] cdelv opened #2413 "SuperLU solver not freeing memory"
I have set up the solution of a system of equations with superlu. The code is the following
[code]
Then I used the same code to solve for the velocity in a time-dependent advection-diffusion equation. I noticed that with every iteration the program kept increasing its RAM usage. So, I went back to my superlu static solver and put it in a for loop and found out that it behaved in the same way. I re

[2021-07-19 20:47] bensworth commented on #2405
Update: with Julian's help, I implemented a `NonlinearFormIntegrator` that we thought would do what was expected, but it does not seem to work. I simplified the setting to considering a reaction problem with explicit time stepping. The example is completely artificial to narrow down what's going on. It's not even a PDE, just a bunch of independent ODEs that are
coupled within each element due to t

[2021-07-19 20:51] bensworth commented on #2405
It would not let me upload .cpp files to an issue, so the two scripts are attached as .txt files. They should run by default with no command line parameters.

[reaction-test-mfem.txt](https://github.com/mfem/mfem/files/6843828/reaction-test-mfem.txt)
[reaction-test-ODE.txt](https://github.com/mfem/mfem/files/6843829/reaction-test-ODE.txt)

[2021-07-19 23:53] #2385 closed

[2021-07-20 13:36] wcdawn commented on #2412
In the mesh you provided, there are no quads, only two lines. This seems to be a problem with your Gmsh input. I've never seen `Transfinite Curve` before.  Using your same basic file, here is what I wrote that works.

[code]

I didn't label the `Physical Curve` since I couldn't tell what you were doing there but presumably you'll need those for boundary conditions.

[2021-07-20 14:17] jhoy97 commented on #2412
Thank you for your response, I have a tri/unstructured mesh version of the problem.  The transfinite command allows for a quad mesh to be discretized, I used the same method on a 3D hex version of the problem as shown above.  In the statistics window in Gmsh, the mesh does have quadrangles although when testing it out in MFEM it can't read the mesh.

![stats](https://user-images.githubusercontent.

[2021-07-20 14:52] wcdawn commented on #2412
I'm not sure what Gmsh is showing you in the GUI but if you look at the .msh file (or a .vtk file written by Gmsh), you'll see that the mesh contains only 1D lines. There is something wrong with the Gmsh output. I suspect it is something with the transfinite stuff.

I use Gmsh as well. For debugging meshes, I find it helpful to write to a `vtk` format and visualize with ParaView before writing the

[2021-07-20 15:58] wcdawn commented on #2412
Here's a Gmsh file that works with the Transfinite Surfaces. If you take a look at the Gmsh [tutorial](https://gmsh.info/doc/texinfo/gmsh.html#t6), you'll see that Transfinite Surface takes the corner points as input, not lines like a typical Plane Surface.

[code]

[2021-07-20 16:30] wcdawn opened #2416 "Mesh element number in parallel mesh"
I have a separate program that calculates the power in each element of a mesh and I'd like to use that in a coefficient for the heat conduction equation. Basically, I have a vector of length `nElement` so I'd like to have a coefficient `return vec(T.ElementNo)` (for `ElementTransformation &T`).

In serial, this works fine.
In parallel, the element numbering is different. I tried using `ParMesh::Ge

[2021-07-20 18:11] psocratis commented on #2342
Hi @LeilaSalomon, It's hard just by looking at this to pin down the issue. Can you try putting your example in `mfem/examples` and try running from within this directory. Basically, the same way you run any other mfem example.

Thanks,

Socratis

[2021-07-20 18:36] aaronskinner opened #2417 "How to get data from neighboring element on another processor?"
I'm currently using `mesh->GetFaceElements(faces[f], &elem1, &elem2);` to get the element indices on either side of a given face, but `elem2` is -1 on both processor and physical boundaries.  Is there a way to get the face neighbor index if the neighbor is on another processor?  Also, if I have that index, can I access the dofs of that face-neighbor element even if it's owned by another proc?

[2021-07-20 18:38] mlstowell commented on #2395
Hi, @dbgarlisch,

We now have more functional examples of prism and pyramid support in PR #2400. This PR adds the lowest order basis functions for H1, Nedelec, Raviat-Thomas, and L2 functions spaces on wedges and pyramids. It also includes a few temporary example codes (examples/ex1_o1.cpp, ex3_o1.cpp, ex4_o1.cpp, and ex11p_o1.cpp) so that reviewers can see how to access and test these new basis f

[2021-07-20 19:04] cdelv commented on #2413
To complement this, I have been searching for a potential solution and found this http://www.elmerfem.org/forum/viewtopic.php?t=3625.  I also have found people reporting similar leaks.

[2021-07-20 19:50] psocratis commented on #2413
@cdelv, Thanks for reporting this.

Just for us to test this can you let us know if you are using mfem's master branch or not and with which version of SuperLU you are linking with?

Thanks,

Socratis

[2021-07-20 20:29] psocratis commented on #2413
@cdelv, would you mind trying `mfem/examples/superlu/ex1p.cpp` , putting the superlu solver in a loop and let us know if you see the same kind of issue?

Thanks,

Socratis

[2021-07-20 20:46] cdelv commented on #2413
Ok, I will and let you know.

[2021-07-20 21:16] cdelv commented on #2413
@psocratis I ran example 1 and had similar behavior. However, if the for loop only gets the mult function there's no leak. If I loop over all the solver set up it happens, this is step 13. To make the memory usage big enough to have a significant leak I used 2 parallel refinements with 4 cores. The rest of the parameters I left as default in the example.

[2021-07-20 21:20] psocratis commented on #2413
@cdelv, hmm... thanks for doing that. I did the same test as well and I don't see a leak. I do use MFEM master branch though along with SuperLU_dist v.6.3.1. I can look into it more carefully, and get back to you.

Thanks,

Socratis

[2021-07-20 21:25] cdelv commented on #2413
@psocratis don't you get that each time it iterates it uses more ram? I found that Valgrind doesn't report it as a leak I guess because it frees all the memory at the end, but it doesn't free it when I call delete.

[2021-07-20 21:27] psocratis commented on #2413
Exactly, I don't see the ram increasing ...

[2021-07-20 21:31] cdelv commented on #2413
then it must be a bug in the spack version of MFEM or SUPERLU. How fixes that? Should I share this with spack developers?
Also, I'm using openmpi, I don't have mpich.

[2021-07-20 21:38] psocratis commented on #2413
I also just noticed this #2368 . So let me look into this more carefully, and I will get back to you.

Thanks,

Socratis

[2021-07-20 21:44] cdelv commented on #2413
@psocratis I checked and spack uses superlu_dist version 6.4.0 and mfem 4.2.0

[2021-07-20 22:06] tzanio commented on #2368
see also https://github.com/mfem/mfem/issues/2413

[2021-07-20 23:53] cdelv commented on #2413
@psocratis I installed MFEM from the master branch of the repository and superlu_dist 6.3.1 and the memory problem was still there. I also used superlu_dist 6.4.0 with the same results. I'm using mpi 4.0.5.
My Linux distro is Pop OS 20.10 based on ubuntu and I used the CMake install.

[2021-07-21 01:01] cdelv commented on #2413
Update, I change the code to use smart pointers, so the memory management is done automatically. That way is not an implementation error.
[code]
for example. The problem with the memory still happens. So the problem has to be in the destructor of the solver.

[2021-07-21 01:12] psocratis commented on #2413
Just to make sure....you put a loop maybe 100-200 times and it always keeps increasing? How are checking the ram usage btw?

[2021-07-21 01:33] psocratis commented on #2413
Ok I think I might be on to something ....

Can you try puting this call `DismantleGrid();` in the end of the `SuperLUSolver` destructor and let me know if this goes away. I did see some leaks eventually, and with that addition, they went away ...

Thanks

[2021-07-21 01:44] psocratis commented on #2413
So, eventually I was able to pin down a leak.

Following the comment [here](https://github.com/mfem/mfem/blob/d0caa1c432b234aa614fde5df87ee5e1d89cb92d/linalg/superlu.hpp#L103-L104), I put the call `superlu->DismantleGrid();` right after the solve (`superlu->Mult(B, X);`) and before deleting the pointers. There are no leaks reported after doing this. Can you try this as well and let me know if anyt

[2021-07-21 02:04] cdelv commented on #2413
@psocratis  I monitored the ram usage during execution with htop, a resource monitor. I know that thas not the most accurate way of doing it but for me, it has worked well many times before.  And for the tests, I shut down all the applications except for the terminal. I noticed the problem because the program filled the memory of my computer and crashed. My friends reported the same thing in their

[2021-07-21 02:14] psocratis commented on #2413
@cdelv
Thanks for checking this. No I don't mean editing the MFEM source code, not just yet anyway. Can you try commenting out the `SetOperator` and the `mult` calls just to make sure that this is indeed coming from this? I'll have to dig into this more carefully.

Thanks,
Socratis

[2021-07-21 02:23] cdelv commented on #2413
@psocratis
Well it ran very very fast, so I increase the number of iterations to 10^6. The program used little memory and maintained quite constant. So I guess that the problem is in the mult function after all. I did the test with both mult and set operator commented and then with only mult commented and it behaved well.

If I put the for loop only in the mult function it doesn't leak. Its quite

[2021-07-21 10:07] jhoy97 commented on #2412
Excellent, thank you for your help!

[2021-07-21 10:07] #2412 closed

[2021-07-21 14:28] vladotomov commented on #2417
Yes, it can be done. For example see the use of `ParFiniteElementSpace::GetFaceNbrElementVDofs` in `ParBilinearForm::AssembleSharedFaces`. Let us know if you have further questions.

[2021-07-21 15:03] jandrej commented on #2413
Measuring memory usage of a program with `top` is not deterministic, nor an indicator that a program is leaking memory. Depending on the decision of the memory pool of the operating system, the memory usage won't decrease even if there is an instruction to release memory in your program.

Can you provide a _minimal_ working example where we should be able to reproduce the error?

[2021-07-21 15:08] cdelv commented on #2413
yeah sure, where can I send you the code?

[2021-07-21 15:13] jandrej commented on #2413
A minimal working example should be posted here in a code block.

[2021-07-21 15:18] cdelv commented on #2413
Well, I will post example 1 with the for loop. More complicated code wont fit in a simple code block. Also, variations like calling the solver from a function exhibit the same behavior.

[code]

[2021-07-21 15:24] jandrej commented on #2413
And what mesh are you using? Does it happen with the default meshes in mfem?

[2021-07-21 15:30] cdelv commented on #2413
Im using this simple mesh generated with gmsh. I will test MFEM default meshes and let you know
[code]

[2021-07-21 15:34] cdelv commented on #2413
@jandrej I used MFEM star mesh and the same thing happened.

[2021-07-21 15:37] jandrej commented on #2413
Here is the _peak_ memory usage for `100 loops`
[code]
and for 1000 loops
[code]
The value of `Maximum resident set size` indicates the peak memory usage.

[2021-07-21 15:44] cdelv commented on #2413
@jandrej
Running the same tes I have for 100 loops
[code]
and for 1000
[code]

[2021-07-21 15:47] jandrej commented on #2413
Then we narrowed the problem down to the mesh it seems. I am not familiar with gmsh meshes causing these types of issues. They are used by a variety of users.

[2021-07-21 15:51] cdelv commented on #2413
@jandrej It seems to be something of the parallel rutin. I ran the test again not using mpirun and these are the results
for 100 loop
[code]
for 1000 loops
[code]
Also, we have used this same mesh for multiple programs before and dint have these problems.

[2021-07-21 16:05] jandrej commented on #2413
Duplicate of #2368. Closing.

[2021-07-21 16:05] #2413 closed

[2021-07-21 18:33] psocratis commented on #2413
@cdelv, can you test using #2420 ?

[2021-07-21 19:16] cdelv commented on #2413
@psocratis help me, please. I'm a bit clueless about what should I do. The change is already in the master branch? so, I reinstall MFEM? after that, how do I approve?

[2021-07-21 19:22] psocratis commented on #2413
@cdelv, You can repull `master` and then switch to the branch `slu-destroy-fix`. Then recompile mfem and try your example against the new built.

Don't worry about approving, just let us know if if the issue is resolved.

Thanks,

Socratis

[2021-07-21 20:02] cdelv commented on #2413
@psocratis ok, give me 30 min

[2021-07-21 20:13] cdelv commented on #2413
@psocratis The fix worked

[2021-07-22 00:58] artv3 opened #2421 "Partial assembly support for ParBilinearForm::TrueAddMult"
I am interested in the global action of a ParBilinearForm via partial assembly; however there seems to be missing support for certain integrators:

 --> the case of interior face integrators is not implemented
 ... in function: void mfem::ParBilinearForm::TrueAddMult(const mfem::Vector &, mfem::Vector &, const double) const

[2021-07-22 14:34] #2368 closed

[2021-07-23 14:21] jhoy97 opened #2426 "Bad Termination Of One Of Your Application Processes Error"
Hi, I am getting this error message when running the parallel version of `example 2` for a bracket.  The model works when running the serial version of the problem (glvis window on left) but I am unsure why the parallel is not, was wondering if it was MFEM related or mesh/geometry related.  Any help would be greatly appreciated.

[bracket.zip](https://github.com/mfem/mfem/files/6869361/bracket.zip

[2021-07-23 18:32] tzanio commented on #2426
Can you post also your modified version of Example 2?

[2021-07-23 22:21] #2283 closed

[2021-07-27 12:54] bensworth commented on #2369
Depending on whether you figure out the definiteness problem, using MINRES will likely be comparable to CG and may be viable (hard to say if the preconditioner will end up positive definite). Alternatively, if you are definitely stuck with GMRES, set the k-dim to be quite small, ~<5. If the matrix is almost SPD, you shouldn't need a large kdim for good convergence. The computation of GMRES iterate

[2021-07-27 13:56] v-dobrev opened #2429 "In class L2ProjectionGridTransfer, add support for LOR spaces smaller than the HO space"
In such cases, the backward operator is not well defined and currently this leads to attempts to invert singular matrices. The code can detect this case and skip the construction of the backward operator altogether.

[2021-07-27 15:49] wcdawn commented on #2369
@bensworth this sounds promising. I've been trying to find why the matrix isn't PD but it's a real challenge. Is there a way I can call a MINRES solver from MFEM without writing my own? I'll give GMRES with a small vector dimension as well. Thanks!

[2021-07-27 15:54] bensworth commented on #2369
MFEM has a MINRES solver internally: https://mfem.github.io/doxygen/html/classmfem_1_1MINRESSolver.html

[2021-07-27 21:16] #2426 closed

[2021-07-27 21:30] jhoy97 opened #2431 "Higher Order Convergence"
Hi,

I am testing a wrench using MFEM to calculate its maximum deflection, however, when increasing the order (order 3 in this case), the solution is very small in comparison to the converging result.   The image below shows the problem being ran in increasing order approximation from left to right (mesh density shown on left for reference), as you can see the first two results are increasing towa

[2021-07-27 22:05] mlstowell commented on #2431
Hi, @jhoy97,

Can you please post your mesh. I'm having trouble working with the tet.geo file.

Thanks,
Mark

[2021-07-27 22:08] jhoy97 commented on #2431
Hi @mlstowell,

The mesh file is in this .zip folder, thanks for your quick response!
John

[drive-download-20210727T220739Z-001.zip](https://github.com/mfem/mfem/files/6888989/drive-download-20210727T220739Z-001.zip)

[2021-07-27 22:20] mlstowell commented on #2431
I cannot seem to reproduce your results. These show my results from your example using orders 1-4. Incidentally the mesh does not appear to match the one in your images so I'm sure we're doing something different.
<img width="490" alt="Wrench_o1" src="https://user-images.githubusercontent.com/6109571/127234770-494dbd4d-a58f-4290-9ba1-706a5d0b9127.png">
<img width="492" alt="Wrench_o2" src="https:/

[2021-07-27 23:44] psocratis commented on #2431
@jhoy97,

It seems to be a solver convergence issue. When using the direct solver I get the same results as @mlstowell. When switching to the PCG solver with GS preconditioner the solver does not reach the required tolerance in 500 iterations.
You might need to increase the maximum number of iterations or use a different solver.

Socratis

[2021-07-27 23:48] psocratis commented on #2431
Result after 1038 PCG iterations:
![image](https://user-images.githubusercontent.com/14336752/127241624-88a672cf-169c-4d2a-8efb-d61ff877f683.png)

Result after 500 iterations

![image](https://user-images.githubusercontent.com/14336752/127241699-fb490dfd-5de6-4b4a-88b2-35ea956708f4.png)

[2021-07-28 00:46] bensworth opened #2432 "IMEX integration"
Hi MFEM team, I implemented a handful of IMEX integration schemes, including RK methods from Ascher et al. and Kennedy and Carpenter, and IMEX-BDF methods, including some new ones with adjustable stability regions. Is this something you would like added to master? I would need some input on your side on code structure/design; there are a number of subtleties that do not line up with current MFEM s

[2021-07-28 07:00] jhoy97 commented on #2431
Apologies guys, the mesh used was the one attached in this post but thank you for your responses.  I am unsure how to change/use different solvers - does this mean changing the `.cpp` file?   I am relatively new to the software, thanks again for your help!

[drive-download-20210728T065904Z-001.zip](https://github.com/mfem/mfem/files/6890974/drive-download-20210728T065904Z-001.zip)

[2021-07-28 18:13] psocratis commented on #2431
Hi @jhoy97,

You have a few options. One is to just increase the maximum number of CG iterations: you can do that by modifying the 6th argument in the PCG call (line 206). A second option would be to link MFEM with SUITESPARSE and use the UMFPackSolver instead (lines 209-212). Finally, and probably the best option, if you want to solve larger problems, is to use a parallel (MPI) version of MFEM. Y

[2021-07-28 23:27] victorapm opened #2434 "Hypre update will affect MFEM"
Hello MFEM developers,

I recently merged a PR (https://github.com/hypre-space/hypre/pull/392) into hypre's master that will affect MFEM. Among other changes, it  removes functions such as `hypre_ParCSRMatrixSet[Row,Col]StartsOwner` and `hypre_ParVectorSetPartitioningOwner` that control ownership of certain internal pointers in hypre. Before, those variables were stored on the heap memory, while n

[2021-07-29 13:26] williamfgc commented on #2388
@prathamgit please let me know if this is still an issue.

[2021-07-29 17:13] tzanio commented on #2434
This seems like a potentially significant change and we will have to take a careful look.

We will do that after the mfem-4.3 release though, so give us a week.

[2021-07-30 08:39] khoogveld opened #2438 "Instationnary heat equation - parallel - matrix coefficients issue"
Dear all,

I am learning to work with MFEM and wrote a program to solve the instationnary heat equation on a 2D mesh.
It works fine in serial. In parallel, the behavior is fine, but the order of magnitude is different than in serial (around 100 times smaller). This is due to the mass and rigidity matrix being identity matrixes instead of diagonal matrixes with values different than one. I based my

[2021-07-30 19:31] v-dobrev commented on #2421
Actually, this looks like incorrect placement of the `MFEM_VERIFY` here: https://github.com/mfem/mfem/blob/c528f79c9fc2f92612660ccf0f98cd1fe95879dc/fem/pbilinearform.cpp#L320-L322

This should be moved inside the `else` case when `ext == NULL`. Not all `BilinearFormExtension` sub-classes support face integrators but the PA one does. The check should be also performed inside the `Mult` methods of t

[2021-07-30 21:01] v-dobrev commented on #2432
Hi Ben, I personally think these could be useful to add to MFEM.

Do you know if some of these methods are available in SUNDIALS or PETSc?

[2021-08-01 17:15] yurivict opened #2442 "tests are not run"
Setting ```-DMFEM_ENABLE_TESTING=ON``` causes this message:
[code]

Test executables weren't built.

[2021-08-01 17:41] stefanozampini commented on #2336
What is the status of this issue? Just met the same error on a local machine, with cuda11.2 and this configuration for cusparse

[code]

[2021-08-01 18:56] tzanio commented on #2336
ping: @Jacobfaib, @YohannDudouit

[2021-08-01 22:16] #2417 closed

[2021-08-02 00:09] tzanio commented on #2369
@wcdawn, I am interested to follow-up on this if you have any new information.

[2021-08-02 00:09] #2364 closed

[2021-08-02 00:11] tzanio commented on #2347
There has not been activity on this issue for a while now, and this should work with `mfem-4.3`, so I'm closing it.

Please feel free to reopen if you still have outstanding questions.

[2021-08-02 00:11] #2347 closed

[2021-08-02 00:11] #2342 closed

[2021-08-02 00:12] #2393 closed

[2021-08-02 00:13] tzanio commented on #2321
Discussion continued in https://github.com/mfem/web/pull/123

[2021-08-02 00:13] #2321 closed

[2021-08-02 00:13] tzanio commented on #2243
Is this issues still outstanding or can we close it now?

[2021-08-02 00:16] tzanio commented on #2438
Hi Karmijn,

Can you clarify the question? Are you saying that the PDE problems solved in serial and parallel are different?

Tzanio

[2021-08-02 00:19] #1311 closed

[2021-08-02 00:33] tzanio commented on #2442
Hi @yurivict,

Can you provide the full list of commands you are executing?

Is this something that worked before and now is not working with `mfem-4.3`?

Tzanio

[2021-08-02 00:39] yurivict commented on #2442
[code]
[code]
[code]

I never tried to run tests before.

[2021-08-02 00:39] Jacobfaib commented on #2336
I'll open a PR tomorrow morning (for real this time!).

[2021-08-02 00:52] tzanio commented on #2416
@wcdawn, to clarify -- Do you want to transfer values associated with each element when transitioning from serial `Mesh` to parallel `ParMesh`?

This has been discussed before, and is not trivial, because in parallel the numbering of the elements is different, for example the elements belonging to an MPI rank have consecutive numbers.

One way you can achieve that is to define L2 grid function of

[2021-08-02 02:06] tzanio commented on #2341
Apologies @zahurullah123 and @jhoy97, this felt through the cracks around the `mfem-4.3` release.

To impose boundary conditions on only the `x`- or `y`-component you can use the optional 3rd argument of `GetEssentialTrueDofs`:

https://github.com/mfem/mfem/blob/v4.3/fem/fespace.hpp#L758-L764

For the stress computation, see #10 and #109.

Hope this helps,
Tzanio

[2021-08-02 06:21] khoogveld commented on #2438
Hi Tzanio,

The PDE problem solved in serial and parallel are different. Even if the general behavior is correct (for the heat equation the temperature increases in the center of the mesh than heats the whole domain up to the border) but the magnitude is different (thus the solution is incorrect). I found out this may be caused by the mass and rigidity matrix being identity matrixes instead of dia

[2021-08-02 07:10] J-Pi opened #2443 "Computation of element normals and element neighbours"
I am implementing a monolithic conservative level set method and therefore I try to compute extension velocities as gradients of the solution. For our method I need the projection of any point on the zero levelset. The computation of the physical point is no problem. Nevertheless, finding the mesh element the new physical point belongs to is quite expensive, if I do this with the FindPoints functi

[2021-08-02 09:29] adrienbernede commented on #2442
Hello @yurivict.
Looking at this, it seems you may not be building in a dedicated `build` directory.

For the record, MFEM has two build systems: Makefile (I will refer to as "original") and CMake. CMake is an out-of-source build system generator, that will generate a build-system in `Makefile` or another language like `Ninja`. Here, you chose Ninja, which is a good choice with CMake (and hopefull

[2021-08-02 15:29] yurivict commented on #2442
No, it uses out-of-soutce build. Sorry, I missed ```..``` in my previous message.

[2021-08-02 15:57] adrienbernede commented on #2442
Still, you are generating a Ninja build system, and then running make commands.
Please try following one of the suggestion above, and let us know if the issue remains.
Thank you.

[2021-08-02 16:29] bensworth commented on #2432
Good question:
- I believe the IMEX-DIRK methods, or similar methods if not exactly the same coefficients, are available in Petsc and Sundials.
- Took a quick look at the documentation for Petsc and sundials and I don't see IMEX-BDF. This was a bit surprising; perhaps @cjvogl or somebody that works with sundials can clarify? Although there are some downsides to BDF schemes, hard to argue w/ one so

[2021-08-02 17:02] v-dobrev commented on #2243
See https://github.com/mfem/mfem/issues/2243#issuecomment-841561952 above.

[2021-08-02 17:14] jandrej commented on #2405
post release bump

[2021-08-02 19:46] wcdawn commented on #2369
I ran several different linear system solvers for a related 2D problem that had never had a NaN issue.
My solver requires solving a linear system thousands of times so I've also included the total number of calls to the solver.
Here are some performance results for anyone interested.

Solver | Solve Count | Wall Time [s] | Speedup (Slowdown)
----|----|----|----
`HyprePCG` | 6518 | 1695 | 0.00% (re

[2021-08-02 20:16] wcdawn commented on #2416
This seems like a good option. How can I obtain the `partitioning` array? I'm using METIS so generally I don't know how the mesh is partitioned.

[2021-08-02 21:17] cjvogl commented on #2432
While I do not know the specific methods under consideration, I will note that SUNDIALS does support user-defined Butcher tableaus, so any IMEX-DIRK method should be supported.  That said, I dont believe the particular SUNDIALS functions that support user-defined tableaus have been wrapped in MFEM yet... but it shouldn't be a substantial amount of work to do so (famous last words).

I may rope in

[2021-08-02 21:18] v-dobrev commented on #2442
Note: running the test with CMake is described here: https://github.com/mfem/mfem/blob/c528f79c9fc2f92612660ccf0f98cd1fe95879dc/INSTALL#L825-L837

[2021-08-02 21:22] cjvogl commented on #2432
As far as whether there is interest in adding native MFEM IMEX integrators to master, I don't know that I can comment.  I was a bit surprised in interacting with @gardner48 to use the ARKODE MFEM wrapper to have SUNDIALS capability in the fusion LDRD that we were the first application to really test the ARKODE wrappers; however, I do have a good feeling as to whether that is more because people pr

[2021-08-02 21:28] gardner48 commented on #2432
That's correct, we don't have IMEX-BDF methods in SUNDIALS at this time only IMEX-RK methods (the next major release will include IMEX multirate methods). IMEX-BDF methods are something I would like to add but there has not been an application interest in these so I've not pushed it forward.

[2021-08-02 22:11] bslazarov commented on #2243
I will check it later today and I will let you know.

On Mon, Aug 2, 2021 at 10:02 AM Veselin Dobrev ***@***.***>
wrote:

[2021-08-02 22:18] bensworth commented on #2432
Sounds good/makes sense. My implementation could probably be ported to sundials, but I haven't worked inside of sundials at all. For MFEM, it sounds like IMEX-BDF could be useful and FWIW I will be using it in a project w/ MFEM. The caveat with IMEX-BDF higher than first order is you need IMEX-RK to get HO initial solution values, so if we add IMEX-BDF to MFEM we need to add RK support as well. I

[2021-08-02 22:31] bensworth commented on #2369
Can you look at iterations to convergence for HyprePCG and CGSolver? Interesting difference in walltime. Similar difference in HypreGMRES and GMRESSolver. Would be strange if the iterations were different. If those are the same, my guess is hypre is built with its own LAPACK, which could speed up the inner dense Krylov iterations.

[2021-08-03 01:06] wcdawn opened #2449 "HYPRE functions deleted in latest push"
In the latest HYPRE commit [here](https://github.com/hypre-space/hypre/commit/ffe4f7384bc9cb95195c04ae0aec1f3609237147), `hypre_ParCSRMatrixOwnsRowStarts()` and `hypre_ParCSRMatrixOwnsColStarts()` have been removed from the library.

The first time these are called in MFEM is in `linalg/complex_operator.cpp` line [792 and 793](https://github.com/mfem/mfem/blob/c528f79c9fc2f92612660ccf0f98cd1fe9587

[2021-08-03 01:07] tzanio commented on #2449
This was reported in https://github.com/mfem/mfem/issues/2434.

We will try to address it next week.

[2021-08-03 01:08] wcdawn commented on #2449
Sorry for the duplicate!
Thanks!

[2021-08-03 01:08] #2449 closed

[2021-08-03 04:41] bslazarov commented on #2243
Yes it is still a problematic on my end.

CMake Error at config/cmake/modules/FindNetCDF.cmake:34 (list):
  list sub-command INSERT requires at least three arguments.
Call Stack (most recent call first):
  CMakeLists.txt:314 (find_package)

It seems that  FindNetCDF utilize paths for HDF5 specified from somewhere outside than the MFEM configuration. I guess that if one provides an example in defau

[2021-08-03 16:48] wcdawn commented on #2369
The iteration counts were pretty different with the MFEM solvers being much larger. I think the solvers are using different measures for convergence criteria. It looks like the MFEM solvers are using the `(B r, r)` or `||r||_B` norm whereas I think HYPRE is using `||r||_2`. I could select some criteria to make them run the same number of iterations or set the tolerances to zero and run a fixed num

[2021-08-03 17:18] victorapm commented on #2369
Hi @wcdawn,

Clarifying one of your doubts:

BoomerAMG would change only if you were calling `HYPRE_BoomerAMGSetup`again with a different matrix or set of input parameters, but not during PCG iterations.

Could you run your problematic test case again with `pcg->SetPrintLevel(2);`? This prints some statistics regarding BoomerAMG setup that can be helpful.

Thanks!
Victor

[2021-08-03 19:02] wcdawn commented on #2369
@victorapm Thanks for the info! I'm definitely not calling the setup function more than once. Only the RHS is changing.
The output is pretty large so I've attached in in a text file.
[hypre.txt](https://github.com/mfem/mfem/files/6926494/hypre.txt)

[2021-08-03 19:17] AlemayehuB opened #2450 "Does mfem support 3D VTK meshes?"
Hello,

I'm creating a tet mesh via gmsh and exporting it as vtk. However when I attempt to visualize it I get this:
![glvis](https://user-images.githubusercontent.com/20491105/128073106-2c2371ce-0eed-471c-906b-7335bcf9223b.PNG)

Any help would be appreciated.

Thank You

[2021-08-03 19:27] victorapm commented on #2369
Thanks, @wcdawn, I don't see BoomerAMG setup statistics in this file. Could you try again with the following options:
[code]

I'm attaching the output of `ex2p` that I get with these options so that you have an idea of what to expect.
[ex2p_out.txt](https://github.com/mfem/mfem/files/6926608/ex2p_out.txt)

[2021-08-03 20:02] wcdawn commented on #2369
@victorapm This should be the correct data that you're looking for.
[hypre.txt](https://github.com/mfem/mfem/files/6926773/hypre.txt)

[2021-08-03 22:27] wcdawn commented on #2450
MFEM does support (some) 3D VTK meshes.
You'll notice the error message says that VTK cell type 1 is unsupported. VTK cell type 1 is a point so there are no "points" in a finite element mesh.

Newer versions of VTK files use Boundary Representation (BRep) and include the boundaries listed as elements. Typically, this doesn't work with MFEM.

If you're using Gmsh, you can export using `-format msh2

[2021-08-03 22:32] wcdawn opened #2451 "HYPRE+GPU Runtime Error"
I have compiled MFEM minimally using METIS, HYPRE (with CUDA), and CUDA.
When I run `mpirun -np 1 ./ex1p -d cuda`, I get the following error.
[code]

I can provide the scripts I used to configure each of the libraries if that would be helpful.
I suspect this may be because I'm using CUDA 11.

[2021-08-03 23:04] victorapm commented on #2369
Hi @wcdawn, since you are reusing the preconditioner for several system solves, it's worth using a set of config options that improves its quality. In your case, you could try:
[code]

This does not necessarily solve the problem with indefiniteness as it is likely coming from `A` , but will probably give you better solve times. Besides this, you can try also using a bigger `kdim` for GMRES (maybe

[2021-08-03 23:09] wcdawn commented on #2451
Running on Summit with CUDA 10, I get a different error.
[code]

It looks really weird that the address is `0x30`. Could an integer be passed somewhere where a pointer is expected?

[2021-08-04 01:08] tzanio commented on #2416
You can generate the partitioning first, save it, provide it as the optional argument to the `ParMesh` constructor, and then use it in the above method.

Something like:

[code]

[2021-08-04 01:09] tzanio commented on #2438
@jamiebramwell, if I recall correctly you wrote this example. Can you help @khoogveld ?

[2021-08-04 01:13] tzanio commented on #2451
Thanks for reporting this, @wcdawn.

Can you provide more details on your environment (compiler, CUDA version, etc.) and the exact commands with which you build both hypre and MFEM?

Tzanio

[2021-08-04 01:51] wcdawn commented on #2451
I'll provide the Summit example since that uses CUDA 10. I wouldn't be too surprised if there were unsupported parts of CUDA 11 yet.

I installed HYPRE v 2.22.0 from a tarball.
Here's my HYPRE configuration script.
[code]

I installed MFEM from the `master` branch (SHA c528f79c9fc2f92612660ccf0f98cd1fe95879dc).
Here's my MFEM configuration script.
[code]

[2021-08-04 02:03] wcdawn commented on #2451
I tried compiling with `MFEM_DEBUG=YES` but I didn't get any line numbers or other information.

[2021-08-04 02:28] wcdawn commented on #2416
This Works great! Thanks!

[2021-08-04 02:28] #2416 closed

[2021-08-04 13:54] AlemayehuB commented on #2450
Hi,

Thanks for your response. I included Mesh.MshFileVersion=2.2; in my .geo file and I seem to be getting the same results and error.

[2021-08-04 15:25] adrienbernede commented on #2442
Hello @yurivict, did this help?

[2021-08-04 16:25] #2302 closed

[2021-08-04 21:49] appelo opened #2453 "Repeated use of MG solver from ex26p"
I would like to use the solver in ex26p for a time discretization for the wave equation. Precisely if M is the mass matrix and L is the matrix for the Laplacian I would like to use:

M * (UP - 2*U + UM)  = 0.5 * dt^2 * L * (UP+UM)
g = 0.5 * dt^2

Or equivalently, I want to **repeatedly solve** for UP in:

(M-g*L) * UP =  2 * M * U - (M-g * L) * UM

while enforcing homogenous Dirichlet (or Neumann)

[2021-08-05 01:31] AlemayehuB commented on #2450
I seem to be getting this error now.
![glvis2](https://user-images.githubusercontent.com/20491105/128276687-3f08956b-6eee-4eef-9b96-bb0359e970be.PNG)
)

[2021-08-05 01:33] AlemayehuB commented on #2450
I've attached my mesh as well if that helps
[tay_cyl.zip](https://github.com/mfem/mfem/files/6935306/tay_cyl.zip)

[2021-08-05 01:49] wcdawn commented on #2450
Sometimes a new error message is good news :)

The error message that you got is describing a "quirk" of using Gmsh with MFEM. By default, Gmsh starts numbering "Physical" quantities at zero. MFEM calls them "materials" and starts numbering at one.

It looks like this is a 3D mesh. Somewhere in your `.geo` file you have a `Volume` or an `Extrude` command. You need something like
[code]
at the end

[2021-08-05 18:50] AlemayehuB commented on #2450
Here you go. I appreciate the help!

[qu_cyl.zip](https://github.com/mfem/mfem/files/6941018/qu_cyl.zip)

[2021-08-05 19:53] wcdawn commented on #2450
So there are some issues in your Gmsh input. It's throwing errors on its own. I'm not sure what you're trying to mesh. Is it supposed to be a quarter cylinder?

1. The file you sent extrudes a Line. I think you probably meant to extrude a Surface.
2. A Circle in Gmsh isn't a circle. It's an arc. Typically to make a real circle, you would make 4 quarter (pi/2) arcs using Circle and then connect the

[2021-08-06 17:57] tzanio commented on #2450
Thanks for helping with this @wcdawn !

[2021-08-06 18:00] v-dobrev commented on #2243
@bslazarov, I assume you are specifying explicitly the path to an HDF5 installation which then loads the HDF5 installed cmake files (like `hdf5-config.cmake`). These are the files that do not work correctly right now.

Can you try setting the option `-DHDF5_NO_FIND_PACKAGE_CONFIG_FILE=ON` (see https://cmake.org/cmake/help/latest/module/FindHDF5.html)?

[2021-08-06 20:02] v-dobrev commented on #2451
Can you try running this in a debugger (with `MFEM_DEBUG=YES`) and post the stack trace after the segfault?

Also, what is the exact CUDA version you use? For example, what does `nvcc --version` show?

[2021-08-06 20:30] wcdawn commented on #2451
CUDA Version.
[code]

GDB ouptput.
[gdb.txt](https://github.com/mfem/mfem/files/6947866/gdb.txt)

Looks like it's actually somewhere inside of HYPRE but I'm not totally sure. I can try rebuilding HYPRE with debug options too if that would help.

[2021-08-06 22:09] AlemayehuB commented on #2450
Hey sorry to bother again but I got it working  and it runs great but when i run it when i attempt a 2nd order mesh i run into this. Does mfem support gmsh's 2nd order tets?

![image](https://user-images.githubusercontent.com/20491105/128575498-97db7f3f-83bc-429d-a2bb-2d2e7412ff60.png)

[2021-08-06 22:29] wcdawn commented on #2450
Unfortunately, MFEM does not support quadratic elements exported from Gmsh.
For higher-order (nonlinear) finite element meshes, your options in MFEM are to use the VTK format for quadratic and cubic meshes or use the MFEM mesh format for arbitrarily high order meshes. Again, the MFEM VTK reader cannot read the type of VTK files output by Gmsh so you would need a different meshing program. If it re

[2021-08-08 12:46] drzisga commented on #2453
I haven't looked very deep into this issue yet, but it could have something to do with the size of the vectors. The vectors used for solving usually have a different size than the vectors representing a gridfunction.

Have you tried building your code in debug mode? This enables many vector size compatibility checks which help to catch such kind of errors.

Besides this I also want to warn you: Th

[2021-08-08 23:06] psocratis commented on #2453
Hi @appelo,

What @drzisga is saying is true about solving Helmholtz, but from what understand from the above you are interested in the time-dependent formulation which results in an SPD system, hence MG should be working fine.

If you haven't found the issue yet, feel free to post a simple sample code that segfaults so we can check it out.
In addition, you might find example 23 helpful as well.

[2021-08-08 23:40] tzanio commented on #2434
Discussion continued in #2452

See also #2449, #2458 and #2459.

[2021-08-08 23:40] #2434 closed

[2021-08-08 23:41] tzanio commented on #2421
Resolved by #2447.

[2021-08-08 23:41] #2421 closed

[2021-08-08 23:41] #2401 closed

[2021-08-08 23:42] #2380 closed

[2021-08-08 23:43] tzanio commented on #2336
Discussion continued in #2445.

[2021-08-08 23:43] #2336 closed

[2021-08-08 23:44] #1908 closed

[2021-08-09 12:55] bensworth commented on #2405
Hi guys, any thoughts here? It seems like conceptually this shouldn't be so hard, so either there is a simple bug in what I am doing (more likely) or something funny with MFEM integrators (less likely, but I can't find a bug)

[2021-08-09 13:13] appelo commented on #2453
@drzisga @psocratis thanks for the help and the suggestions. The debug mode returns `pure virtual method called` followed by `terminate called without an active exception`. I'll take a look at example 23 to see if it makes things clearer.

A minimal example that reproduces the behavior is below, it is exactly `ex26p.cpp` except for the lines added within //NEW comments.

[code]

Continuing the asi

[2021-08-09 17:14] drzisga commented on #2453
Thanks for the minimal example @appelo. I could figure out that the issue is related to the operator pointer  `A` which is changed by the call of `FormFineLinearSystem`. The CG solver does not know about the updated operator and still uses the pointer to the previous operator which doesn't exist at this point.

Usually, you would need to call `cg.SetOperator(*A)` after `FormFineLinearSystem`, but

[2021-08-09 17:33] AlemayehuB commented on #2450
Thank you! I might just write the quarter cylinder myself using the mfem format. What program would you recommend to make 2nd order tet meshes for more complex shapes?

[2021-08-09 17:33] v-dobrev commented on #2451
It looks like this maybe due to the use of `--enable-device-memory-pool`. Can you try building hypre without that option? Also, there is no need to use `--enable-unified-memory`, I'd recommend removing that as well.

[2021-08-09 18:36] adrienbernede commented on #2442
@yurivict @tzanio @v-dobrev since I was able to reproduce the problem by building with -GNinja and then using Makefile commands, I believe this is solved and more clear now. (I also wrote a how-to article about this).

I believe we can close this.

[2021-08-09 19:05] appelo commented on #2453
@drzisga Thanks for clarifying this and thanks for the suggestions. I'll settle for the easy method for now.

One more question. As the right hand side in the update
`(M-g*L) * UP = 2 * M * U - (M-g * L) * UM` is a `TDOF dual vector` but the  `FormFineLinearSystem` requires a `ParLinearForm` what is the preferred way to go from a `TDOF dual vector` to a `ParLinearForm`?

[2021-08-09 19:23] tzanio commented on #2442
Link to Adrien's article: https://github.com/mfem/web/blob/5621afc9e4c3a449393aa282211bf85262ecb180/src/howto/build-systems.md

[2021-08-09 19:24] tzanio commented on #2442
I will close this now, but please feel free to reopen if you still have questions.

[2021-08-09 19:24] #2442 closed

[2021-08-09 20:12] wcdawn commented on #2450
I'm not really sure about a program to generate higher-order curved meshes for use in MFEM. You may be able to post-process the VTK files output by Gmsh but I don't have any experience with that.

@tzanio you seem to be checking in on this thread. Could you provide some resources?

[2021-08-09 20:25] xjrc opened #2463 "Omitting attribute values for elements/boundaries?"
Is it possible to omit attribute values for the elements/boundaries specified in MFEM's NURBS mesh format (e.g. [ball-nurbs.mesh](https://github.com/mfem/mfem/blob/master/data/ball-nurbs.mesh))? Given the structured nature of the format, my guess is that this isn't possible; however, perhaps a special value (e.g. 0) indicates that the attribute is unspecified?

Thanks in advance for any guidance t

[2021-08-09 20:29] drzisga commented on #2453
@appelo according to https://mfem.org/pri-dual-vec/ you may use `RecoverFineFEMSolution` to go from a linalg tdof dual vector to a finite element dof dual vector. `ParLinearForm` is also just a child class of `Vector` and you may pass a `Vector` to ` FormFineLinearSystem` instead of a `ParLinearForm`. You just need to be careful about the dimension of these vectors.

[2021-08-09 20:30] AlemayehuB commented on #2450
Hey sorry to bother again but I got it working  and it runs great but when i run it when i attempt a 2nd order mesh i run into this. Does mfem support gmsh's 2nd order tets?

![image](https://user-images.githubusercontent.com/20491105/128575498-97db7f3f-83bc-429d-a2bb-2d2e7412ff60.png)

[2021-08-09 21:23] rcarson3 commented on #2450
So, if you can get access to https://coreform.com/products/coreform-cubit/ then you should be able to export higher order elements using the exodus ii format from there. @jandrej has more experience than I do when it comes to the right options to use for outputting. I think they have a free version that's limited to 50k elements but that may be enough to see if it works for your needs.

[2021-08-09 22:14] wcdawn commented on #2451
Removing `--enable-device-memory-pool` did fix this problem. I'm not sure how to fix this in MFEM but if MFEM is only compatible with certain HYPRE options, it would be nice to document these.

Using CUDA 11.4 produces a different runtime error but I can document that in a different ticket if that would be useful.

[2021-08-09 23:24] pazner commented on #2450
MFEM does support Gmsh's second-order tets (and other higher-order element types, since #1571). Perhaps you are running using an older version of MFEM? (Certainly the line numbers in the error messages you posted do not agree with the line numbers from the latest version of MFEM).

I can use high-order elements with the geo file that @wcdawn posted (e.g. with `gmsh -3 -order 2 qu_cyl.geo`) and MFE

[2021-08-09 23:57] brendankeith opened #2464 "Convergence rates of the global ZZ error estimate appear to depend on the parity of the polynomial order"
I am using `total_error` computed with a  `ZZErrorEstimator` object as stopping criteria in an adaptive mesh refinement project. Although the refinement patterns the estimator produces appear reasonable, I noticed the following suspicious behaviour: When the polynomial order is _even_, the convergence rate is one degree higher than the true H^1_0 error. When the polynomial order is _odd_ the conve

[2021-08-10 00:13] brendankeith commented on #2464
The issue appears with uniform refinements as well. Here are the convergence rates when the exact solution is u(x,y) = sin(πx) sin(πy).
[ConvergencePlotOrder1.pdf](https://github.com/mfem/mfem/files/6958078/ConvergencePlotOrder1.pdf)
[ConvergencePlotOrder2.pdf](https://github.com/mfem/mfem/files/6958080/ConvergencePlotOrder2.pdf)
[ConvergencePlotOrder3.pdf](https://github.com/mfem/mfem/files/69580

[2021-08-10 01:50] pazner commented on #2453
Hi, @appelo!

I think the easiest solution is as follows. You can modify `DiffusionMultigrid` so that `SetOperator` is a no-op, and then call `cg.SetOperator` after you call `FormFineLinearSystem`. For example, this modification to ex26p works for me:

[code]

Since (if I understand correctly) your system matrix remains unchanged between iterations, it may also be possible to avoid calling `FormFi

[2021-08-10 03:08] v-dobrev commented on #2451
I'm not sure if this an issue in MFEM or in HYPRE.

@liruipeng, can you take a quick look at the `gdb.txt` output posted above: https://github.com/mfem/mfem/issues/2451#issuecomment-894503003 -- could this be an issue in HYPRE with the option `--enable-device-memory-pool`?

[2021-08-10 03:40] v-dobrev commented on #2464
For completeness, was this with a quad mesh or triangles? If using triangles, was this conforming or nonconforming refinement? Also, what was the flux FE space? Was it vector H1? It will be interesting to see what the behavior looks like with an RT flux space.

From theoretical point of view, I'm not sure what theory exists for this setup and what it says. In any case, this is an interesting study

[2021-08-10 03:47] brendankeith commented on #2464
Hi @v-dobrev, it was with quads. The flux FE space is vectorial H^1 of space order of the potential field (this is as in the original papers).  I tried with RT but I believe that is only supported in the parallel implementation. Part 2 of the original pair of papers considers order p=2 conforming quads and shows asymptotic exactness.

I am willing to try to add RT support to the ZZ routine, but I

[2021-08-10 03:54] brendankeith commented on #2464
If anyone would like to experiment, I wrote a script to reproduce the issue here: https://github.com/mfem/mfem/tree/zz_test/ZZ_test

[2021-08-10 03:56] liruipeng commented on #2451
Can you please try this branch https://github.com/hypre-space/hypre/tree/cub-fix, and let me know if works? Thanks!

[2021-08-10 10:26] chikitkin commented on #424
Hi, Tzanio,
I faced with the same problem. Could you, please, explain what do you mean by "using two separate mesh objects"? Should I create another ```pmesh``` object from the Reoriented mesh? But how it actually helps?

Thank you in advance!
Aleksandr Chikitkin

[2021-08-10 14:16] tzanio commented on #424
Hi Aleksandr,

This was actually just addressed by @mlstowell in PR https://github.com/mfem/mfem/pull/1046.

Can you try this branch and let us know if it is working for you?

Tzanio

[2021-08-10 14:34] chikitkin commented on #424
Thanks! I will try it.

[2021-08-10 14:35] goinea opened #2465 "Hypre ownership errors"
Hello @tzanio, I have checked out the odl branch in mfem and am still having the hypre ownership based errors. What branch should I git checkout in order to have the resolved issue?

_Originally posted by @goinea in https://github.com/mfem/mfem/issues/2452#issuecomment-896082861_

[2021-08-10 15:14] tzanio commented on #2465
See #2434 and #2452

[2021-08-10 16:54] pazner commented on #2450
Also, for what it's worth, I was also able to successfully use the VTK mesh exported from Gmsh (including with high-order tets). This was with Gmsh 4.8.4. The version with prisms didn't work because of bad element orientations (cc: @mlstowell).

[qu_cyl.vtk.zip](https://github.com/mfem/mfem/files/6963181/qu_cyl.vtk.zip)

[2021-08-10 17:16] wcdawn commented on #2451
@liruipeng I cannot test this branch. MFEM does not yet support the removal of the "owner" functions from HYPRE. I tried using the branch from #2452 but this does not seem to fix the problem.

[2021-08-10 17:36] v-dobrev commented on #2464
It is possible that the implementation in MFEM does not exactly match the algorithm from the paper(s). Can you post links to the papers you mentioned?

[2021-08-10 18:08] brendankeith commented on #2464
https://doi.org/10.1002/nme.1620330702
https://doi.org/10.1002/nme.1620330703

[2021-08-10 19:21] #2377 closed

[2021-08-10 20:47] AlemayehuB commented on #2450
Thanks for all the prompt responses! @pazner what was your procedure for creating that? I can't seem to switch from prisms to tets  in the mesh.

[2021-08-10 21:02] v-dobrev commented on #2463
Is there a problem if you just use attribute 1 everywhere?

[2021-08-10 21:03] pazner commented on #2450
To switch from prisms to tets, I deleted the `Recombine;` command from @wcdawn's geo file. I generated the mesh using `gmsh -3 -order 2 -format vtk qu_cyl.geo`. You can also export the mesh in VTK format from GUI.

[2021-08-10 21:18] xjrc commented on #2463
Based on a recent discussion with @rieben1, this strategy sounds fine for elements, but is generally undesirable for boundaries. We can use an alternative value with analogous (in)significance (e.g. 999), but something indicating "undefined" would be preferred (if it exists).

[2021-08-10 22:02] v-dobrev commented on #2463
All `mfem::Mesh`/`mfem::ParMesh` objects have to have some value (> 0) for all their element and boundary element attributes. MFEM does not have a special attribute value that means "undefined".

[2021-08-10 22:03] xjrc commented on #2463
Understood, @v-dobrev; thanks for clarifying!

[2021-08-10 22:03] #2463 closed

[2021-08-11 02:34] artv3 opened #2466 "Usage of VectorQuadratureFunctionCoefficient in dg trace PA methods is incorrect"
The following is incorrect as QuadratureFunctionCoefficient only considers integration rules for volumetric terms.

https://github.com/mfem/mfem/blob/8f25a46d5ccde47165e168f4d3173f7ac8c74ac7/fem/bilininteg_dgtrace_pa.cpp#L169-L177

I can take a pass at making a QuadratureFunctionCoefficient for face terms since I have a use case in my application.

[2021-08-11 07:18] prathamgit commented on #2388
@williamfgc I am sorry for the super late reply. I had recently switched from mpich to openmpi, and to my surprise the mfem compilation worked even with master version of adios2( without pulling latest code for either mfem or adios2).
I pulled the latest code for both adios2 and mfem, and everything works fine.
It may work with mpich too, but I'm afraid I cant switch back to mpich

[2021-08-11 13:33] chikitkin commented on #424
I checked, it works, thank you!

[2021-08-11 17:38] artv3 commented on #2466
Additional notes: Using mfem::FaceQuadratureInterpolator returns the sampled coefficient in a different permutation than what is expected in PADGTraceSetup2D.

We need to add an additional permutation to get it correct:

[code]

[2021-08-11 17:57] rcarson3 commented on #2466
Yeah, I can't say I ever took in to account the use of `QuadratureFunctionCoefficient`  or the vector into face integrators mainly because I never used them there.  Although, I guess this could be a relatively "simple" fix if we were to use a derived class of the `QuadratureSpace` class which took into account face terms rather than the volume terms for the integration rules.

[2021-08-11 19:11] v-dobrev commented on #2466
We may want to consider extending the `QuadratureSpace` class to support 3 kinds of quadrature rules: volume-only, face-only, and volume+face quadrature rules. Sometimes we may need to represent fields at both volume and face quadrature points. Also, in some cases the values on faces may need to be double-valued and in some cases -- single valued. In the single-valued case, we may need special sup

[2021-08-12 18:03] pazner commented on #2405
Hi @bensworth,

Try the following nonlinear integrator and let me know if it works better for you:
[code]

[2021-08-12 20:07] acfisher commented on #2309
Reopening as @mlstowell and @psocratis are slated to work on this.

[2021-08-12 20:08] acfisher commented on #2314
Reopening as @jakubcerveny is planning to work on this.

[2021-08-15 02:04] rw-anderson commented on #1105
I seem to be having trouble with hybridization on 2D NC meshes, similar to this original issue but with a different symptom. Running ex4p without -hb works:

srun -n3 ./ex4p -m amr-quad.mesh

but with -hb, this dies with an error in the hypre setup:

srun -n3 ./ex4p -m amr-quad.mesh -hb

3 processors is special because it creates coarse-fine boundaries that are also processor boundaries. It seems

[2021-08-15 04:18] rw-anderson commented on #1105
It turns out that if I suppress this "error" from hypre, the code appears to give correct answers consistent with what is shown above. Should it be safe to set the ErrorMode to "ignore" in this context? I am not sure if we should be expecting the zero rowsums which seem to be encountered here.

[2021-08-15 22:23] v-dobrev commented on #1105
I see the same issue on Mac with HYPRE 2.19.0 but not with HYPRE 2.10.0b. The same issue shows up with the sample run which uses `-o 2`:
[code]
It looks like this does not fail in our nightly tests because they use HYPRE 2.10.0b.

I tried other older versions and here is what I saw:
HYPRE 2.16.0 - fails
HYPRE 2.14.0 - fails
HYPRE 2.12.1 - fails
HYPRE 2.11.2 - fails
HYPRE 2.11.0 - fails
HYPRE 2.10.

[2021-08-16 05:14] v-dobrev commented on #1105
Looking at the code, I see that there is a TODO comment to fix such zero rows in cases like the above: https://github.com/mfem/mfem/blob/6e149b75e502214cf0d1d163b742986d10b629c9/fem/hybridization.cpp#L677-L679

It looks like the best solution will be to address this TODO.

[2021-08-16 06:17] khoogveld commented on #2438
Hi @tzanio and @jamiebramwell,

This issue of diagonal matrixes turning into identity matrixes occurred also when using the mass matrix for several equations in serial. It wouldn't take into account the given Coefficient. Did this issue happen to anyone else ?

Best,
Karmijn

[2021-08-17 15:08] TobiasDuswald commented on #1979
Dear MFEM Team,

I'm working on hybrid modelling, a method that combines discrete agents and a continuum model. A prominent example is, for instance, the combination of biological cells and a reactio-diffusion equation (e.g. MFEM example 16). One of the challenges is to have an efficient interface between the discrete and continuum model. Staying with the example, cells need to be able to read the

[2021-08-17 19:53] v-dobrev commented on #1979
Hi @TobiasDuswald,

You can use the method `(Par)Mesh::FindPoints`: https://github.com/mfem/mfem/blob/9f7d5736d3518d2a665d15dde5efcc782f2269e8/mesh/mesh.hpp#L1504-L1531

To evaluate a `GridFunction` in a given element at a given reference `IntegrationPoint` you can use methods like `(Par)GridFunction::GetValue`, and `(Par)GridFunction::GetVectorValue`: https://github.com/mfem/mfem/blob/9f7d5736d35

[2021-08-17 23:46] bensworth commented on #2405
Hey Will, think this is doing what it's supposed to. It works for my super simple ODE example. I still don't get good accuracy on a nonlinear adv-diff-reaction system, but I am using IMEX integration and learning that DG can be very sensitive to splittings; treating a strong reaction term explicitly seems to cause pretty serious degradation in accuracy. Will add an implicit solver at some point to

[2021-08-17 23:46] #2405 closed

[2021-08-18 00:00] rw-anderson commented on #1105
I agree, it would be nice not to suppress all the error checks, since some of them may be useful in the future.

[2021-08-18 14:03] justAPhDStudent opened #2473 "CUDA compatibitiy"
Hello,
I'm on Ubuntu 20 (CUDA 11) trying to install mfem with CUDA. My nividia driver capability is 5.2 (-arch=sm_52). It seems there is problem for compilation for these architectures.
__________________________________________________________________________________________________
fem/../mesh/../fem/../linalg/../general/backends.hpp(66): error: no instance of overloaded function "atomicAdd" mat

[2021-08-18 14:44] camierjs commented on #2473
To make it working on older devices, you can follow this [advice](https://stackoverflow.com/questions/37566987/cuda-atomicadd-for-doubles-definition-error) and drop the following code in `general/backends.hpp`:
[code]

I'll follow up and create a PR that will fix it - thank you for reporting!

[2021-08-18 15:35] #2473 closed

[2021-08-18 15:41] bensworth commented on #2432
See https://github.com/mfem/mfem/pull/2474

[2021-08-18 15:41] #2432 closed

[2021-08-18 17:01] camierjs commented on #2473
#2475 now addresses this issue.

[2021-08-18 19:29] v-dobrev commented on #1138
This issue will likely be resolved in #2400.

[2021-08-18 20:29] tzanio commented on #2410
@dbgarlisch, can we help with anything else, or should we close this issue?

[2021-08-18 20:30] tzanio commented on #2388
Thanks for your help @williamfgc!

[2021-08-18 20:30] #2388 closed

[2021-08-19 03:04] dbgarlisch commented on #2410
I've been busy at work. I am still hoping to take a stab at this soon. Hi ahead and close it. I will get back to you when I have time.

[2021-08-19 03:04] #2410 closed

[2021-08-19 12:39] vkorchagova opened #2480 "L2ZZErrorEstimator: error when print ParBilinearForm *a matrix in Ex15p"
Hello everyone,

I tried to understand how L2ZZEstimator works. Just for the test, I try to output the result of the following part of the code:
[code]
But, when I run the Ex15p with L2ZZ error estimator, I see the strange error:
[code]
Is it OK?

[2021-08-19 17:04] pazner commented on #2450
@AlemayehuB, did this resolve your issue?

[2021-08-19 18:43] v-dobrev commented on #2480
The call `a->Print` invokes the print method of the abstract class `Matrix` which we should probably overwrite in class `BilinearForm`. For now, you can just use `a->SpMat().Print`.

[2021-08-20 02:32] tzanio commented on #2395
As mentioned above, support for 1st order pyramids will soon be available in `master` via #2400.

We will work on support for higher-order pyramids in the next year.

[2021-08-20 02:32] #2395 closed

[2021-08-20 21:38] rw-anderson opened #2484 "GetCoarseToFineMap() crashes in parallel after using GetDerefinementTransforms()"
I am not sure if I am using this interface properly. Here's a minimal example which creates a mesh, refines it twice, and then derefines it once. Refining twice seems essential to the issue.

[code]

I am trying to obtain a map of the element numbers from the mesh before it was derefined onto the mesh after it was derefined. This seems to work in serial but crashes on 2 procs.

[2021-08-21 04:33] rw-anderson commented on #2484
I looked into this a little. It looks like it has something to do with this line:

[code]
where the index gets overloaded with a rank encoding, and then assigned as the parent field:

[code]

But then later, this value gets used directly to index into an array in the GetCoarseToFineMap() routine, causing an array access error.

[2021-08-22 15:04] michi002 opened #2485 "Different meshes lead to segmentation fault"
I intend to use two different refinements of a mesh and to have H1 elements on one mesh and L2 elements on the other.
I tried to to a mixed bilinear form with a mass integrator to implement a projection. This oddly leads to an segmentation fault if the mesh of the trial space is refined (in the code u_space) but not if the test space mesh (p_space) is refined.
I cannot yet say if the resulting mat

[2021-08-22 21:20] v-dobrev commented on #2485
The class `MixedBilinearForm` expects that "Both trial and test spaces should be defined on the same mesh.", see https://github.com/mfem/mfem/blob/6206c775cca216706276a92e33c4a9d772c4b1bd/fem/bilinearform.hpp#L626-L641

Instead of defining a separate refined mesh, it may be possible to use what we call "Refined" elements, see class `RefinedLinearFECollection`: https://github.com/mfem/mfem/blob/620

[2021-08-22 22:15] tzanio commented on #2465
Please switch to https://github.com/mfem/mfem/pull/2476 and post any further comment there.

[2021-08-22 22:15] #2465 closed

[2021-08-22 22:17] tzanio commented on #2451
@wcdawn, can you try https://github.com/mfem/mfem/pull/2476?

[2021-08-22 22:18] #2431 closed

[2021-08-23 07:38] benzwick opened #2486 "Gradient or derivative of vector grid function on a surface mesh"
Is there a way to compute the gradient/derivatives of a vector grid function defined on a 2D surface embedded in 3D space? I am trying to compute principal stretches on a surface mesh from a given displacement field but I cannot figure out how to compute the displacement gradient.

I have a triangular surface mesh in 3D space with a displacement vector `u` at each node and I need to compute the pr

[2021-08-23 10:55] TobiasDuswald commented on #1979
Thank you for your quick response @v-dobrev, I tried it and I believe for a first attempt it's precisely what I need. That's great, makes my day! Thank you very much again!

[2021-08-23 19:43] BernardoCovas commented on #2411
Hi! I had the same issue. I will leave a CMake config log + the build log up until it fails. This seems to be caused because of a feature related to lambdas in device code which is unavailable in windows. I am unaware of any options to enable this. Would love to have this working! Let me know if I can help further.

CMake log:
[msvc_cmake_log.txt](https://github.com/mfem/mfem/files/7034495/msvc_cm

[2021-08-23 19:52] tzanio commented on #2411
Thank you @BernardoCovas, this is useful!

[2021-08-23 19:59] BernardoCovas commented on #2411
@tzanio no problem, I actually missed the cuda version being 11.2, will try the newer 11.4

[2021-08-23 20:10] tzanio commented on #2411
@camierjs, @YohannDudouit and @v-dobrev -- it looks like we are getting the following error for essentially all our kernels:

[code]

Do you know what this means?

@BernardoCovas, I am not sure about this, but can you maybe try building with `--expt-extended-lambda`, see https://docs.nvidia.com/cuda/cuda-compiler-driver-nvcc/index.html#nvcc-identification-macro.

[2021-08-23 20:24] BernardoCovas commented on #2411
I tried it... Same issue, nevertheless it seems to already be in all nvcc calls by default (see FLAGS):
[code]

[2021-08-23 20:33] BernardoCovas commented on #2411
@tzanio unfortunately CUDA 11.4 did not help

[2021-08-23 21:26] BernardoCovas commented on #2411
I managed. In Windows, all functions need to drop the static linkage

[2021-08-23 21:35] rw-anderson commented on #2484
In looking at PR #2074, it looks like this use case was maybe never fully implemented. Also I guess the git blame erroneously shows @jakubcerveny as the author due to some cutting and pasting or refactoring. @kmittal2 or @v-dobrev do you possibly know more about this?

[2021-08-23 23:20] BernardoCovas commented on #2411
So as I understand it, this is just a cuda limitation, and the only way to fix it is to remove all `static` keywords from every function in which this error exists (every function containing a lambda `__device__` function. This will enable external linkage and allow it to compile. I tested it in 1 file and that single file compiles OK after removing the `static` keywords from every troubling funct

[2021-08-24 01:09] kmittal2 commented on #2484
It seems like the issue is that for [GetRefinementTransforms](https://github.com/mfem/mfem/blob/master/mesh/ncmesh.cpp#L4323), we properly set ```transforms.embeddings.SetSize(NElements);```. But we do not do is in [GetDerefinementTransforms](https://github.com/mfem/mfem/blob/master/mesh/ncmesh.cpp#L4365), which means that the size of ```transforms``` is `leaf_elements.Size()` and as a result it i

[2021-08-24 04:58] rw-anderson commented on #2484
Sounds right. Here's the case on 2 procs with 1 refinement on each processor:
![coarsen](https://user-images.githubusercontent.com/11507994/130546377-60d93a87-3653-498e-bd47-e5c758127a60.png)
The coarse_to_fine table is constructed successfully without the array access error, but looks like this:

proc 0:
[code]

proc 1:
[code]
which is showing all the elements on both processors because it is inc

[2021-08-24 06:26] khoogveld commented on #2438
Hi @tzanio,

Could you explain why DIAG_ONE is the default policy ? In which context is it applied ? It could be helpful to add information about this policy in the documentation of BilinearForm.

Thank you for your time,
Best,
Karmijn

[2021-08-24 07:53] #2443 closed

[2021-08-24 16:32] rw-anderson commented on #1557
Has it ever been considered to use a naming convention to distinguish member variables? Like google's convention to use a trailing underscore? I find this helpful when trying to understand complex classes. I recognize this would be a sweeping change.

[2021-08-24 16:41] tzanio commented on #1557
It could be something to consider for `mfem-5.0`

[2021-08-24 17:15] kmittal2 commented on #2484
Upon further investigation, it seems that if prior to derefinement `leaf_elements` contain `refined-ghost-elements`, and these ghost elements get derefined, their `element_type = 0` which means that they no longer exist (even though they are still vaild leaf elements on the processor that they were originally located on).
Since there is so much going on during refinement and derefinement, I have n

[2021-08-24 17:21] rw-anderson commented on #2484
I guess a first question is: would we ever want ghost elements to be supplied in this coarse_to_fine Table. I think the answer is no, it doesn't fit my use case, but maybe there was some other motivating use case for this code that I'm not aware of.

[2021-08-24 17:29] kmittal2 commented on #2484
Agreed.
GetCoarseToFineMap was originally written with post-refinement scenario in mind, and was not really used post-derefinement until recently. We fixed one issue with #2074, and you have discovered another use one where it fails for derefinement.

[2021-08-24 20:12] rw-anderson commented on #1557
Ok. Only if there is broad support for it. I know opinions vary on this.

[2021-08-24 20:40] AlemayehuB opened #2487 "Discrepancy in mesh visualization"
Hello  MFEM team,

I'm using [TriWild ](https://github.com/wildmeshing/TriWild) which generates higher order tri meshes. It uses the gmsh format for the output. When I visualize it via gmsh I get my desired result(top) however  when I use GLVis there's a gap where the higher order elements would be.  Any help would be greatly appreciated. I've also attached my mesh
[he_tri.obj__curved.zip](https:/

[2021-08-25 01:09] v-dobrev commented on #1557
In Qt Creator (and maybe other editors), you can configure it to show member variables with a different style -- e.g. I configured it to show then in italic.

That said, I don't see a problem in using some convention for that. A common choice is to use the prefix `m_`.

[2021-08-25 01:18] v-dobrev commented on #2487
Does this mesh have variable order mesh elements? I'm not sure we support that in the gmsh reader. Can you try exporting the mesh using a fixed high-order for all the mesh elements?

[2021-08-25 02:48] #2408 closed

[2021-08-25 05:51] rw-anderson commented on #1557
Interesting.  Does Qt Creator parse the code with a C++ compiler to determine that?

m_ is what I am most accustomed to. I have been told recently by younger developers that this is considered archaic. But I personally would be comfortable with it.

[2021-08-25 06:14] v-dobrev commented on #1557
Yes, it uses a version of clang that comes with it.

[2021-08-25 07:11] benzwick commented on #2486
Update: After some more thinking I've realised that the above is not quite correct because the stretches are defined locally on the surface and not in the global 3D space.

I have as input the displacement vector field `U(x,y,z) = (u,v,w)` defined at the nodes of a surface. I need to calculate the two principal stretches tangent to the surface at each node and output these as vectors in the global

[2021-08-25 07:58] antonhudym commented on #2411
@BernardoCovas forgot to answer to this thread. I made this change locally several weeks ago and it helped. Not sure whether MFEM team is good to go with such change.. @tzanio I can create a pull request for review.

[2021-08-26 05:25] sebastiangrimberg opened #2490 "Fixes for HYPRE_BigInt"
After #1046 was merged, I noticed some code hanging issues when building against a 64-bit Hypre build (with `HYPRE_BIGINT` defined). I have a small patch to fix this but don't have developer access so can't push my branch to create a PR I believe.

The changes are at line ~780 of [pfespace.cpp](https://github.com/mfem/mfem/blob/b1e84b81275f2f1bb23a2bbd1c62a72f265fdd8b/fem/pfespace.cpp#L789) which

[2021-08-26 15:22] #2490 closed, assigned to tzanio

[2021-08-26 20:44] sebastiangrimberg opened #2492 "Hypre AMS convergence issues after ReorientTetMesh depreciation"
I'm testing out changes from #1046 on 3D problems with tetrahedral meshes. For the most part everything works but for a few of my test problems with my code I am seeing AMS solver convergence stall. This only seems to happen with ND space order > 1 and number of processors > 1. Calling `ReorientTetMesh` with the new build fixes the issue for the problems where it shows. Alternatively, using a dire

[2021-08-28 03:27] v-dobrev commented on #2492
Hi @sebastiangrimberg,

I think the issue with `ProjectBdrCoefficientTangent` comes from here: https://github.com/mfem/mfem/blob/b1e84b81275f2f1bb23a2bbd1c62a72f265fdd8b/fem/gridfunc.cpp#L2260-L2262

Can you try changing these lines to be:
[code]

[2021-08-28 04:32] sebastiangrimberg commented on #2492
Great find @v-dobrev, that fixes the `ProjectBdrCoefficientTangent` issue!

Perhaps it's something similar related to the discrete gradient matrix assembly for the AMS issue? I'll look in that direction.

[2021-08-28 05:56] sebastiangrimberg commented on #2492
Some further testing on the convergence issue...It seems like it may be related to the mesh partitioning, perhaps some sort of corner cases between shared dofs? Here are the results of an AMS solve on a different problem than I was originally using for which I thought the new code "worked", for various numbers of subdomains:

With `ReorientTetMesh`: 1 proc, 27 its; 6 proc, 30 its; 12 proc, 28 its;

[2021-08-28 12:46] wo80 opened #2494 "Compiling with MINGW (Windows)"
I tested building MFEM with MINGW (msys2 on Windows 10)
[code]
There are two errors:
[code]
I think the `typedef` should be enabled only for VC compiler, so a possible fix could be to use
[code]
in both files. That fixes the error for me and compiling with Visual Studio 2019 still works fine.